Repository compozy/compozy: changes, and which pre-commit hooks are due for each by the changed paths.
All: turbo-lint, format-go

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit

default_stages:
  - pre-commit

exclude: |
  (?x)^(
    CHANGELOG.md|
    tools/.*/package\.json|
    bun.lockb|
    node_modules|
  )$

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      # - id: trailing-whitespace
      #   args:
      #     - --no-utf8-locale
      - id: end-of-file-fixer
        exclude: '^(CHANGELOG\.md|tools/.*/package\.json|bun\.lockb|node_modules/)'
      - id: check-json
        exclude: '^(tools/.*/package\.json|node_modules/)'
      - id: check-toml
      - id: check-added-large-files
        args:
          - --maxkb=3000
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: detect-private-key
  - repo: local
    hooks:
      - id: turbo-lint
        name: turbo lint
        description: Run linting via Turborepo
        entry: bun run lint
        language: system
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false
      # - id: turbo-type-check
      #   name: turbo type check
      #   description: Run TypeScript checking via Turborepo
      #   entry: bun run type-check
      #   language: system
      #   files: \.(ts|tsx)$
      #   pass_filenames: false
      - id: format-go
        name: format go
        description: Format Go files using make fmt
        entry: make fmt
        language: system
        files: \.go$
        pass_filenames: false
  - repo: https://github.com/lyz-code/yamlfix/
    rev: 1.17.0
    hooks:
      - id: yamlfix
        args:
          - -c
          - .yamlfix.toml
        exclude: ^cluster/.*$

fix: reviews watch (#196)
  .gitignore
  .oxfmtrc.json
  .oxlintrc.json
  internal/api/client/reviews_exec.go
  internal/api/client/reviews_exec_test.go
  internal/api/contract/types.go
  internal/api/core/handlers.go
  internal/cli/daemon_commands.go
  internal/cli/daemon_commands_test.go
  internal/cli/reviews_exec_daemon.go
  internal/cli/reviews_exec_daemon_additional_test.go
  internal/cli/run_observe.go
  internal/core/archive.go
  internal/core/archive_test.go
  internal/core/fetch.go
  internal/core/fetch_test.go
  internal/core/provider/coderabbit/coderabbit.go
  internal/core/provider/coderabbit/coderabbit_test.go
  internal/core/provider/coderabbit/nitpicks.go
  internal/core/provider/coderabbit/nitpicks_test.go
  internal/core/reviews/store.go
  internal/core/reviews/store_test.go
  internal/core/run/ui/review_watch_remote.go
  internal/core/run/ui/review_watch_remote_test.go
  internal/daemon/review_watch.go
  internal/daemon/review_watch_test.go
  internal/daemon/transport_service_test.go
  openapi/compozy-daemon.json
  web/src/generated/compozy-openapi.d.ts
Due: turbo-lint, format-go

release: prepare release v0.2.8 (#197)
  .release-notes/archive/v0.2.8/multi-task-run-1779896020.md
  CHANGELOG.md
  RELEASE_BODY.md
  RELEASE_NOTES.md
  package.json
Due: none

fix: record ACP token usage and adapt to acp-go-sdk v0.13.5
  go.mod
  go.sum
  internal/core/agent/acp_convert.go
  internal/core/agent/acp_convert_test.go
  internal/core/agent/client.go
  internal/core/agent/client_test.go
  internal/core/agent/session_helpers_test.go
  internal/core/agent/terminal.go
  internal/core/extension/hooks_integration_test.go
  internal/core/run/exec/exec_integration_test.go
  internal/core/run/exec/test_helpers_test.go
  internal/core/run/executor/execution_acp_integration_test.go
  internal/core/run/internal/acpshared/session_handler_test.go
  internal/daemon/process_windows.go
Due: format-go

fix: address ACP token usage review feedback
  .release-notes/acp-agents-now-record-token-usage-1781367084.md
  internal/core/agent/acp_convert.go
  internal/core/agent/acp_convert_test.go
  internal/core/agent/client.go
  internal/core/run/executor/execution_acp_test.go
  internal/daemon/process_windows.go
Due: format-go

fix: record ACP token usage and adapt to acp-go-sdk v0.13.5 (#198)
  .release-notes/acp-agents-now-record-token-usage-1781367084.md
  go.mod
  go.sum
  internal/core/agent/acp_convert.go
  internal/core/agent/acp_convert_test.go
  internal/core/agent/client.go
  internal/core/agent/client_test.go
  internal/core/agent/session_helpers_test.go
  internal/core/agent/terminal.go
  internal/core/extension/hooks_integration_test.go
  internal/core/run/exec/exec_integration_test.go
  internal/core/run/exec/test_helpers_test.go
  internal/core/run/executor/execution_acp_integration_test.go
  internal/core/run/executor/execution_acp_test.go
  internal/core/run/internal/acpshared/session_handler_test.go
  internal/daemon/process_windows.go
Due: format-go

release: prepare release v0.2.9 (#199)
  .release-notes/archive/v0.2.9/acp-agents-now-record-token-usage-1781367084.md
  CHANGELOG.md
  RELEASE_BODY.md
  RELEASE_NOTES.md
  package.json
Due: none

refactor: wizard
  .codex/ledger/2026-06-14-MEMORY-task-run-multiple-tui.md
  internal/cli/agents_commands.go
  internal/cli/agents_commands_test.go
  internal/cli/daemon_commands.go
  internal/cli/form.go
  internal/cli/form_test.go
  internal/cli/root_command_execution_test.go
  internal/cli/task_runtime_flag.go
  internal/cli/task_runtime_flag_test.go
  internal/cli/task_runtime_form.go
  internal/cli/tasks_run_wizard.go
  internal/cli/tasks_run_wizard_test.go
  internal/core/model/model_test.go
  internal/core/model/task_runtime.go
  internal/core/plan/prepare.go
  internal/core/plan/prepare_test.go
  internal/core/workspace/config_test.go
  internal/core/workspace/config_validate.go
Due: format-go

fix: improvements
  internal/cli/form.go
  internal/cli/form_test.go
  internal/cli/task_runtime_form.go
  internal/cli/tasks_run_wizard.go
  internal/cli/tasks_run_wizard_test.go
Due: format-go

refactor: wizard tui
  internal/charmtheme/render.go
  internal/cli/tasks_run_wizard.go
  internal/cli/tasks_run_wizard_test.go
  internal/cli/tasks_run_wizard_view.go
Due: format-go

feat: add configurable parallel multi-run limit (task_01)
  .compozy/tasks/multi-task-run/_tasks.md
  .compozy/tasks/multi-task-run/memory/MEMORY.md
  .compozy/tasks/multi-task-run/memory/task_01.md
  .compozy/tasks/multi-task-run/task_01.md
  internal/core/workspace/config_merge.go
  internal/core/workspace/config_test.go
  internal/core/workspace/config_types.go
  internal/core/workspace/config_validate.go
Due: format-go

feat: extend multi-run API and client contracts (task_02)
  .compozy/tasks/multi-task-run/_tasks.md
  .compozy/tasks/multi-task-run/memory/MEMORY.md
  .compozy/tasks/multi-task-run/memory/task_02.md
  .compozy/tasks/multi-task-run/task_02.md
  internal/api/client/client.go
  internal/api/client/client_contract_test.go
  internal/api/contract/contract_test.go
  internal/api/contract/types.go
  internal/api/core/handlers.go
  internal/api/core/handlers_smoke_test.go
  internal/api/httpapi/openapi_contract_test.go
  internal/cli/root_command_execution_test.go
  internal/core/run/ui/multi_remote.go
  openapi/compozy-daemon.json
  web/src/generated/compozy-openapi.d.ts
Due: turbo-lint, format-go

feat: add parallel CLI controls and request wiring (task_03)
  .compozy/tasks/multi-task-run/_tasks.md
  .compozy/tasks/multi-task-run/memory/MEMORY.md
  .compozy/tasks/multi-task-run/memory/task_03.md
  .compozy/tasks/multi-task-run/task_03.md
  internal/cli/daemon_commands.go
  internal/cli/daemon_commands_test.go
  internal/cli/root_command_execution_test.go
  internal/cli/root_test.go
  internal/cli/state.go
  internal/cli/testdata/tasks_run_help.golden
Due: format-go

feat: add multi-run event and snapshot worktree metadata (task_04)
  .compozy/tasks/multi-task-run/_tasks.md
  .compozy/tasks/multi-task-run/memory/MEMORY.md
  .compozy/tasks/multi-task-run/memory/task_04.md
  .compozy/tasks/multi-task-run/task_04.md
  internal/cli/daemon_commands.go
  internal/daemon/task_multi.go
  internal/daemon/task_multi_test.go
  internal/version/version.go
  pkg/compozy/events/kinds/payload_compat_test.go
  pkg/compozy/events/kinds/task.go
Due: format-go

feat: add git worktree allocation and path planning (task_05)
  .compozy/tasks/multi-task-run/_tasks.md
  .compozy/tasks/multi-task-run/memory/MEMORY.md
  .compozy/tasks/multi-task-run/memory/task_05.md
  .compozy/tasks/multi-task-run/task_05.md
  internal/config/home.go
  internal/config/home_test.go
  internal/daemon/task_multi_worktree.go
  internal/daemon/task_multi_worktree_test.go
Due: format-go

refactor: make task_multi a mode-aware scheduler (task_06)
  .compozy/tasks/multi-task-run/_tasks.md
  .compozy/tasks/multi-task-run/memory/MEMORY.md
  .compozy/tasks/multi-task-run/memory/task_06.md
  .compozy/tasks/multi-task-run/task_06.md
  internal/cli/root_command_execution_test.go
  internal/daemon/task_multi.go
  internal/daemon/task_multi_test.go
Due: format-go

feat: register and remap parallel children to worktrees (task_07)
  .compozy/tasks/multi-task-run/_tasks.md
  .compozy/tasks/multi-task-run/memory/MEMORY.md
  .compozy/tasks/multi-task-run/memory/task_07.md
  .compozy/tasks/multi-task-run/task_07.md
  internal/cli/root_command_execution_test.go
  internal/daemon/host.go
  internal/daemon/run_manager.go
  internal/daemon/run_manager_test.go
  internal/daemon/task_multi.go
  internal/daemon/task_multi_test.go
Due: format-go

feat: add bounded parallel fanout and fail-late aggregation (task_08)
  .compozy/tasks/multi-task-run/_tasks.md
  .compozy/tasks/multi-task-run/memory/MEMORY.md
  .compozy/tasks/multi-task-run/memory/task_08.md
  .compozy/tasks/multi-task-run/task_08.md
  internal/daemon/run_manager.go
  internal/daemon/task_multi.go
  internal/daemon/task_multi_test.go
  internal/store/sqlite.go
Due: format-go

feat: render parallel worktree handoff in TUI and CLI (task_09)
  .compozy/tasks/multi-task-run/_tasks.md
  .compozy/tasks/multi-task-run/memory/MEMORY.md
  .compozy/tasks/multi-task-run/memory/task_09.md
  .compozy/tasks/multi-task-run/task_09.md
  internal/cli/daemon_commands.go
  internal/cli/daemon_commands_test.go
  internal/cli/root_command_execution_test.go
  internal/cli/run_observe.go
  internal/core/run/ui/multi_remote.go
  internal/core/run/ui/multi_remote_test.go
Due: format-go

docs: document parallel multi-run and add end-to-end coverage (task_10)
  .compozy/tasks/multi-task-run/_tasks.md
  .compozy/tasks/multi-task-run/memory/MEMORY.md
  .compozy/tasks/multi-task-run/memory/task_10.md
  .compozy/tasks/multi-task-run/task_10.md
  README.md
  docs/events.md
  internal/cli/tasks_run_parallel_e2e_test.go
  pkg/compozy/events/docs_test.go
  pkg/compozy/events/kinds/docs_test.go
Due: format-go

docs: add multi-task-run prd, techspec, and adrs
  .compozy/tasks/multi-task-run/_idea.md
  .compozy/tasks/multi-task-run/_prd.md
  .compozy/tasks/multi-task-run/_techspec.md
  .compozy/tasks/multi-task-run/adrs/adr-005.md
  .compozy/tasks/multi-task-run/adrs/adr-006.md
  .compozy/tasks/multi-task-run/adrs/adr-007.md
  .compozy/tasks/multi-task-run/adrs/adr-008.md
Due: none

fix: harden parallel worktree paths against run-id prefix collisions
  internal/api/contract/contract_test.go
  internal/api/core/handlers_smoke_test.go
  internal/cli/tasks_run_parallel_e2e_test.go
  internal/core/workspace/config_test.go
  internal/daemon/task_multi_test.go
  internal/daemon/task_multi_worktree.go
  internal/daemon/task_multi_worktree_test.go
  pkg/compozy/events/kinds/docs_test.go
Due: format-go

fix: correct parallel multi-run handoff, flag guard, and dup queued event
  internal/cli/daemon_commands.go
  internal/cli/daemon_commands_test.go
  internal/cli/root_command_execution_test.go
  internal/daemon/task_multi.go
  internal/daemon/task_multi_test.go
Due: format-go

fix: resolve pr 201 review batch
  .compozy/tasks/pr-201/reviews-001/issue_021.md
  .compozy/tasks/pr-201/reviews-001/issue_022.md
  internal/daemon/run_snapshot.go
  internal/daemon/run_snapshot_test.go
  internal/store/rundb/run_db.go
  internal/store/rundb/run_db_test.go
Due: format-go

fix: resolve pr-201 review batch
  .compozy/tasks/pr-201/reviews-002/issue_001.md
  .compozy/tasks/pr-201/reviews-002/issue_002.md
  .compozy/tasks/pr-201/reviews-002/issue_003.md
  internal/core/run/ui/model.go
  internal/core/run/ui/remote.go
  internal/core/run/ui/remote_test.go
  internal/core/run/ui/timeline.go
  internal/core/run/ui/types.go
  internal/core/run/ui/update.go
  internal/core/run/ui/view.go
  internal/core/run/ui/view_test.go
  internal/daemon/run_snapshot_test.go
Due: format-go

fix: route run status messages
  .compozy/tasks/pr-201/reviews-003/issue_001.md
  internal/core/run/ui/update.go
  internal/core/run/ui/update_test.go
Due: format-go

fix: align multi-run item status with runtime "running" in public contract
  internal/api/contract/contract_test.go
  internal/api/core/handlers_smoke_test.go
  internal/daemon/task_multi_test.go
  openapi/compozy-daemon.json
  web/src/generated/compozy-openapi.d.ts
Due: turbo-lint, format-go

test: wrap multi-run UI tests in t.Run("Should...") subtests
  internal/core/run/ui/multi_remote_test.go
Due: format-go

feat: add Devin CLI agent support
  README.md
  compozy.go
  internal/core/agent/registry_specs.go
  internal/core/agent/registry_test.go
  internal/core/api.go
  internal/core/model/constants.go
  internal/setup/agents.go
  internal/setup/agents_test.go
  internal/setup/runtime_agents.go
  internal/setup/verify_test.go
Due: format-go

fix: address review feedback for Devin agent support
  internal/core/agent/registry_specs.go
  internal/core/agent/registry_test.go
  internal/setup/runtime_agents.go
  internal/setup/verify_test.go
Due: format-go

fix: reviews watch bug
  .agents/skills/cy-spec-peer-review/SKILL.md
  .agents/skills/cy-spec-peer-review/references/peer-review-prompt.md
  .agents/skills/cy-spec-peer-review/references/quality-markers.md
  .agents/skills/cy-spec-peer-review/scripts/validate-findings.sh
  internal/core/agent/client.go
  internal/core/agent/client_test.go
  internal/core/run/executor/execution_acp_test.go
  internal/core/run/internal/acpshared/session_exec.go
  internal/daemon/review_watch.go
  internal/daemon/review_watch_hooks.go
  internal/daemon/review_watch_test.go
Due: format-go

feat: add Devin CLI agent support (#204)
  README.md
  compozy.go
  internal/core/agent/registry_specs.go
  internal/core/agent/registry_test.go
  internal/core/api.go
  internal/core/model/constants.go
  internal/setup/agents.go
  internal/setup/agents_test.go
  internal/setup/runtime_agents.go
  internal/setup/verify_test.go
Due: format-go

docs: skills
  .agents/skills/skeeper/SKILL.md
  .agents/skills/skeeper/references/cli-reference.md
  .agents/skills/skeeper/references/config-reference.md
  skeeper.lock
  skills-lock.json
Due: none

build: converge skeeper sidecar lock to main branch
  skeeper.lock
Due: none

docs: release notes
  .release-notes/devin-cli-agent-support-1781801030.md
  .release-notes/parallel-multi-run-with-git-worktree-isolation-1781801029.md
  .release-notes/redesigned-run-tui-1781801027.md
  .release-notes/reviews-watch-reliability-and-clearer-acp-setup-failures-1781801031.md
  .release-notes/steer-running-agents-pause-message-and-resume-1781801028.md
  skeeper.lock
Due: none
