Repository compozy/compozy: changes, and which pre-commit hooks are due for each by the changed paths.
All: turbo-lint, format-go

turbo-lint:
  name: turbo lint
  description: Run linting via Turborepo
  entry: bun run lint
  language: system
  pass_filenames: false

format-go:
  name: format go
  description: Format Go files using make fmt
  entry: make fmt
  language: system
  pass_filenames: false

feat: salvage parallel-task-groups implementation (task_01/03/05/06)
  README.md
  docs/events.md
  internal/api/client/client.go
  internal/api/contract/types.go
  internal/api/core/handlers.go
  internal/api/core/interfaces.go
  internal/cli/daemon_commands.go
  internal/cli/daemon_commands_test.go
  internal/cli/run_observe.go
  internal/cli/state.go
  internal/cli/tasks_run_parallel_e2e_test.go
  internal/cli/testdata/tasks_run_help.golden
  internal/core/run/ui/multi_remote.go
  internal/core/taskgroups/fingerprint.go
  internal/core/taskgroups/fingerprint_test.go
  internal/core/workspace/config.go
  internal/core/workspace/config_merge.go
  internal/core/workspace/config_test.go
  internal/core/workspace/config_types.go
  internal/daemon/reconcile_test.go
  internal/daemon/run_manager.go
  internal/daemon/run_manager_test.go
  internal/daemon/task_multi.go
  internal/daemon/task_multi_artifacts.go
  internal/daemon/task_multi_branch.go
  internal/daemon/task_multi_branch_test.go
  internal/daemon/task_multi_group_parallel.go
  internal/daemon/task_multi_group_parallel_test.go
  internal/daemon/task_multi_test.go
  internal/daemon/task_multi_worktree.go
  internal/daemon/task_multi_worktree_test.go
  internal/store/globaldb/migrations.go
  internal/store/globaldb/migrations_test.go
  internal/store/globaldb/registry.go
  internal/store/globaldb/runs.go
  internal/store/globaldb/runs_test.go
  openapi/compozy-daemon.json
  pkg/compozy/events/kinds/task.go
  web/src/generated/compozy-openapi.d.ts
Due: turbo-lint, format-go

feat: hydrate task-group completion authority
  internal/cli/daemon_commands.go
  internal/cli/tasks_sync.go
  internal/cli/tasks_sync_test.go
  internal/core/task_group_completion.go
  internal/core/task_group_completion_test.go
  internal/core/taskgroups/completion.go
  internal/daemon/run_manager.go
  internal/daemon/task_group_completion_hydration.go
  internal/daemon/task_group_completion_hydration_test.go
  internal/daemon/task_multi_group_parallel.go
Due: format-go

fix: resolve review batch internal_cli_daemon_commands.go-f202d5
  .compozy/tasks/parallel-task-groups/reviews-001/issue_002.md
  .compozy/tasks/parallel-task-groups/reviews-001/issue_007.md
  internal/cli/daemon_commands.go
  internal/cli/daemon_commands_test.go
  internal/cli/tasks_run_parallel_e2e_test.go
  internal/cli/testdata/tasks_run_help.golden
Due: format-go

fix: resolve review batch internal_cli_task_group_picker.go-8f9fcd
  .compozy/tasks/parallel-task-groups/reviews-001/issue_003.md
  internal/cli/daemon_commands.go
  internal/cli/daemon_commands_test.go
  internal/cli/state.go
  internal/cli/task_group_picker.go
Due: format-go

fix: resolve review batch internal_daemon_task_multi_group_parallel.go-c237e4
  .compozy/tasks/parallel-task-groups/reviews-001/issue_001.md
  .compozy/tasks/parallel-task-groups/reviews-001/issue_006.md
  internal/daemon/task_multi_group_parallel.go
  internal/daemon/task_multi_group_parallel_test.go
Due: format-go

fix: resolve review batch internal_core_taskgroups_completion.go-00cbf3
  .compozy/tasks/parallel-task-groups/reviews-001/issue_004.md
  internal/core/taskgroups/completion.go
  internal/core/taskgroups/taskgroups_test.go
Due: format-go

fix: resolve review batch internal_daemon_worktree_purge.go-d7bee6
  .compozy/tasks/parallel-task-groups/reviews-001/issue_005.md
  internal/cli/daemon_commands_test.go
  internal/daemon/purge_test.go
Due: format-go

fix: resolve review batch internal_cli_daemon_commands.go-round002
  internal/cli/tasks_run_parallel_e2e_test.go
Due: format-go

fix: resolve review batch internal_cli_tasks_run_parallel_e2e_test.go-round003
  internal/cli/tasks_run_parallel_e2e_test.go
Due: format-go

refactor: untrack committed review-round issue files
  .compozy/tasks/nested-workflows/reviews-002/issue_001.md
  .compozy/tasks/nested-workflows/reviews-002/issue_002.md
  .compozy/tasks/nested-workflows/reviews-002/issue_003.md
  .compozy/tasks/nested-workflows/reviews-002/issue_004.md
  .compozy/tasks/nested-workflows/reviews-002/issue_005.md
  .compozy/tasks/nested-workflows/reviews-002/issue_006.md
  .compozy/tasks/nested-workflows/reviews-002/issue_007.md
  .compozy/tasks/nested-workflows/reviews-002/issue_008.md
  .compozy/tasks/nested-workflows/reviews-002/issue_009.md
  .compozy/tasks/nested-workflows/reviews-002/issue_010.md
  .compozy/tasks/nested-workflows/reviews-004/issue_001.md
  .compozy/tasks/nested-workflows/reviews-004/issue_002.md
  .compozy/tasks/nested-workflows/reviews-004/issue_003.md
  .compozy/tasks/nested-workflows/reviews-004/issue_004.md
  .compozy/tasks/nested-workflows/reviews-004/issue_005.md
  .compozy/tasks/nested-workflows/reviews-004/issue_006.md
  .compozy/tasks/nested-workflows/reviews-005/issue_001.md
  .compozy/tasks/nested-workflows/reviews-005/issue_002.md
  .compozy/tasks/nested-workflows/reviews-005/issue_003.md
  .compozy/tasks/nested-workflows/reviews-005/issue_004.md
  .compozy/tasks/nested-workflows/reviews-005/issue_005.md
  .compozy/tasks/nested-workflows/reviews-005/issue_006.md
  .compozy/tasks/nested-workflows/reviews-005/issue_007.md
  .compozy/tasks/nested-workflows/reviews-007/issue_001.md
  .compozy/tasks/nested-workflows/reviews-007/issue_002.md
  .compozy/tasks/parallel-task-groups/reviews-001/issue_001.md
  .compozy/tasks/parallel-task-groups/reviews-001/issue_002.md
  .compozy/tasks/parallel-task-groups/reviews-001/issue_003.md
  .compozy/tasks/parallel-task-groups/reviews-001/issue_004.md
  .compozy/tasks/parallel-task-groups/reviews-001/issue_005.md
  .compozy/tasks/parallel-task-groups/reviews-001/issue_006.md
  .compozy/tasks/parallel-task-groups/reviews-001/issue_007.md
Due: none

docs: move task-group picker images to PR attachments
  docs/design/task-group-picker/review-target-filtered.png
  docs/design/task-group-picker/review-target-overview.png
  docs/design/task-group-picker/tasks-run-overview.png
  docs/design/task-group-picker/tasks-run-selected.png
Due: none

refactor: drop orphan release-note fragments (scope PR to task groups)
  .release-notes/durable-architecture-decisions-1784257443.md
  .release-notes/more-reliable-task-and-review-workflows-1784257444.md
  .release-notes/runs-that-recover-instead-of-hanging-1784257443.md
  .release-notes/runtime-defaults-by-task-complexity-1784257443.md
Due: none

refactor: restore RELEASE_NOTES.md to main (scope PR to task groups)
  RELEASE_NOTES.md
Due: none

test: use Should subtest names and parallelize task-group validation
  internal/cli/validate_tasks_test.go
Due: format-go

fix: honor explicit false parallel-task-group flags in tasks run
  internal/cli/daemon_commands.go
  internal/cli/daemon_commands_test.go
Due: format-go

fix: block review-fix dispatch for targets without implementation evidence
  internal/cli/task_group_picker.go
  internal/cli/tasks_run_wizard_status.go
  internal/cli/tasks_run_wizard_test.go
Due: format-go

docs: document daemon ownership of the task-group plan projection
  internal/core/taskgroups/completion.go
Due: format-go

fix: value-gate parallel conflict checks in picker and multiple paths
  internal/cli/daemon_commands.go
  internal/cli/daemon_commands_test.go
Due: format-go

feat: add pure gitenv.ParseWorktreeList porcelain parser
  internal/core/gitenv/gitenv_worktree.go
  internal/core/gitenv/gitenv_worktree_test.go
Due: format-go

feat: union task-group completion across sibling git worktrees
  internal/cli/tasks_sync_test.go
  internal/core/task_group_completion.go
  internal/core/task_group_completion_worktrees.go
  internal/core/task_group_completion_worktrees_test.go
Due: format-go

feat: verify daemon dispatch readiness inherits sibling-completion union
  internal/cli/tasks_run_union_dispatch_e2e_test.go
  internal/daemon/task_group_completion_hydration.go
  internal/daemon/task_group_completion_union_test.go
Due: format-go

fix: archive without tasks
  .husky/pre-commit
  .husky/pre-merge-commit
  .husky/pre-push
  internal/core/archive.go
  internal/core/archive_test.go
  internal/store/globaldb/archive.go
  internal/store/globaldb/archive_test.go
Due: format-go

fix: fall back to runtime default for inherited cross-runtime models
  .agents/skills/cy-idea-factory/SKILL.md
  .agents/skills/cy-idea-factory/references/council.md
  extensions/cy-idea-factory/skills/cy-idea-factory/SKILL.md
  extensions/cy-idea-factory/skills/cy-idea-factory/references/council.md
  internal/core/agent/client.go
  internal/core/agent/client_test.go
  internal/core/agent/session_config.go
  internal/core/run/internal/acpshared/command_io.go
  internal/core/run/internal/runshared/config.go
Due: format-go

fix: carry reasoning effort into the council CLI fallback
  .agents/skills/cy-idea-factory/references/council.md
  extensions/cy-idea-factory/skills/cy-idea-factory/references/council.md
Due: none

fix: record the session model and cover the explicit-model wiring
  docs/events.md
  internal/core/agent/client.go
  internal/core/agent/client_test.go
  internal/core/agent/session.go
  internal/core/agent/session_config.go
  internal/core/run/internal/acpshared/command_io.go
  internal/core/run/internal/acpshared/command_io_test.go
  internal/core/run/internal/runshared/config_test.go
  pkg/compozy/events/kinds/session.go
Due: format-go

fix: resolve review batch internal_cli_task_group_picker.go-8f9fcd
  .compozy/tasks/nested-workflows/reviews-008/issue_010.md
  .compozy/tasks/nested-workflows/reviews-008/issue_011.md
  internal/cli/daemon_commands_test.go
  internal/cli/reviews_exec_daemon.go
  internal/cli/reviews_exec_daemon_additional_test.go
  internal/cli/task_group_picker.go
Due: format-go

fix: resolve review batch internal_cli_reviews_exec_daemon.go-d1cad6
  .compozy/tasks/nested-workflows/reviews-008/issue_001.md
  internal/cli/reviews_exec_daemon.go
  internal/cli/reviews_exec_daemon_additional_test.go
Due: format-go

fix: resolve review batch internal_daemon_task_multi.go-9f6a9c
  .compozy/tasks/nested-workflows/reviews-008/issue_004.md
  .compozy/tasks/nested-workflows/reviews-008/issue_006.md
  internal/daemon/task_multi.go
  internal/daemon/task_multi_settle_test.go
Due: format-go

fix: resolve review batch .compozy_tasks_parallel-task-groups__tests.md-17ae9b
  .compozy/tasks/nested-workflows/reviews-008/issue_013.md
Due: none

fix: resolve review batch internal_core_taskgroups_completion.go-00cbf3
  .compozy/tasks/nested-workflows/reviews-008/issue_016.md
  internal/core/taskgroups/completion.go
  internal/core/taskgroups/taskgroups_test.go
Due: format-go

docs: record the fallback's authority and guard limits
  internal/core/agent/session_config.go
Due: format-go

fix: resolve review batch internal_cli_daemon_commands.go-f202d5
  .compozy/tasks/nested-workflows/reviews-008/issue_012.md
  internal/cli/daemon_commands.go
  internal/cli/daemon_commands_test.go
  internal/cli/reviews_exec_daemon.go
  internal/cli/reviews_exec_daemon_additional_test.go
  internal/cli/state.go
Due: format-go

fix: resolve review batch internal_core_taskgroups_readiness.go-503b7d
  .compozy/tasks/nested-workflows/reviews-008/issue_007.md
  .compozy/tasks/nested-workflows/reviews-008/issue_014.md
  internal/core/taskgroups/readiness.go
  internal/core/taskgroups/taskgroups_test.go
Due: format-go

fix: resolve review batch internal_core_worktree_review_isolation.go-3fd325
  .compozy/tasks/nested-workflows/reviews-008/issue_002.md
  .compozy/tasks/nested-workflows/reviews-008/issue_003.md
  .compozy/tasks/nested-workflows/reviews-008/issue_008.md
  .compozy/tasks/nested-workflows/reviews-008/issue_009.md
  internal/core/worktree/review_isolation.go
  internal/core/worktree/review_isolation_test.go
Due: format-go

fix: untrack the cy-idea-factory skill install destination
  .agents/skills/cy-idea-factory/SKILL.md
  .agents/skills/cy-idea-factory/references/adr-template.md
  .agents/skills/cy-idea-factory/references/business-analyst.md
  .agents/skills/cy-idea-factory/references/council.md
  .agents/skills/cy-idea-factory/references/idea-template.md
  .agents/skills/cy-idea-factory/references/product-strategist.md
  .agents/skills/cy-idea-factory/references/question-protocol.md
  .gitignore
Due: none

fix: bound task-group completion hydration and repair canonical-root fallback
  internal/daemon/task_group_completion_hydration.go
  internal/daemon/task_group_completion_hydration_test.go
Due: format-go

fix: mirror the session model in both SDKs and pin explicit direct callers
  internal/core/agent/codex_live_test.go
  scripts/inspect-acp-toolcalls.go
  sdk/extension-sdk-ts/src/types.ts
  sdk/extension/types.go
Due: turbo-lint, format-go

fix: treat type and id task runtime pins as explicit
  internal/core/model/model_test.go
  internal/core/model/task_runtime.go
Due: format-go

Path conditions:
  turbo-lint: any of: \.(js|jsx|ts|tsx)$, but not: (?x)^(
  CHANGELOG.md|
  tools/.*/package\.json|
  bun.lockb|
  node_modules|
)$

  format-go: any of: \.go$, but not: (?x)^(
  CHANGELOG.md|
  tools/.*/package\.json|
  bun.lockb|
  node_modules|
)$

