Repository compozy/compozy: changes, and which pre-commit hooks are due for each by the changed paths.
All: turbo-lint, format-go

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit

default_stages:
  - pre-commit

exclude: |
  (?x)^(
    CHANGELOG.md|
    tools/.*/package\.json|
    bun.lockb|
    node_modules|
  )$

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      # - id: trailing-whitespace
      #   args:
      #     - --no-utf8-locale
      - id: end-of-file-fixer
        exclude: '^(CHANGELOG\.md|tools/.*/package\.json|bun\.lockb|node_modules/)'
      - id: check-json
        exclude: '^(tools/.*/package\.json|node_modules/)'
      - id: check-toml
      - id: check-added-large-files
        args:
          - --maxkb=3000
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: detect-private-key
  - repo: local
    hooks:
      - id: turbo-lint
        name: turbo lint
        description: Run linting via Turborepo
        entry: bun run lint
        language: system
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false
      # - id: turbo-type-check
      #   name: turbo type check
      #   description: Run TypeScript checking via Turborepo
      #   entry: bun run type-check
      #   language: system
      #   files: \.(ts|tsx)$
      #   pass_filenames: false
      - id: format-go
        name: format go
        description: Format Go files using make fmt
        entry: make fmt
        language: system
        files: \.go$
        pass_filenames: false
  - repo: https://github.com/lyz-code/yamlfix/
    rev: 1.17.0
    hooks:
      - id: yamlfix
        args:
          - -c
          - .yamlfix.toml
        exclude: ^cluster/.*$

refactor: add canonical daemon contract foundation
  internal/api/client/client.go
  internal/api/client/runs.go
  internal/api/contract/compatibility.go
  internal/api/contract/contract_integration_test.go
  internal/api/contract/contract_test.go
  internal/api/contract/doc.go
  internal/api/contract/errors.go
  internal/api/contract/routes.go
  internal/api/contract/sse.go
  internal/api/contract/timeout.go
  internal/api/contract/types.go
  internal/api/core/errors.go
  internal/api/core/handlers.go
  internal/api/core/interfaces.go
  internal/api/core/sse.go
  internal/core/run/ui/remote.go
  internal/core/run/ui/remote_test.go
  internal/daemon/run_snapshot.go
  pkg/compozy/runs/run.go
  pkg/compozy/runs/transport_test.go
Due: format-go

refactor: complete shared transport contract parity
  internal/api/core/handlers_contract_test.go
  internal/api/core/interfaces.go
  internal/api/httpapi/transport_integration_test.go
Due: format-go

refactor: adopt canonical daemon client contract
  internal/api/client/client.go
  internal/api/client/client_contract_test.go
  internal/api/client/client_transport_test.go
  internal/api/client/operator.go
  internal/api/client/reviews_exec.go
  internal/api/client/runs.go
  internal/core/run/journal/journal_test.go
  pkg/compozy/runs/integration_test.go
  pkg/compozy/runs/run.go
  pkg/compozy/runs/transport_test.go
Due: format-go

feat: harden daemon observability and lifecycle
  internal/api/client/client_contract_test.go
  internal/api/contract/compatibility.go
  internal/api/contract/contract_integration_test.go
  internal/api/contract/contract_test.go
  internal/api/contract/types.go
  internal/api/core/interfaces.go
  internal/api/httpapi/transport_integration_test.go
  internal/cli/daemon.go
  internal/cli/daemon_commands.go
  internal/cli/daemon_commands_test.go
  internal/cli/daemon_exec_test_helpers_test.go
  internal/cli/run_observe.go
  internal/core/run/journal/journal.go
  internal/daemon/boot_integration_test.go
  internal/daemon/boot_test.go
  internal/daemon/host.go
  internal/daemon/run_integrity.go
  internal/daemon/run_integrity_test.go
  internal/daemon/run_manager.go
  internal/daemon/runtime.go
  internal/daemon/runtime_test.go
  internal/daemon/service.go
  internal/daemon/service_test.go
  internal/daemon/shutdown.go
  internal/daemon/signal_other.go
  internal/daemon/signal_unix.go
  internal/logger/logger.go
  internal/logger/logger_test.go
  internal/store/globaldb/close_test.go
  internal/store/globaldb/global_db.go
  internal/store/rundb/close_test.go
  internal/store/rundb/migrations.go
  internal/store/rundb/run_db.go
  internal/store/rundb/run_db_test.go
  internal/store/sqlite.go
  internal/store/sqlite_test.go
  pkg/compozy/runs/remote_watch.go
  pkg/compozy/runs/run.go
  pkg/compozy/runs/run_test.go
Due: format-go

fix: add daemon improvements QA artifacts and fix watcher refresh race
  .compozy/tasks/daemon-improvs/analysis/qa/issues/.gitkeep
  .compozy/tasks/daemon-improvs/analysis/qa/screenshots/.gitkeep
  .compozy/tasks/daemon-improvs/analysis/qa/test-cases/TC-FUNC-001.md
  .compozy/tasks/daemon-improvs/analysis/qa/test-cases/TC-FUNC-002.md
  .compozy/tasks/daemon-improvs/analysis/qa/test-cases/TC-INT-001.md
  .compozy/tasks/daemon-improvs/analysis/qa/test-cases/TC-INT-002.md
  .compozy/tasks/daemon-improvs/analysis/qa/test-cases/TC-INT-003.md
  .compozy/tasks/daemon-improvs/analysis/qa/test-cases/TC-INT-004.md
  .compozy/tasks/daemon-improvs/analysis/qa/test-cases/TC-INT-005.md
  .compozy/tasks/daemon-improvs/analysis/qa/test-plans/daemon-improvs-analysis-regression.md
  .compozy/tasks/daemon-improvs/analysis/qa/test-plans/daemon-improvs-analysis-test-plan.md
  internal/daemon/watchers.go
Due: format-go

test: finalize daemon improvements qa execution
  .compozy/tasks/daemon-improvs/analysis/qa/issues/BUG-001-terminal-snapshot-race.md
  .compozy/tasks/daemon-improvs/analysis/qa/logs/live-daemon-health-http.json
  .compozy/tasks/daemon-improvs/analysis/qa/logs/live-daemon-health-uds.json
  .compozy/tasks/daemon-improvs/analysis/qa/logs/live-daemon-metrics-http.txt
  .compozy/tasks/daemon-improvs/analysis/qa/logs/live-daemon-metrics-uds.txt
  .compozy/tasks/daemon-improvs/analysis/qa/logs/live-daemon-run-id.txt
  .compozy/tasks/daemon-improvs/analysis/qa/logs/live-daemon-snapshot-http.json
  .compozy/tasks/daemon-improvs/analysis/qa/logs/live-daemon-snapshot-uds.json
  .compozy/tasks/daemon-improvs/analysis/qa/logs/live-daemon-start.json
  .compozy/tasks/daemon-improvs/analysis/qa/logs/live-daemon-status-http.json
  .compozy/tasks/daemon-improvs/analysis/qa/logs/live-daemon-status-uds.json
  .compozy/tasks/daemon-improvs/analysis/qa/logs/live-daemon-stop.json
  .compozy/tasks/daemon-improvs/analysis/qa/logs/live-daemon-stop.stderr
  .compozy/tasks/daemon-improvs/analysis/qa/logs/live-daemon-stream-http.txt
  .compozy/tasks/daemon-improvs/analysis/qa/logs/live-daemon-stream-uds.txt
  .compozy/tasks/daemon-improvs/analysis/qa/logs/live-daemon-sync.json
  .compozy/tasks/daemon-improvs/analysis/qa/logs/live-daemon-task-run.stderr
  .compozy/tasks/daemon-improvs/analysis/qa/logs/live-daemon-task-run.stdout
  .compozy/tasks/daemon-improvs/analysis/qa/test-cases/TC-FUNC-001.md
  .compozy/tasks/daemon-improvs/analysis/qa/test-cases/TC-FUNC-002.md
  .compozy/tasks/daemon-improvs/analysis/qa/test-cases/TC-INT-001.md
  .compozy/tasks/daemon-improvs/analysis/qa/test-cases/TC-INT-002.md
  .compozy/tasks/daemon-improvs/analysis/qa/test-cases/TC-INT-003.md
  .compozy/tasks/daemon-improvs/analysis/qa/test-cases/TC-INT-004.md
  .compozy/tasks/daemon-improvs/analysis/qa/test-cases/TC-INT-005.md
  .compozy/tasks/daemon-improvs/analysis/qa/verification-report.md
  .compozy/tasks/daemon-improvs/memory/MEMORY.md
  .compozy/tasks/daemon-improvs/memory/task_09.md
  internal/cli/operator_transport_integration_test.go
  internal/cli/reviews_exec_daemon_additional_test.go
  internal/cli/run_observe.go
Due: format-go

docs: update prd
  .codex/ledger/2026-04-20-MEMORY-canonical-daemon-contract.md
  .codex/ledger/2026-04-20-MEMORY-shared-transport-contract.md
  .codex/ledger/2026-04-21-MEMORY-daemon-improvs-qa-plan.md
  .codex/ledger/2026-04-21-MEMORY-observability-transcript.md
  .codex/ledger/2026-04-21-MEMORY-runtime-hardening.md
  .compozy/tasks/daemon-improvs/_tasks.md
  .compozy/tasks/daemon-improvs/memory/task_01.md
  .compozy/tasks/daemon-improvs/memory/task_02.md
  .compozy/tasks/daemon-improvs/memory/task_03.md
  .compozy/tasks/daemon-improvs/memory/task_04.md
  .compozy/tasks/daemon-improvs/memory/task_05.md
  .compozy/tasks/daemon-improvs/memory/task_06.md
  .compozy/tasks/daemon-improvs/memory/task_07.md
  .compozy/tasks/daemon-improvs/memory/task_08.md
  .compozy/tasks/daemon-improvs/task_01.md
  .compozy/tasks/daemon-improvs/task_02.md
  .compozy/tasks/daemon-improvs/task_03.md
  .compozy/tasks/daemon-improvs/task_04.md
  .compozy/tasks/daemon-improvs/task_05.md
  .compozy/tasks/daemon-improvs/task_06.md
  .compozy/tasks/daemon-improvs/task_07.md
  .compozy/tasks/daemon-improvs/task_08.md
  .compozy/tasks/daemon-improvs/task_09.md
Due: none

fix: resolve daemon-improvs review batch 001
  .compozy/tasks/daemon-improvs/analysis/qa/logs/live-daemon-run-id.txt
  .compozy/tasks/daemon-improvs/reviews-001/issue_001.md
  .compozy/tasks/daemon-improvs/reviews-001/issue_002.md
  .compozy/tasks/daemon-improvs/reviews-001/issue_003.md
  .compozy/tasks/daemon-improvs/reviews-001/issue_004.md
  .compozy/tasks/daemon-improvs/reviews-001/issue_005.md
  .compozy/tasks/daemon-improvs/reviews-001/issue_006.md
  .compozy/tasks/daemon-improvs/reviews-001/issue_007.md
  .compozy/tasks/daemon-improvs/reviews-001/issue_008.md
  .compozy/tasks/daemon-improvs/reviews-001/issue_009.md
  .compozy/tasks/daemon-improvs/reviews-001/issue_010.md
  .compozy/tasks/daemon-improvs/reviews-001/issue_011.md
  .compozy/tasks/daemon-improvs/reviews-001/issue_012.md
  .compozy/tasks/daemon-improvs/reviews-001/issue_013.md
  .compozy/tasks/daemon-improvs/reviews-001/issue_014.md
  .compozy/tasks/daemon-improvs/reviews-001/issue_015.md
  .compozy/tasks/daemon-improvs/reviews-001/issue_016.md
  .compozy/tasks/daemon-improvs/reviews-001/issue_017.md
  .compozy/tasks/daemon-improvs/reviews-001/issue_018.md
  .compozy/tasks/daemon-improvs/reviews-001/issue_019.md
  .compozy/tasks/daemon-improvs/reviews-001/issue_020.md
  .gitignore
  internal/api/client/client_contract_test.go
  internal/api/client/client_transport_test.go
  internal/api/contract/compatibility.go
  internal/api/contract/contract_integration_test.go
  internal/api/contract/contract_test.go
  internal/api/contract/sse.go
  internal/api/contract/types.go
  internal/api/core/handlers_contract_test.go
  internal/api/httpapi/transport_integration_test.go
  internal/api/testutil/sse.go
  internal/cli/daemon_commands_test.go
  internal/cli/daemon_exec_test_helpers_test.go
  internal/cli/reviews_exec_daemon_additional_test.go
  internal/core/run/journal/journal.go
  internal/daemon/boot_integration_test.go
  internal/daemon/boot_test.go
  internal/daemon/run_integrity.go
  internal/daemon/run_integrity_test.go
Due: format-go

Fix daemon-improvs review batch 001
  .compozy/tasks/daemon-improvs/reviews-001/_meta.md
  .compozy/tasks/daemon-improvs/reviews-001/issue_021.md
  .compozy/tasks/daemon-improvs/reviews-001/issue_022.md
  .compozy/tasks/daemon-improvs/reviews-001/issue_023.md
  .compozy/tasks/daemon-improvs/reviews-001/issue_024.md
  .compozy/tasks/daemon-improvs/reviews-001/issue_025.md
  .compozy/tasks/daemon-improvs/reviews-001/issue_026.md
  .compozy/tasks/daemon-improvs/reviews-001/issue_027.md
  .compozy/tasks/daemon-improvs/reviews-001/issue_028.md
  .compozy/tasks/daemon-improvs/reviews-001/issue_029.md
  .compozy/tasks/daemon-improvs/reviews-001/issue_030.md
  .compozy/tasks/daemon-improvs/reviews-001/issue_031.md
  internal/daemon/shutdown.go
  internal/daemon/watchers.go
  internal/daemon/watchers_test.go
  internal/logger/logger.go
  internal/logger/logger_test.go
  internal/store/globaldb/close_test.go
  internal/store/globaldb/global_db.go
  internal/store/rundb/close_test.go
  internal/store/rundb/run_db.go
  internal/store/rundb/run_db_test.go
  internal/store/sqlite_test.go
  pkg/compozy/runs/run_test.go
Due: format-go

docs: update
  .compozy/tasks/daemon-improvs/reviews-001/_meta.md
Due: none

fix daemon-improvs review round 002
  .compozy/tasks/daemon-improvs/reviews-002/_meta.md
  .compozy/tasks/daemon-improvs/reviews-002/issue_001.md
  .compozy/tasks/daemon-improvs/reviews-002/issue_002.md
  .compozy/tasks/daemon-improvs/reviews-002/issue_003.md
  .compozy/tasks/daemon-improvs/reviews-002/issue_004.md
  .compozy/tasks/daemon-improvs/reviews-002/issue_005.md
  .compozy/tasks/daemon-improvs/reviews-002/issue_006.md
  .compozy/tasks/daemon-improvs/reviews-002/issue_007.md
  internal/api/core/handlers_contract_test.go
  internal/daemon/boot_integration_test.go
  internal/logger/logger.go
  internal/logger/logger_test.go
  internal/store/rundb/close_test.go
  internal/store/rundb/run_db.go
  internal/store/rundb/run_db_test.go
Due: format-go

docs: update
  .compozy/tasks/daemon-improvs/reviews-002/_meta.md
Due: none

fix: resolve daemon-improvs review batch 003
  .compozy/tasks/daemon-improvs/reviews-003/_meta.md
  .compozy/tasks/daemon-improvs/reviews-003/issue_001.md
  .compozy/tasks/daemon-improvs/reviews-003/issue_002.md
  .compozy/tasks/daemon-improvs/reviews-003/issue_003.md
  .compozy/tasks/daemon-improvs/reviews-003/issue_004.md
  .compozy/tasks/daemon-improvs/reviews-003/issue_005.md
  .compozy/tasks/daemon-improvs/reviews-003/issue_006.md
  .compozy/tasks/daemon-improvs/reviews-003/issue_007.md
  .compozy/tasks/daemon-improvs/reviews-003/issue_008.md
  internal/api/core/handlers_contract_test.go
  internal/daemon/boot_integration_test.go
  internal/logger/logger_test.go
Due: format-go

fix: archive command
  internal/cli/commands_simple.go
  internal/cli/daemon_commands_test.go
  internal/store/globaldb/registry.go
  internal/store/globaldb/registry_test.go
Due: format-go

fix daemon-improvs review round 004
  .compozy/tasks/daemon-improvs/reviews-004/_meta.md
  .compozy/tasks/daemon-improvs/reviews-004/issue_001.md
  .compozy/tasks/daemon-improvs/reviews-004/issue_002.md
  .compozy/tasks/daemon-improvs/reviews-004/issue_003.md
  .compozy/tasks/daemon-improvs/reviews-004/issue_004.md
  .compozy/tasks/daemon-improvs/reviews-004/issue_005.md
  .compozy/tasks/daemon-improvs/reviews-004/issue_006.md
  internal/api/core/handlers_contract_test.go
  internal/store/globaldb/registry.go
  internal/store/globaldb/registry_test.go
Due: format-go

docs: update
  .compozy/tasks/daemon-improvs/reviews-004/_meta.md
Due: none

build: add daemon web workspace skeletons
  .gitignore
  bun.lock
  package.json
  packages/ui/package.json
  packages/ui/src/index.ts
  packages/ui/src/tokens.css
  packages/ui/tsconfig.build.json
  packages/ui/tsconfig.json
  test/frontend-workspace-config.test.ts
  turbo.json
  web/dist/.keep
  web/index.html
  web/package.json
  web/scripts/restore-dist-placeholder.mjs
  web/src/app.test.ts
  web/src/app.tsx
  web/src/main.tsx
  web/src/styles.css
  web/tsconfig.json
  web/vite.config.ts
  web/vitest.config.ts
Due: turbo-lint

feat: add daemon query read models
  internal/daemon/host_runtime_test.go
  internal/daemon/query_documents.go
  internal/daemon/query_helpers_test.go
  internal/daemon/query_models.go
  internal/daemon/query_service.go
  internal/daemon/query_service_test.go
  internal/daemon/run_manager.go
  internal/daemon/run_snapshot_test.go
  internal/daemon/sync_transport_service_test.go
  internal/daemon/transport_service_test.go
  internal/daemon/watcher_error_test.go
  internal/store/globaldb/query_coverage_test.go
  internal/store/globaldb/read_queries.go
  internal/store/globaldb/read_queries_test.go
Due: format-go

feat: add shared daemon ui foundation
  bun.lock
  packages/ui/package.json
  packages/ui/src/assets/fonts/Disket-Mono-Bold.ttf
  packages/ui/src/assets/fonts/Disket-Mono-Regular.ttf
  packages/ui/src/assets/fonts/Nippo-Variable.woff2
  packages/ui/src/components/app-shell.tsx
  packages/ui/src/components/button.tsx
  packages/ui/src/components/section-heading.tsx
  packages/ui/src/components/status-badge.tsx
  packages/ui/src/components/surface-card.tsx
  packages/ui/src/components/ui-provider.tsx
  packages/ui/src/index.ts
  packages/ui/src/lib/utils.ts
  packages/ui/src/tokens.css
  packages/ui/tests/package-exports.test.ts
  packages/ui/tests/primitives.test.tsx
  packages/ui/tests/tokens.test.ts
  packages/ui/tsconfig.json
  packages/ui/vitest.config.ts
  test/frontend-workspace-config.test.ts
  web/components.json
  web/package.json
  web/src/app.test.ts
  web/src/app.tsx
  web/src/main.tsx
  web/src/styles.css
  web/src/styles.test.ts
  web/vite.config.ts
Due: turbo-lint

feat: add daemon transport read models
  internal/api/core/handlers_service_errors_test.go
  internal/api/core/handlers_smoke_test.go
  internal/api/core/handlers_test.go
  internal/api/core/interfaces.go
  internal/api/httpapi/transport_integration_test.go
  internal/cli/daemon_exec_test_helpers_test.go
  internal/daemon/host.go
  internal/daemon/review_exec_transport_service.go
  internal/daemon/run_manager.go
  internal/daemon/task_transport_service.go
  internal/daemon/transport_mappers.go
  internal/daemon/transport_read_models_test.go
  pkg/compozy/runs/integration_test.go
Due: format-go

feat: add browser daemon endpoints and contract
  internal/api/core/errors.go
  internal/api/core/handlers.go
  internal/api/core/handlers_error_paths_test.go
  internal/api/core/handlers_service_errors_test.go
  internal/api/core/handlers_smoke_test.go
  internal/api/core/internal_helpers_test.go
  internal/api/core/routes.go
  internal/api/httpapi/openapi_contract_test.go
  internal/api/httpapi/transport_integration_test.go
  openapi/compozy-daemon.json
Due: format-go

feat: harden daemon browser api
  internal/api/client/runs.go
  internal/api/client/runs_test.go
  internal/api/core/handlers.go
  internal/api/core/handlers_contract_test.go
  internal/api/core/handlers_error_paths_test.go
  internal/api/core/handlers_service_errors_test.go
  internal/api/core/handlers_test.go
  internal/api/core/middleware.go
  internal/api/core/sse.go
  internal/api/core/sse_test.go
  internal/api/httpapi/browser_middleware.go
  internal/api/httpapi/browser_middleware_test.go
  internal/api/httpapi/openapi_contract_test.go
  internal/api/httpapi/server.go
  internal/api/httpapi/transport_integration_test.go
  openapi/compozy-daemon.json
  pkg/compozy/runs/remote_watch.go
  pkg/compozy/runs/run.go
  pkg/compozy/runs/transport_test.go
Due: format-go

feat: add daemon web workflow task board and task detail
  .compozy/tasks/daemon-web-ui/_tasks.md
  .compozy/tasks/daemon-web-ui/memory/MEMORY.md
  .compozy/tasks/daemon-web-ui/memory/task_11.md
  .compozy/tasks/daemon-web-ui/task_11.md
  web/src/lib/api-client.ts
  web/src/routes/-workflow-tasks.integration.test.tsx
  web/src/routes/_app/workflows_.$slug.tasks.tsx
  web/src/routes/_app/workflows_.$slug.tasks_.$taskId.tsx
  web/src/systems/workflows/adapters/tasks-api.test.ts
  web/src/systems/workflows/adapters/tasks-api.ts
  web/src/systems/workflows/components/task-board-view.test.tsx
  web/src/systems/workflows/components/task-board-view.tsx
  web/src/systems/workflows/components/task-detail-view.test.tsx
  web/src/systems/workflows/components/task-detail-view.tsx
  web/src/systems/workflows/components/workflow-inventory-view.test.tsx
  web/src/systems/workflows/components/workflow-inventory-view.tsx
  web/src/systems/workflows/hooks/use-tasks.ts
  web/src/systems/workflows/index.ts
  web/src/systems/workflows/lib/query-keys.ts
  web/src/systems/workflows/types.ts
Due: turbo-lint

feat: serve embedded daemon ui bundle
  internal/api/httpapi/browser_middleware.go
  internal/api/httpapi/routes.go
  internal/api/httpapi/server.go
  internal/api/httpapi/static.go
  internal/api/httpapi/static_test.go
  internal/api/httpapi/transport_integration_test.go
  internal/daemon/host_runtime_test.go
  web/embed.go
Due: format-go

feat: add daemon web runs console and run control actions
  .compozy/tasks/daemon-web-ui/_tasks.md
  .compozy/tasks/daemon-web-ui/memory/MEMORY.md
  .compozy/tasks/daemon-web-ui/memory/task_10.md
  .compozy/tasks/daemon-web-ui/task_10.md
  web/src/routes/-runs.integration.test.tsx
  web/src/routes/_app/runs.tsx
  web/src/routes/_app/runs_.$runId.tsx
  web/src/systems/app-shell/components/app-shell-layout.tsx
  web/src/systems/runs/adapters/runs-api.test.ts
  web/src/systems/runs/adapters/runs-api.ts
  web/src/systems/runs/components/run-detail-view.test.tsx
  web/src/systems/runs/components/run-detail-view.tsx
  web/src/systems/runs/components/runs-list-view.test.tsx
  web/src/systems/runs/components/runs-list-view.tsx
  web/src/systems/runs/hooks/use-run-stream.test.tsx
  web/src/systems/runs/hooks/use-run-stream.ts
  web/src/systems/runs/hooks/use-runs.ts
  web/src/systems/runs/index.ts
  web/src/systems/runs/lib/query-keys.ts
  web/src/systems/runs/lib/stream.test.ts
  web/src/systems/runs/lib/stream.ts
  web/src/systems/runs/types.ts
Due: turbo-lint

docs: add daemon web ui qa artifacts
  .compozy/tasks/daemon-web-ui/qa/issues/.gitkeep
  .compozy/tasks/daemon-web-ui/qa/logs/.gitkeep
  .compozy/tasks/daemon-web-ui/qa/screenshots/.gitkeep
  .compozy/tasks/daemon-web-ui/qa/test-cases/TC-FUNC-001.md
  .compozy/tasks/daemon-web-ui/qa/test-cases/TC-FUNC-002.md
  .compozy/tasks/daemon-web-ui/qa/test-cases/TC-FUNC-003.md
  .compozy/tasks/daemon-web-ui/qa/test-cases/TC-FUNC-004.md
  .compozy/tasks/daemon-web-ui/qa/test-cases/TC-FUNC-005.md
  .compozy/tasks/daemon-web-ui/qa/test-cases/TC-FUNC-006.md
  .compozy/tasks/daemon-web-ui/qa/test-cases/TC-FUNC-007.md
  .compozy/tasks/daemon-web-ui/qa/test-cases/TC-FUNC-008.md
  .compozy/tasks/daemon-web-ui/qa/test-cases/TC-INT-001.md
  .compozy/tasks/daemon-web-ui/qa/test-cases/TC-INT-002.md
  .compozy/tasks/daemon-web-ui/qa/test-cases/TC-INT-003.md
  .compozy/tasks/daemon-web-ui/qa/test-cases/TC-INT-004.md
  .compozy/tasks/daemon-web-ui/qa/test-cases/TC-INT-005.md
  .compozy/tasks/daemon-web-ui/qa/test-plans/daemon-web-ui-regression.md
  .compozy/tasks/daemon-web-ui/qa/test-plans/daemon-web-ui-test-plan.md
Due: none

test: wire daemon web UI verification lane
  .bun-version
  .github/actions/setup-bun/action.yml
  .github/workflows/ci.yml
  Makefile
  bun.lock
  internal/daemon/review_exec_transport_service_test.go
  internal/daemon/run_manager.go
  internal/daemon/run_manager_test.go
  internal/daemon/task_transport_service.go
  internal/daemon/transport_service_test.go
  package.json
  packages/ui/tsconfig.build.json
  test/frontend-verification-contract.test.ts
  test/frontend-workspace-config.test.ts
  web/e2e/daemon-ui.smoke.spec.ts
  web/e2e/global.setup.ts
  web/e2e/global.teardown.ts
  web/e2e/support/daemon-fixture.ts
  web/package.json
  web/playwright.config.ts
Due: turbo-lint, format-go

docs: update
  .codex/ledger/2026-04-20-MEMORY-daemon-query-layer.md
  .codex/ledger/2026-04-21-MEMORY-web-ui-qa-exec.md
  .codex/ledger/2026-04-21-MEMORY-web-ui-qa.md
  .codex/ledger/2026-04-21-MEMORY-workspace-security-sse.md
  .compozy/tasks/daemon-web-ui/_tasks.md
  .compozy/tasks/daemon-web-ui/memory/MEMORY.md
  .compozy/tasks/daemon-web-ui/memory/task_01.md
  .compozy/tasks/daemon-web-ui/memory/task_02.md
  .compozy/tasks/daemon-web-ui/memory/task_03.md
  .compozy/tasks/daemon-web-ui/memory/task_04.md
  .compozy/tasks/daemon-web-ui/memory/task_05.md
  .compozy/tasks/daemon-web-ui/memory/task_06.md
  .compozy/tasks/daemon-web-ui/memory/task_07.md
  .compozy/tasks/daemon-web-ui/memory/task_08.md
  .compozy/tasks/daemon-web-ui/memory/task_13.md
  .compozy/tasks/daemon-web-ui/memory/task_14.md
  .compozy/tasks/daemon-web-ui/memory/task_15.md
  .compozy/tasks/daemon-web-ui/memory/task_16.md
  .compozy/tasks/daemon-web-ui/task_01.md
  .compozy/tasks/daemon-web-ui/task_02.md
  .compozy/tasks/daemon-web-ui/task_03.md
  .compozy/tasks/daemon-web-ui/task_04.md
  .compozy/tasks/daemon-web-ui/task_05.md
  .compozy/tasks/daemon-web-ui/task_06.md
  .compozy/tasks/daemon-web-ui/task_07.md
  .compozy/tasks/daemon-web-ui/task_08.md
  .compozy/tasks/daemon-web-ui/task_13.md
  .compozy/tasks/daemon-web-ui/task_14.md
  .compozy/tasks/daemon-web-ui/task_15.md
  .compozy/tasks/daemon-web-ui/task_16.md
  .github/workflows/claude.yml
  CHANGELOG.md
  docs/examples/agents/repo-copilot/mcp.json
Due: none

fix: resolve daemon-web-ui review batch 001
  .compozy/tasks/daemon-web-ui/reviews-001/_meta.md
  .compozy/tasks/daemon-web-ui/reviews-001/issue_021.md
  .compozy/tasks/daemon-web-ui/reviews-001/issue_022.md
  .compozy/tasks/daemon-web-ui/reviews-001/issue_023.md
  .compozy/tasks/daemon-web-ui/reviews-001/issue_024.md
  .compozy/tasks/daemon-web-ui/reviews-001/issue_025.md
  .compozy/tasks/daemon-web-ui/reviews-001/issue_026.md
  .compozy/tasks/daemon-web-ui/reviews-001/issue_027.md
  .compozy/tasks/daemon-web-ui/reviews-001/issue_028.md
  .compozy/tasks/daemon-web-ui/reviews-001/issue_029.md
  .compozy/tasks/daemon-web-ui/reviews-001/issue_030.md
  .compozy/tasks/daemon-web-ui/reviews-001/issue_031.md
  internal/api/core/interfaces.go
  internal/daemon/host_runtime_test.go
  internal/daemon/query_service.go
  internal/store/globaldb/read_queries_test.go
  packages/ui/src/components/button.tsx
  packages/ui/src/components/stories/button.stories.tsx
  packages/ui/src/tokens.css
  packages/ui/tests/package-exports.test.ts
  packages/ui/tests/primitives.test.tsx
  packages/ui/tests/tokens.test.ts
  scripts/codegen.mjs
  test/codegen-script.test.ts
Due: turbo-lint, format-go

fix: review rounds
  .codex/ledger/2026-04-21-MEMORY-daemon-web-ui-review-002.md
  .codex/ledger/2026-04-21-MEMORY-hot-reload-dev.md
  .compozy/tasks/daemon-web-ui/reviews-002/_meta.md
  .compozy/tasks/daemon-web-ui/reviews-002/issue_001.md
  .compozy/tasks/daemon-web-ui/reviews-002/issue_002.md
  .compozy/tasks/daemon-web-ui/reviews-002/issue_003.md
  .compozy/tasks/daemon-web-ui/reviews-002/issue_004.md
  .compozy/tasks/daemon-web-ui/reviews-002/issue_005.md
  .compozy/tasks/daemon-web-ui/reviews-002/issue_006.md
  .compozy/tasks/daemon-web-ui/reviews-002/issue_007.md
  .compozy/tasks/daemon-web-ui/reviews-002/issue_008.md
  .compozy/tasks/daemon-web-ui/reviews-002/issue_009.md
  .compozy/tasks/daemon-web-ui/reviews-002/issue_010.md
  .compozy/tasks/daemon-web-ui/reviews-002/issue_011.md
  Makefile
  docs/plans/2026-04-21-hot-reload-dev-design.md
  internal/api/httpapi/dev_proxy.go
  internal/api/httpapi/dev_proxy_test.go
  internal/api/httpapi/openapi_contract_test.go
  internal/cli/daemon.go
  internal/cli/daemon_commands_test.go
  internal/daemon/host_runtime_test.go
  internal/daemon/query_helpers_test.go
  package.json
  scripts/dev-web-proxy.sh
  test/frontend-workspace-config.test.ts
Due: turbo-lint, format-go

docs: update
  bun.lock
Due: none

fix: resolve daemon-web-ui review round 003
  .compozy/tasks/daemon-web-ui/reviews-003/_meta.md
  .compozy/tasks/daemon-web-ui/reviews-003/issue_001.md
  .compozy/tasks/daemon-web-ui/reviews-003/issue_002.md
  .compozy/tasks/daemon-web-ui/reviews-003/issue_003.md
  .compozy/tasks/daemon-web-ui/reviews-003/issue_004.md
  .compozy/tasks/daemon-web-ui/reviews-003/issue_005.md
  .compozy/tasks/daemon-web-ui/reviews-003/issue_006.md
  .compozy/tasks/daemon-web-ui/reviews-003/issue_007.md
  Makefile
  internal/api/httpapi/openapi_contract_test.go
  internal/cli/daemon.go
  internal/cli/daemon_commands_test.go
  internal/daemon/query_helpers_test.go
  test/frontend-workspace-config.test.ts
Due: turbo-lint, format-go
