Repository compozy/compozy: changes, and which pre-commit hooks are due for each by the changed paths.
All: turbo-lint, format-go

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit

default_stages:
  - pre-commit

exclude: |
  (?x)^(
    CHANGELOG.md|
    tools/.*/package\.json|
    bun.lockb|
    node_modules|
  )$

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      # - id: trailing-whitespace
      #   args:
      #     - --no-utf8-locale
      - id: end-of-file-fixer
        exclude: '^(CHANGELOG\.md|tools/.*/package\.json|bun\.lockb|node_modules/)'
      - id: check-json
        exclude: '^(tools/.*/package\.json|node_modules/)'
      - id: check-toml
      - id: check-added-large-files
        args:
          - --maxkb=3000
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: detect-private-key
  - repo: local
    hooks:
      - id: turbo-lint
        name: turbo lint
        description: Run linting via Turborepo
        entry: bun run lint
        language: system
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false
      # - id: turbo-type-check
      #   name: turbo type check
      #   description: Run TypeScript checking via Turborepo
      #   entry: bun run type-check
      #   language: system
      #   files: \.(ts|tsx)$
      #   pass_filenames: false
      - id: format-go
        name: format go
        description: Format Go files using make fmt
        entry: make fmt
        language: system
        files: \.go$
        pass_filenames: false
  - repo: https://github.com/lyz-code/yamlfix/
    rev: 1.17.0
    hooks:
      - id: yamlfix
        args:
          - -c
          - .yamlfix.toml
        exclude: ^cluster/.*$

test: verify forwarded-tier fixes in-product and settle gateway scenarios
  docs/qa/bugs/BUG-20260911-private-tier-loopback-guard-inert.md
  docs/qa/bugs/BUG-20260911-private-ui-origin-rejected-on-forwarded-tier.md
  docs/qa/reports/2026-09-11-mobile-surface-truth.md
  docs/qa/scenarios/RT-gateway-operator-surface-truth.md
  docs/qa/scenarios/RT-gateway-paired-device.md
Due: none

fix: touch-tier dock pager composition and window-control identification
  docs/design/opendesign/mobile-surface-truth/mobile-surface-truth-shell-390.html
  web/src/systems/os/components/__tests__/desktop-pager.test.tsx
  web/src/systems/os/components/__tests__/os-traffic-lights.test.tsx
  web/src/systems/os/components/desktop-pager.tsx
  web/src/systems/os/components/os-traffic-lights.tsx
  web/src/systems/os/components/stories/os-traffic-lights.stories.tsx
Due: turbo-lint

test: settle remote-tier gateway legs and file forwarded-tier defects
  docs/qa/bugs/BUG-20260911-private-tier-loopback-guard-inert.md
  docs/qa/bugs/BUG-20260911-private-ui-origin-rejected-on-forwarded-tier.md
  docs/qa/reports/2026-09-11-mobile-surface-truth.md
  docs/qa/scenarios/RT-gateway-operator-surface-truth.md
  docs/qa/scenarios/RT-gateway-paired-device.md
Due: none

fix: bridge forwarded-tier scheme and enforce remote mutation policy by tier
  extensions/connectivity/tailscale/forwarder.go
  extensions/connectivity/tailscale/provider_test.go
  internal/api/httpapi/gateway_routes_test.go
  internal/api/httpapi/handlers.go
  internal/api/httpapi/middleware.go
  internal/api/httpapi/middleware_refac_test.go
Due: format-go

test: register real-device walk and touch-tier fixes
  docs/qa/reports/2026-09-11-mobile-surface-truth.md
  docs/qa/scenarios/APP-mobile-touch-tier.md
Due: none

fix: touch-tier menubar scope truncation and trailing priority
  docs/design/opendesign/mobile-surface-truth/mobile-surface-truth-shell-390.html
  web/src/systems/os/components/__tests__/desktop-menubar.test.tsx
  web/src/systems/os/components/__tests__/os-menubar.test.tsx
  web/src/systems/os/components/desktop-menubar.tsx
  web/src/systems/os/components/os-menubar.tsx
  web/src/systems/os/components/stories/os-menubar.stories.tsx
Due: turbo-lint

fix: preserve bulk failure and selection visibility
  docs/_memory/change-impact.md
  docs/qa/scenarios/ET-web-session-list-bulk-actions.md
  packages/ui/src/components/checkbox.tsx
  web/src/systems/os/apps/agents/agent-detail-location.tsx
  web/src/systems/os/apps/session/session-window-content.tsx
  web/src/systems/os/apps/session/session-window-empty.tsx
  web/src/systems/session/components/__tests__/session-delete-dialog.test.tsx
  web/src/systems/session/components/session-delete-dialog-set.tsx
  web/src/systems/session/components/session-list/session-list-row.tsx
  web/src/systems/session/hooks/__tests__/use-session-selection.test.ts
  web/src/systems/session/hooks/use-session-selection.ts
Due: turbo-lint

test: verify stopped-session queue response data
  internal/api/httpapi/handlers_test.go
Due: format-go

fix: settle each supervised task binding independently
  docs/_memory/change-impact.md
  docs/qa/scenarios/TA-action-run-liveness.md
  internal/daemon/loop_action_death_resume.go
  internal/daemon/session_work_recovery.go
  internal/daemon/task_runtime_boot.go
  internal/session/manager_stop_finalization.go
  internal/session/manager_stop_integration_test.go
  internal/session/stop_recovered_finalization.go
  internal/session/supervised_work_recovery.go
  internal/store/globaldb/global_db_loop_supervised_recovery.go
  internal/store/globaldb/global_db_loop_task_recovery.go
  internal/store/globaldb/global_db_task_supervised_recovery.go
  internal/store/globaldb/global_db_task_test.go
  internal/task/supervised_recovery.go
  skills/compozy/references/runtime-operations.md
Due: format-go

fix: keep bulk deletion recovery controls visible
  docs/qa/scenarios/ET-web-session-list-bulk-actions.md
  web/src/systems/session/components/session-delete-dialog-set.tsx
  web/src/systems/session/components/stories/session-delete-dialog.stories.tsx
Due: turbo-lint

fix: hide internal Goal prompts from the operator queue (#618)
  docs/_memory/change-impact.md
  docs/qa/reports/2026-09-11-issue-615-goal-queue.md
  docs/qa/scenarios/RT-019.md
  docs/qa/scenarios/RT-059.md
  internal/api/httpapi/handlers_test.go
  internal/store/globaldb/global_db_session_input_clear.go
  internal/store/globaldb/global_db_session_input_queue_terminal.go
  internal/store/globaldb/global_db_session_input_queue_test.go
  internal/store/globaldb/queries/session_input.sql
  internal/store/globaldb/queries/session_input_clear.sql
  internal/store/globaldb/sqlcgen/session_input.sql.go
  internal/store/globaldb/sqlcgen/session_input_clear.sql.go
  packages/site/content/docs/sessions/control-plane.mdx
  skills/compozy/references/extension-authoring.md
  skills/compozy/references/runtime-operations.md
  web/src/systems/session/components/assistant-ui/stories/session-thread-queue.stories.tsx
  web/src/systems/session/components/assistant-ui/stories/session-thread-story-queue.ts
  web/src/systems/session/lib/__tests__/queued-prompt.test.ts
Due: turbo-lint, format-go

feat: bulk actions for the sessions list (#619)
  docs/_memory/change-impact.md
  docs/design/opendesign/sessions-bulk-actions/index.html
  docs/qa/scenarios/ET-web-session-list-bulk-actions.md
  docs/qa/scenarios/ET-web-session-sidebar-threads.md
  packages/ui/src/components/__tests__/checkbox.test.tsx
  packages/ui/src/components/checkbox.tsx
  packages/ui/src/components/stories/checkbox.stories.tsx
  web/e2e/__tests__/session-bulk-actions.spec.ts
  web/src/systems/os/apps/agents/agent-detail-location.tsx
  web/src/systems/os/apps/session/session-window-content.tsx
  web/src/systems/os/apps/session/session-window-empty.tsx
  web/src/systems/os/components/__tests__/sessions-modal.test.tsx
  web/src/systems/os/components/desktop-shell.tsx
  web/src/systems/session/components/__tests__/session-delete-dialog.test.tsx
  web/src/systems/session/components/__tests__/session-list.test.tsx
  web/src/systems/session/components/session-delete-dialog-set.tsx
  web/src/systems/session/components/session-delete-dialog.tsx
  web/src/systems/session/components/session-list/session-list-row.tsx
  web/src/systems/session/components/session-list/session-list-selection-bar.tsx
  web/src/systems/session/components/session-list/session-list-thread.tsx
  web/src/systems/session/components/session-list/session-list.tsx
  web/src/systems/session/components/stories/session-bulk-fixtures.ts
  web/src/systems/session/components/stories/session-delete-dialog.stories.tsx
  web/src/systems/session/components/stories/session-sidebar.stories.tsx
  web/src/systems/session/hooks/__tests__/use-session-actions.test.tsx
  web/src/systems/session/hooks/__tests__/use-session-selection.test.ts
  web/src/systems/session/hooks/use-session-lifecycle-actions.ts
  web/src/systems/session/hooks/use-session-selection.ts
  web/src/systems/session/lib/session-batch.ts
Due: turbo-lint

fix: recover owned task work after supervised silence stops (#621)
  .github/workflows/ci.yml
  docs/_memory/change-impact.md
  docs/qa/scenarios/TA-action-run-liveness.md
  internal/daemon/boot_session_repair.go
  internal/daemon/loop_action_death_resume.go
  internal/daemon/session_work_recovery.go
  internal/daemon/task_runtime_boot.go
  internal/session/manager_lifecycle_contract_test.go
  internal/session/manager_stop_finalization.go
  internal/session/manager_stop_integration_test.go
  internal/session/manager_types.go
  internal/session/stop_recovered_finalization.go
  internal/session/supervised_work_recovery.go
  internal/store/globaldb/global_db_loop_supervised_recovery.go
  internal/store/globaldb/global_db_loop_task_recovery.go
  internal/store/globaldb/global_db_task_supervised_recovery.go
  internal/store/globaldb/global_db_task_test.go
  internal/task/supervised_recovery.go
  packages/site/content/docs/sessions/health.mdx
  skills/compozy/references/loops.md
  skills/compozy/references/runtime-operations.md
  skills/compozy/references/tasks-and-orchestration.md
Due: format-go

fix: preserve caller profiles in native heartbeat tools
  internal/daemon/native_tool_authored_paths.go
  internal/daemon/native_tool_session_calls.go
  internal/daemon/native_tools_test.go
Due: format-go

fix: remove incorrect limit promise from Goal approval
  docs/qa/bugs/BUG-20260911-goal-approval-limit-copy.md
  docs/qa/bugs/BUG-20260911-session-wait-misses-settled-edge.md
  docs/qa/reports/2026-09-10-qa-execution-unblock.md
  docs/qa/reports/2026-09-10-qa-execution-unblock/inventory.csv
  docs/qa/reports/2026-09-10-qa-execution-unblock/progress.json
  docs/qa/scenarios/GL-007.md
  docs/qa/scenarios/RT-session-wait-state.md
  web/src/systems/loops/components/run-page/loop-run-needs-you-card.tsx
Due: turbo-lint

fix: resolve profile agents and unavailable session ledgers
  internal/api/core/authored_context.go
  internal/api/core/authored_context_access.go
  internal/api/core/authored_context_heartbeat_handlers.go
  internal/api/core/authored_context_session_handlers.go
  internal/api/core/authored_context_target.go
  internal/api/core/authored_context_test.go
  internal/api/core/session_heartbeat_status.go
  internal/daemon/boot_runtime_services_test.go
  internal/daemon/memory_session_ledger_service.go
  web/src/systems/session/adapters/__tests__/session-api.test.ts
  web/src/systems/session/adapters/session-history-api.ts
  web/src/systems/session/components/session-inspector-memory.tsx
Due: turbo-lint, format-go

fix: restore Goal turn history in Run Inspect
  docs/qa/bugs/BUG-20260911-blocked-goal-manual.md
  docs/qa/bugs/BUG-20260911-goal-draft-empty-composer.md
  docs/qa/bugs/BUG-20260911-goal-turn-history-missing.md
  docs/qa/reports/2026-09-10-qa-execution-unblock.md
  docs/qa/reports/2026-09-10-qa-execution-unblock/inventory.csv
  docs/qa/reports/2026-09-10-qa-execution-unblock/progress.json
  docs/qa/scenarios/GL-004.md
  docs/qa/scenarios/GL-012.md
  docs/qa/scenarios/GL-013.md
  docs/qa/scenarios/LP-run-detail-story-redesign.md
  docs/qa/scenarios/TA-101.md
  docs/qa/scenarios/TA-104.md
  web/src/systems/loops/adapters/__tests__/loops-api.test.ts
  web/src/systems/loops/adapters/goal-turns-api.ts
  web/src/systems/loops/adapters/loops-api.ts
  web/src/systems/loops/components/__tests__/loop-run-page.test.tsx
  web/src/systems/loops/components/run-page/goal-turn-timeline.tsx
  web/src/systems/loops/components/run-page/loop-run-page-body.tsx
  web/src/systems/loops/components/run-page/loop-run-registers.tsx
  web/src/systems/loops/components/run-page/loop-run-turns-disclosure.tsx
  web/src/systems/loops/hooks/__tests__/use-loop-stream.test.tsx
  web/src/systems/loops/hooks/use-goal-turns.ts
  web/src/systems/loops/hooks/use-loop-stream.ts
  web/src/systems/loops/index.ts
  web/src/systems/loops/lib/__tests__/query-options.test.ts
  web/src/systems/loops/lib/query-keys.ts
  web/src/systems/loops/lib/query-options.ts
  web/src/systems/loops/types.ts
  web/src/systems/os/apps/loops/__tests__/loop-run-detail-location.test.tsx
  web/src/systems/os/apps/loops/loop-run-detail-location.tsx
  web/src/systems/os/apps/loops/use-loop-run-detail.ts
Due: turbo-lint

fix: retain agent identity in terminal processes
  docs/qa/bugs/BUG-20260910-terminal-agent-identity.md
  internal/terminal/actors.go
  internal/terminal/manager_exec.go
  internal/terminal/manager_launch.go
  internal/terminal/manager_test.go
  skills/compozy/references/terminal.md
Due: format-go

fix: classify missing memory workspaces as not found
  docs/qa/bugs/BUG-20260911-memory-health-workspace-not-found.md
  docs/qa/reports/2026-09-10-qa-execution-unblock.md
  docs/qa/reports/2026-09-10-qa-execution-unblock/inventory.csv
  docs/qa/reports/2026-09-10-qa-execution-unblock/progress.json
  docs/qa/scenarios/MS-011.md
  docs/qa/scenarios/TA-018.md
  docs/qa/scenarios/TA-019.md
  internal/api/core/errors.go
  internal/api/core/memory_workspace_test.go
Due: format-go

fix: publish prompt activity transitions to session waiters
  docs/qa/bugs/BUG-20260911-session-wait-misses-settled-edge.md
  docs/qa/reports/2026-09-10-qa-execution-unblock.md
  docs/qa/reports/2026-09-10-qa-execution-unblock/progress.json
  docs/qa/scenarios/RT-session-wait-state.md
  internal/session/manager_prompt_pump.go
  internal/session/manager_prompt_submit.go
  internal/session/session_presence.go
  internal/session/session_wait_test.go
Due: format-go

test: align QA fixtures with merged main contracts
  docs/qa/reports/2026-09-10-qa-execution-unblock.md
  docs/qa/reports/2026-09-10-qa-execution-unblock/progress.json
  docs/qa/reports/2026-09-10-qa-execution-unblock/rebase-impact.md
  web/src/components/assistant-ui/__tests__/session-thread.test.tsx
  web/src/components/assistant-ui/__tests__/session-timeline.logic.test.ts
  web/src/systems/os/components/__tests__/desktop-menubar.test.tsx
Due: turbo-lint

fix: prefill completed Goal drafts in the composer
  docs/qa/bugs/BUG-20260911-goal-draft-empty-composer.md
  docs/qa/bugs/BUG-20260911-goal-turn-history-missing.md
  docs/qa/reports/2026-09-10-qa-execution-unblock.md
  docs/qa/reports/2026-09-10-qa-execution-unblock/inventory.csv
  docs/qa/reports/2026-09-10-qa-execution-unblock/progress.json
  docs/qa/scenarios/GL-004.md
  docs/qa/scenarios/GL-013.md
  docs/qa/scenarios/TA-104.md
  web/src/components/assistant-ui/hooks/use-session-composer-state.ts
  web/src/systems/session/components/__tests__/session-chat-runtime-provider.test.tsx
  web/src/systems/session/hooks/use-session-chat-runtime.ts
  web/src/systems/session/stores/session-store.ts
Due: turbo-lint

fix: preserve Goal replacement feedback during active turns
  docs/qa/bugs/BUG-20260911-busy-goal-replacement-feedback.md
  docs/qa/bugs/BUG-20260911-goal-approval-limit-copy.md
  docs/qa/reports/2026-09-10-qa-execution-unblock.md
  docs/qa/reports/2026-09-10-qa-execution-unblock/inventory.csv
  docs/qa/reports/2026-09-10-qa-execution-unblock/progress.json
  docs/qa/scenarios/GL-007.md
  docs/qa/scenarios/GL-009.md
  docs/qa/scenarios/GL-010.md
  docs/qa/scenarios/GL-011.md
  web/src/systems/session/adapters/__tests__/session-api.test.ts
  web/src/systems/session/adapters/session-api-errors.ts
  web/src/systems/session/adapters/session-api.ts
  web/src/systems/session/hooks/__tests__/use-session-actions.test.tsx
  web/src/systems/session/hooks/use-session-actions.ts
Due: turbo-lint

docs: preserve QA execution checkpoint before main integration
  docs/qa/bugs/BUG-20260910-cursor-mcp-error-schema.md
  docs/qa/bugs/BUG-20260910-disabled-session-ledger.md
  docs/qa/bugs/BUG-20260910-profile-agent-heartbeat-missing.md
  docs/qa/reports/2026-09-10-qa-execution-unblock.md
  docs/qa/reports/2026-09-10-qa-execution-unblock/inventory.csv
  docs/qa/reports/2026-09-10-qa-execution-unblock/progress.json
  docs/qa/reports/2026-09-10-qa-execution-unblock/rebase-impact.md
  docs/qa/scenarios/ET-workspace-access-mode-matrix.md
  docs/qa/scenarios/MS-041.md
  docs/qa/scenarios/RT-024.md
Due: none

docs: record Goal control and session wait retakes
  docs/qa/reports/2026-09-10-qa-execution-unblock.md
  docs/qa/reports/2026-09-10-qa-execution-unblock/inventory.csv
  docs/qa/reports/2026-09-10-qa-execution-unblock/progress.json
  docs/qa/scenarios/GL-003.md
  docs/qa/scenarios/GL-005.md
  docs/qa/scenarios/GL-006.md
  docs/qa/scenarios/GL-008.md
  docs/qa/scenarios/RT-session-wait-state.md
Due: none

fix: preserve structured Goal validation failures
  docs/qa/bugs/BUG-20260911-goal-parser-preempts-guidance.md
  docs/qa/reports/2026-09-10-qa-execution-unblock.md
  docs/qa/reports/2026-09-10-qa-execution-unblock/inventory.csv
  docs/qa/reports/2026-09-10-qa-execution-unblock/progress.json
  docs/qa/scenarios/GL-001.md
  docs/qa/scenarios/GL-002.md
  docs/qa/scenarios/GL-003.md
  internal/session/command_parser.go
  internal/session/manager_busy_input_test.go
Due: format-go

fix: resolve native task claim workspace identities
  docs/qa/bugs/BUG-20260910-cursor-denial-hides-workspace-policy.md
  docs/qa/bugs/BUG-20260910-task-claim-workspace-identity.md
  docs/qa/reports/2026-09-10-qa-execution-unblock.md
  docs/qa/reports/2026-09-10-qa-execution-unblock/inventory.csv
  docs/qa/reports/2026-09-10-qa-execution-unblock/progress.json
  docs/qa/scenarios/APP-appimage-fuseless-launch.md
  docs/qa/scenarios/ET-terminal-windows-parity.md
  docs/qa/scenarios/ET-workspace-access-mode-matrix.md
  internal/daemon/native_tool_autonomy_calls.go
  internal/daemon/native_tools_test.go
  internal/task/lease_claim_hooks.go
  internal/task/lease_test.go
  skills/compozy/references/tasks-and-orchestration.md
Due: format-go

fix: include structured tool results in MCP text
  docs/qa/bugs/BUG-20260910-hosted-mcp-text-result.md
  internal/mcp/hosted_proxy_result.go
  internal/mcp/hosted_proxy_test.go
  skills/compozy/references/tools-and-skills.md
Due: format-go

docs: clarify direct Goal start after terminal blocking
  docs/qa/bugs/BUG-20260911-blocked-goal-manual.md
  docs/qa/bugs/BUG-20260911-busy-goal-replacement-feedback.md
  docs/qa/reports/2026-09-10-qa-execution-unblock.md
  docs/qa/reports/2026-09-10-qa-execution-unblock/inventory.csv
  docs/qa/reports/2026-09-10-qa-execution-unblock/progress.json
  docs/qa/scenarios/GL-009.md
  docs/qa/scenarios/GL-010.md
  docs/qa/scenarios/GL-011.md
  docs/qa/scenarios/GL-012.md
  skills/compozy/references/loops.md
Due: none

fix: honor session wait timeout beyond transport deadline
  docs/qa/bugs/BUG-20260911-session-wait-client-timeout.md
  internal/cli/client_session_wait.go
  internal/cli/client_test.go
Due: format-go

test: reconcile transcript expectations with main repairs
  docs/qa/bugs/BUG-20260911-workspace-hooks-not-dispatched.md
  docs/qa/reports/2026-09-10-qa-execution-unblock.md
  docs/qa/reports/2026-09-10-qa-execution-unblock/progress.json
  docs/qa/reports/2026-09-10-qa-execution-unblock/rebase-impact.md
  docs/qa/scenarios/GL-013.md
  web/src/components/assistant-ui/__tests__/session-thread.test.tsx
  web/src/components/assistant-ui/__tests__/session-timeline.logic.test.ts
Due: turbo-lint

docs: checkpoint QA race fixture and upstream review
  docs/qa/bugs/BUG-20260911-goal-draft-empty-composer.md
  docs/qa/reports/2026-09-10-qa-execution-unblock.md
  docs/qa/reports/2026-09-10-qa-execution-unblock/progress.json
  docs/qa/reports/2026-09-10-qa-execution-unblock/rebase-impact.md
Due: none

docs: close partial QA round and record open cases
  docs/qa/bugs/BUG-20260911-automation-trigger-cli-timeout.md
  docs/qa/bugs/BUG-20260911-model-catalog-test-cleanup.md
  docs/qa/bugs/BUG-20260911-workspace-hooks-not-dispatched.md
  docs/qa/reports/2026-09-10-qa-execution-unblock.md
  docs/qa/reports/2026-09-10-qa-execution-unblock/inventory.csv
  docs/qa/reports/2026-09-10-qa-execution-unblock/open-cases.md
  docs/qa/reports/2026-09-10-qa-execution-unblock/progress.json
  docs/qa/reports/2026-09-10-qa-execution-unblock/rebase-impact.md
  docs/qa/scenarios/GL-013.md
  docs/qa/scenarios/GL-027.md
  docs/qa/scenarios/TA-053.md
  docs/qa/scenarios/TA-095.md
Due: none

fix: dispatch workspace hooks with registered identities
  docs/_memory/change-impact.md
  docs/qa/bugs/BUG-20260911-workspace-hooks-not-dispatched.md
  docs/qa/reports/2026-09-10-qa-execution-unblock.md
  docs/qa/reports/2026-09-10-qa-execution-unblock/inventory.csv
  docs/qa/reports/2026-09-10-qa-execution-unblock/progress.json
  docs/qa/scenarios/GL-013.md
  docs/qa/scenarios/TA-104.md
  internal/api/core/handlers_observability.go
  internal/api/core/hooks_test.go
  internal/daemon/daemon_integration_test.go
  internal/daemon/daemon_test.go
  internal/daemon/hooks_declaration_workspace.go
  skills/compozy/references/extensions.md
Due: format-go

fix: preserve agent identities across runtime integration paths
  docs/qa/bugs/BUG-20260910-hosted-mcp-text-result.md
  docs/qa/bugs/BUG-20260910-profile-agent-heartbeat-missing.md
  docs/qa/bugs/BUG-20260910-terminal-agent-identity.md
  docs/qa/reports/2026-09-10-qa-execution-unblock.md
  docs/qa/scenarios/ET-workspace-access-mode-matrix.md
  docs/qa/scenarios/RT-024.md
  internal/acp/handlers_test.go
  internal/acp/terminal_create.go
  internal/api/core/authored_context.go
  internal/api/core/authored_context_target.go
  internal/daemon/agent_skill_catalog.go
  internal/daemon/agent_skill_resources_test.go
  internal/daemon/native_tool_authored_paths.go
  internal/extension/host_api_authored_context.go
  internal/extension/host_api_authored_context_session.go
  internal/heartbeat/authoring.go
  internal/mcp/hosted_proxy_result.go
  internal/mcp/hosted_proxy_test.go
Due: format-go
