Repository compozy/compozy: changes, and which pre-commit hooks are due for each by the changed paths.
All: turbo-lint, format-go

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit

default_stages:
  - pre-commit

exclude: |
  (?x)^(
    CHANGELOG.md|
    tools/.*/package\.json|
    bun.lockb|
    node_modules|
  )$

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      # - id: trailing-whitespace
      #   args:
      #     - --no-utf8-locale
      - id: end-of-file-fixer
        exclude: '^(CHANGELOG\.md|tools/.*/package\.json|bun\.lockb|node_modules/)'
      - id: check-json
        exclude: '^(tools/.*/package\.json|node_modules/)'
      - id: check-toml
      - id: check-added-large-files
        args:
          - --maxkb=3000
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: detect-private-key
  - repo: local
    hooks:
      - id: turbo-lint
        name: turbo lint
        description: Run linting via Turborepo
        entry: bun run lint
        language: system
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false
      # - id: turbo-type-check
      #   name: turbo type check
      #   description: Run TypeScript checking via Turborepo
      #   entry: bun run type-check
      #   language: system
      #   files: \.(ts|tsx)$
      #   pass_filenames: false
      - id: format-go
        name: format go
        description: Format Go files using make fmt
        entry: make fmt
        language: system
        files: \.go$
        pass_filenames: false
  - repo: https://github.com/lyz-code/yamlfix/
    rev: 1.17.0
    hooks:
      - id: yamlfix
        args:
          - -c
          - .yamlfix.toml
        exclude: ^cluster/.*$

ci(repo): Fix bun config
  .github/actions/setup-bun/action.yml
  .github/actions/setup-git-cliff/action.yml
  .github/actions/setup-go/action.yml
  .github/versions.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/coverage.yml
  .github/workflows/docker-dev.yml
  .github/workflows/release.yml
  .serena/memories/project_overview.md
  PR_RELEASE.md
  bun.lock
  cluster/compozy.Dockerfile
  cluster/compozy.goreleaser.Dockerfile
  cluster/mcpproxy.Dockerfile
  cluster/mcpproxy.goreleaser.Dockerfile
  docs/package.json
  go.mod
  package.json
Due: none

ci(release): Release v0.0.17 (#274)
  CHANGELOG.md
  package.json
Due: none

ci(repo): Fix bun config
  .github/actions/setup-bun/action.yml
  .github/actions/setup-git-cliff/action.yml
  .github/actions/setup-go/action.yml
  .github/versions.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/coverage.yml
  .github/workflows/docker-dev.yml
  .github/workflows/release.yml
  .goreleaser.yml
  .serena/memories/project_overview.md
  PR_RELEASE.md
  bun.lock
  cluster/compozy.Dockerfile
  cluster/compozy.goreleaser.Dockerfile
  cluster/mcpproxy.Dockerfile
  cluster/mcpproxy.goreleaser.Dockerfile
  docs/package.json
  go.mod
  go.sum
  package.json
Due: none

ci(repo): Fix dry-run release
  .github/workflows/release.yml
Due: none

fix(repo): PR suggestions
  .cursor/commands/pr-fix.md
  cli/cmd/knowledge/knowledge.go
  cluster/compozy.goreleaser.Dockerfile
  cluster/mcpproxy.goreleaser.Dockerfile
  docs/docs.go
  docs/swagger.json
  docs/swagger.yaml
  engine/core/params.go
  engine/infra/server/reconciler/reconciler.go
  engine/infra/server/router/testdata/swagger/knowledge.json
  engine/knowledge/config.go
  engine/knowledge/ingest/pipeline.go
  engine/knowledge/ingest/sources.go
  engine/knowledge/retriever/service.go
  engine/knowledge/uc/delete.go
  engine/knowledge/uc/ingest_uc.go
  engine/knowledge/uc/list.go
  engine/knowledge/uc/query_uc.go
  engine/knowledge/uc/upsert.go
  engine/knowledge/vectordb/pgvector.go
  engine/knowledge/vectordb/qdrant.go
  engine/llm/config.go
  engine/llm/orchestrator/request_builder_knowledge_test.go
  engine/llm/service.go
  examples/knowledge/pdf-url/entrypoint.ts
  examples/knowledge/query-cli/entrypoint.ts
  examples/knowledge/quickstart-markdown-glob/entrypoint.ts
  go.mod
  go.sum
  main.go
  schemas/compozy.json
  schemas/config-llm.json
  schemas/config.json
  schemas/embedder.json
  schemas/knowledge-base.json
  schemas/project.json
  schemas/vectordb.json
  schemas/workflow.json
  scripts/resolve_pr_issues.sh
  scripts/resolve_pr_threads.sh
Due: turbo-lint, format-go

feat(repo): Add ingest mode
  docs/content/docs/core/knowledge/ingestion.mdx
  engine/infra/server/dependencies.go
  engine/infra/server/knowledge_ingest.go
  engine/infra/server/knowledge_ingest_test.go
  engine/infra/server/router/knowledge/handlers.go
  engine/infra/server/router/knowledge/knowledge_router_test.go
  engine/knowledge/config.go
  engine/knowledge/config_test.go
  engine/project/indexer.go
  engine/project/indexer_test.go
  engine/project/knowledge.go
  engine/project/knowledge_test.go
  engine/task/uc/exec_task.go
  engine/task/uc/exec_task_test.go
  engine/workflow/config.go
  engine/workflow/indexer.go
  engine/workflow/indexer_test.go
  examples/knowledge/pdf-url/compozy.yaml
  examples/knowledge/pgvector-basic/compozy.yaml
  examples/knowledge/query-cli/compozy.yaml
  examples/knowledge/quickstart-markdown-glob/compozy.yaml
  schemas/compozy.json
  schemas/knowledge-base.json
  schemas/project.json
  schemas/workflow.json
Due: format-go

fix(repo): PR suggestions
  docs/docs.go
  docs/swagger.json
  docs/swagger.yaml
  engine/infra/server/router/knowledge/handlers.go
  engine/infra/server/router/testdata/swagger/knowledge.json
  engine/knowledge/vectordb/pgvector.go
  engine/knowledge/vectordb/qdrant.go
  engine/llm/service.go
  scripts/resolve_pr_issues.sh
  test/integration/worker/dispatch/dispatcher_test.go
Due: format-go

fix(repo): PR suggestions
  docs/content/docs/cli/knowledge-commands.mdx
  docs/content/docs/core/knowledge/configuration.mdx
  docs/content/docs/schema/knowledge-bases.mdx
  docs/content/docs/schema/project.mdx
  docs/content/docs/schema/vector-dbs.mdx
  engine/knowledge/config.go
  engine/knowledge/configutil/config.go
  engine/knowledge/ingest/pipeline_test.go
  engine/knowledge/retriever/service_test.go
  engine/knowledge/vectordb/interface.go
  engine/knowledge/vectordb/memory.go
  engine/knowledge/vectordb/memory_test.go
  engine/knowledge/vectordb/search_helpers.go
  engine/knowledge/vectordb/store.go
  engine/knowledge/vectordb/store_test.go
  engine/llm/service_test.go
  engine/task/uc/exec_task_test.go
  examples/knowledge/query-cli/compozy.yaml
  examples/knowledge/quickstart-markdown-glob/README.md
  examples/knowledge/quickstart-markdown-glob/api.http
  examples/knowledge/quickstart-markdown-glob/compozy.yaml
Due: format-go

fix(repo): PR suggestions
  engine/infra/server/knowledge_ingest.go
  engine/infra/server/knowledge_ingest_test.go
  engine/knowledge/config.go
  engine/knowledge/config_test.go
  engine/knowledge/uc/ingest_uc.go
  engine/knowledge/vectordb/manager.go
  engine/knowledge/vectordb/pgvector.go
  engine/knowledge/vectordb/store_test.go
  engine/llm/service.go
  engine/llm/service_test.go
  engine/project/knowledge_test.go
  engine/task/uc/exec_task_test.go
  env.example
  pkg/template/templates/basic/docker-compose.yaml.tmpl
Due: format-go

fix(repo): PR suggestions
  .serena/.gitignore
  .serena/memories/coding_standards.md
  .serena/memories/project_overview.md
  .serena/memories/suggested_commands.md
  .serena/memories/task_completion_workflow.md
  .serena/project.yml
  .taskmaster/config.json
  .taskmaster/state.json
  AGENTS.md
  CLAUDE.md
  EMBEDDING_IMPROVEMENTS.md
  GEMINI.md
  engine/knowledge/config.go
  engine/knowledge/config_test.go
  engine/knowledge/uc/ingest_uc.go
  engine/knowledge/vectordb/pgvector.go
  engine/llm/knowledge_manager.go
  engine/llm/knowledge_manager_test.go
  engine/llm/orchestrator/loop.go
  engine/llm/orchestrator/loop_context_usage_test.go
  engine/llm/orchestrator/orchestrator.go
  engine/llm/orchestrator/request_builder.go
  engine/llm/orchestrator/request_builder_knowledge_test.go
  engine/llm/orchestrator/request_builder_test.go
  engine/llm/orchestrator/types.go
  engine/llm/service.go
  engine/llm/service_test.go
  pkg/config/provider_watch_test.go
Due: format-go

docs(repo): Fix build
  bun.lock
  docs/package.json
  docs/src/components/ui/steps.tsx
Due: turbo-lint

fix(repo): PR suggestions
  AGENTS.md
  CLAUDE.md
  GEMINI.md
  engine/core/knowledge_test.go
  engine/knowledge/uc/decode_test.go
  engine/knowledge/uc/delete_test.go
  engine/knowledge/uc/helpers_test.go
  engine/knowledge/uc/ingest_pipeline_test.go
  engine/knowledge/uc/ingest_query_test.go
  engine/knowledge/uc/store_ops_test.go
  engine/knowledge/uc/upsert_additional_test.go
  engine/knowledge/vectordb/pgvector.go
  engine/llm/service.go
  engine/resourceutil/conflict_test.go
  engine/resourceutil/pagination_test.go
  engine/resourceutil/references_test.go
  pkg/config/watcher_test.go
Due: format-go

fix(repo): PR suggestions
  .cursor/commands/pr-fix.md
  engine/core/knowledge_test.go
  engine/knowledge/config.go
  engine/knowledge/configutil/config.go
  engine/knowledge/uc/decode_test.go
  engine/knowledge/uc/delete_test.go
  engine/knowledge/uc/helpers_test.go
  engine/knowledge/uc/ingest_pipeline_test.go
  engine/knowledge/uc/ingest_query_test.go
  engine/knowledge/uc/store_ops_test.go
  engine/knowledge/uc/upsert_additional_test.go
  engine/knowledge/vectordb/interface.go
  engine/knowledge/vectordb/pgvector.go
  engine/llm/knowledge_manager.go
  engine/llm/service.go
  engine/resourceutil/conflict.go
  engine/resourceutil/conflict_test.go
  schemas/compozy.json
  schemas/project.json
  schemas/vectordb.json
  scripts/pr-review.ts
  scripts/read_pr_issues.sh
  scripts/resolve_pr_issues.sh
Due: turbo-lint, format-go

feat(repo): Add support for Redis vector
  cluster/docker-compose.yml
  engine/infra/cache/notification_test.go
  engine/infra/server/knowledge_ingest.go
  engine/knowledge/config.go
  engine/knowledge/config_test.go
  engine/knowledge/configutil/config.go
  engine/knowledge/ingest/pdf_pipeline_test.go
  engine/knowledge/vectordb/interface.go
  engine/knowledge/vectordb/redis.go
  engine/knowledge/vectordb/redis_integration_test.go
  engine/knowledge/vectordb/store.go
  engine/knowledge/vectordb/store_test.go
  engine/llm/orchestrator/request_builder.go
  engine/pdftext/extractor.go
  engine/pdftext/extractor_test.go
  env.example
  examples/knowledge/markdown-glob/compozy.yaml
  examples/knowledge/pdf-url/README.md
  examples/knowledge/pdf-url/compozy.yaml
Due: format-go

refactor(repo): Use url source instead of pdf_url
  docs/content/docs/core/knowledge/configuration.mdx
  docs/content/docs/core/knowledge/ingestion.mdx
  docs/content/docs/schema/knowledge-bases.mdx
  docs/docs.go
  docs/swagger.json
  docs/swagger.yaml
  engine/attachment/download.go
  engine/knowledge/config.go
  engine/knowledge/ingest/pdf_pipeline_test.go
  engine/knowledge/ingest/sources.go
  engine/task/uc/exec_task_test.go
  examples/knowledge/pdf-url/compozy.yaml
  tasks/prd-embedding/_docs.md
  tasks/prd-embedding/_examples.md
  tasks/prd-embedding/_prd.md
  tasks/prd-embedding/_task_5.md
  tasks/prd-embedding/_techspec.md
  test/e2e/pdf_workflow_e2e_test.go
Due: format-go

refactor(repo): Improve global config
  cli/cmd/config/config.go
  cli/helpers/flag_categories.go
  engine/knowledge/ingest/pipeline_test.go
  engine/knowledge/ingest/sources.go
  engine/knowledge/vectordb/qdrant.go
  pkg/config/config.go
  pkg/config/definition/schema.go
Due: format-go

fix(repo): PR suggestions
  engine/infra/cache/notification_test.go
  engine/knowledge/config_test.go
  engine/knowledge/configutil/config.go
  engine/knowledge/configutil/config_test.go
  engine/knowledge/ingest/pipeline_test.go
  engine/knowledge/ingest/sources.go
  engine/knowledge/vectordb/redis_integration_test.go
  engine/knowledge/vectordb/store.go
  engine/knowledge/vectordb/store_test.go
Due: format-go

fix(repo): Tests
  engine/knowledge/config_test.go
Due: format-go

ci(release): Release v0.0.17 (#284)
  CHANGELOG.md
  package.json
Due: none

refactor(repo): Standardize executions routes
  docs/content/docs/api/agents.mdx
  docs/content/docs/api/tasks.mdx
  docs/docs.go
  docs/swagger.json
  docs/swagger.yaml
  engine/agent/router/dto.go
  engine/agent/router/exec.go
  engine/agent/router/exec_test.go
  engine/agent/router/register.go
  engine/task/router/dto.go
  engine/task/router/exec.go
  engine/task/router/exec_test.go
  engine/task/router/register.go
  examples/sync/api.http
  package.json
  test/integration/server/executions_integration_test.go
Due: format-go

feat(repo): Task 3 and 4
  .cursor/commands/task-next.md
  cli/api/services.go
  docs/adr/20251015-llm-usage-reporting.md
  docs/docs.go
  docs/swagger.json
  docs/swagger.yaml
  engine/agent/router/dto.go
  engine/agent/router/exec.go
  engine/infra/postgres/usage_repo.go
  engine/infra/server/router/helpers.go
  engine/infra/server/router/usage.go
  engine/infra/server/worker.go
  engine/llm/orchestrator/loop.go
  engine/llm/usage/collector.go
  engine/llm/usage/collector_test.go
  engine/llm/usage/domain.go
  engine/task/activities/exec_basic.go
  engine/task/activities/exec_subtask.go
  engine/task/directexec/direct_executor.go
  engine/task/router/dto.go
  engine/task/router/exec.go
  engine/task/router/exec_test.go
  engine/worker/activities.go
  engine/worker/mod.go
  engine/workflow/router/docs.go
  engine/workflow/router/dto.go
  engine/workflow/router/execs.go
  engine/workflow/router/execute_sync.go
  engine/workflow/router/execute_sync_test.go
  schemas/compozy.json
  schemas/config-knowledge.json
  schemas/config.json
  test/integration/repo/usage_test.go
  test/integration/tool/runtime_integration_test.go
  test/integration/worker/basic/basic_helpers.go
  test/integration/worker/context/context_propagation_test.go
  test/integration/worker/helpers/common.go
Due: format-go

feat(repo): Task 5 and 6
  cluster/grafana/alerts/README.md
  cluster/grafana/alerts/llm-usage-alerts.yaml
  cluster/grafana/dashboards/compozy-monitoring.json
  docs/content/docs/cli/executions.mdx
  docs/content/docs/cli/meta.json
  docs/content/docs/core/configuration/monitoring.mdx
  docs/content/docs/core/metrics/meta.json
  docs/content/docs/core/metrics/monitor-usage.mdx
  docs/content/docs/schema/execution-usage.mdx
  docs/content/docs/schema/meta.json
  engine/infra/monitoring/llm_usage_metrics.go
  engine/infra/monitoring/llm_usage_metrics_test.go
  engine/infra/monitoring/monitoring.go
  engine/llm/usage/collector.go
  engine/llm/usage/collector_test.go
  engine/llm/usage/domain.go
  engine/task/activities/exec_basic.go
  engine/task/activities/exec_subtask.go
  engine/task/directexec/direct_executor.go
  engine/worker/activities.go
  engine/worker/mod.go
  schemas/execution-usage.json
  test/integration/tool/runtime_integration_test.go
  test/integration/worker/basic/basic_helpers.go
  test/integration/worker/context/context_propagation_test.go
  test/integration/worker/helpers/common.go
Due: format-go

fix(repo): PR suggestions
  cli/api/services.go
  engine/agent/router/exec.go
  engine/infra/monitoring/llm_usage_metrics_test.go
  engine/infra/monitoring/monitoring.go
  engine/infra/postgres/migrations/20251015090000_create_execution_llm_usage.sql
  engine/infra/postgres/usage_repo.go
  engine/infra/server/router/usage.go
  engine/llm/adapter/langchain_adapter.go
  engine/llm/adapter/langchain_adapter_test.go
  engine/llm/usage/collector.go
  engine/llm/usage/collector_test.go
  engine/task/activities/exec_subtask.go
  engine/task/router/exec.go
  engine/task/router/exec_test.go
  engine/worker/activities.go
  engine/workflow/router/execs.go
  engine/workflow/router/execute_sync.go
  engine/workflow/router/execute_sync_test.go
  go.mod
  go.sum
  pkg/apitypes/usage_summary.go
  test/integration/repo/usage_test.go
  test/integration/server/executions_integration_test.go
  test/integration/tool/runtime_integration_test.go
  test/integration/worker/helpers/common.go
Due: format-go

fix(repo): PR suggestions
  engine/infra/monitoring/llm_usage_metrics.go
  engine/infra/monitoring/memory_interceptor.go
  engine/infra/monitoring/monitoring.go
  engine/infra/postgres/usage_repo.go
  engine/llm/adapter/interface.go
  engine/llm/adapter/langchain_adapter.go
  engine/llm/orchestrator/loop.go
  engine/llm/orchestrator/request_builder.go
  engine/llm/usage/collector_test.go
  engine/llm/usage/domain.go
  engine/task/router/exec_test.go
  engine/workflow/router/execs.go
  engine/workflow/router/execute_sync_test.go
  test/integration/worker/helpers/common.go
Due: format-go

fix(repo): PR suggestions
  engine/infra/monitoring/llm_usage_metrics.go
  engine/infra/postgres/migrations/20251016150000_add_task_states_task_exec_idx.sql
  engine/infra/postgres/usage_repo.go
  engine/llm/adapter/langchain_adapter.go
  engine/llm/orchestrator/loop.go
  engine/task/router/exec_test.go
  engine/workflow/router/execs.go
  engine/workflow/router/execute_sync_test.go
  test/integration/worker/helpers/common.go
Due: format-go

fix(repo): PR suggestions
  docs/docs.go
  docs/swagger.json
  docs/swagger.yaml
  engine/agent/router/exec.go
  engine/infra/monitoring/llm_usage_metrics.go
  engine/infra/postgres/migrations/20251016150000_add_task_states_task_exec_idx.sql
  engine/infra/postgres/taskrepo.go
  engine/infra/postgres/workflowrepo.go
  engine/llm/orchestrator/loop.go
  engine/llm/usage/collector.go
  engine/llm/usage/collector_test.go
  engine/llm/usage/domain.go
  engine/llm/usage/domain_test.go
  engine/task/activities/exec_basic.go
  engine/task/activities/exec_subtask.go
  engine/task/router/exec.go
  engine/task/router/exec_test.go
  engine/workflow/router/execs.go
  engine/workflow/router/execute_sync.go
  engine/workflow/router/execute_sync_test.go
  go.mod
  go.sum
  pkg/apitypes/usage_summary.go
  pkg/apitypes/usage_summary_test.go
  pkg/schemagen/generator.go
  pkg/schemagen/runtime_merge.go
  pkg/schemagen/unified_schema.go
  pkg/template/templates/basic/docker-compose.yaml.tmpl
Due: format-go

refactor(repo): A lot of improvements
  .gitignore
  engine/core/provider.go
  engine/llm/adapter/context.go
  engine/llm/adapter/interface.go
  engine/llm/adapter/langchain_adapter.go
  engine/llm/orchestrator/request_builder.go
  engine/tool/builtin/filesystem/list_files.go
  engine/tool/builtin/filesystem/list_files_test.go
  pkg/config/config.go
  pkg/config/definition/schema.go
  pkg/schemagen/generator.go
Due: format-go

refactor(repo): Improve code-review example
  examples/code-reviewer/README.md
  examples/code-reviewer/agents/analyzer.yaml
  examples/code-reviewer/agents/readme_reviewer.yaml
  examples/code-reviewer/api.http
  examples/code-reviewer/compozy.yaml
  examples/code-reviewer/package.json
  examples/code-reviewer/workflows/review-batch.yaml
  examples/code-reviewer/workflows/review.yaml
Due: none
