Repository compozy/compozy: changes, and which pre-commit hooks are due for each by the changed paths.
All: turbo-lint, format-go

turbo-lint:
  name: turbo lint
  description: Run linting via Turborepo
  entry: bun run lint
  language: system
  pass_filenames: false

format-go:
  name: format go
  description: Format Go files using make fmt
  entry: make fmt
  language: system
  pass_filenames: false

feat: add auto-update support
  cmd/compozy/main.go
  go.mod
  go.sum
  internal/cli/root.go
  internal/cli/root_test.go
  internal/cli/upgrade.go
  internal/update/check.go
  internal/update/check_test.go
  internal/update/install.go
  internal/update/install_test.go
  internal/update/state.go
  internal/update/state_test.go
Due: format-go

fix: close task
  .codex/ledger/2026-04-07-MEMORY-acp-cockpit-hang.md
  .compozy/tasks/auto-update/_meta.md
  .compozy/tasks/auto-update/_tasks.md
  .compozy/tasks/auto-update/memory/MEMORY.md
  .compozy/tasks/auto-update/memory/task_01.md
  .compozy/tasks/auto-update/task_01.md
  .compozy/tasks/refac/_meta.md
  internal/core/run/executor/execution.go
  internal/core/run/executor/execution_acp_test.go
  internal/core/run/executor/execution_ui_test.go
Due: format-go

docs: update prd
  .compozy/tasks/refac/reviews-001/_meta.md
Due: none

docs: remove old docs
  ai-docs/reviews-pr-60/_summary.md
  ai-docs/reviews-pr-60/issues/001-issue.md
  ai-docs/reviews-pr-60/issues/002-issue.md
  ai-docs/reviews-pr-60/issues/003-issue.md
  ai-docs/reviews-pr-60/issues/004-issue.md
  ai-docs/reviews-pr-60/issues/005-issue.md
  ai-docs/reviews-pr-60/issues/006-issue.md
  ai-docs/reviews-pr-60/issues/007-issue.md
  ai-docs/reviews-pr-60/issues/008-issue.md
  ai-docs/reviews-pr-60/issues/009-issue.md
  ai-docs/reviews-pr-60/issues/010-issue.md
  ai-docs/reviews-pr-60/issues/011-issue.md
  ai-docs/reviews-pr-60/outside/002-outside_01_internal_core_run_execution.go.md
  ai-docs/reviews-pr-60/outside/004-outside_01_internal_core_workspace_config.go.md
  ai-docs/reviews-pr-68/_manual-triage.md
  ai-docs/reviews-pr-68/_summary.md
  ai-docs/reviews-pr-68/issues/001-issue.md
  ai-docs/reviews-pr-68/issues/002-issue.md
  ai-docs/reviews-pr-68/issues/003-issue.md
  ai-docs/reviews-pr-68/issues/004-issue.md
  ai-docs/reviews-pr-68/issues/005-issue.md
  ai-docs/reviews-pr-68/issues/006-issue.md
  ai-docs/reviews-pr-68/issues/007-issue.md
  ai-docs/reviews-pr-68/issues/008-issue.md
  ai-docs/reviews-pr-68/outside/002-outside_01_internal_core_agent_session.go.md
  ai-docs/reviews-pr-68/outside/002-outside_02_internal_core_run_logging.go.md
  ai-docs/reviews-pr-68/outside/003-outside_01_internal_core_run_execution_ui_test.go.md
Due: none

build: git ignore
  .gitignore
Due: none

fix: resolve PR #70 review issues
  ai-docs/reviews-pr-70/_summary.md
  ai-docs/reviews-pr-70/issues/001-issue.md
  ai-docs/reviews-pr-70/issues/002-issue.md
  ai-docs/reviews-pr-70/issues/003-issue.md
  ai-docs/reviews-pr-70/issues/004-issue.md
  ai-docs/reviews-pr-70/issues/005-issue.md
  ai-docs/reviews-pr-70/issues/006-issue.md
  ai-docs/reviews-pr-70/outside/002-outside_01_internal_core_plan_journal.go.md
  internal/contentblock/engine.go
  internal/contentblock/engine_test.go
  internal/core/agent/registry_launch.go
  internal/core/agent/registry_test.go
  internal/core/migration/workflow_target.go
  internal/core/migration/workflow_target_test.go
  internal/core/model/preparation_test.go
  internal/core/plan/journal.go
Due: format-go

fix: review rounds
  .codex/ledger/2026-04-07-MEMORY-review-nitpicks.md
  cmd/compozy/main.go
  cmd/compozy/main_test.go
  internal/cli/kernel_dispatch_test.go
  internal/cli/root_test.go
  internal/cli/run.go
  internal/cli/state.go
  internal/cli/workspace_config_test.go
  internal/core/agent/acp_convert.go
  internal/core/agent/client.go
  internal/core/agent/session_helpers_test.go
  internal/core/agent/tool_call_input.go
  internal/core/agent/tool_call_name.go
  internal/core/kernel/core_adapters_test.go
  internal/core/kernel/deps_test.go
  internal/core/model/preparation.go
Due: format-go

fix: review rounds
  .codex/ledger/2026-04-07-MEMORY-review-fixes.md
  cmd/compozy/main.go
  cmd/compozy/main_test.go
  internal/cli/root_test.go
  internal/cli/state.go
  internal/cli/workspace_config_test.go
  internal/core/agent/acp_convert.go
  internal/core/agent/session_helpers_test.go
  internal/core/agent/tool_call_name.go
  internal/core/agent/tool_call_name_test.go
Due: format-go

fix: resolve PR #70 review issues
  ai-docs/reviews-pr-70/_summary.md
  ai-docs/reviews-pr-70/issues/001-issue.md
  ai-docs/reviews-pr-70/issues/002-issue.md
  ai-docs/reviews-pr-70/issues/003-issue.md
  ai-docs/reviews-pr-70/issues/004-issue.md
  ai-docs/reviews-pr-70/issues/005-issue.md
  ai-docs/reviews-pr-70/issues/006-issue.md
  ai-docs/reviews-pr-70/outside/002-outside_01_internal_core_plan_journal.go.md
  internal/core/agent/registry_launch.go
  internal/core/agent/registry_test.go
  internal/core/agent/registry_validate.go
Due: format-go

fix: review round
  .agents/skills/fix-coderabbit-review/SKILL.md
  .agents/skills/fix-coderabbit-review/scripts/pr-review.ts
  .agents/skills/fix-coderabbit-review/scripts/pr_review.py
  .agents/skills/fix-coderabbit-review/scripts/resolve_pr_issues.py
  .agents/skills/fix-coderabbit-review/scripts/resolve_pr_issues.sh
  .codex/ledger/2026-04-07-MEMORY-pr70-coderabbit.md
  ai-docs/reviews-pr-70/_summary.md
  ai-docs/reviews-pr-70/issues/001-issue.md
  ai-docs/reviews-pr-70/issues/002-issue.md
  ai-docs/reviews-pr-70/issues/003-issue.md
  ai-docs/reviews-pr-70/issues/004-issue.md
  ai-docs/reviews-pr-70/issues/005-issue.md
  ai-docs/reviews-pr-70/issues/006-issue.md
  ai-docs/reviews-pr-70/outside/002-outside_01_internal_core_plan_journal.go.md
  skills-lock.json
Due: turbo-lint

feat: generate .compozy/README.md during setup
  .compozy/tasks/setup-readme-generation/_idea.md
  .compozy/tasks/setup-readme-generation/adrs/adr-001.md
  internal/cli/setup.go
  internal/cli/setup_test.go
  internal/setup/readme.go
  internal/setup/readme_test.go
Due: format-go

fix: use ReadTaskMeta in form listing to avoid rewriting all _meta.md files
  internal/cli/form.go
  internal/cli/form_test.go
Due: format-go

feat: add make install target for build + GOPATH/bin install
  Makefile
Due: none

fix: stop rewriting all _meta.md files when listing workflows (#73)
  Makefile
  internal/cli/form.go
  internal/cli/form_test.go
Due: format-go

refactor: add nitpicks for coderabbit
  internal/cli/commands.go
  internal/cli/form.go
  internal/cli/form_test.go
  internal/cli/kernel_dispatch_test.go
  internal/cli/root_test.go
  internal/cli/state.go
  internal/cli/workspace_config.go
  internal/cli/workspace_config_test.go
  internal/core/api.go
  internal/core/fetch.go
  internal/core/fetch_test.go
  internal/core/kernel/commands/commands_test.go
  internal/core/kernel/commands/reviews_fetch.go
  internal/core/model/runtime_config.go
  internal/core/model/task_review.go
  internal/core/provider/coderabbit/coderabbit.go
  internal/core/provider/coderabbit/coderabbit_test.go
  internal/core/provider/coderabbit/nitpicks.go
  internal/core/provider/coderabbit/nitpicks_test.go
  internal/core/provider/provider.go
  internal/core/provider/registry_test.go
  internal/core/reviews/parser.go
  internal/core/reviews/parser_test.go
  internal/core/reviews/store.go
  internal/core/reviews/store_test.go
  internal/core/run/executor/execution_test.go
  internal/core/workspace/config_test.go
  internal/core/workspace/config_types.go
Due: format-go

fix: resolve nitpicks review batch
  .compozy/tasks/nitpicks/reviews-001/issue_001.md
  .compozy/tasks/nitpicks/reviews-001/issue_002.md
  .compozy/tasks/nitpicks/reviews-001/issue_003.md
  .compozy/tasks/nitpicks/reviews-001/issue_004.md
  .compozy/tasks/nitpicks/reviews-001/issue_005.md
  internal/cli/form_test.go
  internal/cli/workspace_config_test.go
  internal/core/fetch.go
  internal/core/fetch_test.go
  internal/core/provider/coderabbit/nitpicks.go
  internal/core/provider/coderabbit/nitpicks_test.go
Due: format-go

docs: update prd
  .compozy/tasks/nitpicks/reviews-001/_meta.md
Due: none

refactor: add nitpicks for coderabbit (#75)
  .compozy/tasks/nitpicks/reviews-001/_meta.md
  .compozy/tasks/nitpicks/reviews-001/issue_001.md
  .compozy/tasks/nitpicks/reviews-001/issue_002.md
  .compozy/tasks/nitpicks/reviews-001/issue_003.md
  .compozy/tasks/nitpicks/reviews-001/issue_004.md
  .compozy/tasks/nitpicks/reviews-001/issue_005.md
  internal/cli/commands.go
  internal/cli/form.go
  internal/cli/form_test.go
  internal/cli/kernel_dispatch_test.go
  internal/cli/root_test.go
  internal/cli/state.go
  internal/cli/workspace_config.go
  internal/cli/workspace_config_test.go
  internal/core/api.go
  internal/core/fetch.go
  internal/core/fetch_test.go
  internal/core/kernel/commands/commands_test.go
  internal/core/kernel/commands/reviews_fetch.go
  internal/core/model/runtime_config.go
  internal/core/model/task_review.go
  internal/core/provider/coderabbit/coderabbit.go
  internal/core/provider/coderabbit/coderabbit_test.go
  internal/core/provider/coderabbit/nitpicks.go
  internal/core/provider/coderabbit/nitpicks_test.go
  internal/core/provider/provider.go
  internal/core/provider/registry_test.go
  internal/core/reviews/parser.go
  internal/core/reviews/parser_test.go
  internal/core/reviews/store.go
  internal/core/reviews/store_test.go
  internal/core/run/executor/execution_test.go
  internal/core/workspace/config_test.go
  internal/core/workspace/config_types.go
Due: format-go

ci(release): prepare release v0.1.10 (#76)
  CHANGELOG.md
  package.json
Due: none

feat: add reusable agent registry
  .compozy/tasks/agents/_tasks.md
  .compozy/tasks/agents/task_01.md
  internal/core/agents/agents.go
  internal/core/agents/agents_test.go
Due: format-go

feat: add reusable agent runtime prompt assembly
  internal/cli/root_test.go
  internal/cli/run.go
  internal/cli/state.go
  internal/core/agents/execution.go
  internal/core/agents/execution_test.go
  internal/core/api.go
  internal/core/kernel/commands/commands_test.go
  internal/core/model/runtime_config.go
  internal/core/plan/prepare.go
  internal/core/plan/prepare_test.go
  internal/core/run/exec/exec.go
  internal/core/run/exec/exec_integration_test.go
Due: format-go

feat: add ACP nested run_agent engine
  internal/core/agent/client.go
  internal/core/agent/client_test.go
  internal/core/agents/agents.go
  internal/core/agents/execution.go
  internal/core/agents/execution_test.go
  internal/core/agents/mcpserver/engine.go
  internal/core/agents/mcpserver/engine_test.go
  internal/core/agents/session_mcp.go
  internal/core/agents/session_mcp_test.go
  internal/core/model/mcp.go
  internal/core/model/preparation.go
  internal/core/plan/prepare.go
  internal/core/run/exec/exec.go
  internal/core/run/exec/exec_integration_test.go
  internal/core/run/exec/exec_test.go
  internal/core/run/exec/prompt_exec.go
  internal/core/run/exec/run_agent_engine_integration_test.go
  internal/core/run/exec/test_helpers_test.go
  internal/core/run/internal/acpshared/command_io.go
  internal/core/run/internal/acpshared/command_io_test.go
  internal/core/run/internal/runshared/config.go
Due: format-go

feat: add reusable agent CLI surfaces
  go.mod
  go.sum
  internal/cli/agents_commands.go
  internal/cli/agents_commands_test.go
  internal/cli/commands.go
  internal/cli/root.go
  internal/cli/root_command_execution_test.go
  internal/cli/root_test.go
  internal/cli/run.go
  internal/cli/state.go
  internal/cli/testdata/exec_help.golden
  internal/core/agents/mcpserver/server.go
  internal/core/agents/mcpserver/server_test.go
Due: format-go

feat: harden reusable agent execution
  docs/events.md
  internal/cli/root_command_execution_test.go
  internal/cli/run.go
  internal/core/agents/mcpserver/engine.go
  internal/core/agents/mcpserver/engine_test.go
  internal/core/agents/mcpserver/server_test.go
  internal/core/agents/reasons.go
  internal/core/agents/session_mcp.go
  internal/core/agents/session_mcp_test.go
  internal/core/run/exec/aliases.go
  internal/core/run/exec/exec.go
  internal/core/run/executor/execution_acp_integration_test.go
  internal/core/run/internal/acpshared/aliases.go
  internal/core/run/internal/acpshared/command_io.go
  internal/core/run/internal/acpshared/command_io_test.go
  internal/core/run/internal/acpshared/reusable_agent_lifecycle.go
  internal/core/run/internal/acpshared/session_handler.go
  internal/core/run/internal/acpshared/session_handler_test.go
  internal/core/run/internal/runshared/config.go
  internal/core/run/internal/runshared/types.go
  internal/core/run/test_hooks.go
  pkg/compozy/events/docs_test.go
  pkg/compozy/events/event.go
  pkg/compozy/events/event_test.go
  pkg/compozy/events/kinds/reusable_agent.go
Due: format-go

docs: add reusable agent guide and fixtures
  README.md
  docs/examples/agents/repo-copilot/AGENT.md
  docs/examples/agents/repo-copilot/mcp.json
  docs/examples/agents/reviewer/AGENT.md
  docs/reusable-agents.md
  internal/cli/reusable_agents_doc_examples_test.go
  internal/core/agents/doc_examples_test.go
Due: format-go

docs: update prd
  .compozy/tasks/agents/reviews-001/_meta.md
Due: none

fix: review round
  .compozy/tasks/agents/reviews-002/_meta.md
  .compozy/tasks/agents/reviews-002/issue_001.md
  .compozy/tasks/agents/reviews-002/issue_002.md
  .compozy/tasks/agents/reviews-002/issue_003.md
  .compozy/tasks/agents/reviews-002/issue_004.md
  .compozy/tasks/agents/reviews-002/issue_005.md
  .compozy/tasks/agents/reviews-002/issue_006.md
  .compozy/tasks/agents/reviews-002/issue_007.md
  .compozy/tasks/agents/reviews-002/issue_008.md
  .compozy/tasks/agents/reviews-002/issue_009.md
  .compozy/tasks/agents/reviews-002/issue_010.md
  internal/core/agents/agents.go
  internal/core/agents/agents_test.go
  internal/core/agents/mcpserver/server_test.go
  internal/core/run/exec/exec_test.go
  internal/core/run/exec/prompt_exec.go
Due: format-go

fix: review round 2
  .compozy/tasks/agents/reviews-003/_meta.md
  .compozy/tasks/agents/reviews-003/issue_001.md
  .compozy/tasks/agents/reviews-003/issue_002.md
  .compozy/tasks/agents/reviews-003/issue_003.md
  .compozy/tasks/agents/reviews-003/issue_004.md
  .compozy/tasks/agents/reviews-003/issue_005.md
  internal/core/run/exec/exec_test.go
  internal/core/run/exec/prompt_exec.go
Due: format-go

feat: scaffold extension manifest and enablement foundation
  internal/core/extension/doc.go
  internal/core/extension/enablement.go
  internal/core/extension/enablement_test.go
  internal/core/extension/manifest.go
  internal/core/extension/manifest_load.go
  internal/core/extension/manifest_test.go
  internal/core/extension/manifest_validate.go
Due: format-go

refactor: extract shared subprocess package
  .compozy/tasks/extensibility/_tasks.md
  .compozy/tasks/extensibility/task_01.md
  internal/core/agent/client.go
  internal/core/agent/client_test.go
  internal/core/agent/process_unix.go
  internal/core/agent/registry_launch.go
  internal/core/agent/session_helpers_test.go
  internal/core/subprocess/handshake.go
  internal/core/subprocess/process.go
  internal/core/subprocess/process_unix.go
  internal/core/subprocess/process_unix_test.go
  internal/core/subprocess/process_windows.go
  internal/core/subprocess/transport.go
  internal/core/subprocess/transport_test.go
  internal/version/version.go
Due: format-go

feat: add extension discovery pipeline
  internal/core/extension/assets.go
  internal/core/extension/assets_test.go
  internal/core/extension/builtin/doc.go
  internal/core/extension/discovery.go
  internal/core/extension/discovery_bundled.go
  internal/core/extension/discovery_test.go
  internal/core/extension/doc.go
Due: format-go

feat: add hook dispatcher and host api router
  internal/core/extension/chain.go
  internal/core/extension/dispatcher.go
  internal/core/extension/dispatcher_test.go
  internal/core/extension/host_api.go
  internal/core/extension/host_api_errors.go
  internal/core/extension/host_api_test.go
Due: format-go

build: ts tooling
  .codex/ledger/2026-04-06-MEMORY-dry-generics.md
  .codex/ledger/2026-04-06-MEMORY-package-splits.md
  .codex/ledger/2026-04-07-MEMORY-acp-cockpit-hang.md
  .codex/ledger/2026-04-07-MEMORY-pr70-coderabbit.md
  .codex/ledger/2026-04-07-MEMORY-review-fixes.md
  .codex/ledger/2026-04-07-MEMORY-review-nitpicks.md
  .codex/ledger/2026-04-10-MEMORY-compozy-agents-techspec.md
  .codex/ledger/2026-04-10-MEMORY-extensibility-review.md
  .codex/ledger/2026-04-10-MEMORY-extension-foundation.md
  .codex/ledger/2026-04-10-MEMORY-three-level-discovery.md
  .editorconfig
  .github/actions/setup-bun/action.yml
  .github/actions/setup-git-cliff/action.yml
  .github/actions/setup-release/action.yml
  .gitignore
  .golangci.yml
  .husky/pre-commit
  .oxfmtrc.json
  .oxlintrc.json
  AGENTS.md
  CHANGELOG.md
  CLAUDE.md
  README.md
  aur-pkg/TODO.md
  bun.lock
  cliff.toml
  docs/events.md
  package.json
  tsconfig.base.json
  tsconfig.json
  turbo.json
  vitest.config.ts
Due: turbo-lint

feat: add capability enforcement and audit log
  internal/core/extension/audit.go
  internal/core/extension/audit_test.go
  internal/core/extension/capability.go
  internal/core/extension/capability_test.go
  internal/core/extension/manifest_validate.go
Due: format-go

Path conditions:
  turbo-lint: any of: \.(js|jsx|ts|tsx)$, but not: (?x)^(
  CHANGELOG.md|
  tools/.*/package\.json|
  bun.lockb|
  node_modules|
)$

  format-go: any of: \.go$, but not: (?x)^(
  CHANGELOG.md|
  tools/.*/package\.json|
  bun.lockb|
  node_modules|
)$

