Repository compozy/compozy: changes, and which pre-commit hooks are due for each by the changed paths.
All: turbo-lint, format-go

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit

default_stages:
  - pre-commit

exclude: |
  (?x)^(
    CHANGELOG.md|
    tools/.*/package\.json|
    bun.lockb|
    node_modules|
  )$

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      # - id: trailing-whitespace
      #   args:
      #     - --no-utf8-locale
      - id: end-of-file-fixer
        exclude: '^(CHANGELOG\.md|tools/.*/package\.json|bun\.lockb|node_modules/)'
      - id: check-json
        exclude: '^(tools/.*/package\.json|node_modules/)'
      - id: check-toml
      - id: check-added-large-files
        args:
          - --maxkb=3000
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: detect-private-key
  - repo: local
    hooks:
      - id: turbo-lint
        name: turbo lint
        description: Run linting via Turborepo
        entry: bun run lint
        language: system
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false
      # - id: turbo-type-check
      #   name: turbo type check
      #   description: Run TypeScript checking via Turborepo
      #   entry: bun run type-check
      #   language: system
      #   files: \.(ts|tsx)$
      #   pass_filenames: false
      - id: format-go
        name: format go
        description: Format Go files using make fmt
        entry: make fmt
        language: system
        files: \.go$
        pass_filenames: false
  - repo: https://github.com/lyz-code/yamlfix/
    rev: 1.17.0
    hooks:
      - id: yamlfix
        args:
          - -c
          - .yamlfix.toml
        exclude: ^cluster/.*$

test: verify marketplace migration reopen
  internal/store/globaldb/global_db_marketplace_catalog_test.go
Due: format-go

test: document serial migration fixture
  internal/store/globaldb/global_db_marketplace_catalog_test.go
Due: format-go

fix: resolve session runtime boundary regressions
  docs/qa/charters/CH-extension-dev-link-invoke.md
  docs/qa/charters/CH-session-sandbox-first-bind.md
  docs/qa/reports/2026-08-01-session-extension-boundary.md
  docs/qa/scenarios/ET-extension-dev-reload-loop.md
  docs/qa/scenarios/RT-session-prompt-idempotency.md
  docs/qa/scenarios/RT-session-sandbox-first-bind.md
  internal/daemon/boot_extensions.go
  internal/daemon/daemon_acpmock_helpers_integration_test.go
  internal/daemon/daemon_extension_agent_native_e2e_integration_test.go
  internal/daemon/daemon_extension_authoring_e2e_integration_test.go
  internal/daemon/daemon_memory_e2e_integration_test.go
  internal/daemon/daemon_mock_agents_integration_test.go
  internal/daemon/daemon_test.go
  internal/daemon/extension_secret_hygiene_integration_test.go
  internal/daemon/extensions_dev.go
  internal/daemon/extensions_service.go
  internal/daemon/host_api_session_adapter.go
  internal/daemon/native_extension_tools.go
  internal/daemon/native_extension_tools_integration_test.go
  internal/daemon/tool_approval_grants_integration_test.go
  internal/session/manager_sandbox_test.go
  internal/session/manager_start_meta.go
  internal/session/session_creation.go
  internal/testutil/acpmock/testdata/task_wake_creator_fixture.json
Due: format-go

test: give memory teardown a fresh context
  internal/daemon/native_tools_test.go
Due: format-go

fix: review
  internal/daemon/daemon_test.go
Due: format-go

docs: release notes
  .release-notes/durable-session-messaging-1785600989.md
  .release-notes/unified-docs-and-marketplace-1785600990.md
  .release-notes/window-tabs-in-the-os-shell-1785600988.md
Due: none

build: fix cliff config
  cliff.toml
  docs/qa/reports/2026-08-01-release-note-signal.md
  docs/qa/scenarios/REL-release-note-signal.md
Due: none

release: prepare release v0.3.0 (#272)
  .release-notes/archive/v0.3.0/durable-session-messaging-1785600989.md
  .release-notes/archive/v0.3.0/grouped-skill-directories-1785293468.md
  .release-notes/archive/v0.3.0/mcp-catalog-session-runtime-and-extension-management-1785462925.md
  .release-notes/archive/v0.3.0/unified-docs-and-marketplace-1785600990.md
  .release-notes/archive/v0.3.0/window-tabs-in-the-os-shell-1785600988.md
  CHANGELOG.md
  RELEASE_BODY.md
  RELEASE_NOTES.md
  go.mod
  go.sum
Due: none

docs: update golang skills
  .agents/skills/eng/eng-code-guidelines/SKILL.md
  .agents/skills/eng/eng-code-guidelines/references/coding-style.md
  .agents/skills/eng/eng-code-guidelines/references/concurrency-patterns.md
  .agents/skills/golang-master/SKILL.md
  .agents/skills/golang-master/references/concurrency.md
  .agents/skills/golang-master/references/context.md
  .agents/skills/golang-master/references/errors.md
  .agents/skills/golang-master/references/interfaces-generics.md
  .agents/skills/golang-master/references/layout.md
  .agents/skills/golang-master/references/modernize.md
  .agents/skills/golang-master/references/performance.md
  .agents/skills/golang-master/references/safety.md
  .agents/skills/golang-master/references/style-naming.md
  .agents/skills/golang-master/references/testing.md
  .agents/skills/golang-pro/SKILL.md
  .agents/skills/golang-pro/references/concurrency.md
  .agents/skills/golang-pro/references/generics.md
  .agents/skills/golang-pro/references/interfaces.md
  .agents/skills/golang-pro/references/project-structure.md
  .agents/skills/golang-pro/references/testing.md
  CLAUDE.md
  skills-lock.json
Due: none

fix: reconcile post-rebase runtime contracts
  internal/daemon/extensions_dev.go
  internal/store/globaldb/global_db_loop_event_boundaries.go
  internal/store/globaldb/global_db_task_claim_test.go
  magefiles/build.go
  magefiles/magefile_test.go
Due: format-go

fix: scope extension reads to workspaces (BUG-20260801-extension-cli-workspace-reads)
  internal/cli/client.go
  internal/cli/client_extension_scoped_reads.go
  internal/cli/client_test.go
  internal/cli/extension.go
  internal/cli/extension_state.go
  internal/cli/extension_test.go
  internal/cli/helpers_test.go
  packages/site/content/docs/cli/extension/list.mdx
  packages/site/content/docs/cli/extension/status.mdx
  packages/site/content/docs/extensions/develop.mdx
  skills/compozy/references/capabilities-and-bundles.md
Due: format-go

docs: record loops paper QA verification
  docs/qa/bugs/BUG-20260801-extension-cli-workspace-reads.md
  docs/qa/bugs/BUG-20260801-loop-config-file-snake-case.md
  docs/qa/bugs/BUG-20260801-mcp-manual-input-timeout.md
  docs/qa/reports/2026-08-01-loops-paper-adoption.md
  docs/qa/reports/2026-08-01-loops-paper-task01-mcp-manual-timeout.md
  docs/qa/scenarios/ET-cli-mcp-auth-manual-exchange.md
  docs/qa/scenarios/ET-extension-dev-reload-loop.md
  docs/qa/scenarios/LP-loop-config-file-snake-case.md
  docs/qa/scenarios/TA-071.md
Due: none

docs: document loop config file fields
  packages/site/content/docs/loops/configure.mdx
Due: none

fix: review round
  internal/api/contract/loop_runs.go
  internal/daemon/loop_api_run_history.go
  internal/daemon/loop_api_runs_test.go
  internal/loop/generation_snapshot_intents.go
  internal/loop/generation_snapshot_test.go
  openapi/compozy.json
  web/src/generated/compozy-openapi.d.ts
  web/src/systems/loops/components/stories/loop-run-page-fixtures.ts
  web/src/systems/loops/lib/__tests__/loop-run-story.test.ts
  web/src/systems/loops/mocks/fixture-run-details.ts
Due: turbo-lint, format-go

docs: loops new design
  docs/design/opendesign/CleanShot-2026-08-02-at-00.46.42_2x.png
  docs/design/opendesign/README.md
  docs/design/opendesign/_done/loops/run-detail.html
  docs/design/opendesign/loops/DESIGN-BACKLOG.md
  docs/design/opendesign/loops/DESIGN-LESSONS.md
  docs/design/opendesign/loops/index.html
  docs/design/opendesign/loops/index.html.artifact.json
  docs/design/opendesign/loops/loop-detail.html
  docs/design/opendesign/loops/loop-detail.html.artifact.json
  docs/design/opendesign/loops/loop-editor.html
  docs/design/opendesign/loops/loop-editor.html.artifact.json
  docs/design/opendesign/loops/loop-inventories.html
  docs/design/opendesign/loops/loop-inventories.html.artifact.json
  docs/design/opendesign/loops/loop-node-controls.html
  docs/design/opendesign/loops/loop-node-controls.html.artifact.json
  docs/design/opendesign/loops/loop-quarantine-sheet.html
  docs/design/opendesign/loops/loop-quarantine-sheet.html.artifact.json
  docs/design/opendesign/loops/loop-run-detail-states.html
  docs/design/opendesign/loops/loop-run-detail-states.html.artifact.json
  docs/design/opendesign/loops/loop-run-detail.html
  docs/design/opendesign/loops/loop-run-detail.html.artifact.json
  docs/qa/charters/CH-inspect-fanout-verdicts.md
  docs/qa/reports/2026-08-02-loops-coderabbit-followup.md
  docs/qa/scenarios/LP-fanout-verdict-identity.md
Due: none

docs: update loops design
  docs/_memory/lessons/L-034-prototype-production-transcription-first.md
  docs/_memory/lessons/README.md
  docs/design/opendesign/_captures/loops-index.png
  docs/design/opendesign/_captures/loops-loop-detail.png
  docs/design/opendesign/_captures/loops-loop-editor-states.png
  docs/design/opendesign/_captures/loops-loop-editor.png
  docs/design/opendesign/_captures/loops-loop-inventories.png
  docs/design/opendesign/_captures/loops-loop-node-controls.png
  docs/design/opendesign/_captures/loops-loop-quarantine-sheet.png
  docs/design/opendesign/_captures/loops-loop-run-detail-states.png
  docs/design/opendesign/_captures/loops-loop-run-detail.png
  docs/design/opendesign/_captures/loops-loop-run-form.png
  docs/design/opendesign/_captures/loops-loops-catalog.png
  docs/design/opendesign/design-system/GUIDE.md
  docs/design/opendesign/loops/DESIGN-BACKLOG.md
  docs/design/opendesign/loops/index.html
  docs/design/opendesign/loops/loop-detail.html
  docs/design/opendesign/loops/loop-editor-states.html
  docs/design/opendesign/loops/loop-editor-states.html.artifact.json
  docs/design/opendesign/loops/loop-editor.html
  docs/design/opendesign/loops/loop-inventories.html
  docs/design/opendesign/loops/loop-node-controls.html
  docs/design/opendesign/loops/loop-quarantine-sheet.html
  docs/design/opendesign/loops/loop-run-detail-states.html
  docs/design/opendesign/loops/loop-run-detail.html
  docs/design/opendesign/loops/loop-run-form.html
  docs/design/opendesign/loops/loop-run-form.html.artifact.json
  docs/design/opendesign/loops/loops-catalog.html
  docs/design/opendesign/loops/loops-catalog.html.artifact.json
Due: none

docs: update docs
  docs/design/opendesign/loops/DESIGN-BACKLOG.md
Due: none

feat: Effects: outbox, relay and delivery identity #03
  docs/qa/scenarios/LP-on-error-notification-with-context.md
  docs/qa/scenarios/LP-terminal-outcome-notification.md
  internal/daemon/boot.go
  internal/daemon/boot_components.go
  internal/daemon/boot_publish.go
  internal/daemon/daemon.go
  internal/daemon/daemon_shutdown_runtime.go
  internal/daemon/daemon_shutdown_targets.go
  internal/daemon/loop_effect_relay.go
  internal/daemon/loop_effect_relay_boot.go
  internal/daemon/loop_effect_relay_test.go
  internal/daemon/loop_node_lifecycle_e2e_integration_test.go
  internal/loop/constants.go
  internal/loop/coordinator.go
  internal/loop/coordinator_effects.go
  internal/loop/coordinator_metadata.go
  internal/loop/effect_context.go
  internal/loop/effect_outbox.go
  internal/loop/effects_dispatch.go
  internal/loop/effects_dispatch_test.go
  internal/loop/generation_snapshot.go
  internal/loop/generation_snapshot_intents.go
  internal/loop/watch_events_registry_phase_a.go
  internal/store/globaldb/global_db_loop_effect_outbox.go
  internal/store/globaldb/global_db_loop_events.go
  internal/store/globaldb/global_db_loop_node_terminal.go
  internal/store/globaldb/global_db_loop_test.go
  internal/store/globaldb/global_db_task_claim_test.go
  internal/store/globaldb/global_db_task_coordinator_boundaries.go
  internal/store/globaldb/global_db_task_coordinator_effects.go
  internal/store/globaldb/global_db_task_coordinator_intents.go
  internal/store/globaldb/global_db_task_coordinator_runtime.go
Due: format-go

fix: assistant-ui version
  bun.lock
  docs/qa/charters/CH-session-composer-text-entry.md
  docs/qa/reports/2026-08-02-composer-space.md
  docs/qa/scenarios/ET-web-session-composer-text-entry.md
  package.json
  packages/site/package.json
  packages/ui/package.json
  patches/@assistant-ui%2Fstore@0.3.2.patch
  web/package.json
  web/src/components/assistant-ui/__tests__/session-thread.test.tsx
  web/src/components/assistant-ui/hooks/use-session-composer-state.ts
  web/src/components/assistant-ui/session-thread-messages.tsx
  web/src/components/assistant-ui/session-thread.tsx
  web/src/components/assistant-ui/session-user-message.tsx
  web/src/hooks/routes/__tests__/use-session-page-controls.test.tsx
  web/src/hooks/routes/use-session-page-controls.ts
  web/src/systems/session/components/__tests__/session-chat-runtime-provider.test.tsx
Due: turbo-lint

test: bind hosted MCP E2E to session
  internal/daemon/daemon_mock_agents_integration_test.go
Due: format-go

fix: use published SDK in Go extension templates
  internal/extension/build_test.go
  internal/extension/scaffold.go
  internal/extension/scaffold_templates/loop-watch-source-go/go.mod.template
  internal/extension/scaffold_templates/tool-provider-go/go.mod.template
Due: format-go

fix: stabilize shell CI remediation
  docs/qa/reports/2026-08-03-pr-291-ci-remediation.md
  docs/qa/scenarios/ET-window-tab-deck-lifecycle.md
  docs/qa/scenarios/RT-home-usage-window-persistence.md
  web/e2e/__tests__/os-shell.spec.ts
  web/src/systems/os/hooks/__tests__/os-interaction-hooks.test.tsx
  web/src/systems/os/hooks/use-os-shortcuts.ts
Due: turbo-lint
