Repository compozy/compozy: changes, and which pre-commit hooks are due for each by the changed paths.
All: turbo-lint, format-go

turbo-lint:
  name: turbo lint
  description: Run linting via Turborepo
  entry: bun run lint
  language: system
  pass_filenames: false

format-go:
  name: format go
  description: Format Go files using make fmt
  entry: make fmt
  language: system
  pass_filenames: false

feat: add host API kernel services
  docs/events.md
  internal/core/extension/chain.go
  internal/core/extension/host_api_errors.go
  internal/core/extension/host_helpers.go
  internal/core/extension/host_helpers_test.go
  internal/core/extension/host_reads.go
  internal/core/extension/host_reads_test.go
  internal/core/extension/host_writes.go
  internal/core/extension/host_writes_test.go
  internal/core/memory/store.go
  internal/core/model/runtime_config.go
  internal/core/run/journal/journal.go
  internal/core/run/journal/journal_test.go
  pkg/compozy/events/docs_test.go
  pkg/compozy/events/event.go
  pkg/compozy/events/kinds/extension.go
Due: format-go

refactor: bootstrap run scope before planning
  compozy.go
  internal/cli/root.go
  internal/core/api.go
  internal/core/extension/runtime.go
  internal/core/extension/runtime_test.go
  internal/core/kernel/deps.go
  internal/core/kernel/deps_test.go
  internal/core/kernel/handlers.go
  internal/core/kernel/run_scope_integration_test.go
  internal/core/model/artifacts.go
  internal/core/model/preparation.go
  internal/core/model/preparation_test.go
  internal/core/model/run_scope.go
  internal/core/plan/prepare.go
  internal/core/plan/prepare_test.go
  internal/core/run/executor/execution_acp_integration_test.go
Due: format-go

feat: implement extension manager lifecycle
  docs/events.md
  internal/core/extension/chain.go
  internal/core/extension/dispatcher.go
  internal/core/extension/host_writes.go
  internal/core/extension/manager.go
  internal/core/extension/manager_events.go
  internal/core/extension/manager_health.go
  internal/core/extension/manager_shutdown.go
  internal/core/extension/manager_spawn.go
  internal/core/extension/manager_test.go
  internal/core/extension/runtime.go
  internal/core/extension/testdata/mock_extension/main.go
  pkg/compozy/events/docs_test.go
  pkg/compozy/events/event.go
  pkg/compozy/events/kinds/extension.go
  pkg/compozy/events/kinds/payload_compat_test.go
Due: format-go

feat: bootstrap executable extensions for runs
  internal/cli/commands.go
  internal/cli/commands_test.go
  internal/cli/root_command_execution_test.go
  internal/cli/root_test.go
  internal/cli/state.go
  internal/cli/testdata/exec_help.golden
  internal/core/api.go
  internal/core/extension/manager.go
  internal/core/extension/manager_shutdown.go
  internal/core/extension/manager_spawn.go
  internal/core/extension/runtime_test.go
  internal/core/kernel/commands/commands_test.go
  internal/core/kernel/deps_test.go
  internal/core/kernel/handlers.go
  internal/core/kernel/handlers_extensions_test.go
  internal/core/kernel/run_scope_cancellation_integration_test.go
  internal/core/model/run_scope.go
  internal/core/model/runtime_config.go
  internal/core/run/exec/exec.go
  internal/core/run/exec/exec_integration_test.go
  internal/core/run/run.go
  internal/core/run/run_test.go
Due: format-go

feat: add task 10 hook dispatches
  internal/core/agent/client.go
  internal/core/agent/client_test.go
  internal/core/agent/hooks.go
  internal/core/agent/session.go
  internal/core/api.go
  internal/core/extension/hooks_integration_test.go
  internal/core/extension/host_helpers.go
  internal/core/extension/manager.go
  internal/core/extension/testdata/mock_extension/main.go
  internal/core/kernel/handlers.go
  internal/core/kernel/handlers_extensions_test.go
  internal/core/model/hooks.go
  internal/core/model/run_scope.go
  internal/core/plan/prepare.go
  internal/core/plan/prepare_test.go
  internal/core/prompt/common.go
  internal/core/prompt/prd.go
  internal/core/prompt/prompt_test.go
  internal/core/run/exec/exec.go
  internal/core/run/executor/execution.go
  internal/core/run/executor/execution_acp_integration_test.go
  internal/core/run/executor/execution_acp_test.go
  internal/core/run/internal/acpshared/command_io.go
  internal/core/run/internal/acpshared/session_handler.go
  internal/core/run/internal/acpshared/session_handler_test.go
  internal/core/run/internal/runshared/config.go
  internal/core/run/run.go
  internal/core/run/run_test.go
Due: format-go

feat: add extension management cli
  internal/cli/extension/display.go
  internal/cli/extension/display_test.go
  internal/cli/extension/doctor.go
  internal/cli/extension/doctor_test.go
  internal/cli/extension/enablement.go
  internal/cli/extension/install.go
  internal/cli/extension/root.go
  internal/cli/root.go
Due: format-go

feat: add runtime hook dispatches for task 11
  internal/core/extension/hooks_integration_test.go
  internal/core/extension/host_api_errors.go
  internal/core/extension/host_helpers.go
  internal/core/extension/host_helpers_test.go
  internal/core/extension/host_writes.go
  internal/core/extension/host_writes_test.go
  internal/core/extension/runtime.go
  internal/core/extension/testdata/mock_extension/main.go
  internal/core/model/hook_types.go
  internal/core/plan/prepare.go
  internal/core/plan/prepare_test.go
  internal/core/run/executor/execution.go
  internal/core/run/executor/execution_test.go
  internal/core/run/executor/hooks.go
  internal/core/run/executor/review_hooks.go
  internal/core/run/executor/runner.go
Due: format-go

feat: integrate declarative extension assets
  internal/cli/extension/doctor.go
  internal/cli/extension/doctor_test.go
  internal/cli/extensions_bootstrap.go
  internal/cli/extensions_bootstrap_test.go
  internal/cli/root_test.go
  internal/cli/run.go
  internal/cli/skills_preflight.go
  internal/cli/skills_preflight_test.go
  internal/cli/state.go
  internal/core/agent/registry_overlay.go
  internal/core/agent/registry_overlay_test.go
  internal/core/agent/registry_specs.go
  internal/core/agent/registry_validate.go
  internal/core/extension/assets.go
  internal/core/fetch.go
  internal/core/provider/overlay.go
  internal/core/provider/overlay_test.go
  internal/core/run/executor/review_hooks.go
  internal/setup/extensions.go
  internal/setup/extensions_test.go
Due: format-go

feat: add Go extension SDK
  internal/core/extension/manager_test.go
  internal/core/extension/sdk_manager_integration_test.go
  internal/core/extension/testdata/sdk_extension/main.go
  sdk/extension/compat_test.go
  sdk/extension/doc.go
  sdk/extension/extension.go
  sdk/extension/extension_test.go
  sdk/extension/handlers.go
  sdk/extension/hooks.go
  sdk/extension/host_api.go
  sdk/extension/host_api_test.go
  sdk/extension/internal_test.go
  sdk/extension/smoke_test.go
  sdk/extension/testing/harness.go
  sdk/extension/testing/harness_test.go
  sdk/extension/testing/mock_transport.go
  sdk/extension/testing/mock_transport_test.go
  sdk/extension/transport.go
  sdk/extension/types.go
Due: format-go

docs: udpate prd
  .codex/ledger/2026-04-10-MEMORY-declarative-assets.md
  .codex/ledger/2026-04-10-MEMORY-early-run-scope.md
  .codex/ledger/2026-04-10-MEMORY-ext-cli-state.md
  .codex/ledger/2026-04-10-MEMORY-extension-bootstrap.md
  .codex/ledger/2026-04-10-MEMORY-extension-lifecycle.md
  .codex/ledger/2026-04-10-MEMORY-hook-dispatches.md
  .codex/ledger/2026-04-10-MEMORY-job-run-review-hooks.md
  .compozy/tasks/extensibility/_meta.md
  .compozy/tasks/extensibility/_tasks.md
  .compozy/tasks/extensibility/memory/MEMORY.md
  .compozy/tasks/extensibility/memory/task_01.md
  .compozy/tasks/extensibility/memory/task_02.md
  .compozy/tasks/extensibility/memory/task_03.md
  .compozy/tasks/extensibility/memory/task_04.md
  .compozy/tasks/extensibility/memory/task_05.md
  .compozy/tasks/extensibility/memory/task_06.md
  .compozy/tasks/extensibility/memory/task_07.md
  .compozy/tasks/extensibility/memory/task_08.md
  .compozy/tasks/extensibility/memory/task_09.md
  .compozy/tasks/extensibility/memory/task_10.md
  .compozy/tasks/extensibility/memory/task_11.md
  .compozy/tasks/extensibility/memory/task_12.md
  .compozy/tasks/extensibility/memory/task_13.md
  .compozy/tasks/extensibility/memory/task_14.md
  .compozy/tasks/extensibility/memory/task_15.md
  .compozy/tasks/extensibility/task_02.md
  .compozy/tasks/extensibility/task_03.md
  .compozy/tasks/extensibility/task_04.md
  .compozy/tasks/extensibility/task_05.md
  .compozy/tasks/extensibility/task_06.md
  .compozy/tasks/extensibility/task_07.md
  .compozy/tasks/extensibility/task_08.md
  .compozy/tasks/extensibility/task_09.md
  .compozy/tasks/extensibility/task_10.md
  .compozy/tasks/extensibility/task_11.md
  .compozy/tasks/extensibility/task_12.md
  .compozy/tasks/extensibility/task_13.md
  .compozy/tasks/extensibility/task_14.md
  .compozy/tasks/extensibility/task_15.md
Due: none

fix: adjustments
  internal/cli/root_command_execution_test.go
  internal/core/extension/host_helpers.go
  internal/core/plan/prepare.go
  internal/core/plan/prepare_test.go
  internal/core/run/exec/exec_integration_test.go
  internal/core/run/exec/prompt_exec.go
  sdk/extension/types.go
Due: format-go

docs: improve docs
  README.md
  sdk/create-extension/README.md
  sdk/extension-sdk-ts/README.md
  sdk/extension-sdk-ts/src/extension.ts
  sdk/extension-sdk-ts/src/handlers.ts
  sdk/extension-sdk-ts/src/host_api.ts
  sdk/extension-sdk-ts/src/testing/mock_transport.ts
  sdk/extension-sdk-ts/src/testing/test_harness.ts
  sdk/extension-sdk-ts/src/transport.ts
  sdk/extension-sdk-ts/src/types.ts
  sdk/extension/README.md
  sdk/extension/doc.go
  sdk/extension/testing/doc.go
Due: turbo-lint, format-go

fix: resolve PR #80 review batch 001
  .compozy/tasks/extensibility/reviews-001/_meta.md
  .compozy/tasks/extensibility/reviews-001/issue_001.md
  .compozy/tasks/extensibility/reviews-001/issue_002.md
  .compozy/tasks/extensibility/reviews-001/issue_003.md
  .compozy/tasks/extensibility/reviews-001/issue_004.md
  .compozy/tasks/extensibility/reviews-001/issue_005.md
  .compozy/tasks/extensibility/reviews-001/issue_006.md
  .compozy/tasks/extensibility/reviews-001/issue_007.md
  .compozy/tasks/extensibility/reviews-001/issue_008.md
  .compozy/tasks/extensibility/reviews-001/issue_009.md
  .compozy/tasks/extensibility/reviews-001/issue_010.md
  .compozy/tasks/extensibility/reviews-001/issue_011.md
  .compozy/tasks/extensibility/reviews-001/issue_012.md
  .compozy/tasks/extensibility/reviews-001/issue_013.md
  .compozy/tasks/extensibility/reviews-001/issue_014.md
  .compozy/tasks/extensibility/reviews-001/issue_015.md
  Makefile
  internal/cli/extension/display.go
  internal/cli/extension/display_test.go
  internal/cli/extension/doctor.go
  internal/cli/extension/doctor_test.go
  internal/cli/extension/enablement.go
  internal/cli/extension/install.go
  internal/cli/extension/root.go
  internal/cli/makefile_publish_test.go
  internal/core/agent/client.go
  internal/core/agent/client_test.go
  internal/core/agent/hooks.go
  internal/core/agent/registry_overlay.go
  internal/core/agent/registry_overlay_test.go
  internal/core/extension/hooks_integration_test.go
  internal/core/extension/testdata/mock_extension/main.go
  internal/update/check_test.go
Due: format-go

fix: resolve extensibility review batch 001
  .compozy/tasks/extensibility/reviews-001/issue_016.md
  .compozy/tasks/extensibility/reviews-001/issue_017.md
  .compozy/tasks/extensibility/reviews-001/issue_018.md
  .compozy/tasks/extensibility/reviews-001/issue_019.md
  .compozy/tasks/extensibility/reviews-001/issue_020.md
  .compozy/tasks/extensibility/reviews-001/issue_021.md
  .compozy/tasks/extensibility/reviews-001/issue_022.md
  .compozy/tasks/extensibility/reviews-001/issue_023.md
  .compozy/tasks/extensibility/reviews-001/issue_024.md
  .compozy/tasks/extensibility/reviews-001/issue_025.md
  .compozy/tasks/extensibility/reviews-001/issue_026.md
  .compozy/tasks/extensibility/reviews-001/issue_027.md
  .compozy/tasks/extensibility/reviews-001/issue_028.md
  .compozy/tasks/extensibility/reviews-001/issue_029.md
  internal/core/extension/assets_test.go
  internal/core/extension/chain.go
  internal/core/extension/dispatcher.go
  internal/core/extension/dispatcher_test.go
  internal/core/extension/enablement_test.go
  internal/core/extension/host_helpers.go
  internal/core/extension/host_reads.go
  internal/core/extension/host_reads_test.go
  internal/core/extension/host_writes.go
Due: format-go

docs: update prd
  .compozy/tasks/extensibility/reviews-001/_meta.md
Due: none

fix: resolve extensibility review batch 002
  .compozy/tasks/extensibility/reviews-002/issue_001.md
  .compozy/tasks/extensibility/reviews-002/issue_002.md
  .compozy/tasks/extensibility/reviews-002/issue_003.md
  .compozy/tasks/extensibility/reviews-002/issue_004.md
  .compozy/tasks/extensibility/reviews-002/issue_005.md
  .compozy/tasks/extensibility/reviews-002/issue_006.md
  .compozy/tasks/extensibility/reviews-002/issue_007.md
  internal/cli/makefile_publish_test.go
  internal/core/agent/client.go
  internal/core/agent/client_test.go
  internal/core/agent/registry_overlay.go
  internal/core/agent/registry_overlay_test.go
  internal/core/extension/dispatcher_test.go
Due: format-go

docs: update prd
  .compozy/tasks/ext-ideas/research/analysis.md
  .compozy/tasks/ext-ideas/research/analysis_broader_ecosystem.md
  .compozy/tasks/ext-ideas/research/analysis_claude_code.md
  .compozy/tasks/ext-ideas/research/analysis_hermes_agent.md
  .compozy/tasks/ext-ideas/research/analysis_openclaw.md
  .compozy/tasks/ext-ideas/research/analysis_pi_mono.md
  .compozy/tasks/ext-ideas/research/integrations.md
  .compozy/tasks/ext-ideas/research/integrations_cicd.md
  .compozy/tasks/ext-ideas/research/integrations_cloud_ai.md
  .compozy/tasks/ext-ideas/research/integrations_code_quality.md
  .compozy/tasks/ext-ideas/research/integrations_communication.md
  .compozy/tasks/ext-ideas/research/integrations_issue_trackers.md
  .compozy/tasks/ext-ideas/research/integrations_observability.md
  .compozy/tasks/extensibility/reviews-002/_meta.md
  internal/core/extension/ts_template_manager_integration_test.go
Due: format-go

fix: bun lock
  bun.lock
Due: none

feat: add compozy skill
  internal/setup/bundle_test.go
  skills/compozy/SKILL.md
  skills/compozy/references/cli-reference.md
  skills/compozy/references/config-reference.md
  skills/compozy/references/skills-reference.md
  skills/compozy/references/workflow-guide.md
Due: format-go

feat: adding flag close-on-complete for CI/agents pipelines
  README.md
  internal/cli/commands.go
  internal/cli/kernel_dispatch_test.go
  internal/cli/root_test.go
  internal/cli/run.go
  internal/cli/skills_preflight.go
  internal/cli/state.go
  internal/cli/testdata/start_help.golden
  internal/cli/validate_tasks_build_test.go
  internal/cli/validate_tasks_test.go
  internal/cli/workspace_config.go
  internal/cli/workspace_config_test.go
  internal/core/api.go
  internal/core/kernel/commands/commands_test.go
  internal/core/model/runtime_config.go
  internal/core/plan/prepare.go
  internal/core/prompt/common.go
  internal/core/prompt/prd.go
  internal/core/prompt/prompt_test.go
  internal/core/prompt/review.go
  internal/core/run/executor/execution.go
  internal/core/run/executor/execution_acp_test.go
  internal/core/run/executor/execution_ui_test.go
  internal/core/run/executor/shutdown.go
  internal/core/run/internal/runshared/config.go
  internal/core/run/internal/runshared/config_test.go
  internal/core/run/preflight/preflight_test.go
  internal/core/workspace/config_test.go
  internal/core/workspace/config_types.go
  internal/core/workspace/config_validate.go
Due: format-go

fixing merge issues
  README.md
  internal/cli/skills_preflight.go
  internal/cli/state.go
  internal/core/api.go
  internal/core/kernel/commands/commands_test.go
Due: format-go

fixing code review issues
  internal/cli/kernel_dispatch_test.go
  internal/cli/root_test.go
  internal/cli/validate_tasks_build_test.go
  internal/cli/validate_tasks_test.go
Due: format-go

fixing code review issues
  internal/cli/root_command_execution_test.go
  internal/cli/root_test.go
  internal/core/kernel/run_scope_cancellation_integration_test.go
  sdk/extension/types.go
Due: format-go

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: none

"Claude PR Assistant workflow" (#86)
  .github/workflows/claude.yml
Due: none

docs: add auto-docs workflow (claude code on merge)
  .github/workflows/auto-docs.yml
Due: none

fix: resolve ext-imp review batch 002
  .compozy/tasks/ext-imp/reviews-002/issue_001.md
  .compozy/tasks/ext-imp/reviews-002/issue_002.md
  .compozy/tasks/ext-imp/reviews-002/issue_003.md
  .compozy/tasks/ext-imp/reviews-002/issue_004.md
  .compozy/tasks/ext-imp/reviews-002/issue_005.md
  .compozy/tasks/ext-imp/reviews-002/issue_006.md
  .compozy/tasks/ext-imp/reviews-002/issue_007.md
  .compozy/tasks/ext-imp/reviews-002/issue_008.md
  .compozy/tasks/ext-imp/reviews-002/issue_009.md
  .compozy/tasks/ext-imp/reviews-002/issue_010.md
  internal/cli/form_test.go
  internal/core/run/exec/exec.go
  internal/core/run/exec/exec_test.go
  sdk/create-extension/test/create-extension.test.ts
  sdk/extension-sdk-ts/src/testing/test_harness.ts
  sdk/extension-sdk-ts/test/host_api.test.ts
Due: turbo-lint, format-go

docs: update prd
  .agents/skills/cy-idea-factory/SKILL.md
  .agents/skills/cy-idea-factory/references/council.md
  .compozy/tasks/ext-imp/reviews-002/_meta.md
Due: none

docs: update
  .compozy/docs/extensibility/capability-reference.md
  .compozy/docs/extensibility/host-api-reference.md
  AGENTS.md
  CLAUDE.md
  docs/events.md
Due: none

build: auto-docs workflow
  .github/workflows/claude.yml
Due: none

Path conditions:
  turbo-lint: any of: \.(js|jsx|ts|tsx)$, but not: (?x)^(
  CHANGELOG.md|
  tools/.*/package\.json|
  bun.lockb|
  node_modules|
)$

  format-go: any of: \.go$, but not: (?x)^(
  CHANGELOG.md|
  tools/.*/package\.json|
  bun.lockb|
  node_modules|
)$

