Repository compozy/compozy: changes, and which pre-commit hooks are due for each by the changed paths.
All: turbo-lint, format-go

turbo-lint:
  name: turbo lint
  description: Run linting via Turborepo
  entry: bun run lint
  language: system
  pass_filenames: false

format-go:
  name: format go
  description: Format Go files using make fmt
  entry: make fmt
  language: system
  pass_filenames: false

fix: prevent false task completion via prompt kickoff + worktree diff-check (#144) (#145)
  docs/events.md
  internal/core/prompt/prd.go
  internal/core/prompt/prompt_test.go
  internal/core/run/executor/execution_test.go
  internal/core/run/executor/review_hooks.go
  internal/core/run/executor/runner.go
  internal/core/run/internal/worktree/snapshot.go
  internal/core/run/internal/worktree/snapshot_test.go
  pkg/compozy/events/docs_test.go
  pkg/compozy/events/event.go
  pkg/compozy/events/event_test.go
  pkg/compozy/events/kinds/task.go
Due: format-go

feat: add zsh task completion plugin docs and script
  zsh/compozy-completion/README.md
  zsh/compozy-completion/compozy-completion.plugin.zsh
Due: none

fix: complete task slugs only from task directories
  zsh/compozy-completion/compozy-completion.plugin.zsh
Due: none

release: prepare release v0.2.2 (#147)
  .release-notes/archive/v0.2.2/force-archive-confirmation-1777919380.md
  .release-notes/archive/v0.2.2/qa-workflow-extension-1777919380.md
  .release-notes/archive/v0.2.2/workspace-register-path-fix-1777919380.md
  CHANGELOG.md
  RELEASE_BODY.md
  RELEASE_NOTES.md
  package.json
Due: none

fix: cwd path
  internal/core/run/executor/execution.go
  internal/core/run/executor/execution_acp_test.go
  test/release_config_test.go
Due: format-go

release: prepare release v0.2.3 (#150)
  CHANGELOG.md
  RELEASE_BODY.md
  RELEASE_NOTES.md
  package.json
Due: none

fix: codex acp integration
  .codex/ledger/2026-05-13-MEMORY-reviews-fix-watch.md
  .prettierignore
  internal/core/agent/client.go
  internal/core/agent/client_test.go
  internal/core/agent/registry_specs.go
  internal/core/agent/registry_test.go
  internal/core/agent/terminal.go
  internal/core/model/run_scope.go
  internal/core/model/run_scope_internal_test.go
  internal/core/provider/coderabbit/coderabbit.go
  internal/core/provider/coderabbit/coderabbit_test.go
  internal/core/provider/provider.go
  internal/core/run/exec/exec.go
  internal/daemon/review_watch.go
  internal/daemon/review_watch_test.go
  internal/daemon/run_manager.go
  internal/daemon/run_manager_test.go
Due: format-go

fix: remediate codex-acp coderabbit review batch
  .compozy/tasks/codex-acp/reviews-001/issue_001.md
  .compozy/tasks/codex-acp/reviews-001/issue_002.md
  .compozy/tasks/codex-acp/reviews-001/issue_003.md
  .compozy/tasks/codex-acp/reviews-001/issue_004.md
  .compozy/tasks/codex-acp/reviews-001/issue_005.md
  .compozy/tasks/codex-acp/reviews-001/issue_006.md
  internal/core/agent/client_test.go
  internal/core/agent/terminal.go
  internal/core/provider/coderabbit/coderabbit_test.go
  internal/daemon/review_watch_test.go
  internal/daemon/run_manager.go
  internal/daemon/run_manager_test.go
Due: format-go

test: resolve codex-acp review batch 002
  .compozy/tasks/codex-acp/reviews-002/issue_001.md
  internal/daemon/run_manager_test.go
Due: format-go

fix: codex acp integration (#151)
  .codex/ledger/2026-05-13-MEMORY-reviews-fix-watch.md
  .compozy/tasks/codex-acp/reviews-001/issue_001.md
  .compozy/tasks/codex-acp/reviews-001/issue_002.md
  .compozy/tasks/codex-acp/reviews-001/issue_003.md
  .compozy/tasks/codex-acp/reviews-001/issue_004.md
  .compozy/tasks/codex-acp/reviews-001/issue_005.md
  .compozy/tasks/codex-acp/reviews-001/issue_006.md
  .compozy/tasks/codex-acp/reviews-002/issue_001.md
  .prettierignore
  internal/core/agent/client.go
  internal/core/agent/client_test.go
  internal/core/agent/registry_specs.go
  internal/core/agent/registry_test.go
  internal/core/agent/terminal.go
  internal/core/model/run_scope.go
  internal/core/model/run_scope_internal_test.go
  internal/core/provider/coderabbit/coderabbit.go
  internal/core/provider/coderabbit/coderabbit_test.go
  internal/core/provider/provider.go
  internal/core/run/exec/exec.go
  internal/daemon/review_watch.go
  internal/daemon/review_watch_test.go
  internal/daemon/run_manager.go
  internal/daemon/run_manager_test.go
Due: format-go

release: prepare release v0.2.4 (#152)
  CHANGELOG.md
  RELEASE_BODY.md
  RELEASE_NOTES.md
  package.json
Due: none

feat: add zsh task completion plugin docs and script (#149)
  zsh/compozy-completion/README.md
  zsh/compozy-completion/compozy-completion.plugin.zsh
Due: none

docs: add star history on readme
  README.md
Due: none

fix: run managed upgrade commands
  internal/cli/root_test.go
  internal/cli/upgrade.go
  internal/update/install.go
  internal/update/install_test.go
Due: format-go

docs: add upgrade failure screenshot
  .github/pr-assets/compozy-upgrade-not-updating.png
Due: none

fix: target detected upgrade install
  internal/update/install.go
  internal/update/install_test.go
Due: format-go

fix: pin managed upgrade executable
  internal/update/install.go
  internal/update/install_test.go
Due: format-go

fix: emit one task slug per completion candidate
  zsh/compozy-completion/compozy-completion.plugin.zsh
Due: none

fix: add doc comments for completion helper functions
  zsh/compozy-completion/compozy-completion.plugin.zsh
Due: none

chore: add multi-task-run planning artifacts
  .compozy/tasks/multi-task-run/_idea.md
  .compozy/tasks/multi-task-run/_prd.md
  .compozy/tasks/multi-task-run/_tasks.md
  .compozy/tasks/multi-task-run/_techspec.md
  .compozy/tasks/multi-task-run/adrs/adr-001.md
  .compozy/tasks/multi-task-run/adrs/adr-002.md
  .compozy/tasks/multi-task-run/adrs/adr-003.md
  .compozy/tasks/multi-task-run/adrs/adr-004.md
  .compozy/tasks/multi-task-run/task_01.md
  .compozy/tasks/multi-task-run/task_02.md
  .compozy/tasks/multi-task-run/task_03.md
  .compozy/tasks/multi-task-run/task_04.md
  .compozy/tasks/multi-task-run/task_05.md
  .compozy/tasks/multi-task-run/task_06.md
Due: none

fix: handle windows upgrade env keys
  internal/update/install.go
  internal/update/install_test.go
Due: format-go

feat: add multi-run config foundations
  .compozy/tasks/multi-task-run/_tasks.md
  .compozy/tasks/multi-task-run/task_01.md
  internal/core/tasks/slug_list.go
  internal/core/tasks/slug_list_test.go
  internal/core/workspace/config_merge.go
  internal/core/workspace/config_test.go
  internal/core/workspace/config_types.go
  internal/core/workspace/config_validate.go
Due: format-go

feat: add multi-run task daemon contracts
  internal/api/client/client.go
  internal/api/client/client_contract_test.go
  internal/api/client/client_transport_test.go
  internal/api/client/runs.go
  internal/api/contract/contract_test.go
  internal/api/contract/routes.go
  internal/api/contract/types.go
  internal/api/core/handlers.go
  internal/api/core/handlers_contract_test.go
  internal/api/core/handlers_service_errors_test.go
  internal/api/core/handlers_smoke_test.go
  internal/api/core/interfaces.go
  internal/api/core/routes.go
  internal/api/httpapi/openapi_contract_test.go
  internal/api/httpapi/transport_integration_test.go
  internal/daemon/task_transport_service.go
  openapi/compozy-daemon.json
  web/src/generated/compozy-openapi.d.ts
Due: turbo-lint, format-go

feat: add sequential multi-task run coordinator
  internal/daemon/run_manager.go
  internal/daemon/service.go
  internal/daemon/task_multi.go
  internal/daemon/task_multi_test.go
  internal/daemon/task_transport_service.go
  pkg/compozy/events/event.go
  pkg/compozy/events/kinds/payload_compat_test.go
  pkg/compozy/events/kinds/task.go
Due: format-go

feat: add tasks run-multiple command
  internal/cli/commands_test.go
  internal/cli/daemon_commands.go
  internal/cli/daemon_commands_test.go
  internal/cli/daemon_exec_test_helpers_test.go
  internal/cli/extensions_bootstrap.go
  internal/cli/root.go
  internal/cli/root_command_execution_test.go
  internal/cli/run.go
  internal/cli/run_observe.go
  internal/cli/skills_preflight.go
  internal/cli/state.go
  internal/cli/validate_tasks_test.go
  internal/cli/workspace_config.go
Due: format-go

feat: add tabbed multi-run tui attach
  internal/cli/run_observe.go
  internal/core/run/ui/multi_remote.go
  internal/core/run/ui/multi_remote_test.go
  internal/core/run/ui/update.go
  internal/core/run/ui/update_test.go
  internal/core/run/ui/view.go
Due: format-go

docs: cover multi-run usage and e2e flow
  README.md
  internal/cli/daemon_exec_test_helpers_test.go
  internal/cli/root_command_execution_test.go
  internal/cli/root_test.go
Due: format-go

feat: add kiro-cli as supported ACP execution runtime
  README.md
  internal/core/agent/registry_specs.go
  internal/core/model/constants.go
  internal/setup/runtime_agents.go
Due: format-go

fix: homebrew formula
  .gitignore
  .goreleaser.release-header.md.tmpl
  .goreleaser.yml
  README.md
  internal/update/install.go
  internal/update/install_test.go
  test/release_config_test.go
Due: format-go

fix: address PR #153 review feedback
  internal/core/memory/store.go
  internal/core/run/preflight/preflight_test.go
  internal/core/tasks/walker.go
  internal/core/tasks/walker_test.go
Due: format-go

docs: drop low-value comment on sanitizeTaskMemoryRelpath
  internal/core/memory/store.go
Due: format-go

feat: harden multi-run daemon lifecycle
  .compozy/tasks/multi-task-run/_tasks.md
  .compozy/tasks/multi-task-run/memory/MEMORY.md
  .compozy/tasks/multi-task-run/memory/task_01.md
  .compozy/tasks/multi-task-run/memory/task_02.md
  .compozy/tasks/multi-task-run/memory/task_03.md
  .compozy/tasks/multi-task-run/memory/task_04.md
  .compozy/tasks/multi-task-run/memory/task_05.md
  .compozy/tasks/multi-task-run/memory/task_06.md
  .compozy/tasks/multi-task-run/task_02.md
  .compozy/tasks/multi-task-run/task_03.md
  .compozy/tasks/multi-task-run/task_04.md
  .compozy/tasks/multi-task-run/task_05.md
  .compozy/tasks/multi-task-run/task_06.md
  internal/daemon/run_manager.go
  internal/daemon/run_manager_test.go
  internal/daemon/task_multi.go
  internal/daemon/task_multi_test.go
Due: format-go

feat: add horizontal multi-run tab navigation
  internal/core/run/ui/multi_remote.go
  internal/core/run/ui/multi_remote_test.go
  internal/core/run/ui/update.go
  internal/core/run/ui/update_test.go
  internal/core/run/ui/view_test.go
Due: format-go

fix: address multi-run review feedback
  internal/api/client/client_contract_test.go
  internal/api/contract/contract_test.go
  internal/api/core/handlers_contract_test.go
  internal/api/core/handlers_smoke_test.go
  internal/cli/commands_test.go
  internal/cli/daemon_commands.go
  internal/cli/daemon_commands_test.go
  internal/cli/root_command_execution_test.go
  internal/cli/root_test.go
  internal/cli/run_observe.go
  internal/core/run/ui/multi_remote.go
  internal/core/run/ui/multi_remote_test.go
  internal/core/run/ui/update_test.go
  internal/core/run/ui/view_test.go
  internal/core/tasks/slug_list_test.go
  internal/core/workspace/config_test.go
  internal/daemon/run_manager_test.go
  internal/daemon/task_multi.go
  internal/daemon/task_multi_test.go
Due: format-go

test: parallelize run-multiple config subtests
  internal/core/workspace/config_test.go
Due: format-go

test: guard workspace home dir stubs
  internal/core/workspace/config_test.go
Due: format-go

fix: add Windows daemon support
  internal/cli/daemon_launch_other.go
  internal/cli/daemon_launch_windows.go
  internal/daemon/info.go
  internal/daemon/info_lock_test.go
  internal/daemon/lock.go
  internal/daemon/lock_pid_other.go
  internal/daemon/lock_pid_windows.go
  internal/daemon/sync_dir_unix.go
  internal/daemon/sync_dir_windows.go
  internal/store/sqlite.go
Due: format-go

feat: add kiro-cli as supported ACP execution runtime (#160)
  README.md
  internal/core/agent/registry_specs.go
  internal/core/model/constants.go
  internal/setup/runtime_agents.go
Due: format-go

Path conditions:
  turbo-lint: any of: \.(js|jsx|ts|tsx)$, but not: (?x)^(
  CHANGELOG.md|
  tools/.*/package\.json|
  bun.lockb|
  node_modules|
)$

  format-go: any of: \.go$, but not: (?x)^(
  CHANGELOG.md|
  tools/.*/package\.json|
  bun.lockb|
  node_modules|
)$

