Repository compozy/compozy: changes, and which pre-commit hooks are due for each by the changed paths.
All: turbo-lint, format-go

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit

default_stages:
  - pre-commit

exclude: |
  (?x)^(
    CHANGELOG.md|
    tools/.*/package\.json|
    bun.lockb|
    node_modules|
  )$

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      # - id: trailing-whitespace
      #   args:
      #     - --no-utf8-locale
      - id: end-of-file-fixer
        exclude: '^(CHANGELOG\.md|tools/.*/package\.json|bun\.lockb|node_modules/)'
      - id: check-json
        exclude: '^(tools/.*/package\.json|node_modules/)'
      - id: check-toml
      - id: check-added-large-files
        args:
          - --maxkb=3000
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: detect-private-key
  - repo: local
    hooks:
      - id: turbo-lint
        name: turbo lint
        description: Run linting via Turborepo
        entry: bun run lint
        language: system
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false
      # - id: turbo-type-check
      #   name: turbo type check
      #   description: Run TypeScript checking via Turborepo
      #   entry: bun run type-check
      #   language: system
      #   files: \.(ts|tsx)$
      #   pass_filenames: false
      - id: format-go
        name: format go
        description: Format Go files using make fmt
        entry: make fmt
        language: system
        files: \.go$
        pass_filenames: false
  - repo: https://github.com/lyz-code/yamlfix/
    rev: 1.17.0
    hooks:
      - id: yamlfix
        args:
          - -c
          - .yamlfix.toml
        exclude: ^cluster/.*$

fix: preserve migrated state during update recovery
  desktop/e2e/_electron/__tests__/updates.spec.ts
  desktop/e2e/_electron/fixtures.ts
  desktop/src/main.ts
  docs/qa/reports/2026-09-09-issue-559-safe-update-recovery.md
  docs/qa/scenarios/APP-desktop-runtime-bundle-coherence.md
  docs/qa/scenarios/APP-start-installed-daemon.md
  docs/qa/scenarios/APP-update-recovery-state.md
  internal/cli/daemon.go
  internal/cli/daemon_bootstrap.go
  internal/cli/daemon_bootstrap_desktop_runtime.go
  internal/cli/daemon_bootstrap_test.go
  internal/cli/daemon_wait_readiness_test.go
  internal/cli/daemon_wait_test.go
  internal/cli/update_command_test.go
  internal/cli/update_runtime.go
  internal/daemon/boot.go
  internal/daemon/restart_integration_test.go
  internal/daemon/restart_relaunch.go
  internal/daemon/restart_store.go
  internal/daemon/restart_test.go
  internal/update/coordinator.go
  internal/update/coordinator_runtime.go
  internal/update/coordinator_test.go
  internal/update/manager_apply_test.go
  internal/update/multi_check.go
  internal/update/projection_test.go
  internal/update/provenance.go
  packages/site/content/docs/operations/desktop-app.mdx
  skills/compozy/references/desktop.md
Due: turbo-lint, format-go

fix: preserve provider command routing for spawned sessions
  docs/qa/reports/2026-09-09-issue-564-provider-routing.md
  docs/qa/scenarios/RT-session-spawn-wake.md
  internal/session/manager_helpers.go
  internal/session/manager_lifecycle.go
  internal/session/manager_prompt_contract_test.go
  internal/session/manager_prompt_runtime.go
  internal/session/manager_start.go
  internal/session/manager_start_accept.go
  internal/session/manager_start_runtime.go
  internal/session/manager_start_session.go
  internal/session/manager_start_types.go
  internal/session/manager_stop_integration_test.go
  internal/session/manager_transcript_marker.go
  internal/session/provider_lifecycle_test.go
  internal/session/session.go
  internal/session/spawn_provider.go
  internal/session/spawn_test.go
  packages/site/content/docs/agents/spawning.mdx
  skills/compozy/references/runtime-operations.md
Due: format-go

fix: unify spec-cycle task completion semantics
  docs/qa/scenarios/LP-implement-tasks-orchestrated-mode.md
  extensions/spec-cycle/agents/orchestrator/AGENT.md
  extensions/spec-cycle/embed_test.go
  extensions/spec-cycle/extension.json
  extensions/spec-cycle/import_tasks.go
  extensions/spec-cycle/import_tasks_graph.go
  extensions/spec-cycle/import_tasks_parser.go
  extensions/spec-cycle/import_tasks_test.go
  extensions/spec-cycle/loops/implement-tasks/loop.yaml
  extensions/spec-cycle/provider_test.go
  extensions/spec-cycle/schemas.go
  extensions/spec-cycle/skills/cy-create-tasks/references/task-context-schema.md
  extensions/spec-cycle/skills/cy-orchestrate-tasks/SKILL.md
  internal/daemon/daemon_implement_tasks_e2e_integration_test.go
  internal/daemon/loop_action_registry_boot.go
  internal/daemon/loop_goal_executor.go
  internal/daemon/loop_goal_executor_test.go
  internal/loop/gate/evaluator_extension.go
  internal/loop/gate/evaluator_test.go
  internal/loop/gate/types.go
  internal/loop/goal/executor_test.go
  internal/loop/goal/route.go
  internal/loop/goal/types_judge.go
  packages/site/content/docs/examples/implement-tasks-loop.mdx
  skills/compozy/references/loops.md
Due: format-go

fix: preserve prior session profiles and bound metadata warnings
  .release-notes/restore-prior-session-witnesses.md
  docs/qa/reports/2026-09-09-issue566-session-upgrade.md
  docs/qa/scenarios/RT-002.md
  docs/qa/scenarios/RT-022.md
  internal/api/core/doctor_payload.go
  internal/api/core/handlers_test.go
  internal/doctor/doctor_test.go
  internal/doctor/session_metadata_probe.go
  internal/logger/failure_warnings.go
  internal/memory/dream.go
  internal/memory/dream_test.go
  internal/memory/dream_workspace.go
  internal/session/manager_types.go
  internal/session/query.go
  internal/session/query_health.go
  internal/session/query_test.go
  internal/store/globaldb/global_db_session_test.go
  internal/store/meta_test.go
  internal/store/session_creation_profile.go
  internal/store/session_creation_profile_test.go
  internal/store/testdata/session-profile-v4/README.md
  internal/store/testdata/session-profile-v4/meta.json.golden
  internal/store/testdata/session-profile-v4/profile.json.golden
  packages/site/content/docs/operations/troubleshooting.mdx
  skills/compozy/references/runtime-operations.md
Due: format-go

fix: preserve precise automatic memory recall
  docs/qa/scenarios/MS-006.md
  internal/daemon/daemon_memory_e2e_integration_test.go
  internal/daemon/native_tools_test.go
  internal/memory/catalog_document.go
  internal/memory/catalog_query.go
  internal/memory/recall.go
  internal/memory/recall_source.go
  internal/memory/recall_test.go
  packages/site/content/docs/memory/system.mdx
  skills/compozy/references/memory.md
Due: format-go

fix: preserve tool guidance when skills are disabled
  docs/qa/reports/2026-09-09-scoped-tool-prompts.md
  docs/qa/scenarios/ET-049.md
  internal/daemon/composed_assembler_test.go
  internal/daemon/daemon_test.go
  internal/daemon/harness_context_integration_test.go
  internal/daemon/native_tools_test.go
  internal/daemon/prompt_sections.go
  packages/site/content/docs/skills/bundled.mdx
  skills/compozy/SKILL.md
Due: format-go

fix: simplify embedded recall source selector
  internal/memory/recall_source.go
Due: format-go

fix: verify runtime bundle before staged update recovery
  desktop/e2e/_electron/__tests__/updates.spec.ts
  desktop/src/main.ts
  docs/qa/reports/2026-09-09-issue-559-safe-update-recovery.md
  docs/qa/scenarios/APP-update-recovery-state.md
  packages/site/content/docs/operations/desktop-app.mdx
Due: turbo-lint

fix: judge per-run tasks in their execution worktree
  docs/qa/scenarios/LP-implement-tasks-orchestrated-mode.md
  extensions/spec-cycle/embed_test.go
  extensions/spec-cycle/import_tasks.go
  extensions/spec-cycle/import_tasks_graph.go
  extensions/spec-cycle/import_tasks_parser.go
  extensions/spec-cycle/import_tasks_test.go
  extensions/spec-cycle/provider_test.go
  internal/daemon/daemon_implement_tasks_e2e_integration_test.go
  internal/daemon/loop_action_registry_boot.go
  internal/daemon/loop_goal_executor.go
  internal/daemon/loop_goal_executor_test.go
  internal/loop/gate/evaluator_extension.go
  internal/loop/gate/evaluator_test.go
  internal/loop/goal/executor_test.go
  internal/loop/goal/route.go
Due: format-go

docs: explain provider routing lifecycle invariants
  internal/session/manager_helpers.go
  internal/session/manager_lifecycle.go
  internal/session/manager_prompt_runtime.go
  internal/session/manager_start.go
  internal/session/manager_start_accept.go
  internal/session/manager_start_runtime.go
  internal/session/manager_start_session.go
  internal/session/manager_transcript_marker.go
  internal/session/spawn_provider.go
Due: format-go

fix: reject interrupted extraction and project effective role state
  docs/qa/reports/2026-09-09-issue-561-memory-opt-in.md
  internal/api/core/handler_edge_cases_test.go
  internal/api/core/memory_workspace_test.go
  internal/api/httpapi/memory_test.go
  internal/api/udsapi/memory_test.go
  internal/daemon/daemon_memory_e2e_integration_test.go
  internal/daemon/memory_extractor_output.go
  internal/daemon/memory_runtime_test.go
  internal/daemon/role_resolver.go
  internal/daemon/role_status.go
  internal/daemon/role_status_test.go
  internal/settings/service_test.go
  packages/site/content/docs/memory/index.mdx
  skills/compozy/references/memory.md
Due: format-go

fix: coordinate bootstrap shutdown and reconcile abandoned restarts
  desktop/e2e/_electron/__tests__/shell.spec.ts
  desktop/e2e/_electron/__tests__/updates.spec.ts
  desktop/e2e/_electron/fixtures.ts
  desktop/src/bootstrap/bootstrap-runner.ts
  desktop/src/main.ts
  docs/qa/reports/2026-09-09-issue-559-safe-update-recovery.md
  docs/qa/scenarios/APP-update-recovery-state.md
  internal/cli/daemon.go
  internal/cli/daemon_bootstrap.go
  internal/cli/daemon_bootstrap_desktop_runtime.go
  internal/cli/daemon_bootstrap_test.go
  internal/cli/daemon_wait_readiness_test.go
  internal/cli/daemon_wait_test.go
  internal/cli/update_command_test.go
  internal/cli/update_runtime.go
  internal/daemon/boot.go
  internal/daemon/restart_environment.go
  internal/daemon/restart_integration_test.go
  internal/daemon/restart_relaunch.go
  internal/daemon/restart_test.go
  internal/update/coordinator.go
  internal/update/coordinator_runtime.go
  internal/update/coordinator_test.go
  internal/update/manager_apply_test.go
  internal/update/multi_check.go
  internal/update/projection_test.go
Due: turbo-lint, format-go

fix: review roud
  desktop/src/main.ts
  desktop/src/state/__tests__/app-state.test.ts
Due: turbo-lint

fix: tolerate unmatched terms in memory recall (#569)
  docs/qa/scenarios/MS-006.md
  internal/daemon/daemon_memory_e2e_integration_test.go
  internal/daemon/native_tool_workspace_memory_calls.go
  internal/daemon/native_tools_test.go
  internal/memory/catalog_document.go
  internal/memory/catalog_query.go
  internal/memory/recall.go
  internal/memory/recall/recall_packaging.go
  internal/memory/recall_source.go
  internal/memory/recall_test.go
  packages/site/content/docs/memory/system.mdx
  skills/compozy/references/memory.md
Due: format-go

fix: scope startup tool guidance to session roles (#572)
  docs/qa/reports/2026-09-09-scoped-tool-prompts.md
  docs/qa/scenarios/ET-049.md
  internal/daemon/checkpoint_summary_summarizer.go
  internal/daemon/checkpoint_summary_summarizer_test.go
  internal/daemon/composed_assembler_test.go
  internal/daemon/daemon_test.go
  internal/daemon/harness_context.go
  internal/daemon/harness_context_integration_test.go
  internal/daemon/harness_context_policy.go
  internal/daemon/harness_context_session.go
  internal/daemon/native_tools_test.go
  internal/daemon/prompt_sections.go
  internal/session/manager_start.go
  internal/session/prompt_overlay.go
  internal/session/resume_replay.go
  internal/session/spawn.go
  packages/site/content/docs/skills/bundled.mdx
  skills/compozy/SKILL.md
Due: format-go

fix: preserve migrated state during update recovery (#574)
  desktop/e2e/_electron/__tests__/shell.spec.ts
  desktop/e2e/_electron/__tests__/updates.spec.ts
  desktop/e2e/_electron/fixtures.ts
  desktop/src/bootstrap/bootstrap-runner.ts
  desktop/src/main.ts
  desktop/src/state/__tests__/app-state.test.ts
  docs/qa/reports/2026-09-09-issue-559-safe-update-recovery.md
  docs/qa/scenarios/APP-desktop-runtime-bundle-coherence.md
  docs/qa/scenarios/APP-start-installed-daemon.md
  docs/qa/scenarios/APP-update-recovery-state.md
  internal/cli/daemon.go
  internal/cli/daemon_bootstrap.go
  internal/cli/daemon_bootstrap_desktop_runtime.go
  internal/cli/daemon_bootstrap_test.go
  internal/cli/daemon_wait_readiness_test.go
  internal/cli/daemon_wait_test.go
  internal/cli/update_command_test.go
  internal/cli/update_runtime.go
  internal/daemon/boot.go
  internal/daemon/restart_environment.go
  internal/daemon/restart_integration_test.go
  internal/daemon/restart_relaunch.go
  internal/daemon/restart_store.go
  internal/daemon/restart_test.go
  internal/update/coordinator.go
  internal/update/coordinator_runtime.go
  internal/update/coordinator_test.go
  internal/update/manager_apply_test.go
  internal/update/multi_check.go
  internal/update/projection_test.go
  internal/update/provenance.go
  packages/site/content/docs/operations/desktop-app.mdx
  skills/compozy/references/desktop.md
Due: turbo-lint, format-go

fix: unify spec-cycle task completion semantics (#575)
  docs/qa/scenarios/LP-implement-tasks-orchestrated-mode.md
  extensions/spec-cycle/agents/orchestrator/AGENT.md
  extensions/spec-cycle/embed_test.go
  extensions/spec-cycle/extension.json
  extensions/spec-cycle/import_tasks.go
  extensions/spec-cycle/import_tasks_graph.go
  extensions/spec-cycle/import_tasks_parser.go
  extensions/spec-cycle/import_tasks_test.go
  extensions/spec-cycle/loops/implement-tasks/loop.yaml
  extensions/spec-cycle/provider_test.go
  extensions/spec-cycle/schemas.go
  extensions/spec-cycle/skills/cy-create-tasks/references/task-context-schema.md
  extensions/spec-cycle/skills/cy-orchestrate-tasks/SKILL.md
  internal/daemon/daemon_implement_tasks_e2e_integration_test.go
  internal/daemon/loop_action_registry_boot.go
  internal/daemon/loop_goal_executor.go
  internal/daemon/loop_goal_executor_test.go
  internal/loop/gate/evaluator_extension.go
  internal/loop/gate/evaluator_test.go
  internal/loop/gate/types.go
  internal/loop/goal/executor_test.go
  internal/loop/goal/route.go
  internal/loop/goal/types_judge.go
  packages/site/content/docs/examples/implement-tasks-loop.mdx
  skills/compozy/references/loops.md
Due: format-go

fix: preserve provider command routing for spawned sessions (#576)
  docs/qa/reports/2026-09-09-issue-564-provider-routing.md
  docs/qa/scenarios/RT-session-spawn-wake.md
  internal/session/manager_helpers.go
  internal/session/manager_lifecycle.go
  internal/session/manager_prompt_contract_test.go
  internal/session/manager_prompt_runtime.go
  internal/session/manager_start.go
  internal/session/manager_start_accept.go
  internal/session/manager_start_runtime.go
  internal/session/manager_start_session.go
  internal/session/manager_start_types.go
  internal/session/manager_stop_integration_test.go
  internal/session/manager_transcript_marker.go
  internal/session/provider_lifecycle_test.go
  internal/session/session.go
  internal/session/spawn_provider.go
  internal/session/spawn_test.go
  packages/site/content/docs/agents/spawning.mdx
  skills/compozy/references/runtime-operations.md
Due: format-go

fix: preserve prior session profiles and bound metadata warnings (#578)
  .release-notes/restore-prior-session-witnesses.md
  docs/qa/reports/2026-09-09-issue566-session-upgrade.md
  docs/qa/scenarios/RT-002.md
  docs/qa/scenarios/RT-022.md
  internal/api/core/doctor_payload.go
  internal/api/core/handlers_test.go
  internal/doctor/doctor_test.go
  internal/doctor/session_metadata_probe.go
  internal/logger/failure_warnings.go
  internal/memory/dream.go
  internal/memory/dream_test.go
  internal/memory/dream_workspace.go
  internal/session/manager_types.go
  internal/session/query.go
  internal/session/query_health.go
  internal/session/query_test.go
  internal/store/globaldb/global_db_session_test.go
  internal/store/meta_test.go
  internal/store/session_creation_profile.go
  internal/store/session_creation_profile_test.go
  internal/store/testdata/session-profile-v4/README.md
  internal/store/testdata/session-profile-v4/meta.json.golden
  internal/store/testdata/session-profile-v4/profile.json.golden
  packages/site/content/docs/operations/troubleshooting.mdx
  skills/compozy/references/runtime-operations.md
Due: format-go

fix: reserve shutdown time for required cleanup
  docs/qa/scenarios/MS-workspace-checkpoint-continuity.md
  internal/daemon/checkpoint_summary_runtime.go
  internal/daemon/checkpoint_summary_runtime_test.go
  internal/daemon/memory_runtime_test.go
Due: format-go

fix: resolve post-merge shutdown and verification failures
  .github/actions/setup-bun/action.yml
  .github/workflows/ci.yml
  desktop/src/state/app-state.ts
  docs/qa/reports/2026-09-09-issue-559-safe-update-recovery.md
  docs/qa/scenarios/APP-update-recovery-state.md
  internal/daemon/memory_runtime_test.go
  internal/daemon/native_tools_test.go
  web/e2e/__tests__/session-hardening.spec.ts
Due: turbo-lint, format-go

test: account for paged memory reference results
  internal/daemon/native_tools_test.go
Due: format-go

fix: preserve profile ownership in loop and memory runtimes
  docs/qa/scenarios/LP-loop-environment-resolution.md
  docs/qa/scenarios/MS-profile-memory-tier-scope.md
  internal/daemon/boot_memory_session.go
  internal/daemon/boot_profile_name_resolver.go
  internal/daemon/loop_action_policy.go
  internal/daemon/loop_runtime_adapters_test.go
  internal/daemon/memory_controller_tiebreaker.go
  internal/daemon/memory_extractor_events.go
  internal/daemon/memory_extractor_fork.go
  internal/daemon/memory_extractor_output.go
  internal/daemon/memory_runtime.go
  internal/daemon/memory_runtime_test.go
  internal/daemon/native_tools_test.go
  internal/daemon/role_dependencies.go
  internal/daemon/role_resolver.go
  internal/daemon/role_resolver_test.go
  internal/daemon/task_runtime_boot_roles.go
  internal/memory/contract/types.go
  internal/memory/extractor/runtime_queue.go
  internal/memory/extractor/runtime_test.go
  internal/memory/extractor/runtime_turn.go
Due: format-go

fix: preserve profile scope across loop run views
  docs/qa/scenarios/ET-profile-scoped-work-reads.md
  internal/api/core/loop_read_handlers.go
  internal/api/core/loops_test.go
  internal/api/spec/loop_read_operations.go
  openapi/compozy.json
  web/src/generated/compozy-openapi.d.ts
  web/src/routes/_app/-loops-preload.ts
  web/src/routes/_app/__tests__/-route-preloading.integration.test.tsx
  web/src/systems/loops/adapters/__tests__/loops-api.test.ts
  web/src/systems/loops/adapters/loop-nodes-api.ts
  web/src/systems/loops/adapters/loop-requests-api.ts
  web/src/systems/loops/adapters/loop-run-reads-api.ts
  web/src/systems/loops/adapters/loop-timetravel-api.ts
  web/src/systems/loops/adapters/loops-runs-api.ts
  web/src/systems/loops/hooks/__tests__/use-loop-actions.test.tsx
  web/src/systems/loops/hooks/__tests__/use-loop-stream.test.tsx
  web/src/systems/loops/hooks/__tests__/use-loops.test.tsx
  web/src/systems/loops/hooks/use-loop-actions.ts
  web/src/systems/loops/hooks/use-loop-node-actions.ts
  web/src/systems/loops/hooks/use-loop-node-inventory.ts
  web/src/systems/loops/hooks/use-loop-request-actions.ts
  web/src/systems/loops/hooks/use-loop-requests.ts
  web/src/systems/loops/hooks/use-loop-run-owner.ts
  web/src/systems/loops/hooks/use-loop-run-reads.ts
  web/src/systems/loops/hooks/use-loop-stream.ts
  web/src/systems/loops/hooks/use-loop-timetravel-actions.ts
  web/src/systems/loops/hooks/use-loops.ts
  web/src/systems/loops/lib/__tests__/query-keys.test.ts
  web/src/systems/loops/lib/__tests__/query-options.test.ts
  web/src/systems/loops/lib/query-keys.ts
  web/src/systems/loops/lib/query-options.ts
  web/src/systems/os/apps/loops/use-loop-run-page.ts
Due: turbo-lint, format-go

test: enable memory for the knowledge browser journey
  web/e2e/__tests__/knowledge.spec.ts
  web/e2e/fixtures/runtime-helpers.ts
  web/e2e/fixtures/runtime.ts
Due: turbo-lint

fix: keep loop authoring editable during validation
  docs/qa/reports/2026-09-09-main-ci-integration.md
  docs/qa/scenarios/LP-editor-authoring-walk.md
  web/src/systems/loops/components/__tests__/loop-editor.test.tsx
  web/src/systems/loops/components/editor/loop-editor.tsx
  web/src/systems/loops/hooks/use-loop-editor-state.ts
  web/src/systems/loops/hooks/use-loop-editor.ts
Due: turbo-lint

test: enable memory in the knowledge browser journey
  internal/daemon/memory_runtime_test.go
  web/e2e/__tests__/knowledge.spec.ts
  web/e2e/fixtures/runtime-helpers.ts
  web/e2e/fixtures/runtime.ts
  web/e2e/fixtures/selectors.ts
Due: turbo-lint, format-go

fix: refresh loop owners and preserve scoped read contracts
  docs/qa/scenarios/ET-profile-scoped-work-reads.md
  internal/api/core/loop_read_handlers.go
  internal/api/core/loop_run_profile_guard.go
  internal/api/core/loops_test.go
  web/e2e/__tests__/knowledge.spec.ts
  web/e2e/__tests__/loop-run.spec.ts
  web/e2e/__tests__/loops-graph-eng.spec.ts
  web/e2e/__tests__/loops.spec.ts
  web/e2e/fixtures/runtime-helpers.ts
  web/e2e/fixtures/runtime.ts
  web/e2e/fixtures/selectors.ts
  web/src/routes/_app/-loops-preload.ts
  web/src/routes/_app/__tests__/-route-preloading.integration.test.tsx
  web/src/systems/loops/hooks/__tests__/use-loop-actions.test.tsx
  web/src/systems/loops/hooks/use-loop-run-owner.ts
Due: turbo-lint, format-go

test: align memory fixture wiring with upstream
  web/e2e/fixtures/runtime-helpers.ts
  web/e2e/fixtures/runtime.ts
Due: turbo-lint

fix: retain profile context for memory controller decisions
  internal/daemon/loop_runtime_adapters_test.go
  internal/daemon/memory_controller_role_test.go
  internal/daemon/memory_controller_tiebreaker.go
  internal/daemon/memory_runtime_test.go
  internal/daemon/role_resolver_test.go
  web/e2e/__tests__/knowledge.spec.ts
  web/e2e/fixtures/runtime-helpers.ts
  web/e2e/fixtures/runtime.ts
  web/e2e/fixtures/selectors.ts
Due: turbo-lint, format-go

test: align memory fixtures and stabilize search input
  web/e2e/fixtures/runtime-helpers.ts
  web/e2e/fixtures/runtime.ts
  web/src/systems/session/components/__tests__/session-find-bar.test.tsx
Due: turbo-lint

fix: preserve profile scope across loop run views (#583)
  docs/qa/scenarios/ET-profile-scoped-work-reads.md
  internal/api/core/loop_read_handlers.go
  internal/api/core/loop_run_profile_guard.go
  internal/api/core/loops_test.go
  internal/api/spec/loop_read_operations.go
  openapi/compozy.json
  web/e2e/__tests__/knowledge.spec.ts
  web/e2e/__tests__/loop-run.spec.ts
  web/e2e/__tests__/loops-graph-eng.spec.ts
  web/e2e/__tests__/loops.spec.ts
  web/e2e/fixtures/selectors.ts
  web/src/generated/compozy-openapi.d.ts
  web/src/routes/_app/-loops-preload.ts
  web/src/routes/_app/__tests__/-route-preloading.integration.test.tsx
  web/src/systems/loops/adapters/__tests__/loops-api.test.ts
  web/src/systems/loops/adapters/loop-nodes-api.ts
  web/src/systems/loops/adapters/loop-requests-api.ts
  web/src/systems/loops/adapters/loop-run-reads-api.ts
  web/src/systems/loops/adapters/loop-timetravel-api.ts
  web/src/systems/loops/adapters/loops-runs-api.ts
  web/src/systems/loops/hooks/__tests__/use-loop-actions.test.tsx
  web/src/systems/loops/hooks/__tests__/use-loop-stream.test.tsx
  web/src/systems/loops/hooks/__tests__/use-loops.test.tsx
  web/src/systems/loops/hooks/use-loop-actions.ts
  web/src/systems/loops/hooks/use-loop-node-actions.ts
  web/src/systems/loops/hooks/use-loop-node-inventory.ts
  web/src/systems/loops/hooks/use-loop-request-actions.ts
  web/src/systems/loops/hooks/use-loop-requests.ts
  web/src/systems/loops/hooks/use-loop-run-owner.ts
  web/src/systems/loops/hooks/use-loop-run-reads.ts
  web/src/systems/loops/hooks/use-loop-stream.ts
  web/src/systems/loops/hooks/use-loop-timetravel-actions.ts
  web/src/systems/loops/hooks/use-loops.ts
  web/src/systems/loops/lib/__tests__/query-keys.test.ts
  web/src/systems/loops/lib/__tests__/query-options.test.ts
  web/src/systems/loops/lib/query-keys.ts
  web/src/systems/loops/lib/query-options.ts
  web/src/systems/os/apps/loops/use-loop-run-page.ts
  web/src/systems/session/components/__tests__/session-find-bar.test.tsx
Due: turbo-lint, format-go

fix: preserve profile ownership in loop and memory runtimes (#582)
  docs/qa/scenarios/LP-loop-environment-resolution.md
  docs/qa/scenarios/MS-profile-memory-tier-scope.md
  internal/daemon/boot_memory_session.go
  internal/daemon/boot_profile_name_resolver.go
  internal/daemon/loop_action_policy.go
  internal/daemon/loop_runtime_adapters_test.go
  internal/daemon/memory_controller_role_test.go
  internal/daemon/memory_controller_tiebreaker.go
  internal/daemon/memory_extractor_events.go
  internal/daemon/memory_extractor_fork.go
  internal/daemon/memory_extractor_output.go
  internal/daemon/memory_runtime.go
  internal/daemon/memory_runtime_test.go
  internal/daemon/role_dependencies.go
  internal/daemon/role_resolver.go
  internal/daemon/role_resolver_test.go
  internal/daemon/task_runtime_boot_roles.go
  internal/memory/contract/types.go
  internal/memory/extractor/runtime_queue.go
  internal/memory/extractor/runtime_test.go
  internal/memory/extractor/runtime_turn.go
Due: format-go

fix: reserve shutdown time for required cleanup (#581)
  docs/qa/scenarios/MS-workspace-checkpoint-continuity.md
  internal/daemon/checkpoint_summary_runtime.go
  internal/daemon/checkpoint_summary_runtime_test.go
Due: format-go

test: keep noncooperative ACP prompts alive after cancellation
  internal/acp/client_test_support_test.go
Due: format-go

fix: retain the Global desktop across workspace catalog changes
  docs/qa/scenarios/ET-web-jobs-triggers-catalog.md
  docs/qa/scenarios/MS-web-menubar-global-scope-toggle.md
  web/src/routes/_app/__tests__/-session-workspace-switch-action.test.ts
  web/src/systems/workspace/hooks/__tests__/use-workspaces.test.tsx
  web/src/systems/workspace/hooks/use-active-workspace-store.ts
  web/src/systems/workspace/hooks/use-active-workspace.ts
  web/src/systems/workspace/lib/__tests__/active-workspace.test.ts
  web/src/systems/workspace/lib/active-workspace.ts
  web/src/systems/workspace/stores/__tests__/active-workspace-store.test.ts
  web/src/systems/workspace/stores/active-workspace-store.ts
Due: turbo-lint
