Repository compozy/compozy: changes, and which pre-commit hooks are due for each by the changed paths.
All: turbo-lint, format-go

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit

default_stages:
  - pre-commit

exclude: |
  (?x)^(
    CHANGELOG.md|
    tools/.*/package\.json|
    bun.lockb|
    node_modules|
  )$

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      # - id: trailing-whitespace
      #   args:
      #     - --no-utf8-locale
      - id: end-of-file-fixer
        exclude: '^(CHANGELOG\.md|tools/.*/package\.json|bun\.lockb|node_modules/)'
      - id: check-json
        exclude: '^(tools/.*/package\.json|node_modules/)'
      - id: check-toml
      - id: check-added-large-files
        args:
          - --maxkb=3000
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: detect-private-key
  - repo: local
    hooks:
      - id: turbo-lint
        name: turbo lint
        description: Run linting via Turborepo
        entry: bun run lint
        language: system
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false
      # - id: turbo-type-check
      #   name: turbo type check
      #   description: Run TypeScript checking via Turborepo
      #   entry: bun run type-check
      #   language: system
      #   files: \.(ts|tsx)$
      #   pass_filenames: false
      - id: format-go
        name: format go
        description: Format Go files using make fmt
        entry: make fmt
        language: system
        files: \.go$
        pass_filenames: false
  - repo: https://github.com/lyz-code/yamlfix/
    rev: 1.17.0
    hooks:
      - id: yamlfix
        args:
          - -c
          - .yamlfix.toml
        exclude: ^cluster/.*$

fix: recover settings saves after connection loss
  docs/_memory/change-impact.md
  docs/qa/bugs/BUG-20261004-settings-offline-save-stuck.md
  docs/qa/bugs/BUG-20261004-settings-startup-false-offline.md
  docs/qa/reports/2026-10-02-untested.md
  docs/qa/scenarios/MS-027.md
  docs/qa/scenarios/MS-attention-settings-roundtrip.md
  docs/qa/scenarios/MS-web-settings-takeover-redesign.md
  web/src/systems/settings/adapters/__tests__/settings-api.test.ts
  web/src/systems/settings/adapters/settings-api-error.ts
  web/src/systems/settings/adapters/settings-persona-api.ts
  web/src/systems/settings/adapters/settings-roles-api.ts
  web/src/systems/settings/adapters/settings-sections-api.ts
  web/src/systems/settings/hooks/__tests__/use-settings-mutations.test.tsx
  web/src/systems/settings/hooks/use-settings-attention-mutation.ts
  web/src/systems/settings/hooks/use-settings-mutations.ts
Due: turbo-lint

fix: resolve relative workspace registration paths
  docs/_memory/change-impact.md
  docs/qa/bugs/BUG-20261004-workspace-add-relative-path.md
  docs/qa/reports/2026-10-02-untested.md
  docs/qa/scenarios/RT-home-workspace-not-registrable.md
  internal/cli/workspace.go
  internal/cli/workspace_test.go
  packages/site/content/docs/workspaces/resolver.mdx
Due: format-go

fix: enforce managed Loop tool restrictions
  docs/_memory/change-impact.md
  docs/qa/bugs/BUG-20260713-loop-failure-hidden.md
  docs/qa/bugs/BUG-20261005-loop-managed-allowed-tools-ignored.md
  docs/qa/bugs/BUG-20261005-loop-worker-cleanup-user-canceled.md
  docs/qa/reports/2026-10-02-untested.md
  docs/qa/scenarios/LP-003.md
  docs/qa/scenarios/LP-046.md
  docs/qa/scenarios/LP-action-failure-detail.md
  internal/daemon/loop_action_failure.go
  internal/daemon/loop_goal_managed_runtime_integration_test.go
  internal/daemon/loop_managed_binding_profile.go
  internal/session/manager_allowed_tools.go
  packages/site/content/docs/loops/dsl-reference.mdx
  skills/compozy/references/loops.md
Due: format-go

fix: preserve saved idle timeout in settings
  docs/_memory/change-impact.md
  docs/qa/bugs/BUG-20261004-settings-idle-timeout-display.md
  docs/qa/reports/2026-10-02-untested.md
  docs/qa/scenarios/MS-025.md
  docs/qa/scenarios/MS-web-settings-takeover-redesign.md
  web/src/routes/_app/settings/-general-settings-page.tsx
  web/src/routes/_app/settings/__tests__/-general.test.tsx
  web/src/systems/settings/hooks/__tests__/use-settings-general-page.test.tsx
  web/src/systems/settings/hooks/use-settings-general-page.ts
Due: turbo-lint

docs: record verified help guidance repairs
  docs/qa/bugs/BUG-20261004-help-tip-discards-draft.md
  docs/qa/bugs/BUG-20261004-help-tip-vanishes-on-tap.md
  docs/qa/reports/2026-10-02-untested.md
  docs/qa/scenarios/MS-web-entity-modal-shell.md
  docs/qa/scenarios/MS-web-modal-help-tips.md
Due: none

fix: clarify vault guidance and compact settings
  docs/_memory/change-impact.md
  docs/qa/bugs/BUG-20261004-settings-choices-ignore-window.md
  docs/qa/bugs/BUG-20261004-vault-help-name-generic.md
  docs/qa/bugs/BUG-20261004-vault-name-recovery-missing.md
  docs/qa/bugs/BUG-20261004-vault-warning-covered.md
  docs/qa/reports/2026-10-02-untested.md
  docs/qa/scenarios/ET-web-vault-overwrite-confirmation.md
  docs/qa/scenarios/MS-040.md
  docs/qa/scenarios/MS-web-entity-modal-shell.md
  docs/qa/scenarios/MS-web-modal-help-tips.md
  docs/qa/scenarios/MS-web-settings-takeover-redesign.md
  internal/api/core/vault_test.go
  internal/vault/types.go
  packages/site/content/docs/configuration/vault.mdx
  web/src/systems/settings/components/__tests__/settings-field-row.test.tsx
  web/src/systems/settings/components/setting-row.tsx
  web/src/systems/settings/components/settings-choice-group.tsx
  web/src/systems/vault/components/vault-editor.tsx
Due: turbo-lint, format-go

docs: record settings recovery and concurrent attention QA
  docs/qa/bugs/BUG-20261004-settings-offline-save-stuck.md
  docs/qa/charters/CH-attention-complete-writers.md
  docs/qa/reports/2026-10-02-untested.md
  docs/qa/scenarios/MS-attention-settings-roundtrip.md
  docs/qa/scenarios/MS-web-settings-takeover-redesign.md
Due: none

docs: record vault and modal verification
  docs/qa/bugs/BUG-20261004-settings-choices-ignore-window.md
  docs/qa/bugs/BUG-20261004-settings-idle-timeout-display.md
  docs/qa/bugs/BUG-20261004-vault-help-name-generic.md
  docs/qa/bugs/BUG-20261004-vault-name-recovery-missing.md
  docs/qa/bugs/BUG-20261004-vault-warning-covered.md
  docs/qa/reports/2026-10-02-untested.md
  docs/qa/scenarios/ET-web-vault-overwrite-confirmation.md
  docs/qa/scenarios/MS-025.md
  docs/qa/scenarios/MS-040.md
  docs/qa/scenarios/MS-web-entity-modal-shell.md
  docs/qa/scenarios/MS-web-modal-help-tips.md
  docs/qa/scenarios/MS-web-settings-takeover-redesign.md
Due: none

docs: record four verified global and loop QA scenarios
  docs/qa/bugs/BUG-20260906-stopped-history-schema-upgrade.md
  docs/qa/bugs/BUG-20261004-global-agents-project-gate.md
  docs/qa/bugs/BUG-20261004-task-execution-switches-unnamed.md
  docs/qa/bugs/BUG-20261005-loop-catalog-filters-missing.md
  docs/qa/bugs/BUG-20261005-loop-runtime-labels-generic.md
  docs/qa/bugs/BUG-20261005-loop-search-loses-focus.md
  docs/qa/reports/2026-10-02-untested.md
  docs/qa/scenarios/LP-001.md
  docs/qa/scenarios/LP-002.md
  docs/qa/scenarios/MS-global-scope-no-workspace-work.md
  docs/qa/scenarios/RT-home-workspace-not-registrable.md
Due: none

docs: close Loop policy QA and record terminal findings
  docs/qa/bugs/BUG-20260713-loop-failure-hidden.md
  docs/qa/bugs/BUG-20261005-loop-cancel-leaves-worker-running.md
  docs/qa/bugs/BUG-20261005-loop-managed-allowed-tools-ignored.md
  docs/qa/bugs/BUG-20261005-loop-wall-limit-ignored.md
  docs/qa/reports/2026-10-02-untested.md
  docs/qa/scenarios/LP-003.md
  docs/qa/scenarios/LP-046.md
  docs/qa/scenarios/LP-action-failure-detail.md
Due: none

fix: preserve truthful Loop stop and failure attribution
  docs/_memory/change-impact.md
  docs/qa/bugs/BUG-20261005-loop-budget-phantom-failure-action.md
  docs/qa/bugs/BUG-20261005-loop-wall-limit-ignored.md
  docs/qa/bugs/BUG-20261005-loop-worker-cleanup-user-canceled.md
  docs/qa/reports/2026-10-02-untested.md
  docs/qa/scenarios/LP-003.md
  internal/api/core/session_stop.go
  internal/api/spec/session_values.go
  internal/api/spec/spec_test.go
  internal/daemon/loop_goal_outbox_relay.go
  internal/daemon/loop_goal_outbox_relay_test.go
  internal/session/manager_lifecycle_contract_test.go
  internal/session/stop_cause.go
  internal/session/stop_reason.go
  internal/store/globaldb/global_db_loop_cancel_sessions.go
  internal/store/globaldb/global_db_loop_test.go
  internal/store/types_session.go
  openapi/compozy.json
  packages/site/content/docs/sessions/lifecycle.mdx
  skills/compozy/references/loops.md
  web/src/components/assistant-ui/__tests__/session-thread-status.logic.test.ts
  web/src/generated/compozy-openapi.d.ts
  web/src/systems/loops/components/__tests__/loop-run-page.test.tsx
  web/src/systems/loops/lib/loop-run-briefing-view.ts
  web/src/systems/session/lib/__tests__/runtime-activity-notice.test.ts
  web/src/systems/session/lib/runtime-activity-notice.ts
  web/src/systems/session/lib/session-thread-status.ts
Due: turbo-lint, format-go

fix: preserve loop task results
  docs/_memory/change-impact.md
  docs/qa/bugs/BUG-20261005-goal-result-loses-fields.md
  docs/qa/bugs/BUG-20261005-loop-result-drops-whitespace.md
  docs/qa/bugs/BUG-20261005-loop-staged-task-id-literal.md
  docs/qa/charters/CH-pinned-wait-extension-lifecycle.md
  docs/qa/journeys/J-04-operator-pause-resume.md
  docs/qa/reports/2026-10-02-untested.md
  docs/qa/scenarios/LP-implement-tasks-orchestrated-mode.md
  docs/qa/scenarios/TA-080.md
  extensions/spec-cycle/embed_test.go
  extensions/spec-cycle/loops/implement-tasks/loop.yaml
  internal/daemon/loop_goal_executor_test.go
  internal/daemon/loop_goal_prompt_recovery.go
  internal/daemon/loop_judge_execution.go
  internal/daemon/loop_managed_prompt_events.go
  internal/daemon/loop_runtime_adapters.go
  internal/daemon/loop_runtime_adapters_test.go
  packages/site/content/docs/examples/implement-tasks-loop.mdx
Due: format-go

fix: preserve profile scope in loop catalogs
  docs/_memory/change-impact.md
  docs/qa/bugs/BUG-20261005-loop-catalog-ignores-profile.md
  docs/qa/reports/2026-10-02-untested.md
  docs/qa/scenarios/ET-052.md
  web/src/routes/_app/-loops-preload.ts
  web/src/routes/_app/__tests__/-route-preloading.integration.test.tsx
  web/src/systems/loops/adapters/__tests__/loops-api.test.ts
  web/src/systems/loops/adapters/loops-catalog-api.ts
  web/src/systems/loops/components/runs/loop-runs-view.tsx
  web/src/systems/loops/hooks/use-loops.ts
  web/src/systems/loops/lib/__tests__/query-keys.test.ts
  web/src/systems/loops/lib/__tests__/query-options.test.ts
  web/src/systems/loops/lib/loops-list-query.ts
  web/src/systems/loops/lib/query-keys.ts
  web/src/systems/os/hooks/use-os-palette-workspace-catalogs.ts
  web/src/systems/settings/hooks/__tests__/use-settings-general-page.test.tsx
Due: turbo-lint

fix: honor initial gate routes and repeated blocker limits
  docs/_memory/change-impact.md
  docs/qa/bugs/BUG-20261005-loop-budget-phantom-failure-action.md
  docs/qa/bugs/BUG-20261005-loop-gate-route-bypasses-stall.md
  docs/qa/bugs/BUG-20261005-loop-initial-gate-route-lost.md
  docs/qa/bugs/BUG-20261005-loop-worker-cleanup-user-canceled.md
  docs/qa/reports/2026-10-02-untested.md
  docs/qa/scenarios/LP-003.md
  docs/qa/scenarios/LP-revise-repair-context.md
  docs/qa/scenarios/LP-web-runs-breadcrumb.md
  internal/loop/control_plan.go
  internal/loop/control_plan_finish.go
  internal/loop/coordinator.go
  internal/loop/coordinator_generation_succession.go
  internal/loop/coordinator_test.go
  packages/site/content/docs/loops/guardrails.mdx
  skills/compozy/references/loops.md
Due: format-go

docs: close human review and runs QA findings
  docs/qa/bugs/BUG-20261005-loop-breadcrumb-history-overrides-parent.md
  docs/qa/bugs/BUG-20261005-loop-filter-hides-existing-runs.md
  docs/qa/bugs/BUG-20261005-loop-human-prompt-missing.md
  docs/qa/bugs/BUG-20261005-loop-mobile-run-names-truncated.md
  docs/qa/bugs/BUG-20261005-loop-request-changes-finishes-done.md
  docs/qa/bugs/BUG-20261005-loop-session-filter-disappears.md
  docs/qa/bugs/BUG-20261005-loop-usage-counts-human-wait.md
  docs/qa/reports/2026-10-02-untested.md
  docs/qa/scenarios/LP-008.md
  docs/qa/scenarios/LP-009.md
  docs/qa/scenarios/LP-010.md
  docs/qa/scenarios/LP-web-run-default-read-briefing.md
  docs/qa/scenarios/LP-web-runs-breadcrumb.md
Due: none

docs: record verified task delivery walks
  docs/qa/bugs/BUG-20261005-goal-result-loses-fields.md
  docs/qa/bugs/BUG-20261005-loop-result-drops-whitespace.md
  docs/qa/bugs/BUG-20261005-loop-staged-task-id-literal.md
  docs/qa/reports/2026-10-02-untested.md
  docs/qa/scenarios/LP-implement-tasks-orchestrated-mode.md
  docs/qa/scenarios/TA-080.md
Due: none

docs: close profile scoped loop catalog QA
  docs/qa/bugs/BUG-20261005-loop-catalog-ignores-profile.md
  docs/qa/reports/2026-10-02-untested.md
  docs/qa/scenarios/ET-052.md
Due: none

fix: stop canceled Loop prompts before output repair
  docs/_memory/change-impact.md
  docs/qa/bugs/BUG-20261005-loop-cancel-leaves-worker-running.md
  docs/qa/reports/2026-10-02-untested.md
  docs/qa/scenarios/LP-003.md
  internal/daemon/loop_prompt_failure.go
  internal/daemon/loop_runtime_adapters_test.go
Due: format-go

docs: close cancellation replay and plan budget boundary QA
  docs/qa/bugs/BUG-20261005-loop-cancel-leaves-worker-running.md
  docs/qa/reports/2026-10-02-untested.md
  docs/qa/scenarios/LP-003.md
Due: none

docs: correct durable wait event example
  docs/_memory/change-impact.md
  docs/qa/bugs/BUG-20261005-loop-wait-example-unknown-event.md
  docs/qa/charters/CH-run-form-input-recovery.md
  docs/qa/journeys/J-05-configure-no-fork.md
  docs/qa/reports/2026-10-02-untested.md
  docs/qa/scenarios/LP-live-run-survives-extension-disable.md
  packages/site/content/docs/loops/dsl-reference.mdx
Due: none

docs: record pinned wait recovery
  docs/qa/bugs/BUG-20261005-loop-wait-example-unknown-event.md
  docs/qa/reports/2026-10-02-untested.md
  docs/qa/scenarios/LP-live-run-survives-extension-disable.md
Due: none

docs: record rebase and delegate final gate to CI
  docs/_memory/change-impact.md
  docs/qa/bugs/BUG-20261004-extension-profile-creator-attribution.md
  docs/qa/reports/2026-10-02-untested-rebase.md
  docs/qa/reports/2026-10-02-untested.md
Due: none

fix: preserve rollback provenance and repair CI regressions
  docs/_memory/change-impact.md
  docs/qa/reports/2026-10-05-pr-691-ci.md
  docs/qa/scenarios/ET-palette-nested-views.md
  docs/qa/scenarios/ET-profile-web-settings-lifecycle-dialogs.md
  docs/qa/scenarios/MS-web-settings-takeover-redesign.md
  internal/cmdpalette/ports.go
  internal/cmdpalette/test_support_test.go
  internal/cmdpalette/view_session_open.go
  internal/daemon/cmd_palette_client_directory.go
  internal/daemon/daemon_mock_agents_integration_test.go
  internal/extension/marketplace_lifecycle_test.go
  internal/extension/registry_removal.go
  packages/ui/src/components/__tests__/menubar.test.tsx
  web/.storybook/preview.ts
  web/e2e/__tests__/os-shell.spec.ts
  web/e2e/__tests__/session-clarify.spec.ts
  web/e2e/__tests__/session-hardening.spec.ts
  web/e2e/__tests__/settings-hardening.spec.ts
  web/e2e/__tests__/storybook-bootstrap.spec.ts
  web/e2e/__tests__/terminal-agent.spec.ts
  web/e2e/__tests__/tool-approval-grants.spec.ts
  web/src/routes/-root-components.tsx
  web/src/routes/__tests__/-__root.test.tsx
  web/src/systems/os/apps/agents/use-agents-catalog.ts
  web/src/systems/os/apps/automation/use-automation-job-detail-page.ts
  web/src/systems/os/apps/automation/use-automation-trigger-detail-page.ts
  web/src/systems/os/apps/loops/loops-window.tsx
  web/src/systems/os/apps/loops/use-loop-run-page.ts
  web/src/systems/session/mocks/catalog-stream-handler.ts
  web/src/systems/session/mocks/handlers.ts
  web/src/systems/session/mocks/index.ts
  web/src/systems/settings/hooks/use-settings-general-page.ts
Due: turbo-lint, format-go

fix: skills nested
  internal/skills/registry_command.go
  internal/skills/registry_test.go
  internal/skills/source_status.go
Due: format-go

fix: migrate video typecheck to TypeScript 7
  docs/qa/reports/2026-10-05-dependency-upgrades.md
  packages/launch-video/package.json
  packages/launch-video/tsconfig.json
Due: none

fix: preserve concurrent draft edits and bound catalog reads
  cmd/compozy-catalog/main_test.go
  cmd/compozy-catalog/publish_sources.go
  docs/qa/reports/2026-10-05-dependency-upgrades.md
  docs/qa/scenarios/ET-web-session-composer-text-entry.md
  web/src/components/assistant-ui/__tests__/session-thread.test.tsx
  web/src/components/assistant-ui/hooks/session-composer-sync-store.ts
Due: turbo-lint, format-go

ci: serialize fully instrumented migration tests
  docs/qa/reports/2026-10-05-dependency-upgrades.md
  magefiles/gotest_lane.go
  magefiles/gotest_lane_test.go
  magefiles/test.go
Due: format-go

perf: prioritize restored window frames before their contents
  .release-notes/dependency-upgrades.md
  docs/_memory/change-impact.md
  docs/qa/reports/2026-10-05-dependency-upgrades.md
  docs/qa/scenarios/ET-web-desktop-shell-lifecycle.md
  web/src/systems/os/components/os-window.tsx
Due: turbo-lint

fix: repair release validation and lane cleanup ownership
  .release-notes/lane-cleanup-ownership.md
  docs/_memory/change-impact.md
  docs/qa/reports/2026-10-05-dependency-upgrades.md
  docs/qa/scenarios/LP-per-lane-node-control.md
  docs/qa/scenarios/RT-web-attention-bell-jump.md
  internal/api/httpapi/helpers_integration_test.go
  internal/api/udsapi/udsapi_integration_test.go
  internal/store/globaldb/global_db_goal_binding_integration_test.go
  internal/store/globaldb/global_db_loop_cancel_lane.go
  internal/store/globaldb/global_db_loop_cancel_sessions.go
  web/e2e/__tests__/attention.spec.ts
Due: turbo-lint, format-go

fix: repair desktop restoration and native shortcut validation
  .release-notes/window-restore-readiness.md
  desktop/e2e/_electron/__tests__/shell.spec.ts
  docs/_memory/change-impact.md
  docs/qa/reports/2026-10-05-dependency-upgrades.md
  docs/qa/scenarios/ET-electron-session-copy-debug.md
  docs/qa/scenarios/ET-web-desktop-shell-lifecycle.md
  web/src/systems/os/hooks/__tests__/os-interaction-hooks.test.tsx
  web/src/systems/os/hooks/use-os-win-layer.ts
Due: turbo-lint

fix: repair release validation and desktop restoration (#694)
  .release-notes/lane-cleanup-ownership.md
  .release-notes/window-restore-readiness.md
  desktop/e2e/_electron/__tests__/shell.spec.ts
  docs/_memory/change-impact.md
  docs/qa/reports/2026-10-05-dependency-upgrades.md
  docs/qa/scenarios/ET-electron-session-copy-debug.md
  docs/qa/scenarios/ET-web-desktop-shell-lifecycle.md
  docs/qa/scenarios/LP-per-lane-node-control.md
  docs/qa/scenarios/RT-web-attention-bell-jump.md
  internal/api/httpapi/helpers_integration_test.go
  internal/api/udsapi/udsapi_integration_test.go
  internal/store/globaldb/global_db_goal_binding_integration_test.go
  internal/store/globaldb/global_db_loop_cancel_lane.go
  internal/store/globaldb/global_db_loop_cancel_sessions.go
  web/e2e/__tests__/attention.spec.ts
  web/src/systems/os/hooks/__tests__/os-interaction-hooks.test.tsx
  web/src/systems/os/hooks/use-os-win-layer.ts
Due: turbo-lint, format-go

test: wait for loop detail before returning to tasks
  docs/_memory/change-impact.md
  docs/qa/reports/2026-10-05-dependency-upgrades.md
  docs/qa/scenarios/TA-web-tasks-calm-default-reveal.md
  web/e2e/__tests__/tasks.spec.ts
Due: turbo-lint

fix: preserve profile recovery guidance during registration retries
  .release-notes/profile-recovery-guidance.md
  docs/_memory/change-impact.md
  docs/qa/reports/2026-10-05-dependency-upgrades.md
  docs/qa/scenarios/ET-profile-operations-recovery.md
  docs/qa/scenarios/ET-terminal-cli-public-contract.md
  docs/qa/scenarios/ET-terminal-stream-resilience.md
  web/e2e/__tests__/terminal.spec.ts
  web/src/systems/os/hooks/__tests__/use-window-manager-client.test.tsx
  web/src/systems/os/hooks/window-manager-client-registration-store.ts
Due: turbo-lint

fix: preserve profile recovery guidance and repair browser validation (#695)
  .release-notes/profile-recovery-guidance.md
  docs/_memory/change-impact.md
  docs/qa/reports/2026-10-05-dependency-upgrades.md
  docs/qa/scenarios/ET-profile-operations-recovery.md
  docs/qa/scenarios/ET-terminal-cli-public-contract.md
  docs/qa/scenarios/ET-terminal-stream-resilience.md
  docs/qa/scenarios/TA-web-tasks-calm-default-reveal.md
  web/e2e/__tests__/tasks.spec.ts
  web/e2e/__tests__/terminal.spec.ts
  web/src/systems/os/hooks/__tests__/use-window-manager-client.test.tsx
  web/src/systems/os/hooks/window-manager-client-registration-store.ts
Due: turbo-lint
