Repository compozy/compozy: changes, and which pre-commit hooks are due for each by the changed paths.
All: turbo-lint, format-go

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit

default_stages:
  - pre-commit

exclude: |
  (?x)^(
    CHANGELOG.md|
    tools/.*/package\.json|
    bun.lockb|
    node_modules|
  )$

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      # - id: trailing-whitespace
      #   args:
      #     - --no-utf8-locale
      - id: end-of-file-fixer
        exclude: '^(CHANGELOG\.md|tools/.*/package\.json|bun\.lockb|node_modules/)'
      - id: check-json
        exclude: '^(tools/.*/package\.json|node_modules/)'
      - id: check-toml
      - id: check-added-large-files
        args:
          - --maxkb=3000
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: detect-private-key
  - repo: local
    hooks:
      - id: turbo-lint
        name: turbo lint
        description: Run linting via Turborepo
        entry: bun run lint
        language: system
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false
      # - id: turbo-type-check
      #   name: turbo type check
      #   description: Run TypeScript checking via Turborepo
      #   entry: bun run type-check
      #   language: system
      #   files: \.(ts|tsx)$
      #   pass_filenames: false
      - id: format-go
        name: format go
        description: Format Go files using make fmt
        entry: make fmt
        language: system
        files: \.go$
        pass_filenames: false
  - repo: https://github.com/lyz-code/yamlfix/
    rev: 1.17.0
    hooks:
      - id: yamlfix
        args:
          - -c
          - .yamlfix.toml
        exclude: ^cluster/.*$

fix: order journal admission and retain text-only errors
  docs/_memory/change-impact.md
  docs/qa/reports/2026-09-12-session-context.md
  docs/qa/scenarios/ET-terminal-journal-fail-closed.md
  docs/qa/scenarios/ET-web-session-transcript-calm-grammar.md
  internal/api/udsapi/transport_parity_integration_test.go
  internal/terminal/osc_filter_test.go
  internal/terminal/session_input.go
  web/src/systems/session/components/__tests__/runtime-activity-notice.test.tsx
  web/src/systems/session/components/runtime-activity-notice.tsx
  web/src/systems/session/lib/__tests__/runtime-activity-notice.test.ts
  web/src/systems/session/lib/runtime-activity-notice.ts
Due: turbo-lint, format-go

fix: reconcile unified marketplace reads and retained links
  docs/_memory/change-impact.md
  web/src/integrations/tanstack-query/reconcile-installed-extension.ts
  web/src/routes/_app/marketplace.index.tsx
  web/src/systems/extensions/hooks/__tests__/use-extensions.test.tsx
  web/src/systems/marketplace/adapters/__tests__/marketplace-api.test.ts
  web/src/systems/marketplace/adapters/marketplace-actions-api.ts
  web/src/systems/marketplace/adapters/marketplace-api.ts
  web/src/systems/marketplace/components/__tests__/marketplace-action-controller-logic.test.ts
  web/src/systems/marketplace/components/__tests__/marketplace-components.test.tsx
  web/src/systems/marketplace/components/marketplace-catalog-section.tsx
  web/src/systems/marketplace/components/marketplace-entry-logo.tsx
  web/src/systems/marketplace/components/marketplace-results.tsx
  web/src/systems/marketplace/hooks/__tests__/use-marketplace-actions.test.tsx
  web/src/systems/marketplace/hooks/__tests__/use-marketplace.test.tsx
  web/src/systems/marketplace/hooks/use-marketplace-actions.ts
  web/src/systems/marketplace/hooks/use-marketplace-page.ts
  web/src/systems/marketplace/hooks/use-marketplace.ts
  web/src/systems/marketplace/lib/__tests__/query-keys.test.ts
  web/src/systems/marketplace/lib/marketplace-brand-registry.ts
  web/src/systems/marketplace/lib/query-keys.ts
  web/src/systems/marketplace/lib/query-options.ts
  web/src/systems/marketplace/mocks/fixtures.ts
  web/src/systems/marketplace/mocks/handlers.ts
  web/src/systems/marketplace/mocks/index.ts
  web/src/systems/marketplace/types.ts
Due: turbo-lint

feat: One marketplace surface on today's catalog #01
  docs/_memory/change-impact.md
  docs/design/opendesign/marketplace-catalog/DESIGN-NOTES.md
  docs/qa/scenarios/ET-web-marketplace-detail-redesign.md
  docs/qa/scenarios/ET-web-marketplace-kind-navigation.md
  docs/qa/scenarios/ET-web-marketplace-landing-browse.md
  docs/qa/scenarios/ET-web-marketplace-search-fanout.md
  web/src/routeTree.gen.ts
  web/src/routes/_app/marketplace.$kind.$entryId.tsx
  web/src/routes/_app/marketplace.extensions.tsx
  web/src/routes/_app/marketplace.index.tsx
  web/src/routes/_app/marketplace.mcps.tsx
  web/src/routes/_app/marketplace.skills.tsx
  web/src/routes/_app/settings/-extensions-policy-section.tsx
  web/src/storybook/app-route-stories.ts
  web/src/systems/dashboard/components/home-first-run.tsx
  web/src/systems/marketplace/components/__tests__/marketplace-components.test.tsx
  web/src/systems/marketplace/lib/marketplace-search.ts
  web/src/systems/marketplace/routes/marketplace.stories.tsx
  web/src/systems/os/apps/marketplace/marketplace-window.tsx
  web/src/systems/settings/components/settings-skills-engine-sections.tsx
  web/src/systems/settings/mocks/fixtures.ts
Due: turbo-lint

refactor: remove marketplace installer compatibility workarounds
  RELEASE_NOTES.md
  docs/_memory/change-impact.md
  internal/api/contract/extensions.go
  internal/api/core/extensions.go
  internal/api/core/extensions_install_preview.go
  internal/api/core/extensions_test.go
  internal/api/core/settings_mcp_collection.go
  internal/api/core/settings_test.go
  internal/cli/extension_install.go
  internal/cli/extension_install_inputs.go
  internal/cli/extension_install_parse.go
  internal/cli/extension_marketplace_test.go
  internal/daemon/extension_inputs_plan.go
  internal/daemon/extension_inputs_secrets.go
  internal/daemon/extension_secrets_test.go
  internal/daemon/extensions_install_inputs.go
  internal/daemon/extensions_install_mcp.go
  internal/daemon/extensions_test.go
  internal/daemon/mcp_server_lookup.go
  internal/daemon/mcp_server_resolver_test.go
  internal/daemon/settings_mcp_extensions.go
  internal/daemon/tool_mcp_resources_integration_test.go
  internal/settings/mcp_auth.go
  internal/settings/mcp_runtime_status_test.go
  internal/tools/builtin/extensions.go
  internal/tools/builtin/testdata/native-tool-catalog.json
  openapi/compozy.json
  packages/site/content/docs/cli/extension/install.mdx
  web/src/generated/compozy-openapi.d.ts
Due: turbo-lint, format-go

refactor: remove fallback to retired marketplace feeds
  internal/marketplace/source.go
  internal/marketplace/source_test.go
Due: format-go

refactor: use canonical marketplace discovery for native tools
  internal/api/core/marketplace_catalog.go
  internal/api/core/marketplace_test.go
  internal/daemon/native_marketplace_tools.go
  internal/daemon/native_marketplace_tools_test.go
  internal/daemon/native_tool_availability.go
  internal/daemon/native_tool_dependencies.go
  internal/daemon/native_tools_dependencies_builder.go
  internal/tools/builtin/marketplace.go
  internal/tools/builtin/testdata/native-tool-catalog.json
  skills/compozy/references/tools-and-skills.md
Due: format-go

refactor: use canonical marketplace routes in CLI
  docs/_memory/change-impact.md
  docs/qa/scenarios/ET-cli-marketplace-search.md
  internal/cli/client_agent_kernel_types.go
  internal/cli/client_marketplace.go
  internal/cli/client_marketplace_test.go
  internal/cli/helpers_test.go
  internal/cli/marketplace.go
  internal/cli/marketplace_test.go
  packages/site/content/docs/cli/marketplace/index.mdx
  packages/site/content/docs/cli/marketplace/info.mdx
  packages/site/content/docs/cli/marketplace/refresh.mdx
  packages/site/content/docs/cli/marketplace/search.mdx
  skills/compozy/references/tools-and-skills.md
Due: format-go

refactor: remove retired marketplace feed decoders
  cmd/compozy-catalog/validate.go
  docs/_memory/change-impact.md
  internal/daemon/marketplace_test.go
  internal/marketplace/catalog_files.go
  internal/marketplace/directory_source.go
  internal/marketplace/entry_mcp.go
  internal/marketplace/entry_mcp_input.go
  internal/marketplace/entry_mcp_launch.go
  internal/marketplace/entry_skill.go
  internal/marketplace/presets.go
  internal/marketplace/projection.go
  internal/marketplace/service_integration_test.go
  internal/marketplace/service_test.go
  internal/marketplace/source.go
  internal/marketplace/source_test.go
  internal/marketplace/store.go
  internal/marketplace/testdata/catalog/missing-digest/extensions.json
  internal/marketplace/testdata/catalog/missing-digest/mcp.json
  internal/marketplace/testdata/catalog/missing-digest/skills.json
  internal/marketplace/testdata/catalog/missing-digest/v3/extensions.json
  internal/marketplace/testdata/catalog/missing-digest/v3/marketplaces.json
  internal/marketplace/testdata/catalog/valid/extensions.json
  internal/marketplace/testdata/catalog/valid/mcp.json
  internal/marketplace/testdata/catalog/valid/skills.json
  internal/marketplace/testdata/catalog/valid/v3/extensions.json
  internal/marketplace/testdata/catalog/valid/v3/marketplaces.json
  internal/marketplace/types.go
  skills/compozy/references/tools-and-skills.md
Due: format-go

refactor: address marketplace storage and refresh by source
  internal/api/core/extensions_marketplace.go
  internal/api/core/extensions_test.go
  internal/api/core/marketplace.go
  internal/api/core/marketplace_catalog.go
  internal/api/core/marketplace_detail.go
  internal/api/core/marketplace_interfaces.go
  internal/api/core/marketplace_test.go
  internal/daemon/extension_search.go
  internal/daemon/extension_search_integration_test.go
  internal/daemon/marketplace.go
  internal/daemon/marketplace_test.go
  internal/daemon/native_extension_tools_test.go
  internal/daemon/native_marketplace_tools_test.go
  internal/daemon/settings_runtime_applier_test.go
  internal/marketplace/errors.go
  internal/marketplace/service.go
  internal/marketplace/service_extension_install.go
  internal/marketplace/service_integration_test.go
  internal/marketplace/service_refresh.go
  internal/marketplace/service_test.go
  internal/marketplace/store.go
  internal/marketplace/store_extension_install.go
  internal/marketplace/store_skill_install.go
  internal/marketplace/store_source.go
  internal/marketplace/store_test.go
  internal/marketplace/types.go
  internal/store/globaldb/global_db_marketplace_catalog_test.go
  internal/store/globaldb/global_db_marketplace_skill.go
  internal/store/globaldb/queries/marketplace.sql
  internal/store/globaldb/sqlcgen/marketplace.sql.go
  internal/store/marketplace_catalog.go
Due: format-go

refactor: remove marketplace source kind selectors
  internal/daemon/marketplace.go
  internal/marketplace/directory_source.go
  internal/marketplace/service_integration_test.go
  internal/marketplace/service_test.go
  internal/marketplace/source.go
  internal/marketplace/source_factory.go
  internal/marketplace/source_test.go
Due: format-go

refactor: remove marketplace kind identity and storage
  RELEASE_NOTES.md
  cmd/compozy-catalog/main_test.go
  cmd/compozy-catalog/validate.go
  internal/api/core/marketplace_test.go
  internal/daemon/extension_search_integration_test.go
  internal/daemon/extensions_marketplace_events.go
  internal/daemon/extensions_marketplace_trust.go
  internal/daemon/marketplace.go
  internal/daemon/marketplace_test.go
  internal/daemon/native_extension_tools_test.go
  internal/daemon/native_marketplace_tools_test.go
  internal/marketplace/catalog_files.go
  internal/marketplace/directory_source.go
  internal/marketplace/document_validation.go
  internal/marketplace/entry_common.go
  internal/marketplace/entry_extension.go
  internal/marketplace/errors.go
  internal/marketplace/service_refresh.go
  internal/marketplace/service_test.go
  internal/marketplace/source.go
  internal/marketplace/source_test.go
  internal/marketplace/store.go
  internal/marketplace/store_source.go
  internal/marketplace/store_test.go
  internal/marketplace/types.go
  internal/store/globaldb/global_db_marketplace.go
  internal/store/globaldb/global_db_marketplace_catalog_test.go
  internal/store/globaldb/queries/marketplace.sql
  internal/store/globaldb/schema/definitions/41_marketplace.sql
  internal/store/globaldb/schema/migrations/00114_marketplace_source_identity.sql
  internal/store/globaldb/schema/migrations/atlas.sum
  internal/store/globaldb/sqlcgen/marketplace.sql.go
  internal/store/globaldb/sqlcgen/models.go
  internal/store/marketplace_catalog.go
Due: format-go

docs: align marketplace migration and configuration guidance
  MIGRATION_GUIDE.md
  RELEASE_NOTES.md
  docs/_memory/change-impact.md
  docs/qa/scenarios/ET-api-marketplace-namespace.md
  packages/site/content/docs/configuration/config-toml.mdx
  packages/site/content/docs/marketplace/index.mdx
Due: none

feat: publish only the current marketplace feed
  catalog/README.md
  catalog/sources.json
  cmd/compozy-catalog/main_test.go
  cmd/compozy-catalog/publish.go
  cmd/compozy-catalog/publish_mcp.go
  cmd/compozy-catalog/publish_sources.go
  cmd/compozy-catalog/validate.go
  docs/_memory/change-impact.md
  internal/extension/manifest_test.go
  internal/extension/testdata/mcp_to_extension/README.md
  internal/extension/testdata/mcp_to_extension/approved.json
  internal/marketplace/testdata/v2decoder/README.md
  internal/marketplace/testdata/v2decoder/document_validation.go
  internal/marketplace/testdata/v2decoder/entry_common.go
  internal/marketplace/testdata/v2decoder/entry_extension.go
  internal/marketplace/testdata/v2decoder/entry_mcp.go
  internal/marketplace/testdata/v2decoder/entry_mcp_input.go
  internal/marketplace/testdata/v2decoder/entry_mcp_launch.go
  internal/marketplace/testdata/v2decoder/entry_skill.go
  internal/marketplace/testdata/v2decoder/errors.go
  internal/marketplace/testdata/v2decoder/source.go
  internal/marketplace/testdata/v2decoder/types.go
Due: format-go

feat: switch site catalog data and routes to v3
  .oxfmtrc.json
  catalog/extensions.json
  catalog/mcp.json
  catalog/skills.json
  packages/site/app/marketplace/[entryId]/page.tsx
  packages/site/app/marketplace/[kind]/[entryId]/page.tsx
  packages/site/app/marketplace/[kind]/page.tsx
  packages/site/app/sitemap.ts
  packages/site/lib/__tests__/marketplace-catalog.test.tsx
  packages/site/lib/__tests__/public-route-metadata.test.ts
  packages/site/lib/__tests__/public-search-index.test.ts
  packages/site/lib/marketplace-catalog-schema.ts
  packages/site/lib/marketplace-catalog-v3-schema.ts
  packages/site/lib/marketplace-catalog-validation.ts
  packages/site/lib/marketplace-catalog.ts
  packages/site/lib/marketplace-copy.ts
  packages/site/lib/public-search-index.ts
Due: turbo-lint

feat: publish one extension catalog on the public site
  bun.lock
  cmd/compozy-catalog/main_test.go
  docs/_memory/change-impact.md
  docs/qa/scenarios/ET-site-marketplace-catalog.md
  docs/qa/scenarios/MS-marketplace-catalog-live-config.md
  packages/site/app/marketplace/bridges/page.tsx
  packages/site/app/marketplace/page.tsx
  packages/site/components/marketplace/marketplace-catalog-browser.tsx
  packages/site/components/marketplace/marketplace-catalog-section.tsx
  packages/site/components/marketplace/marketplace-entry-card.tsx
  packages/site/components/marketplace/marketplace-entry-detail.tsx
  packages/site/components/marketplace/marketplace-entry-inputs.tsx
  packages/site/components/marketplace/marketplace-entry-logo.tsx
  packages/site/components/marketplace/marketplace-entry-meta.ts
  packages/site/components/marketplace/marketplace-feed-pipeline.tsx
  packages/site/components/marketplace/marketplace-hero.tsx
  packages/site/components/marketplace/marketplace-kind-browser.tsx
  packages/site/components/marketplace/marketplace-kind-meta.ts
  packages/site/components/marketplace/marketplace-kind-tabs.tsx
  packages/site/content/docs/configuration/mcp-json.mdx
  packages/site/content/docs/marketplace/mcp-catalog.mdx
  packages/site/content/docs/skills/index.mdx
  packages/site/content/docs/skills/marketplace.mdx
  packages/site/content/docs/skills/meta.json
  packages/site/content/docs/skills/skill-md.mdx
  packages/site/content/docs/skills/sources.mdx
  packages/site/lib/__tests__/marketplace-catalog.test.tsx
  packages/site/package.json
Due: turbo-lint, format-go

refactor: name current extension input behavior directly
  docs/_memory/change-impact.md
  internal/daemon/extension_inputs_state.go
  internal/extension/input_state.go
  internal/extension/source_changed.go
  internal/extensionenv/bindings.go
  internal/store/globaldb/global_db_extension_env.go
Due: format-go

feat: preserve requested scope during managed package acquisition
  docs/_memory/change-impact.md
  internal/extension/marketplace_install_preparation.go
  internal/extension/marketplace_lifecycle.go
  internal/extension/marketplace_lifecycle_test.go
Due: format-go

feat: bind extension installs to requested workspace and profile
  docs/_memory/change-impact.md
  docs/qa/scenarios/ET-extension-published-source-installs.md
  internal/api/contract/extensions.go
  internal/api/core/extensions_test.go
  internal/api/spec/extension_input_schema.go
  internal/cli/extension.go
  internal/cli/extension_install.go
  internal/cli/extension_install_scope.go
  internal/cli/extension_test.go
  internal/daemon/extensions_install.go
  internal/daemon/extensions_install_inputs.go
  internal/daemon/extensions_install_mcp.go
  internal/daemon/extensions_install_preview.go
  internal/daemon/extensions_install_scope.go
  internal/daemon/extensions_lifecycle.go
  internal/daemon/extensions_test.go
  internal/tools/builtin/extensions.go
  internal/tools/builtin/testdata/native-tool-catalog.json
  openapi/compozy.json
  packages/site/content/docs/cli/extension/install.mdx
  packages/site/content/docs/extensions/install.mdx
  skills/compozy/references/extensions.md
  web/src/generated/compozy-openapi.d.ts
Due: turbo-lint, format-go

feat: honor manifest defaults when selecting install scope
  docs/_memory/change-impact.md
  docs/qa/scenarios/ET-extension-published-source-installs.md
  internal/api/spec/extension_input_schema.go
  internal/daemon/extensions_install.go
  internal/daemon/extensions_install_scope.go
  internal/daemon/extensions_test.go
  internal/extension/marketplace_install_preparation.go
  internal/extension/marketplace_lifecycle.go
  internal/tools/builtin/extensions.go
  internal/tools/builtin/testdata/native-tool-catalog.json
  openapi/compozy.json
  packages/site/content/docs/extensions/install.mdx
  skills/compozy/references/extensions.md
  web/src/generated/compozy-openapi.d.ts
Due: turbo-lint, format-go

feat: preserve scoped inputs through extension updates
  docs/_memory/change-impact.md
  docs/qa/scenarios/ET-extension-batch-update-partial-progress.md
  internal/api/contract/extensions.go
  internal/api/core/extensions_test.go
  internal/api/spec/extension_input_schema.go
  internal/api/spec/schema_customizers.go
  internal/cli/extension.go
  internal/cli/extension_marketplace.go
  internal/cli/extension_marketplace_test.go
  internal/cli/extension_scope.go
  internal/daemon/extensions_install.go
  internal/daemon/extensions_install_preview.go
  internal/daemon/extensions_lifecycle.go
  internal/daemon/extensions_scope.go
  internal/daemon/extensions_test.go
  internal/daemon/extensions_update_batch.go
  internal/daemon/extensions_update_inputs.go
  internal/daemon/native_extension_tools.go
  internal/extension/marketplace_lifecycle_test.go
  internal/extension/marketplace_update.go
  internal/tools/builtin/extensions.go
  internal/tools/builtin/testdata/native-tool-catalog.json
  openapi/compozy.json
  packages/site/content/docs/cli/extension/update.mdx
  packages/site/content/docs/extensions/install.mdx
  skills/compozy/references/extensions.md
  web/src/generated/compozy-openapi.d.ts
  web/src/systems/extensions/adapters/__tests__/extensions-api.test.ts
  web/src/systems/extensions/hooks/__tests__/use-extension-actions.test.tsx
  web/src/systems/extensions/hooks/use-extension-actions.ts
  web/src/systems/marketplace/adapters/__tests__/marketplace-api.test.ts
Due: turbo-lint, format-go

feat: reinstall published extensions through the update transaction
  docs/qa/scenarios/ET-extension-published-source-installs.md
  internal/api/contract/extensions.go
  internal/api/core/extensions_errors.go
  internal/api/core/extensions_operation_errors.go
  internal/api/core/extensions_test.go
  internal/api/spec/registry_extensions.go
  internal/daemon/extension_inputs_secrets.go
  internal/daemon/extensions_install.go
  internal/daemon/extensions_lifecycle.go
  internal/daemon/extensions_reinstall.go
  internal/daemon/extensions_test.go
  internal/daemon/extensions_update_batch.go
  internal/daemon/extensions_update_inputs.go
  internal/daemon/native_extension_errors.go
  internal/daemon/native_extension_tools_test.go
  internal/diagnosticcontract/diagnostics.go
  internal/extension/marketplace_lifecycle_test.go
  internal/extension/marketplace_reinstall.go
  internal/extension/marketplace_update.go
  internal/extension/marketplace_update_commit.go
  internal/extension/name_conflict.go
  openapi/compozy.json
  packages/site/content/docs/extensions/install.mdx
  skills/compozy/references/extensions.md
  web/src/generated/compozy-openapi.d.ts
  web/src/systems/extensions/adapters/extension-operation-error.ts
  web/src/systems/extensions/adapters/extensions-api.ts
  web/src/systems/marketplace/adapters/__tests__/marketplace-api.test.ts
  web/src/systems/marketplace/adapters/marketplace-api-error.ts
Due: turbo-lint, format-go

fix: pin extension confirmation to the previewed artifact
  internal/daemon/extensions_install.go
  internal/daemon/extensions_test.go
  internal/extension/marketplace_install_preparation.go
  packages/site/content/docs/extensions/install.mdx
  web/src/systems/marketplace/components/__tests__/marketplace-components.test.tsx
  web/src/systems/marketplace/components/use-extension-install-dialog.tsx
Due: turbo-lint, format-go

fix: require fresh confirmation when marketplace artifacts change
  docs/qa/scenarios/ET-web-marketplace-detail-redesign.md
  packages/site/content/docs/extensions/install.mdx
  web/src/systems/marketplace/components/__tests__/marketplace-action-controller.test.tsx
  web/src/systems/marketplace/components/marketplace-ui.ts
  web/src/systems/marketplace/components/use-marketplace-action-controller.tsx
Due: turbo-lint

feat: expose candidate input definitions for extension recovery
  docs/_memory/change-impact.md
  docs/qa/scenarios/ET-web-marketplace-detail-redesign.md
  internal/api/contract/extensions.go
  internal/api/core/extensions_operation_errors.go
  internal/api/core/extensions_test.go
  internal/daemon/extensions_test.go
  internal/daemon/native_extension_errors.go
  internal/daemon/native_extension_tools_test.go
  internal/extension/input_state.go
  openapi/compozy.json
  packages/site/content/docs/extensions/install.mdx
  skills/compozy/references/tools-and-skills.md
  web/src/generated/compozy-openapi.d.ts
  web/src/systems/extensions/adapters/__tests__/extensions-api.test.ts
  web/src/systems/extensions/adapters/extension-operation-error.ts
  web/src/systems/extensions/adapters/extensions-api.ts
  web/src/systems/marketplace/adapters/__tests__/marketplace-api.test.ts
  web/src/systems/marketplace/adapters/marketplace-api-error.ts
Due: turbo-lint, format-go

feat: wire marketplace input forms and update recovery
  web/src/systems/marketplace/components/__tests__/marketplace-action-controller.test.tsx
  web/src/systems/marketplace/components/__tests__/marketplace-components.test.tsx
  web/src/systems/marketplace/components/extension-install-dialog.tsx
  web/src/systems/marketplace/components/extension-install-model.ts
  web/src/systems/marketplace/components/extension-install-summary-dialog.tsx
  web/src/systems/marketplace/components/use-extension-input-form.ts
  web/src/systems/marketplace/components/use-extension-install-dialog.tsx
  web/src/systems/marketplace/components/use-marketplace-action-controller.tsx
  web/src/systems/marketplace/components/use-marketplace-update-recovery.ts
Due: turbo-lint

feat: complete marketplace input configuration UI
  docs/qa/scenarios/ET-agent-plugin-marketplace-install.md
  docs/qa/scenarios/ET-web-mcp-guided-install.md
  internal/daemon/extension_secrets_test.go
  skills/compozy/references/extensions.md
  web/src/systems/marketplace/components/__tests__/marketplace-action-controller.test.tsx
  web/src/systems/marketplace/components/__tests__/marketplace-components.test.tsx
  web/src/systems/marketplace/components/extension-input-fields.tsx
  web/src/systems/marketplace/components/extension-install-dialog.tsx
  web/src/systems/marketplace/components/extension-install-summary-dialog.tsx
  web/src/systems/marketplace/components/marketplace-entry-trail.tsx
  web/src/systems/marketplace/components/stories/extension-install-dialog.stories.tsx
Due: turbo-lint, format-go

fix: isolate MCP publication for unconfigured profiles
  docs/_memory/change-impact.md
  docs/qa/scenarios/ET-agent-plugin-marketplace-install.md
  internal/daemon/daemon_extension_distribution_e2e_integration_test.go
  internal/daemon/tool_mcp_resources_providers.go
  packages/site/content/docs/extensions/install.mdx
  skills/compozy/references/extensions.md
Due: format-go

test: verify catalog secret inputs through public transports
  internal/daemon/daemon_extension_distribution_e2e_integration_test.go
Due: format-go

fix: preserve direct extension update origins and rollback
  docs/_memory/change-impact.md
  docs/qa/scenarios/ET-extension-published-source-installs.md
  internal/daemon/daemon_extension_distribution_e2e_integration_test.go
  internal/daemon/extension_secrets_integration_test.go
  internal/extension/marketplace_update.go
  internal/extension/marketplace_update_resolution.go
  packages/site/content/docs/extensions/install.mdx
  skills/compozy/references/extensions.md
Due: format-go

test: verify curated install update and artifact integrity
  internal/daemon/daemon_extension_distribution_e2e_integration_test.go
Due: format-go

test: verify v3 publication through the daemon
  internal/daemon/daemon_extension_distribution_e2e_integration_test.go
Due: format-go
