Repository compozy/compozy: changes, and which pre-commit hooks are due for each by the changed paths.
All: turbo-lint, format-go

turbo-lint:
  name: turbo lint
  description: Run linting via Turborepo
  entry: bun run lint
  language: system
  pass_filenames: false

format-go:
  name: format go
  description: Format Go files using make fmt
  entry: make fmt
  language: system
  pass_filenames: false

fix: preserve SQLite commit outcomes during cancellation
  .release-notes/sqlite-commit-cancellation.md
  docs/_memory/change-impact.md
  docs/qa/reports/2026-10-05-dependency-upgrades.md
  docs/qa/scenarios/ET-skill-view-actionable-errors.md
  docs/qa/scenarios/LP-run-read-agent-journey.md
  internal/daemon/loop_read_cli_e2e_integration_test.go
  internal/store/write.go
  internal/store/write_test.go
  internal/testutil/acpmock/testdata/loop_node_lifecycle_fixture.json
Due: format-go

fix: preserve SQLite commit outcomes during cancellation (#696)
  .release-notes/sqlite-commit-cancellation.md
  docs/_memory/change-impact.md
  docs/qa/reports/2026-10-05-dependency-upgrades.md
  docs/qa/scenarios/ET-skill-view-actionable-errors.md
  docs/qa/scenarios/LP-run-read-agent-journey.md
  internal/daemon/loop_read_cli_e2e_integration_test.go
  internal/store/write.go
  internal/store/write_test.go
  internal/testutil/acpmock/testdata/loop_node_lifecycle_fixture.json
Due: format-go

fix: preserve profile entry across query reconciliation
  .release-notes/profile-entry-reconnect.md
  docs/_memory/change-impact.md
  docs/qa/reports/2026-10-05-dependency-upgrades.md
  docs/qa/scenarios/ET-terminal-shell-config-fidelity.md
  web/src/routes/_app/-app-preload.ts
  web/src/routes/_app/__tests__/-route-preloading.integration.test.tsx
Due: turbo-lint

fix: revalidate workspace identity during profile entry
  .release-notes/profile-entry-reconnect.md
  docs/_memory/change-impact.md
  docs/qa/reports/2026-10-05-dependency-upgrades.md
  docs/qa/scenarios/ET-profile-switcher-restore.md
  docs/qa/scenarios/ET-terminal-shell-config-fidelity.md
  web/src/routes/_app/-app-preload.ts
  web/src/routes/_app/__tests__/-route-preloading.integration.test.tsx
Due: turbo-lint

fix: preserve profile entry across query reconciliation (#697)
  .release-notes/profile-entry-reconnect.md
  docs/_memory/change-impact.md
  docs/qa/reports/2026-10-05-dependency-upgrades.md
  docs/qa/scenarios/ET-profile-switcher-restore.md
  docs/qa/scenarios/ET-terminal-shell-config-fidelity.md
  web/src/routes/_app/-app-preload.ts
  web/src/routes/_app/__tests__/-route-preloading.integration.test.tsx
Due: turbo-lint

build: prepare release v0.3.0 (#688)
  .release-notes/archive/v0.3.0/dependency-upgrades.md
  .release-notes/archive/v0.3.0/lane-cleanup-ownership.md
  .release-notes/archive/v0.3.0/profile-entry-reconnect.md
  .release-notes/archive/v0.3.0/profile-recovery-guidance.md
  .release-notes/archive/v0.3.0/resource-manifest-string-paths.md
  .release-notes/archive/v0.3.0/sqlite-commit-cancellation.md
  .release-notes/archive/v0.3.0/window-restore-readiness.md
  CHANGELOG.md
  RELEASE_BODY.md
  RELEASE_NOTES.md
  go.mod
  go.sum
Due: none

desktop channel publish 0.3.0-beta.30
  desktop/generation.json
  desktop/latest-linux.yml
  desktop/latest-mac.yml
Due: none

fix: select the chosen runtime on continued and forked sessions
  internal/session/derive_prepare.go
  internal/session/manager_create_prepare.go
  internal/session/manager_derive_test.go
  internal/session/manager_types.go
  web/src/systems/session/hooks/__tests__/use-session-prompt-runtime.test.tsx
Due: turbo-lint, format-go

fix: keep continued and forked sessions top-level
  docs/_memory/change-impact.md
  docs/qa/scenarios/ET-web-session-continue.md
  docs/qa/scenarios/ET-web-session-fork-from-here.md
  docs/qa/scenarios/ET-web-session-sidebar-threads.md
  docs/qa/scenarios/ET-web-sessions-catalog-modal.md
  internal/daemon/loop_goal_command.go
  internal/daemon/loop_goal_command_test.go
  internal/daemon/session_work_sources.go
  internal/daemon/session_work_sources_test.go
  internal/store/session_lineage.go
  internal/store/session_lineage_test.go
  packages/site/content/docs/sessions/lifecycle.mdx
  skills/compozy/references/runtime-operations.md
  web/src/systems/session/lib/__tests__/session-hierarchy.test.ts
  web/src/systems/session/lib/session-hierarchy.ts
Due: turbo-lint, format-go

fix: apply the chosen runtime to continued sessions and keep continue/fork top-level (#702)
  docs/_memory/change-impact.md
  docs/qa/scenarios/ET-web-session-continue.md
  docs/qa/scenarios/ET-web-session-fork-from-here.md
  docs/qa/scenarios/ET-web-session-sidebar-threads.md
  docs/qa/scenarios/ET-web-sessions-catalog-modal.md
  internal/daemon/loop_goal_command.go
  internal/daemon/loop_goal_command_test.go
  internal/daemon/session_work_sources.go
  internal/daemon/session_work_sources_test.go
  internal/session/derive_prepare.go
  internal/session/manager_create_prepare.go
  internal/session/manager_derive_test.go
  internal/session/manager_types.go
  internal/store/session_lineage.go
  internal/store/session_lineage_test.go
  packages/site/content/docs/sessions/lifecycle.mdx
  skills/compozy/references/runtime-operations.md
  web/src/systems/session/hooks/__tests__/use-session-prompt-runtime.test.tsx
  web/src/systems/session/lib/__tests__/session-hierarchy.test.ts
  web/src/systems/session/lib/session-hierarchy.ts
Due: turbo-lint, format-go

fix: keep live model catalogs current without releases
  docs/_memory/change-impact.md
  docs/qa/scenarios/MS-live-model-release-refresh.md
  internal/acp/client_start_contract_test.go
  internal/acp/session_inspection.go
  internal/modelcatalog/claude_model_rows.go
  internal/modelcatalog/live_sources_test.go
  web/src/systems/model-catalog/hooks/__tests__/use-runtime-model-catalog.test.ts
  web/src/systems/model-catalog/hooks/use-runtime-model-catalog.ts
Due: turbo-lint, format-go

fix: report unobserved model reasoning and failed refresh sources
  docs/_memory/change-impact.md
  docs/qa/scenarios/MS-live-model-release-refresh.md
  internal/acp/client_start_contract_test.go
  internal/acp/session_inspection.go
  internal/modelcatalog/live_sources_acp.go
  internal/modelcatalog/live_sources_test.go
  internal/modelcatalog/reasoning_merge.go
  web/src/systems/model-catalog/hooks/__tests__/use-runtime-model-catalog.test.ts
  web/src/systems/model-catalog/hooks/use-runtime-model-catalog.ts
Due: turbo-lint, format-go

fix: preserve discovery cancellation and Claude alias ranking
  docs/_memory/change-impact.md
  docs/qa/scenarios/MS-live-model-release-refresh.md
  internal/acp/client_start_contract_test.go
  internal/acp/client_test_support_test.go
  internal/acp/session_inspection.go
  internal/modelcatalog/claude_model_rows.go
  internal/modelcatalog/live_sources_test.go
Due: format-go

test: use canonical cancellation spelling
  internal/acp/client_start_contract_test.go
Due: format-go

test: cover inactive loop routes with automatic approval
  docs/qa/reports/2026-10-06-issue-477.md
  internal/store/globaldb/global_db_task_claim_test.go
Due: format-go

test: format automatic gate dependency assertion
  internal/store/globaldb/global_db_task_claim_test.go
Due: format-go

fix: keep live model catalogs current without releases (#701)
  docs/_memory/change-impact.md
  docs/qa/scenarios/MS-live-model-release-refresh.md
  internal/acp/client_start_contract_test.go
  internal/acp/client_test_support_test.go
  internal/acp/session_inspection.go
  internal/modelcatalog/claude_model_rows.go
  internal/modelcatalog/live_sources_acp.go
  internal/modelcatalog/live_sources_test.go
  internal/modelcatalog/reasoning_merge.go
  web/src/systems/model-catalog/hooks/__tests__/use-runtime-model-catalog.test.ts
  web/src/systems/model-catalog/hooks/use-runtime-model-catalog.ts
Due: turbo-lint, format-go

test: cover inactive loop routes with automatic approval (#703)
  docs/qa/reports/2026-10-06-issue-477.md
  internal/store/globaldb/global_db_task_claim_test.go
Due: format-go

build: prepare release v0.3.0 (#700)
  CHANGELOG.md
  RELEASE_BODY.md
  RELEASE_NOTES.md
  go.mod
  go.sum
Due: none

refactor: modernize Go idioms in verification tooling and SDK
  .github/workflows/ci.yml
  .golangci.yml
  docs/runbooks/modern-go.md
  magefiles/boundaries.go
  magefiles/command.go
  magefiles/deps_fmt_lane.go
  magefiles/deps_lint.go
  magefiles/deps_lint_modules.go
  magefiles/deps_lint_test.go
  magefiles/e2e.go
  magefiles/git.go
  magefiles/gotest_discovery.go
  magefiles/gotest_lane.go
  magefiles/gotest_lane_test.go
  magefiles/install.go
  magefiles/magefile_test.go
  magefiles/openapi_artifacts_test.go
  magefiles/source_policy.go
  magefiles/source_size.go
  magefiles/verifylock.go
  magefiles/verifylock_test.go
  magefiles/web_assets.go
  magefiles/web_assets_publish.go
  scripts/air-state-lock/main_test.go
  scripts/gate.sh
  scripts/gate_integration_test.go
  scripts/gate_runtime.sh
  sdk/go/digest.go
  sdk/go/extension_describe.go
  sdk/go/extension_test.go
  sdk/go/runtime_contract_test.go
  sdk/go/runtime_test.go
  sdk/go/transport_lifecycle_test.go
Due: format-go

fix: preserve required renamed loop copies
  .golangci.yml
  docs/runbooks/modern-go.md
Due: none

fix: enforce UUID policy in root Go files
  .golangci.yml
Due: none

fix: derive fixture workspace Go version from modules
  docs/runbooks/modern-go.md
  magefiles/deps_lint_modules.go
  magefiles/deps_lint_test.go
Due: format-go

test: detect missing nested Go lint modules
  docs/runbooks/modern-go.md
  magefiles/deps_lint_test.go
Due: format-go

fix: build and vet changed Go extension fixtures
  Makefile
  docs/runbooks/modern-go.md
  magefiles/deps_lint_modules.go
  scripts/gate.sh
  scripts/gate_integration_test.go
  scripts/gate_runtime.sh
Due: format-go

fix: route Go example assets to module checks
  docs/runbooks/modern-go.md
  scripts/gate.sh
  scripts/gate_integration_test.go
Due: format-go

fix: reuse root lint evidence for covered modules
  docs/runbooks/modern-go.md
  scripts/gate_integration_test.go
  scripts/gate_runtime.sh
Due: format-go

fix: lint integration-tagged Go modernization rules
  docs/runbooks/modern-go.md
  magefiles/deps_lint_modules.go
  magefiles/deps_lint_test.go
Due: format-go

Path conditions:
  turbo-lint: any of: \.(js|jsx|ts|tsx)$, but not: (?x)^(
  CHANGELOG.md|
  tools/.*/package\.json|
  bun.lockb|
  node_modules|
)$

  format-go: any of: \.go$, but not: (?x)^(
  CHANGELOG.md|
  tools/.*/package\.json|
  bun.lockb|
  node_modules|
)$

