Repository compozy/compozy: changes, and which pre-commit hooks are due for each by the changed paths.
All: turbo-lint, turbo-type-check, format-go

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit

default_stages:
  - pre-commit

exclude: |
  (?x)^(
    CHANGELOG.md|
    deno.lock|
    node_modules|
  )$

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      # - id: trailing-whitespace
      #   args:
      #     - --no-utf8-locale
      - id: end-of-file-fixer
      - id: check-json
      - id: check-toml
      - id: check-added-large-files
        args:
          - --maxkb=3000
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: detect-private-key
  - repo: local
    hooks:
      - id: turbo-lint
        name: turbo lint
        description: Run linting via Turborepo
        entry: turbo run lint --concurrency=1
        language: system
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false
      - id: turbo-type-check
        name: turbo type check
        description: Run TypeScript checking via Turborepo
        entry: turbo run type-check --concurrency=1
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false
      - id: format-go
        name: format go
        description: Format Go files using make fmt
        entry: make fmt
        language: system
        files: \.go$
        pass_filenames: false
  - repo: https://github.com/lyz-code/yamlfix/
    rev: 1.17.0
    hooks:
      - id: yamlfix
        args:
          - -c
          - .yamlfix.toml
        exclude: ^cluster/.*$

ci(release): Releasing new version v0.0.5
  .release-please-manifest.json
  CHANGELOG.md
Due: none

ci(release): Releasing new version v0.0.5 (#163)
  .release-please-manifest.json
  CHANGELOG.md
Due: none

ci(repo): Fix actions
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/scorecard.yml
Due: none

ci(repo): Fix actions
  .github/workflows/codeql.yml
  .github/workflows/docker-dev.yml
  .github/workflows/release-please.yml
  .github/workflows/release.yml
Due: none

ci(repo): Fix actions
  .github/workflows/release.yml
Due: none

fix(repo): PR suggestions
  .github/workflows/docker-dev.yml
  .github/workflows/release-please.yml
  .github/workflows/release.yml
  .github/workflows/scorecard.yml
  docs/src/app/robots.ts
  engine/task2/basic/response_handler_test.go
  engine/worker/validation_test.go
  pkg/mcp-proxy/admin_handlers_test.go
  test/helpers/database.go
  test/helpers/store_test_helpers.go
  test/integration/store/operations_test.go
Due: turbo-lint, turbo-type-check, format-go

ci(repo): Fix actions
  .github/workflows/ci.yml
  .github/workflows/quality.yml
  .gitignore
  .pre-commit-config.yaml
  cluster/compozy.Dockerfile
Due: none

ci(repo): Fix actions
  .github/workflows/ci.yml
  .github/workflows/quality.yml
Due: none

ci(repo): Fix actions
  .github/workflows/quality.yml
  .pre-commit-config.yaml
Due: none

ci(repo): Fix actions\
  .pre-commit-config.yaml
  docs/public/banner.png
  pkg/config/watcher_test.go
Due: format-go

ci(repo): Fix actions
  pkg/config/watcher_test.go
Due: format-go

ci(repo): Fix actions versions
  .github/workflows/docker-dev.yml
  .github/workflows/scorecard.yml
Due: none

ci(repo): Fix validate title step
  .github/workflows/ci.yml
Due: none

fix(docs): Metadata og url
  docs/src/lib/metadata.ts
Due: turbo-lint, turbo-type-check

ci(repo): Fix quality action
  .github/workflows/quality.yml
  docs/src/lib/metadata.ts
Due: turbo-lint, turbo-type-check

refactor(docs): Disable theme switcher
  .github/workflows/quality.yml
  docs/src/app/layout.config.tsx
Due: turbo-lint, turbo-type-check

docs(repo): Update readme
  .github/workflows/release-please.yml
  .prettierignore
  README.md
Due: none

build(repo): Update deps
  bun.lock
  docs/package.json
  go.mod
  go.sum
  package.json
  tools/delete-file/package.json
  tools/exec/package.json
  tools/fetch/package.json
  tools/grep/package.json
  tools/list-dir/package.json
  tools/list-files/package.json
  tools/read-file/package.json
  tools/write-file/package.json
  turbo.json
Due: none

ci(repo): Update release action
  .github/workflows/release-please.yml
  .release-please-config.json
  scripts/publish.sh
Due: none

ci(release): Release
  .release-please-manifest.json
  CHANGELOG.md
Due: none

ci(repo): Fix release action
  .github/workflows/release-please.yml
  bun.lock
  scripts/publish.sh
Due: none

ci(repo): Improve release action
  .github/workflows/release-please.yml
  .release-please-config.json
  .release-please-manifest.json
  Makefile
  bun.lock
  docs/swagger.json
  docs/swagger.yaml
  go.mod
  go.sum
  scripts/publish.sh
  scripts/sync-tool-versions.sh
  tools/delete-file/CHANGELOG.md
  tools/delete-file/package.json
  tools/exec/CHANGELOG.md
  tools/exec/package.json
  tools/fetch/CHANGELOG.md
  tools/fetch/package.json
  tools/grep/CHANGELOG.md
  tools/grep/package.json
  tools/list-dir/CHANGELOG.md
  tools/list-dir/package.json
  tools/list-files/CHANGELOG.md
  tools/list-files/package.json
  tools/read-file/CHANGELOG.md
  tools/read-file/package.json
  tools/write-file/CHANGELOG.md
  tools/write-file/package.json
Due: none

build(repo): Improve release process
  .github/workflows/release-please.yml
  .release-please-config.json
  .release-please-manifest.json
  Makefile
  bun.lock
  go.mod
  go.sum
  scripts/publish.sh
  scripts/sync-tool-versions.sh
  tools/delete-file/CHANGELOG.md
  tools/delete-file/package.json
  tools/exec/CHANGELOG.md
  tools/exec/package.json
  tools/fetch/CHANGELOG.md
  tools/fetch/package.json
  tools/grep/CHANGELOG.md
  tools/grep/package.json
  tools/list-dir/CHANGELOG.md
  tools/list-dir/package.json
  tools/list-files/CHANGELOG.md
  tools/list-files/package.json
  tools/read-file/CHANGELOG.md
  tools/read-file/package.json
  tools/write-file/CHANGELOG.md
  tools/write-file/package.json
Due: none

ci(repo): Improve release process
  .github/workflows/release-please.yml
  .release-please-config.json
  .release-please-manifest.json
  Makefile
  bun.lock
  go.mod
  go.sum
  scripts/publish.sh
  scripts/sync-tool-versions.sh
  tools/delete-file/CHANGELOG.md
  tools/delete-file/package.json
  tools/exec/CHANGELOG.md
  tools/exec/package.json
  tools/fetch/CHANGELOG.md
  tools/fetch/package.json
  tools/grep/CHANGELOG.md
  tools/grep/package.json
  tools/list-dir/CHANGELOG.md
  tools/list-dir/package.json
  tools/list-files/CHANGELOG.md
  tools/list-files/package.json
  tools/read-file/CHANGELOG.md
  tools/read-file/package.json
  tools/write-file/CHANGELOG.md
  tools/write-file/package.json
Due: none

ci(release): Releasing new version v0.0.5 (#177)
  .release-please-manifest.json
  CHANGELOG.md
Due: none

ci(release): Releasing new version v0.0.6
  .release-please-manifest.json
  CHANGELOG.md
Due: none

build(repo): Improve release process
  .github/workflows/release-please-recovery.yml
  .github/workflows/release-please.yml
  .release-please-config.json
  .release-please-manifest.json
  Makefile
  bun.lock
  go.mod
  go.sum
  scripts/publish.sh
  scripts/sync-tool-versions.sh
  tools/delete-file/CHANGELOG.md
  tools/delete-file/package.json
  tools/exec/CHANGELOG.md
  tools/exec/package.json
  tools/fetch/CHANGELOG.md
  tools/fetch/package.json
  tools/grep/CHANGELOG.md
  tools/grep/package.json
  tools/list-dir/CHANGELOG.md
  tools/list-dir/package.json
  tools/list-files/CHANGELOG.md
  tools/list-files/package.json
  tools/read-file/CHANGELOG.md
  tools/read-file/package.json
  tools/write-file/CHANGELOG.md
  tools/write-file/package.json
Due: none
