Repository compozy/compozy: changes, and which pre-commit hooks are due for each by the changed paths.
All: turbo-lint, format-go

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit

default_stages:
  - pre-commit

exclude: |
  (?x)^(
    CHANGELOG.md|
    tools/.*/package\.json|
    bun.lockb|
    node_modules|
  )$

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      # - id: trailing-whitespace
      #   args:
      #     - --no-utf8-locale
      - id: end-of-file-fixer
        exclude: '^(CHANGELOG\.md|tools/.*/package\.json|bun\.lockb|node_modules/)'
      - id: check-json
        exclude: '^(tools/.*/package\.json|node_modules/)'
      - id: check-toml
      - id: check-added-large-files
        args:
          - --maxkb=3000
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: detect-private-key
  - repo: local
    hooks:
      - id: turbo-lint
        name: turbo lint
        description: Run linting via Turborepo
        entry: bun run lint
        language: system
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false
      # - id: turbo-type-check
      #   name: turbo type check
      #   description: Run TypeScript checking via Turborepo
      #   entry: bun run type-check
      #   language: system
      #   files: \.(ts|tsx)$
      #   pass_filenames: false
      - id: format-go
        name: format go
        description: Format Go files using make fmt
        entry: make fmt
        language: system
        files: \.go$
        pass_filenames: false
  - repo: https://github.com/lyz-code/yamlfix/
    rev: 1.17.0
    hooks:
      - id: yamlfix
        args:
          - -c
          - .yamlfix.toml
        exclude: ^cluster/.*$

fix: restore portable MCP e2e contract
  internal/daemon/daemon_agent_plugin_distribution_e2e_integration_test.go
  internal/testutil/acpmock/fixture_test.go
  internal/testutil/acpmock/fixture_types.go
  internal/testutil/acpmock/registration.go
  internal/testutil/acpmock/testdata/portable_agent_plugin_fixture.json
  internal/tools/mcp_reliability.go
  internal/tools/mcp_test.go
Due: format-go

fix: resolve portable plugin fixture path
  internal/daemon/daemon_agent_plugin_distribution_e2e_integration_test.go
Due: format-go

fix: align portable validation transcript
  internal/daemon/daemon_agent_plugin_distribution_e2e_integration_test.go
Due: format-go

fix: address session lineage review findings
  internal/daemon/loop_goal_managed_runtime_integration_test.go
  internal/daemon/native_tools_test.go
  internal/daemon/session_lineage_classification_test.go
  internal/daemon/tool_policy_resolver.go
  internal/loop/coordinator_provenance_test.go
  internal/loop/service.go
  internal/loop/service_test.go
  internal/session/manager_hooks_events_test.go
  internal/session/manager_hooks_test.go
  internal/session/manager_lineage_test.go
  internal/session/manager_provenance.go
  internal/session/manager_start_storage.go
  internal/session/spawn.go
  internal/session/spawn_test.go
Due: format-go

fix: support resource-only extension development
  README.md
  docs/qa/charters/CH-resource-only-extension-dev.md
  docs/qa/journeys/J-extension-dev-lifecycle.md
  docs/qa/reports/2026-08-17-resource-only-extension-dev.md
  docs/qa/scenarios/ET-resource-only-extension-dev.md
  docs/superpowers/plans/2026-08-16-resource-only-extension-dev.md
  internal/api/core/authored_context_test.go
  internal/api/core/handlers_test.go
  internal/api/core/interfaces.go
  internal/api/core/workspaces.go
  internal/daemon/agent_resource_catalog.go
  internal/daemon/agent_sidecar_resources.go
  internal/daemon/agent_skill_desired_resources.go
  internal/daemon/agent_skill_publisher.go
  internal/daemon/agent_skill_resources_test.go
  internal/daemon/daemon_extension_authoring_e2e_integration_test.go
  internal/daemon/extension_kit_resources.go
  internal/daemon/extension_resource_snapshots.go
  internal/daemon/extension_resource_snapshots_test.go
  internal/daemon/loop_resources.go
  internal/daemon/native_agent_catalog.go
  internal/daemon/native_create_tools_test.go
  internal/daemon/tool_mcp_resources_encoding.go
  internal/extension/build.go
  internal/extension/build_resource_only.go
  internal/extension/build_test.go
  internal/extension/build_toolchain.go
  packages/site/content/docs/agents/definitions.mdx
  packages/site/content/docs/extensions/develop.mdx
  packages/site/content/docs/extensions/index.mdx
  packages/site/content/docs/extensions/manifest.mdx
  packages/site/content/docs/skills/bundled.mdx
  packages/site/content/docs/skills/index.mdx
  skills/compozy/SKILL.md
  skills/compozy/references/agent-definitions.md
  skills/compozy/references/extension-authoring.md
  skills/compozy/references/extensions.md
Due: format-go

fix: address extension resource review findings
  internal/api/httpapi/transport_parity_integration_test.go
  internal/daemon/agent_skill_resources_test.go
  internal/daemon/daemon_extension_authoring_e2e_integration_test.go
  internal/daemon/extension_resource_snapshots.go
  internal/daemon/extension_resource_snapshots_test.go
  internal/extension/build_test.go
Due: format-go

test: strengthen extension transport parity
  internal/api/httpapi/transport_parity_integration_test.go
Due: format-go

fix: start resource watchers after publishers
  internal/daemon/boot_components.go
  internal/daemon/boot_hooks.go
  internal/daemon/boot_resource_watchers.go
  internal/daemon/daemon_test.go
Due: format-go

test: isolate extension distribution e2e
  internal/api/udsapi/udsapi_integration_test.go
  internal/daemon/daemon_extension_distribution_e2e_integration_test.go
Due: format-go

docs: plan herdr parity QA cycle
  docs/qa/charters/CH-herdr-attention-accessibility.md
  docs/qa/charters/CH-herdr-attention-hook.md
  docs/qa/charters/CH-herdr-attention-settings.md
  docs/qa/charters/CH-herdr-attention-signals.md
  docs/qa/charters/CH-herdr-done-presence.md
  docs/qa/charters/CH-herdr-interaction-recovery.md
  docs/qa/charters/CH-herdr-keyboard-navigation.md
  docs/qa/charters/CH-herdr-keymap-hard-cut.md
  docs/qa/charters/CH-herdr-session-orchestration.md
  docs/qa/charters/CH-herdr-task-approval-canary.md
  docs/qa/journeys/J-11-return-to-running-session.md
  docs/qa/journeys/J-15-operate-session-via-cli-api.md
  docs/qa/journeys/J-administer-runtime-settings.md
  docs/qa/journeys/J-administer-window-manager.md
  docs/qa/journeys/J-answer-agent-requests.md
  docs/qa/journeys/J-operate-desktop-shell.md
  docs/qa/journeys/J-respond-to-agent-attention.md
  docs/qa/scenarios/ET-042.md
  docs/qa/scenarios/MS-configure-window-manager.md
  docs/qa/scenarios/MS-window-shortcut-arrays-ranges.md
  docs/qa/scenarios/RT-home-approve-from-dashboard.md
  docs/qa/scenarios/RT-operator-notification-delivery.md
  docs/qa/scenarios/RT-session-attention-catalog.md
  docs/qa/scenarios/RT-session-done-presence.md
  docs/qa/scenarios/RT-session-native-stop.md
  docs/qa/scenarios/RT-session-prompt-cancel.md
  docs/qa/scenarios/RT-session-spawn-wake.md
  docs/qa/scenarios/RT-session-wait-state.md
  docs/qa/scenarios/RT-web-attention-bell-jump.md
Due: none

feat: add nested session palette views
  docs/qa/scenarios/ET-palette-nested-views.md
  docs/qa/scenarios/ET-palette-sessions-view-switch.md
  docs/qa/scenarios/ET-web-command-palette-shortcuts.md
  web/e2e/__tests__/os-shell.spec.ts
  web/src/systems/os/components/__tests__/os-window.test.tsx
  web/src/systems/os/components/os-command-palette-views.tsx
  web/src/systems/os/components/os-command-palette.tsx
  web/src/systems/os/components/os-palette-breadcrumb.tsx
  web/src/systems/os/components/os-palette-footer.tsx
  web/src/systems/os/components/os-palette-session-chips.tsx
  web/src/systems/os/components/os-palette-session-row.tsx
  web/src/systems/os/components/os-palette-view-note.tsx
  web/src/systems/os/components/os-palette-view-shell.tsx
  web/src/systems/os/components/os-palette-view-stack.tsx
  web/src/systems/os/components/stories/os-command-palette.stories.tsx
  web/src/systems/os/hooks/__tests__/use-desktop-overlays.test.tsx
  web/src/systems/os/hooks/__tests__/use-os-command-palette.test.tsx
  web/src/systems/os/hooks/use-desktop-overlays.ts
  web/src/systems/os/hooks/use-desktop-shell-body.ts
  web/src/systems/os/hooks/use-os-palette-sessions-view.tsx
  web/src/systems/os/hooks/use-os-palette-view-stack.ts
  web/src/systems/os/hooks/use-window-manager-store.ts
  web/src/systems/os/lib/__tests__/palette-session-filters.test.ts
  web/src/systems/os/lib/__tests__/palette-view-stack.test.ts
  web/src/systems/os/lib/palette-session-filters.ts
  web/src/systems/os/lib/palette-view-registry.ts
  web/src/systems/os/lib/palette-view-stack.ts
  web/src/systems/os/stores/__tests__/window-manager-store.test.ts
  web/src/systems/os/stores/window-manager-store-types.ts
  web/src/systems/os/stores/window-manager-store.ts
Due: turbo-lint

feat: Web update surface (settings two-track + menubar indicator) #02
  docs/design/opendesign/README.md
  docs/design/opendesign/electron-shell/electron-shell-menubar-update.html
  docs/design/opendesign/electron-shell/electron-shell-settings-updates.html
  docs/design/opendesign/electron-shell/electron-shell.css
  docs/design/opendesign/electron-shell/index.html
  docs/qa/scenarios/APP-web-update-indicator.md
  docs/qa/scenarios/APP-web-update-two-track.md
  web/e2e/__tests__/os-shell.spec.ts
  web/e2e/__tests__/settings.spec.ts
  web/e2e/fixtures/selectors.ts
  web/src/routes/_app/settings/-general-settings-page.tsx
  web/src/routes/_app/settings/-general-update-section.tsx
  web/src/routes/_app/settings/__tests__/-general.test.tsx
  web/src/systems/os/components/desktop-menubar.tsx
  web/src/systems/os/components/index.ts
  web/src/systems/os/components/menubar/__tests__/menubar-update-indicator.test.tsx
  web/src/systems/os/components/menubar/menubar-update-indicator.tsx
  web/src/systems/os/components/os-menubar.tsx
  web/src/systems/os/components/stories/os-menubar.stories.tsx
  web/src/systems/os/hooks/use-menubar-actions.ts
  web/src/systems/settings/adapters/settings-api.ts
  web/src/systems/settings/adapters/settings-sections-api.ts
  web/src/systems/settings/components/index.ts
  web/src/systems/settings/components/settings-update-track-row.tsx
  web/src/systems/settings/hooks/__tests__/use-settings-general-page.test.tsx
  web/src/systems/settings/hooks/use-settings-general-page.ts
  web/src/systems/settings/hooks/use-settings-update-mutations.ts
  web/src/systems/settings/index.ts
  web/src/systems/settings/lib/__tests__/update-presentation.test.ts
  web/src/systems/settings/lib/query-options.ts
  web/src/systems/settings/lib/update-phase-map.ts
  web/src/systems/settings/lib/update-presentation.ts
  web/src/systems/settings/mocks/handlers.ts
  web/src/systems/settings/mocks/index.ts
  web/src/systems/settings/mocks/settings-update-fixture.ts
  web/src/systems/settings/routes/settings-general.stories.tsx
  web/src/systems/settings/types.ts
  web/src/systems/status/mocks/fixtures.ts
Due: turbo-lint

feat: add desktop release authority
  .github/workflows/release.yml
  .goreleaser.yml
  bun.lock
  cmd/compozy-desktop-release/main.go
  desktop/build/icon.icns
  desktop/build/icon.png
  desktop/electron-builder.yml
  desktop/package.json
  desktop/scripts/build-runtime.ts
  desktop/scripts/collect-release-artifacts.ts
  desktop/scripts/finalize-macos-release.ts
  desktop/scripts/generate-release-config.ts
  desktop/scripts/prepare-channel-manifests.ts
  desktop/scripts/verify-mac-update-zip.ts
  desktop/src/release/__tests__/release.test.ts
  desktop/src/release/cross-arch.ts
  desktop/src/release/mac-manifest.ts
  desktop/src/release/mac-zip.ts
  desktop/src/release/release-config.ts
  desktop/src/update/electron-installer.ts
  docs/qa/scenarios/REL-beta-channel-contract.md
  docs/qa/scenarios/REL-channel-repair-known-good.md
  docs/qa/scenarios/REL-release-archive-update-contract.md
  go.mod
  internal/config/release_config_test.go
  internal/desktoprelease/authority.go
  internal/desktoprelease/canonical_json.go
  internal/desktoprelease/channel_config.go
  internal/desktoprelease/compatibility.go
  internal/desktoprelease/errors.go
  internal/desktoprelease/github_backend.go
  internal/desktoprelease/inventory.go
  internal/desktoprelease/manifest.go
  internal/desktoprelease/manifests.go
  internal/desktoprelease/model.go
  internal/desktoprelease/policy.go
  internal/desktoprelease/release_test.go
  internal/desktoprelease/schema_heads.go
  internal/desktoprelease/url.go
  scripts/smoke-desktop-release-artifact.sh
Due: turbo-lint, format-go

fix: run desktop release builder from app workspace
  .github/workflows/release.yml
  internal/config/release_config_test.go
Due: format-go

fix: scope desktop notarization to macOS
  .github/workflows/release.yml
  internal/config/release_config_test.go
Due: format-go

fix: use configured macOS notarization credentials
  .github/workflows/release.yml
  internal/config/release_config_test.go
Due: format-go

fix: execute release builder in desktop workspace
  .github/workflows/release.yml
  internal/config/release_config_test.go
Due: format-go

fix: harden desktop release artifact contracts
  desktop/electron-builder.yml
  desktop/scripts/finalize-macos-release.ts
  desktop/src/release/__tests__/release.test.ts
  desktop/src/release/notary-auth.ts
  desktop/src/release/release-config.ts
Due: turbo-lint

fix: complete Linux and DMG package metadata
  desktop/electron-builder.yml
  desktop/package.json
  desktop/src/release/__tests__/release.test.ts
  desktop/src/release/release-config.ts
Due: turbo-lint

fix: pass release fallback to web assets sync
  .github/workflows/release.yml
  docs/runbooks/desktop-release-credentials.md
  internal/config/release_config_test.go
Due: format-go

fix: normalize signed x64 runtime digest
  desktop/src/bootstrap/__tests__/bundle-integrity.test.ts
  desktop/src/bootstrap/executable-digest.ts
Due: turbo-lint

fix: synchronize web assets for explicit releases
  .github/workflows/release.yml
  docs/runbooks/desktop-release-credentials.md
  internal/config/release_config_test.go
Due: format-go

fix: preserve desktop release identity
  .github/workflows/release.yml
  desktop/scripts/build-main.ts
  desktop/src/bootstrap/bootstrap-runner.ts
  desktop/src/generated/build-config.ts
  desktop/src/main.ts
  desktop/src/release/__tests__/release.test.ts
  desktop/src/release/build-channel.ts
  internal/cli/app_test.go
  internal/cli/daemon_bootstrap.go
  internal/cli/daemon_bootstrap_provenance.go
  internal/cli/daemon_bootstrap_test.go
  internal/cli/daemon_wait_test.go
  internal/cli/extension_publish.go
  internal/cli/output_labels.go
  internal/cli/update.go
  internal/cli/update_command_test.go
  internal/config/release_config_test.go
  internal/update/coordinator.go
  internal/update/coordinator_runtime.go
  internal/update/detect.go
  internal/update/detect_matrix_test.go
  internal/update/manager_apply.go
  internal/update/manager_apply_test.go
  internal/update/manager_state.go
  internal/update/operation_test.go
  internal/update/plan.go
  internal/update/projection.go
  internal/update/provenance.go
  internal/update/types.go
  packages/site/content/docs/cli/daemon/bootstrap.mdx
Due: turbo-lint, format-go

fix: exclude dmg files from update channel
  desktop/src/release/__tests__/release.test.ts
  desktop/src/release/mac-manifest.ts
Due: turbo-lint

fix: refresh finalized dmg integrity
  .github/workflows/release.yml
  desktop/scripts/finalize-macos-release.ts
  desktop/src/release/__tests__/release.test.ts
  desktop/src/release/mac-manifest.ts
  internal/config/release_config_test.go
Due: turbo-lint, format-go

fix: isolate desktop release smoke
  .github/workflows/release.yml
  scripts/smoke-desktop-release-artifact.sh
Due: none
