Repository compozy/compozy: changes, and which pre-commit hooks are due for each by the changed paths.
All: turbo-lint, format-go

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit

default_stages:
  - pre-commit

exclude: |
  (?x)^(
    CHANGELOG.md|
    tools/.*/package\.json|
    bun.lockb|
    node_modules|
  )$

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      # - id: trailing-whitespace
      #   args:
      #     - --no-utf8-locale
      - id: end-of-file-fixer
        exclude: '^(CHANGELOG\.md|tools/.*/package\.json|bun\.lockb|node_modules/)'
      - id: check-json
        exclude: '^(tools/.*/package\.json|node_modules/)'
      - id: check-toml
      - id: check-added-large-files
        args:
          - --maxkb=3000
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: detect-private-key
  - repo: local
    hooks:
      - id: turbo-lint
        name: turbo lint
        description: Run linting via Turborepo
        entry: bun run lint
        language: system
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false
      # - id: turbo-type-check
      #   name: turbo type check
      #   description: Run TypeScript checking via Turborepo
      #   entry: bun run type-check
      #   language: system
      #   files: \.(ts|tsx)$
      #   pass_filenames: false
      - id: format-go
        name: format go
        description: Format Go files using make fmt
        entry: make fmt
        language: system
        files: \.go$
        pass_filenames: false
  - repo: https://github.com/lyz-code/yamlfix/
    rev: 1.17.0
    hooks:
      - id: yamlfix
        args:
          - -c
          - .yamlfix.toml
        exclude: ^cluster/.*$

release: prepare release v0.3.0 (#347)
  CHANGELOG.md
  RELEASE_BODY.md
  RELEASE_NOTES.md
  go.mod
  go.sum
Due: none

fix: address CodeRabbit review feedback
  web/src/routes/_app/-home-preload.ts
  web/src/routes/_app/-session-workspace-switch.tsx
  web/src/routes/_app/__tests__/-route-preloading.integration.test.tsx
  web/src/systems/automation/components/__tests__/automation-job-form.test.tsx
  web/src/systems/knowledge/components/knowledge-create-dialog.tsx
  web/src/systems/marketplace/components/__tests__/marketplace-components.test.tsx
  web/src/systems/marketplace/components/marketplace-action-dialogs.tsx
  web/src/systems/onboarding/hooks/__tests__/use-onboarding-wizard.test.tsx
  web/src/systems/onboarding/hooks/use-onboarding-wizard.ts
  web/src/systems/os/apps/knowledge/__tests__/use-knowledge-page.test.tsx
  web/src/systems/os/apps/knowledge/use-knowledge-page.ts
  web/src/systems/os/apps/tasks/task-editor-dialogs.tsx
  web/src/systems/os/components/os-command-palette-shell-actions.tsx
  web/src/systems/os/hooks/__tests__/use-os-command-palette.test.tsx
  web/src/systems/os/hooks/use-os-command-palette.ts
  web/src/systems/session/components/session-create-dialog.tsx
  web/src/systems/tasks/hooks/__tests__/use-task-editor-state.test.tsx
  web/src/systems/tasks/hooks/use-task-create-state.ts
  web/src/systems/workspace/components/workspace-scope-statement.tsx
  web/src/systems/workspace/components/workspace-setup.tsx
Due: turbo-lint

fix: restore menubar compiler optimization
  web/src/systems/os/components/desktop-menubar.tsx
Due: turbo-lint

fix: keep route recovery visible
  web/src/routes/-root-components.tsx
  web/src/routes/__tests__/-__root.test.tsx
  web/src/routes/_app/-app-preload.ts
  web/src/routes/_app/__tests__/-route-preloading.integration.test.tsx
Due: turbo-lint

docs: record PR 368 QA verification
  docs/qa/bugs/BUG-20260813-retry-leaves-blank-route.md
  docs/qa/charters/CH-create-destination-regression.md
  docs/qa/charters/CH-global-scope-regression.md
  docs/qa/charters/CH-home-preload-recovery.md
  docs/qa/charters/CH-marketplace-scope-isolation.md
  docs/qa/charters/CH-onboarding-global-skip.md
  docs/qa/reports/2026-08-13-pr-368-coderabbit.md
  docs/qa/scenarios/ET-web-command-palette-shortcuts.md
  docs/qa/scenarios/ET-web-marketplace-mcp-authorize-installed.md
  docs/qa/scenarios/MS-web-create-destination-derived.md
  docs/qa/scenarios/MS-web-menubar-global-scope-toggle.md
  docs/qa/scenarios/RT-home-dashboard-zones.md
  docs/qa/scenarios/RT-onboarding-skip-to-global.md
Due: none

docs: record Global runtime binding QA
  docs/qa/reports/2026-08-13-pr-368-coderabbit.md
  docs/qa/scenarios/MS-web-agent-create-simple-advanced.md
  docs/qa/scenarios/RT-028.md
Due: none

fix: align runtime workspace ownership
  web/src/systems/os/apps/loops/__tests__/loop-run-detail-location.test.tsx
  web/src/systems/os/apps/loops/loop-run-detail-location.tsx
  web/src/systems/os/apps/session/__tests__/session-window.test.tsx
  web/src/systems/os/apps/session/session-window.tsx
Due: turbo-lint

docs: verify final loop workspace fix
  docs/qa/reports/2026-08-13-pr-368-coderabbit.md
  docs/qa/scenarios/LP-003.md
Due: none

fix: preserve Global runtime binding in web views
  docs/qa/scenarios/ET-native-tool-approval-grants.md
  docs/qa/scenarios/RT-home-dashboard-zones.md
  web/e2e/__tests__/bridges.spec.ts
  web/e2e/__tests__/extensions.spec.ts
  web/e2e/__tests__/knowledge.spec.ts
  web/e2e/__tests__/os-shell.spec.ts
  web/e2e/__tests__/sandbox.spec.ts
  web/e2e/__tests__/tool-approval-grants.spec.ts
  web/e2e/__tests__/workspace-setup.spec.ts
  web/e2e/fixtures/__tests__/runtime-seed.test.ts
  web/e2e/fixtures/os-navigation.ts
  web/e2e/fixtures/runtime-seed.ts
  web/src/systems/dashboard/__tests__/use-home-dashboard.test.tsx
  web/src/systems/dashboard/hooks/use-home-agents.ts
  web/src/systems/tool-approvals/components/__tests__/tool-approval-grants-section.test.tsx
  web/src/systems/tool-approvals/hooks/__tests__/use-tool-approval-grants-panel.test.tsx
  web/src/systems/tool-approvals/hooks/use-tool-approval-grants-panel.ts
Due: turbo-lint

fix: validate desktop bundles before release
  .github/workflows/release.yml
  Makefile
  desktop/src-tauri/Cargo.toml
  internal/config/release_config_test.go
  scripts/render-and-validate-release-body.sh
  scripts/resolve-auto-beta-version.sh
  scripts/validate-release-body.sh
Due: format-go

release: prepare release v0.3.0 (#369)
  CHANGELOG.md
  RELEASE_BODY.md
  RELEASE_NOTES.md
  go.mod
  go.sum
Due: none

fix: resolve extension agent skills and missing config paths
  docs/qa/reports/2026-08-13-extension-agent-session-skills.md
  docs/qa/scenarios/ET-compozy-native-tool-invocation.md
  docs/qa/scenarios/ET-managed-session-skill-loading.md
  docs/qa/scenarios/ET-session-command-catalog-parity.md
  internal/api/spec/spec_test.go
  internal/api/spec/tool_schema_enums.go
  internal/daemon/agent_skill_resources_integration_test.go
  internal/daemon/boot.go
  internal/daemon/daemon_extension_agent_fixture_e2e_integration_test.go
  internal/daemon/harness_context_integration_test.go
  internal/daemon/native_config_hook_tools.go
  internal/daemon/native_tool_authored_paths.go
  internal/daemon/native_tools_test.go
  internal/daemon/prompt_input_composite_integration_test.go
  internal/daemon/prompt_skills.go
  internal/daemon/prompt_skills_test.go
  internal/daemon/session_commands.go
  internal/daemon/session_skill_resolution.go
  internal/tools/reason.go
  openapi/compozy.json
  skills/compozy/references/configuration.md
  web/src/generated/compozy-openapi.d.ts
Due: turbo-lint, format-go

docs: add extension skill impact audit
  docs/qa/reports/2026-08-13-extension-agent-session-skills.md
Due: none

test: cover skill fallback and config path diagnostics
  internal/daemon/native_tools_test.go
Due: format-go

fix: include extension tools in hosted MCP bootstrap
  docs/qa/reports/2026-08-13-hosted-extension-tool-bootstrap.md
  docs/qa/scenarios/ET-048.md
  internal/daemon/daemon_extension_distribution_e2e_integration_test.go
  internal/daemon/native_extension_tool_provider.go
  internal/daemon/native_extension_tool_provider_test.go
Due: format-go

fix: isolate invalid extension tool manifests
  internal/daemon/native_tools.go
  internal/extension/tool_provider.go
  internal/extension/tool_provider_test.go
Due: format-go

fix: make release publication atomic
  .github/workflows/release.yml
  .goreleaser.yml
  desktop/src-tauri/src/runtime/artifacts.rs
  desktop/src-tauri/src/runtime/provision.rs
  desktop/src-tauri/src/shell.rs
  desktop/src-tauri/src/update/manifest_runtime_stager.rs
  desktop/src-tauri/src/update/mod.rs
  desktop/src-tauri/src/update/runtime_update.rs
  desktop/src-tauri/tests/update_system.rs
  docs/qa/journeys/J-publish-compozy-beta.md
  docs/qa/scenarios/REL-beta-install-paths.md
  docs/qa/scenarios/REL-published-npm-channel-readiness.md
  docs/release/v0.3-single-cut.md
  internal/config/release_config_test.go
  scripts/prepare-desktop-smoke-artifact.sh
  scripts/release-publication-state.sh
  scripts/smoke-desktop-release-artifact.sh
  scripts/smoke-public-cli-package.sh
Due: format-go

fix: refresh repaired extension tool manifests
  internal/extension/tool_provider.go
  internal/extension/tool_provider_test.go
Due: format-go

fix: defer npm publication safely
  .goreleaser.yml
  internal/config/release_config_test.go
Due: format-go

build: github tooling
  .agents/skills/herdr-orchestration/SKILL.md
  .agents/skills/herdr-orchestration/references/plan-mode.md
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/1-bug-report.yml
  .github/ISSUE_TEMPLATE/2-feature-request.yml
  .github/ISSUE_TEMPLATE/3-docs-issue.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/ci.yml
  CLAUDE.md
  skills-lock.json
Due: none

fix: harden release recovery
  .github/workflows/desktop-feed-repair.yml
  .github/workflows/release.yml
  cmd/compozy-desktop-release/main.go
  docs/qa/reports/2026-08-13-release-pipeline-recovery.md
  docs/qa/scenarios/APP-install-first-run-provision.md
  internal/cli/gateway_ssh_e2e_integration_test.go
  internal/config/release_config_test.go
  internal/desktoprelease/canonical_json.go
  internal/desktoprelease/release_test.go
  scripts/read-canonical-runtime-version.sh
  scripts/release-plan-contract.sh
  scripts/repair-desktop-feed.sh
  scripts/resolve-auto-beta-version.sh
Due: format-go

fix: isolate release publishers
  .github/workflows/release.yml
  internal/config/release_config_test.go
Due: format-go

fix: make release artifacts reproducible
  .github/workflows/release.yml
  .goreleaser.yml
  internal/config/release_config_test.go
Due: format-go

fix: stabilize extension tool manifest caching
  docs/qa/scenarios/ET-048.md
  internal/extension/manifest_load.go
  internal/extension/tool_projection_generation.go
  internal/extension/tool_provider.go
  internal/extension/tool_provider_manifest_cache.go
  internal/extension/tool_provider_manifest_content.go
  internal/extension/tool_provider_manifest_metadata.go
  internal/extension/tool_provider_manifest_metadata_darwin.go
  internal/extension/tool_provider_manifest_metadata_linux.go
  internal/extension/tool_provider_manifest_metadata_other.go
  internal/extension/tool_provider_test.go
Due: format-go

test: prove extension agent skill catalog
  docs/qa/reports/2026-08-13-pr372-extension-agent-session-skills-native-cli.md
  docs/qa/scenarios/ET-compozy-native-tool-invocation.md
  docs/qa/scenarios/ET-managed-session-skill-loading.md
  docs/qa/scenarios/ET-session-command-catalog-parity.md
  internal/daemon/daemon_extension_agent_fixture_e2e_integration_test.go
Due: format-go

fix: align release automation contracts
  .github/workflows/release.yml
  cmd/compozy-desktop-release/main.go
  internal/config/release_config_test.go
  scripts/read-canonical-runtime-version.sh
  scripts/repair-desktop-feed.sh
Due: format-go

fix: resolve extension agent skills and missing config paths (#372)
  docs/qa/reports/2026-08-13-extension-agent-session-skills.md
  docs/qa/reports/2026-08-13-pr372-extension-agent-session-skills-native-cli.md
  docs/qa/scenarios/ET-compozy-native-tool-invocation.md
  docs/qa/scenarios/ET-managed-session-skill-loading.md
  docs/qa/scenarios/ET-session-command-catalog-parity.md
  internal/api/spec/spec_test.go
  internal/api/spec/tool_schema_enums.go
  internal/daemon/agent_skill_resources_integration_test.go
  internal/daemon/boot.go
  internal/daemon/daemon_extension_agent_fixture_e2e_integration_test.go
  internal/daemon/harness_context_integration_test.go
  internal/daemon/native_config_hook_tools.go
  internal/daemon/native_tool_authored_paths.go
  internal/daemon/native_tools_test.go
  internal/daemon/prompt_input_composite_integration_test.go
  internal/daemon/prompt_skills.go
  internal/daemon/prompt_skills_test.go
  internal/daemon/session_commands.go
  internal/daemon/session_skill_resolution.go
  internal/tools/reason.go
  openapi/compozy.json
  skills/compozy/references/configuration.md
  web/src/generated/compozy-openapi.d.ts
Due: turbo-lint, format-go

fix: include extension tools in hosted MCP bootstrap (#373)
  docs/qa/reports/2026-08-13-hosted-extension-tool-bootstrap.md
  docs/qa/scenarios/ET-048.md
  internal/daemon/daemon_extension_distribution_e2e_integration_test.go
  internal/daemon/native_extension_tool_provider.go
  internal/daemon/native_extension_tool_provider_test.go
  internal/daemon/native_tools.go
  internal/extension/manifest_load.go
  internal/extension/tool_projection_generation.go
  internal/extension/tool_provider.go
  internal/extension/tool_provider_manifest_cache.go
  internal/extension/tool_provider_manifest_content.go
  internal/extension/tool_provider_manifest_metadata.go
  internal/extension/tool_provider_manifest_metadata_darwin.go
  internal/extension/tool_provider_manifest_metadata_linux.go
  internal/extension/tool_provider_manifest_metadata_other.go
  internal/extension/tool_provider_test.go
Due: format-go

fix: use conventional release triggers
  .github/workflows/release.yml
  internal/config/release_config_test.go
Due: format-go

fix: resolve main lint regressions
  internal/api/spec/spec_test.go
  internal/config/agent_name.go
  internal/config/agent_name_test.go
  internal/config/release_config_test.go
  internal/session/manager_create_prepare.go
  internal/tools/builtin/builtin_test.go
  internal/tools/builtin/descriptors.go
  internal/tools/builtin/workspace.go
  internal/workspace/resolver_mutation_test.go
Due: format-go

fix: parse nanosecond daemon timestamps
  .github/workflows/release.yml
  internal/config/release_config_test.go
  scripts/smoke-desktop-release-artifact.sh
  scripts/verify-process-start.py
Due: format-go

fix: validate release workflow tools by type
  .github/workflows/release.yml
  internal/config/release_config_test.go
Due: format-go

build: prepare release v0.3.0 (#374)
  CHANGELOG.md
  RELEASE_BODY.md
  RELEASE_NOTES.md
  go.mod
  go.sum
Due: none

fix: retain awaited child Loop state
  docs/qa/charters/CH-loop-await-child-recovery.md
  docs/qa/reports/2026-08-13-issue-386-awaited-child.md
  docs/qa/scenarios/LP-run-loop-await-child.md
  internal/loop/coordinator_test.go
  internal/store/globaldb/global_db_loop_node_await.go
  internal/store/globaldb/global_db_loop_node_terminal.go
  internal/store/globaldb/global_db_task_claim_complete.go
  internal/store/globaldb/global_db_task_claim_test.go
Due: format-go

docs: generalize run-loop await reproduction
  docs/superpowers/specs/2026-08-13-run-loop-await-child-design.md
Due: none
