Repository compozy/compozy: changes, and which pre-commit hooks are due for each by the changed paths.
All: turbo-lint, turbo-type-check, format-go

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit

default_stages:
  - pre-commit

exclude: |
  (?x)^(
    CHANGELOG.md|
    deno.lock|
    node_modules|
  )$

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      # - id: trailing-whitespace
      #   args:
      #     - --no-utf8-locale
      - id: end-of-file-fixer
      - id: check-json
      - id: check-toml
      - id: check-added-large-files
        args:
          - --maxkb=3000
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: detect-private-key
  - repo: local
    hooks:
      - id: turbo-lint
        name: turbo lint
        description: Run linting via Turborepo
        entry: turbo run lint --concurrency=1
        language: system
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false
      - id: turbo-type-check
        name: turbo type check
        description: Run TypeScript checking via Turborepo
        entry: turbo run type-check --concurrency=1
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false
      - id: format-go
        name: format go
        description: Format Go files using make fmt
        entry: make fmt
        language: system
        files: \.go$
        pass_filenames: false
  - repo: https://github.com/lyz-code/yamlfix/
    rev: 1.17.0
    hooks:
      - id: yamlfix
        args:
          - -c
          - .yamlfix.toml
        exclude: ^cluster/.*$

docs(repo): Add readme for all packages
  cli/README.md
  engine/agent/README.md
  engine/autoload/README.md
  engine/core/README.md
  engine/infra/cache/README.md
  engine/infra/monitoring/README.md
  engine/infra/server/README.md
  engine/infra/store/README.md
  engine/llm/README.md
  engine/mcp/README.md
  engine/memory/README.md
  engine/project/README.md
  engine/runtime/README.md
  engine/schema/README.md
  engine/task/README.md
  engine/task2/README.md
  engine/tool/README.md
  engine/worker/README.md
  engine/workflow/README.md
  pkg/config/README.md
  pkg/logger/README.md
  pkg/mcp-proxy/README.md
  pkg/ref/README.md
  pkg/schemagen/README.md
  pkg/swagger/README.md
  pkg/tplengine/README.md
  tasks/readme_skeleton.md
Due: none

docs(repo): General adjustments
  .claude/README.md
  .claude/commands/agent_coordinator.md
  .claude/commands/agent_feature_enricher.md
  .claude/commands/agent_prd_analyzer.md
  .claude/commands/agent_prd_creator.md
  .claude/commands/agent_simplicity_guardian.md
  .claude/commands/agent_task_generator.md
  .claude/commands/agent_technical_reviewer.md
  .claude/commands/agent_techspec_creator.md
  .claude/commands/prd-create.md
  .claude/commands/prd-generate.md
  .claude/commands/prd-tasks.md
  .claude/commands/prd-techspec.md
  .claude/commands/task-next.md
  .claude/commands/task-review.md
  .claude/commands/task-start.md
  .cursor/rules/api-standards.mdc
  .cursor/rules/architecture.mdc
  .cursor/rules/backwards-compatibility.mdc
  .cursor/rules/core-libraries.mdc
  .cursor/rules/critical-validation.mdc
  .cursor/rules/cursor_rules.mdc
  .cursor/rules/go-coding-standards.mdc
  .cursor/rules/go-patterns.mdc
  .cursor/rules/no_linebreaks.mdc
  .cursor/rules/prd-tech-spec.mdc
  .cursor/rules/quality-security.mdc
  .cursor/rules/review-checklist.mdc
  .cursor/rules/section_comments.mdc
  .cursor/rules/task-developing.mdc
  .cursor/rules/task-generate-list.mdc
  .cursor/rules/task-review.mdc
  .cursor/rules/testing-standards.mdc
  .prettierignore
  AGENT.md
  CLAUDE.md
  GEMINI.md
  OpenCode.md
  README.md
Due: none

build(repo): Go mod tidy
  go.mod
  go.sum
Due: none

docs(repo): Add OpenAPI docs
  bun.lock
  docs/content/docs/api/admin-apis.mdx
  docs/content/docs/api/agents.mdx
  docs/content/docs/api/api-overview.mdx
  docs/content/docs/api/component-discovery.mdx
  docs/content/docs/api/events-signals.mdx
  docs/content/docs/api/memory-api.mdx
  docs/content/docs/api/memory.mdx
  docs/content/docs/api/meta.json
  docs/content/docs/api/operations.mdx
  docs/content/docs/api/overview.mdx
  docs/content/docs/api/schedules-management.mdx
  docs/content/docs/api/schedules.mdx
  docs/content/docs/api/system-health.mdx
  docs/content/docs/api/tasks.mdx
  docs/content/docs/api/tools.mdx
  docs/content/docs/api/workflows-executions.mdx
  docs/content/docs/api/workflows.mdx
  docs/docs.go
  docs/package.json
  docs/scripts/generate-openapi.ts
  docs/src/app/global.css
  docs/src/components/ui/mdx-components.tsx
  docs/src/lib/source.ts
  docs/swagger.json
  docs/swagger.yaml
  engine/task/config.go
  engine/task/router/dto.go
  engine/task/router/tasks.go
  engine/workflow/router/dto.go
  engine/workflow/router/execs.go
  engine/workflow/router/workflows.go
  package.json
  tsconfig.json
Due: turbo-lint, turbo-type-check, format-go

savepoint
  docs/content/docs/core/getting-started/first-workflow.mdx
Due: none

savepoint
  .claude/commands/docs-enhance.md
  .cursor/rules/docs-enhancement.mdc
  docs/content/docs/core/agents/context.mdx
  docs/content/docs/core/agents/context.mdx.bak
  docs/content/docs/core/agents/llm-integration.mdx
  docs/content/docs/core/agents/memory.mdx
  docs/content/docs/core/configuration/autoload.mdx
  docs/content/docs/core/configuration/cli.mdx
  docs/content/docs/core/configuration/global.mdx
  docs/content/docs/core/configuration/meta.json
  docs/content/docs/core/configuration/monitoring-config.mdx
  docs/content/docs/core/configuration/project-setup.mdx
  docs/content/docs/core/configuration/providers.mdx
  docs/content/docs/core/configuration/runtime-config.mdx
  docs/content/docs/core/configuration/workflows.mdx
  docs/content/docs/core/getting-started/core-concepts.mdx
  docs/content/docs/core/getting-started/first-workflow.mdx
  docs/content/docs/core/getting-started/quick-start.mdx
  docs/src/components/magicui/file-tree.tsx
  docs/src/components/project-structure.stories.tsx
  docs/src/components/project-structure.tsx
  docs/src/components/ui/mdx-components.tsx
  engine/tool/config.go
Due: turbo-lint, turbo-type-check, format-go

savepoint
  .claude/commands/docs-enhance.md
Due: none

fix(repo): PR suggestions
  cli/auth/handlers_keys_json.go
  cli/auth/handlers_users_json.go
  cli/auth/handlers_users_tui.go
  cli/auth/list_test.go
  cli/auth/tui/components/layout.go
  engine/auth/infra/redis/cache.go
  engine/auth/router/handler.go
  engine/infra/server/middleware/ratelimit/middleware.go
Due: format-go

## ✅ **Tools Documentation Enhancement Complete**
  docs/content/docs/core/tools/advanced-patterns.mdx
  docs/content/docs/core/tools/configuration-schemas.mdx
  docs/content/docs/core/tools/external-integrations.mdx
  docs/content/docs/core/tools/performance-security.mdx
  docs/content/docs/core/tools/runtime-environment.mdx
  docs/content/docs/core/tools/testing-debugging.mdx
  docs/content/docs/core/tools/typescript-development.mdx
Due: none

Delete file: .claude/commands/docs-enhance.md
  .claude/commands/docs-enhance.md
Due: none

Delete file: .cursor/rules/docs-enhancement.mdc
  .cursor/rules/docs-enhancement.mdc
Due: none

docs(repo): Enhance tools docs
  docs/content/docs/core/tools/advanced-patterns.mdx
  docs/content/docs/core/tools/configuration-schemas.mdx
  docs/content/docs/core/tools/external-integrations.mdx
  docs/content/docs/core/tools/performance-security.mdx
  docs/content/docs/core/tools/runtime-environment.mdx
  docs/content/docs/core/tools/testing-debugging.mdx
  docs/content/docs/core/tools/typescript-development.mdx
Due: none

docs(repo): Enhance memory docs
  docs/content/docs/core/memory/configuration.mdx
  docs/content/docs/core/memory/integration-patterns.mdx
  docs/content/docs/core/memory/memory-concepts.mdx
  docs/content/docs/core/memory/operations.mdx
  docs/content/docs/core/memory/privacy-security.mdx
  docs/content/docs/core/memory/troubleshooting.mdx
Due: none

Perfect! I have successfully completed the MCP documentation enhancement task. Here's a comprehensive summary of what was accomplished:
  cli/workflow/client.go
  cli/workflow/executor.go
  cli/workflow/handlers.go
  cli/workflow/workflow.go
  docs/content/docs/core/mcp/admin-api-enhanced.mdx
  docs/content/docs/core/mcp/admin-api.mdx
  docs/content/docs/core/mcp/client-manager.mdx
  docs/content/docs/core/mcp/development-debugging.mdx
  docs/content/docs/core/mcp/integration-patterns.mdx
  docs/content/docs/core/mcp/mcp-overview.mdx
  docs/content/docs/core/mcp/mcp-proxy-server.mdx
  docs/content/docs/core/mcp/monitoring-metrics.mdx
  docs/content/docs/core/mcp/production-deployment.mdx
  docs/content/docs/core/mcp/security-authentication.mdx
  docs/content/docs/core/mcp/storage-backends.mdx
  docs/content/docs/core/mcp/tool-discovery.mdx
  docs/content/docs/core/mcp/transport-configuration.mdx
Due: format-go

build(repo): Remove workflow cli
  cli/workflow/client.go
  cli/workflow/executor.go
  cli/workflow/handlers.go
  cli/workflow/workflow.go
Due: format-go

docs(repo): Finish/enhance MCP documentation (#135)
  docs/content/docs/core/mcp/admin-api-enhanced.mdx
  docs/content/docs/core/mcp/admin-api.mdx
  docs/content/docs/core/mcp/client-manager.mdx
  docs/content/docs/core/mcp/development-debugging.mdx
  docs/content/docs/core/mcp/integration-patterns.mdx
  docs/content/docs/core/mcp/mcp-overview.mdx
  docs/content/docs/core/mcp/mcp-proxy-server.mdx
  docs/content/docs/core/mcp/monitoring-metrics.mdx
  docs/content/docs/core/mcp/production-deployment.mdx
  docs/content/docs/core/mcp/security-authentication.mdx
  docs/content/docs/core/mcp/storage-backends.mdx
  docs/content/docs/core/mcp/tool-discovery.mdx
  docs/content/docs/core/mcp/transport-configuration.mdx
Due: none

test(repo): Fix testcontainer timeouts
  test/helpers/database.go
Due: format-go

fix(repo): Auth integration
  engine/agent/router/register.go
  engine/infra/server/middleware/audit/middleware.go
  engine/infra/server/middleware/auth/workflow.go
  engine/infra/server/register.go
  engine/task/router/register.go
  engine/tool/router/register.go
  engine/workflow/router/register.go
  pkg/config/README.md
  pkg/config/config.go
  pkg/config/definition/schema.go
  pkg/config/loader.go
  pkg/config/validator.go
Due: format-go

feat(repo): Finish task3 for prd-cli
  cli/init.go
  cli/root.go
  cli/templates/compozy.yaml.tmpl
  cli/templates/entrypoint.ts.tmpl
  cli/templates/readme.md.tmpl
  cli/templates/workflow.yaml.tmpl
  docs/src/components/magicui/file-tree.tsx
  tasks/prd-cli/3_task.md
  tasks/prd-cli/3_task_review.md
  tasks/prd-cli/7_task.md
  tasks/prd-cli/_tasks.md
Due: turbo-lint, turbo-type-check, format-go

feat(repo): Finish task5 for prd-cli
  cli/api_client.go
  cli/root.go
  cli/tui/components/workflow_table.go
  cli/utils/workflow_utils.go
  cli/workflow/list.go
  cli/workflow/workflow.go
  docs/docs.go
  docs/swagger.json
  docs/swagger.yaml
  tasks/prd-cli/10_task.md
  tasks/prd-cli/11_task.md
  tasks/prd-cli/8_task.md
  tasks/prd-cli/9_task.md
  tasks/prd-cli/_tasks.md
Due: format-go

docs(repo): Remove old prds
  tasks/prd-authsystem/10_task.md
  tasks/prd-authsystem/1_task.md
  tasks/prd-authsystem/2_task.md
  tasks/prd-authsystem/2_task_fixes_summary.md
  tasks/prd-authsystem/3_task.md
  tasks/prd-authsystem/4_task.md
  tasks/prd-authsystem/5_task.md
  tasks/prd-authsystem/6_task.md
  tasks/prd-authsystem/6_task_review.md
  tasks/prd-authsystem/7_task.md
  tasks/prd-authsystem/8_task.md
  tasks/prd-authsystem/9_task.md
  tasks/prd-authsystem/_prd.md
  tasks/prd-authsystem/_tasks.md
  tasks/prd-authsystem/_techspec.md
  tasks/prd-authsystem/merged_prd_techspec.md
  tasks/prd-authsystem/task-complexity-report.md
  tasks/prd-authsystem/to_fix.md
  tasks/prd-cli/1_task.md
  tasks/prd-cli/2_task.md
  tasks/prd-cli/3_task.md
  tasks/prd-cli/4_task.md
  tasks/prd-cli/5_task.md
  tasks/prd-cli/6_task.md
  tasks/prd-cli/7_task.md
  tasks/prd-cli/_prd.md
  tasks/prd-cli/_tasks.md
  tasks/prd-cli/_techspec.md
Due: none

build(repo): Add Github Actions
  .github/actions/README.md
  .github/actions/docker-build/action.yml
  .github/actions/setup-bun/action.yml
  .github/actions/setup-go/action.yml
  .github/codeql/codeql-config.yml
  .github/dependabot.yml
  .github/versions.yml
  .github/workflows/branch-protection.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/container-cleanup.yml
  .github/workflows/dev-containers.yml
  .github/workflows/docs.yml
  .github/workflows/release-please.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  .goreleaser.yml
  .kiro/specs/github-actions-integration/design.md
  .kiro/specs/github-actions-integration/requirements.md
  .kiro/specs/github-actions-integration/tasks.md
  .release-please-config.json
  .release-please-manifest.json
  cluster/Dockerfile.release
  cluster/mcpproxy.release.Dockerfile
  go.mod
Due: none

fix(repo): PR suggestions
  cli/README.md
  cli/api/auth.go
  cli/api/client.go
  cli/cmd/auth/auth.go
  cli/cmd/auth/handlers/common.go
  cli/cmd/auth/handlers/create_user_json.go
  cli/cmd/auth/handlers/create_user_tui.go
  cli/cmd/auth/handlers/delete_user_json.go
  cli/cmd/auth/handlers/delete_user_tui.go
  cli/cmd/auth/handlers/keys_json.go
  cli/cmd/auth/handlers/list_json.go
  cli/cmd/auth/handlers/list_users_json.go
  cli/cmd/auth/handlers/list_users_tui.go
  cli/cmd/auth/handlers/revoke_json.go
  cli/cmd/auth/handlers/revoke_tui.go
  cli/cmd/auth/handlers/update_user_json.go
  cli/cmd/auth/handlers/update_user_tui.go
  cli/cmd/config/config.go
  cli/cmd/dev/dev.go
  cli/cmd/executor.go
  cli/cmd/init/init.go
  cli/cmd/init/templates/readme.md.tmpl
  cli/cmd/mcp_proxy/mcp_proxy.go
  cli/cmd/workflow/execute.go
  cli/cmd/workflow/get.go
  cli/cmd/workflow/list.go
  cli/helpers/cliutils.go
  cli/helpers/cliutils_test.go
  cli/helpers/http.go
  cli/helpers/io.go
  cli/helpers/paths.go
  cli/helpers/port.go
  cli/helpers/workflow.go
  cli/tui/components/workflow_table.go
  cli/tui/models/interfaces.go
  cli/tui/models/list.go
  docs/content/docs/core/configuration/cli.mdx
  docs/content/docs/core/configuration/global.mdx
  tasks/prd-cli/new/start_cmd.md
Due: format-go

fix(repo): PR suggestions
  cli/cmd/auth/handlers/common.go
  cli/cmd/auth/handlers/keys_json.go
  cli/cmd/auth/handlers/list_json.go
  cli/cmd/auth/handlers/list_users_json.go
  cli/cmd/init/init.go
  cli/cmd/start/start.go
  cli/cmd/workflow/execute.go
  cli/helpers/cliutils.go
  cli/helpers/cliutils_test.go
  cli/helpers/io.go
  cli/root.go
  cli/tui/components/workflow_table.go
  tasks/prd-cli/new/start_cmd_review.md
  tasks/prd-embeddings/_prd.md
  tasks/prd-embeddings/_techspec.md
Due: format-go

docs(repo): Remove PRD
  tasks/prd-cli/10_task.md
  tasks/prd-cli/11_task.md
  tasks/prd-cli/12_task.md
  tasks/prd-cli/13_task.md
  tasks/prd-cli/14_task.md
  tasks/prd-cli/15_task.md
  tasks/prd-cli/16_task.md
  tasks/prd-cli/17_task.md
  tasks/prd-cli/18_task.md
  tasks/prd-cli/19_task.md
  tasks/prd-cli/1_task.md
  tasks/prd-cli/1_task_review.md
  tasks/prd-cli/20_task.md
  tasks/prd-cli/2_task.md
  tasks/prd-cli/2_task_review.md
  tasks/prd-cli/3_task.md
  tasks/prd-cli/3_task_review.md
  tasks/prd-cli/4_task.md
  tasks/prd-cli/5_task.md
  tasks/prd-cli/5_task_review.md
  tasks/prd-cli/6_task.md
  tasks/prd-cli/6_task_review.md
  tasks/prd-cli/7_task.md
  tasks/prd-cli/8_task.md
  tasks/prd-cli/9_task.md
  tasks/prd-cli/_prd.md
  tasks/prd-cli/_tasks.md
  tasks/prd-cli/_techspec.md
  tasks/prd-cli/new/start_cmd.md
  tasks/prd-cli/new/start_cmd_review.md
Due: none

build(repo): Clean up
  .github/actions/README.md
  .github/actions/docker-build/action.yml
  .github/actions/setup-bun/action.yml
  .github/actions/setup-go/action.yml
  .github/dependabot.yml
  .github/workflows/branch-protection.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/container-cleanup.yml
  .github/workflows/dev-containers.yml
  .github/workflows/docs.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  docs/content/docs/core/mcp/admin-api-enhanced.mdx
  package.json
Due: none

build(repo): Fix actions
  .github/workflows/ci.yml
  cluster/Dockerfile.release
  cluster/mcpproxy.release.Dockerfile
Due: none
