Repository compozy/compozy: changes, and which pre-commit hooks are due for each by the changed paths.
All: turbo-lint, format-go

turbo-lint:
  name: turbo lint
  description: Run linting via Turborepo
  entry: bun run lint
  language: system
  pass_filenames: false

format-go:
  name: format go
  description: Format Go files using make fmt
  entry: make fmt
  language: system
  pass_filenames: false

fix: validate loop entities in the acting profile
  internal/daemon/automation_loop_starter.go
  internal/daemon/loop_input_entity_catalog.go
  internal/daemon/loop_input_entity_catalog_test.go
  internal/loop/input_entity_validation.go
  internal/loop/input_response_validation.go
  internal/loop/service.go
  internal/loop/service_fork_prepare.go
  internal/loop/service_requests.go
  internal/loop/service_start.go
  internal/loop/service_test.go
Due: format-go

test: record profile implementer QA blocker
  docs/qa/reports/2026-09-01-profile-extension-implementer.md
  docs/qa/scenarios/LP-implement-tasks-orchestrated-mode.md
Due: none

test: cover profile extension implementer
  internal/daemon/daemon_implement_tasks_e2e_integration_test.go
Due: format-go

fix: inherit agent session profile in CLI actions
  internal/cli/agent_identity.go
  internal/cli/agent_identity_test.go
  internal/cli/profile_read_scope.go
  internal/cli/profile_test.go
  internal/daemon/daemon_implement_tasks_e2e_integration_test.go
  internal/testutil/acpmock/cmd/acpmock-driver/main_test.go
  internal/testutil/acpmock/cmd/acpmock-driver/prompt.go
  internal/testutil/acpmock/cmd/acpmock-driver/sandbox.go
  internal/testutil/acpmock/testdata/implement_tasks_fixture.json
Due: format-go

fix: honor route skips within a planning pass
  internal/loop/control_plan.go
  internal/loop/coordinator_control_test.go
Due: format-go

test: record exclusive route QA
  docs/qa/reports/2026-09-01-loop-route-selection.md
  docs/qa/scenarios/LP-exclusive-route-history.md
Due: none

fix: scope loop action schema resolution
  internal/daemon/loop_api_catalog_test.go
  internal/daemon/loop_tool_schema_source.go
  internal/daemon/loop_tool_schema_source_test.go
  internal/daemon/task_runtime_boot_roles.go
  internal/daemon/task_runtime_test.go
Due: format-go

test: record lifecycle action QA
  docs/qa/reports/2026-09-01-loop-lifecycle-actions.md
  docs/qa/scenarios/LP-extension-action-schema-scope.md
Due: none

fix: scope loop publishing tool schemas
  internal/daemon/loop_api_fork.go
  internal/daemon/loop_api_publish.go
  internal/daemon/loop_api_service.go
  internal/daemon/loop_resources_test.go
  internal/daemon/loop_tool_schema_source.go
  internal/daemon/loop_tool_schema_source_test.go
Due: format-go

fix: limit session profile inheritance to session commands
  internal/cli/profile_read_scope.go
  internal/cli/profile_test.go
Due: format-go

desktop channel publish 0.3.0-beta.22
  desktop/generation.json
  desktop/latest-linux.yml
  desktop/latest-mac.yml
Due: none

docs: record the window-manager hardening QA run
  docs/qa/reports/2026-09-01-window-manager-hardening.md
  docs/qa/scenarios/ET-web-desktop-shell-lifecycle.md
  docs/qa/scenarios/ET-window-manager-layout-gestures.md
  docs/qa/scenarios/ET-window-manager-multi-client.md
  docs/qa/scenarios/ET-window-manager-public-parity.md
  docs/qa/scenarios/ET-window-tab-v3-discard.md
  docs/qa/scenarios/ET-window-zoom-in-place.md
  docs/qa/scenarios/RT-desktop-pager-overview.md
  docs/qa/scenarios/RT-window-manager-stream-liveness.md
Due: none

docs: close profile implementer QA
  docs/qa/reports/2026-09-01-profile-extension-implementer.md
  docs/qa/scenarios/LP-implement-tasks-orchestrated-mode.md
Due: none

docs: refresh exclusive route QA
  docs/qa/reports/2026-09-01-loop-route-selection.md
  docs/qa/scenarios/LP-exclusive-route-history.md
Due: none

docs: refresh lifecycle action QA
  docs/qa/reports/2026-09-01-loop-lifecycle-actions.md
  docs/qa/scenarios/LP-extension-action-schema-scope.md
Due: none

fix: isolate loop session references by profile
  internal/daemon/loop_input_entity_catalog.go
  internal/daemon/loop_input_entity_catalog_test.go
Due: format-go

refactor: move window-manager runtime helpers into their own file
  web/src/systems/os/hooks/__tests__/window-manager-runtime.test.ts
  web/src/systems/os/runtime/window-manager-runtime-core.ts
  web/src/systems/os/runtime/window-manager-runtime-helpers.ts
  web/src/systems/os/runtime/window-manager-runtime.ts
  web/src/systems/os/runtime/window-manager-snap-commands.ts
  web/src/systems/os/runtime/window-manager-tab-commands.ts
Due: turbo-lint

fix: honor extension tool profile placement
  internal/daemon/native_tools.go
  internal/extension/resource_publication.go
  internal/extension/tool_provider.go
  internal/extension/tool_provider_manifest_cache.go
  internal/extension/tool_provider_test.go
Due: format-go

test: stop sending the removed desktop purpose and pinning live search counts
  internal/api/udsapi/transport_parity_integration_test.go
  web/e2e/__tests__/profiles.spec.ts
Due: turbo-lint, format-go

docs: correct profile implementer QA metadata
  docs/qa/reports/2026-09-01-profile-extension-implementer.md
  docs/qa/scenarios/LP-implement-tasks-orchestrated-mode.md
Due: none

docs: correct route selection QA metadata
  docs/qa/reports/2026-09-01-loop-route-selection.md
  docs/qa/scenarios/LP-exclusive-route-history.md
Due: none

docs: complete lifecycle action QA evidence
  docs/qa/reports/2026-09-01-loop-lifecycle-actions.md
  docs/qa/scenarios/LP-extension-action-schema-scope.md
Due: none

fix: resolve changelog releases by tag when the cached list lags
  .release-notes/acp-runtime-catalogs-1788306269.md
  .release-notes/child-loop-config-overrides-1788306270.md
  .release-notes/desktop-app-status-liveness-1788306279.md
  .release-notes/extension-loops-call-owned-tools-1788306274.md
  .release-notes/externalized-loop-action-results-1788306271.md
  .release-notes/forced-loop-cancel-replaces-kill-1788306268.md
  .release-notes/loop-extension-tools-worktrees-1788306275.md
  .release-notes/managed-session-prompts-1788306272.md
  .release-notes/orchestrated-implementer-honored-1788306273.md
  .release-notes/profile-scoped-extension-agent-skills-1788306276.md
  .release-notes/session-cancel-clear-races-1788306278.md
  .release-notes/sparse-fanout-roster-rows-1788306277.md
  packages/site/app/changelog/[version]/page.tsx
  packages/site/lib/__tests__/github-changelog.test.ts
  packages/site/lib/changelog/github-client.ts
  packages/site/lib/changelog/types.ts
Due: turbo-lint

fix: address profile scope review findings
  docs/qa/scenarios/LP-implement-tasks-orchestrated-mode.md
  internal/cli/profile_test.go
  internal/daemon/loop_input_entity_catalog_test.go
  internal/testutil/acpmock/cmd/acpmock-driver/main_test.go
Due: format-go

test: name route selection regression behavior
  internal/loop/coordinator_control_test.go
Due: format-go

fix: reject empty extension tool profiles
  internal/daemon/loop_tool_schema_source_test.go
  internal/extension/tool_provider_manifest_cache.go
  internal/extension/tool_provider_test.go
Due: format-go

fix: allow creating and listing global agents from catalog
  web/src/systems/os/apps/agents/agents-catalog-location.tsx
  web/src/systems/os/apps/agents/use-agents-catalog.ts
Due: turbo-lint

fix: restore beta 22 release notes and changelog
  .release-notes/acp-runtime-catalogs-1788306269.md
  .release-notes/child-loop-config-overrides-1788306270.md
  .release-notes/desktop-app-status-liveness-1788306279.md
  .release-notes/extension-loops-call-owned-tools-1788306274.md
  .release-notes/externalized-loop-action-results-1788306271.md
  .release-notes/forced-loop-cancel-replaces-kill-1788306268.md
  .release-notes/loop-extension-tools-worktrees-1788306275.md
  .release-notes/managed-session-prompts-1788306272.md
  .release-notes/orchestrated-implementer-honored-1788306273.md
  .release-notes/profile-scoped-extension-agent-skills-1788306276.md
  .release-notes/session-cancel-clear-races-1788306278.md
  .release-notes/sparse-fanout-roster-rows-1788306277.md
  packages/site/app/changelog/[version]/page.tsx
  packages/site/components/blog/__tests__/changelog-components.test.tsx
  packages/site/lib/__tests__/github-changelog.test.ts
  packages/site/lib/changelog/github-client.ts
  packages/site/lib/changelog/types.ts
Due: turbo-lint

fix: package site search catalogs
  docs/qa/bugs/BUG-20260901-site-search-catalog-files-missing.md
  docs/qa/reports/2026-09-01-site-changelog-beta22.md
  docs/qa/scenarios/REL-release-note-signal.md
  docs/qa/scenarios/SITE-changelog-release-receipts.md
  packages/site/lib/marketplace-bridges.ts
  packages/site/lib/marketplace-bundled.ts
  packages/site/next.config.mjs
Due: turbo-lint

fix: harden window manager recovery
  docs/qa/charters/CH-window-manager-review-fixes.md
  docs/qa/reports/2026-09-01-window-manager-review-fixes.md
  docs/qa/scenarios/ET-layout-editor-board-summary.md
  docs/qa/scenarios/ET-window-manager-layout-gestures.md
  docs/qa/scenarios/ET-window-zoom-in-place.md
  internal/windowmanager/layout_commands_test.go
  internal/windowmanager/lifecycle_test.go
  internal/windowmanager/normalize.go
  internal/windowmanager/reducer_desktop_delete.go
  internal/windowmanager/reducer_window_open.go
  internal/windowmanager/reducer_window_resize.go
  internal/windowmanager/reducer_window_restore.go
  internal/windowmanager/reducer_zoom.go
  internal/windowmanager/snapshot_v3_test.go
  internal/windowmanager/topology_test.go
  internal/windowmanager/validate.go
  internal/windowmanager/zoom.go
  internal/windowmanager/zoom_desktop.go
  internal/windowmanager/zoom_test.go
  web/src/systems/os/components/__tests__/os-window-frame.test.tsx
  web/src/systems/os/components/os-window-frame.tsx
  web/src/systems/os/hooks/__tests__/os-interaction-hooks.test.tsx
  web/src/systems/os/hooks/__tests__/window-manager-runtime.test.ts
  web/src/systems/os/hooks/use-os-window.ts
  web/src/systems/os/lib/os-types.ts
  web/src/systems/os/runtime/window-manager-runtime-core.ts
  web/src/systems/os/runtime/window-manager-snap-commands.ts
  web/src/systems/settings/components/__tests__/layout-canvas-board-bar.test.tsx
  web/src/systems/settings/components/layouts/layout-canvas-board-bar.tsx
Due: turbo-lint, format-go

test: align loop builder environment e2e
  web/e2e/__tests__/loops.spec.ts
Due: turbo-lint

test: mock request context in heading hierarchy
  packages/site/lib/__tests__/public-heading-hierarchy.test.tsx
Due: turbo-lint

test: wait for shell command readiness
  desktop/e2e/_electron/__tests__/shell.spec.ts
  web/e2e/fixtures/os-navigation.ts
Due: turbo-lint

test: preserve zoom precondition in grouping e2e
  web/e2e/__tests__/os-shell.spec.ts
Due: turbo-lint

Path conditions:
  turbo-lint: any of: \.(js|jsx|ts|tsx)$, but not: (?x)^(
  CHANGELOG.md|
  tools/.*/package\.json|
  bun.lockb|
  node_modules|
)$

  format-go: any of: \.go$, but not: (?x)^(
  CHANGELOG.md|
  tools/.*/package\.json|
  bun.lockb|
  node_modules|
)$

