Repository compozy/compozy: changes, and which pre-commit hooks are due for each by the changed paths.
All: turbo-lint, format-go

turbo-lint:
  name: turbo lint
  description: Run linting via Turborepo
  entry: bun run lint
  language: system
  pass_filenames: false

format-go:
  name: format go
  description: Format Go files using make fmt
  entry: make fmt
  language: system
  pass_filenames: false

fix: review round
  .coderabbit.yaml
  internal/bridges/ADDING_A_BRIDGE.md
  packages/site/content/docs/cli/extension/build.mdx
  packages/site/content/docs/cli/extension/commands.mdx
  packages/site/content/docs/cli/extension/dev.mdx
  packages/site/content/docs/cli/extension/exec.mdx
  packages/site/content/docs/cli/extension/index.mdx
  packages/site/content/docs/cli/extension/init.mdx
  packages/site/content/docs/cli/extension/logs.mdx
  packages/site/content/docs/cli/extension/publish.mdx
  packages/site/content/docs/cli/extension/reload.mdx
  packages/site/content/docs/cli/extension/validate.mdx
  packages/site/content/docs/extensions/install.mdx
  packages/site/content/docs/extensions/manifest.mdx
Due: none

fix: harden CLI command contracts and tests
  internal/api/contract/diagnostics_test.go
  internal/cli/doc_test.go
  internal/cli/docpost/docpost_enrichment.go
  internal/cli/mcp_auth_test.go
  internal/cli/memory_test.go
  internal/cli/network_message_commands.go
  internal/cli/network_test.go
Due: format-go

fix: validate marketplace and docs surfaces
  packages/site/app/__tests__/global.test.ts
  packages/site/app/docs/[[...slug]]/page.tsx
  packages/site/app/marketplace/bridges/page.tsx
  packages/site/app/marketplace/bundled/dev-cycle/page.tsx
  packages/site/app/marketplace/page.tsx
  packages/site/components/docs/page-actions/view-options.tsx
  packages/site/components/marketplace/marketplace-bridge-grid.tsx
  packages/site/components/marketplace/marketplace-entry-detail.tsx
  packages/site/components/marketplace/marketplace-kind-meta.ts
  packages/site/lib/__tests__/docs-discovery.test.ts
  packages/site/lib/__tests__/docs-route-metadata.test.ts
  packages/site/lib/__tests__/marketplace-catalog.test.tsx
  packages/site/lib/__tests__/public-route-metadata.test.ts
  packages/site/lib/__tests__/public-search-index.test.ts
  packages/site/lib/__tests__/section-layouts.test.tsx
  packages/site/lib/marketplace-bridges.ts
  packages/site/lib/marketplace-bundled.ts
  packages/site/lib/marketplace-catalog.ts
  packages/site/lib/marketplace-copy.ts
  packages/site/lib/public-search-index.ts
  packages/site/next.config.mjs
  packages/ui/src/components/custom/catalog-card.tsx
Due: turbo-lint

fix: make gate evidence fail closed
  scripts/gate.sh
  scripts/gate_test.go
Due: format-go

refactor: restore tokenized site visuals
  DESIGN.md
  packages/site/app/global.css
  packages/site/app/styles/docs-api.css
  packages/site/app/styles/docs.css
  packages/site/app/styles/site-graphics.css
  packages/site/components/site/sidebar-section-label.tsx
  scripts/sync-design-md.mjs
Due: turbo-lint

docs: reconcile untested QA coverage
  docs/qa/charters/CH-automation-manual-trigger.md
  docs/qa/charters/CH-nested-skill-groups.md
  docs/qa/charters/CH-provider-settings-model-delta.md
  docs/qa/charters/CH-session-calm-transcript.md
  docs/qa/charters/CH-session-goal-strip.md
  docs/qa/charters/CH-session-permission-dock.md
  docs/qa/charters/CH-site-docs-search-context.md
  docs/qa/reports/2026-07-28-untested-full.md
  docs/qa/scenarios/ET-web-session-goal-strip.md
  docs/qa/scenarios/ET-web-session-permission-dock.md
  docs/qa/scenarios/ET-web-session-transcript-calm-grammar.md
  docs/qa/scenarios/TA-053.md
Due: none

fix: enforce runtime control surface truth
  internal/api/contract/network_payloads.go
  internal/api/core/handlers_observability.go
  internal/api/core/memory_dream_handlers.go
  internal/api/core/memory_workspace_test.go
  internal/api/core/network_status_conversion.go
  internal/api/core/network_test.go
  internal/api/core/prompt_stream.go
  internal/api/core/prompt_stream_blocks.go
  internal/api/core/prompt_stream_emit.go
  internal/api/core/prompt_stream_test.go
  internal/api/spec/registry_memory.go
  internal/cli/config_loops.go
  internal/cli/config_test.go
  internal/cli/loop_support.go
  internal/cli/loop_test.go
  internal/session/manager_busy_input.go
  internal/session/manager_busy_input_test.go
  openapi/compozy.json
  sdk/go/contracts/types_013_gen.go
  sdk/go/contracts/types_014_gen.go
  sdk/typescript/src/generated/contracts.ts
  web/src/generated/compozy-openapi.d.ts
Due: turbo-lint, format-go

fix: author Loop automation targets from CLI
  internal/cli/automation.go
  internal/cli/automation_job_create.go
  internal/cli/automation_loop_target_flags.go
  internal/cli/automation_request.go
  internal/cli/automation_test.go
  internal/cli/automation_trigger_commands.go
  packages/site/content/docs/automation/index.mdx
  packages/site/content/docs/automation/jobs.mdx
  packages/site/content/docs/automation/triggers.mdx
  packages/site/content/docs/cli/automation/jobs/create.mdx
  packages/site/content/docs/cli/automation/triggers/create.mdx
  skills/compozy/references/capabilities-and-bundles.md
Due: format-go

fix: settle web runtime states
  packages/ui/src/components/__tests__/popover.test.tsx
  packages/ui/src/components/popover.tsx
  web/src/systems/network/components/shell/__tests__/network-head-status.test.tsx
  web/src/systems/network/mocks/fixtures.ts
  web/src/systems/session/components/__tests__/tool-call-card.test.tsx
  web/src/systems/session/lib/message-parts.ts
Due: turbo-lint

fix: migrate repository Loop defaults
  .agents/skills/cy-create-tasks/SKILL.md
  .agents/skills/cy-create-tasks/references/task-context-schema.md
  .agents/skills/cy-create-tasks/references/task-template.md
  .compozy/config.toml
  extensions/dev-cycle/skills/cy-create-tasks/SKILL.md
  extensions/dev-cycle/skills/cy-create-tasks/references/task-context-schema.md
  extensions/dev-cycle/skills/cy-create-tasks/references/task-template.md
Due: none

fix: isolate lint cache per worktree
  internal/cli/automation.go
  internal/cli/automation_list_commands.go
  internal/cli/automation_request.go
  internal/cli/automation_root_command.go
  internal/cli/automation_trigger_commands.go
  internal/cli/bundle_output.go
  internal/cli/loop.go
  magefiles/deps_lint.go
  magefiles/deps_lint_test.go
  packages/site/content/docs/automation/index.mdx
Due: format-go

fix: preserve gate evidence across commits
  scripts/gate.sh
  scripts/gate_test.go
Due: format-go

fix: review round
  internal/api/contract/diagnostics_test.go
  internal/api/core/prompt_stream_test.go
  internal/cli/automation_test.go
  internal/cli/helpers_test.go
  internal/cli/loop_support.go
  internal/cli/loop_test.go
  scripts/gate_integration_test.go
  web/src/systems/network/components/shell/__tests__/network-head-status.test.tsx
Due: turbo-lint, format-go

build: update dependencies
  bun.lock
  package.json
  packages/site/package.json
  packages/ui/package.json
  web/package.json
Due: none

test: align migration boundaries after rebase
  internal/store/globaldb/global_db_marketplace_catalog_test.go
  internal/store/globaldb/global_db_mcp_auth_test.go
  internal/store/globaldb/global_db_session_test.go
Due: format-go

fix: address follow-up MCP review findings
  internal/mcp/auth/manager_test.go
  internal/mcp/auth/sdk_adapter.go
  internal/vault/mcp_refs.go
  internal/vault/types_test.go
Due: format-go

fix: clear React Doctor catalog warnings
  packages/site/lib/marketplace-catalog.ts
  packages/site/vitest.config.ts
Due: turbo-lint

build: changelog generation
  .release-notes/mcp-catalog-session-runtime-and-extension-management-1785462925.md
  CHANGELOG.md
  RELEASE_BODY.md
  RELEASE_NOTES.md
  bun.lock
  cliff.toml
  docs/qa/charters/CH-release-note-signal.md
  docs/qa/reports/2026-07-30-release-note-filter.md
  docs/qa/scenarios/REL-release-note-signal.md
  docs/qa/scenarios/SITE-changelog-release-receipts.md
  internal/api/httpapi/handlers_test.go
  internal/config/release_config_test.go
  internal/extension/host_api_test.go
  internal/mcp/executor_test.go
  internal/mcp/executor_tools.go
  internal/mcp/hosted_proxy_test.go
  internal/mcp/hosted_test.go
  internal/mcp/serve.go
  internal/session/manager_busy_input_test.go
  internal/session/manager_prompt_runtime.go
  internal/session/manager_start.go
  internal/session/manager_start_meta.go
  internal/session/manager_test.go
  internal/session/manager_transition_test.go
  internal/session/session_test.go
  internal/store/globaldb/global_db_session.go
  internal/store/globaldb/global_db_session_scan.go
  internal/store/globaldb/global_db_session_update.go
  package.json
  packages/site/content/blog/changelog/v0.3.0-beta.1.mdx
  packages/site/content/blog/changelog/v0.3.0-beta.2.mdx
  packages/site/scripts/__tests__/generate-changelog-release.test.ts
  packages/site/scripts/generate-changelog-release.ts
Due: turbo-lint, format-go

fix(loop): hydrate externalized node outputs before namespace construction
  internal/loop/coordinator.go
  internal/loop/coordinator_action.go
  internal/loop/coordinator_test.go
  internal/loop/generation_output_hydration.go
  internal/loop/generation_output_hydration_test.go
  internal/store/globaldb/global_db_loop_outputs.go
Due: format-go

fix: resolve session messaging review findings
  docs/qa/reports/2026-08-01-session-prompt-idempotency-coderabbit.md
  docs/qa/scenarios/RT-session-prompt-idempotency.md
  internal/acp/handlers_steer.go
  internal/api/core/handler_edge_cases_test.go
  internal/api/core/session_prompt_dispatch.go
  internal/api/httpapi/prompt.go
  internal/api/udsapi/prompt.go
  internal/cli/mcp_auth_input_file.go
  internal/cli/mcp_auth_test.go
  internal/cli/session_prompt_output.go
  internal/daemon/daemon_test.go
  internal/session/manager_busy_input_test.go
  internal/store/globaldb/global_db_session_input_queue_test.go
  internal/store/globaldb/global_db_session_prompt_admission.go
  internal/store/session_prompt_admission.go
  internal/tools/builtin/builtin_test.go
  internal/tools/builtin/sessions.go
  internal/tools/builtin/testdata/native-tool-catalog.json
  web/src/systems/session/hooks/__tests__/use-session-actions.test.tsx
  web/src/systems/session/hooks/use-session-actions.ts
  web/src/systems/session/hooks/use-session-chat-runtime.ts
  web/src/systems/session/lib/__tests__/session-goal-chat-transport.test.ts
  web/src/systems/session/lib/__tests__/session-prompt-chat-transport.test.ts
  web/src/systems/session/lib/session-goal-chat-transport.ts
  web/src/systems/session/lib/session-prompt-chat-transport.ts
Due: turbo-lint, format-go

fix: address final session review feedback
  internal/api/core/session_prompt_dispatch.go
  web/src/systems/session/lib/__tests__/session-prompt-chat-transport.test.ts
Due: turbo-lint, format-go

test: serialize marketplace migration fixture
  internal/store/globaldb/global_db_marketplace_catalog_test.go
Due: format-go

Path conditions:
  turbo-lint: any of: \.(js|jsx|ts|tsx)$, but not: (?x)^(
  CHANGELOG.md|
  tools/.*/package\.json|
  bun.lockb|
  node_modules|
)$

  format-go: any of: \.go$, but not: (?x)^(
  CHANGELOG.md|
  tools/.*/package\.json|
  bun.lockb|
  node_modules|
)$

