Repository compozy/compozy: changes, and which pre-commit hooks are due for each by the changed paths.
All: turbo-lint, format-go

turbo-lint:
  name: turbo lint
  description: Run linting via Turborepo
  entry: bun run lint
  language: system
  pass_filenames: false

format-go:
  name: format go
  description: Format Go files using make fmt
  entry: make fmt
  language: system
  pass_filenames: false

build: add coderabbit script
  .codex/scripts/coderabbit-review-graphql.sh
Due: none

fix: address incremental CodeRabbit feedback
  internal/config/tool_surface_test.go
  internal/loop/coordinator_lifecycle.go
  internal/loop/coordinator_lifecycle_test.go
  internal/loop/coordinator_test.go
  internal/loop/target_health_test.go
Due: format-go

fix: reconcile stacked lifecycle contracts
  internal/daemon/task_runtime_test.go
  internal/loop/coordinator_lifecycle_test.go
Due: format-go

feat: Site docs, config reference and official skill #11
  docs/_memory/glossary.md
  packages/site/content/docs/configuration/config-toml.mdx
  packages/site/content/docs/loops/catalog.mdx
  packages/site/content/docs/loops/configure.mdx
  packages/site/content/docs/loops/dsl-reference.mdx
  packages/site/content/docs/loops/extensions.mdx
  packages/site/content/docs/loops/failure-handling.mdx
  packages/site/content/docs/loops/guardrails.mdx
  packages/site/content/docs/loops/index.mdx
  packages/site/content/docs/loops/meta.json
  packages/site/content/docs/loops/reference-grammar.mdx
  packages/site/content/docs/loops/running.mdx
  skills/compozy/references/loops.md
Due: none

test: Plan Loop lifecycle QA sessions #12
  docs/qa/charters/CH-agent-loop-lifecycle-parity.md
  docs/qa/charters/CH-approver-loop-wait.md
  docs/qa/charters/CH-author-loop-failure-contract.md
  docs/qa/charters/CH-operator-loop-recovery.md
  docs/qa/journeys/J-03-observe-and-approve.md
  docs/qa/journeys/J-07-agent-operated-run.md
  docs/qa/journeys/J-recover-loop-node-failure.md
  docs/qa/reports/2026-08-03-loop-node-lifecycle-plan.md
  docs/qa/scenarios/LP-016.md
  docs/qa/scenarios/LP-agent-operates-lifecycle-via-native-tools.md
  docs/qa/scenarios/LP-approval-link-journey.md
  docs/qa/scenarios/LP-cancel-vs-kill.md
  docs/qa/scenarios/LP-catalog-runform-walk.md
  docs/qa/scenarios/LP-crash-death-resume.md
  docs/qa/scenarios/LP-days-long-node-no-clock.md
  docs/qa/scenarios/LP-duplicate-event-suppressed.md
  docs/qa/scenarios/LP-durable-wait-restart.md
  docs/qa/scenarios/LP-editor-authoring-walk.md
  docs/qa/scenarios/LP-error-route-fallback.md
  docs/qa/scenarios/LP-live-pause-repair-resume.md
  docs/qa/scenarios/LP-on-error-notification-with-context.md
  docs/qa/scenarios/LP-operator-lifecycle-ui.md
  docs/qa/scenarios/LP-quarantine-diagnose-requeue.md
  docs/qa/scenarios/LP-sick-target-degrades-one-lane.md
  docs/qa/scenarios/LP-terminal-outcome-notification.md
  docs/qa/scenarios/LP-transient-blip-heals.md
  docs/qa/scenarios/LP-unannotated-escalation.md
  docs/qa/scenarios/LP-waiting-inventory-escalation.md
  docs/qa/scenarios/TA-070.md
  docs/qa/scenarios/TA-076.md
  docs/qa/scenarios/TA-084.md
Due: none

docs: align loop lifecycle language with runtime
  docs/qa/automation-backlog/all-run-status-seeds.md
  docs/qa/charters/CH-004.md
  docs/qa/charters/CH-011.md
  docs/qa/journeys/J-03-observe-and-approve.md
  docs/qa/journeys/J-16-watch-events-wake.md
  docs/qa/personas.md
  docs/qa/scenarios/LP-026.md
  docs/qa/scenarios/LP-run-detail-story-redesign.md
  packages/site/content/docs/loops/index.mdx
Due: none

fix: satisfy loop lifecycle lint checks
  internal/daemon/scheduler_loop_coordinator.go
  internal/daemon/scheduler_runtime_test.go
  internal/loop/coordinator_lifecycle_test.go
  internal/store/globaldb/global_db_task_claim_test.go
Due: format-go

fix: satisfy final lifecycle gate
  internal/config/tool_surface_coercion.go
  internal/daemon/loop_action_liveness_policy.go
  internal/daemon/loop_action_runtime.go
  internal/loop/coordinator_autopause.go
  internal/loop/effects_dispatch_test.go
  internal/loop/generation_snapshot_intent_collections.go
  internal/loop/generation_snapshot_intents.go
  internal/store/globaldb/global_db_task_claim_test.go
Due: format-go

build: add explorer agent
  .codex/agents/explorer.toml
Due: none

release: prepare release v0.3.0 (#289)
  CHANGELOG.md
  RELEASE_BODY.md
  RELEASE_NOTES.md
  go.mod
  go.sum
Due: none

build: adjust claude.md
  .codex/agents/explorer.toml
  CLAUDE.md
Due: none

fix: address session review findings
  internal/api/core/conversions_parsers_test.go
  internal/api/core/handlers_test.go
  internal/cli/session_test.go
  internal/daemon/host_api_session_adapter.go
  internal/daemon/native_tool_availability.go
  internal/daemon/native_tool_binding_groups.go
  internal/daemon/native_tool_bindings.go
  internal/daemon/native_tools_test.go
  internal/extension/contract/host_api.go
  internal/extension/host_api_session_runtime.go
  internal/extension/host_api_test.go
  internal/session/additional_test.go
  internal/session/manager_integration_test.go
  internal/session/manager_prompt_admission.go
  internal/session/manager_resume.go
  internal/session/manager_resume_run.go
  internal/session/manager_transition_test.go
  internal/session/repair_event_payload.go
  internal/session/session_test.go
  internal/store/globaldb/global_db_session_test.go
  internal/store/session_runtime_selection.go
  sdk/go/contracts/types_020_gen.go
  sdk/go/contracts/types_021_gen.go
  sdk/go/contracts/types_022_gen.go
  sdk/go/contracts/types_023_gen.go
  sdk/go/contracts/types_024_gen.go
  sdk/go/contracts/types_025_gen.go
  sdk/go/contracts/types_026_gen.go
  sdk/go/contracts/types_027_gen.go
  sdk/typescript/src/generated/contracts.ts
  web/src/hooks/routes/__tests__/use-session-page-controls.test.tsx
  web/src/systems/session/components/__tests__/session-chat-runtime-provider.test.tsx
  web/src/systems/session/hooks/__tests__/use-session-prompt-runtime.test.tsx
  web/src/systems/session/hooks/__tests__/use-session-runtime-selection.test.tsx
  web/src/systems/session/hooks/use-session-prompt-runtime.ts
  web/src/systems/session/hooks/use-session-runtime-selection.ts
  web/src/systems/session/stores/__tests__/session-prompt-runtime-store.test.ts
  web/src/systems/session/stores/session-prompt-runtime-store.ts
Due: turbo-lint, format-go

test: harden session resume review coverage
  internal/session/additional_test.go
Due: format-go

fix: adjustments
  internal/acp/handlers_test.go
  internal/config/config_clone.go
  internal/config/config_clone_loops.go
  internal/daemon/settings_runtime_applier.go
  internal/store/globaldb/global_db_task_coordinator.go
  internal/store/globaldb/global_db_task_coordinator_event.go
Due: format-go

fix: fence canceled input promotion replays
  docs/qa/scenarios/RT-019.md
  internal/session/inputqueue/mutation.go
  internal/session/manager_busy_input_test.go
Due: format-go

fix: preserve opaque delivery ids
  internal/bridges/types.go
Due: format-go

fix: preserve session and bridge identity contracts
  internal/bridges/catalog_records.go
  internal/bridges/delivery_ledger.go
  internal/bridges/identity_validation.go
  internal/bridges/registry.go
  internal/bridges/routing.go
  internal/bridges/target.go
  internal/bridges/types.go
  internal/session/manager_busy_input.go
  internal/session/manager_busy_input_test.go
  internal/session/manager_defaults.go
  internal/session/manager_prompt_admission.go
  internal/session/manager_prompt_request.go
  internal/session/manager_prompt_submit.go
  packages/site/content/docs/sessions/lifecycle.mdx
Due: format-go

docs: record rewind QA verification
  docs/qa/bugs/BUG-20260805-rewind-reader-unavailable.md
  docs/qa/reports/2026-08-04-session-rewind.md
  docs/qa/scenarios/RT-conversation-rewind.md
Due: none

docs: clarify archived session history reads
  packages/site/content/docs/sessions/events.mdx
  packages/site/content/docs/sessions/lifecycle.mdx
Due: none

fix: address CodeRabbit review findings
  internal/api/core/filter_values.go
  internal/api/core/memory_adhoc.go
  internal/api/httpapi/session-clear_test.go
  internal/daemon/native_session_mutation.go
  internal/daemon/native_tool_scope.go
  internal/daemon/native_tools_test.go
  internal/session/manager.go
  internal/session/manager_clear.go
  internal/session/manager_clear_test.go
  internal/session/manager_conversation_operation.go
  internal/session/manager_conversation_operation_test.go
  internal/session/manager_conversation_rewind.go
  internal/session/manager_conversation_rewind_test.go
  internal/session/manager_delete.go
  internal/session/manager_delete_staging.go
  internal/session/manager_goal_commands.go
  internal/session/manager_resume.go
  internal/session/repair.go
  internal/session/resume_replay.go
  internal/session/session_stop_state.go
  internal/session/session_test.go
  internal/store/sessiondb/session_conversation_rewind.go
  internal/store/sessiondb/session_db_test.go
  web/src/components/assistant-ui/__tests__/session-thread.test.tsx
  web/src/systems/session/adapters/__tests__/session-api.test.ts
  web/src/systems/session/adapters/session-rewind-api.ts
  web/src/systems/session/components/session-chat-runtime-provider.tsx
  web/src/systems/session/hooks/__tests__/use-session-actions.test.tsx
  web/src/systems/session/hooks/use-merged-session-runtime-transcript.ts
  web/src/systems/session/hooks/use-session-rewind-message-action.ts
  web/src/systems/session/hooks/use-session-rewind.ts
  web/src/systems/session/lib/session-runtime-render-context-value.ts
  web/src/systems/session/lib/session-runtime-render-context.tsx
Due: turbo-lint, format-go

Path conditions:
  turbo-lint: any of: \.(js|jsx|ts|tsx)$, but not: (?x)^(
  CHANGELOG.md|
  tools/.*/package\.json|
  bun.lockb|
  node_modules|
)$

  format-go: any of: \.go$, but not: (?x)^(
  CHANGELOG.md|
  tools/.*/package\.json|
  bun.lockb|
  node_modules|
)$

