Repository compozy/compozy: changes, and which pre-commit hooks are due for each by the changed paths.
All: turbo-lint, format-go

turbo-lint:
  name: turbo lint
  description: Run linting via Turborepo
  entry: bun run lint
  language: system
  pass_filenames: false

format-go:
  name: format go
  description: Format Go files using make fmt
  entry: make fmt
  language: system
  pass_filenames: false

build: release v0.3.0 (#704)
  .release-notes/archive/v0.3.0/one-automations-window-1791444637.md
  .release-notes/archive/v0.3.0/retire-memory-and-session-compaction-1791433138.md
  CHANGELOG.md
  RELEASE_BODY.md
  RELEASE_NOTES.md
  go.mod
  go.sum
Due: none

fix: classify teardown survivors by final process liveness
  .agents/skills/eng/eng-qa-bootstrap/references/bootstrap-contract.md
  .agents/skills/eng/eng-qa-bootstrap/scripts/bootstrap-qa-env-smoke-test.py
  .agents/skills/eng/eng-qa-bootstrap/scripts/teardown-qa-env.py
  docs/_memory/change-impact.md
Due: none

fix: classify teardown survivors by final process liveness (#713)
  .agents/skills/eng/eng-qa-bootstrap/references/bootstrap-contract.md
  .agents/skills/eng/eng-qa-bootstrap/scripts/bootstrap-qa-env-smoke-test.py
  .agents/skills/eng/eng-qa-bootstrap/scripts/teardown-qa-env.py
  docs/_memory/change-impact.md
Due: none

ci: build web assets before explicit release verification
  .github/workflows/release.yml
  docs/_memory/change-impact.md
Due: none

test: verify explicit release asset build ordering
  internal/config/release_config_test.go
Due: format-go

test: assert release asset build failure exit code
  internal/config/release_config_test.go
Due: format-go

ci: build web assets before explicit release verification (#714)
  .github/workflows/release.yml
  docs/_memory/change-impact.md
  internal/config/release_config_test.go
Due: format-go

desktop channel publish 0.3.0-beta.32
  desktop/generation.json
  desktop/latest-linux.yml
  desktop/latest-mac.yml
Due: none

fix: fold transcript entries incrementally instead of replaying each turn
  internal/store/sessiondb/perf_bench_test.go
  internal/store/sessiondb/queries/transcript_projection.sql
  internal/store/sessiondb/session_db.go
  internal/store/sessiondb/session_db_test.go
  internal/store/sessiondb/session_event_write.go
  internal/store/sessiondb/session_writer.go
  internal/store/sessiondb/sqlcgen/transcript_projection.sql.go
  internal/store/sessiondb/transcript_fold_cache.go
  internal/transcript/entry_fold.go
  internal/transcript/projection.go
  internal/transcript/ui_messages_decode.go
Due: format-go

feat: render session tool calls as verb + object rows on a work rail
  docs/qa/scenarios/ET-web-session-transcript-calm-grammar.md
  docs/qa/scenarios/RT-056.md
  packages/ui/src/components/custom/__tests__/tool-call-row.test.tsx
  packages/ui/src/components/custom/tool-call-row-parts.tsx
  packages/ui/src/components/custom/tool-call-row.tsx
  packages/ui/src/components/custom/tool-call-status-icon.tsx
  packages/ui/src/components/custom/transcript-disclosure.tsx
  web/src/components/assistant-ui/__tests__/session-thread.test.tsx
  web/src/components/assistant-ui/__tests__/session-timeline.logic.test.ts
  web/src/components/assistant-ui/message-actions.tsx
  web/src/components/assistant-ui/session-live-tool-row.tsx
  web/src/components/assistant-ui/session-timeline-summary.ts
  web/src/components/assistant-ui/session-tool-group-row.tsx
  web/src/components/assistant-ui/session-user-message.tsx
  web/src/components/assistant-ui/session-work-entry.tsx
  web/src/styles.css
  web/src/systems/session/components/__tests__/session-chat-runtime-provider.test.tsx
  web/src/systems/session/components/__tests__/tool-call-card.test.tsx
  web/src/systems/session/components/tool-call-card.tsx
  web/src/systems/session/components/tool-renderers/expanded-tool-content.tsx
  web/src/systems/session/components/tool-renderers/generic-content.tsx
  web/src/systems/session/lib/__tests__/session-tool-visual-state.test.ts
  web/src/systems/session/lib/__tests__/tool-labels.test.ts
  web/src/systems/session/lib/session-tool-visual-state.ts
  web/src/systems/session/lib/tool-display.ts
  web/src/systems/session/lib/tool-labels.ts
  web/src/systems/session/lib/tool-shell-intent.ts
Due: turbo-lint

fix: publish transcript folds only after their write commits
  internal/store/sessiondb/perf_bench_test.go
  internal/store/sessiondb/session_db_test.go
  internal/store/sessiondb/session_event_write.go
  internal/store/sessiondb/transcript_fold_cache.go
Due: format-go

fix: fold transcript entries incrementally instead of replaying each turn (#715)
  internal/store/sessiondb/perf_bench_test.go
  internal/store/sessiondb/queries/transcript_projection.sql
  internal/store/sessiondb/session_db.go
  internal/store/sessiondb/session_db_test.go
  internal/store/sessiondb/session_event_write.go
  internal/store/sessiondb/session_writer.go
  internal/store/sessiondb/sqlcgen/transcript_projection.sql.go
  internal/store/sessiondb/transcript_fold_cache.go
  internal/transcript/entry_fold.go
  internal/transcript/projection.go
  internal/transcript/ui_messages_decode.go
Due: format-go

docs: add agent-collaboration visual contract set
  docs/design/opendesign/agent-collaboration/DESIGN-NOTES.md
  docs/design/opendesign/agent-collaboration/agent-collaboration-composer.html
  docs/design/opendesign/agent-collaboration/agent-collaboration-composer.html.artifact.json
  docs/design/opendesign/agent-collaboration/agent-collaboration-subagents.html
  docs/design/opendesign/agent-collaboration/agent-collaboration-subagents.html.artifact.json
  docs/design/opendesign/agent-collaboration/agent-collaboration-transcript.html
  docs/design/opendesign/agent-collaboration/agent-collaboration-transcript.html.artifact.json
  docs/design/opendesign/agent-collaboration/agent-collaboration.css
  docs/design/opendesign/agent-collaboration/agent-collaboration.js
  docs/design/opendesign/agent-collaboration/assets/claude.svg
  docs/design/opendesign/agent-collaboration/assets/openai.svg
  docs/design/opendesign/agent-collaboration/index.html
  docs/design/opendesign/agent-collaboration/index.html.artifact.json
Due: turbo-lint

feat: show isolated subagent worktree facts on card, hover and roster
  COPY.md
  docs/qa/scenarios/ET-web-subagent-card.md
  web/src/systems/session/adapters/subagent-api.ts
  web/src/systems/session/components/assistant-ui/stories/session-thread-subagents.stories.tsx
  web/src/systems/session/components/subagents/__tests__/subagent-components.test.tsx
  web/src/systems/session/components/subagents/__tests__/subagent-format.test.ts
  web/src/systems/session/components/subagents/session-inspector-subagents-section.tsx
  web/src/systems/session/components/subagents/stories/subagent-story-fixtures.ts
  web/src/systems/session/components/subagents/stories/subagent-worktree.stories.tsx
  web/src/systems/session/components/subagents/subagent-card.tsx
  web/src/systems/session/components/subagents/subagent-hover-content.tsx
  web/src/systems/session/components/subagents/subagent-row-trail.tsx
  web/src/systems/session/components/subagents/subagent-worktree-format.ts
  web/src/systems/session/components/subagents/types.ts
  web/src/systems/session/lib/__tests__/subagent-roster.test.ts
  web/src/systems/session/lib/subagent-payload.ts
Due: turbo-lint

feat: render agent-to-agent session messages in the web transcript and queue
  web/src/components/assistant-ui/__tests__/session-thread.test.tsx
  web/src/components/assistant-ui/__tests__/session-timeline.logic.test.ts
  web/src/components/assistant-ui/message-clamp-toggle.tsx
  web/src/components/assistant-ui/session-agent-message.tsx
  web/src/components/assistant-ui/session-row-equality.ts
  web/src/components/assistant-ui/session-sent-message-row.tsx
  web/src/components/assistant-ui/session-thread-messages.tsx
  web/src/components/assistant-ui/session-timeline-fold.ts
  web/src/components/assistant-ui/session-timeline-render.tsx
  web/src/components/assistant-ui/session-timeline-reveal.ts
  web/src/components/assistant-ui/session-timeline-rows.ts
  web/src/components/assistant-ui/session-timeline-session-messages.ts
  web/src/components/assistant-ui/session-timeline.logic.ts
  web/src/components/assistant-ui/session-user-message.tsx
  web/src/components/assistant-ui/timeline-row-estimates.ts
  web/src/components/assistant-ui/use-message-clamp.ts
  web/src/systems/session/components/assistant-ui/stories/__tests__/session-thread-queue.stories.test.tsx
  web/src/systems/session/components/assistant-ui/stories/session-thread-queue.stories.tsx
  web/src/systems/session/components/assistant-ui/stories/session-thread-story-queue.ts
  web/src/systems/session/components/session-messages/__tests__/session-messages.test.tsx
  web/src/systems/session/components/session-messages/session-message-card.tsx
  web/src/systems/session/components/session-messages/session-message-frame.tsx
  web/src/systems/session/components/session-messages/session-message-party.ts
  web/src/systems/session/components/session-messages/session-reply-card.tsx
  web/src/systems/session/components/session-messages/session-reply-outcome.ts
  web/src/systems/session/components/session-messages/session-sent-card.tsx
  web/src/systems/session/components/session-messages/stories/session-message-story-fixtures.ts
  web/src/systems/session/components/session-messages/stories/session-messages.stories.tsx
  web/src/systems/session/components/session-messages/use-session-label.ts
  web/src/systems/session/components/session-messages/use-session-message-open.ts
  web/src/systems/session/components/session-queue-strip-row.tsx
  web/src/systems/session/lib/__tests__/queued-prompt.test.ts
  web/src/systems/session/lib/__tests__/tool-labels.test.ts
  web/src/systems/session/lib/queued-prompt.ts
  web/src/systems/session/lib/session-busy-input-refusal.ts
  web/src/systems/session/lib/session-message-payload.ts
  web/src/systems/session/lib/tool-labels.ts
Due: turbo-lint

docs: add the session message card QA scenario
  docs/qa/scenarios/ET-web-session-message-card.md
  docs/qa/scenarios/ET-web-session-transcript-calm-grammar.md
Due: none

docs: add agent collaboration tutorial, glossary, copy and change impact
  .release-notes/session-prompt-refuses-the-calling-session-1791617619.md
  COPY.md
  docs/_memory/change-impact.md
  docs/_memory/glossary.md
  packages/site/content/docs/sessions/isolated-subagents.mdx
  packages/site/content/docs/sessions/meta.json
Due: none

refactor: read session message origins through the generated PromptOriginMeta DTO
  web/src/systems/session/components/assistant-ui/stories/session-thread-story-queue.ts
  web/src/systems/session/components/session-messages/__tests__/session-messages.test.tsx
  web/src/systems/session/lib/__tests__/queued-prompt.test.ts
  web/src/systems/session/lib/session-message-payload.ts
  web/src/systems/session/types.ts
Due: turbo-lint

refactor: type the subagent adapter with the generated worktree payload
  web/src/systems/session/adapters/subagent-api.ts
  web/src/systems/session/components/assistant-ui/stories/session-thread-story-subagents.ts
  web/src/systems/session/hooks/__tests__/use-subagent-roster-control-poll.test.tsx
  web/src/systems/session/lib/__tests__/subagent-roster.test.ts
  web/src/systems/session/lib/subagent-payload.ts
Due: turbo-lint

docs: align isolated subagents tutorial with the implemented CLI output
  packages/site/content/docs/sessions/isolated-subagents.mdx
Due: none

feat: read session replies and sent-message parts from the daemon's typed fields
  web/src/components/assistant-ui/__tests__/session-thread.test.tsx
  web/src/components/assistant-ui/__tests__/session-timeline.logic.test.ts
  web/src/components/assistant-ui/session-agent-message.tsx
  web/src/components/assistant-ui/session-sent-message-row.tsx
  web/src/systems/session/components/session-messages/__tests__/session-messages.test.tsx
  web/src/systems/session/components/session-messages/session-message-frame.tsx
  web/src/systems/session/lib/session-message-payload.ts
Due: turbo-lint

test: cover agent collaboration journeys in browser E2E
  internal/testutil/acpmock/testdata/browser_session_messages_fixture.json
  internal/testutil/acpmock/testdata/browser_subagent_journeys_fixture.json
  web/e2e/__tests__/session-messages.spec.ts
  web/e2e/__tests__/subagents.spec.ts
Due: turbo-lint

fix: reuse PropertyRow for hover facts and keep session labels truthful
  packages/ui/src/components/custom/__tests__/property-row.test.tsx
  packages/ui/src/components/custom/property-row.tsx
  packages/ui/src/components/custom/stories/property-row.stories.tsx
  packages/ui/src/exports/listing.ts
  web/src/components/assistant-ui/message-clamp-toggle.tsx
  web/src/systems/session/components/session-messages/__tests__/session-messages.test.tsx
  web/src/systems/session/components/session-messages/session-message-card.tsx
  web/src/systems/session/components/session-messages/session-message-frame.tsx
  web/src/systems/session/components/session-messages/session-message-party.ts
  web/src/systems/session/components/session-messages/session-reply-card.tsx
  web/src/systems/session/components/session-messages/session-sent-card.tsx
  web/src/systems/session/components/session-messages/use-session-label.ts
  web/src/systems/session/components/session-queue-strip-row.tsx
  web/src/systems/session/components/subagents/__tests__/subagent-components.test.tsx
  web/src/systems/session/components/subagents/subagent-hover-content.tsx
Due: turbo-lint

fix: align isolated subagent contracts and recovery
  docs/_memory/change-impact.md
  docs/qa/scenarios/RT-subagent-isolated-worktree.md
  internal/api/httpapi/handlers_test.go
  internal/cli/session_input_output.go
  internal/cli/session_subagents.go
  internal/cli/session_test.go
  internal/daemon/boot_worktrees_test.go
  internal/daemon/subagent_integration_test.go
  internal/daemon/subagent_reactor.go
  internal/daemon/subagent_worktrees.go
  internal/hooks/payloads_subagent.go
  internal/hooks/payloads_test.go
  internal/session/subagent_isolation.go
  internal/session/subagent_service_test.go
  internal/tools/builtin/subagents_output_schemas.go
  internal/tools/builtin/subagents_schemas.go
  internal/tools/builtin/testdata/native-tool-catalog.json
  internal/worktree/git_metadata.go
  packages/site/content/docs/hooks/event-catalog.mdx
  packages/site/content/docs/sessions/isolated-subagents.mdx
  packages/site/content/docs/sessions/subagents.mdx
  sdk/go/contracts/types_019_gen.go
  sdk/go/contracts/types_020_gen.go
  sdk/go/contracts/types_021_gen.go
  sdk/go/contracts/types_022_gen.go
  sdk/go/contracts/types_023_gen.go
  sdk/go/contracts/types_024_gen.go
  sdk/go/contracts/types_025_gen.go
  sdk/go/contracts/types_026_gen.go
  sdk/typescript/src/generated/contracts.ts
  skills/compozy/references/runtime-operations.md
Due: turbo-lint, format-go

fix: gate the sent card's mode chip on the daemon's delivery
  web/src/systems/session/components/session-messages/__tests__/session-messages.test.tsx
  web/src/systems/session/lib/session-message-payload.ts
Due: turbo-lint

fix: keep the send receipt when the reply watch state read fails
  internal/session/manager_busy_input.go
  internal/session/reply_watch_admission.go
  internal/session/reply_watch_test.go
Due: format-go

fix: name pending session message cards as standalone phrases
  web/src/systems/session/components/session-messages/__tests__/session-messages.test.tsx
  web/src/systems/session/components/session-messages/session-message-party.ts
  web/src/systems/session/components/session-messages/session-sent-card.tsx
Due: turbo-lint

fix: show steer fallbacks as interrupted on the sent card
  internal/transcript/transcript_ui_projection_test.go
  internal/transcript/ui_messages_session_message.go
  web/src/systems/session/components/session-messages/__tests__/session-messages.test.tsx
  web/src/systems/session/components/subagents/stories/subagent-story-fixtures.ts
  web/src/systems/session/components/subagents/stories/subagent-worktree.stories.tsx
  web/src/systems/session/lib/session-message-payload.ts
Due: turbo-lint, format-go

refactor: split session label and roster row logic below the React complexity budget
  web/src/systems/session/components/session-messages/use-session-label.ts
  web/src/systems/session/components/subagents/session-inspector-subagents-section.tsx
Due: turbo-lint

fix: use errors.AsType in the reply crash test and format the hook catalog
  internal/daemon/subagent_integration_test.go
  packages/site/content/docs/hooks/event-catalog.mdx
Due: format-go

docs: record SQLite rebase and CI validation handoff
  docs/qa/reports/2026-10-09-sqlite-performance.md
Due: none

fix: avoid waiting for retained readers during database close
  docs/_memory/change-impact.md
  docs/qa/reports/2026-10-09-sqlite-performance.md
  docs/qa/scenarios/RT-session-prompt-runtime-transitions.md
  internal/store/globaldb/global_db.go
  internal/store/globaldb/global_db_test.go
  internal/store/sessiondb/session_db_extra_test.go
  internal/store/sessiondb/session_lifecycle.go
  internal/store/workspacedb/workspace_db.go
  internal/store/workspacedb/workspace_db_test.go
Due: format-go

test: await native subagent turn folding before inspection
  docs/qa/reports/2026-10-09-sqlite-performance.md
  docs/qa/scenarios/ET-web-native-subagent.md
  web/e2e/__tests__/subagents.spec.ts
Due: turbo-lint

Path conditions:
  turbo-lint: any of: \.(js|jsx|ts|tsx)$, but not: (?x)^(
  CHANGELOG.md|
  tools/.*/package\.json|
  bun.lockb|
  node_modules|
)$

  format-go: any of: \.go$, but not: (?x)^(
  CHANGELOG.md|
  tools/.*/package\.json|
  bun.lockb|
  node_modules|
)$

