Repository compozy/compozy: changes, and which pre-commit hooks are due for each by the changed paths.
All: turbo-lint, format-go

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit

default_stages:
  - pre-commit

exclude: |
  (?x)^(
    CHANGELOG.md|
    tools/.*/package\.json|
    bun.lockb|
    node_modules|
  )$

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      # - id: trailing-whitespace
      #   args:
      #     - --no-utf8-locale
      - id: end-of-file-fixer
        exclude: '^(CHANGELOG\.md|tools/.*/package\.json|bun\.lockb|node_modules/)'
      - id: check-json
        exclude: '^(tools/.*/package\.json|node_modules/)'
      - id: check-toml
      - id: check-added-large-files
        args:
          - --maxkb=3000
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: detect-private-key
  - repo: local
    hooks:
      - id: turbo-lint
        name: turbo lint
        description: Run linting via Turborepo
        entry: bun run lint
        language: system
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false
      # - id: turbo-type-check
      #   name: turbo type check
      #   description: Run TypeScript checking via Turborepo
      #   entry: bun run type-check
      #   language: system
      #   files: \.(ts|tsx)$
      #   pass_filenames: false
      - id: format-go
        name: format go
        description: Format Go files using make fmt
        entry: make fmt
        language: system
        files: \.go$
        pass_filenames: false
  - repo: https://github.com/lyz-code/yamlfix/
    rev: 1.17.0
    hooks:
      - id: yamlfix
        args:
          - -c
          - .yamlfix.toml
        exclude: ^cluster/.*$

fix: reject keep_frames together with a layout resource
  internal/windowmanager/service_contract_test.go
  internal/windowmanager/service_layout_resource.go
Due: format-go

fix: an engaged or disabled toolbar search never folds away wrongly
  packages/ui/src/components/custom/__tests__/listing-toolbar.test.tsx
  packages/ui/src/components/custom/hooks/use-collapsible-search.ts
  packages/ui/src/components/custom/listing-toolbar-parts.tsx
Due: turbo-lint

test: tasks responsive journey opens the folded search from its toggle
  web/e2e/__tests__/tasks-hardening.spec.ts
Due: turbo-lint

test: grip windows only after their head actions settle
  web/e2e/__tests__/os-shell.spec.ts
Due: turbo-lint

fix: theme writes converge on the last choice and overview thumbnails show floating decks
  desktop/src/window/__tests__/window-theme.test.ts
  desktop/src/window/window-theme.ts
  web/src/systems/os/components/__tests__/desktops-overview.test.tsx
  web/src/systems/os/components/desktop-layout-thumbnail.tsx
  web/src/systems/os/components/stories/desktops-overview.stories.tsx
Due: turbo-lint

test: pin floating policy for transport parity and wait for the right spawn wake
  internal/api/udsapi/transport_parity_integration_test.go
Due: format-go

fix: lone arrange participants keep their shape and the cascade never lands on a window
  internal/windowmanager/layout_commands_test.go
  internal/windowmanager/reducer_layout_arrange.go
  internal/windowmanager/reducer_window_open.go
  internal/windowmanager/reducer_window_toggle_floating.go
Due: format-go

refactor: split complex React functions the polish sweep touched
  packages/ui/src/components/custom/secret-field.tsx
  packages/ui/src/components/custom/split-pane.tsx
  web/src/systems/agent/components/agent-heartbeat-ops.tsx
  web/src/systems/settings/components/settings-inline-save-controls.tsx
  web/src/systems/workspace/components/worktree-ref-select.tsx
Due: turbo-lint

feat: start a session from the empty desktop composer
  COPY.md
  docs/qa/scenarios/ET-web-empty-desktop-card.md
  web/src/components/assistant-ui/hooks/use-session-composer-controller.ts
  web/src/components/assistant-ui/session-composer-action-row.tsx
  web/src/components/assistant-ui/session-composer.tsx
  web/src/systems/agent/components/__tests__/agent-command-select.test.tsx
  web/src/systems/agent/components/agent-command-select.tsx
  web/src/systems/os/components/__tests__/os-empty-desktop.test.tsx
  web/src/systems/os/components/os-empty-desktop-composer.tsx
  web/src/systems/os/components/os-empty-desktop.tsx
  web/src/systems/os/components/stories/_empty-desktop-preview.tsx
  web/src/systems/os/components/stories/os-empty-desktop.stories.tsx
  web/src/systems/os/hooks/use-empty-desktop-prompt-runtime.ts
  web/src/systems/os/hooks/use-empty-desktop-session.ts
  web/src/systems/session/hooks/__tests__/use-session-create.test.tsx
  web/src/systems/session/hooks/use-session-prompt-fallback.ts
  web/src/systems/session/stores/__tests__/session-store.test.ts
  web/src/systems/session/stores/session-store.ts
Due: turbo-lint

test: read the untitled bell session through the session catalog mock
  web/src/systems/os/hooks/__tests__/use-os-attention.test.tsx
Due: turbo-lint

fix: keep launches where they started and announce running tools
  web/src/components/assistant-ui/__tests__/session-thread.test.tsx
  web/src/components/assistant-ui/session-live-tool-row.tsx
  web/src/systems/os/components/__tests__/os-dock.test.tsx
  web/src/systems/os/components/__tests__/os-empty-desktop.test.tsx
  web/src/systems/os/hooks/__tests__/use-attention-jump.test.tsx
  web/src/systems/os/hooks/use-attention-jump.ts
  web/src/systems/os/hooks/use-empty-desktop-session.ts
  web/src/systems/os/lib/launch-placement.ts
Due: turbo-lint

fix: restore release nightly coverage and package extension runtimes
  docs/_memory/change-impact.md
  docs/qa/scenarios/ET-extension-code-first-authoring.md
  internal/extension/scaffold_templates/connectivity-provider-ts/package.json
  internal/extension/scaffold_templates/memory-backend-ts/package.json
  internal/extension/scaffold_templates/tool-provider-ts/package.json
  internal/scheduler/scheduler_integration_test.go
  packages/site/content/docs/guides/build-your-first-extension.mdx
  web/e2e/__tests__/extensions.spec.ts
  web/e2e/fixtures/extension-registry-server.ts
  web/e2e/fixtures/runtime.ts
  web/e2e/fixtures/scenario-contracts.ts
Due: turbo-lint, format-go

docs: mark retired release-note examples as historical
  .release-notes/archive/v0.3.0/every-domain-opens-inside-the-palette-1787324891.md
  .release-notes/archive/v0.3.0/the-interface-speaks-plain-words-at-a-legible-size-1787324896.md
Due: none

build: release v0.3.0
  .release-notes/archive/v0.3.0/a-calmer-desktop-shell-with-light-and-dark-themes-1790751722.md
  .release-notes/archive/v0.3.0/retire-network-bridges-sandbox-1790467200.md
  CHANGELOG.md
  RELEASE_BODY.md
  RELEASE_NOTES.md
  go.mod
  go.sum
Due: none

desktop channel publish 0.3.0-beta.29
  desktop/generation.json
  desktop/latest-linux.yml
  desktop/latest-mac.yml
Due: none

fix: preserve loop results under SQLite contention
  docs/_memory/change-impact.md
  docs/qa/reports/2026-10-03-issue-689-sqlite-contention.md
  docs/qa/scenarios/LP-terminal-loop-settlement.md
  docs/qa/scenarios/TA-automation-crud-loop-target.md
  internal/automation/schedule_execution.go
  internal/automation/schedule_integration_test.go
  internal/daemon/boot_tool_registry.go
  internal/daemon/loop_action_liveness.go
  internal/daemon/loop_action_liveness_integration_helpers_test.go
  internal/daemon/loop_action_runtime.go
  internal/daemon/loop_goal_managed_runtime_integration_test.go
  internal/daemon/loop_reconciler_runtime.go
  internal/daemon/native_tools.go
  internal/daemon/sqlite_persistence.go
  internal/daemon/task_runtime_test.go
  internal/daemon/tool_events.go
  internal/daemon/tool_events_test.go
  internal/store/globaldb/global_db_heartbeat_test.go
  internal/store/globaldb/global_db_heartbeat_wake.go
  internal/store/globaldb/global_db_loop_run_reconciliation.go
  internal/store/globaldb/global_db_loop_test.go
  internal/store/globaldb/global_db_test.go
  internal/store/globaldb/queries/heartbeat.sql
  internal/store/globaldb/queries/loop_reconciliation.sql
  internal/store/globaldb/schema/definitions/70_tasks.sql
  internal/store/globaldb/schema/definitions/72_task_runs.sql
  internal/store/globaldb/schema/migrations/00126_schema.sql
  internal/store/globaldb/schema/migrations/atlas.sum
  internal/store/globaldb/sqlcgen/heartbeat.sql.go
  internal/store/globaldb/sqlcgen/loop_reconciliation.sql.go
Due: format-go

fix: fence pending loop settlement through shutdown and recovery
  docs/_memory/change-impact.md
  docs/qa/reports/2026-10-03-issue-689-sqlite-contention.md
  docs/qa/scenarios/LP-terminal-loop-settlement.md
  internal/daemon/loop_action_liveness.go
  internal/daemon/loop_action_liveness_integration_helpers_test.go
  internal/daemon/loop_action_runtime.go
  internal/daemon/loop_goal_managed_runtime_integration_test.go
  internal/daemon/sqlite_persistence.go
  internal/daemon/task_runtime_test.go
  internal/store/globaldb/global_db_heartbeat_test.go
  internal/store/globaldb/global_db_loop_test.go
  internal/store/globaldb/global_db_task_claim_helpers.go
  internal/store/globaldb/global_db_task_claim_lease.go
  internal/store/globaldb/global_db_task_lease_reservations.go
  internal/store/globaldb/queries/loop_reconciliation.sql
  internal/store/globaldb/queries/task_claim.sql
  internal/store/globaldb/repositories.go
  internal/store/globaldb/sqlcgen/loop_reconciliation.sql.go
  internal/store/globaldb/sqlcgen/task_claim.sql.go
  internal/task/lease_settlement_reservation.go
  internal/task/manager_integration_test.go
Due: format-go

fix: preserve loop results under SQLite contention (#690)
  docs/_memory/change-impact.md
  docs/qa/reports/2026-10-03-issue-689-sqlite-contention.md
  docs/qa/scenarios/LP-terminal-loop-settlement.md
  docs/qa/scenarios/TA-automation-crud-loop-target.md
  internal/automation/schedule_execution.go
  internal/automation/schedule_integration_test.go
  internal/daemon/boot_tool_registry.go
  internal/daemon/loop_action_liveness.go
  internal/daemon/loop_action_liveness_integration_helpers_test.go
  internal/daemon/loop_action_runtime.go
  internal/daemon/loop_goal_managed_runtime_integration_test.go
  internal/daemon/loop_reconciler_runtime.go
  internal/daemon/native_tools.go
  internal/daemon/sqlite_persistence.go
  internal/daemon/task_runtime_test.go
  internal/daemon/tool_events.go
  internal/daemon/tool_events_test.go
  internal/store/globaldb/global_db_heartbeat_test.go
  internal/store/globaldb/global_db_heartbeat_wake.go
  internal/store/globaldb/global_db_loop_run_reconciliation.go
  internal/store/globaldb/global_db_loop_test.go
  internal/store/globaldb/global_db_task_claim_helpers.go
  internal/store/globaldb/global_db_task_claim_lease.go
  internal/store/globaldb/global_db_task_lease_reservations.go
  internal/store/globaldb/global_db_test.go
  internal/store/globaldb/queries/heartbeat.sql
  internal/store/globaldb/queries/loop_reconciliation.sql
  internal/store/globaldb/queries/task_claim.sql
  internal/store/globaldb/repositories.go
  internal/store/globaldb/schema/definitions/70_tasks.sql
  internal/store/globaldb/schema/definitions/72_task_runs.sql
  internal/store/globaldb/schema/migrations/00126_schema.sql
  internal/store/globaldb/schema/migrations/atlas.sum
  internal/store/globaldb/sqlcgen/heartbeat.sql.go
  internal/store/globaldb/sqlcgen/loop_reconciliation.sql.go
  internal/store/globaldb/sqlcgen/task_claim.sql.go
  internal/task/lease_settlement_reservation.go
  internal/task/manager_integration_test.go
Due: format-go

fix: retain profile selection provenance
  docs/qa/bugs/BUG-20261002-profile-archive-fallback-provenance.md
  docs/qa/bugs/BUG-20261002-session-jsonl-profile-resolution.md
  docs/qa/scenarios/ET-profile-selection-precedence.md
  internal/api/contract/profiles.go
  internal/api/core/profiles_contracts.go
  internal/api/core/profiles_selection_test.go
  internal/cli/profile_resolution.go
  internal/cli/profile_test.go
  internal/cli/session_list.go
  internal/cli/session_test.go
  openapi/compozy.json
  packages/site/content/docs/profiles/selection.mdx
  skills/compozy/references/profiles.md
  web/src/generated/compozy-openapi.d.ts
Due: turbo-lint, format-go

fix: preserve native tool discovery schemas
  docs/qa/bugs/BUG-20260729-tool-invoke-structural-redaction.md
  docs/qa/scenarios/ET-cli-tool-invoke-structural-handles.md
  internal/cli/client_tools.go
  internal/cli/client_tools_redaction.go
  internal/cli/tool_test.go
  internal/redact/json.go
  internal/redact/patterns.go
  internal/redact/redact_test.go
  internal/redact/slog.go
Due: format-go

fix: keep long project paths inside setup panels
  docs/qa/bugs/BUG-20261002-onboarding-long-path-clipping.md
  docs/qa/scenarios/RT-004.md
  docs/qa/scenarios/RT-onboarding-skip-to-global.md
  web/src/systems/onboarding/components/step-workspaces.tsx
Due: turbo-lint

fix: isolate refused histories during daemon startup
  docs/_memory/change-impact.md
  docs/qa/bugs/BUG-20261002-foreign-history-blocks-startup.md
  docs/qa/scenarios/RT-session-event-owner-isolation.md
  internal/daemon/boot_session_repair.go
  internal/daemon/daemon_test.go
  packages/site/content/docs/operations/daemon.mdx
  skills/compozy/references/runtime-operations.md
Due: format-go

fix: bind approvals to canonical native tool input
  docs/_memory/change-impact.md
  docs/qa/bugs/BUG-20261002-agent-context-stale-model.md
  docs/qa/bugs/BUG-20261002-native-approval-input-mismatch.md
  docs/qa/reports/2026-10-02-untested.md
  docs/qa/scenarios/ET-native-workspace-scope-isolation.md
  docs/qa/scenarios/RT-031.md
  internal/daemon/boot_tool_registry.go
  internal/daemon/native_tools_test.go
  internal/daemon/native_workspace_input_binder.go
  internal/daemon/tool_approval_boot.go
  skills/compozy/references/tools-and-skills.md
Due: format-go

fix: preserve static resource manifest paths
  .release-notes/resource-manifest-string-paths.md
  docs/qa/bugs/BUG-20261002-resource-manifest-paths.md
  internal/extension/manifest_load.go
  internal/extension/manifest_profiles.go
  internal/extension/manifest_test.go
  packages/site/content/docs/extensions/develop.mdx
  packages/site/content/docs/extensions/manifest.mdx
  skills/compozy/references/extensions.md
Due: format-go

fix: report the effective model in agent context
  docs/_memory/change-impact.md
  docs/qa/bugs/BUG-20261002-agent-context-stale-model.md
  docs/qa/bugs/BUG-20261002-onboarding-skip-keeps-project.md
  docs/qa/charters/CH-agent-situation-context.md
  docs/qa/charters/CH-native-workspace-handler-boundary.md
  docs/qa/charters/CH-workspace-project-visibility.md
  docs/qa/reports/2026-10-02-untested.md
  docs/qa/scenarios/MS-web-workspace-add-directory-browser.md
  docs/qa/scenarios/MS-web-workspace-lists-hide-home.md
  docs/qa/scenarios/RT-031.md
  internal/situation/service_context.go
  internal/situation/service_test.go
  skills/compozy/references/runtime-operations.md
Due: format-go

fix: reject explicit zero overview windows
  docs/qa/bugs/BUG-20261002-overview-zero-window.md
  internal/cli/observe.go
  internal/cli/observe_test.go
Due: format-go

fix: preserve profile selection for task execution
  docs/qa/bugs/BUG-20261002-task-action-profile-scope.md
  internal/cli/profile_test.go
  internal/cli/task_commands_controls.go
  skills/compozy/references/tasks-and-orchestration.md
Due: format-go

docs: record initial untested QA walks and repairs
  docs/_memory/change-impact.md
  docs/qa/bugs/BUG-20260729-tool-invoke-structural-redaction.md
  docs/qa/bugs/BUG-20261002-onboarding-long-path-clipping.md
  docs/qa/bugs/BUG-20261002-profile-archive-fallback-provenance.md
  docs/qa/bugs/BUG-20261002-session-jsonl-profile-resolution.md
  docs/qa/charters/CH-scheduler-drain-recovery.md
  docs/qa/charters/CH-workspace-registration-recovery.md
  docs/qa/journeys/J-drain-scheduler.md
  docs/qa/journeys/J-operate-workspace-context.md
  docs/qa/reports/2026-10-02-untested.md
  docs/qa/scenarios/ET-cli-tool-invoke-structural-handles.md
  docs/qa/scenarios/ET-profile-selection-precedence.md
  docs/qa/scenarios/RT-001.md
  docs/qa/scenarios/RT-002.md
  docs/qa/scenarios/RT-004.md
  docs/qa/scenarios/RT-005.md
  docs/qa/scenarios/RT-007.md
  docs/qa/scenarios/RT-onboarding-skip-to-global.md
  docs/qa/scenarios/TA-048.md
  skills/compozy/references/native-tools.md
  skills/compozy/references/runtime-operations.md
Due: none

fix: keep multi-tab session controls responsive
  docs/_memory/change-impact.md
  internal/api/core/base_handlers.go
  internal/api/core/event_stream.go
  internal/api/core/handler_edge_cases_test.go
  internal/api/core/logs_stream.go
  internal/api/core/session_catalog_stream.go
  internal/api/core/sse.go
  internal/api/core/worktree_stream.go
  internal/api/core/worktrees_test.go
  internal/api/httpapi/server_shutdown.go
  internal/api/spec/registry_logs.go
  internal/api/spec/registry_sessions.go
  internal/api/spec/registry_worktrees.go
  internal/api/spec/session_catalog.go
  internal/api/spec/spec.go
  internal/api/spec/spec_logs.go
  internal/api/spec/spec_test.go
  internal/api/udsapi/server_shutdown.go
  openapi/compozy.json
  packages/site/content/docs/sessions/index.mdx
  packages/site/content/docs/sessions/lifecycle.mdx
  packages/site/content/docs/worktrees/agent-surface.mdx
  skills/compozy/references/runtime-operations.md
  web/src/generated/compozy-openapi.d.ts
  web/src/hooks/routes/__tests__/use-session-page-controls.test.tsx
  web/src/hooks/routes/use-session-page-controls.ts
  web/src/lib/__tests__/ticketed-event-source.test.ts
  web/src/lib/ticketed-event-source.ts
  web/src/lib/web-socket-event-source.ts
  web/src/systems/profiles/hooks/use-profile-event-stream.ts
  web/src/systems/profiles/lib/profile-event-stream.ts
  web/src/systems/session/adapters/__tests__/session-api.test.ts
  web/src/systems/session/adapters/session-api.ts
  web/src/systems/session/hooks/__tests__/use-session-actions.test.tsx
  web/src/systems/session/hooks/use-session-actions.ts
  web/src/systems/session/hooks/use-session-catalog-streams.ts
  web/src/systems/session/hooks/use-session-lifecycle-actions.ts
  web/src/systems/workspace/hooks/use-worktree-catalog-stream.ts
  web/vite.config.ts
Due: turbo-lint, format-go

fix: preserve directory navigation after read failures
  docs/_memory/change-impact.md
  docs/qa/bugs/BUG-20261002-directory-error-traps-navigation.md
  docs/qa/bugs/BUG-20261002-foreign-history-blocks-startup.md
  docs/qa/bugs/BUG-20261002-onboarding-skip-keeps-project.md
  docs/qa/charters/CH-profile-identity-catalogs.md
  docs/qa/reports/2026-10-02-untested.md
  docs/qa/scenarios/ET-profile-identity-appearance-catalogs.md
  docs/qa/scenarios/MS-web-workspace-add-directory-browser.md
  docs/qa/scenarios/RT-session-event-owner-isolation.md
  web/src/systems/onboarding/components/__tests__/directory-browser.test.tsx
  web/src/systems/onboarding/hooks/__tests__/use-onboarding-workspaces.test.tsx
  web/src/systems/onboarding/hooks/use-directory-browser.ts
  web/src/systems/onboarding/hooks/use-onboarding-workspaces.ts
  web/src/systems/workspace/components/__tests__/workspace-setup.test.tsx
  web/src/systems/workspace/hooks/use-workspace-setup-content.ts
Due: turbo-lint

fix: honor global scope when skipping project setup
  docs/_memory/change-impact.md
  docs/qa/bugs/BUG-20261002-directory-error-traps-navigation.md
  docs/qa/bugs/BUG-20261002-onboarding-skip-keeps-project.md
  docs/qa/reports/2026-10-02-untested.md
  docs/qa/scenarios/MS-web-workspace-add-directory-browser.md
  web/src/systems/onboarding/components/onboarding-setup-frame.tsx
  web/src/systems/onboarding/hooks/__tests__/use-onboarding-wizard.test.tsx
  web/src/systems/onboarding/hooks/use-onboarding-wizard.ts
  web/src/systems/onboarding/mocks/setup-fixtures.ts
Due: turbo-lint

docs: record transport and extension QA replays
  docs/qa/bugs/BUG-20260713-first-prompt-optimistic-stuck.md
  docs/qa/bugs/BUG-20261002-overview-zero-window.md
  docs/qa/bugs/BUG-20261002-resource-manifest-paths.md
  docs/qa/bugs/BUG-20261002-session-web-stop-profile.md
  docs/qa/bugs/BUG-20261002-task-action-profile-scope.md
  docs/qa/charters/CH-browser-multitab-stream-continuity.md
  docs/qa/charters/CH-public-transport-parity.md
  docs/qa/reports/2026-10-02-untested.md
  docs/qa/scenarios/ET-resource-only-extension-dev.md
  docs/qa/scenarios/RT-013.md
  docs/qa/scenarios/RT-042.md
  docs/qa/scenarios/RT-observe-overview-cli.md
Due: none

fix: normalize native workspace references to registration identity
  docs/_memory/change-impact.md
  docs/qa/bugs/BUG-20261002-hook-tool-matcher-docs.md
  docs/qa/bugs/BUG-20261002-native-hook-dispatch-missing.md
  docs/qa/bugs/BUG-20261002-native-workspace-identity-boundaries.md
  docs/qa/reports/2026-10-02-untested.md
  docs/qa/scenarios/ET-native-workspace-scope-isolation.md
  internal/daemon/native_automation_tools_test.go
  internal/daemon/native_tools_test.go
  internal/daemon/native_workspace_input_binder.go
  skills/compozy/references/native-tools.md
Due: format-go

docs: correct native tool hook matcher guidance
  docs/_memory/change-impact.md
  docs/qa/bugs/BUG-20261002-hook-tool-matcher-docs.md
  docs/qa/bugs/BUG-20261002-native-approval-input-mismatch.md
  docs/qa/reports/2026-10-02-untested.md
  docs/qa/scenarios/ET-native-workspace-scope-isolation.md
  packages/site/content/docs/hooks/declaration.mdx
  packages/site/content/docs/hooks/event-catalog.mdx
  skills/compozy/references/extensions.md
Due: none

fix: preserve emoji keyboard navigation in profile dialogs
  docs/_memory/change-impact.md
  docs/qa/bugs/BUG-20261003-profile-create-stale-name-error.md
  docs/qa/bugs/BUG-20261003-profile-dialog-validation-toast.md
  docs/qa/bugs/BUG-20261003-profile-emoji-keyboard-unreachable.md
  docs/qa/reports/2026-10-02-untested.md
  docs/qa/scenarios/ET-profile-switcher-restore.md
  docs/qa/scenarios/ET-profile-web-settings-lifecycle-dialogs.md
  web/e2e/__tests__/profiles.spec.ts
  web/src/systems/profiles/components/profile-create-dialog.tsx
  web/src/systems/profiles/components/profile-identity-dialog.tsx
Due: turbo-lint

fix: explain unavailable profile recovery
  docs/_memory/change-impact.md
  docs/qa/bugs/BUG-20261003-automation-job-cursor-refused.md
  docs/qa/bugs/BUG-20261003-profile-archive-event-rejected.md
  docs/qa/bugs/BUG-20261003-profile-recovery-blank-desktop.md
  docs/qa/bugs/BUG-20261003-profile-unavailable-identity-write.md
  docs/qa/reports/2026-10-02-untested.md
  docs/qa/scenarios/ET-profile-operations-recovery.md
  docs/qa/scenarios/TA-052.md
  skills/compozy/references/profiles.md
  web/e2e/__tests__/profiles.spec.ts
  web/src/systems/os/adapters/window-manager-api.ts
  web/src/systems/os/components/__tests__/os-dock.test.tsx
  web/src/systems/os/components/desktop-menubar.tsx
  web/src/systems/os/components/os-hydration-status.tsx
  web/src/systems/os/components/stories/_shell-fixture.tsx
  web/src/systems/os/hooks/__tests__/os-interaction-hooks.test.tsx
  web/src/systems/os/hooks/__tests__/use-os-palette-root.test.tsx
  web/src/systems/os/hooks/__tests__/use-os-window-deck.test.tsx
  web/src/systems/os/lib/__tests__/desktop-chrome-client-context.test.ts
  web/src/systems/os/lib/os-types.ts
  web/src/systems/os/lib/window-manager-view.ts
Due: turbo-lint
