Repository compozy/compozy: changes, and which pre-commit hooks are due for each by the changed paths.
All: turbo-lint, format-go

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit

default_stages:
  - pre-commit

exclude: |
  (?x)^(
    CHANGELOG.md|
    tools/.*/package\.json|
    bun.lockb|
    node_modules|
  )$

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      # - id: trailing-whitespace
      #   args:
      #     - --no-utf8-locale
      - id: end-of-file-fixer
        exclude: '^(CHANGELOG\.md|tools/.*/package\.json|bun\.lockb|node_modules/)'
      - id: check-json
        exclude: '^(tools/.*/package\.json|node_modules/)'
      - id: check-toml
      - id: check-added-large-files
        args:
          - --maxkb=3000
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: detect-private-key
  - repo: local
    hooks:
      - id: turbo-lint
        name: turbo lint
        description: Run linting via Turborepo
        entry: bun run lint
        language: system
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false
      # - id: turbo-type-check
      #   name: turbo type check
      #   description: Run TypeScript checking via Turborepo
      #   entry: bun run type-check
      #   language: system
      #   files: \.(ts|tsx)$
      #   pass_filenames: false
      - id: format-go
        name: format go
        description: Format Go files using make fmt
        entry: make fmt
        language: system
        files: \.go$
        pass_filenames: false
  - repo: https://github.com/lyz-code/yamlfix/
    rev: 1.17.0
    hooks:
      - id: yamlfix
        args:
          - -c
          - .yamlfix.toml
        exclude: ^cluster/.*$

test: select the desktop workspace before awaiting its client
  desktop/e2e/_electron/__tests__/shell.spec.ts
Due: turbo-lint

ci: fix release integration artifact path context
  .github/workflows/release.yml
Due: none

fix: stabilize release lifecycle races and integration fixtures
  desktop/e2e/_electron/__tests__/updates.spec.ts
  desktop/src/window/product-window.ts
  docs/qa/reports/2026-09-10-release-integration-repair.md
  docs/qa/scenarios/APP-deep-link-running.md
  docs/qa/scenarios/APP-single-instance-focus.md
  docs/qa/scenarios/MS-workspace-resolution-chain.md
  docs/qa/scenarios/RT-session-worktree-lifecycle.md
  docs/qa/scenarios/TA-automation-crud-loop-target.md
  internal/api/httpapi/httpapi_integration_test.go
  internal/api/udsapi/udsapi_integration_test.go
  internal/automation/dispatch_helpers.go
  internal/automation/dispatch_test.go
  internal/cli/cli_integration_test.go
  internal/daemon/daemon_attention_e2e_integration_test.go
  internal/extension/provider_conformance_discovery_integration_test.go
  internal/extension/reference_integration_test.go
  internal/extension/testdata/secret-guard/main.go
  internal/store/globaldb/global_db_loop_schema_integration_test.go
  internal/workspace/identity.go
  internal/workspace/identity_test.go
  internal/worktree/create_async.go
  sdk/examples/prompt-enhancer/src/index.ts
Due: turbo-lint, format-go

fix: respect startup and shutdown lifecycle contexts
  .github/workflows/release.yml
  docs/qa/reports/2026-09-10-release-integration-repair.md
  docs/qa/scenarios/ET-palette-nested-views.md
  docs/qa/scenarios/LP-implement-tasks-orchestrated-mode.md
  docs/qa/scenarios/MS-035.md
  internal/acp/client.go
  internal/acp/client_process_lifecycle_test.go
  internal/acp/client_test_support_test.go
  internal/acp/start_process.go
  internal/cli/daemon_status.go
  internal/cli/daemon_wait_test.go
Due: format-go

ci: use the locked toolchain for integration dependencies
  .github/workflows/release.yml
Due: none

fix: preserve interrupted session identity and bridge progress bursts
  docs/qa/reports/2026-09-10-release-integration-repair.md
  docs/qa/scenarios/NB-bridge-tool-progress.md
  docs/qa/scenarios/TA-automation-crud-loop-target.md
  internal/bridges/delivery_broker_test.go
  internal/bridges/delivery_types.go
  internal/session/manager_lifecycle_contract_test.go
  internal/session/manager_start_stop.go
  web/e2e/fixtures/runtime.ts
Due: turbo-lint, format-go

fix: preserve cancellation delivery and pending activity deadlines
  docs/qa/reports/2026-09-10-release-integration-repair.md
  docs/qa/scenarios/ET-web-session-transcript-calm-grammar.md
  docs/qa/scenarios/RT-session-live-steer.md
  docs/qa/scenarios/RT-session-prompt-cancel.md
  internal/daemon/daemon_attention_e2e_integration_test.go
  internal/daemon/model_catalog_test.go
  internal/session/manager_prompt_contract_test.go
  internal/session/manager_stop_integration_test.go
  internal/session/stop_ladder.go
  internal/session/turn_stop.go
  internal/store/globaldb/global_db_session_lineage_test.go
  web/src/components/assistant-ui/__tests__/session-thread.test.tsx
  web/src/components/assistant-ui/hooks/use-thinking-guard-elapsed.ts
Due: turbo-lint, format-go

build: release v0.3.0
  .release-notes/archive/v0.3.0/memory-opt-in-extractor-1788969402.md
  .release-notes/archive/v0.3.0/restore-prior-session-witnesses.md
  CHANGELOG.md
  RELEASE_BODY.md
  RELEASE_NOTES.md
  go.mod
  go.sum
Due: none

test: wait for connected idle Skills prompt readiness
  docs/qa/reports/2026-09-10-release-integration-repair.md
  docs/qa/scenarios/ET-005.md
  web/e2e/__tests__/marketplace.spec.ts
Due: turbo-lint

desktop channel publish 0.3.0-beta.24
  desktop/generation.json
  desktop/latest-linux.yml
  desktop/latest-mac.yml
Due: none

fix: allow resizing maximized internal windows
  docs/qa/scenarios/ET-window-manager-layout-gestures.md
  docs/qa/scenarios/ET-window-zoom-in-place.md
  packages/site/content/docs/workspaces/window-management.mdx
  web/e2e/__tests__/os-shell.spec.ts
  web/src/systems/os/components/__tests__/os-window-frame.test.tsx
  web/src/systems/os/components/__tests__/os-window.test.tsx
  web/src/systems/os/components/os-traffic-lights.tsx
  web/src/systems/os/components/os-window.tsx
  web/src/systems/os/lib/__tests__/group-projection.test.ts
  web/src/systems/os/lib/group-projection.ts
Due: turbo-lint

fix: load knowledge memories without enabling automation
  docs/qa/scenarios/MS-001.md
  internal/daemon/boot.go
  internal/daemon/boot_checkpoint.go
  internal/daemon/boot_memory_catalog.go
  internal/daemon/boot_publish.go
  internal/daemon/daemon_memory_e2e_integration_test.go
  internal/daemon/daemon_runtime_state.go
  internal/daemon/daemon_shutdown_resources.go
  internal/daemon/daemon_test.go
  internal/daemon/runtime_dependencies.go
  packages/site/content/docs/memory/index.mdx
  skills/compozy/references/memory.md
  web/src/systems/knowledge/adapters/__tests__/knowledge-api.test.ts
  web/src/systems/knowledge/adapters/knowledge-api.ts
  web/src/systems/knowledge/hooks/__tests__/use-knowledge.test.tsx
  web/src/systems/knowledge/lib/query-options.ts
Due: turbo-lint, format-go

test: verify exact maximized resize geometry
  docs/qa/scenarios/ET-window-manager-layout-gestures.md
  docs/qa/scenarios/ET-window-zoom-in-place.md
  web/e2e/__tests__/os-shell.spec.ts
Due: turbo-lint

fix: delegate bounded native tools to orchestrated workers
  docs/qa/scenarios/LP-implement-tasks-orchestrated-mode.md
  extensions/spec-cycle/skills/cy-orchestrate-tasks/SKILL.md
  internal/daemon/daemon_implement_tasks_e2e_integration_test.go
  internal/session/manager_allowed_tools.go
  internal/session/manager_lineage_test.go
  internal/testutil/acpmock/testdata/implement_tasks_fixture.json
  skills/compozy/references/tasks-and-orchestration.md
Due: format-go

fix: emit profile scope from memory extraction
  docs/qa/scenarios/MS-profile-memory-tier-scope.md
  internal/daemon/memory_runtime_test.go
  internal/memory/prompts/extract.v1.tmpl
Due: format-go

fix: load knowledge memories without enabling automation (#590)
  docs/qa/scenarios/MS-001.md
  internal/daemon/boot.go
  internal/daemon/boot_checkpoint.go
  internal/daemon/boot_memory_catalog.go
  internal/daemon/boot_publish.go
  internal/daemon/daemon_memory_e2e_integration_test.go
  internal/daemon/daemon_runtime_state.go
  internal/daemon/daemon_shutdown_resources.go
  internal/daemon/daemon_test.go
  internal/daemon/runtime_dependencies.go
  packages/site/content/docs/memory/index.mdx
  skills/compozy/references/memory.md
  web/src/systems/knowledge/adapters/__tests__/knowledge-api.test.ts
  web/src/systems/knowledge/adapters/knowledge-api.ts
  web/src/systems/knowledge/hooks/__tests__/use-knowledge.test.tsx
  web/src/systems/knowledge/lib/query-options.ts
Due: turbo-lint, format-go

test: clarify memory scope regression assertions
  internal/daemon/memory_runtime_test.go
Due: format-go

docs: define internal window control labels
  COPY.md
Due: none

fix: allow resizing maximized internal windows (#589)
  COPY.md
  docs/qa/scenarios/ET-window-manager-layout-gestures.md
  docs/qa/scenarios/ET-window-zoom-in-place.md
  packages/site/content/docs/workspaces/window-management.mdx
  web/e2e/__tests__/os-shell.spec.ts
  web/src/systems/os/components/__tests__/os-window-frame.test.tsx
  web/src/systems/os/components/__tests__/os-window.test.tsx
  web/src/systems/os/components/os-traffic-lights.tsx
  web/src/systems/os/components/os-window.tsx
  web/src/systems/os/lib/__tests__/group-projection.test.ts
  web/src/systems/os/lib/group-projection.ts
Due: turbo-lint

fix: recover layout settings saves and expose apply results
  docs/qa/reports/2026-09-10-issue-593-layout-settings-save.md
  docs/qa/scenarios/ET-web-ui-resilience.md
  docs/qa/scenarios/MS-configure-window-manager.md
  internal/api/contract/settings_window_manager.go
  internal/api/core/settings.go
  internal/api/core/settings_section_requests.go
  internal/api/core/settings_test.go
  internal/api/core/settings_window_manager_payload.go
  internal/api/spec/registry_settings_window_manager.go
  internal/settings/models.go
  internal/settings/service_test.go
  internal/settings/window_manager_request.go
  openapi/compozy.json
  packages/site/content/docs/workspaces/window-management.mdx
  skills/compozy/references/window-management.md
  web/src/generated/compozy-openapi.d.ts
  web/src/routes/_app/settings/-layouts-settings-page.tsx
  web/src/systems/os/adapters/window-manager-settings-api.ts
  web/src/systems/settings/adapters/__tests__/window-manager-layouts-api.test.ts
  web/src/systems/settings/adapters/window-manager-layouts-api.ts
  web/src/systems/settings/components/__tests__/settings-save-bar.test.tsx
  web/src/systems/settings/components/settings-save-bar.tsx
  web/src/systems/settings/hooks/__tests__/use-window-manager-config-editor.test.tsx
  web/src/systems/settings/hooks/use-window-manager-config-editor.ts
  web/src/systems/settings/index.ts
  web/src/systems/settings/lib/__tests__/save-state.test.ts
  web/src/systems/settings/lib/save-state.ts
  web/src/systems/settings/lib/window-manager-layout-schema.ts
  web/src/systems/settings/lib/window-manager-settings-result.ts
  web/src/systems/settings/mocks/handlers.ts
Due: turbo-lint, format-go

fix: preserve sessions without native tool support
  docs/qa/scenarios/LP-implement-tasks-orchestrated-mode.md
  internal/session/manager_allowed_tools.go
  internal/session/manager_test.go
  web/e2e/__tests__/network.spec.ts
  web/e2e/__tests__/sandbox.spec.ts
  web/e2e/__tests__/session-hardening.spec.ts
  web/e2e/__tests__/tasks-hardening.spec.ts
  web/src/systems/onboarding/components/__tests__/onboarding-setup-frame.test.tsx
Due: turbo-lint, format-go

fix: retry pending layout application
  docs/qa/reports/2026-09-10-issue-593-layout-settings-save.md
  docs/qa/scenarios/MS-configure-window-manager.md
  internal/settings/config_apply_service_test.go
  internal/settings/provider_model_active_config.go
  internal/settings/section_window_manager_update.go
  packages/site/content/docs/workspaces/window-management.mdx
  skills/compozy/references/window-management.md
  web/src/systems/settings/components/settings-save-bar.tsx
  web/src/systems/settings/hooks/__tests__/use-window-manager-config-editor.test.tsx
  web/src/systems/settings/hooks/use-window-manager-config-editor.ts
Due: turbo-lint, format-go

fix: confirm terminal termination when closing windows
  docs/qa/journeys/J-operate-integrated-terminal.md
  docs/qa/reports/2026-09-10-issue-594-terminal-close.md
  docs/qa/scenarios/ET-terminal-browser-lifecycle.md
  docs/qa/scenarios/ET-terminal-window-native-flow.md
  packages/site/content/docs/terminal/agents-and-safety.mdx
  skills/compozy/references/terminal.md
  web/e2e/__tests__/terminal.spec.ts
  web/src/systems/os/apps/terminal/__tests__/use-terminal-window-controller-state.test.ts
  web/src/systems/os/apps/terminal/hooks/use-terminal-window-controller-state.ts
  web/src/systems/os/components/desktop-shell.tsx
  web/src/systems/os/components/terminal-close-dialog.tsx
  web/src/systems/os/hooks/__tests__/window-manager-runtime.test.ts
  web/src/systems/os/hooks/use-desktop-chrome-controller.ts
  web/src/systems/os/hooks/use-desktop-chrome.ts
  web/src/systems/os/lib/terminal-window-close.ts
  web/src/systems/os/lib/window-close-targets.ts
  web/src/systems/os/runtime/window-manager-tab-commands.ts
  web/src/systems/terminal/components/__tests__/terminal-window-app.test.tsx
  web/src/systems/terminal/components/terminal-header-actions.tsx
  web/src/systems/terminal/components/terminal-header.tsx
  web/src/systems/terminal/components/terminal-window-body.tsx
  web/src/systems/terminal/index.ts
Due: turbo-lint

docs: clarify terminal close validation advisory
  docs/qa/reports/2026-09-10-issue-594-terminal-close.md
Due: none

perf: reuse validated native tool descriptors during projection
  internal/tools/native.go
  internal/tools/native_test.go
  internal/tools/perf_bench_test.go
  internal/tools/policy_evaluate.go
  internal/tools/registry.go
  internal/tools/registry_index.go
  internal/tools/registry_test.go
Due: format-go

perf: resolve extension workspace identity without resource scans
  internal/daemon/daemon_extension_agent_native_e2e_integration_test.go
  internal/daemon/native_extension_tool_provider.go
  internal/daemon/native_extension_tool_provider_test.go
  internal/workspace/perf_bench_test.go
  internal/workspace/resolver.go
  internal/workspace/resolver_crud.go
  internal/workspace/resolver_identity_behavior_test.go
Due: format-go

perf: reuse unchanged workspace skill discovery
  internal/skillscan/scan.go
  internal/skillscan/scan_cache.go
  internal/skillscan/scan_directory.go
  internal/skillscan/scan_test.go
  internal/workspace/resolver.go
  internal/workspace/resolver_cache_behavior_test.go
  internal/workspace/resolver_integration_test.go
  internal/workspace/scanner.go
  internal/workspace/scanner_skills.go
Due: format-go

perf: reuse unchanged hosted projection digests
  internal/mcp/hosted.go
  internal/mcp/hosted_bootstrap_projection.go
  internal/mcp/hosted_projection_cache.go
  internal/mcp/hosted_records.go
  internal/mcp/hosted_test.go
  internal/mcp/hosted_tool_views.go
  internal/mcp/perf_bench_test.go
Due: format-go

perf: resolve tool policy without scanning skill inventories
  internal/daemon/agent_catalog_scope.go
  internal/daemon/agent_skill_catalog.go
  internal/daemon/agent_skill_resources_refac_test.go
  internal/daemon/native_tools_test.go
  internal/daemon/tool_policy_resolver.go
  internal/workspace/resolver.go
  internal/workspace/resolver_agent_config.go
  internal/workspace/resolver_cache_contract_test.go
  internal/workspace/scanner.go
  internal/workspace/workspace.go
Due: format-go

docs: record beta24 daemon CPU investigation and verification
  docs/qa/bugs/BUG-20260910-idle-session-high-cpu.md
  docs/qa/reports/2026-09-10-beta24-daemon-cpu.md
  docs/qa/scenarios/ET-compozy-native-tool-invocation.md
Due: none

docs: landing page design
  docs/design/opendesign/.od-skills/web-prototype-ca4d5f21c3/SKILL.md
  docs/design/opendesign/.od-skills/web-prototype-ca4d5f21c3/assets/template.html
  docs/design/opendesign/.od-skills/web-prototype-ca4d5f21c3/example.html
  docs/design/opendesign/.od-skills/web-prototype-ca4d5f21c3/open-design.json
  docs/design/opendesign/.od-skills/web-prototype-ca4d5f21c3/references/checklist.md
  docs/design/opendesign/.od-skills/web-prototype-ca4d5f21c3/references/layouts.md
  docs/design/opendesign/landing/BRIEF-IMAGENS-ANIMACOES.md
  docs/design/opendesign/landing/DESIGN-NOTES.md
  docs/design/opendesign/landing/landing-page.html
  docs/design/opendesign/landing/landing.css
Due: none

docs: add glassmorphism skill
  .agents/skills/glassmorphism/SKILL.md
  .agents/skills/glassmorphism/assets/glass.css
  .agents/skills/glassmorphism/assets/material-lab.html
  .agents/skills/glassmorphism/references/accessibility-validation.md
  .agents/skills/glassmorphism/references/advanced-platforms.md
  .agents/skills/glassmorphism/references/art-direction.md
  .agents/skills/glassmorphism/references/evidence.md
  .agents/skills/glassmorphism/references/reference-board.md
  .agents/skills/glassmorphism/references/source-coverage.csv
  .agents/skills/glassmorphism/references/validation.md
  .agents/skills/glassmorphism/references/web-engineering.md
  .agents/skills/glassmorphism/scripts/validate-lab.mjs
  skills-lock.json
Due: none

fix: address terminal close review findings
  docs/qa/reports/2026-09-10-issue-594-terminal-close.md
  web/src/systems/os/apps/terminal/__tests__/use-terminal-window-controller-state.test.ts
  web/src/systems/os/apps/terminal/hooks/use-terminal-window-controller-state.ts
  web/src/systems/os/components/terminal-close-dialog.tsx
  web/src/systems/os/hooks/__tests__/window-manager-runtime.test.ts
  web/src/systems/os/hooks/use-desktop-chrome.ts
  web/src/systems/os/lib/terminal-window-close.ts
  web/src/systems/os/runtime/window-manager-tab-commands.ts
Due: turbo-lint

fix: bound session summaries and preserve complete details
  docs/qa/reports/2026-09-10-session-summary-truncation.md
  docs/qa/scenarios/ET-web-session-transcript-calm-grammar.md
  packages/ui/src/components/custom/__tests__/topbar.test.tsx
  packages/ui/src/components/custom/stories/topbar.stories.tsx
  packages/ui/src/components/custom/tool-call-row.tsx
  packages/ui/src/components/custom/topbar.tsx
  web/src/components/assistant-ui/__tests__/session-thread.test.tsx
  web/src/components/assistant-ui/session-live-tool-row.tsx
  web/src/components/assistant-ui/session-row-equality.ts
  web/src/components/assistant-ui/session-timeline-render.tsx
  web/src/components/assistant-ui/session-timeline-tool-message.ts
  web/src/components/assistant-ui/session-timeline.logic.ts
  web/src/components/assistant-ui/timeline-message-parts.ts
  web/src/systems/session/components/__tests__/session-goal-strip.test.tsx
  web/src/systems/session/components/__tests__/thinking-block.test.tsx
  web/src/systems/session/components/__tests__/tool-call-card.test.tsx
  web/src/systems/session/components/goal/session-goal-strip.tsx
  web/src/systems/session/components/session-summary-disclosure.tsx
  web/src/systems/session/components/session-thinking-row.tsx
  web/src/systems/session/components/stories/sessions-stability-story-routes.ts
  web/src/systems/session/components/stories/sessions-stability-working.stories.tsx
  web/src/systems/session/components/thinking-block.tsx
  web/src/systems/session/components/tool-call-card.tsx
  web/src/systems/session/lib/__tests__/session-navigation.test.ts
  web/src/systems/session/lib/__tests__/session-tool-visual-state.test.ts
  web/src/systems/session/lib/__tests__/tool-labels.test.ts
  web/src/systems/session/lib/session-navigation-transcript.ts
  web/src/systems/session/lib/session-summary.ts
  web/src/systems/session/lib/session-thread-repository.ts
  web/src/systems/session/lib/session-tool-visual-state.ts
  web/src/systems/session/lib/session-working-status.ts
  web/src/systems/session/lib/tool-labels.ts
  web/src/systems/session/types.ts
Due: turbo-lint

fix: preserve cache freshness during edits and invalidation
  internal/daemon/agent_catalog_scope.go
  internal/daemon/agent_skill_catalog.go
  internal/daemon/native_extension_tool_provider.go
  internal/daemon/native_extension_tool_provider_test.go
  internal/daemon/tool_policy_resolver.go
  internal/mcp/hosted_bootstrap_projection.go
  internal/mcp/hosted_projection_cache.go
  internal/mcp/hosted_records.go
  internal/mcp/hosted_tool_views.go
  internal/skillscan/scan_cache.go
  internal/skillscan/scan_change_time_darwin.go
  internal/skillscan/scan_change_time_linux.go
  internal/skillscan/scan_change_time_other.go
  internal/skillscan/scan_directory.go
  internal/skillscan/scan_test.go
  internal/tools/policy_evaluate.go
  internal/tools/registry.go
  internal/tools/registry_index.go
  internal/tools/registry_test.go
  internal/workspace/resolver.go
  internal/workspace/resolver_agent_config.go
  internal/workspace/resolver_cache_behavior_test.go
  internal/workspace/resolver_cache_contract_test.go
  internal/workspace/resolver_crud.go
  internal/workspace/resolver_identity_behavior_test.go
  internal/workspace/scanner.go
  internal/workspace/scanner_skills.go
Due: format-go

fix: reconcile Goal context and session lifecycle
  docs/qa/reports/2026-09-10-issue-595-goal-lifecycle.md
  docs/qa/scenarios/GL-agent-session-control.md
  docs/qa/scenarios/LP-forced-cancel-owned-sessions.md
  docs/qa/scenarios/RT-session-attention-catalog.md
  internal/daemon/loop_api_goal_snapshot_mapping.go
  internal/daemon/loop_goal_command_e2e_integration_test.go
  internal/daemon/loop_goal_command_test.go
  internal/daemon/loop_goal_context_runtime.go
  internal/daemon/loop_goal_managed_runtime_integration_test.go
  internal/daemon/loop_goal_session_stop.go
  internal/daemon/loop_runtime_adapters.go
  internal/daemon/loop_runtime_adapters_test.go
  internal/daemon/session_work_sources.go
  internal/loop/goal/compaction.go
  internal/loop/goal/context_usage.go
  internal/loop/goal/executor.go
  internal/loop/goal/executor_test_support_test.go
  internal/loop/goal/types_checkpoint.go
  internal/loop/goal/types_projection.go
  internal/loop/session_work.go
  internal/session/manager_delete_staging.go
  internal/session/manager_goal_commands.go
  internal/session/manager_stop_finalization.go
  internal/session/prompt_activity_test.go
  internal/session/work_signal_registry.go
  internal/session/work_signals.go
  internal/store/globaldb/global_db_goal_checkpoint_binding.go
  internal/store/globaldb/global_db_goal_checkpoint_integration_test.go
  internal/store/globaldb/global_db_goal_projection_reader.go
  internal/store/globaldb/global_db_goal_turn_runtime_integration_test.go
  internal/store/globaldb/global_db_loop_read_integration_test.go
  internal/store/globaldb/global_db_loop_session_work.go
  internal/store/globaldb/queries/goal_core.sql
  internal/store/globaldb/queries/goal_runtime.sql
  internal/store/globaldb/queries/loop_lifecycle.sql
  internal/store/globaldb/sqlcgen/goal_core.sql.go
  internal/store/globaldb/sqlcgen/goal_runtime.sql.go
  internal/store/globaldb/sqlcgen/loop_lifecycle.sql.go
  packages/site/content/docs/loops/goals.mdx
  skills/compozy/references/loops.md
Due: format-go

test: distinguish live title search in summary fixture
  docs/qa/reports/2026-09-10-session-summary-truncation.md
  web/src/systems/session/components/stories/sessions-stability-working.stories.tsx
Due: turbo-lint

fix: preserve shortcut apply feedback and palette selection
  docs/qa/reports/2026-09-10-issue-593-layout-settings-save.md
  docs/qa/scenarios/ET-editable-shell-shortcuts.md
  docs/qa/scenarios/MS-configure-window-manager.md
  internal/api/core/settings.go
  internal/api/core/settings_section_requests.go
  internal/api/core/settings_window_manager_payload.go
  internal/api/spec/registry_settings_window_manager.go
  internal/settings/provider_model_active_config.go
  internal/settings/section_window_manager_update.go
  internal/settings/window_manager_request.go
  web/.storybook/preview.ts
  web/src/routes/_app/settings/-layouts-settings-page.tsx
  web/src/systems/os/adapters/window-manager-settings-api.ts
  web/src/systems/os/hooks/__tests__/use-os-palette-root.test.tsx
  web/src/systems/os/hooks/use-os-palette-surface.ts
  web/src/systems/os/index.ts
  web/src/systems/os/lib/window-manager-settings-result.ts
  web/src/systems/settings/adapters/__tests__/window-manager-settings-api.test.ts
  web/src/systems/settings/adapters/window-manager-layouts-api.ts
  web/src/systems/settings/components/__tests__/window-manager-shortcut-table.test.tsx
  web/src/systems/settings/components/layouts/window-manager-shortcut-table.tsx
  web/src/systems/settings/components/settings-save-bar.tsx
  web/src/systems/settings/components/window-manager-config-editor.tsx
  web/src/systems/settings/hooks/use-window-manager-binding-mutations.ts
  web/src/systems/settings/hooks/use-window-manager-config-editor.ts
  web/src/systems/settings/hooks/use-window-manager-keyboard-editors.ts
  web/src/systems/settings/index.ts
  web/src/systems/settings/lib/save-state.ts
  web/src/systems/settings/lib/window-manager-layout-schema.ts
  web/src/systems/settings/mocks/__tests__/handlers.test.ts
  web/src/systems/settings/mocks/handlers.ts
  web/src/systems/settings/mocks/index.ts
  web/src/systems/settings/mocks/window-manager-settings-handlers.ts
Due: turbo-lint, format-go

fix: keep full window title disclosures scrollable
  packages/ui/src/components/custom/stories/topbar.stories.tsx
  packages/ui/src/components/custom/topbar.tsx
Due: turbo-lint
