Repository compozy/compozy: changes, and which pre-commit hooks are due for each by the changed paths.
All: turbo-lint, format-go

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit

default_stages:
  - pre-commit

exclude: |
  (?x)^(
    CHANGELOG.md|
    tools/.*/package\.json|
    bun.lockb|
    node_modules|
  )$

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      # - id: trailing-whitespace
      #   args:
      #     - --no-utf8-locale
      - id: end-of-file-fixer
        exclude: '^(CHANGELOG\.md|tools/.*/package\.json|bun\.lockb|node_modules/)'
      - id: check-json
        exclude: '^(tools/.*/package\.json|node_modules/)'
      - id: check-toml
      - id: check-added-large-files
        args:
          - --maxkb=3000
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: detect-private-key
  - repo: local
    hooks:
      - id: turbo-lint
        name: turbo lint
        description: Run linting via Turborepo
        entry: bun run lint
        language: system
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false
      # - id: turbo-type-check
      #   name: turbo type check
      #   description: Run TypeScript checking via Turborepo
      #   entry: bun run type-check
      #   language: system
      #   files: \.(ts|tsx)$
      #   pass_filenames: false
      - id: format-go
        name: format go
        description: Format Go files using make fmt
        entry: make fmt
        language: system
        files: \.go$
        pass_filenames: false
  - repo: https://github.com/lyz-code/yamlfix/
    rev: 1.17.0
    hooks:
      - id: yamlfix
        args:
          - -c
          - .yamlfix.toml
        exclude: ^cluster/.*$

fix: exclude deb files from update channel
  desktop/scripts/prepare-channel-manifests.ts
  desktop/src/release/__tests__/release.test.ts
  desktop/src/release/mac-manifest.ts
Due: turbo-lint

fix: final adjusts
  desktop/src/bootstrap/__tests__/runtime-health-monitor.test.ts
  docs/qa/reports/2026-08-17-bounded-runtime-identity-electron.md
  docs/qa/scenarios/RT-001.md
  docs/qa/scenarios/RT-bounded-runtime-identity.md
  internal/api/core/settings.go
  internal/api/core/settings_update.go
  internal/daemon/daemon_test.go
  internal/daemon/extensions_test.go
  web/e2e/__tests__/worktrees.spec.ts
Due: turbo-lint, format-go

fix: update icon
  docs/design/opendesign/electron-shell/electron-shell-menubar-update.html
  docs/design/opendesign/electron-shell/electron-shell.css
  docs/design/opendesign/electron-shell/index.html
  web/src/systems/os/components/menubar/menubar-update-indicator.tsx
  web/src/systems/os/components/os-menubar.tsx
  web/src/systems/os/components/stories/os-menubar.stories.tsx
Due: turbo-lint

fix: close buttons
  desktop/e2e/_electron/__tests__/shell.spec.ts
  desktop/src/main.ts
  desktop/src/window/__tests__/product-window-chrome.test.ts
  desktop/src/window/boot-window.ts
  desktop/src/window/product-window-chrome.ts
  desktop/src/window/product-window.ts
  desktop/src/window/window-presentation.ts
  docs/qa/charters/CH-native-window-chrome-linux.md
  docs/qa/charters/CH-native-window-chrome-macos.md
  docs/qa/journeys/J-desktop-attach-daily.md
  docs/qa/reports/2026-08-17-native-window-chrome.md
  docs/qa/scenarios/APP-native-window-controls.md
  docs/qa/scenarios/APP-quit-contract.md
  docs/qa/scenarios/APP-window-geometry-recovery.md
  web/e2e/__tests__/os-shell.spec.ts
  web/src/systems/os/components/os-menubar.tsx
Due: turbo-lint

fix: harden resource-only extension development
  docs/qa/charters/CH-resource-only-extension-watch.md
  docs/qa/reports/2026-08-17-pr-423-resource-only-watch.md
  docs/qa/scenarios/ET-resource-only-extension-dev.md
  docs/superpowers/plans/2026-08-16-resource-only-extension-dev.md
  internal/cli/extension_test.go
  internal/daemon/daemon_extension_authoring_e2e_integration_test.go
  internal/daemon/extensions.go
  internal/daemon/extensions_service.go
  internal/daemon/extensions_test.go
  internal/extension/build_test.go
  internal/extension/host_api_errors.go
  internal/extension/manifest.go
  internal/extension/manifest_encode.go
  packages/site/content/docs/extensions/manifest.mdx
  skills/compozy/references/extension-authoring.md
Due: format-go

fix: review round
  internal/session/manager_hooks_test.go
  internal/session/manager_lineage_test.go
  internal/session/manager_provenance.go
Due: format-go

fix: honor canceled extension consumer syncs
  internal/daemon/daemon_test.go
  internal/daemon/extensions.go
  internal/daemon/extensions_test.go
Due: format-go

fix: resolve pull request lint failures
  docs/qa/charters/CH-desktop-agent-headless-cli.md
  docs/qa/journeys/J-desktop-agent-headless.md
  docs/qa/scenarios/APP-agent-cli-app-verbs.md
  docs/qa/scenarios/APP-single-command-multi-target-update.md
  internal/cli/daemon_bootstrap.go
  internal/cli/daemon_bootstrap_provenance.go
  internal/cli/daemon_bootstrap_test.go
  internal/daemon/model_catalog.go
  internal/daemon/model_catalog_test.go
  internal/daemon/settings_test.go
  internal/desktoprelease/errors.go
  internal/desktoprelease/release_test.go
  internal/modelcatalog/live_sources.go
  internal/modelcatalog/live_sources_test.go
  internal/worktree/git_runner.go
Due: format-go

docs: add release notes for 0.3.0-beta.17
  .release-notes/agent-plugins-install-as-extensions-1787003305.md
  .release-notes/attention-know-which-session-needs-you-1787003302.md
  .release-notes/autonomous-extraction-stays-out-of-curated-memory-1787003313.md
  .release-notes/first-class-git-worktrees-1787003303.md
  .release-notes/loop-runs-keep-their-lineage-permissions-and-results-1787003309.md
  .release-notes/loops-ui-and-empty-catalogs-match-their-design-contract-1787003308.md
  .release-notes/pi-providers-receive-the-secret-not-its-variable-name-1787003312.md
  .release-notes/resource-only-extensions-need-no-toolchain-1787003310.md
  .release-notes/session-attachments-paste-drop-or-pick-1787003304.md
  .release-notes/the-desktop-app-is-now-electron-1787003301.md
  .release-notes/the-desktop-stays-responsive-with-a-large-session-catalog-1787003311.md
  .release-notes/the-workspace-switcher-works-like-command-tab-1787003306.md
  .release-notes/trigger-detail-is-a-rule-page-1787003307.md
Due: none

ci: fix dry run
  .github/workflows/release.yml
Due: none

build: prepare release v0.3.0 (#402)
  .release-notes/archive/v0.3.0/agent-plugins-install-as-extensions-1787003305.md
  .release-notes/archive/v0.3.0/attention-know-which-session-needs-you-1787003302.md
  .release-notes/archive/v0.3.0/autonomous-extraction-stays-out-of-curated-memory-1787003313.md
  .release-notes/archive/v0.3.0/first-class-git-worktrees-1787003303.md
  .release-notes/archive/v0.3.0/loop-runs-keep-their-lineage-permissions-and-results-1787003309.md
  .release-notes/archive/v0.3.0/loops-ui-and-empty-catalogs-match-their-design-contract-1787003308.md
  .release-notes/archive/v0.3.0/pi-providers-receive-the-secret-not-its-variable-name-1787003312.md
  .release-notes/archive/v0.3.0/resource-only-extensions-need-no-toolchain-1787003310.md
  .release-notes/archive/v0.3.0/session-attachments-paste-drop-or-pick-1787003304.md
  .release-notes/archive/v0.3.0/the-desktop-app-is-now-electron-1787003301.md
  .release-notes/archive/v0.3.0/the-desktop-stays-responsive-with-a-large-session-catalog-1787003311.md
  .release-notes/archive/v0.3.0/the-workspace-switcher-works-like-command-tab-1787003306.md
  .release-notes/archive/v0.3.0/trigger-detail-is-a-rule-page-1787003307.md
  CHANGELOG.md
  RELEASE_BODY.md
  RELEASE_NOTES.md
  go.mod
  go.sum
Due: none

docs: add new spec skill
  .agents/skills/cy-issue-to-spec/SKILL.md
  .agents/skills/cy-issue-to-spec/references/issue-body.md
  .agents/skills/cy-issue-to-spec/scripts/check-tracker-sync.py
  .agents/skills/cy-issue-to-spec/scripts/publish-spec.py
Due: none

desktop channel publish 0.3.0-beta.17
  desktop/generation.json
  desktop/latest-linux.yml
  desktop/latest-mac.yml
Due: none

docs: cmd palette design
  docs/design/opendesign/README.md
  docs/design/opendesign/command-palette/DESIGN-NOTES.md
  docs/design/opendesign/command-palette/command-palette-action-panel.html
  docs/design/opendesign/command-palette/command-palette-action-panel.html.artifact.json
  docs/design/opendesign/command-palette/command-palette-args-confirmation.html
  docs/design/opendesign/command-palette/command-palette-args-confirmation.html.artifact.json
  docs/design/opendesign/command-palette/command-palette-domain-list.html
  docs/design/opendesign/command-palette/command-palette-domain-list.html.artifact.json
  docs/design/opendesign/command-palette/command-palette-form-grid.html
  docs/design/opendesign/command-palette/command-palette-form-grid.html.artifact.json
  docs/design/opendesign/command-palette/command-palette-root-states.html
  docs/design/opendesign/command-palette/command-palette-root-states.html.artifact.json
  docs/design/opendesign/command-palette/command-palette-root.html
  docs/design/opendesign/command-palette/command-palette-root.html.artifact.json
  docs/design/opendesign/command-palette/command-palette-settings-palette.html
  docs/design/opendesign/command-palette/command-palette-settings-palette.html.artifact.json
  docs/design/opendesign/command-palette/command-palette-settings.html
  docs/design/opendesign/command-palette/command-palette-settings.html.artifact.json
  docs/design/opendesign/command-palette/command-palette-view-bands.html
  docs/design/opendesign/command-palette/command-palette-view-bands.html.artifact.json
  docs/design/opendesign/command-palette/command-palette-view-shell.html
  docs/design/opendesign/command-palette/command-palette-view-shell.html.artifact.json
  docs/design/opendesign/command-palette/command-palette.css
  docs/design/opendesign/command-palette/index.html
  docs/design/opendesign/command-palette/index.html.artifact.json
Due: none

fix: daemon path resolution
  .release-notes/archive/v0.3.0/agent-plugins-install-as-extensions-1787003305.md
  RELEASE_BODY.md
  RELEASE_NOTES.md
  desktop/e2e/_electron/__tests__/shell.spec.ts
  desktop/src/window/application-menu.ts
  docs/qa/scenarios/APP-desktop-login-path-provider-bind.md
  docs/qa/scenarios/APP-desktop-native-edit-shortcuts.md
  internal/cli/daemon.go
  internal/cli/daemon_login_path.go
  internal/cli/daemon_wait_test.go
  internal/procutil/env_test.go
  internal/procutil/login_shell_path.go
  internal/sandbox/daytona/sidecar_assets/compozy-daytona-sidecar-linux-amd64.gz
  internal/sandbox/daytona/sidecar_assets/compozy-daytona-sidecar-linux-arm64.gz
  packages/site/content/docs/configuration/env-vars.mdx
  skills/compozy/references/desktop.md
Due: turbo-lint, format-go

test: fix cases failing
  internal/desktoprelease/release_test.go
  internal/procutil/login_shell_path.go
  internal/store/globaldb/global_db_test.go
Due: format-go

build: prepare release v0.3.0 (#426)
  CHANGELOG.md
  RELEASE_BODY.md
  RELEASE_NOTES.md
  go.mod
  go.sum
Due: none

build: oxlint react compiler rules
  .oxlintrc.json
  bun.lock
  package.json
  packages/ui/src/components/__tests__/combobox.test.tsx
  packages/ui/src/components/custom/__tests__/detail-inspector.test.tsx
  packages/ui/src/components/custom/__tests__/topbar.test.tsx
  packages/ui/src/components/custom/hooks/use-code-block.ts
  packages/ui/src/components/custom/hooks/use-inline-layout.ts
  packages/ui/src/components/empty.tsx
  packages/ui/src/components/reui/filters-menu.tsx
  packages/ui/src/components/reui/hooks/use-filter-submenu-content.ts
  packages/ui/src/hooks/use-github-stars-controller.ts
  packages/ui/src/primitives/slot.tsx
  web/src/components/assistant-ui/__tests__/session-thread.test.tsx
  web/src/systems/marketplace/hooks/use-marketplace-kind-page.ts
  web/src/systems/workspace/components/option-card.tsx
  web/src/systems/workspace/hooks/use-worktree-create-dialog.ts
Due: turbo-lint

desktop channel publish 0.3.0-beta.18
  desktop/generation.json
  desktop/latest-linux.yml
  desktop/latest-mac.yml
Due: none

Add blog post: Graph/Loop Editor and Local Gateway Triggers
  .claude/agents/designer.md
  .claude/plans/spec-unification.md
  packages/site/content/blog/posts/graph-loop-editor-local-gateway.mdx
  packages/site/lib/blog.ts
  packages/site/public/static/blog/graph-loop-editor-local-gateway-cover.png
Due: turbo-lint

Add blog post: Graph/Loop Editor and Local Gateway Triggers
  .claude/agents/designer.md
  .claude/plans/spec-unification.md
  packages/site/content/blog/posts/graph-loop-editor-local-gateway.mdx
  packages/site/lib/blog.ts
  packages/site/public/static/blog/graph-loop-editor-local-gateway.png
Due: turbo-lint

docs: command palette design adjustments
  docs/design/opendesign/command-palette/DESIGN-NOTES.md
  docs/design/opendesign/command-palette/command-palette-action-panel.html
  docs/design/opendesign/command-palette/command-palette-args-confirmation.html
  docs/design/opendesign/command-palette/command-palette-domain-list.html
  docs/design/opendesign/command-palette/command-palette-form-grid.html
  docs/design/opendesign/command-palette/command-palette-root-states.html
  docs/design/opendesign/command-palette/command-palette-root.html
  docs/design/opendesign/command-palette/command-palette-settings-palette.html
  docs/design/opendesign/command-palette/command-palette-settings.html
  docs/design/opendesign/command-palette/command-palette-view-bands.html
  docs/design/opendesign/command-palette/command-palette-view-shell.html
  docs/design/opendesign/command-palette/command-palette.css
  docs/design/opendesign/command-palette/index.html
Due: none

feat: add Batuta to marketplace
  catalog/artifacts/batuta-v0.1.0-beta.3.tar.gz
  catalog/extensions.json
  catalog/packages/batuta/LICENSE
  catalog/packages/batuta/agents/batuta/AGENT.md
  catalog/packages/batuta/extension.toml
  catalog/packages/batuta/loops/batuta-deliver/loop.yaml
  catalog/packages/batuta/resources/skills/batuta-routing/SKILL.md
Due: none

docs: ground blog post in runtime truth and add code snippets
  .claude/agents/designer.md
  .claude/plans/spec-unification.md
  packages/site/content/blog/posts/graph-loop-editor-local-gateway.mdx
Due: none

feat: add Batuta to marketplace (#432)
  catalog/artifacts/batuta-v0.1.0-beta.3.tar.gz
  catalog/extensions.json
  catalog/packages/batuta/LICENSE
  catalog/packages/batuta/agents/batuta/AGENT.md
  catalog/packages/batuta/extension.toml
  catalog/packages/batuta/loops/batuta-deliver/loop.yaml
  catalog/packages/batuta/resources/skills/batuta-routing/SKILL.md
Due: none

chore(mise): pin Go 1.26.6
  mise.toml
Due: none

docs: fix broken star history chart
  README.md
Due: none

fix: adjustments
  internal/store/globaldb/global_db_loop_schema_integration_test.go
  internal/tools/builtin_ids.go
  internal/tools/builtin_loop_ids.go
  packages/site/content/docs/loops/configure.mdx
  packages/site/content/docs/loops/guardrails.mdx
  packages/site/content/docs/loops/time-travel.mdx
Due: format-go
