Repository compozy/compozy: changes, and which pre-commit hooks are due for each by the changed paths.
All: turbo-lint, format-go

turbo-lint:
  name: turbo lint
  description: Run linting via Turborepo
  entry: bun run lint
  language: system
  pass_filenames: false

format-go:
  name: format go
  description: Format Go files using make fmt
  entry: make fmt
  language: system
  pass_filenames: false

fix: expose the palette chord as aria-keyshortcuts on the menubar command
  web/e2e/fixtures/os-navigation.ts
  web/src/systems/os/components/__tests__/desktop-menubar.test.tsx
  web/src/systems/os/components/desktop-menubar.tsx
  web/src/systems/os/components/os-menubar.tsx
  web/src/systems/os/lib/__tests__/window-manager-shortcuts.test.ts
  web/src/systems/os/lib/window-manager-shortcuts.ts
Due: turbo-lint

feat: Capture ACP fork/resume capabilities; route ACP traffic by sessio…
  internal/acp/agent_process.go
  internal/acp/agent_process_fork.go
  internal/acp/agent_process_fork_test.go
  internal/acp/client_start_contract_test.go
  internal/acp/client_test_support_test.go
  internal/acp/handlers.go
  internal/acp/handlers_session_state.go
  internal/acp/session_routing.go
  internal/acp/start_process.go
  internal/acp/start_session.go
  internal/acp/types.go
  internal/api/contract/acp_observations.go
  internal/api/contract/contract_test.go
  openapi/compozy.json
  packages/site/content/docs/sessions/lifecycle.mdx
  sdk/go/contracts/types_001_gen.go
  sdk/typescript/src/generated/contracts.ts
  skills/compozy/references/runtime-operations.md
  web/src/generated/compozy-openapi.d.ts
  web/src/systems/os/apps/session/__tests__/session-window-content.test.tsx
  web/src/systems/session/hooks/__tests__/use-session-prompt-runtime.test.tsx
  web/src/systems/session/lib/__tests__/session-prompt-capability.test.ts
  web/src/systems/session/mocks/runtime-fixture.ts
Due: turbo-lint, format-go

refactor: split high-complexity tasks components into focused pieces
  web/src/systems/os/apps/tasks/hooks/use-completed-run-result.ts
  web/src/systems/os/apps/tasks/task-detail-location.tsx
  web/src/systems/os/apps/tasks/tasks-catalog-location.tsx
  web/src/systems/os/apps/tasks/tasks-catalog-views.tsx
  web/src/systems/tasks/components/task-card.tsx
  web/src/systems/tasks/components/task-kanban-card.tsx
  web/src/systems/tasks/components/task-now-terminal-state.tsx
  web/src/systems/tasks/components/task-page-head.tsx
  web/src/systems/tasks/components/task-run-inspect-drawer.tsx
  web/src/systems/tasks/components/task-run-outcome.tsx
  web/src/systems/tasks/components/task-run-rail.tsx
  web/src/systems/tasks/components/tasks-inbox-item.tsx
  web/src/systems/tasks/components/tasks-inbox-view.tsx
  web/src/systems/tasks/components/tasks-list-surface.tsx
  web/src/systems/tasks/lib/task-card-presentation.ts
Due: turbo-lint

fix: state the daemon's access refusal on the desktop gate
  web/src/systems/os/components/__tests__/desktop-gate.test.tsx
  web/src/systems/os/components/desktop-gate.tsx
Due: turbo-lint

test: align E2E specs with the everyday-user UI pass
  web/e2e/__tests__/agents.spec.ts
  web/e2e/__tests__/attention.spec.ts
  web/e2e/__tests__/dashboard.spec.ts
  web/e2e/__tests__/jobs-hardening.spec.ts
  web/e2e/__tests__/loops.spec.ts
  web/e2e/__tests__/marketplace.spec.ts
  web/e2e/__tests__/session-hardening.spec.ts
  web/e2e/__tests__/settings.spec.ts
Due: turbo-lint

refactor: split high-complexity knowledge, vault, os, and extension views
  web/src/systems/extensions/components/extension-dialogs.tsx
  web/src/systems/knowledge/components/knowledge-detail-panel.tsx
  web/src/systems/knowledge/components/knowledge-detail-sections.tsx
  web/src/systems/knowledge/components/knowledge-list-panel.tsx
  web/src/systems/knowledge/hooks/use-knowledge-detail-dialogs.ts
  web/src/systems/os/apps/knowledge/knowledge-location.tsx
  web/src/systems/os/apps/knowledge/knowledge-page-model.ts
  web/src/systems/os/apps/knowledge/knowledge-route-selection.ts
  web/src/systems/os/apps/knowledge/use-knowledge-list.ts
  web/src/systems/os/apps/knowledge/use-knowledge-page-actions.ts
  web/src/systems/os/apps/knowledge/use-knowledge-page.ts
  web/src/systems/os/apps/knowledge/use-knowledge-route-state.ts
  web/src/systems/os/components/desktops-overview.tsx
  web/src/systems/os/components/os-window-tab.tsx
  web/src/systems/vault/hooks/use-vault-page-actions.ts
  web/src/systems/vault/hooks/use-vault-page.ts
  web/src/systems/vault/hooks/vault-page-model.ts
  web/src/systems/vault/routes/vault-page.tsx
Due: turbo-lint

test: align desktop E2E specs with the everyday-user UI pass
  desktop/e2e/_electron/__tests__/shell.spec.ts
  desktop/e2e/_electron/__tests__/updates.spec.ts
Due: turbo-lint

refactor: split high-complexity agent, runtime, and dashboard views
  web/src/systems/agent/components/agent-authored-file-editor.tsx
  web/src/systems/agent/components/agent-authored-file-parts.tsx
  web/src/systems/agent/components/agent-command-select.tsx
  web/src/systems/agent/components/agent-settings-runtime-section.tsx
  web/src/systems/agent/components/agent-stats-grid.tsx
  web/src/systems/agent/lib/agent-authored-file-view.ts
  web/src/systems/agent/lib/agent-settings-draft.ts
  web/src/systems/agent/lib/agent-stats-view.ts
  web/src/systems/dashboard/__tests__/use-home-dashboard.test.tsx
  web/src/systems/dashboard/components/home-system-panel.tsx
  web/src/systems/dashboard/components/stories/home-dashboard.stories.tsx
  web/src/systems/dashboard/hooks/use-home-dashboard.ts
  web/src/systems/dashboard/hooks/use-home-system.ts
  web/src/systems/dashboard/lib/home-system.ts
  web/src/systems/gateway/components/gateway-audit-panel.tsx
  web/src/systems/onboarding/hooks/__tests__/use-onboarding-default-model.test.tsx
  web/src/systems/onboarding/hooks/use-onboarding-default-model.ts
  web/src/systems/onboarding/lib/default-model-view.ts
  web/src/systems/onboarding/lib/provider-request.ts
  web/src/systems/os/apps/agents/agent-detail-location.tsx
  web/src/systems/os/apps/agents/agent-detail-view.ts
  web/src/systems/os/apps/agents/agents-catalog-location.tsx
  web/src/systems/os/apps/agents/agents-catalog-view.ts
  web/src/systems/os/apps/agents/list-pagination-status.ts
  web/src/systems/os/apps/agents/use-agent-detail-topbar.tsx
  web/src/systems/os/apps/agents/use-agents-catalog-topbar.tsx
  web/src/systems/runtime/components/runtime-selector/trigger-model.ts
  web/src/systems/runtime/components/runtime-selector/trigger.tsx
  web/src/systems/workspace/components/worktree-row.tsx
  web/src/systems/workspace/lib/worktree-display.ts
Due: turbo-lint

test: align the cold-daemon palette E2E with the plain unavailable reason
  web/e2e/__tests__/os-shell.spec.ts
Due: turbo-lint

fix: close derive commit boundaries, rewind carried context, and boot event reconcile
  internal/daemon/boot_session_repair.go
  internal/daemon/daemon_test.go
  internal/session/derive_commit.go
  internal/session/derive_first_prompt.go
  internal/session/derive_prepare.go
  internal/session/derive_reconcile.go
  internal/session/manager_conversation_rewind_resume.go
  internal/session/manager_create_accepted.go
  internal/session/manager_derive_test.go
  internal/session/manager_start_accept.go
  internal/session/manager_start_launch_accepted.go
  internal/session/session_derivation_state.go
  packages/site/content/docs/sessions/events.mdx
  packages/site/content/docs/sessions/lifecycle.mdx
Due: format-go

feat: Web Fork: dialog, "Fork from here", fork menu items #06
  docs/_memory/change-impact.md
  docs/qa/scenarios/ET-web-session-fork-from-here.md
  docs/qa/scenarios/ET-web-sessions-catalog-modal.md
  docs/qa/scenarios/RT-conversation-rewind.md
  internal/testutil/acpmock/testdata/browser_session_fork_fixture.json
  web/e2e/__tests__/session-derive.spec.ts
  web/src/components/assistant-ui/__tests__/session-thread.test.tsx
  web/src/components/assistant-ui/message-actions.tsx
  web/src/systems/os/apps/session/session-window-content.tsx
  web/src/systems/os/apps/session/use-session-window-controller.tsx
  web/src/systems/os/apps/session/use-session-window-derive.ts
  web/src/systems/os/components/__tests__/sessions-modal.test.tsx
  web/src/systems/session/adapters/session-derive-api.ts
  web/src/systems/session/components/__tests__/session-fork-dialog.test.tsx
  web/src/systems/session/components/__tests__/session-inspector.test.tsx
  web/src/systems/session/components/session-continue-host.tsx
  web/src/systems/session/components/session-derive-placement.tsx
  web/src/systems/session/components/session-derive-preview.tsx
  web/src/systems/session/components/session-fork-dialog.tsx
  web/src/systems/session/components/session-fork-fields.tsx
  web/src/systems/session/components/session-fork-message-action.tsx
  web/src/systems/session/components/session-row-actions.tsx
  web/src/systems/session/components/stories/session-fork-dialog.stories.tsx
  web/src/systems/session/contexts/session-fork-context-value.ts
  web/src/systems/session/derive.ts
  web/src/systems/session/hooks/__tests__/use-session-topbar-slot.test.tsx
  web/src/systems/session/hooks/use-session-continue-host.ts
  web/src/systems/session/hooks/use-session-derive.ts
  web/src/systems/session/hooks/use-session-fork-dialog.ts
  web/src/systems/session/hooks/use-session-fork-message-action.ts
  web/src/systems/session/hooks/use-session-message-action-gate.ts
  web/src/systems/session/hooks/use-session-rewind-message-action.ts
  web/src/systems/session/hooks/use-session-topbar-slot.tsx
  web/src/systems/session/index.ts
  web/src/systems/session/lib/session-derive-view.ts
  web/src/systems/session/lib/session-origin.ts
  web/src/systems/session/mocks/derive-fixtures.ts
  web/src/systems/session/mocks/derive-handlers.ts
Due: turbo-lint

feat: report source message count in derive preview and rename derive host
  internal/api/contract/session_derive.go
  internal/api/contract/testdata/session-derive/preview.json
  internal/api/core/session_derive.go
  internal/api/httpapi/session-clear_test.go
  internal/session/derive_preview.go
  internal/session/derive_snapshot.go
  internal/session/derive_types.go
  internal/session/manager_derive_test.go
  openapi/compozy.json
  packages/site/content/docs/sessions/lifecycle.mdx
  web/src/generated/compozy-openapi.d.ts
  web/src/systems/os/apps/agents/agent-detail-location.tsx
  web/src/systems/os/apps/session/__tests__/session-window-content.test.tsx
  web/src/systems/os/apps/session/session-window-content.tsx
  web/src/systems/os/apps/session/use-session-window-derive.ts
  web/src/systems/os/components/__tests__/sessions-modal.test.tsx
  web/src/systems/os/components/desktop-shell.tsx
  web/src/systems/os/components/os-sessions-derive-host.tsx
  web/src/systems/session/components/__tests__/runtime-activity-notice.test.tsx
  web/src/systems/session/components/__tests__/session-fork-dialog.test.tsx
  web/src/systems/session/components/provider-error-notice.tsx
  web/src/systems/session/components/session-derive-host.tsx
  web/src/systems/session/components/session-row-actions.tsx
  web/src/systems/session/components/stories/session-continue-dialog.stories.tsx
  web/src/systems/session/contexts/session-derive-context-value.ts
  web/src/systems/session/derive.ts
  web/src/systems/session/hooks/use-session-derive-host.ts
  web/src/systems/session/lib/session-derive-view.ts
  web/src/systems/session/mocks/derive-fixtures.ts
Due: turbo-lint, format-go

docs: plan session continue and fork QA #07
  docs/_memory/change-impact.md
  docs/qa/charters/CH-session-derive-interrupt.md
  docs/qa/charters/CH-session-derive-real-agents.md
  docs/qa/charters/CH-session-derive-web.md
  docs/qa/charters/CH-session-fallback-seat.md
  docs/qa/journeys/J-14-read-a-finished-transcript.md
  docs/qa/journeys/J-15-operate-session-via-cli-api.md
  docs/qa/reports/2026-09-28-session-continue-fork-plan.md
  docs/qa/scenarios/ET-cli-session-continue.md
  docs/qa/scenarios/ET-web-session-continue.md
  docs/qa/scenarios/ET-web-session-fork-from-here.md
  docs/qa/scenarios/MS-background-role-fallback.md
  docs/qa/scenarios/RT-conversation-rewind.md
  docs/qa/scenarios/RT-provider-error-handoff.md
  docs/qa/scenarios/RT-session-derive-native-fork.md
  docs/qa/scenarios/RT-session-fallback-chain.md
  docs/qa/scenarios/RT-session-lineage-upgrade.md
Due: none

test: acpmock fail_prompt action and runnable session derive E2E
  docs/qa/scenarios/ET-web-session-continue.md
  docs/qa/scenarios/ET-web-session-fork-from-here.md
  docs/qa/scenarios/RT-provider-error-handoff.md
  internal/testutil/acpmock/cmd/acpmock-driver/command.go
  internal/testutil/acpmock/driver_cancel_test.go
  internal/testutil/acpmock/fixture_driver_control.go
  internal/testutil/acpmock/fixture_test.go
  internal/testutil/acpmock/fixture_types.go
  internal/testutil/acpmock/testdata/provider_error_fixture.json
  web/e2e/__tests__/session-derive.spec.ts
Due: turbo-lint, format-go

docs: record part C upgrade walk report #08
  docs/qa/bugs/BUG-20260928-derive-stopped-source-turn-in-progress.md
  docs/qa/reports/2026-09-28-session-continue-fork-exec-c.md
  docs/qa/scenarios/RT-session-lineage-upgrade.md
Due: none

fix: surface derive refusals in view and keep rewind drafts on row unmount
  docs/qa/bugs/BUG-20260928-provider-error-notice-live-duplicate.md
  docs/qa/bugs/BUG-20260929-derive-refusal-below-fold.md
  docs/qa/bugs/BUG-20260929-rewind-draft-lost-on-row-unmount.md
  docs/qa/bugs/BUG-20260929-rewind-offered-after-rewind.md
  docs/qa/reports/2026-09-29-session-continue-fork-r1-rewalk.md
  docs/qa/scenarios/ET-cli-session-continue.md
  docs/qa/scenarios/ET-web-session-continue.md
  docs/qa/scenarios/ET-web-session-fork-from-here.md
  docs/qa/scenarios/RT-agent-detail-runtime-live-edit.md
  docs/qa/scenarios/RT-conversation-rewind.md
  docs/qa/scenarios/RT-provider-error-handoff.md
  docs/qa/scenarios/RT-session-derive-native-fork.md
  docs/qa/scenarios/RT-session-derive-retry.md
  web/src/systems/session/components/__tests__/session-chat-runtime-provider.test.tsx
  web/src/systems/session/components/__tests__/session-continue-dialog.test.tsx
  web/src/systems/session/components/session-continue-dialog.tsx
  web/src/systems/session/components/session-derive-committed-child.tsx
  web/src/systems/session/components/session-fork-dialog.tsx
  web/src/systems/session/hooks/use-session-rewind-message-action.ts
Due: turbo-lint

fix: peer-review round 2 remediation
  docs/qa/scenarios/RT-session-derive-retry.md
  internal/api/core/handlers_test.go
  internal/api/core/session_derive_errors.go
  internal/api/core/session_owner.go
  internal/api/httpapi/session-clear_test.go
  internal/api/testutil/session_stub.go
  internal/api/udsapi/handlers_test.go
  internal/cli/client_session_api.go
  internal/cli/helpers_test.go
  internal/cli/session_command.go
  internal/cli/session_continue.go
  internal/cli/session_derive_target.go
  internal/cli/session_test.go
  internal/daemon/daemon_session_continue_e2e_integration_test.go
  internal/daemon/native_tools_test.go
  internal/session/derive.go
  internal/session/derive_commit.go
  internal/session/manager_derive_test.go
  internal/session/manager_session_owner.go
  packages/site/content/docs/sessions/lifecycle.mdx
  skills/compozy/references/runtime-operations.md
  web/src/systems/session/components/__tests__/session-chat-runtime-provider.test.tsx
  web/src/systems/session/components/__tests__/session-continue-dialog.test.tsx
  web/src/systems/session/components/__tests__/session-fork-dialog.test.tsx
  web/src/systems/session/components/session-derive-committed-child.tsx
  web/src/systems/session/hooks/use-session-continue-dialog.ts
  web/src/systems/session/hooks/use-session-derive-committed-child.ts
  web/src/systems/session/hooks/use-session-fork-dialog.ts
  web/src/systems/session/mocks/derive-handlers.ts
Due: turbo-lint, format-go

test: keep native tools derive error case formatter-stable
  internal/daemon/native_tools_test.go
Due: format-go

fix: let daemon-originated permission prompts through ACP session routing
  internal/acp/agent_process_fork_test.go
  internal/acp/handlers.go
  internal/acp/permission_pending.go
  packages/site/content/docs/agents/providers.mdx
  packages/site/content/docs/configuration/config-toml.mdx
  packages/site/content/docs/sessions/lifecycle.mdx
  web/src/components/assistant-ui/session-thread-messages.tsx
  web/src/systems/session/components/session-derive-menu-items.tsx
  web/src/systems/session/hooks/use-session-derive-committed-child.ts
  web/src/systems/session/hooks/use-session-topbar-slot.tsx
Due: turbo-lint, format-go

fix: wake creator on child turn completion
  internal/session/spawn_wake.go
  internal/session/spawn_wake_test.go
Due: format-go

fix: suppress completed wake for canceled child turns
  internal/session/manager_prompt_pump.go
  internal/session/manager_transition_attention.go
  internal/session/spawn_wake_test.go
Due: format-go

docs: record PR 685 impact and update spawn-wake scenario
  docs/_memory/change-impact.md
  docs/qa/scenarios/RT-session-spawn-wake.md
Due: none

fix: show the diagnostic message on post-commit derive errors
  internal/api/core/session_derive_errors.go
  internal/api/httpapi/session-clear_test.go
  internal/api/udsapi/handlers_test.go
  internal/cli/session_test.go
  internal/daemon/native_session_derive.go
  internal/daemon/native_tools_test.go
  web/src/lib/api-client.ts
  web/src/systems/session/adapters/session-derive-api.ts
  web/src/systems/session/components/__tests__/session-continue-dialog.test.tsx
  web/src/systems/session/mocks/derive-handlers.ts
Due: turbo-lint, format-go

fix: wake creator on child turn completion (#685)
  docs/_memory/change-impact.md
  docs/qa/scenarios/RT-session-spawn-wake.md
  internal/session/manager_prompt_pump.go
  internal/session/manager_transition_attention.go
  internal/session/spawn_wake.go
  internal/session/spawn_wake_test.go
Due: format-go

fix: align catalog composition and shipped references
  internal/cli/app_test.go
  internal/store/write_test.go
  packages/site/content/docs/examples/review-and-fix-loop.mdx
  skills/compozy/references/worktrees.md
  web/src/systems/os/hooks/use-os-palette-entities.ts
  web/src/systems/os/hooks/use-os-palette-sessions-view.tsx
  web/src/systems/session/components/session-list/session-list.tsx
Due: turbo-lint, format-go

test: await the child attention wake in the runtime journey
  internal/daemon/daemon_attention_e2e_integration_test.go
Due: format-go

fix: preserve background attention and current dock session truth
  web/src/systems/os/components/__tests__/os-dock.test.tsx
  web/src/systems/os/hooks/use-bell-notifications.ts
  web/src/systems/os/hooks/use-desktop-dock.ts
  web/src/systems/os/hooks/use-session-launch-catalog.ts
Due: turbo-lint

fix: bind forced window opens to their dispatch revision
  docs/qa/scenarios/ET-terminal-window-native-flow.md
  web/src/systems/os/hooks/__tests__/window-manager-runtime.test.ts
  web/src/systems/os/runtime/window-manager-runtime.ts
Due: turbo-lint

Path conditions:
  turbo-lint: any of: \.(js|jsx|ts|tsx)$, but not: (?x)^(
  CHANGELOG.md|
  tools/.*/package\.json|
  bun.lockb|
  node_modules|
)$

  format-go: any of: \.go$, but not: (?x)^(
  CHANGELOG.md|
  tools/.*/package\.json|
  bun.lockb|
  node_modules|
)$

