Repository compozy/compozy: changes, and which pre-commit hooks are due for each by the changed paths.
All: turbo-lint, format-go

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit

default_stages:
  - pre-commit

exclude: |
  (?x)^(
    CHANGELOG.md|
    tools/.*/package\.json|
    bun.lockb|
    node_modules|
  )$

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      # - id: trailing-whitespace
      #   args:
      #     - --no-utf8-locale
      - id: end-of-file-fixer
        exclude: '^(CHANGELOG\.md|tools/.*/package\.json|bun\.lockb|node_modules/)'
      - id: check-json
        exclude: '^(tools/.*/package\.json|node_modules/)'
      - id: check-toml
      - id: check-added-large-files
        args:
          - --maxkb=3000
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: detect-private-key
  - repo: local
    hooks:
      - id: turbo-lint
        name: turbo lint
        description: Run linting via Turborepo
        entry: bun run lint
        language: system
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false
      # - id: turbo-type-check
      #   name: turbo type check
      #   description: Run TypeScript checking via Turborepo
      #   entry: bun run type-check
      #   language: system
      #   files: \.(ts|tsx)$
      #   pass_filenames: false
      - id: format-go
        name: format go
        description: Format Go files using make fmt
        entry: make fmt
        language: system
        files: \.go$
        pass_filenames: false
  - repo: https://github.com/lyz-code/yamlfix/
    rev: 1.17.0
    hooks:
      - id: yamlfix
        args:
          - -c
          - .yamlfix.toml
        exclude: ^cluster/.*$

fix: remove npm token from release recovery
  internal/config/release_config_test.go
  scripts/release-publication-state.sh
Due: format-go

desktop channel publish 0.3.0-beta.21
  desktop/generation.json
  desktop/latest-linux.yml
  desktop/latest-mac.yml
Due: none

fix: round 1 of adjustments
  .compozy/agents/marketing/AGENT.md
  desktop/e2e/_electron/__tests__/shell.spec.ts
  docs/qa/charters/CH-runtime-ui-regression-agent-skills.md
  docs/qa/charters/CH-runtime-ui-regression-fonts.md
  docs/qa/charters/CH-runtime-ui-regression-model-catalog.md
  docs/qa/charters/CH-runtime-ui-regression-settings-scroll.md
  docs/qa/charters/CH-runtime-ui-regression-update-coherence.md
  docs/qa/reports/2026-08-27-runtime-ui-regressions.md
  docs/qa/scenarios/APP-desktop-runtime-bundle-coherence.md
  docs/qa/scenarios/ET-web-font-assets-strict-csp.md
  docs/qa/scenarios/MS-settings-single-scroll-owner.md
  docs/qa/scenarios/RT-agent-hot-discovery-skill-isolation.md
  docs/qa/scenarios/RT-model-catalog-cold-open.md
  internal/api/core/session_workspace.go
  internal/api/core/session_workspace_internal_test.go
  internal/cli/daemon_bootstrap.go
  internal/cli/daemon_bootstrap_desktop_runtime.go
  internal/cli/daemon_bootstrap_provenance.go
  internal/cli/daemon_bootstrap_test.go
  internal/daemon/boot_finalize.go
  internal/daemon/boot_resource_watchers.go
  internal/daemon/daemon_integration_test.go
  internal/daemon/model_catalog.go
  internal/daemon/model_catalog_test.go
  internal/session/manager_test.go
  internal/session/manager_test_support_test.go
  internal/session/manager_workspace.go
  internal/skills/registry_agent.go
  internal/skills/registry_test.go
  internal/update/apply.go
  internal/update/provenance.go
  web/e2e/__tests__/settings-hardening.spec.ts
  web/src/systems/os/apps/settings/settings-window.tsx
  web/vite.config.ts
Due: turbo-lint, format-go

docs: qa
  docs/qa/reports/2026-08-27-runtime-ui-regressions.md
Due: none

fix: round 2 of adjustments
  docs/qa/charters/CH-session-empty-and-dock-last-created.md
  docs/qa/reports/2026-08-27-session-empty-dock.md
  docs/qa/scenarios/ET-web-dock-contextual-session-launch.md
  docs/qa/scenarios/RT-014.md
  docs/qa/scenarios/RT-session-delete-keeps-empty-tab.md
  internal/windowmanager/lifecycle_test.go
  internal/windowmanager/reducer.go
  internal/windowmanager/reducer_session_delete.go
  internal/windowmanager/reducer_window_close.go
  internal/windowmanager/reducer_window_navigate.go
  internal/windowmanager/session_delete_reconciliation.go
  web/e2e/__tests__/os-shell.spec.ts
  web/e2e/__tests__/session-hardening.spec.ts
  web/src/routeTree.gen.ts
  web/src/routes/_app/sessions.tsx
  web/src/storybook/route-story-registry.ts
  web/src/systems/os/apps/session/__tests__/session-window.test.tsx
  web/src/systems/os/apps/session/hooks/use-session-window-controller.ts
  web/src/systems/os/apps/session/session-window-empty.tsx
  web/src/systems/os/apps/session/session-window.tsx
  web/src/systems/os/apps/session/use-session-window-sidebar.ts
  web/src/systems/os/components/__tests__/os-dock.test.tsx
  web/src/systems/os/hooks/use-desktop-dock.ts
  web/src/systems/os/hooks/use-session-launch-catalog.ts
  web/src/systems/os/lib/__tests__/app-registry.test.ts
  web/src/systems/os/lib/__tests__/routing-coordinator.test.ts
  web/src/systems/os/lib/app-catalog.ts
  web/src/systems/os/lib/last-created-session.ts
  web/src/systems/os/lib/routing-coordinator.ts
  web/src/systems/session/components/session-sidebar.tsx
  web/src/systems/session/routes/sessions.stories.tsx
Due: turbo-lint, format-go

refactor: split oversized web modules
  web/src/storybook/__tests__/route-story-registry.test.ts
  web/src/storybook/route-story-index.ts
  web/src/storybook/route-story-registry.ts
  web/src/systems/os/lib/routing-coordinator-contract.ts
  web/src/systems/os/lib/routing-coordinator.ts
  web/src/systems/os/lib/routing-default-view-intent.ts
  web/src/systems/runtime/components/stories/runtime-selector-story-fixtures.ts
  web/src/systems/runtime/components/stories/runtime-selector.stories.tsx
Due: turbo-lint

docs: format acp runtime references
  packages/site/content/docs/agents/definitions.mdx
  packages/site/content/docs/agents/model-catalog.mdx
  packages/site/content/docs/configuration/config-toml.mdx
  packages/site/content/docs/loops/dsl-reference.mdx
Due: none

test: compare implement task runtimes deeply
  internal/daemon/daemon_implement_tasks_e2e_integration_test.go
Due: format-go

fix: encode ACP config selections correctly
  internal/acp/client_process_lifecycle_test.go
  internal/acp/client_start_contract_test.go
  internal/acp/config_option_selection.go
  internal/acp/speed_config.go
  internal/acp/speed_config_test.go
Due: format-go

fix: preserve provider model mappings across overrides
  internal/daemon/daemon_mock_agents_integration_test.go
  internal/daemon/harness_context_integration_test.go
  internal/daemon/model_catalog_staging.go
  internal/daemon/model_catalog_test.go
  internal/modelcatalog/live_sources.go
  internal/modelcatalog/live_sources_test.go
Due: format-go

fix: drain terminal loop events before follow exits
  desktop/e2e/_electron/__tests__/shell.spec.ts
  docs/qa/scenarios/LP-run-read-agent-journey.md
  internal/cli/loop_read_commands.go
  internal/cli/loop_read_commands_test.go
Due: turbo-lint, format-go

test: stabilize settings transport parity
  internal/api/udsapi/transport_parity_integration_test.go
Due: format-go

fix: honor selected orchestrated implementer
  .compozy/loops/implement-tasks/loop.yaml
  docs/qa/charters/CH-implement-tasks-orchestrated-mode.md
  docs/qa/scenarios/LP-implement-tasks-orchestrated-mode.md
  extensions/spec-cycle/agents/orchestrator/AGENT.md
  extensions/spec-cycle/embed_test.go
  extensions/spec-cycle/loops/implement-tasks/loop.yaml
  extensions/spec-cycle/skills/cy-orchestrate-tasks/SKILL.md
  internal/daemon/daemon_implement_tasks_e2e_integration_test.go
  internal/testutil/acpmock/testdata/implement_tasks_fixture.json
  packages/site/content/docs/examples/implement-tasks-loop.mdx
  skills/compozy/references/loops.md
  web/src/systems/loops/mocks/fixture-implement-tasks.ts
Due: turbo-lint, format-go

test: strengthen orchestrated implementer coverage
  extensions/spec-cycle/embed_test.go
  internal/daemon/daemon_implement_tasks_e2e_integration_test.go
  internal/testutil/acpmock/testdata/implement_tasks_fixture.json
Due: format-go

docs: record blocked orchestrated implementer QA
  docs/qa/reports/2026-08-28-pr-502-orchestrated-implementer.md
  docs/qa/scenarios/LP-implement-tasks-orchestrated-mode.md
Due: none

fix: reconcile superseded loop coordinators
  docs/qa/scenarios/LP-run-read-agent-journey.md
  internal/daemon/loop_hook_observer.go
  internal/daemon/loop_read_cli_e2e_integration_test.go
  internal/daemon/loop_run_events_e2e_integration_test.go
  internal/daemon/notifier_test.go
  internal/loop/generation_snapshot.go
  internal/task/manager_coordinator_run.go
  internal/task/manager_coordinator_run_completion.go
  internal/task/manager_coordinator_run_supersession.go
  internal/task/manager_test.go
  scripts/gate.sh
  scripts/gate_integration_test.go
Due: format-go

test: preserve profile config in gateway harness
  internal/cli/cli_integration_test.go
  internal/cli/gateway_remote_e2e_integration_test.go
Due: format-go

test: fix tests
  sdk/react/src/__tests__/view-renderer.test.tsx
Due: turbo-lint

feat: pass config to child runs
  internal/loop/action_runloop.go
  internal/loop/action_test.go
  internal/loop/coordinator_test.go
  internal/loop/dsl/node_params.go
  internal/loop/linter_actions.go
  internal/loop/linter_test.go
Due: format-go

docs: explain child config overrides
  docs/qa/reports/2026-08-26-child-loop-config-overrides.md
  docs/qa/scenarios/LP-child-loop-config-overrides.md
  packages/site/content/docs/loops/dsl-reference.mdx
  skills/compozy/references/loops.md
Due: none

test: assert child config error
  internal/loop/action_test.go
Due: format-go

test: cover nested runtime typos
  internal/loop/action_test.go
Due: format-go

test: name child config mode cases
  internal/loop/action_test.go
Due: format-go

docs: keep contribution QA-only
  packages/site/content/docs/loops/dsl-reference.mdx
  skills/compozy/references/loops.md
Due: none

fix: close child override surfaces
  docs/qa/charters/CH-author-child-loop-config.md
  docs/qa/reports/2026-08-26-child-loop-config-overrides-web.md
  docs/qa/scenarios/LP-child-loop-config-web-authoring.md
  internal/loop/action_runloop.go
  internal/loop/action_test.go
  internal/loop/linter_test.go
  packages/site/content/docs/loops/dsl-reference.mdx
  packages/site/content/docs/loops/reference-grammar.mdx
  skills/compozy/references/loops.md
  web/src/systems/loops/components/__tests__/loop-editor.test.tsx
  web/src/systems/loops/lib/__tests__/loop-node-schema.test.ts
  web/src/systems/loops/lib/loop-node-fields.ts
Due: turbo-lint, format-go

test: warm web E2E paths
  web/e2e/__tests__/extensions.spec.ts
  web/e2e/__tests__/os-shell.spec.ts
Due: turbo-lint

test: stabilize required E2E lanes
  desktop/e2e/_electron/__tests__/shell.spec.ts
  web/e2e/__tests__/attention.spec.ts
  web/e2e/__tests__/os-shell.spec.ts
  web/e2e/__tests__/profiles.spec.ts
  web/e2e/__tests__/settings.spec.ts
  web/e2e/fixtures/navigation.ts
  web/e2e/fixtures/worktree-repo.ts
Due: turbo-lint

test: serialize loop read E2E journey
  internal/daemon/loop_read_cli_e2e_integration_test.go
Due: format-go

test: clean up loop read fixture runs
  internal/daemon/loop_read_cli_e2e_integration_test.go
Due: format-go

test: retry palette catalog remounts
  web/e2e/__tests__/extensions.spec.ts
Due: turbo-lint

test: drain GC before drag benchmark
  web/e2e/__tests__/os-shell.spec.ts
Due: turbo-lint

test: stabilize E2E startup timing
  desktop/e2e/_electron/__tests__/shell.spec.ts
  web/e2e/__tests__/loops-graph-eng.spec.ts
Due: turbo-lint

test: prevent leaked loop read runs
  internal/daemon/loop_read_cli_e2e_integration_test.go
  web/src/systems/loops/lib/loop-node-fields.ts
Due: turbo-lint, format-go

fix: terminalize runs with failed goal bindings
  internal/store/globaldb/global_db_goal_binding_integration_test.go
  internal/store/globaldb/global_db_task_runagent_cleanup.go
Due: format-go

test: guard child config parity
  internal/loop/action_test.go
Due: format-go

test: force-stop quarantined fixture run
  internal/daemon/loop_read_cli_e2e_integration_test.go
Due: format-go
