Repository compozy/compozy: changes, and which pre-commit hooks are due for each by the changed paths.
All: turbo-lint, format-go

turbo-lint:
  name: turbo lint
  description: Run linting via Turborepo
  entry: bun run lint
  language: system
  pass_filenames: false

format-go:
  name: format go
  description: Format Go files using make fmt
  entry: make fmt
  language: system
  pass_filenames: false

fix: failed tool call crash
  internal/core/agent/client.go
  internal/core/agent/client_test.go
  internal/core/agent/session.go
  internal/core/run/execution.go
  internal/core/run/execution_acp_integration_test.go
Due: format-go

build: fix skills symlink
  .claude/skills
  .gitignore
  Makefile
  scripts/link-skills.sh
Due: none

fix: skills frontmatter
  .agents/skills/cy-create-prd/SKILL.md
  .agents/skills/cy-create-tasks/SKILL.md
  .agents/skills/cy-create-techspec/SKILL.md
  internal/setup/catalog.go
  internal/setup/catalog_test.go
  skills/cy-create-prd/SKILL.md
  skills/cy-create-tasks/SKILL.md
  skills/cy-create-techspec/SKILL.md
  test/skills_bundle_test.go
Due: format-go

ci(release): prepare release v0.1.4 (#39)
  CHANGELOG.md
  package.json
Due: none

feat: add config.toml
  .goreleaser.yml
  README.md
  go.mod
  go.sum
  internal/cli/form.go
  internal/cli/root.go
  internal/cli/workspace_config.go
  internal/cli/workspace_config_test.go
  internal/core/api.go
  internal/core/archive.go
  internal/core/fetch.go
  internal/core/migrate.go
  internal/core/model/model.go
  internal/core/model/model_test.go
  internal/core/plan/input.go
  internal/core/plan/prepare_test.go
  internal/core/reviews/store.go
  internal/core/sync.go
  internal/core/workspace/config.go
  internal/core/workspace/config_test.go
  internal/core/workspace_paths_test.go
  test/release_config_test.go
Due: format-go

docs: update readme
  README.md
Due: none

fix: review round
  .agents/skills/fix-coderabbit-review/SKILL.md
  .agents/skills/fix-coderabbit-review/agents/openai.yaml
  .agents/skills/fix-coderabbit-review/scripts/pr-review.ts
  .agents/skills/fix-coderabbit-review/scripts/resolve_pr_issues.sh
  ai-docs/reviews-pr-40/_summary.md
  ai-docs/reviews-pr-40/issues/001-issue.md
  ai-docs/reviews-pr-40/issues/002-issue.md
  ai-docs/reviews-pr-40/issues/003-issue.md
  ai-docs/reviews-pr-40/issues/004-issue.md
  ai-docs/reviews-pr-40/issues/005-issue.md
  ai-docs/reviews-pr-40/issues/006-issue.md
  internal/cli/form.go
  internal/cli/root.go
  internal/cli/root_test.go
  internal/cli/workspace_config.go
  internal/cli/workspace_config_test.go
  internal/core/workspace/config.go
  internal/core/workspace/config_test.go
  skills-lock.json
  test/release_config_test.go
Due: turbo-lint, format-go

feat: add config.toml (#40)
  .agents/skills/fix-coderabbit-review/SKILL.md
  .agents/skills/fix-coderabbit-review/agents/openai.yaml
  .agents/skills/fix-coderabbit-review/scripts/pr-review.ts
  .agents/skills/fix-coderabbit-review/scripts/resolve_pr_issues.sh
  .goreleaser.yml
  README.md
  ai-docs/reviews-pr-40/_summary.md
  ai-docs/reviews-pr-40/issues/001-issue.md
  ai-docs/reviews-pr-40/issues/002-issue.md
  ai-docs/reviews-pr-40/issues/003-issue.md
  ai-docs/reviews-pr-40/issues/004-issue.md
  ai-docs/reviews-pr-40/issues/005-issue.md
  ai-docs/reviews-pr-40/issues/006-issue.md
  go.mod
  go.sum
  internal/cli/form.go
  internal/cli/root.go
  internal/cli/root_test.go
  internal/cli/workspace_config.go
  internal/cli/workspace_config_test.go
  internal/core/api.go
  internal/core/archive.go
  internal/core/fetch.go
  internal/core/migrate.go
  internal/core/model/model.go
  internal/core/model/model_test.go
  internal/core/plan/input.go
  internal/core/plan/prepare_test.go
  internal/core/reviews/store.go
  internal/core/sync.go
  internal/core/workspace/config.go
  internal/core/workspace/config_test.go
  internal/core/workspace_paths_test.go
  skills-lock.json
  test/release_config_test.go
Due: turbo-lint, format-go

fix: check skills shift before run
  README.md
  internal/cli/root.go
  internal/cli/root_test.go
  internal/cli/setup.go
  internal/cli/skills_preflight.go
  internal/core/run/execution.go
  internal/core/run/execution_acp_integration_test.go
  internal/setup/bundle.go
  internal/setup/runtime_agents.go
  internal/setup/types.go
  internal/setup/verify.go
  internal/setup/verify_test.go
Due: format-go

fix: acp permission
  README.md
  internal/cli/form.go
  internal/cli/form_test.go
  internal/cli/root.go
  internal/cli/root_test.go
  internal/cli/workspace_config.go
  internal/cli/workspace_config_test.go
  internal/core/agent/client.go
  internal/core/agent/client_test.go
  internal/core/agent/registry.go
  internal/core/agent/registry_test.go
  internal/core/agent/session_helpers_test.go
  internal/core/api.go
  internal/core/model/model.go
  internal/core/model/model_test.go
  internal/core/run/command_io.go
  internal/core/run/execution.go
  internal/core/run/types.go
  internal/core/workspace/config.go
  internal/core/workspace/config_test.go
Due: format-go

ci(release): prepare release v0.1.5 (#45)
  CHANGELOG.md
  package.json
Due: none

build: remove ai-docs folder
  .gitignore
  ai-docs/reviews-pr-40/_summary.md
  ai-docs/reviews-pr-40/issues/001-issue.md
  ai-docs/reviews-pr-40/issues/002-issue.md
  ai-docs/reviews-pr-40/issues/003-issue.md
  ai-docs/reviews-pr-40/issues/004-issue.md
  ai-docs/reviews-pr-40/issues/005-issue.md
  ai-docs/reviews-pr-40/issues/006-issue.md
Due: none

fix: improve failures
  README.md
  internal/cli/root.go
  internal/core/agent/client.go
  internal/core/run/command_io.go
  internal/core/run/execution.go
  internal/core/run/execution_acp_integration_test.go
  internal/core/run/execution_acp_test.go
  internal/core/run/logging.go
  internal/core/run/logging_test.go
  internal/core/run/types.go
  internal/core/run/ui_model_test.go
  internal/core/run/ui_update.go
  internal/core/run/ui_update_test.go
  internal/core/run/ui_view.go
  internal/core/run/ui_view_test.go
Due: format-go

ci(release): prepare release v0.1.6 (#47)
  CHANGELOG.md
  package.json
Due: none

feat(build): add AUR support and automation via GoReleaser
  .goreleaser.yml
  aur-pkg/PKGBUILD
  aur-pkg/PKGBUILD-src
  aur-pkg/README.md
  aur-pkg/TODO.md
Due: none

fix: review round
  .compozy/tasks/tasks-changes/_tasks.md
  .compozy/tasks/tasks-changes/_techspec.md
  .compozy/tasks/tasks-changes/task_01.md
  .compozy/tasks/tasks-changes/task_02.md
  .compozy/tasks/tasks-changes/task_03.md
  .compozy/tasks/tasks-changes/task_04.md
  .compozy/tasks/tasks-changes/task_05.md
  .compozy/tasks/tasks-changes/task_06.md
  internal/core/agent/session.go
  internal/core/agent/session_helpers_test.go
  internal/core/agent/tool_call_format.go
  internal/core/run/acp_transcript_test.go
  internal/core/run/logging_test.go
  internal/core/run/session_view_model.go
Due: format-go

Add typed task metadata foundation
  internal/cli/form_test.go
  internal/core/archive_test.go
  internal/core/migrate.go
  internal/core/migrate_test.go
  internal/core/model/model.go
  internal/core/model/model_test.go
  internal/core/plan/input.go
  internal/core/plan/prepare_test.go
  internal/core/prompt/common.go
  internal/core/prompt/prd.go
  internal/core/prompt/prompt_test.go
  internal/core/run/execution_test.go
  internal/core/sync_test.go
  internal/core/tasks/store.go
  internal/core/tasks/store_test.go
  internal/core/tasks/types.go
  internal/core/tasks/types_test.go
  internal/core/workspace/config.go
  internal/core/workspace/config_test.go
  test/public_api_test.go
Due: format-go

fix(aur): resolve CodeRabbit review issues
  .goreleaser.yml
  aur-pkg/PKGBUILD
  aur-pkg/PKGBUILD-src
Due: none

feat: add task validation command
  cmd/compozy/main.go
  command/command.go
  internal/cli/exit.go
  internal/cli/root.go
  internal/cli/root_test.go
  internal/cli/validate_tasks.go
  internal/cli/validate_tasks_test.go
  internal/core/tasks/fix_prompt.go
  internal/core/tasks/fix_prompt_test.go
  internal/core/tasks/testdata/fix_prompt.golden
  internal/core/tasks/testdata/validate_title_h1.golden
  internal/core/tasks/validate.go
  internal/core/tasks/validate_test.go
Due: format-go

Add v1-to-v2 task migration pass
  .compozy/tasks/acp-integration/task_01.md
  .compozy/tasks/acp-integration/task_02.md
  .compozy/tasks/acp-integration/task_03.md
  .compozy/tasks/tasks-changes/_tasks.md
  .compozy/tasks/tasks-changes/task_03.md
  internal/cli/migrate_command_test.go
  internal/cli/root.go
  internal/cli/root_command_execution_test.go
  internal/cli/validate_tasks_test.go
  internal/cli/workspace_config.go
  internal/core/api.go
  internal/core/migrate.go
  internal/core/migrate_test.go
  internal/core/model/model.go
  internal/core/tasks/title.go
  internal/core/tasks/type_remap.go
  internal/core/tasks/validate.go
Due: format-go

Add start validation preflight
  internal/cli/root.go
  internal/cli/root_test.go
  internal/cli/validate_tasks.go
  internal/cli/validate_tasks_test.go
  internal/core/run/preflight.go
  internal/core/run/preflight_test.go
  internal/core/run/validation_form.go
  internal/core/run/validation_form_test.go
Due: format-go

feat: render task metadata in timeline header
  internal/core/model/model.go
  internal/core/plan/prepare.go
  internal/core/plan/prepare_test.go
  internal/core/run/types.go
  internal/core/run/ui_model.go
  internal/core/run/ui_styles.go
  internal/core/run/ui_update.go
  internal/core/run/ui_update_test.go
  internal/core/run/ui_view.go
  internal/core/run/ui_view_test.go
Due: format-go

docs: update task schema v2 guidance
  README.md
  internal/cli/root.go
  internal/cli/root_test.go
  internal/cli/testdata/start_help.golden
  skills/cy-create-tasks/SKILL.md
  skills/cy-create-tasks/references/task-context-schema.md
  skills/cy-create-tasks/references/task-template.md
  test/skills_bundle_test.go
Due: format-go

fix: resolve tasks-changes review batch 001
  .compozy/tasks/tasks-changes/reviews-001/issue_001.md
  .compozy/tasks/tasks-changes/reviews-001/issue_002.md
  internal/core/migrate_test.go
  internal/core/model/model.go
  internal/core/tasks/type_remap.go
  internal/core/tasks/type_remap_test.go
Due: format-go

fix: review round
  .agents/skills/cy-create-tasks/SKILL.md
  .agents/skills/cy-create-tasks/references/task-context-schema.md
  .agents/skills/cy-create-tasks/references/task-template.md
  .compozy/tasks/acp-integration/_meta.md
  .compozy/tasks/tasks-changes/_meta.md
  .compozy/tasks/tasks-changes/_tasks.md
  .compozy/tasks/tasks-changes/memory/MEMORY.md
  .compozy/tasks/tasks-changes/memory/task_01.md
  .compozy/tasks/tasks-changes/memory/task_02.md
  .compozy/tasks/tasks-changes/memory/task_03.md
  .compozy/tasks/tasks-changes/memory/task_04.md
  .compozy/tasks/tasks-changes/memory/task_05.md
  .compozy/tasks/tasks-changes/memory/task_06.md
  .compozy/tasks/tasks-changes/reviews-001/_meta.md
  .compozy/tasks/tasks-changes/task_01.md
  .compozy/tasks/tasks-changes/task_02.md
  .compozy/tasks/tasks-changes/task_04.md
  .compozy/tasks/tasks-changes/task_05.md
  .compozy/tasks/tasks-changes/task_06.md
Due: none

fix: review round 2
  internal/cli/command_context.go
  internal/cli/command_context_test.go
  internal/cli/exit.go
  internal/cli/exit_test.go
  internal/cli/root.go
  internal/cli/root_command_execution_test.go
  internal/cli/validate_tasks.go
  internal/cli/validate_tasks_test.go
  internal/core/plan/prepare.go
  internal/core/plan/prepare_test.go
  internal/core/run/preflight.go
  internal/core/run/preflight_test.go
  internal/core/run/ui_view.go
  internal/core/run/ui_view_test.go
  internal/core/run/validation_form.go
  internal/core/run/validation_form_test.go
Due: format-go

fix: tests
  internal/core/agent/session_helpers_test.go
  internal/core/agent/tool_call_format.go
  internal/core/prompt/prompt_test.go
  internal/core/prompt/templates.go
Due: format-go

feat(build): add AUR support and automation via GoReleaser (#49)
  .goreleaser.yml
  aur-pkg/PKGBUILD
  aur-pkg/PKGBUILD-src
  aur-pkg/README.md
  aur-pkg/TODO.md
Due: none

build: comment AUR release for now
  .github/workflows/release.yml
  .goreleaser.yml
Due: none

ci(release): prepare release v0.1.7 (#55)
  CHANGELOG.md
  package.json
Due: none

refactor: rename idea-factory artifacts from issue to idea
  .agents/skills/cy-create-prd/SKILL.md
  .agents/skills/cy-idea-factory/SKILL.md
  .agents/skills/cy-idea-factory/references/council.md
  .agents/skills/cy-idea-factory/references/idea-template.md
  .agents/skills/cy-idea-factory/references/question-protocol.md
  README.md
  skills/cy-create-prd/SKILL.md
  skills/cy-idea-factory/SKILL.md
  skills/cy-idea-factory/references/council.md
  skills/cy-idea-factory/references/idea-template.md
  skills/cy-idea-factory/references/question-protocol.md
Due: none

feat(agent): add GitHub Copilot CLI as ACP runtime
  compozy.go
  internal/cli/form.go
  internal/cli/root.go
  internal/cli/testdata/start_help.golden
  internal/core/agent/registry.go
  internal/core/api.go
  internal/core/model/model.go
Due: format-go

refactor: rename idea-factory artifacts from issue to idea (#56)
  .agents/skills/cy-create-prd/SKILL.md
  .agents/skills/cy-idea-factory/SKILL.md
  .agents/skills/cy-idea-factory/references/council.md
  .agents/skills/cy-idea-factory/references/idea-template.md
  .agents/skills/cy-idea-factory/references/question-protocol.md
  README.md
  skills/cy-create-prd/SKILL.md
  skills/cy-idea-factory/SKILL.md
  skills/cy-idea-factory/references/council.md
  skills/cy-idea-factory/references/idea-template.md
  skills/cy-idea-factory/references/question-protocol.md
Due: none

feat: add GitHub Copilot CLI as ACP runtime (#57)
  compozy.go
  internal/cli/form.go
  internal/cli/root.go
  internal/cli/testdata/start_help.golden
  internal/core/agent/registry.go
  internal/core/api.go
  internal/core/model/model.go
Due: format-go

ci(release): prepare release v0.1.8 (#59)
  CHANGELOG.md
  package.json
Due: none

Path conditions:
  turbo-lint: any of: \.(js|jsx|ts|tsx)$, but not: (?x)^(
  CHANGELOG.md|
  tools/.*/package\.json|
  bun.lockb|
  node_modules|
)$

  format-go: any of: \.go$, but not: (?x)^(
  CHANGELOG.md|
  tools/.*/package\.json|
  bun.lockb|
  node_modules|
)$

