Repository compozy/compozy: changes, and which pre-commit hooks are due for each by the changed paths.
All: turbo-lint, format-go

turbo-lint:
  name: turbo lint
  description: Run linting via Turborepo
  entry: bun run lint
  language: system
  pass_filenames: false

format-go:
  name: format go
  description: Format Go files using make fmt
  entry: make fmt
  language: system
  pass_filenames: false

fix: rebase
  docs/qa/reports/2026-08-21-profiles-rebase-attention.md
  docs/qa/scenarios/RT-session-attention-catalog.md
  internal/session/query_test.go
  internal/session/session_attention_summary.go
Due: format-go

build: prepare release v0.3.0 (#443)
  .release-notes/archive/v0.3.0/a-burst-of-tool-updates-no-longer-drops-the-provider-1787324898.md
  .release-notes/archive/v0.3.0/a-finished-loop-leaves-nothing-running-1787249321.md
  .release-notes/archive/v0.3.0/a-guarded-history-reference-no-longer-crashes-generation-1-1787249318.md
  .release-notes/archive/v0.3.0/agents-operate-commands-without-the-ui-1787324895.md
  .release-notes/archive/v0.3.0/ask-the-agent-when-nothing-matches-1787324894.md
  .release-notes/archive/v0.3.0/batuta-in-the-marketplace-1787249317.md
  .release-notes/archive/v0.3.0/correct-one-output-repair-one-lane-1787249314.md
  .release-notes/archive/v0.3.0/every-domain-opens-inside-the-palette-1787324891.md
  .release-notes/archive/v0.3.0/extensions-contribute-commands-and-views-1787324893.md
  .release-notes/archive/v0.3.0/fan-out-filters-actually-filter-1787249320.md
  .release-notes/archive/v0.3.0/fan-out-settles-with-an-honest-count-1787249312.md
  .release-notes/archive/v0.3.0/four-runtime-regressions-around-prompts-permissions-and-settlement-1787324901.md
  .release-notes/archive/v0.3.0/loop-inputs-that-know-what-they-point-at-1787249315.md
  .release-notes/archive/v0.3.0/loops-can-stop-and-ask-you-a-question-1787249311.md
  .release-notes/archive/v0.3.0/loops-take-one-path-and-tell-you-why-1787249310.md
  .release-notes/archive/v0.3.0/managed-run-agent-workers-keep-their-lineage-and-let-go-1787324899.md
  .release-notes/archive/v0.3.0/pin-rename-and-bind-any-command-1787324892.md
  .release-notes/archive/v0.3.0/recover-a-loop-owned-task-run-without-losing-its-place-1787324900.md
  .release-notes/archive/v0.3.0/removing-the-suggested-home-folder-no-longer-breaks-the-desktop-1787324897.md
  .release-notes/archive/v0.3.0/runtime-speed-is-part-of-the-runtime-1787249316.md
  .release-notes/archive/v0.3.0/the-command-palette-runs-compozyos-1787324890.md
  .release-notes/archive/v0.3.0/the-daemon-owns-a-managed-workers-outcome-1787249319.md
  .release-notes/archive/v0.3.0/the-interface-speaks-plain-words-at-a-legible-size-1787324896.md
  .release-notes/archive/v0.3.0/time-travel-compare-rerun-and-fork-a-loop-run-1787249313.md
  CHANGELOG.md
  RELEASE_BODY.md
  RELEASE_NOTES.md
  go.mod
  go.sum
Due: none

desktop channel publish 0.3.0-beta.19
  desktop/generation.json
  desktop/latest-linux.yml
  desktop/latest-mac.yml
Due: none

docs: plan loop legibility QA cycle
  docs/qa/automation-backlog/runtime-owned-progress-observer.md
  docs/qa/bugs/BUG-20260719-autonomous-progress-unobservable.md
  docs/qa/charters/CH-loop-legibility-authoring-run-canary.md
  docs/qa/charters/CH-loop-legibility-calm-catalog-parity.md
  docs/qa/charters/CH-loop-legibility-operator-register.md
  docs/qa/charters/CH-loop-legibility-run-default-read.md
  docs/qa/charters/CH-loop-legibility-run-read-resume.md
  docs/qa/charters/CH-loop-legibility-settlement-repair.md
  docs/qa/charters/CH-loop-legibility-tasks-calm-web.md
  docs/qa/journeys/J-diagnose-loop-run-operator.md
  docs/qa/journeys/J-operate-loop-run-headless.md
  docs/qa/journeys/J-supervise-loop-steady-state.md
  docs/qa/scenarios/LP-loop-lifecycle-config-cli.md
  docs/qa/scenarios/LP-run-read-agent-journey.md
  docs/qa/scenarios/LP-runs-roster-server-ordering.md
  docs/qa/scenarios/LP-terminal-loop-settlement.md
  docs/qa/scenarios/LP-web-run-default-read-briefing.md
  docs/qa/scenarios/LP-web-run-operator-register.md
  docs/qa/scenarios/LP-web-runs-roster-rerank.md
  docs/qa/scenarios/TA-task-list-calm-loop-default.md
  docs/qa/scenarios/TA-web-task-detail-loop-provenance.md
  docs/qa/scenarios/TA-web-tasks-calm-default-reveal.md
Due: none

fix: narrow generated loop read filters
  web/src/systems/loops/adapters/loop-roster-filters.ts
  web/src/systems/loops/adapters/loop-run-reads-api.ts
  web/src/systems/loops/adapters/loop-timeline-filters.ts
  web/src/systems/loops/mocks/fixture-run-reads-contract.ts
Due: turbo-lint

feat: add calm task views and loop provenance #04
  docs/qa/scenarios/TA-web-task-detail-loop-provenance.md
  docs/qa/scenarios/TA-web-task-list-loop-subtask-nesting.md
  docs/qa/scenarios/TA-web-tasks-calm-default-reveal.md
  web/e2e/__tests__/tasks.spec.ts
  web/src/systems/os/apps/tasks/tasks-catalog-location.tsx
  web/src/systems/tasks/components-api.ts
  web/src/systems/tasks/components/__tests__/task-card.test.tsx
  web/src/systems/tasks/components/__tests__/task-loop-provenance.test.tsx
  web/src/systems/tasks/components/__tests__/tasks-list-row.test.tsx
  web/src/systems/tasks/components/__tests__/tasks-list-surface.test.tsx
  web/src/systems/tasks/components/public-api.ts
  web/src/systems/tasks/components/stories/fixtures.ts
  web/src/systems/tasks/components/stories/tasks-list-surface.stories.tsx
  web/src/systems/tasks/components/task-card.tsx
  web/src/systems/tasks/components/task-loop-provenance.tsx
  web/src/systems/tasks/components/task-loop-row.tsx
  web/src/systems/tasks/components/task-properties-rail.tsx
  web/src/systems/tasks/components/task-rail-section.tsx
  web/src/systems/tasks/components/task-subtask-list.tsx
  web/src/systems/tasks/components/tasks-list-records-filter.tsx
  web/src/systems/tasks/components/tasks-list-surface.tsx
  web/src/systems/tasks/components/tasks-list-toolbar.tsx
  web/src/systems/tasks/hooks/__tests__/use-tasks-page.test.tsx
  web/src/systems/tasks/hooks/use-tasks-page.ts
  web/src/systems/tasks/index.ts
  web/src/systems/tasks/lib/__tests__/query-keys.test.ts
  web/src/systems/tasks/lib/__tests__/task-hierarchy.test.ts
  web/src/systems/tasks/lib/query-keys.ts
  web/src/systems/tasks/lib/task-catalog-filter.ts
  web/src/systems/tasks/lib/task-formatters.ts
  web/src/systems/tasks/lib/task-hierarchy.ts
  web/src/systems/tasks/lib/task-list-query.ts
  web/src/systems/tasks/lib/task-loop-identity.ts
  web/src/systems/tasks/mocks/__tests__/fixtures.test.ts
  web/src/systems/tasks/mocks/fixtures.ts
  web/src/systems/tasks/mocks/index.ts
  web/src/systems/tasks/mocks/query-responses.ts
  web/src/systems/tasks/types.ts
Due: turbo-lint

fix: expose loop timeline resume bounds
  internal/api/core/loop_read_handlers.go
  internal/api/core/loop_read_handlers_test.go
Due: format-go

fix: update loop briefing duration fixtures
  web/src/systems/loops/components/stories/loop-run-read-builders.ts
  web/src/systems/loops/components/stories/loop-run-vc-fixtures.ts
  web/src/systems/loops/mocks/fixture-run-reads-gated.ts
  web/src/systems/loops/mocks/fixture-run-reads.ts
Due: turbo-lint

fix: quote loop unblocker payloads for shells
  internal/loop/briefing.go
  internal/loop/briefing_test.go
Due: format-go

fix: print runnable loop request unblockers
  internal/loop/briefing.go
  internal/loop/briefing_test.go
Due: format-go

fix: observe runtime progress from public reads
  .agents/skills/eng/eng-real-scenario-qa/SKILL.md
  .agents/skills/eng/eng-real-scenario-qa/scripts/observe-runtime.py
  .agents/skills/eng/eng-real-scenario-qa/scripts/test_observe_runtime.py
  docs/qa/automation-backlog/runtime-owned-progress-observer.md
  docs/qa/bugs/BUG-20260719-autonomous-progress-unobservable.md
  docs/qa/reports/2026-08-21-loop-task-legibility.md
  docs/qa/scenarios/LP-run-read-agent-journey.md
  docs/qa/scenarios/LP-runs-roster-server-ordering.md
  docs/qa/scenarios/LP-web-run-default-read-briefing.md
  docs/qa/scenarios/LP-web-run-operator-register.md
  docs/qa/scenarios/RT-073.md
Due: none

fix: requeue expired loop coordinators
  internal/store/globaldb/global_db_task_claim_test.go
  internal/store/globaldb/global_db_task_lease_recovery.go
Due: format-go

fix: remediate loop runtime QA findings
  docs/qa/bugs/BUG-20260719-autonomous-progress-unobservable.md
  docs/qa/bugs/BUG-20260821-loop-unblocker-invalid-json.md
  docs/qa/reports/2026-08-21-loop-task-legibility.md
  docs/qa/scenarios/LP-run-read-agent-journey.md
  docs/qa/scenarios/LP-runs-roster-server-ordering.md
  internal/cli/loop_requests.go
  internal/cli/loop_test.go
  internal/loop/briefing.go
  internal/loop/briefing_test.go
  internal/store/globaldb/global_db_task_claim_test.go
  packages/site/content/docs/loops/human-requests.mdx
  skills/compozy/references/loops.md
Due: format-go

fix: give the loop run page the history and causes its rows claim
  web/src/systems/loops/components/__tests__/loop-run-page.test.tsx
  web/src/systems/loops/components/run-page/inspect/loop-node-roster.tsx
  web/src/systems/loops/components/stories/loop-run-scenario-props.ts
  web/src/systems/loops/components/stories/loop-run-timeline-from-frames.ts
  web/src/systems/loops/components/stories/loop-run-vc-fixtures.ts
  web/src/systems/loops/lib/__tests__/loop-run-roster-table.test.ts
  web/src/systems/loops/lib/loop-node-panel-view.ts
  web/src/systems/loops/lib/loop-run-roster-table.ts
Due: turbo-lint

fix: ignore loop heartbeat events in observer
  .agents/skills/eng/eng-real-scenario-qa/scripts/observe-runtime.py
  .agents/skills/eng/eng-real-scenario-qa/scripts/test_observe_runtime.py
Due: none

docs: close loop runtime QA lab
  docs/qa/reports/2026-08-21-loop-task-legibility.md
Due: none

fix: harden runtime observer contracts
  .agents/skills/eng/eng-real-scenario-qa/SKILL.md
  .agents/skills/eng/eng-real-scenario-qa/scripts/observe-runtime.py
  .agents/skills/eng/eng-real-scenario-qa/scripts/test_observe_runtime.py
Due: none

fix: label unnamed loop briefing outputs
  docs/qa/bugs/BUG-20260821-loop-briefing-empty-output-labels.md
  internal/loop/briefing.go
  internal/loop/briefing_test.go
Due: format-go

docs: record loop runtime QA phase
  docs/qa/bugs/BUG-20260821-coordinator-lease-exhausted.md
  docs/qa/bugs/BUG-20260821-loop-timeline-head-omitted.md
  docs/qa/bugs/BUG-20260821-loop-unblocker-invalid-json.md
  docs/qa/bugs/BUG-20260821-sessionless-lease-recovery.md
  docs/qa/reports/2026-08-21-loop-task-legibility.md
  docs/qa/scenarios/LP-loop-lifecycle-config-cli.md
  docs/qa/scenarios/LP-loop-run-deep-link.md
  docs/qa/scenarios/LP-run-read-agent-journey.md
  docs/qa/scenarios/LP-runs-roster-server-ordering.md
  docs/qa/scenarios/LP-terminal-loop-settlement.md
  docs/qa/scenarios/TA-task-list-calm-loop-default.md
  skills/compozy/references/loops.md
Due: none

fix: recover sessionless task leases
  internal/store/globaldb/global_db_task_claim_test.go
  internal/store/globaldb/queries/task_claim.sql
  internal/store/globaldb/sqlcgen/task_claim.sql.go
Due: format-go

fix: make loop run stories stage the state they claim
  web/src/systems/loops/components/__tests__/loop-run-page.test.tsx
  web/src/systems/loops/components/__tests__/loop-runs-view.test.tsx
  web/src/systems/loops/components/run-page/inspect/loop-node-roster.tsx
  web/src/systems/loops/components/run-page/loop-run-needs-you-card.tsx
  web/src/systems/loops/components/run-page/requests/loop-request-card.tsx
  web/src/systems/loops/components/runs/loop-runs-view.tsx
  web/src/systems/loops/components/stories/loop-run-deep-graph-fixtures.ts
  web/src/systems/loops/components/stories/loop-run-graph-eng-fixtures.ts
  web/src/systems/loops/components/stories/loop-run-page-fixture-world.ts
  web/src/systems/loops/components/stories/loop-run-read-builders.ts
  web/src/systems/loops/components/stories/loop-run-register-fixtures.ts
  web/src/systems/loops/components/stories/loop-run-registers.stories.tsx
  web/src/systems/loops/components/stories/loop-run-vc-fixtures.ts
  web/src/systems/loops/components/stories/loop-runs.stories.tsx
  web/src/systems/loops/lib/__tests__/loop-request-model.test.ts
  web/src/systems/loops/lib/__tests__/loop-run-roster-table.test.ts
  web/src/systems/loops/lib/loop-request-model.ts
  web/src/systems/loops/lib/loop-run-roster-table.ts
  web/src/systems/loops/mocks/fixtures.ts
  web/src/systems/os/apps/loops/loop-runs-location.tsx
Due: turbo-lint

fix: put the dozens in the active group the scale contract names
  web/src/systems/loops/components/__tests__/loop-runs-view.test.tsx
  web/src/systems/loops/components/stories/loop-runs-scale-fixtures.ts
  web/src/systems/loops/components/stories/loop-runs.stories.tsx
Due: turbo-lint

fix: require every run-page story to stage its served verdict
  web/src/systems/loops/components/__tests__/loop-run-page.test.tsx
  web/src/systems/loops/components/stories/loop-run-graph-eng-fixtures.ts
  web/src/systems/loops/components/stories/loop-run-lifecycle-fixtures.ts
  web/src/systems/loops/components/stories/loop-run-lifecycle-payloads.ts
  web/src/systems/loops/components/stories/loop-run-metric-fixtures.ts
  web/src/systems/loops/components/stories/loop-run-page-fixtures.ts
  web/src/systems/loops/components/stories/loop-run-page.stories.tsx
  web/src/systems/loops/components/stories/loop-run-read-builders.ts
  web/src/systems/loops/components/stories/loop-run-register-fixtures.ts
  web/src/systems/loops/components/stories/loop-run-scenario-props.ts
  web/src/systems/loops/components/stories/loop-run-scenario-types.ts
Due: turbo-lint

test: refresh catalog subtest contexts
  internal/store/globaldb/global_db_task_test.go
Due: format-go

fix: address review findings
  internal/acp/client_prompt_contract_test.go
  internal/hooks/events_test.go
  internal/session/manager_hooks_lifecycle_test.go
  internal/session/manager_prompt_delivery.go
  internal/session/manager_prompt_lifetime_test.go
  internal/session/manager_prompt_recovery.go
  internal/session/manager_prompt_state.go
  internal/session/manager_test.go
  internal/session/provider_runtime_test.go
  internal/store/globaldb/global_db_test.go
Due: format-go

fix: lint errors
  internal/daemon/sandbox_reconcile.go
  internal/daemon/sandbox_reconcile_helpers.go
  internal/daemon/sandbox_reconcile_session_projection.go
  internal/daemon/sandbox_reconcile_state.go
  internal/observe/reconcile.go
  internal/providerexec/native_cli.go
  internal/providerexec/native_cli_test.go
  internal/testutil/acpmock/fixture_prompt_strip.go
  internal/testutil/acpmock/fixture_test.go
Due: format-go

Path conditions:
  turbo-lint: any of: \.(js|jsx|ts|tsx)$, but not: (?x)^(
  CHANGELOG.md|
  tools/.*/package\.json|
  bun.lockb|
  node_modules|
)$

  format-go: any of: \.go$, but not: (?x)^(
  CHANGELOG.md|
  tools/.*/package\.json|
  bun.lockb|
  node_modules|
)$

