Repository compozy/compozy: changes, and which pre-commit hooks are due for each by the changed paths.
All: turbo-lint, format-go

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit

default_stages:
  - pre-commit

exclude: |
  (?x)^(
    CHANGELOG.md|
    tools/.*/package\.json|
    bun.lockb|
    node_modules|
  )$

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      # - id: trailing-whitespace
      #   args:
      #     - --no-utf8-locale
      - id: end-of-file-fixer
        exclude: '^(CHANGELOG\.md|tools/.*/package\.json|bun\.lockb|node_modules/)'
      - id: check-json
        exclude: '^(tools/.*/package\.json|node_modules/)'
      - id: check-toml
      - id: check-added-large-files
        args:
          - --maxkb=3000
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: detect-private-key
  - repo: local
    hooks:
      - id: turbo-lint
        name: turbo lint
        description: Run linting via Turborepo
        entry: bun run lint
        language: system
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false
      # - id: turbo-type-check
      #   name: turbo type check
      #   description: Run TypeScript checking via Turborepo
      #   entry: bun run type-check
      #   language: system
      #   files: \.(ts|tsx)$
      #   pass_filenames: false
      - id: format-go
        name: format go
        description: Format Go files using make fmt
        entry: make fmt
        language: system
        files: \.go$
        pass_filenames: false
  - repo: https://github.com/lyz-code/yamlfix/
    rev: 1.17.0
    hooks:
      - id: yamlfix
        args:
          - -c
          - .yamlfix.toml
        exclude: ^cluster/.*$

fix(repo): PR suggestions
  CHANGELOG.md
  README.md
  cli/cmd/config/config.go
  cli/cmd/dev/dev.go
  cli/helpers/paths.go
  engine/auth/router/register.go
  engine/infra/postgres/migrations/20250916090000_add_task_state_query_indexes.sql
  engine/infra/postgres/taskrepo.go
  engine/infra/postgres/workflowrepo.go
  engine/infra/server/middleware.go
  engine/infra/server/mod.go
  engine/infra/server/router/errors.go
  engine/infra/server/router/helpers.go
  engine/llm/config.go
  engine/llm/orchestrator.go
  engine/llm/orchestrator_structured_output_test.go
  engine/task/activities/collection_state.go
  engine/task/activities/composite_state.go
  engine/task/activities/response_helpers_test.go
  engine/task/uc/create_child.go
  engine/worker/activities/dispatcher_heartbeat.go
  engine/worker/mod.go
  engine/workflow/router/events.go
  engine/workflow/router/execs.go
  engine/workflow/router/ready_guard.go
  pkg/config/config.go
  pkg/config/config_test.go
  pkg/config/loader.go
  pkg/mcp-proxy/mcp_proxy.go
  pkg/mcp-proxy/storage.go
  pkg/mcp-proxy/storage_factory.go
  pkg/mcp-proxy/storage_test.go
  test/integration/llm/mcp_strict_mode_test.go
  test/integration/repo/repo_test_helpers.go
  test/integration/repo/task_test.go
  test/integration/repo/workflow_test.go
  test/integration/server/ratelimit_setup_test.go
  test/integration/store/migrations_test.go
  test/integration/worker/helpers/common.go
Due: format-go

docs(repo): Fix CHANGELOG.md
  CHANGELOG.md
Due: none

ci(release): Release v0.0.13 (#239)
  CHANGELOG.md
  package.json
  tools/delete-file/package.json
  tools/exec/package.json
  tools/fetch/package.json
  tools/grep/package.json
  tools/list-dir/package.json
  tools/list-files/package.json
  tools/read-file/package.json
  tools/write-file/package.json
Due: none

fix(agent): Propagate CWD to agent tools
  engine/agent/config.go
  schemas/cache.json
  schemas/compozy.json
  schemas/config.json
Due: format-go

ci(release): Release v0.0.14 (#255)
  CHANGELOG.md
  package.json
  tools/delete-file/package.json
  tools/exec/package.json
  tools/fetch/package.json
  tools/grep/package.json
  tools/list-dir/package.json
  tools/list-files/package.json
  tools/read-file/package.json
  tools/write-file/package.json
Due: none

fix(repo): Dispatcher uniqueness
  engine/infra/server/mod.go
  engine/infra/server/register.go
  engine/worker/activities.go
  engine/worker/mod.go
  engine/workflow/activities/complete.go
  engine/workflow/config.go
  examples/weather/api.http
  package.json
Due: format-go

refactor(server): Split files
  engine/infra/server/README.md
  engine/infra/server/dependencies.go
  engine/infra/server/lifecycle.go
  engine/infra/server/mcp.go
  engine/infra/server/middleware/cors/middleware.go
  engine/infra/server/middleware/logger/middleware.go
  engine/infra/server/middleware/project/middleware.go
  engine/infra/server/mod.go
  engine/infra/server/readiness.go
  engine/infra/server/reg_auth.go
  engine/infra/server/reg_components.go
  engine/infra/server/reg_config.go
  engine/infra/server/reg_diagnostics.go
  engine/infra/server/reg_docs.go
  engine/infra/server/reg_health.go
  engine/infra/server/reg_webhooks.go
  engine/infra/server/register.go
  engine/infra/server/router.go
  engine/infra/server/server.go
  engine/infra/server/utils.go
  engine/infra/server/worker.go
  engine/worker/activities.go
  engine/worker/mod.go
  engine/workflow/activities/complete.go
  examples/weather/api.http
Due: format-go

fix(repo): PR suggestions
  .cursor/rules/compozy/environment-config.mdc
  cli/cmd/config/config.go
  cli/cmd/init/init.go
  cli/help/troubleshooting.md
  cli/helpers/flag_categories.go
  docs/content/docs/cli/dev-commands.mdx
  docs/content/docs/core/deployment/docker.mdx
  engine/auth/router/register.go
  engine/infra/server/dependencies.go
  engine/infra/server/lifecycle.go
  engine/infra/server/mcp.go
  engine/infra/server/middleware/auth/middleware.go
  engine/infra/server/middleware/auth/workflow.go
  engine/infra/server/middleware/cors/middleware.go
  engine/infra/server/middleware/ratelimit/config.go
  engine/infra/server/readiness.go
  engine/infra/server/reg_auth.go
  engine/infra/server/reg_components.go
  engine/infra/server/reg_config.go
  engine/infra/server/reg_diagnostics.go
  engine/infra/server/reg_docs.go
  engine/infra/server/reg_health.go
  engine/infra/server/register.go
  engine/infra/server/router.go
  engine/infra/server/routes/routes.go
  engine/infra/server/server.go
  engine/infra/server/worker.go
  engine/worker/mod.go
  engine/workflow/activities/complete.go
  pkg/config/config.go
  pkg/config/definition/schema.go
  pkg/config/loader.go
  pkg/config/provider.go
  pkg/mcp-proxy/client_manager.go
  pkg/mcp-proxy/client_manager_test.go
  pkg/mcp-proxy/mcp_proxy.go
  pkg/template/templates/basic/api.http.tmpl
  pkg/template/templates/basic/basic.go
  pkg/template/templates/basic/compozy.yaml.tmpl
  pkg/template/templates/basic/workflow.yaml.tmpl
Due: format-go

ci(release): Release v0.0.15 (#257)
  CHANGELOG.md
  package.json
  tools/delete-file/package.json
  tools/exec/package.json
  tools/fetch/package.json
  tools/grep/package.json
  tools/list-dir/package.json
  tools/list-files/package.json
  tools/read-file/package.json
  tools/write-file/package.json
Due: none

docs(repo): Update schema
  docs/docs.go
  docs/swagger.json
  docs/swagger.yaml
  schemas/compozy.json
  schemas/config-database.json
  schemas/config-server.json
  schemas/config.json
Due: format-go

feat(repo): Task #1 for prd-refs
  .claude/agents/prd/prd-tasks-creator.md
  engine/resources/store.go
  engine/resources/store_test.go
  package.json
Due: format-go

feat(repo): Task #2 for prd-refs
  engine/resources/memory_store.go
  engine/resources/memory_store_test.go
Due: format-go

feat(repo): Task #3 for prd-refs
  engine/core/hash.go
  engine/llm/orchestrator.go
  engine/resources/memory_store.go
  engine/resources/redis_store.go
  engine/resources/redis_store_test.go
  engine/resources/store.go
Due: format-go

feat(repo): Task #4 for prd-refs
  engine/agent/config.go
  engine/agent/config_test.go
  engine/core/loader.go
  engine/infra/server/config/resolver.go
  engine/infra/server/config/service.go
  engine/task/config.go
  engine/task/config_test.go
  engine/task/fixtures/basic_task.yaml
  engine/task/fixtures/basic_task_combined.yaml
  engine/task/fixtures/basic_task_prompt_only.yaml
  engine/task/fixtures/parallel_task.yaml
  engine/task/fixtures/ref_task.yaml
  engine/tool/config.go
  engine/tool/config_test.go
  engine/workflow/activities/complete.go
  engine/workflow/config.go
  engine/workflow/config_test.go
  engine/workflow/fixtures/basic_workflow.yaml
  engine/workflow/fixtures/mcp_workflow.yaml
Due: format-go

feat(repo): Task #5 for prd-refs
  engine/resources/memory_store.go
  engine/task/config.go
  engine/workflow/compile_test.go
  engine/workflow/config.go
Due: format-go

feat(repo): Task #6 for prd-refs
  engine/autoload/registry.go
  engine/infra/server/config/service.go
  engine/project/indexer.go
  engine/project/indexer_test.go
  engine/workflow/indexer.go
  engine/workflow/indexer_test.go
Due: format-go

feat(repo): Task #7 for prd-refs
  engine/agent/config.go
  engine/core/provider.go
  engine/task/config.go
  engine/tool/config.go
  engine/workflow/compile_test.go
  engine/workflow/config.go
Due: format-go

feat(repo): Task #8 for prd-refs
  engine/workflow/compile_test.go
  engine/workflow/config.go
Due: format-go

feat(repo): Task #9 for prd-refs
  engine/core/config.go
  engine/schema/schema.go
  engine/task/config.go
  engine/workflow/compile_test.go
  engine/workflow/config.go
  examples/code-reviewer/workflows/review.yaml
  examples/github/workflows/mcp.yaml
  examples/github/workflows/webhooks.yaml
  examples/memory/basic-memory.yaml
  examples/memory/memory-api.yaml
  examples/nested-tasks/workflow.yaml
  examples/pokemon/workflow.yaml
  examples/schedules/hello-scheduler.yaml
  examples/signals/receiver-workflow.yaml
  examples/wait-task/workflow.yaml
  examples/weather/workflow.yaml
  scripts/update_examples.sh
Due: format-go

refactor(workflow): Resolvers algorithm
  engine/workflow/resolvers.go
  go.mod
  go.sum
Due: format-go

feat(repo): Add resources API
  .cursor/rules/go-coding-standards.mdc
  docs/docs.go
  docs/swagger.json
  docs/swagger.yaml
  engine/infra/server/appstate/state.go
  engine/infra/server/config/service.go
  engine/infra/server/dependencies.go
  engine/infra/server/reg_components.go
  engine/infra/server/router/errors.go
  engine/infra/server/router/helpers.go
  engine/resources/router/handlers.go
  engine/resources/router/register.go
  engine/resources/router/router_test.go
  engine/resources/uc/create.go
  engine/resources/uc/delete.go
  engine/resources/uc/errors.go
  engine/resources/uc/get.go
  engine/resources/uc/list.go
  engine/resources/uc/put.go
  engine/resources/uc/validators.go
  schemas/agent.json
Due: format-go

feat(repo): Task #14 for prd-refs
  engine/agent/router/agents.go
  engine/infra/server/appstate/state.go
  engine/infra/server/config/service.go
  engine/infra/server/config/service_test.go
  engine/infra/server/reg_config.go
  engine/infra/server/reg_webhooks.go
  engine/project/config.go
  engine/project/opts.go
  engine/task/router/tasks.go
  engine/tool/router/tools.go
  engine/workflow/router/workflows.go
  pkg/config/config.go
  pkg/config/definition/schema.go
  tasks/docs/_prd-template.md
  tasks/docs/_task-template.md
  tasks/docs/_tasks-template.md
  tasks/docs/_techspec-template.md
Due: format-go

feat(repo): Task #15 for prd-refs
  Makefile
  engine/infra/server/appstate/state.go
  engine/infra/server/dependencies.go
  engine/infra/server/reconciler/reconciler.go
  engine/infra/server/reconciler/reconciler_test.go
Due: format-go

feat(repo): Task #16 for prd-refs
  engine/infra/server/reg_admin.go
  engine/infra/server/reg_admin_helpers.go
  engine/infra/server/reg_admin_test.go
  engine/infra/server/register.go
Due: format-go

feat(repo): Task #17 for prd-refs
  cli/api/client.go
  cli/cmd/admin/admin.go
  cli/root.go
  engine/infra/server/reg_admin.go
  engine/infra/server/reg_admin_export.go
  engine/infra/server/reg_admin_import.go
  engine/resources/exporter/exporter.go
  engine/resources/exporter/exporter_test.go
  engine/resources/importer/importer.go
  engine/resources/importer/importer_test.go
  engine/resources/store.go
Due: format-go

feat(repo): Task #18 for prd-refs
  engine/agent/config.go
  engine/agent/config_test.go
  engine/agent/fixtures/agent_mcps_dual.yaml
  engine/mcp/config.go
  engine/workflow/compile_test.go
  engine/workflow/resolvers.go
  pkg/schemagen/main.go
  schemas/action-config.json
  schemas/agent.json
  schemas/author.json
  schemas/autoload.json
  schemas/cache.json
  schemas/compozy.json
  schemas/config-cli.json
  schemas/config-database.json
  schemas/config-limits.json
  schemas/config-llm.json
  schemas/config-memory.json
  schemas/config-ratelimit.json
  schemas/config-server.json
  schemas/config-temporal.json
  schemas/config.json
  schemas/mcp.json
  schemas/memory.json
  schemas/monitoring.json
  schemas/project-options.json
  schemas/project.json
  schemas/provider.json
  schemas/runtime.json
  schemas/task.json
  schemas/tool.json
  schemas/webhook.json
  schemas/workflow.json
Due: format-go

feat(repo): Task #19 for prd-refs
  engine/agent/config.go
  engine/agent/config_test.go
  engine/agent/validators.go
  engine/agent/validators_test.go
  engine/core/memory.go
  engine/memory/config.go
  engine/memory/config_resolver.go
  engine/project/README.md
  engine/project/config.go
  engine/project/indexer.go
  engine/project/memories_test.go
  engine/task/uc/memory_resolver.go
  examples/memory/basic-memory.yaml
  examples/memory/compozy.yaml
  examples/memory/memory-api.yaml
  examples/memory/memory/privacy_example.yaml
  examples/memory/memory/token_provider_example.yaml
  examples/memory/memory/user_memory.yaml
  pkg/schemagen/main.go
  schemas/action-config.json
  schemas/agent.json
  schemas/author.json
  schemas/compozy.json
  schemas/config-ratelimit.json
  schemas/config-server.json
  schemas/config.json
  schemas/memory.json
  schemas/project-options.json
  schemas/project.json
  schemas/provider.json
  schemas/task.json
  schemas/tool.json
  schemas/webhook.json
  schemas/workflow.json
Due: format-go

feat(repo): Task #20 for prd-refs
  engine/agent/uc/agents_test.go
  engine/autoload/registry.go
  engine/infra/server/reg_admin.go
  engine/infra/server/reg_admin_meta.go
  engine/infra/server/reg_admin_meta_test.go
  engine/project/indexer.go
  engine/project/indexer_test.go
  engine/resources/memory_store.go
  engine/resources/memory_store_extra_test.go
  engine/resources/meta.go
  engine/resources/meta_extra_test.go
  engine/resources/redis_store.go
  engine/resources/redis_store_test.go
  engine/resources/router/router_test.go
  engine/resources/store.go
  engine/resources/store_test.go
  engine/resources/uc/create.go
  engine/resources/uc/crud_test.go
  engine/resources/uc/meta_test.go
  engine/resources/uc/put.go
  engine/resources/uc/validators_test.go
  engine/schema/schema.go
  engine/task/config.go
  engine/workflow/indexer.go
  test/integration/resources/http_crud_test.go
Due: format-go

build(repo): Remove old directives mentions
  .claude/agents/compozy-rules-expert.md
  .claude/commands/docs-enhance.md
  .cursor/rules/compozy/agent-config.mdc
  .cursor/rules/compozy/examples.mdc
  .cursor/rules/compozy/mcp-server.mdc
  .cursor/rules/compozy/scheduling.mdc
  .cursor/rules/compozy/task-patterns.mdc
  .cursor/rules/compozy/tool-config.mdc
  .cursor/rules/project-structure.mdc
  docs/content/docs/cli/config-commands.mdx
  docs/docs.go
  docs/src/components/lp/features-section.tsx
  docs/swagger.json
  docs/swagger.yaml
  engine/task/fixtures/parallel_task.yaml
  engine/workflow/README.md
  pkg/template/templates/basic/workflow.yaml.tmpl
  schemas/memory.json
  tools/README.md
  tools/exec/example.yaml
Due: turbo-lint, format-go

fix(repo): Task prompt-only
  .cursor/rules/compozy/agent-config.mdc
  .cursor/rules/compozy/api-index.mdc
  .cursor/rules/compozy/api-resources.mdc
  .cursor/rules/compozy/api-webhooks.mdc
  .cursor/rules/compozy/attachments.mdc
  .cursor/rules/compozy/environment-config.mdc
  .cursor/rules/compozy/examples.mdc
  engine/infra/server/dependencies.go
  engine/infra/server/reg_admin.go
  engine/workflow/compile_test.go
  engine/workflow/config.go
Due: format-go

fix(repo): PR suggestions
  .cursor/commands/pr-fix.md
  docs/docs.go
  docs/swagger.json
  docs/swagger.yaml
  engine/core/loader.go
  engine/core/loader_test.go
  engine/infra/server/config/service.go
  engine/infra/server/constants.go
  engine/infra/server/reconciler/reconciler.go
  engine/infra/server/reconciler/reconciler_test.go
  engine/infra/server/reg_admin.go
  engine/infra/server/reg_admin_import.go
  engine/infra/server/reg_webhooks.go
  engine/llm/tool.go
  engine/resources/importer/importer.go
  engine/resources/memory_store.go
  engine/resources/meta_extra_test.go
  engine/resources/redis_store.go
  engine/resources/router/handlers.go
  engine/resources/router/register.go
  engine/resources/store.go
  engine/resources/store_test.go
  engine/resources/uc/create.go
  engine/resources/uc/crud_test.go
  engine/resources/uc/get.go
  engine/resources/uc/put.go
  engine/task/uc/exec_task_test.go
  engine/task/uc/memory_resolver.go
  engine/task/uc/memory_resolver_test.go
  engine/tool/README.md
  engine/tool/config.go
  engine/tool/timeout_test.go
  engine/workflow/config.go
  go.mod
  pkg/config/config.go
  pkg/config/manager.go
  scripts/pr-review.ts
  scripts/resolve_pr_threads.sh
  test/integration/memory/agent_memory_test.go
Due: turbo-lint, format-go

fix(repo): PR suggestions
  engine/core/loader.go
  engine/infra/server/reconciler/reconciler.go
  engine/llm/tool.go
  engine/resources/redis_store.go
  engine/task/uc/memory_resolver.go
  engine/task/uc/memory_resolver_test.go
  engine/tool/config.go
  engine/tool/timeout_test.go
  engine/workflow/config.go
  scripts/pr_review.sh
  scripts/solve-pr-issues.ts
Due: turbo-lint, format-go

fix(repo): PR suggestions
  engine/core/loader.go
  engine/core/loader_test.go
  engine/infra/server/config/service.go
  engine/infra/server/reconciler/reconciler.go
  engine/memory/store/redis_test.go
  engine/resources/redis_store.go
  engine/task/uc/memory_resolver.go
  engine/task/uc/memory_resolver_test.go
  engine/tool/config.go
  engine/tool/timeout_test.go
  engine/workflow/activities/complete.go
  engine/workflow/config.go
  engine/workflow/config_test.go
  engine/workflow/validators_test.go
  scripts/solve-pr-issues.ts
  test/integration/memory/exec_memory_integration_test.go
  test/integration/memory/memory_resolver_integration_test.go
  test/integration/memory/redis_memory_store_test.go
Due: turbo-lint, format-go

fix(repo): Route task
  engine/workflow/config.go
Due: format-go
