Repository compozy/compozy: changes, and which pre-commit hooks are due for each by the changed paths.
All: turbo-lint, turbo-type-check, format-go

turbo-lint:
  name: turbo lint
  description: Run linting via Turborepo
  entry: turbo run lint --concurrency=1
  language: system
  pass_filenames: false

turbo-type-check:
  name: turbo type check
  description: Run TypeScript checking via Turborepo
  entry: turbo run type-check --concurrency=1
  language: system
  pass_filenames: false

format-go:
  name: format go
  description: Format Go files using make fmt
  entry: make fmt
  language: system
  pass_filenames: false

ci(release): Release v0.0.10 (#214)
  CHANGELOG.md
  package.json
  tools/delete-file/package.json
  tools/exec/package.json
  tools/fetch/package.json
  tools/grep/package.json
  tools/list-dir/package.json
  tools/list-files/package.json
  tools/read-file/package.json
  tools/write-file/package.json
Due: none

build(repo): Lint warnings
  docs/swagger.json
Due: none

build(repo): Remove not needed
  engine/runtime/scripts/simple_entrypoint.ts
  engine/runtime/scripts/simple_test.ts
  engine/runtime/scripts/simple_test/main.go
  engine/runtime/scripts/test_claude_code.ts
  engine/runtime/scripts/test_entrypoint.ts
  engine/runtime/scripts/test_runtime.go
Due: turbo-lint, turbo-type-check, format-go

fix(repo): Fix deep copy
  engine/core/config.go
  engine/core/copy.go
  engine/task2/collection/context_builder.go
  engine/task2/collection/expander.go
  test/helpers/database.go
Due: format-go

fix(repo): CodeRabbit suggestions #3
  engine/infra/store/taskrepo.go
  engine/runtime/bun_manager.go
  engine/runtime/config.go
  engine/task/activities/update_child_state.go
  engine/task/cel_evaluator.go
  engine/task2/collection/config_builder.go
  engine/task2/shared/context.go
  engine/task2/shared/response_handler.go
  go.mod
  go.sum
  pkg/ref/evaluator.go
  pkg/release/internal/orchestrator/dry_run.go
  pkg/tplengine/engine.go
  test/integration/repo/task_test.go
Due: format-go

fix(repo): CodeRabbit suggestions #4
  cli/helpers/cliutils.go
  engine/core/config.go
  engine/core/copy.go
  engine/core/copy_test.go
  engine/core/test_context.go
  engine/llm/adapter/dynamic_mock.go
  engine/runtime/bun/worker.tpl.ts
  engine/runtime/config.go
  engine/task/activities/exec_basic.go
  engine/task/activities/exec_subtask.go
  engine/task/activities/update_child_state.go
  engine/task/uc/exec_task.go
  engine/task2/basic/normalizer.go
  engine/task2/core/agent_normalizer.go
  engine/task2/shared/base_subtask_normalizer.go
  engine/task2/shared/context.go
  engine/task2/shared/transaction_service.go
  engine/workflow/router/register.go
  go.mod
  go.sum
  pkg/release/internal/orchestrator/dry_run.go
  pkg/tplengine/converter.go
  pkg/tplengine/engine.go
  pkg/tplengine/engine_task_reference_test.go
  pkg/tplengine/engine_test.go
  test/helpers/database.go
  test/integration/worker/helpers/common.go
Due: turbo-lint, turbo-type-check, format-go

fix(repo): Fetch tags for release
  .github/workflows/release.yml
  pkg/release/internal/orchestrator/pr_release.go
  pkg/release/internal/repository/git_impl.go
  pkg/release/internal/service/cliff_impl.go
  pkg/release/internal/usecase/check_changes.go
Due: format-go

ci(release): Release v0.0.11 (#230)
  CHANGELOG.md
  package.json
  tools/delete-file/package.json
  tools/exec/package.json
  tools/fetch/package.json
  tools/grep/package.json
  tools/list-dir/package.json
  tools/list-files/package.json
  tools/read-file/package.json
  tools/write-file/package.json
Due: none

docs(repo): Improve responsive
  .pre-commit-config.yaml
  .prettierignore
  Makefile
  docs/content/docs/core/getting-started/first-workflow.mdx
  docs/src/app/global.css
  docs/src/app/layout.tsx
  docs/src/components/bento/bento-grid.tsx
  docs/src/components/lp/features-section.tsx
  docs/src/components/lp/footer.tsx
  docs/src/components/lp/hero-section.tsx
  docs/src/components/lp/hero-text.tsx
  docs/src/components/lp/pricing.tsx
  package.json
  pkg/release/internal/repository/git_impl.go
  pkg/release/internal/usecase/check_changes_test.go
Due: turbo-lint, turbo-type-check, format-go

docs(repo): Add alpha badge
  docs/src/app/layout.config.tsx
Due: turbo-lint, turbo-type-check

docs(repo): Add product hunt badge
  docs/src/components/lp/features-section.tsx
  docs/src/components/lp/hero-section.tsx
  schemas/compozy.json
  schemas/config-database.json
  schemas/config.json
Due: turbo-lint, turbo-type-check

docs(repo): Remove homebrew install for now
  docs/content/docs/core/getting-started/installation.mdx
Due: none

docs(repo): General adjustments
  cli/cmd/start/start.go
  docs/content/docs/core/configuration/monitoring.mdx
  docs/content/docs/core/configuration/project-setup.mdx
  docs/content/docs/core/deployment/docker.mdx
  docs/content/docs/core/getting-started/quick-start.mdx
  docs/content/docs/core/mcp/admin-api.mdx
  docs/content/docs/core/mcp/integration-patterns.mdx
  docs/content/docs/core/mcp/mcp-proxy-server.mdx
  docs/content/docs/core/mcp/overview.mdx
  docs/content/docs/core/mcp/security-authentication.mdx
  docs/content/docs/core/mcp/transport-configuration.mdx
  docs/content/docs/core/tasks/basic-tasks.mdx
  docs/content/docs/core/tasks/collection-tasks.mdx
  docs/content/docs/core/yaml-templates/overview.mdx
  docs/content/docs/core/yaml-templates/sprig-functions.mdx
  docs/content/docs/core/yaml-templates/yaml-basics.mdx
  docs/src/components/lp/footer.tsx
Due: turbo-lint, turbo-type-check, format-go

fix(repo): PR suggestions
  cli/cmd/auth/bootstrap/shared.go
  cli/cmd/auth/handlers/bootstrap_tui.go
  cli/cmd/workflow/get.go
  docs/docs.go
  docs/swagger.json
  docs/swagger.yaml
  engine/auth/bootstrap/service_test.go
  engine/auth/errors.go
  engine/auth/infra/postgres/repository.go
  engine/auth/infra/redis/cache.go
  engine/auth/infra/redis/cache_test.go
  engine/auth/router/handler.go
  engine/auth/uc/bootstrap_system.go
  engine/auth/uc/create_user.go
  engine/auth/uc/delete_user.go
  engine/auth/uc/generate_api_key.go
  engine/auth/uc/get_api_key.go
  engine/auth/uc/get_user.go
  engine/auth/uc/get_user_by_email.go
  engine/auth/uc/list_api_keys.go
  engine/auth/uc/list_users.go
  engine/auth/uc/repository.go
  engine/auth/uc/revoke_api_key.go
  engine/auth/uc/update_user.go
  engine/auth/uc/validate_api_key.go
  engine/infra/server/middleware/auth/middleware_test.go
  engine/infra/server/middleware/ratelimit/middleware.go
  engine/infra/server/register.go
  engine/infra/store/authrepo.go
  engine/memory/privacy/manager.go
  engine/memory/router/register.go
  engine/task2/shared/context_inheritance_test.go
  engine/task2/shared/cross_task_validation_test.go
  main.go
  pkg/config/config.go
  pkg/config/loader.go
  pkg/config/watcher_test.go
  pkg/mcp-proxy/thread_safety_test.go
  test/integration/server/auth_middleware_test.go
  test_output.txt
Due: format-go

fix(repo): Zen MCP review
  engine/auth/bootstrap/service.go
  engine/auth/bootstrap/service_test.go
  engine/auth/infra/postgres/repository.go
  engine/auth/uc/bootstrap_system.go
  pkg/config/loader.go
  test_output.txt
Due: format-go

fix(auth): Make CreateInitialAdminIfNone atomic to prevent race conditions
  cli/cmd/auth/handlers/bootstrap_tui.go
  engine/auth/bootstrap/service_test.go
  engine/auth/infra/postgres/repository.go
  engine/auth/uc/create_user.go
  engine/auth/uc/errors.go
  engine/auth/uc/update_user.go
  engine/auth/uc/update_user_test.go
  engine/infra/store/authrepo.go
Due: format-go

fix(memory): Expand sensitive key detection in privacy manager
  engine/memory/privacy/manager.go
Due: format-go

fix(repo): General improvements
  cli/cmd/auth/handlers/bootstrap_tui.go
  pkg/config/watcher_test.go
Due: format-go

Path conditions:
  turbo-lint: any of: \.(js|jsx|ts|tsx)$, but not: (?x)^(
  CHANGELOG.md|
  deno.lock|
  node_modules|
)$

  turbo-type-check: any of: \.(ts|tsx)$, but not: (?x)^(
  CHANGELOG.md|
  deno.lock|
  node_modules|
)$

  format-go: any of: \.go$, but not: (?x)^(
  CHANGELOG.md|
  deno.lock|
  node_modules|
)$

