Repository compozy/compozy: changes, and which pre-commit hooks are due for each by the changed paths.
All: turbo-lint, format-go

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit

default_stages:
  - pre-commit

exclude: |
  (?x)^(
    CHANGELOG.md|
    tools/.*/package\.json|
    bun.lockb|
    node_modules|
  )$

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      # - id: trailing-whitespace
      #   args:
      #     - --no-utf8-locale
      - id: end-of-file-fixer
        exclude: '^(CHANGELOG\.md|tools/.*/package\.json|bun\.lockb|node_modules/)'
      - id: check-json
        exclude: '^(tools/.*/package\.json|node_modules/)'
      - id: check-toml
      - id: check-added-large-files
        args:
          - --maxkb=3000
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: detect-private-key
  - repo: local
    hooks:
      - id: turbo-lint
        name: turbo lint
        description: Run linting via Turborepo
        entry: bun run lint
        language: system
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false
      # - id: turbo-type-check
      #   name: turbo type check
      #   description: Run TypeScript checking via Turborepo
      #   entry: bun run type-check
      #   language: system
      #   files: \.(ts|tsx)$
      #   pass_filenames: false
      - id: format-go
        name: format go
        description: Format Go files using make fmt
        entry: make fmt
        language: system
        files: \.go$
        pass_filenames: false
  - repo: https://github.com/lyz-code/yamlfix/
    rev: 1.17.0
    hooks:
      - id: yamlfix
        args:
          - -c
          - .yamlfix.toml
        exclude: ^cluster/.*$

test: complete runtime verification and immutable queue coverage
  docs/_memory/change-impact.md
  docs/qa/reports/2026-09-29-reported-issues.md
  docs/qa/scenarios/ET-terminal-window-native-flow.md
  docs/qa/scenarios/ET-web-dock-contextual-session-launch.md
  docs/qa/scenarios/RT-web-attention-title-count.md
  web/src/systems/os/hooks/__tests__/window-manager-runtime.test.ts
Due: turbo-lint

fix: preserve typed catalog keys and process test boundaries
  internal/acp/process_tree_test.go
  web/src/systems/os/hooks/use-os-palette-entities.ts
  web/src/systems/os/lib/palette-session-filters.ts
  web/src/systems/session/hooks/use-session-catalog.ts
  web/src/systems/session/lib/session-catalog-options.ts
Due: turbo-lint, format-go

fix: preserve deliveries when journal inventory is unavailable
  docs/qa/reports/2026-09-29-reported-issues.md
  docs/qa/scenarios/RT-worktree-exit-commit-scope.md
  internal/acp/process_tree_test.go
  internal/cli/app_test.go
  internal/cli/worktree_deliver.go
  internal/store/write.go
  internal/update/operation_test.go
  internal/worktree/exit_actions_test.go
  internal/worktree/managed_delivery_commit.go
  internal/worktree/managed_delivery_journal.go
  internal/worktree/managed_delivery_recovery.go
  internal/worktree/worktree_integration_test.go
Due: format-go

fix: retry unavailable delivery inventory within daemon lifecycle
  docs/_memory/change-impact.md
  docs/qa/reports/2026-09-29-reported-issues.md
  docs/qa/scenarios/RT-worktree-exit-commit-scope.md
  internal/daemon/boot_components.go
  internal/daemon/boot_worktrees.go
  internal/daemon/boot_worktrees_test.go
  internal/daemon/runtime_workers.go
  internal/daemon/worktree_delivery.go
  internal/worktree/exit_actions_test.go
  internal/worktree/managed_delivery.go
  internal/worktree/managed_delivery_recovery.go
  internal/worktree/worktree_integration_test.go
  web/src/systems/os/hooks/__tests__/use-os-palette-root.test.tsx
Due: turbo-lint, format-go

fix: retry transient SQLite errors during delivery recovery
  docs/_memory/change-impact.md
  docs/qa/reports/2026-09-29-reported-issues.md
  docs/qa/scenarios/RT-worktree-exit-commit-scope.md
  internal/daemon/boot_worktrees_test.go
  internal/daemon/worktree_delivery.go
Due: format-go

test: cover real delivery contention and desktop catalog uptime
  .github/workflows/ci.yml
  desktop/e2e/_electron/__tests__/shell.spec.ts
  docs/_memory/change-impact.md
  docs/qa/reports/2026-09-29-reported-issues.md
  docs/qa/scenarios/ET-web-sessions-catalog-modal.md
  internal/daemon/boot_worktrees_test.go
Due: turbo-lint, format-go

fix: defer transient delivery recovery errors during boot
  docs/qa/reports/2026-09-29-reported-issues.md
  docs/qa/scenarios/RT-worktree-exit-commit-scope.md
  internal/daemon/boot_worktrees.go
  internal/daemon/boot_worktrees_test.go
Due: format-go

test: retain catalog soak evidence when setup fails
  desktop/e2e/_electron/__tests__/shell.spec.ts
  docs/qa/reports/2026-09-29-reported-issues.md
Due: turbo-lint

test: encode catalog runtime digest as hexadecimal
  desktop/e2e/_electron/__tests__/shell.spec.ts
Due: turbo-lint

test: declare the catalog loop CLI start transport
  desktop/e2e/_electron/__tests__/shell.spec.ts
Due: turbo-lint

fix: refresh terminal facets through the live catalog stream
  docs/_memory/change-impact.md
  docs/qa/reports/2026-09-29-reported-issues.md
  docs/qa/scenarios/ET-web-sessions-catalog-modal.md
  web/src/systems/os/hooks/__tests__/use-os-attention.test.tsx
  web/src/systems/os/hooks/use-os-attention.ts
Due: turbo-lint

fix: recover failed terminal facets in quiet live workspaces
  docs/_memory/change-impact.md
  docs/qa/reports/2026-09-29-reported-issues.md
  docs/qa/scenarios/ET-web-sessions-catalog-modal.md
  web/src/systems/os/hooks/__tests__/use-os-attention.test.tsx
  web/src/systems/os/hooks/use-os-attention.ts
Due: turbo-lint

test: use public session exports for attention regressions
  web/src/systems/os/hooks/__tests__/use-os-attention.test.tsx
  web/src/systems/session/index.ts
Due: turbo-lint

docs: add shell rail v2 design board and implementation plan
  docs/design/opendesign/shell-rail/DESIGN-NOTES.md
  docs/design/opendesign/shell-rail/IMPLEMENTATION-PLAN.md
  docs/design/opendesign/shell-rail/brand-spec.md
  docs/design/opendesign/shell-rail/shell-rail-v2.html
  docs/design/opendesign/shell-rail/shell-rail-v2.html.artifact.json
  docs/design/opendesign/shell-rail/shell-rail.html
  docs/design/opendesign/shell-rail/shell-rail.html.artifact.json
Due: none

feat: persisted light, dark and system theme with a theme toggle
  packages/ui/src/components/custom/__tests__/theme-toggle.test.tsx
  packages/ui/src/components/custom/stories/theme-toggle.stories.tsx
  packages/ui/src/components/custom/theme-toggle.tsx
  packages/ui/src/exports/shell.ts
  web/index.html
  web/public/theme-boot.js
  web/src/main.tsx
  web/src/systems/os/apps/settings/__tests__/appearance-settings-pane.test.tsx
  web/src/systems/os/apps/settings/appearance-settings-pane.tsx
  web/src/systems/os/hooks/use-appearance-settings-pane.ts
  web/src/systems/settings/routes/settings-appearance.stories.tsx
  web/src/systems/theme/__tests__/theme-runtime.test.ts
  web/src/systems/theme/hooks/use-theme-preference.ts
  web/src/systems/theme/index.ts
  web/src/systems/theme/lib/apply-theme.ts
  web/src/systems/theme/lib/install-theme-runtime.ts
  web/src/systems/theme/lib/theme-preference.ts
  web/src/systems/theme/stores/theme-preference-store.ts
  web/src/systems/theme/types.ts
Due: turbo-lint

feat: flat window frames with quiet trailing controls
  packages/ui/src/components/custom/__tests__/topbar.test.tsx
  packages/ui/src/components/custom/stories/topbar.stories.tsx
  packages/ui/src/components/custom/topbar.tsx
  web/e2e/__tests__/os-shell.spec.ts
  web/src/systems/os/components/__tests__/os-window-frame.test.tsx
  web/src/systems/os/components/__tests__/os-window.test.tsx
  web/src/systems/os/components/os-traffic-lights.tsx
  web/src/systems/os/components/os-window-deck.tsx
  web/src/systems/os/components/os-window-frame.tsx
  web/src/systems/os/components/os-window-tab.tsx
  web/src/systems/os/components/os-window.tsx
  web/src/systems/os/components/stories/os-traffic-lights.stories.tsx
  web/src/systems/os/components/stories/os-window-frame.stories.tsx
Due: turbo-lint

feat: flush tiling defaults for the window manager
  config.toml
  internal/api/core/window_manager_test.go
  internal/config/window_manager.go
  internal/config/window_manager_test.go
  internal/settings/config_apply_service_test.go
  internal/settings/service_test.go
  internal/windowmanager/config.go
  internal/windowmanager/config_test.go
  internal/windowmanager/layout_commands_test.go
  internal/windowmanager/lifecycle_test.go
  internal/windowmanager/service_contract_test.go
  internal/windowmanager/service_test.go
  internal/windowmanager/test_helpers_test.go
  internal/windowmanager/zoom_test.go
  packages/site/content/docs/configuration/config-toml.mdx
Due: format-go

feat: pill actions, inverted primary, kbd and tooltip restyle
  packages/ui/src/components/__tests__/button.test.tsx
  packages/ui/src/components/button-group-variants.ts
  packages/ui/src/components/button-group.tsx
  packages/ui/src/components/button-variants.ts
  packages/ui/src/components/button.tsx
  packages/ui/src/components/custom/pill-group-variants.ts
  packages/ui/src/components/custom/pill-group.tsx
  packages/ui/src/components/custom/pill-variants.ts
  packages/ui/src/components/custom/split-button.tsx
  packages/ui/src/components/custom/stories/pill-group.stories.tsx
  packages/ui/src/components/custom/stories/pill.stories.tsx
  packages/ui/src/components/kbd.tsx
  packages/ui/src/components/stories/button.stories.tsx
  packages/ui/src/components/stories/kbd.stories.tsx
  packages/ui/src/components/toggle-group.tsx
  packages/ui/src/components/toggle-variants.ts
  packages/ui/src/components/tooltip.tsx
Due: turbo-lint

feat: light and dark token sets for the shell rail design system
  DESIGN.md
  packages/ui/src/lib/identity-palette.ts
  packages/ui/src/terminal-tokens.css
  packages/ui/src/tokens-light.css
  packages/ui/src/tokens-runtime.css
  packages/ui/src/tokens.css
Due: turbo-lint

feat: Inter and Geist Mono type system with theme-scoped shadows
  DESIGN.md
  bun.lock
  docs/design/opendesign/shell-rail/brand-spec.md
  lint-plugins/compozy-design-system.mjs
  packages/site/app/global.css
  packages/ui/.storybook/preview.css
  packages/ui/.storybook/preview.ts
  packages/ui/package.json
  packages/ui/src/__tests__/theme-token-contract.test.ts
  packages/ui/src/__tests__/token-source.ts
  packages/ui/src/lib/font-size-classes.generated.ts
  packages/ui/src/tokens-light.css
  packages/ui/src/tokens-runtime.css
  packages/ui/src/tokens.css
  scripts/sync-design-md.mjs
  web/.storybook/preview.ts
  web/package.json
  web/src/styles.css
Due: turbo-lint

feat: left rail replaces the bottom dock
  web/src/systems/os/components/__tests__/os-dock.test.tsx
  web/src/systems/os/components/desktop-dock.tsx
  web/src/systems/os/components/desktop-menubar.tsx
  web/src/systems/os/components/desktop-pager-surface.tsx
  web/src/systems/os/components/desktop-shell.tsx
  web/src/systems/os/components/index.ts
  web/src/systems/os/components/os-dock-tab-bar.tsx
  web/src/systems/os/components/os-dock.tsx
  web/src/systems/os/components/os-menubar.tsx
  web/src/systems/os/components/os-win-layer.tsx
  web/src/systems/os/components/stories/_desktop.tsx
  web/src/systems/os/components/stories/_shell-fixture.tsx
  web/src/systems/os/components/stories/attention-surfaces.stories.tsx
  web/src/systems/os/components/stories/desktop-pager.stories.tsx
  web/src/systems/os/components/stories/onboarding-setup-panel.stories.tsx
  web/src/systems/os/components/stories/os-dock.stories.tsx
  web/src/systems/os/hooks/__tests__/os-interaction-hooks.test.tsx
  web/src/systems/os/hooks/__tests__/use-os-palette-root.test.tsx
  web/src/systems/os/hooks/__tests__/use-os-window-deck.test.tsx
  web/src/systems/os/hooks/use-desktop-dock.ts
  web/src/systems/os/hooks/use-dock-magnify.ts
  web/src/systems/os/lib/__tests__/desktop-chrome-client-context.test.ts
  web/src/systems/os/lib/__tests__/dock-magnify.test.ts
  web/src/systems/os/lib/dock-magnify.ts
  web/src/systems/os/lib/os-dock-model.ts
  web/src/systems/os/lib/os-types.ts
  web/src/systems/os/lib/window-manager-view.ts
  web/src/systems/os/runtime/window-manager-runtime-core.ts
  web/src/systems/os/runtime/window-manager-runtime.ts
Due: turbo-lint

feat: two-level surfaces, pop menus, pill menubar triggers and quiet tables
  packages/ui/src/components/__tests__/surface.test.tsx
  packages/ui/src/components/button-variants.ts
  packages/ui/src/components/card.tsx
  packages/ui/src/components/context-menu.tsx
  packages/ui/src/components/custom/catalog-card.tsx
  packages/ui/src/components/custom/pill-group-variants.ts
  packages/ui/src/components/custom/radio-card.tsx
  packages/ui/src/components/custom/split-button.tsx
  packages/ui/src/components/custom/stories/radio-card.stories.tsx
  packages/ui/src/components/dialog.tsx
  packages/ui/src/components/dropdown-menu.tsx
  packages/ui/src/components/menubar.tsx
  packages/ui/src/components/popover.tsx
  packages/ui/src/components/stories/card.stories.tsx
  packages/ui/src/components/stories/catalog-card.stories.tsx
  packages/ui/src/components/stories/context-menu.stories.tsx
  packages/ui/src/components/stories/dialog.stories.tsx
  packages/ui/src/components/stories/surface.stories.tsx
  packages/ui/src/components/surface.tsx
  packages/ui/src/components/table.tsx
  packages/ui/src/components/toggle-variants.ts
  web/src/systems/workspace/components/__tests__/workspace-command-select.test.tsx
  web/src/systems/workspace/components/workspace-command-select.tsx
Due: turbo-lint

feat: per-theme DESIGN.md, contrast floors and theme-safe lint rules
  DESIGN.md
  docs/design/opendesign/shell-rail/brand-spec.md
  lint-plugins/__tests__/compozy-design-system.test.mjs
  lint-plugins/compozy-design-system-core-rules.mjs
  lint-plugins/compozy-design-system.mjs
  packages/site/app/global.css
  packages/ui/src/__tests__/focus-ring-contrast.test.ts
  packages/ui/src/__tests__/prose-ladder-contract.test.ts
  packages/ui/src/__tests__/theme-token-contract.test.ts
  packages/ui/src/__tests__/token-source.ts
  packages/ui/src/tokens.css
  scripts/sync-design-md.mjs
Due: turbo-lint

feat: theme-aware toasts, loop editor, terminal and desktop windows
  desktop/scripts/build-main.ts
  desktop/src/main.ts
  desktop/src/product/__tests__/product-contract.test.ts
  desktop/src/product/product-bridge-controller.ts
  desktop/src/product/product-contract.ts
  desktop/src/product/product-preload.ts
  desktop/src/window/__tests__/window-theme.test.ts
  desktop/src/window/boot-window.ts
  desktop/src/window/product-window.ts
  desktop/src/window/window-theme.ts
  internal/cmdpalette/corecmds/settings.go
  packages/ui/src/components/custom/kind-icon-registry.ts
  packages/ui/src/components/terminal/__tests__/terminal-view.test.tsx
  packages/ui/src/components/terminal/terminal-theme.ts
  packages/ui/src/logos/linear.tsx
  packages/ui/src/logos/openai.tsx
  web/src/main.tsx
  web/src/systems/automation/components/job-form/cron-builder.tsx
  web/src/systems/loops/components/editor/loop-editor-canvas.tsx
  web/src/systems/marketplace/lib/marketplace-brand-registry.ts
  web/src/systems/os/lib/desktop-shell-bridge.ts
  web/src/systems/os/mocks/cmd-palette-fixtures.ts
  web/src/systems/settings/lib/sections.ts
  web/src/systems/theme/__tests__/theme-runtime.test.ts
  web/src/systems/theme/components/theme-toaster.tsx
  web/src/systems/theme/index.ts
  web/src/systems/theme/lib/install-theme-runtime.ts
Due: turbo-lint, format-go

feat: StateGlyph primitive and identity-well KindIcon tone
  packages/ui/src/components/__tests__/confirm-dialog.test.tsx
  packages/ui/src/components/custom/__tests__/kind-icon.test.tsx
  packages/ui/src/components/custom/__tests__/state-glyph.test.tsx
  packages/ui/src/components/custom/confirm-dialog.tsx
  packages/ui/src/components/custom/kind-icon.tsx
  packages/ui/src/components/custom/state-glyph.tsx
  packages/ui/src/components/custom/stories/state-glyph.stories.tsx
  packages/ui/src/components/stories/confirm-dialog.stories.tsx
  packages/ui/src/components/stories/kind-icon.stories.tsx
  packages/ui/src/exports/foundation.ts
Due: turbo-lint

feat: flat topbar with desktop dots and an All desktops button
  web/src/systems/os/components/__tests__/desktop-menubar.test.tsx
  web/src/systems/os/components/__tests__/desktop-pager.test.tsx
  web/src/systems/os/components/desktop-menubar.tsx
  web/src/systems/os/components/desktop-pager-surface.tsx
  web/src/systems/os/components/desktop-pager.tsx
  web/src/systems/os/components/desktop-shell.tsx
  web/src/systems/os/components/global-scope-toggle.tsx
  web/src/systems/os/components/os-menubar.tsx
  web/src/systems/os/components/stories/_desktop.tsx
  web/src/systems/os/components/stories/desktop-pager.stories.tsx
  web/src/systems/os/components/stories/os-menubar.stories.tsx
  web/src/systems/os/hooks/use-desktop-shell-body.ts
  web/src/systems/os/lib/desktop-pager-attention.ts
Due: turbo-lint

feat: theme-aware identity ink, live token showcase and light wallpapers
  DESIGN.md
  packages/ui/src/exports/foundation.ts
  packages/ui/src/lib/__tests__/identity-palette.test.ts
  packages/ui/src/lib/font-size-classes.generated.ts
  packages/ui/src/lib/identity-palette.ts
  packages/ui/src/tokens-light.css
  packages/ui/src/tokens.css
  web/src/components/__tests__/design-system-showcase.test.tsx
  web/src/components/design-system-showcase-controls.tsx
  web/src/components/design-system-showcase-foundations.tsx
  web/src/components/design-system-showcase-tokens.ts
  web/src/hooks/use-computed-token.ts
  web/src/systems/profiles/components/__tests__/profile-aggregate-composites.test.tsx
  web/src/systems/profiles/components/profile-glyph.tsx
  web/src/systems/profiles/components/profile-identity-fields.tsx
Due: turbo-lint

feat: browser-style window tabs on a recessed deck
  web/src/systems/os/components/__tests__/os-window-deck.test.tsx
  web/src/systems/os/components/os-window-deck.tsx
  web/src/systems/os/components/os-window-tab.tsx
  web/src/systems/os/components/stories/os-window-deck.stories.tsx
  web/src/systems/os/hooks/__tests__/os-interaction-hooks.test.tsx
  web/src/systems/os/hooks/__tests__/use-os-window-deck.test.tsx
  web/src/systems/os/hooks/use-os-window-deck.ts
  web/src/systems/os/lib/__tests__/snap-targets.test.ts
  web/src/systems/os/lib/snap-targets.ts
  web/src/systems/os/lib/window-merge-target-coordinator.ts
Due: turbo-lint

feat: main and stack window arrangement
  internal/api/spec/schema_enum_registry.go
  internal/cli/window_manager_layout_mutations.go
  internal/cmdpalette/corecmds/shell.go
  internal/tools/builtin/testdata/native-tool-catalog.json
  internal/tools/builtin/window_manager.go
  internal/tools/builtin/window_manager_schemas.go
  internal/windowmanager/commands.go
  internal/windowmanager/defaults.go
  internal/windowmanager/layout_commands_test.go
  internal/windowmanager/reducer_layout_arrange.go
  openapi/compozy.json
  packages/site/content/docs/cli/layout/arrange.mdx
  packages/site/content/docs/configuration/shortcuts.mdx
  packages/site/content/docs/workspaces/window-management.mdx
  skills/compozy/references/window-management.md
  web/src/generated/compozy-openapi.d.ts
  web/src/systems/settings/mocks/window-manager-fixtures.ts
Due: turbo-lint, format-go

feat: rail foot, compact tab bar, flat desk and empty-desktop card
  COPY.md
  desktop/src/window/__tests__/product-window-chrome.test.ts
  desktop/src/window/product-window-chrome.ts
  docs/_memory/glossary.md
  web/src/systems/os/apps/settings/__tests__/appearance-settings-pane.test.tsx
  web/src/systems/os/apps/settings/appearance-settings-pane.tsx
  web/src/systems/os/components/__tests__/os-dock.test.tsx
  web/src/systems/os/components/desktop-dock.tsx
  web/src/systems/os/components/desktop-menubar.tsx
  web/src/systems/os/components/desktop-shell-dialogs.tsx
  web/src/systems/os/components/desktop-shell.tsx
  web/src/systems/os/components/os-dock-icons.tsx
  web/src/systems/os/components/os-dock-rail-foot.tsx
  web/src/systems/os/components/os-dock-tab-bar.tsx
  web/src/systems/os/components/os-dock.tsx
  web/src/systems/os/components/os-empty-desktop.tsx
  web/src/systems/os/components/os-menubar.tsx
  web/src/systems/os/components/os-wallpaper.tsx
  web/src/systems/os/components/os-win-layer.tsx
  web/src/systems/os/components/os-workspace-tile.tsx
  web/src/systems/os/components/os-workspaces-overview.tsx
  web/src/systems/os/components/os-workspaces-strip.tsx
  web/src/systems/os/components/os-workspaces-worktree-menu.tsx
  web/src/systems/os/components/os-workspaces-worktree-row.tsx
  web/src/systems/os/components/stories/_desktop.tsx
  web/src/systems/os/components/stories/_shell-fixture.tsx
  web/src/systems/os/runtime/window-manager-runtime-core.ts
  web/src/systems/profiles/components/__tests__/profile-switcher.test.tsx
  web/src/systems/profiles/components/profile-switcher.tsx
  web/src/systems/profiles/components/stories/profile-switcher.stories.tsx
Due: turbo-lint

feat: theme-following boot page and theme QA scenarios
  desktop/pages/boot.css
  desktop/scripts/build-main.ts
  desktop/src/window/__tests__/window-theme.test.ts
  docs/qa/scenarios/APP-native-window-controls.md
  docs/qa/scenarios/APP-theme-native-no-flash.md
  docs/qa/scenarios/ET-web-light-theme-readability.md
  docs/qa/scenarios/ET-web-theme-system-follows-os.md
  docs/qa/scenarios/ET-web-theme-toggle-persists.md
  web/src/systems/theme/__tests__/theme-runtime.test.ts
Due: turbo-lint

feat: hairline seams, arrange presets and move window to desktop
  docs/qa/scenarios/ET-web-menubar-menu-set.md
  internal/cmdpalette/corecmds/provider_test.go
  internal/cmdpalette/corecmds/shell.go
  internal/windowmanager/defaults.go
  packages/site/content/docs/configuration/shortcuts.mdx
  packages/site/content/docs/workspaces/window-management.mdx
  packages/ui/src/components/custom/topbar.tsx
  web/e2e/__tests__/os-shell.spec.ts
  web/src/systems/os/components/__tests__/os-window-deck.test.tsx
  web/src/systems/os/components/__tests__/os-window-frame.test.tsx
  web/src/systems/os/components/menubar/__tests__/window-menu.test.tsx
  web/src/systems/os/components/menubar/window-menu.tsx
  web/src/systems/os/components/os-snap-seam.tsx
  web/src/systems/os/components/os-window-frame.tsx
  web/src/systems/os/components/os-window-tab.tsx
  web/src/systems/os/hooks/__tests__/use-layout-seam.test.tsx
  web/src/systems/os/hooks/seam-drag-store.ts
  web/src/systems/os/hooks/use-frame-seam.ts
  web/src/systems/os/hooks/use-layout-seam.ts
  web/src/systems/os/hooks/use-window-move-targets.ts
  web/src/systems/os/lib/__tests__/cmd-palette-client-ops.test.ts
  web/src/systems/os/lib/__tests__/cmd-palette-dispatch-fixtures.ts
  web/src/systems/os/lib/__tests__/layout-projection-seams.test.ts
  web/src/systems/os/lib/__tests__/window-manager-command-builders.test.ts
  web/src/systems/os/lib/__tests__/window-manager-view.test.ts
  web/src/systems/os/lib/cmd-palette-icons.ts
  web/src/systems/os/lib/cmd-palette-window-ops.ts
  web/src/systems/os/lib/frame-seams.ts
  web/src/systems/os/lib/layout-minimums.ts
  web/src/systems/os/lib/os-types.ts
  web/src/systems/os/lib/window-manager-command-builders.ts
Due: turbo-lint, format-go

feat: command palette, bell, toasts and OS dialogs on the new surfaces
  web/src/systems/gateway/components/gateway-ingress-status.tsx
  web/src/systems/os/components/attention-bell-row.tsx
  web/src/systems/os/components/attention-toast.tsx
  web/src/systems/os/components/os-palette-action-panel.tsx
  web/src/systems/os/components/os-palette-arg-dropdown.tsx
  web/src/systems/os/components/os-palette-args-bar.tsx
  web/src/systems/os/components/os-palette-command-row.tsx
  web/src/systems/os/components/os-palette-confirmation.tsx
  web/src/systems/os/components/os-palette-fallback-row.tsx
  web/src/systems/os/components/os-palette-footer.tsx
  web/src/systems/os/components/os-palette-program-status.tsx
  web/src/systems/os/components/os-palette-root-frame.tsx
  web/src/systems/os/components/os-palette-view-shell.tsx
  web/src/systems/os/components/os-palette-view-stack.tsx
  web/src/systems/os/components/os-shortcuts-dialog.tsx
  web/src/systems/os/components/palette-grid-view.tsx
  web/src/systems/os/components/terminal-close-dialog.tsx
  web/src/systems/skill/components/skill-expose-panel.tsx
  web/src/systems/skill/components/skill-expose-target-picker.tsx
  web/src/systems/skill/index.ts
  web/src/systems/skill/lib/__tests__/skill-formatters.test.ts
  web/src/systems/skill/lib/skill-exposure-view.ts
  web/src/systems/skill/lib/skill-formatters.ts
Due: turbo-lint

docs: design-system reference, glossary and copy for the shell rail
  COPY.md
  docs/_memory/glossary.md
  docs/design/opendesign/design-system/GUIDE.md
  docs/design/opendesign/design-system/PARITY.md
  docs/design/opendesign/design-system/command-palette.html
  docs/design/opendesign/design-system/components.html
  docs/design/opendesign/design-system/dashboards.html
  docs/design/opendesign/design-system/ds-core.css
  docs/design/opendesign/design-system/ds-docs.css
  docs/design/opendesign/design-system/ds-shell.css
  docs/design/opendesign/design-system/empty-states.html
  docs/design/opendesign/design-system/foundations.html
  docs/design/opendesign/design-system/index.html
  docs/design/opendesign/design-system/modals.html
  docs/design/opendesign/design-system/os-shell.html
  docs/design/opendesign/design-system/patterns.html
  docs/design/opendesign/design-system/profiles.html
  docs/design/opendesign/design-system/settings.html
Due: none
