Repository compozy/compozy: changes, and which pre-commit hooks are due for each by the changed paths.
All: turbo-lint, format-go

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit

default_stages:
  - pre-commit

exclude: |
  (?x)^(
    CHANGELOG.md|
    tools/.*/package\.json|
    bun.lockb|
    node_modules|
  )$

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      # - id: trailing-whitespace
      #   args:
      #     - --no-utf8-locale
      - id: end-of-file-fixer
        exclude: '^(CHANGELOG\.md|tools/.*/package\.json|bun\.lockb|node_modules/)'
      - id: check-json
        exclude: '^(tools/.*/package\.json|node_modules/)'
      - id: check-toml
      - id: check-added-large-files
        args:
          - --maxkb=3000
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: detect-private-key
  - repo: local
    hooks:
      - id: turbo-lint
        name: turbo lint
        description: Run linting via Turborepo
        entry: bun run lint
        language: system
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false
      # - id: turbo-type-check
      #   name: turbo type check
      #   description: Run TypeScript checking via Turborepo
      #   entry: bun run type-check
      #   language: system
      #   files: \.(ts|tsx)$
      #   pass_filenames: false
      - id: format-go
        name: format go
        description: Format Go files using make fmt
        entry: make fmt
        language: system
        files: \.go$
        pass_filenames: false
  - repo: https://github.com/lyz-code/yamlfix/
    rev: 1.17.0
    hooks:
      - id: yamlfix
        args:
          - -c
          - .yamlfix.toml
        exclude: ^cluster/.*$

ci: verify marketplace publication integrations on Linux
  .github/workflows/ci.yml
Due: none

test: align marketplace fixtures with required install references
  web/src/systems/extensions/hooks/__tests__/use-extensions.test.tsx
  web/src/systems/marketplace/routes/marketplace-detail.stories.tsx
Due: turbo-lint

fix: resolve remaining marketplace lint findings
  internal/extension/agentplugin/types.go
  internal/extension/manager_profile_hooks.go
  internal/extension/registry_artifact.go
  internal/hooks/hook_placement.go
  internal/hooks/types_test.go
Due: format-go

fix: prepare all plugin layouts for development reload
  .github/workflows/ci.yml
  docs/_memory/change-impact.md
  docs/qa/bugs/BUG-20260914-agent-plugin-dev-rejected.md
  docs/qa/charters/CH-marketplace-public-ownership.md
  docs/qa/reports/2026-09-14-marketplace-review-public.md
  docs/qa/scenarios/ET-agent-plugin-dev-reload.md
  docs/qa/scenarios/ET-api-marketplace-sources.md
  internal/cli/extension_dev.go
  internal/extension/dev_generation.go
  internal/extension/dev_integration_test.go
  packages/site/content/docs/extensions/agent-plugins.mdx
Due: format-go

fix: rewrite configured credential references on profile rename
  docs/_memory/change-impact.md
  docs/qa/bugs/BUG-20260914-agent-plugin-dev-rejected.md
  docs/qa/bugs/BUG-20260914-profile-rename-mcp-reference.md
  docs/qa/reports/2026-09-14-marketplace-review-public.md
  docs/qa/scenarios/ET-profile-cli-lifecycle.md
  internal/config/profile_secret_refs.go
  internal/profile/lifecycle_finalize.go
  internal/profile/manager_test.go
  internal/profile/plans.go
  internal/profile/rename.go
  internal/vault/profile_ref_prefixes.go
  packages/site/content/docs/extensions/agent-plugins.mdx
  packages/site/content/docs/profiles/lifecycle.mdx
Due: format-go

fix: reject invalid MCP credential owners before replacement
  docs/_memory/change-impact.md
  docs/qa/bugs/BUG-20260914-mcp-secret-replacement-owner.md
  docs/qa/reports/2026-09-14-marketplace-review-public.md
  docs/qa/scenarios/ET-cli-mcp-authorize.md
  internal/settings/mcp_mutation.go
  internal/settings/service_test.go
  packages/site/content/docs/configuration/mcp-json.mdx
Due: format-go

fix: allow MCP repairs when prior authentication fails
  docs/_memory/change-impact.md
  docs/qa/bugs/BUG-20260914-mcp-invalid-definition-repair.md
  internal/settings/config_apply_helpers.go
  internal/settings/config_apply_service_test.go
  internal/settings/mcp_mutation.go
  internal/settings/mcp_runtime_status_test.go
  internal/settings/service_test.go
Due: format-go

fix: align profile credential repairs with CI style checks
  internal/config/profile_secret_refs.go
  internal/profile/manager_test.go
  internal/profile/plans.go
  internal/profile/rename.go
  internal/vault/profile_ref_prefixes.go
Due: format-go

docs: record completed marketplace review QA
  docs/qa/bugs/BUG-20260914-mcp-invalid-definition-repair.md
  docs/qa/bugs/BUG-20260914-mcp-secret-replacement-owner.md
  docs/qa/bugs/BUG-20260914-profile-rename-mcp-reference.md
  docs/qa/charters/CH-marketplace-public-ownership.md
  docs/qa/reports/2026-09-14-marketplace-review-public.md
  docs/qa/scenarios/ET-agent-plugin-dev-reload.md
  docs/qa/scenarios/ET-cli-mcp-authorize.md
  docs/qa/scenarios/ET-profile-cli-lifecycle.md
  docs/qa/scenarios/RT-agent-hot-discovery-skill-isolation.md
Due: none

refactor: resolve marketplace React Doctor diagnostics
  .github/workflows/react-doctor.yml
  docs/qa/reports/2026-09-14-marketplace-react-doctor.md
  docs/qa/scenarios/ET-site-marketplace-catalog.md
  packages/site/components/marketplace/marketplace-entry-logo.tsx
  packages/site/lib/__tests__/marketplace-catalog.test.tsx
  packages/site/next.config.mjs
  web/src/routes/_app/settings/-mcp-settings-page.tsx
  web/src/routes/_app/settings/-skills-settings-page.tsx
  web/src/systems/extensions/hooks/use-extension-logs.ts
  web/src/systems/marketplace/components/extension-install-dialog.tsx
  web/src/systems/marketplace/components/extension-install-summary-dialog.tsx
  web/src/systems/marketplace/components/marketplace-detail-extension-server.tsx
  web/src/systems/marketplace/components/marketplace-installed-page.tsx
  web/src/systems/marketplace/components/marketplace-installed-server-trail.tsx
  web/src/systems/marketplace/components/marketplace-installed-trail-controls.tsx
  web/src/systems/marketplace/components/use-add-marketplace-form.ts
  web/src/systems/marketplace/components/use-marketplace-action-controller.tsx
  web/src/systems/marketplace/hooks/use-marketplace-page.ts
  web/src/systems/settings/components/marketplace-source-row.tsx
  web/src/systems/settings/components/mcp-override-editor.tsx
  web/src/systems/settings/hooks/use-mcp-editor.ts
Due: turbo-lint

fix: return the selected skills scope label
  web/src/routes/_app/settings/-skills-settings-page.tsx
Due: turbo-lint

docs: distinguish extension bindings from generic secrets
  packages/site/content/docs/profiles/credentials.mdx
  skills/compozy/references/configuration.md
Due: none

docs: format profile credential examples
  packages/site/content/docs/profiles/credentials.mdx
Due: none

fix: resolve terminal cwd from the bound session worktree
  docs/qa/scenarios/RT-session-worktree-lifecycle.md
  internal/daemon/boot_worktrees_test.go
  internal/daemon/terminal_boot.go
  internal/daemon/terminal_execution_root.go
  internal/terminal/manager.go
  internal/terminal/manager_exec.go
  internal/terminal/manager_open.go
  internal/terminal/manager_pipe.go
  internal/terminal/manager_test.go
  internal/terminal/options.go
  packages/site/content/docs/terminal/agents-and-safety.mdx
  skills/compozy/references/terminal.md
Due: format-go

fix: enforce terminal worktree ownership across launch paths
  docs/qa/scenarios/RT-session-worktree-lifecycle.md
  internal/daemon/boot_worktrees_test.go
  internal/daemon/session_worktree_resolver.go
  internal/daemon/terminal_execution_root.go
  internal/terminal/manager_pipe.go
  internal/terminal/manager_test.go
  internal/terminal/options.go
  packages/site/content/docs/terminal/agents-and-safety.mdx
  skills/compozy/references/terminal.md
Due: format-go

docs: distinguish extension bindings from generic secrets (#638)
  packages/site/content/docs/profiles/credentials.mdx
  skills/compozy/references/configuration.md
Due: none

fix: resolve terminal cwd from the bound session worktree (#641)
  docs/qa/scenarios/RT-session-worktree-lifecycle.md
  internal/daemon/boot_worktrees_test.go
  internal/daemon/session_worktree_resolver.go
  internal/daemon/terminal_boot.go
  internal/daemon/terminal_execution_root.go
  internal/terminal/manager.go
  internal/terminal/manager_exec.go
  internal/terminal/manager_open.go
  internal/terminal/manager_pipe.go
  internal/terminal/manager_test.go
  internal/terminal/options.go
  packages/site/content/docs/terminal/agents-and-safety.mdx
  skills/compozy/references/terminal.md
Due: format-go

fix: repair release integration and catalog compatibility
  catalog/packages/airtable/extension.toml
  catalog/packages/atlassian/extension.toml
  catalog/packages/brave-search/extension.toml
  catalog/packages/calcom/extension.toml
  catalog/packages/cloudflare/extension.toml
  catalog/packages/context7/extension.toml
  catalog/packages/github/extension.toml
  catalog/packages/gitlab/extension.toml
  catalog/packages/grafana/extension.toml
  catalog/packages/linear/extension.toml
  catalog/packages/notion/extension.toml
  catalog/packages/playwright/extension.toml
  catalog/packages/postgres/extension.toml
  catalog/packages/posthog/extension.toml
  catalog/packages/sentry/extension.toml
  catalog/packages/stripe/extension.toml
  catalog/packages/supabase/extension.toml
  docs/qa/scenarios/ET-cli-marketplace-sources.md
  docs/qa/scenarios/RT-019.md
  internal/api/core/marketplace_sources.go
  internal/api/udsapi/udsapi_integration_test.go
  internal/cli/cli_integration_test.go
  internal/daemon/daemon_integration_test.go
  internal/daemon/daemon_options.go
  internal/daemon/loop_goal_managed_runtime_integration_test.go
  internal/daemon/native_extension_tools_integration_test.go
  internal/extension/manager_dev_activation.go
  internal/extension/reference_integration_test.go
Due: format-go

fix: stabilize release integration under concurrent startup
  internal/api/udsapi/transport_parity_integration_test.go
  internal/cli/cli_integration_test.go
  internal/extension/manager_supervision.go
Due: format-go

ci: install zsh in release E2E runner
  .github/workflows/release.yml
Due: none

test: await completed automation run before daemon cleanup
  internal/cli/cli_integration_test.go
Due: format-go

build: prepare release v0.3.0 (#612)
  CHANGELOG.md
  RELEASE_BODY.md
  RELEASE_NOTES.md
  go.mod
  go.sum
Due: none

desktop channel publish 0.3.0-beta.26
  desktop/generation.json
  desktop/latest-linux.yml
  desktop/latest-mac.yml
Due: none

test: reproduce public marketplace acquisition in CI
  .github/workflows/marketplace-public.yml
  internal/marketplace/pluginsource/reader_integration_test.go
Due: format-go

fix: validate Windows Gateway files with private ACLs
  .github/workflows/ci.yml
  docs/_memory/change-impact.md
  docs/qa/scenarios/RT-gateway-remote-cli-profile.md
  internal/cli/gateway_credentials.go
  internal/cli/gateway_credentials_test.go
  internal/cli/gateway_permissions_windows_integration_test.go
  internal/cli/gateway_profile_transaction_files.go
  internal/cli/gateway_profile_transaction_test.go
  internal/fileutil/nofollow_windows_test.go
  internal/fileutil/private.go
  internal/fileutil/private_nonwindows.go
  internal/fileutil/private_windows.go
  internal/fileutil/rooted_write.go
  packages/site/content/docs/gateway/security.mdx
Due: format-go

fix: goal delete session
  docs/_memory/change-impact.md
  docs/qa/scenarios/GL-agent-session-control.md
  internal/store/globaldb/global_db_goal_turn_runtime_integration_test.go
  internal/store/globaldb/queries/goal_checkpoint.sql
  internal/store/globaldb/sqlcgen/goal_checkpoint.sql.go
Due: format-go

fix: recover marketplace sources and serve shipped catalog logos
  .github/workflows/ci.yml
  .github/workflows/marketplace-public.yml
  docs/_memory/change-impact.md
  docs/qa/scenarios/ET-web-marketplace-landing-browse.md
  internal/marketplace/pluginsource/acquisition_test.go
  internal/marketplace/pluginsource/github.go
  internal/marketplace/pluginsource/reader_integration_test.go
  internal/marketplace/pluginsource/reader_test.go
  internal/registry/github/client_test.go
  internal/registry/github/http.go
  internal/registry/github/release_selection.go
  internal/registry/github/repository.go
  packages/site/content/docs/marketplace/index.mdx
  packages/site/content/docs/marketplace/sources.mdx
  scripts/gate.sh
  turbo.json
  web/e2e/__tests__/marketplace.spec.ts
  web/src/systems/marketplace/components/__tests__/marketplace-components.test.tsx
  web/src/systems/marketplace/components/marketplace-entry-logo.tsx
  web/src/systems/marketplace/components/marketplace-results.tsx
  web/src/systems/marketplace/hooks/use-marketplace-page.ts
  web/src/systems/marketplace/lib/marketplace-icon.ts
Due: turbo-lint, format-go

fix: preserve unsafe Gateway destinations during private writes
  docs/_memory/change-impact.md
  internal/cli/gateway_profile_transaction_files.go
  internal/cli/gateway_profile_transaction_test.go
  internal/fileutil/nofollow_windows_test.go
  internal/fileutil/private.go
  internal/fileutil/rooted_write.go
Due: format-go

build: preserve migration bytes in Windows checkouts
  .gitattributes
  docs/_memory/change-impact.md
Due: none

fix: consume Git archive metadata and address first review
  .github/workflows/marketplace-public.yml
  docs/_memory/change-impact.md
  internal/marketplace/pluginsource/github.go
  internal/registry/extract.go
  internal/registry/extract_test.go
  internal/registry/github/http.go
  internal/registry/github/release_selection.go
  web/src/systems/marketplace/components/marketplace-entry-logo.tsx
  web/src/systems/marketplace/components/marketplace-results.tsx
  web/src/systems/marketplace/lib/marketplace-icon.ts
Due: turbo-lint, format-go

ci: check Gateway test conventions on Windows
  .github/workflows/ci.yml
Due: none

fix: report checkpoint role availability from compaction configuration
  .github/workflows/ci.yml
  docs/_memory/change-impact.md
  docs/qa/scenarios/MS-inspect-background-role-routing.md
  internal/daemon/role_resolver.go
  internal/daemon/role_resolver_integration_test.go
  internal/daemon/role_status.go
  internal/daemon/role_status_test.go
  packages/site/content/docs/memory/system.mdx
Due: format-go

fix: align checkpoint status with daemon compaction scope
  docs/_memory/change-impact.md
  docs/qa/scenarios/MS-inspect-background-role-routing.md
  internal/daemon/role_resolver_integration_test.go
  internal/daemon/role_status.go
  internal/daemon/role_status_test.go
  packages/site/content/docs/memory/system.mdx
Due: format-go

test: format checkpoint coverage and run its CI integration first
  .github/workflows/ci.yml
  internal/daemon/role_status_test.go
Due: format-go

fix: inspect Windows file attributes before removal
  .github/workflows/ci.yml
  docs/_memory/change-impact.md
  docs/qa/scenarios/RT-gateway-remote-cli-profile.md
  internal/fileutil/nofollow_windows.go
Due: format-go

test: name profile checkpoint switch cases explicitly
  internal/daemon/role_status_test.go
Due: format-go

fix: reopen private Gateway files safely on Windows (#646)
  .gitattributes
  .github/workflows/ci.yml
  docs/_memory/change-impact.md
  docs/qa/scenarios/RT-gateway-remote-cli-profile.md
  internal/cli/gateway_credentials.go
  internal/cli/gateway_credentials_test.go
  internal/cli/gateway_permissions_windows_integration_test.go
  internal/cli/gateway_profile_transaction_files.go
  internal/cli/gateway_profile_transaction_test.go
  internal/fileutil/nofollow_windows.go
  internal/fileutil/nofollow_windows_test.go
  internal/fileutil/private.go
  internal/fileutil/private_nonwindows.go
  internal/fileutil/private_windows.go
  internal/fileutil/rooted_write.go
  packages/site/content/docs/gateway/security.mdx
Due: format-go
