Repository compozy/compozy: changes, and which pre-commit hooks are due for each by the changed paths.
All: turbo-lint, format-go

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit

default_stages:
  - pre-commit

exclude: |
  (?x)^(
    CHANGELOG.md|
    tools/.*/package\.json|
    bun.lockb|
    node_modules|
  )$

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      # - id: trailing-whitespace
      #   args:
      #     - --no-utf8-locale
      - id: end-of-file-fixer
        exclude: '^(CHANGELOG\.md|tools/.*/package\.json|bun\.lockb|node_modules/)'
      - id: check-json
        exclude: '^(tools/.*/package\.json|node_modules/)'
      - id: check-toml
      - id: check-added-large-files
        args:
          - --maxkb=3000
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: detect-private-key
  - repo: local
    hooks:
      - id: turbo-lint
        name: turbo lint
        description: Run linting via Turborepo
        entry: bun run lint
        language: system
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false
      # - id: turbo-type-check
      #   name: turbo type check
      #   description: Run TypeScript checking via Turborepo
      #   entry: bun run type-check
      #   language: system
      #   files: \.(ts|tsx)$
      #   pass_filenames: false
      - id: format-go
        name: format go
        description: Format Go files using make fmt
        entry: make fmt
        language: system
        files: \.go$
        pass_filenames: false
  - repo: https://github.com/lyz-code/yamlfix/
    rev: 1.17.0
    hooks:
      - id: yamlfix
        args:
          - -c
          - .yamlfix.toml
        exclude: ^cluster/.*$

fix: judge gate on goal loops
  docs/qa/bugs/BUG-20260808-goal-command-judge-unavailable.md
  docs/qa/scenarios/LP-goal-command-judge.md
  internal/daemon/loop_goal_executor.go
  internal/daemon/loop_goal_executor_test.go
  internal/loop/gate/types.go
Due: format-go

refactor: categorize tailscale extension under extensions/connectivity
  docs/qa/scenarios/ET-connectivity-provider-trust.md
  docs/qa/scenarios/RT-connectivity-provider-route.md
  extensions/connectivity/tailscale/embed.go
  extensions/connectivity/tailscale/extension.json
  extensions/connectivity/tailscale/forwarder.go
  extensions/connectivity/tailscale/install.go
  extensions/connectivity/tailscale/node.go
  extensions/connectivity/tailscale/operation_gate.go
  extensions/connectivity/tailscale/provider.go
  extensions/connectivity/tailscale/provider_endpoint.go
  extensions/connectivity/tailscale/provider_test.go
  extensions/connectivity/tailscale/rpc.go
  internal/cli/internal.go
  internal/daemon/boot_automation_extensions.go
  packages/site/content/docs/configuration/gateway.mdx
  skills/compozy/references/extension-authoring.md
  skills/compozy/references/runtime-operations.md
Due: format-go

build: update deps
  bun.lock
  package.json
  packages/site/package.json
  packages/ui/package.json
  sdk/examples/prompt-enhancer/package.json
  web/package.json
Due: none

docs: add curated release notes for remote gateway
  .release-notes/bundled-tailscale-connectivity-extension-1786294037.md
  .release-notes/gateway-docs-zero-to-github-webhooks-1786294038.md
  .release-notes/remote-gateway-reach-your-daemon-from-anywhere-1786294036.md
Due: none

release: prepare release v0.3.0 (#332)
  CHANGELOG.md
  RELEASE_BODY.md
  RELEASE_NOTES.md
  go.mod
  go.sum
Due: none

fix: restore minimum-age dependencies
  bun.lock
  package.json
  packages/site/package.json
  packages/ui/package.json
  sdk/examples/prompt-enhancer/package.json
  web/package.json
Due: none

fix: stabilize release runtime startup
  docs/qa/reports/2026-08-09-release-runtime-startup.md
  docs/qa/scenarios/ET-session-input-mcp-projection.md
  docs/qa/scenarios/NB-029.md
  internal/api/httpapi/gateway_integration_test.go
  internal/cli/mcp_serve_test.go
  internal/cli/root_defaults.go
  internal/store/globaldb/global_db_bridge.go
  internal/store/globaldb/global_db_bridges_test.go
Due: format-go

fix: start absent SSH daemon
  docs/qa/reports/2026-08-09-release-runtime-startup.md
  docs/qa/scenarios/RT-gateway-ssh-forward.md
  internal/cli/cli_integration_test.go
  internal/cli/connect_ssh_lifecycle.go
  internal/cli/connect_ssh_test.go
Due: format-go

test: align nightly runtime fixtures
  internal/daemon/daemon_nightly_combined_integration_test.go
Due: format-go

fix: resolve hero player fonts through next/font variables
  packages/site/remotion/hero/tokens.ts
Due: turbo-lint

release: prepare release v0.3.0 (#333)
  .release-notes/archive/v0.3.0/bundled-tailscale-connectivity-extension-1786294037.md
  .release-notes/archive/v0.3.0/gateway-docs-zero-to-github-webhooks-1786294038.md
  .release-notes/archive/v0.3.0/remote-gateway-reach-your-daemon-from-anywhere-1786294036.md
  CHANGELOG.md
  RELEASE_BODY.md
  RELEASE_NOTES.md
  go.mod
  go.sum
Due: none

fix: close loop convergence release gate
  docs/qa/bugs/BUG-20260808-goal-command-judge-unavailable.md
  docs/qa/charters/CH-loop-goal-command-convergence.md
  docs/qa/charters/CH-loop-template-materialization.md
  docs/qa/reports/2026-08-10-loop-convergence.md
  docs/qa/scenarios/LP-goal-command-judge.md
  docs/qa/scenarios/LP-loop-template-snapshot-round-trip.md
  docs/qa/scenarios/LP-run-detail-story-redesign.md
  internal/api/core/conversions_goals.go
  internal/cli/loop_runs.go
  internal/cli/loop_runs_output.go
  internal/loop/control_gate.go
  internal/loop/coordinator_snapshot_test.go
  internal/loop/goal/executor_test.go
  internal/loop/service_test.go
  internal/store/globaldb/global_db_goal_turn_complete.go
Due: format-go

fix: harden loop review boundaries
  docs/qa/reports/2026-08-10-loop-convergence.md
  docs/qa/scenarios/LP-loop-template-snapshot-round-trip.md
  internal/daemon/loop_runtime_adapters.go
  internal/loop/compiler.go
  internal/loop/control_gate.go
  internal/loop/coordinator_test.go
  internal/loop/dsl/refs/namespace.go
  internal/loop/dsl/refs/refs_test.go
  internal/loop/dsl/refs/template.go
  internal/loop/dsl/refs/template_command.go
  internal/loop/gate/evaluator_test.go
  internal/loop/goal/executor_test.go
  internal/loop/goal/prompt_diagnostics.go
  internal/loop/goal/templates.go
  internal/loop/linter_references.go
  internal/loop/linter_test.go
  internal/store/globaldb/global_db_goal_judge_integration_test.go
  internal/store/globaldb/global_db_goal_turn_runtime_integration_test.go
  packages/site/content/docs/loops/dsl-reference.mdx
  packages/site/content/docs/loops/goal-node.mdx
  skills/compozy/references/loops.md
  web/src/systems/loops/components/stories/loop-run-scenario-props.ts
  web/src/systems/loops/lib/__tests__/loop-events.test.ts
  web/src/systems/loops/lib/loop-events.ts
Due: turbo-lint, format-go

fix: close shell template contexts
  docs/qa/reports/2026-08-10-loop-convergence.md
  docs/qa/scenarios/LP-loop-template-snapshot-round-trip.md
  internal/loop/action_goal_params.go
  internal/loop/dsl/refs/namespace.go
  internal/loop/dsl/refs/refs_test.go
  internal/loop/dsl/refs/template_command.go
  internal/loop/goal/executor_test.go
  packages/site/content/docs/loops/dsl-reference.mdx
  packages/site/content/docs/loops/goal-node.mdx
  skills/compozy/references/loops.md
Due: format-go

fix: preserve shell branch contexts
  docs/qa/reports/2026-08-10-loop-convergence.md
  docs/qa/scenarios/LP-loop-template-snapshot-round-trip.md
  internal/loop/dsl/refs/refs_test.go
  internal/loop/dsl/refs/template_command.go
Due: format-go

build: allow combined e2e lane to finish
  .github/workflows/ci.yml
Due: none

fix: stabilize browser runtime contracts
  docs/qa/reports/2026-08-10-loop-browser-runtime-closeout.md
  docs/qa/scenarios/ET-web-extension-detail.md
  docs/qa/scenarios/ET-web-marketplace-installed-management.md
  docs/qa/scenarios/ET-window-tab-deck-lifecycle.md
  docs/qa/scenarios/RT-home-usage-window-persistence.md
  web/e2e/__tests__/dashboard.spec.ts
  web/e2e/__tests__/extensions.spec.ts
  web/e2e/__tests__/gateway-operator.spec.ts
  web/e2e/__tests__/knowledge.spec.ts
  web/e2e/__tests__/marketplace.spec.ts
  web/e2e/__tests__/settings.spec.ts
  web/e2e/__tests__/triggers-hardening.spec.ts
  web/e2e/fixtures/selectors.ts
  web/src/systems/gateway/mocks/handlers.ts
  web/src/systems/marketplace/components/__tests__/marketplace-action-controller.test.tsx
  web/src/systems/marketplace/components/__tests__/marketplace-detail-manage.test.tsx
  web/src/systems/marketplace/components/extension-trust-dialog.tsx
  web/src/systems/marketplace/components/marketplace-action-dialogs.tsx
  web/src/systems/marketplace/components/marketplace-detail-skill-installed.tsx
  web/src/systems/marketplace/components/use-extension-install-dialog.tsx
  web/src/systems/os/components/__tests__/os-window.test.tsx
  web/src/systems/os/hooks/__tests__/os-interaction-hooks.test.tsx
  web/src/systems/os/hooks/use-window-merge-target.ts
  web/src/systems/os/lib/window-merge-target-coordinator.ts
Due: turbo-lint

feat: Tauri shell: windows, native integration, runtime resolution #01
  .github/workflows/ci.yml
  Makefile
  desktop/schema/app-state.schema.json
  desktop/schema/fixtures/app-config.json
  desktop/schema/fixtures/error.json
  desktop/schema/fixtures/home-resolution.json
  desktop/schema/fixtures/product.json
  desktop/src-tauri/Cargo.lock
  desktop/src-tauri/Cargo.toml
  desktop/src-tauri/build.rs
  desktop/src-tauri/capabilities/boot.json
  desktop/src-tauri/pages/boot.html
  desktop/src-tauri/src/app_state.rs
  desktop/src-tauri/src/config.rs
  desktop/src-tauri/src/errors.rs
  desktop/src-tauri/src/health_monitor.rs
  desktop/src-tauri/src/home.rs
  desktop/src-tauri/src/lib.rs
  desktop/src-tauri/src/links.rs
  desktop/src-tauri/src/logging.rs
  desktop/src-tauri/src/main.rs
  desktop/src-tauri/src/nav.rs
  desktop/src-tauri/src/record.rs
  desktop/src-tauri/src/runtime/discovery.rs
  desktop/src-tauri/src/runtime/health.rs
  desktop/src-tauri/src/runtime/mod.rs
  desktop/src-tauri/src/runtime/probe.rs
  desktop/src-tauri/src/runtime/readiness.rs
  desktop/src-tauri/src/runtime/resolver.rs
  desktop/src-tauri/src/runtime/supervisor.rs
  desktop/src-tauri/src/runtime/supervisor_tests.rs
  desktop/src-tauri/src/state.rs
  desktop/src-tauri/src/windowing.rs
  desktop/src-tauri/tauri.conf.json
  desktop/src-tauri/tests/contracts.rs
  desktop/src-tauri/tests/fake_daemon.rs
  desktop/src-tauri/tests/fixtures/fake_daemon.rs
  desktop/src-tauri/tests/runtime_resolution.rs
Due: none

feat: Update system: provisioning, runtime apply, app auto-update, cont…
  desktop/schema/app-state.schema.json
  desktop/src-tauri/Cargo.lock
  desktop/src-tauri/Cargo.toml
  desktop/src-tauri/pages/boot.html
  desktop/src-tauri/src/app_state.rs
  desktop/src-tauri/src/boot_window.rs
  desktop/src-tauri/src/control.rs
  desktop/src-tauri/src/control_events.rs
  desktop/src-tauri/src/controller.rs
  desktop/src-tauri/src/health_monitor.rs
  desktop/src-tauri/src/home.rs
  desktop/src-tauri/src/lib.rs
  desktop/src-tauri/src/main.rs
  desktop/src-tauri/src/record.rs
  desktop/src-tauri/src/release.rs
  desktop/src-tauri/src/runtime/artifacts.rs
  desktop/src-tauri/src/runtime/mod.rs
  desktop/src-tauri/src/runtime/mutation.rs
  desktop/src-tauri/src/runtime/provenance.rs
  desktop/src-tauri/src/runtime/provision.rs
  desktop/src-tauri/src/runtime/quiesce.rs
  desktop/src-tauri/src/runtime/resolver.rs
  desktop/src-tauri/src/runtime/update_lifecycle.rs
  desktop/src-tauri/src/shell.rs
  desktop/src-tauri/src/update/app_update.rs
  desktop/src-tauri/src/update/mod.rs
  desktop/src-tauri/src/update/runtime_update.rs
  desktop/src-tauri/src/windowing.rs
  desktop/src-tauri/tests/update_system.rs
  internal/cli/app.go
  internal/cli/app_control.go
  internal/cli/daemon.go
  internal/cli/daemon_wait_test.go
  internal/config/home.go
  internal/daemon/daemon_test.go
  internal/daemon/update_lock.go
Due: format-go

fix: make desktop recovery state safe to retry
  desktop/src-tauri/src/boot_window.rs
  desktop/src-tauri/src/controller.rs
  desktop/src-tauri/src/shell.rs
  desktop/src-tauri/src/windowing.rs
  desktop/src-tauri/tests/fixtures/fake_daemon.rs
Due: none

fix: start the desktop runtime through the current daemon contract
  desktop/src-tauri/src/runtime/supervisor.rs
  desktop/src-tauri/src/runtime/supervisor_tests.rs
Due: none

fix: bind desktop probes to runtime identity fields
  desktop/src-tauri/src/runtime/probe.rs
Due: none

feat: Release pipeline: build matrix, signing, feeds, gates, custody ru…
  .github/workflows/release.yml
  .gitignore
  .goreleaser.yml
  cmd/compozy-desktop-release/main.go
  desktop/src-tauri/tauri.conf.json
  docs/runbooks/update-signing-key.md
  internal/config/release_config_test.go
  internal/desktoprelease/channel_config.go
  internal/desktoprelease/inventory.go
  internal/desktoprelease/manifest.go
  internal/desktoprelease/model.go
  internal/desktoprelease/policy.go
  internal/desktoprelease/release_test.go
  internal/desktoprelease/schema_heads.go
  internal/desktoprelease/url.go
  scripts/assert-desktop-artifacts.sh
  scripts/assert-desktop-signing-material.sh
  scripts/assert-desktop-version-strictly-greater.sh
  scripts/build-desktop-feed.sh
  scripts/generate-desktop-update-key.sh
  scripts/normalize-desktop-artifacts.sh
  scripts/notarize-staple-dmg.sh
  scripts/publish-desktop-release.sh
  scripts/sign-runtime-manifest.sh
  scripts/verify-desktop-signature.sh
Due: format-go

test: verify desktop release candidate
  docs/qa/bugs/BUG-20260810-app-control-timeout.md
  docs/qa/bugs/BUG-20260810-desktop-dev-shell-crashes.md
  docs/qa/bugs/BUG-20260810-desktop-runtime-stalls.md
  docs/qa/bugs/BUG-20260810-healthy-retry-corrupts-state.md
  docs/qa/bugs/BUG-20260810-initial-boot-window-absent.md
  docs/qa/reports/2026-08-10-desktop-app-release.md
  docs/qa/scenarios/APP-agent-cli-app-verbs.md
  docs/qa/scenarios/APP-app-auto-update.md
  docs/qa/scenarios/APP-attach-running-daemon.md
  docs/qa/scenarios/APP-brand-channel-visibility.md
  docs/qa/scenarios/APP-deep-link-cold-start.md
  docs/qa/scenarios/APP-deep-link-running.md
  docs/qa/scenarios/APP-install-first-run-provision.md
  docs/qa/scenarios/APP-quit-contract.md
  docs/qa/scenarios/APP-runtime-update-app-owned.md
  docs/qa/scenarios/APP-runtime-update-managed.md
  docs/qa/scenarios/APP-single-instance-focus.md
  docs/qa/scenarios/APP-start-installed-daemon.md
  docs/qa/scenarios/APP-update-recovery-state.md
Due: none

fix: frame desktop control requests by newline
  desktop/src-tauri/src/control.rs
Due: none

fix: support runtime launchers with child processes
  desktop/src-tauri/src/runtime/discovery.rs
  desktop/src-tauri/src/runtime/readiness.rs
Due: none

fix: accept the current beta runtime in desktop handshakes
  desktop/src-tauri/src/health_monitor.rs
  desktop/src-tauri/src/runtime/probe.rs
  desktop/src-tauri/src/shell.rs
Due: none

fix: initialize the desktop updater in development
  desktop/src-tauri/tauri.conf.json
  desktop/src-tauri/tests/contracts.rs
Due: none

feat: qa-report: plan the desktop QA cycle in docs/qa #06
  docs/qa/README.md
  docs/qa/charters/CH-desktop-agent-headless-cli.md
  docs/qa/charters/CH-desktop-attach-quit-linux.md
  docs/qa/charters/CH-desktop-attach-quit-macos.md
  docs/qa/charters/CH-desktop-attach-quit-windows.md
  docs/qa/charters/CH-desktop-first-run-linux.md
  docs/qa/charters/CH-desktop-first-run-macos.md
  docs/qa/charters/CH-desktop-first-run-windows.md
  docs/qa/charters/CH-desktop-links-instance-linux.md
  docs/qa/charters/CH-desktop-links-instance-macos.md
  docs/qa/charters/CH-desktop-links-instance-windows.md
  docs/qa/charters/CH-desktop-release-rehearsal.md
  docs/qa/charters/CH-desktop-sse-gate-linux.md
  docs/qa/charters/CH-desktop-sse-gate-macos.md
  docs/qa/charters/CH-desktop-sse-gate-windows.md
  docs/qa/charters/CH-desktop-update-rehearsal-linux.md
  docs/qa/charters/CH-desktop-update-rehearsal-macos.md
  docs/qa/charters/CH-desktop-update-rehearsal-windows.md
  docs/qa/journeys/J-desktop-agent-headless.md
  docs/qa/journeys/J-desktop-attach-daily.md
  docs/qa/journeys/J-desktop-first-run.md
  docs/qa/journeys/J-desktop-link-driven.md
  docs/qa/journeys/J-desktop-update-moment.md
  docs/qa/journeys/J-publish-compozy-beta.md
  docs/qa/personas.md
  docs/qa/scenarios/APP-agent-cli-app-verbs.md
  docs/qa/scenarios/APP-app-auto-update.md
  docs/qa/scenarios/APP-attach-running-daemon.md
  docs/qa/scenarios/APP-brand-channel-visibility.md
  docs/qa/scenarios/APP-deep-link-cold-start.md
  docs/qa/scenarios/APP-deep-link-running.md
  docs/qa/scenarios/APP-install-first-run-provision.md
  docs/qa/scenarios/APP-quit-contract.md
  docs/qa/scenarios/APP-runtime-update-app-owned.md
  docs/qa/scenarios/APP-runtime-update-managed.md
  docs/qa/scenarios/APP-single-instance-focus.md
  docs/qa/scenarios/APP-start-installed-daemon.md
  docs/qa/scenarios/APP-update-recovery-state.md
  docs/qa/scenarios/ET-compozy-public-brand-navigation.md
Due: none

fix: preserve product language after main rebase
  packages/site/content/docs/loops/reference-grammar.mdx
Due: none
