Repository compozy/compozy: changes, and which pre-commit hooks are due for each by the changed paths.
All: turbo-lint, format-go

turbo-lint:
  name: turbo lint
  description: Run linting via Turborepo
  entry: bun run lint
  language: system
  pass_filenames: false

format-go:
  name: format go
  description: Format Go files using make fmt
  entry: make fmt
  language: system
  pass_filenames: false

fix: complete review remediation
  internal/session/manager_conversation_operation_test.go
  internal/session/manager_conversation_rewind_test.go
  internal/session/session_test.go
  web/src/systems/session/hooks/use-session-rewind-message-action.ts
Due: turbo-lint, format-go

fix: composer ui
  bun.lock
  docs/qa/scenarios/ET-session-command-catalog-parity.md
  docs/qa/scenarios/ET-session-composer-skill-chip.md
  docs/qa/scenarios/ET-session-slash-commands-inline.md
  docs/qa/scenarios/ET-web-session-composer-text-entry.md
  web/e2e/__tests__/os-shell.spec.ts
  web/e2e/fixtures/selectors.ts
  web/package.json
  web/src/components/assistant-ui/__tests__/session-thread.test.tsx
  web/src/components/assistant-ui/hooks/use-session-busy-input-actions.ts
  web/src/components/assistant-ui/hooks/use-session-composer-state.ts
  web/src/components/assistant-ui/session-command-formatter.ts
  web/src/components/assistant-ui/session-command-menu-model.ts
  web/src/components/assistant-ui/session-composer-chip.tsx
  web/src/components/assistant-ui/session-composer-command-menu.tsx
  web/src/components/assistant-ui/session-composer-lexical-plugins.tsx
  web/src/components/assistant-ui/session-composer.tsx
  web/src/components/assistant-ui/session-thread.tsx
  web/src/styles.css
  web/src/systems/os/apps/session/session-window-content.tsx
  web/src/systems/os/apps/session/use-session-window-controller.tsx
  web/src/systems/session/components/__tests__/session-chat-runtime-provider.test.tsx
  web/src/systems/session/components/assistant-ui/stories/session-thread.stories.tsx
  web/src/systems/session/hooks/__tests__/use-session-commands.test.ts
  web/src/systems/session/hooks/use-session-commands.ts
  web/src/systems/session/mocks/fixtures.ts
  web/src/systems/session/mocks/index.ts
  web/src/test-setup.ts
Due: turbo-lint

fix: react doctor
  cmd/compozy-codegen/loop_enums.go
  cmd/compozy-codegen/main_test.go
  web/src/generated/loop-enums.ts
Due: turbo-lint, format-go

fix: coalesce OS drag work per frame
  web/src/systems/os/hooks/__tests__/os-interaction-hooks.test.tsx
  web/src/systems/os/hooks/use-animation-frame-latest.ts
  web/src/systems/os/hooks/use-os-window.ts
  web/src/systems/os/hooks/use-window-merge-target.ts
Due: turbo-lint

test: refresh migration verification context
  internal/store/globaldb/global_db_notification_cursor_test.go
Due: format-go

fix: address session archive review findings
  docs/qa/bugs/BUG-20260805-session-delete-dialog-disappears.md
  docs/qa/reports/2026-08-05-session-archive-coderabbit.md
  docs/qa/scenarios/ET-web-sessions-catalog-modal.md
  docs/qa/scenarios/RT-session-list-row-actions.md
  internal/api/core/session_workspace_internal_test.go
  internal/bridgesdk/provider_http.go
  internal/bridgesdk/provider_http_test.go
  internal/cli/client_test.go
  internal/cli/session_test.go
  internal/daemon/daemon_test.go
  internal/daemon/native_tools_test.go
  internal/extension/host_api_test.go
  internal/session/archive.go
  internal/session/manager_resume.go
  internal/session/manager_transition_test.go
  internal/store/globaldb/global_db_session_archive.go
  internal/store/globaldb/global_db_test.go
  internal/tools/builtin/builtin_test.go
  internal/tools/builtin/sessions_archive.go
  internal/tools/builtin/testdata/native-tool-catalog.json
  web/src/systems/os/components/__tests__/sessions-modal.test.tsx
  web/src/systems/os/components/desktop-shell.tsx
  web/src/systems/os/components/sessions-modal.tsx
  web/src/systems/session/components/__tests__/session-delete-dialog.test.tsx
  web/src/systems/session/components/session-delete-dialog.tsx
  web/src/systems/session/hooks/__tests__/use-session-actions.test.tsx
  web/src/systems/session/hooks/use-session-actions.ts
  web/src/systems/session/hooks/use-session-lifecycle-actions.ts
Due: turbo-lint, format-go

fix: small adjustments
  CLAUDE.md
  docs/qa/scenarios/ET-web-session-inspector-toggle.md
  docs/qa/scenarios/RT-024.md
  packages/ui/src/components/__tests__/dialog.test.tsx
  packages/ui/src/components/dialog.tsx
  web/CLAUDE.md
  web/src/systems/os/components/__tests__/sessions-modal.test.tsx
  web/src/systems/os/components/sessions-modal.tsx
  web/src/systems/session/components/__tests__/session-inspector.test.tsx
  web/src/systems/session/components/session-inspector-sections.tsx
  web/src/systems/session/components/session-inspector.logic.ts
  web/src/systems/session/components/session-inspector.tsx
  web/src/systems/session/components/stories/session-inspector.stories.tsx
  web/src/systems/session/index.ts
Due: turbo-lint

fix: preserve compiler optimization for session actions
  web/src/systems/session/hooks/use-session-actions.ts
Due: turbo-lint

test: cover canonical harness augmenters
  internal/api/udsapi/transport_parity_integration_test.go
Due: format-go

test: assert provider shutdown response body
  internal/bridgesdk/provider_http_test.go
Due: format-go

test: record session archive verification
  docs/articles/2026-05/03-one-daemon-four-surfaces.mdx
  docs/qa/_seeds/feature-stories/01_analysis_runtime-sessions.md
  docs/qa/_seeds/final-qa/_children/03-acp-sessions.md
  docs/qa/_seeds/final-qa/_children/11-api-cli-parity.md
  docs/qa/_seeds/final-qa/_children/13-docs-site.md
  docs/qa/_seeds/qa-e2e-playbook.md
  docs/qa/bugs/BUG-20260805-archived-detail-unarchive-missing.md
  docs/qa/bugs/BUG-20260805-session-archive-sdk-missing.md
  docs/qa/reports/2026-08-04-session-archive.md
  docs/qa/scenarios/ET-web-sessions-catalog-modal.md
  docs/qa/scenarios/RT-011.md
  docs/qa/scenarios/RT-012.md
  docs/qa/scenarios/RT-014.md
  docs/qa/scenarios/RT-082.md
  docs/qa/scenarios/RT-session-archive-catalog.md
  docs/qa/scenarios/RT-session-list-row-actions.md
  packages/site/content/docs/operations/database.mdx
  packages/site/content/docs/operations/troubleshooting.mdx
Due: none

test: avoid executable script race in runtime harness
  internal/testutil/e2e/runtime_harness_lifecycle_test.go
Due: format-go

fix: test errors
  internal/api/core/interfaces.go
  internal/api/core/session_archive_interfaces.go
  internal/store/globaldb/global_db_notification_cursor_test.go
Due: format-go

fix: make errors
  internal/cli/session_rewind.go
Due: format-go

fix: errors
  internal/daemon/prompt_sections.go
Due: format-go

docs: add release notes for the 0.3.0 beta line
  .release-notes/complete-loop-node-lifecycle-1785947602.md
  .release-notes/durable-acp-session-continuity-1785947614.md
  .release-notes/durable-busy-session-inputs-1785947604.md
  .release-notes/extension-kits-replace-bundles-1785947601.md
  .release-notes/go-runtime-modernization-1785947610.md
  .release-notes/live-changelog-and-composer-fixes-1785947605.md
  .release-notes/loop-feedback-semantics-1785947603.md
  .release-notes/reversible-session-archiving-1785947612.md
  .release-notes/rewind-sessions-to-a-checkpoint-1785947611.md
  .release-notes/session-aware-slash-commands-1785947613.md
Due: none

release: prepare release v0.3.0 (#308)
  .release-notes/archive/v0.3.0/complete-loop-node-lifecycle-1785947602.md
  .release-notes/archive/v0.3.0/durable-acp-session-continuity-1785947614.md
  .release-notes/archive/v0.3.0/durable-busy-session-inputs-1785947604.md
  .release-notes/archive/v0.3.0/extension-kits-replace-bundles-1785947601.md
  .release-notes/archive/v0.3.0/go-runtime-modernization-1785947610.md
  .release-notes/archive/v0.3.0/live-changelog-and-composer-fixes-1785947605.md
  .release-notes/archive/v0.3.0/loop-feedback-semantics-1785947603.md
  .release-notes/archive/v0.3.0/reversible-session-archiving-1785947612.md
  .release-notes/archive/v0.3.0/rewind-sessions-to-a-checkpoint-1785947611.md
  .release-notes/archive/v0.3.0/session-aware-slash-commands-1785947613.md
  CHANGELOG.md
  RELEASE_BODY.md
  RELEASE_NOTES.md
  go.mod
  go.sum
Due: none

docs: add demo-video skill
  .agents/skills/demo-video/SKILL.md
  .agents/skills/demo-video/assets/demo-video.template.yaml
  .agents/skills/demo-video/assets/flow.template.mjs
  .agents/skills/demo-video/references/choreography.md
  .agents/skills/demo-video/references/publishing.md
  .agents/skills/demo-video/references/recording-findings.md
  .agents/skills/demo-video/scripts/attach-github.sh
  .agents/skills/demo-video/scripts/encode.mjs
  .agents/skills/demo-video/scripts/gif.mjs
  .agents/skills/demo-video/scripts/recorder.mjs
  .demo-video.yaml
Due: none

ci: fix node version
  .github/actions/setup-bun/action.yml
  .github/actions/setup-git-cliff/action.yml
  .github/actions/setup-go/action.yml
  .github/actions/setup-release/action.yml
  .github/workflows/catalog.yml
  .github/workflows/ci.yml
  .github/workflows/react-doctor.yml
  .github/workflows/release.yml
Due: none

fix: preserve Loop template manifests across hydration
  docs/qa/charters/CH-loop-template-snapshot-round-trip.md
  docs/qa/journeys/J-01-arrive-and-use-run.md
  docs/qa/reports/2026-08-05-issue-313-loop-manifest.md
  docs/qa/scenarios/LP-loop-template-snapshot-round-trip.md
  internal/loop/compiler.go
  internal/loop/coordinator_snapshot_test.go
  internal/loop/executed_definition_hydrate.go
  internal/loop/executed_definition_manifest.go
  internal/loop/executed_definition_snapshot.go
  internal/loop/service.go
  internal/loop/service_integration_test.go
  internal/loop/service_test.go
  packages/site/content/docs/loops/authoring.mdx
  skills/compozy/references/loops.md
Due: format-go

fix: preserve Loop template manifests across hydration (#317)
  docs/qa/charters/CH-loop-template-snapshot-round-trip.md
  docs/qa/journeys/J-01-arrive-and-use-run.md
  docs/qa/reports/2026-08-05-issue-313-loop-manifest.md
  docs/qa/scenarios/LP-loop-template-snapshot-round-trip.md
  internal/loop/compiler.go
  internal/loop/coordinator_snapshot_test.go
  internal/loop/executed_definition_hydrate.go
  internal/loop/executed_definition_manifest.go
  internal/loop/executed_definition_snapshot.go
  internal/loop/service.go
  internal/loop/service_integration_test.go
  internal/loop/service_test.go
  packages/site/content/docs/loops/authoring.mdx
  skills/compozy/references/loops.md
Due: format-go

test: guard ACP initialize protocol version
  internal/acp/client_start_contract_test.go
Due: format-go

test: guard ACP initialize protocol version (#318)
  internal/acp/client_start_contract_test.go
Due: format-go

fix: preserve ACP stream disconnect recovery
  docs/qa/charters/CH-acp-stream-disconnect-recovery.md
  docs/qa/journeys/J-15-operate-session-via-cli-api.md
  docs/qa/reports/2026-08-05-acp-stream-disconnect.md
  docs/qa/scenarios/RT-acp-stream-disconnect-recovery.md
  internal/acp/agent_process.go
  internal/acp/launcher.go
  internal/cli/client_session_prompt.go
  internal/cli/client_test.go
  internal/cli/session_test.go
  internal/daemon/daemon_acpmock_faults_integration_test.go
  internal/daemon/native_session_mutation.go
  internal/daemon/native_session_prompt_stream.go
  internal/daemon/native_tools_test.go
  internal/session/crash_bundle.go
  internal/session/interfaces.go
  internal/session/manager_prompt_contract_test.go
  internal/session/manager_prompt_runtime_loop.go
  internal/subprocess/exit_status.go
  internal/subprocess/exit_status_unix.go
  internal/subprocess/exit_status_windows.go
  internal/subprocess/process.go
  internal/subprocess/process_lifecycle.go
  internal/subprocess/process_test.go
  internal/testutil/acpmock/testdata/driver_fault_fixture.json
  packages/site/content/docs/guides/debug-a-failed-session.mdx
  packages/site/content/docs/sessions/lifecycle.mdx
  skills/compozy/references/runtime-operations.md
Due: format-go

fix: serialize model catalog generations
  docs/qa/reports/2026-08-05-issue-312-review-remediation.md
  docs/qa/scenarios/LP-runtime-validation-preflight.md
  docs/qa/scenarios/MS-042.md
  docs/qa/scenarios/MS-055.md
  docs/qa/scenarios/MS-cursor-account-model-discovery.md
  docs/qa/scenarios/RT-065.md
  docs/qa/scenarios/RT-web-exact-model-id-entry.md
  internal/daemon/loop_runtime_selection_integration_test.go
  internal/daemon/model_catalog.go
  internal/daemon/model_catalog_config.go
  internal/daemon/model_catalog_staging.go
  internal/daemon/model_catalog_test.go
  internal/modelcatalog/errors.go
  internal/modelcatalog/live_sources.go
  internal/modelcatalog/live_sources_test.go
  internal/modelcatalog/service.go
  internal/modelcatalog/service_bootstrap.go
  internal/modelcatalog/service_gate.go
  internal/modelcatalog/service_refresh.go
  internal/modelcatalog/service_refresh_plan.go
  internal/modelcatalog/service_test.go
  internal/modelcatalog/types.go
  internal/store/globaldb/global_db_model_catalog.go
  internal/store/globaldb/global_db_model_catalog_batch.go
  internal/store/globaldb/global_db_model_catalog_test.go
  web/src/systems/runtime/components/runtime-selector/__tests__/runtime-selector-store.test.ts
  web/src/systems/runtime/components/runtime-selector/__tests__/runtime-selector.test.tsx
  web/src/systems/runtime/components/runtime-selector/runtime-selector-store.ts
  web/src/systems/runtime/components/runtime-selector/runtime-selector.tsx
  web/src/systems/runtime/components/runtime-selector/use-runtime-selector.ts
Due: turbo-lint, format-go

fix: harden ACP stream failure finalization
  docs/qa/reports/2026-08-05-pr319-acp-stream-remediation.md
  docs/qa/scenarios/RT-acp-stream-disconnect-recovery.md
  internal/acp/prompt_stream_terminal.go
  internal/api/core/prompt_stream_delivery.go
  internal/api/core/prompt_stream_test.go
  internal/cli/client_session_prompt.go
  internal/cli/client_test.go
  internal/daemon/daemon_acpmock_faults_integration_test.go
  internal/daemon/native_session_prompt_stream.go
  internal/daemon/native_tools_test.go
  internal/sandbox/daytona/launcher.go
  internal/sandbox/daytona/provider_test.go
  internal/session/crash_bundle.go
  internal/session/crash_bundle_test.go
  internal/session/manager_hooks_lifecycle_test.go
  internal/session/manager_lifecycle.go
  internal/session/manager_managed_input_submit.go
  internal/session/manager_prompt.go
  internal/session/manager_prompt_batch.go
  internal/session/manager_prompt_contract_test.go
  internal/session/manager_prompt_failure_barrier.go
  internal/session/manager_prompt_process_exit.go
  internal/session/manager_prompt_pump.go
  internal/session/manager_prompt_runtime_loop.go
  internal/session/manager_prompt_submit.go
  internal/session/manager_synthetic_prompt_test.go
  internal/session/session.go
  internal/session/session_prompt_state.go
  internal/session/stop_reason.go
  internal/subprocess/exit_status.go
  internal/subprocess/exit_status_other.go
  internal/subprocess/exit_status_unix.go
  internal/subprocess/process_test.go
Due: format-go

fix: small fixes
  docs/qa/scenarios/TA-web-task-list-loop-subtask-nesting.md
  internal/store/globaldb/global_db_task_catalog_sql.go
  internal/store/globaldb/global_db_task_test.go
  internal/task/manager_reconcile_status.go
  internal/task/manager_test.go
  web/src/systems/loops/components/detail/loop-detail.tsx
  web/src/systems/loops/components/detail/loop-reliability-panel.tsx
  web/src/systems/loops/index.ts
  web/src/systems/loops/lib/__tests__/loop-reliability.test.ts
  web/src/systems/loops/lib/loop-reliability.ts
  web/src/systems/tasks/components/__tests__/task-run-activity-section.test.tsx
  web/src/systems/tasks/components/task-run-activity-section.tsx
  web/src/systems/tasks/lib/query-options.ts
Due: turbo-lint, format-go

fix: review round
  docs/qa/reports/2026-08-05-review-findings-managed-skills.md
  docs/qa/scenarios/ET-managed-session-skill-loading.md
  internal/acp/client_start_contract_test.go
  internal/acp/start.go
  internal/cli/skill_daemon_test.go
  internal/cli/skill_managed_guard.go
  internal/daemon/prompt_skills_test.go
  internal/mcp/hosted.go
  internal/mcp/hosted_test.go
  internal/skills/catalog.go
  internal/skills/catalog_test.go
  internal/testutil/acpmock/fixture.go
  internal/testutil/acpmock/fixture_test.go
  packages/site/content/docs/skills/skill-md.mdx
Due: format-go

fix: keep managed skill loading on native seam (#323)
  docs/articles/2026-05/03-one-daemon-four-surfaces.mdx
  docs/qa/bugs/BUG-20260805-hosted-mcp-cold-start-nonce-expiry.md
  docs/qa/charters/CH-managed-session-skill-loading.md
  docs/qa/journeys/J-load-skill-in-managed-session.md
  docs/qa/reports/2026-08-05-issue-314-managed-skill-loading.md
  docs/qa/reports/2026-08-05-review-findings-managed-skills.md
  docs/qa/scenarios/ET-managed-session-skill-loading.md
  internal/acp/client_start_contract_test.go
  internal/acp/client_test_support_test.go
  internal/acp/start.go
  internal/acp/types.go
  internal/api/udsapi/hosted_mcp_test.go
  internal/cli/skill_commands.go
  internal/cli/skill_daemon_test.go
  internal/cli/skill_managed_guard.go
  internal/daemon/hosted_mcp.go
  internal/daemon/native_tools_test.go
  internal/daemon/prompt_skills_test.go
  internal/mcp/hosted.go
  internal/mcp/hosted_records.go
  internal/mcp/hosted_test.go
  internal/session/manager_start_env.go
  internal/session/manager_start_mcp.go
  internal/session/manager_test.go
  internal/session/manager_test_support_test.go
  internal/session/manager_types.go
  internal/skills/catalog.go
  internal/skills/catalog_test.go
  internal/testutil/acpmock/fixture.go
  internal/testutil/acpmock/fixture_test.go
  packages/site/content/docs/skills/index.mdx
  packages/site/content/docs/skills/skill-md.mdx
  skills/compozy/references/tools-and-skills.md
Due: format-go

Path conditions:
  turbo-lint: any of: \.(js|jsx|ts|tsx)$, but not: (?x)^(
  CHANGELOG.md|
  tools/.*/package\.json|
  bun.lockb|
  node_modules|
)$

  format-go: any of: \.go$, but not: (?x)^(
  CHANGELOG.md|
  tools/.*/package\.json|
  bun.lockb|
  node_modules|
)$

