Repository compozy/compozy: changes, and which pre-commit hooks are due for each by the changed paths.
All: turbo-lint, format-go

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit

default_stages:
  - pre-commit

exclude: |
  (?x)^(
    CHANGELOG.md|
    tools/.*/package\.json|
    bun.lockb|
    node_modules|
  )$

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      # - id: trailing-whitespace
      #   args:
      #     - --no-utf8-locale
      - id: end-of-file-fixer
        exclude: '^(CHANGELOG\.md|tools/.*/package\.json|bun\.lockb|node_modules/)'
      - id: check-json
        exclude: '^(tools/.*/package\.json|node_modules/)'
      - id: check-toml
      - id: check-added-large-files
        args:
          - --maxkb=3000
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: detect-private-key
  - repo: local
    hooks:
      - id: turbo-lint
        name: turbo lint
        description: Run linting via Turborepo
        entry: bun run lint
        language: system
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false
      # - id: turbo-type-check
      #   name: turbo type check
      #   description: Run TypeScript checking via Turborepo
      #   entry: bun run type-check
      #   language: system
      #   files: \.(ts|tsx)$
      #   pass_filenames: false
      - id: format-go
        name: format go
        description: Format Go files using make fmt
        entry: make fmt
        language: system
        files: \.go$
        pass_filenames: false
  - repo: https://github.com/lyz-code/yamlfix/
    rev: 1.17.0
    hooks:
      - id: yamlfix
        args:
          - -c
          - .yamlfix.toml
        exclude: ^cluster/.*$

fix: skip unrelated model catalog reconciliation
  internal/daemon/settings_runtime_applier.go
  internal/daemon/settings_runtime_applier_test.go
Due: format-go

fix: preserve terminal loop completion
  internal/cli/loop_read_commands.go
  internal/cli/loop_read_commands_test.go
  internal/loop/generation_snapshot.go
  internal/store/globaldb/global_db_task_claim_test.go
Due: format-go

fix: keep loop snapshot source within limit
  internal/loop/generation_snapshot.go
Due: format-go

fix: close route skip review findings
  docs/qa/bugs/BUG-20260901-unselected-route-gate-executes.md
  docs/qa/reports/2026-09-01-loop-route-selection.md
  docs/qa/scenarios/LP-exclusive-route-history.md
  internal/daemon/loop_generation_feedback_e2e_integration_test.go
  packages/site/content/docs/loops/dsl-reference.mdx
  skills/compozy/references/loops.md
Due: format-go

test: isolate heading hierarchy from request context
  packages/site/lib/__tests__/public-heading-hierarchy.test.tsx
Due: turbo-lint

fix: preserve profile scope across session commands
  docs/qa/reports/2026-09-02-profile-session-command-scope.md
  docs/qa/scenarios/LP-implement-tasks-orchestrated-mode.md
  internal/cli/profile_test.go
  internal/cli/session.go
  internal/cli/session_command.go
  internal/cli/session_input.go
  internal/cli/session_prompt_events.go
  internal/testutil/acpmock/testdata/implement_tasks_fixture.json
Due: format-go

fix: preserve profile scope in skill activation
  docs/qa/charters/CH-profile-scoped-loop-tools.md
  docs/qa/charters/CH-profile-tool-gated-skills.md
  docs/qa/reports/2026-09-01-loop-lifecycle-actions.md
  docs/qa/reports/2026-09-02-pr-531-remediation.md
  docs/qa/scenarios/ET-skill-activation-gates.md
  docs/qa/scenarios/LP-extension-action-schema-scope.md
  internal/daemon/prompt_skills_test.go
  internal/daemon/skill_activation_context.go
  internal/skills/activation.go
  internal/skills/expose_events.go
  internal/skills/observe_events.go
  internal/skills/registry.go
  internal/skills/registry_agent.go
  internal/skills/registry_workspace_projection.go
Due: format-go

fix: honor route skips within a planning pass (#529)
  docs/qa/bugs/BUG-20260901-unselected-route-gate-executes.md
  docs/qa/reports/2026-09-01-loop-route-selection.md
  docs/qa/scenarios/LP-exclusive-route-history.md
  internal/daemon/loop_generation_feedback_e2e_integration_test.go
  internal/loop/control_plan.go
  internal/loop/coordinator_control_test.go
  packages/site/content/docs/loops/dsl-reference.mdx
  packages/site/lib/__tests__/public-heading-hierarchy.test.tsx
  skills/compozy/references/loops.md
Due: turbo-lint, format-go

fix: scope lifecycle loop actions (#531)
  docs/qa/charters/CH-profile-scoped-loop-tools.md
  docs/qa/charters/CH-profile-tool-gated-skills.md
  docs/qa/reports/2026-09-01-loop-lifecycle-actions.md
  docs/qa/reports/2026-09-02-pr-531-remediation.md
  docs/qa/scenarios/ET-skill-activation-gates.md
  docs/qa/scenarios/LP-extension-action-schema-scope.md
  internal/daemon/loop_api_catalog_test.go
  internal/daemon/loop_api_fork.go
  internal/daemon/loop_api_publish.go
  internal/daemon/loop_api_service.go
  internal/daemon/loop_resources_test.go
  internal/daemon/loop_tool_schema_source.go
  internal/daemon/loop_tool_schema_source_test.go
  internal/daemon/native_tools.go
  internal/daemon/prompt_skills_test.go
  internal/daemon/skill_activation_context.go
  internal/daemon/task_runtime_boot_roles.go
  internal/daemon/task_runtime_test.go
  internal/extension/resource_publication.go
  internal/extension/tool_provider.go
  internal/extension/tool_provider_manifest_cache.go
  internal/extension/tool_provider_test.go
  internal/skills/activation.go
  internal/skills/expose_events.go
  internal/skills/observe_events.go
  internal/skills/registry.go
  internal/skills/registry_agent.go
  internal/skills/registry_workspace_projection.go
Due: format-go

fix: cancel model catalog refreshes on shutdown
  internal/daemon/model_catalog.go
  internal/daemon/model_catalog_refresh_cancels.go
  internal/daemon/model_catalog_test.go
Due: format-go

fix: preserve profile scope in loop implementers (#527)
  docs/qa/reports/2026-09-01-profile-extension-implementer.md
  docs/qa/reports/2026-09-02-profile-session-command-scope.md
  docs/qa/scenarios/LP-implement-tasks-orchestrated-mode.md
  internal/cli/agent_identity.go
  internal/cli/agent_identity_test.go
  internal/cli/profile_read_scope.go
  internal/cli/profile_test.go
  internal/cli/session.go
  internal/cli/session_command.go
  internal/cli/session_input.go
  internal/cli/session_prompt_events.go
  internal/daemon/automation_loop_starter.go
  internal/daemon/daemon_implement_tasks_e2e_integration_test.go
  internal/daemon/loop_input_entity_catalog.go
  internal/daemon/loop_input_entity_catalog_test.go
  internal/daemon/model_catalog.go
  internal/daemon/model_catalog_refresh_cancels.go
  internal/daemon/model_catalog_test.go
  internal/loop/input_entity_validation.go
  internal/loop/input_response_validation.go
  internal/loop/service.go
  internal/loop/service_fork_prepare.go
  internal/loop/service_requests.go
  internal/loop/service_start.go
  internal/loop/service_test.go
  internal/testutil/acpmock/cmd/acpmock-driver/main_test.go
  internal/testutil/acpmock/cmd/acpmock-driver/prompt.go
  internal/testutil/acpmock/cmd/acpmock-driver/sandbox.go
  internal/testutil/acpmock/testdata/implement_tasks_fixture.json
Due: format-go

fix: preserve complete loop follow output
  docs/qa/scenarios/LP-run-read-agent-journey.md
  internal/cli/loop_read_commands.go
  internal/cli/loop_read_commands_test.go
  internal/daemon/settings_runtime_applier_test.go
Due: format-go

fix: stabilize base CI integration (#536)
  desktop/e2e/_electron/__tests__/shell.spec.ts
  docs/qa/scenarios/LP-run-read-agent-journey.md
  internal/cli/loop_read_commands.go
  internal/cli/loop_read_commands_test.go
  internal/daemon/settings_runtime_applier.go
  internal/daemon/settings_runtime_applier_test.go
  internal/loop/generation_snapshot.go
  internal/store/globaldb/global_db_task_claim_test.go
  web/e2e/__tests__/loops.spec.ts
  web/e2e/__tests__/os-shell.spec.ts
  web/e2e/fixtures/os-navigation.ts
Due: turbo-lint, format-go

fix: fence terminal generation outputs
  internal/loop/generation_snapshot.go
  internal/store/globaldb/global_db_task_claim_test.go
Due: format-go

fix: preserve awaited child refinement
  internal/loop/generation_snapshot.go
  internal/store/globaldb/global_db_task_claim_test.go
Due: format-go

refactor: split generation output writer
  internal/loop/generation_output_write.go
  internal/loop/generation_snapshot.go
Due: format-go

feat: Windows ConPTY adapter #08
  .github/workflows/ci.yml
  docs/qa/scenarios/ET-terminal-windows-parity.md
  go.mod
  internal/terminal/capabilities.go
  internal/terminal/capabilities_test.go
  internal/terminal/manager_open.go
  internal/terminal/pty/pty_windows.go
  internal/terminal/pty/pty_windows_test.go
  internal/terminal/pty/windows_job.go
  internal/terminal/shell_candidates_unix.go
  internal/terminal/shell_candidates_windows.go
  internal/terminal/shell_candidates_windows_test.go
  packages/site/content/docs/terminal/platform-support.mdx
  skills/compozy/references/terminal.md
Due: format-go

fix: satisfy integrated terminal gate policies
  .github/workflows/ci.yml
  internal/api/contract/settings_config_payloads.go
  internal/api/contract/settings_terminal_payload.go
  internal/procutil/process_group_windows_test.go
  internal/procutil/procutil_windows.go
  internal/terminal/pty/pty_windows.go
  packages/site/content/docs/terminal/index.mdx
  packages/site/content/docs/terminal/journal-and-recordings.mdx
  packages/site/content/docs/terminal/platform-support.mdx
  web/src/storybook/route-story-registry.ts
  web/src/storybook/terminal-route-stories.ts
  web/src/systems/session/index.ts
Due: turbo-lint, format-go

fix: normalize local gate classification
  scripts/gate.sh
  scripts/gate_integration_test.go
Due: format-go

fix: preserve terminal workspace registration identity
  internal/daemon/terminal_boot.go
  internal/store/workspacedb/pool.go
  internal/store/workspacedb/workspace_db_test.go
  internal/terminal/journal/service_test.go
  internal/terminal/manager_open.go
  internal/terminal/manager_test.go
  internal/terminal/test_helpers_test.go
Due: format-go

feat: QA Plan and Session Charters #09
  docs/qa/charters/CH-terminal-approval-ladder.md
  docs/qa/charters/CH-terminal-capacity-and-config.md
  docs/qa/charters/CH-terminal-cli-transport-parity.md
  docs/qa/charters/CH-terminal-desktop-fidelity.md
  docs/qa/charters/CH-terminal-docs-first-success.md
  docs/qa/charters/CH-terminal-journal-fail-closed.md
  docs/qa/charters/CH-terminal-lease-fencing-takeover.md
  docs/qa/charters/CH-terminal-operator-shell.md
  docs/qa/charters/CH-terminal-platform-ladder.md
  docs/qa/charters/CH-terminal-profile-fence.md
  docs/qa/charters/CH-terminal-redaction-osc-boundary.md
  docs/qa/charters/CH-terminal-stream-flow-control.md
  docs/qa/charters/CH-terminal-window-tabs-canary.md
  docs/qa/journeys/J-learn-terminal-from-docs.md
  docs/qa/journeys/J-switch-profile-terminal-scope.md
  docs/qa/scenarios/ET-compozy-official-skill-discovery.md
  docs/qa/scenarios/ET-terminal-approval-ladder-grants.md
  docs/qa/scenarios/ET-terminal-journal-fail-closed.md
  docs/qa/scenarios/ET-terminal-lease-fencing.md
  docs/qa/scenarios/ET-terminal-profile-segmentation.md
  docs/qa/scenarios/ET-terminal-profile-selectors.md
  docs/qa/scenarios/ET-terminal-redaction-boundaries.md
  docs/qa/scenarios/ET-terminal-session-block-handoff.md
  docs/qa/scenarios/ET-terminal-stream-resilience.md
  docs/qa/scenarios/SITE-terminal-docs-truth.md
Due: none

refactor: remove unused terminal exports
  packages/ui/src/components/terminal/terminal-registry.ts
  web/src/systems/terminal/lib/terminal-wire.ts
Due: turbo-lint

fix: align product language
  web/src/systems/session/types.ts
Due: turbo-lint

fix: complete rebase integration
  desktop/e2e/_electron/__tests__/shell.spec.ts
  internal/api/core/terminal_transport_test.go
  internal/extension/host_api_test.go
  internal/toolmeta/native_entries.go
  internal/toolmeta/registry_test.go
  skills/bundled_test.go
  web/src/hooks/routes/__tests__/use-session-page-controls.test.tsx
Due: turbo-lint, format-go

test: align reported terminal E2E contract
  internal/daemon/daemon_mock_agents_integration_test.go
Due: format-go

test: drain Windows terminal startup output
  internal/terminal/pty/pty_windows_test.go
Due: format-go

test: stabilize Windows terminal reads
  internal/terminal/pty/pty_windows_test.go
Due: format-go

fix: resolve Windows terminal executables
  internal/terminal/pty/pty_windows.go
Due: format-go

fix: bind terminal browser ownership
  internal/api/contract/terminal.go
  internal/api/core/terminal_handlers.go
  internal/api/core/terminal_transport_test.go
  internal/api/spec/parameters.go
  internal/api/spec/terminal.go
  internal/api/spec/terminal_test.go
  openapi/compozy.json
  web/src/generated/compozy-openapi.d.ts
  web/src/systems/os/apps/terminal/hooks/use-terminal-window-controller-state.ts
  web/src/systems/os/apps/terminal/terminal-window.tsx
  web/src/systems/terminal/adapters/__tests__/terminal-api.test.ts
  web/src/systems/terminal/adapters/terminal-api.ts
  web/src/systems/terminal/index.ts
  web/src/systems/terminal/types.ts
Due: turbo-lint, format-go
