Repository compozy/compozy: changes, and which pre-commit hooks are due for each by the changed paths.
All: turbo-lint, format-go

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit

default_stages:
  - pre-commit

exclude: |
  (?x)^(
    CHANGELOG.md|
    tools/.*/package\.json|
    bun.lockb|
    node_modules|
  )$

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      # - id: trailing-whitespace
      #   args:
      #     - --no-utf8-locale
      - id: end-of-file-fixer
        exclude: '^(CHANGELOG\.md|tools/.*/package\.json|bun\.lockb|node_modules/)'
      - id: check-json
        exclude: '^(tools/.*/package\.json|node_modules/)'
      - id: check-toml
      - id: check-added-large-files
        args:
          - --maxkb=3000
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: detect-private-key
  - repo: local
    hooks:
      - id: turbo-lint
        name: turbo lint
        description: Run linting via Turborepo
        entry: bun run lint
        language: system
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false
      # - id: turbo-type-check
      #   name: turbo type check
      #   description: Run TypeScript checking via Turborepo
      #   entry: bun run type-check
      #   language: system
      #   files: \.(ts|tsx)$
      #   pass_filenames: false
      - id: format-go
        name: format go
        description: Format Go files using make fmt
        entry: make fmt
        language: system
        files: \.go$
        pass_filenames: false
  - repo: https://github.com/lyz-code/yamlfix/
    rev: 1.17.0
    hooks:
      - id: yamlfix
        args:
          - -c
          - .yamlfix.toml
        exclude: ^cluster/.*$

fix: include parent turn in subagent card data
  internal/transcript/subagent_replay_integration_test.go
  internal/transcript/transcript_codec_contract_test.go
  internal/transcript/transcript_ui_projection_test.go
  internal/transcript/ui_messages_subagent.go
Due: format-go

feat: breathe the waiting banner glyph while a subagent wake is pending
  web/src/components/assistant-ui/__tests__/session-subagent-wiring.test.tsx
  web/src/components/assistant-ui/session-subagent-banner.tsx
  web/src/components/assistant-ui/session-timeline-subagents.ts
  web/src/systems/session/components/assistant-ui/stories/session-thread-story-subagents.ts
  web/src/systems/session/components/subagents/__tests__/subagent-components.test.tsx
  web/src/systems/session/components/subagents/__tests__/subagent-format.test.ts
  web/src/systems/session/components/subagents/stories/subagent-story-fixtures.ts
  web/src/systems/session/components/subagents/subagent-format.ts
  web/src/systems/session/components/subagents/types.ts
  web/src/systems/session/lib/__tests__/session-working-status.test.ts
  web/src/systems/session/lib/subagent-payload.ts
Due: turbo-lint

feat: name failed subagent tool calls as attempts
  web/src/systems/session/components/__tests__/tool-call-card.test.tsx
  web/src/systems/session/components/tool-call-card.tsx
  web/src/systems/session/lib/tool-labels.ts
Due: turbo-lint

fix: resolve subagent callers from hosted prompt runs
  internal/daemon/native_tool_subagent_bindings.go
  internal/daemon/native_tools_test.go
Due: format-go

test: execute hosted native tools in ACP mock fixtures
  docs/_memory/change-impact.md
  docs/qa/scenarios/ET-web-subagent-card.md
  internal/daemon/daemon_mock_agents_integration_test.go
  internal/testutil/acpmock/README.md
  internal/testutil/acpmock/cmd/acpmock-driver/main.go
  internal/testutil/acpmock/cmd/acpmock-driver/native_tools.go
  internal/testutil/acpmock/cmd/acpmock-driver/prompt.go
  internal/testutil/acpmock/driver_test.go
  internal/testutil/acpmock/fixture_step_validation.go
  internal/testutil/acpmock/fixture_test.go
  internal/testutil/acpmock/fixture_types.go
  internal/testutil/acpmock/testdata/native_tool_delegate_fixture.json
Due: format-go

fix: preserve subagent recovery across daemon restarts
  docs/qa/scenarios/RT-subagent-restart.md
  internal/daemon/spawn_reaper.go
  internal/daemon/subagent_integration_test.go
  internal/session/stop_reason.go
  internal/session/subagent_delivery.go
  internal/session/subagent_recovery.go
  internal/session/subagent_runtime.go
  internal/session/subagent_service_test.go
  internal/session/subagent_wake.go
Due: format-go

feat: place subagent cards in their spawning turn from turn_id
  web/src/components/assistant-ui/__tests__/session-subagent-wiring.test.tsx
  web/src/components/assistant-ui/session-timeline-subagents.ts
  web/src/systems/session/components/assistant-ui/stories/session-thread-story-subagents.ts
  web/src/systems/session/lib/timeline-message-parts.ts
Due: turbo-lint

test: delegate E2E-009 subagents through hosted native tool calls
  internal/testutil/acpmock/testdata/browser_subagents_navigation_fixture.json
  web/e2e/__tests__/session-subagents-navigation.spec.ts
Due: turbo-lint

fix: hand the subagent service to the HTTP and UDS servers
  internal/daemon/subagent_reactor.go
Due: format-go

fix: publish the subagent service to the transport dependencies
  internal/daemon/subagent_reactor.go
  internal/testutil/acpmock/testdata/browser_native_subagent_fixture.json
Due: format-go

test: drive subagent web E2E journeys through real native tool calls
  internal/testutil/acpmock/testdata/browser_subagent_journeys_fixture.json
  web/e2e/__tests__/subagents.spec.ts
Due: turbo-lint

test: cover subagent routes after daemon boot
  internal/daemon/subagent_integration_test.go
Due: format-go

docs: record subagents real-provider QA walk
  docs/qa/bugs/BUG-20261009-native-subagent-title-task.md
  docs/qa/bugs/BUG-20261009-subagent-card-hosted-tool-name.md
  docs/qa/bugs/BUG-20261009-subagent-card-live-missing.md
  docs/qa/bugs/BUG-20261009-subagent-crash-no-wake.md
  docs/qa/bugs/BUG-20261009-subagent-daemon-stop-cancels.md
  docs/qa/bugs/BUG-20261009-subagent-idempotency-default.md
  docs/qa/bugs/BUG-20261009-subagent-preview-raw-markdown.md
  docs/qa/bugs/BUG-20261009-subagent-routes-unavailable.md
  docs/qa/bugs/BUG-20261009-subagent-running-count-settled.md
  docs/qa/bugs/BUG-20261009-subagent-runtime-speed-empty.md
  docs/qa/bugs/BUG-20261009-subagent-show-needs-workspace.md
  docs/qa/bugs/BUG-20261009-subagent-status-empty-input.md
  docs/qa/reports/2026-10-09-subagents.md
  docs/qa/scenarios/ET-web-native-subagent.md
  docs/qa/scenarios/ET-web-session-sidebar-threads.md
  docs/qa/scenarios/ET-web-subagent-card.md
  docs/qa/scenarios/RT-subagent-delegate.md
  docs/qa/scenarios/RT-subagent-restart.md
Due: none

fix: stream subagent cards and native attribution on the live prompt stream
  internal/api/core/prompt_stream.go
  internal/api/core/prompt_stream_blocks.go
  internal/api/core/prompt_stream_emit.go
  internal/api/core/prompt_stream_test.go
  internal/api/core/session_prompt_dispatch.go
  internal/transcript/ui_messages_subagent.go
  web/src/components/assistant-ui/__tests__/session-subagent-wiring.test.tsx
  web/src/systems/session/lib/timeline-message-parts.ts
Due: turbo-lint, format-go

fix: settle a subagent failed when its settling turn ended in an error
  internal/session/subagent_finalize.go
  internal/session/subagent_runtime.go
  internal/session/subagent_service.go
  internal/session/subagent_service_test.go
  internal/session/subagent_test_support_test.go
  internal/session/transcript_test.go
Due: format-go

test: hover the subagent card after the parent turn reconciles
  internal/testutil/acpmock/testdata/browser_subagent_journeys_fixture.json
  web/e2e/__tests__/subagents.spec.ts
Due: turbo-lint

docs: mark subagent.settled observe-only in the hook catalog
  packages/site/content/docs/hooks/event-catalog.mdx
Due: none

fix: render a revealed subagent outside the folded thread
  web/src/systems/session/components/__tests__/session-list.test.tsx
  web/src/systems/session/components/session-list/session-list-thread.tsx
Due: turbo-lint

docs: match subagent scenario copy to the rendered capabilities row and wake text
  docs/qa/scenarios/ET-web-subagent-card.md
  docs/qa/scenarios/RT-subagent-delegate.md
Due: none

docs: restate subagent restart scenario for clean stop and crash outcomes
  docs/qa/scenarios/RT-session-spawn-wake.md
  docs/qa/scenarios/RT-subagent-restart.md
Due: none

docs: align subagent tutorial and skill with wake text and restart semantics
  packages/site/content/docs/sessions/subagents.mdx
  skills/compozy/references/native-tools.md
Due: none

fix: share the duration formatter and second clock for subagent elapsed
  packages/ui/src/exports/foundation.ts
  packages/ui/src/lib/__tests__/format-time.test.ts
  packages/ui/src/lib/format-time.ts
  web/src/hooks/use-second-clock.ts
  web/src/systems/session/components/subagents/__tests__/subagent-format.test.ts
  web/src/systems/session/components/subagents/subagent-elapsed.tsx
  web/src/systems/session/components/subagents/subagent-format.ts
  web/src/systems/session/components/subagents/use-subagent-elapsed-ticker.ts
Due: turbo-lint

fix: bound subagent delegation coordination and preserve denials
  internal/session/subagent_delegate.go
  internal/session/subagent_service.go
  internal/session/subagent_service_test.go
  internal/session/subagent_test_support_test.go
Due: format-go

fix: dispatch subagent settlement observers asynchronously
  docs/_memory/change-impact.md
  docs/qa/scenarios/RT-subagent-delegate.md
  internal/session/subagent_publish.go
  internal/session/subagent_service_test.go
Due: format-go

fix: stop counting settled subagent children as running agents
  web/src/systems/session/hooks/use-session-context-activity.ts
  web/src/systems/session/lib/__tests__/session-working-status.test.ts
  web/src/systems/session/lib/session-working-status.ts
Due: turbo-lint

fix: show subagent progress and results as plain text
  web/src/systems/session/components/subagents/__tests__/subagent-format.test.ts
  web/src/systems/session/components/subagents/subagent-format.ts
  web/src/systems/session/lib/markdown-plain-text.ts
  web/src/systems/session/lib/queued-prompt-preview.ts
Due: turbo-lint

fix: match the subagent chip aria label to COPY.md
  web/src/systems/session/components/subagents/__tests__/subagent-format.test.ts
  web/src/systems/session/components/subagents/subagent-format.ts
Due: turbo-lint

fix: feed subagent previews from the live roster and debounce list reads
  web/src/systems/session/components/__tests__/session-inspector.test.tsx
  web/src/systems/session/components/__tests__/session-list.test.tsx
  web/src/systems/session/components/session-list/session-list-row.tsx
  web/src/systems/session/components/session-list/session-list-subagent-chip.tsx
  web/src/systems/session/hooks/__tests__/use-session-catalog-streams.test.tsx
  web/src/systems/session/hooks/use-session-catalog-streams.ts
  web/src/systems/session/hooks/use-session-subagents.ts
Due: turbo-lint

test: cover the subagent CLI journey
  internal/daemon/daemon_mock_agents_integration_test.go
  internal/testutil/acpmock/testdata/subagent_cli_fixture.json
Due: format-go

fix: apply live subagent result limits on config reload
  internal/daemon/daemon_mock_agents_integration_test.go
  internal/settings/config_reload_diff.go
Due: format-go

fix: re-render only the subagent views a roster update changes
  web/src/components/assistant-ui/__tests__/session-subagent-wiring.test.tsx
  web/src/components/assistant-ui/hooks/use-assistant-message-timeline.ts
  web/src/components/assistant-ui/session-subagent-banner.tsx
  web/src/components/assistant-ui/session-subagent-row.tsx
  web/src/components/assistant-ui/session-thread-status-row.tsx
  web/src/systems/session/contexts/session-subagents-context-value.ts
  web/src/systems/session/contexts/session-subagents-provider.tsx
  web/src/systems/session/hooks/use-subagent-roster.ts
  web/src/systems/session/lib/__tests__/subagent-roster.test.ts
  web/src/systems/session/lib/subagent-roster.ts
Due: turbo-lint

test: wait for the live catalog update to hide the E2E-009 chip
  web/e2e/__tests__/session-subagents-navigation.spec.ts
Due: turbo-lint

refactor: read the whole subagent roster through one session hook
  web/src/components/assistant-ui/session-subagent-banner.tsx
  web/src/components/assistant-ui/session-thread-status-row.tsx
  web/src/systems/session/hooks/use-subagent-roster-context.ts
Due: turbo-lint

test: align subagent route inventories
  internal/api/httpapi/handlers_test.go
  internal/api/udsapi/handlers_test.go
Due: format-go

fix: preserve native tool validation and descriptor semantics
  internal/api/core/tool_errors.go
  internal/api/core/tools_test.go
  internal/daemon/native_tool_subagent_input.go
  internal/daemon/native_tool_subagent_permissions.go
  internal/daemon/native_tools_test.go
  internal/mcp/hosted_proxy.go
  internal/mcp/hosted_proxy_test.go
  internal/mcp/hosted_proxy_transport_error.go
  internal/tools/builtin/builtin_test.go
  internal/tools/builtin/subagents.go
  internal/tools/descriptor.go
  internal/tools/descriptor_input_error.go
  internal/tools/dispatch_test.go
  internal/tools/errors.go
  internal/tools/resource.go
  internal/tools/schema.go
  internal/tools/subagent_input_error.go
  sdk/go/contracts/types_007_gen.go
  sdk/go/contracts/types_008_gen.go
  sdk/go/contracts/types_009_gen.go
  sdk/go/contracts/types_010_gen.go
  sdk/go/contracts/types_011_gen.go
  sdk/go/contracts/types_012_gen.go
  sdk/go/contracts/types_013_gen.go
  sdk/go/contracts/types_014_gen.go
  sdk/go/contracts/types_015_gen.go
  sdk/go/contracts/types_016_gen.go
  sdk/go/contracts/types_017_gen.go
  sdk/go/contracts/types_018_gen.go
  sdk/go/contracts/types_019_gen.go
  sdk/go/contracts/types_020_gen.go
  sdk/go/contracts/types_021_gen.go
  sdk/go/contracts/types_022_gen.go
  sdk/go/contracts/types_023_gen.go
  sdk/go/contracts/types_024_gen.go
  sdk/go/contracts/types_025_gen.go
  sdk/go/contracts/types_026_gen.go
  sdk/typescript/src/generated/contracts.ts
Due: turbo-lint, format-go

fix: preserve subagent metadata across API and transcript
  internal/api/contract/subagents.go
  internal/api/core/subagents.go
  internal/api/testutil/subagents_transport_parity_test.go
  internal/daemon/hook_agent_events.go
  internal/daemon/subagent_integration_test.go
  internal/session/additional_test.go
  internal/session/native_subagent_event.go
  internal/session/subagent_native.go
  internal/session/subagent_request.go
  internal/session/subagent_service_test.go
  internal/session/subagent_test_support_test.go
  internal/store/globaldb/global_db_session_subagents.go
  internal/store/globaldb/global_db_session_subagents_test.go
  internal/store/globaldb/queries/session_subagents.sql
  internal/store/globaldb/sqlcgen/session_subagents.sql.go
  internal/store/session_subagents.go
  internal/toolmeta/registry.go
  internal/toolmeta/registry_test.go
  internal/transcript/transcript_ui_projection_test.go
  internal/transcript/ui_messages_subagent.go
  openapi/compozy.json
  web/src/generated/compozy-openapi.d.ts
  web/src/systems/session/components/assistant-ui/stories/session-thread-story-subagents.ts
  web/src/systems/session/lib/__tests__/subagent-roster.test.ts
  web/src/systems/session/lib/subagent-payload.ts
Due: turbo-lint, format-go

fix: resolve subagent CLI records without a workspace cwd
  docs/_memory/change-impact.md
  internal/cli/client_subagents.go
  internal/cli/client_test.go
  internal/cli/session_subagents.go
  internal/cli/session_test.go
Due: format-go

fix: keep subagent Stop pending until rows settle and make static rows reachable
  web/src/systems/session/components/subagents/__tests__/subagent-components.test.tsx
  web/src/systems/session/components/subagents/session-inspector-subagents-section.tsx
  web/src/systems/session/components/subagents/subagent-card.tsx
  web/src/systems/session/components/subagents/subagent-waiting-banner.tsx
  web/src/systems/session/components/subagents/use-subagent-stop.ts
Due: turbo-lint

fix: bound subagent store reads and recovery transitions
  internal/session/subagent_test_support_test.go
  internal/session/subagent_wake.go
  internal/store/globaldb/global_db_session_subagents.go
  internal/store/globaldb/global_db_session_subagents_delivery.go
  internal/store/globaldb/global_db_session_subagents_list.go
  internal/store/globaldb/global_db_session_subagents_test.go
  internal/store/globaldb/global_db_session_subagents_wakes.go
  internal/store/globaldb/queries/session_subagents.sql
  internal/store/globaldb/schema/definitions/20_sessions.sql
  internal/store/globaldb/schema/migrations/00131_session_subagents.sql
  internal/store/globaldb/schema/migrations/atlas.sum
  internal/store/globaldb/sqlcgen/session_subagents.sql.go
  internal/store/session_subagents.go
Due: format-go

fix: publish subagent catalog updates only on summary changes
  docs/_memory/change-impact.md
  internal/session/subagent_delegate.go
  internal/session/subagent_finalize.go
  internal/session/subagent_native.go
  internal/session/subagent_publish.go
  internal/session/subagent_service_test.go
Due: format-go
