Repository compozy/compozy: changes, and which pre-commit hooks are due for each by the changed paths.
All: turbo-lint, format-go

turbo-lint:
  name: turbo lint
  description: Run linting via Turborepo
  entry: bun run lint
  language: system
  pass_filenames: false

format-go:
  name: format go
  description: Format Go files using make fmt
  entry: make fmt
  language: system
  pass_filenames: false

fix(repo): PR suggestions
  cli/cmd/config/config.go
  engine/agent/config.go
  engine/agent/config_test.go
  engine/autoload/autoload.go
  engine/core/loader.go
  engine/core/loader_test.go
  engine/infra/server/config/service.go
  engine/infra/server/reconciler/reconciler.go
  engine/infra/server/reconciler/reconciler_test.go
  engine/memory/config_resolver.go
  engine/project/config.go
  engine/resources/redis_store.go
  engine/task/config.go
  engine/task/uc/memory_resolver.go
  engine/task2/basic/normalizer.go
  engine/tool/config.go
  engine/tool/config_test.go
  engine/tool/timeout_test.go
  engine/workflow/config.go
  engine/workflow/config_test.go
  pkg/config/config.go
  pkg/config/config_test.go
  pkg/config/definition/schema.go
  pkg/config/provider.go
  test/utils/context.go
Due: format-go

test(resources): Add integration tests for resources
  engine/auth/userctx/context.go
  engine/auth/userctx/context_test.go
  engine/infra/postgres/taskrepo.go
  engine/infra/server/mod.go
  engine/infra/server/reg_admin_helpers.go
  engine/memory/instance/eviction/factory.go
  engine/memory/instance/eviction/factory_test.go
  engine/memory/privacy/resilient_manager_test.go
  engine/resources/router/router_test.go
  engine/workflow/config_test.go
  test/helpers/ctx/context.go
  test/helpers/server/server.go
  test/integration/resources/http_endpoints_test.go
Due: format-go

fix(repo): PR suggestions
  cli/helpers/port.go
  docs/docs.go
  docs/swagger.json
  docs/swagger.yaml
  engine/agent/router/agents_top.go
  engine/agent/router/dto.go
  engine/agent/uc/store_upsert.go
  engine/core/problem.go
  engine/infra/server/routes/routes.go
  engine/mcp/router/dto.go
  engine/mcp/router/mcps.go
  engine/mcp/uc/delete.go
  engine/mcp/uc/get.go
  engine/mcp/uc/list.go
  engine/memory/activities/flush_test.go
  engine/memoryconfig/router/memories.go
  engine/model/router/dto.go
  engine/model/uc/upsert.go
  engine/project/router/dto.go
  engine/project/uc/get.go
  engine/project/uc/upsert.go
  engine/resources/importer/importer.go
  engine/resourceutil/conflict.go
  engine/tool/uc/store_upsert.go
  engine/worker/activities.go
  engine/workflow/uc/list.go
  go.mod
  go.sum
  pkg/config/config.go
  pkg/mcp-proxy/README.md
  pkg/mcp-proxy/proxy_handlers.go
  pkg/mcp-proxy/proxy_handlers_test.go
  pkg/mcp-proxy/server.go
  test/integration/resources/agents_test.go
  test/integration/resources/memories_test.go
  test/integration/resources/schemas_test.go
Due: format-go

docs(repo): Add prd-imp docs
  engine/workflow/config.go
  tasks/prd-imp/_task_1.md
  tasks/prd-imp/_task_3.md
  tasks/prd-imp/_task_4.md
  tasks/prd-imp/_task_5.md
  tasks/prd-imp/_task_6.md
  tasks/prd-imp/_task_7.md
  tasks/prd-imp/_task_8.md
  tasks/prd-imp/_tasks.md
  tasks/prd-imp/reviews/2025-09-22-import-export-per-resource.md
Due: format-go

docs(repo): Update API docs
  docs/content/docs/api/agents.mdx
  docs/content/docs/api/mcps.mdx
  docs/content/docs/api/memories.mdx
  docs/content/docs/api/meta.json
  docs/content/docs/api/models.mdx
  docs/content/docs/api/project.mdx
  docs/content/docs/api/schemas.mdx
  docs/content/docs/api/tasks.mdx
  docs/content/docs/api/tools.mdx
  docs/content/docs/api/workflows.mdx
  engine/agent/router/agents_top.go
  schemas/compozy.json
  schemas/config-cli.json
  schemas/config.json
Due: format-go

fix(repo): OpenAI fumadocs integration
  bun.lock
  docs/content/docs/core/attachments/examples.mdx
  docs/content/docs/core/configuration/autoload.mdx
  docs/content/docs/core/deployment/docker.mdx
  docs/content/docs/core/getting-started/core-concepts.mdx
  docs/docs.go
  docs/package.json
  docs/src/components/ui/mdx-components.tsx
  docs/src/lib/get-llm-text.ts
  docs/swagger.json
  docs/swagger.yaml
Due: turbo-lint, format-go

fix(repo): NextJS build
  docs/docs.go
  docs/scripts/generate-openapi.ts
  docs/src/lib/openapi-loader.ts
  docs/src/lib/source.ts
  docs/swagger.json
  docs/swagger.yaml
  engine/agent/router/agents.go
  engine/agent/router/register.go
  engine/task/router/register.go
  engine/task/router/tasks.go
  engine/tool/router/register.go
  engine/tool/router/tools.go
  engine/workflow/router/register.go
  engine/workflow/schedule/router/register.go
Due: turbo-lint, format-go

fix(repo): PR suggestions
  docs/scripts/generate-openapi.ts
  docs/src/lib/openapi-loader.ts
  docs/src/lib/source.ts
  engine/core/error.go
  engine/core/provider.go
  engine/infra/server/reg_diagnostics.go
  engine/infra/server/reg_docs.go
  engine/llm/config.go
  engine/llm/orchestrator/client_manager.go
  engine/llm/orchestrator/client_manager_test.go
  engine/llm/orchestrator/errors.go
  engine/llm/orchestrator/errors_extra_test.go
  engine/llm/orchestrator/fingerprint.go
  engine/llm/orchestrator/llm_invoker.go
  engine/llm/orchestrator/loop.go
  engine/llm/orchestrator/memory.go
  engine/llm/orchestrator/memory_manager_test.go
  engine/llm/orchestrator/orchestrator.go
  engine/llm/orchestrator/orchestrator_close_test.go
  engine/llm/orchestrator/orchestrator_integration_test.go
  engine/llm/orchestrator/request_builder.go
  engine/llm/orchestrator/response_handler.go
  engine/llm/orchestrator/response_handler_extract_test.go
  engine/llm/orchestrator/response_handler_schema_test.go
  engine/llm/orchestrator/response_handler_test.go
  engine/llm/orchestrator/tool_executor.go
  engine/llm/orchestrator/tool_executor_update_budgets_test.go
  engine/llm/orchestrator/validate_request_test.go
  engine/llm/service.go
  engine/model/router/dto.go
  engine/project/config.go
  engine/resources/dirs_test.go
  engine/resources/exporter/exporter.go
  engine/resources/importer/importer.go
  engine/task/router/dto.go
  engine/worker/mod.go
  pkg/mcp-proxy/testmode_test.go
  pkg/template/templates/basic/README.md.tmpl
Due: turbo-lint, format-go

fix(repo): PR suggestions
  engine/core/provider.go
  engine/llm/config.go
  engine/llm/orchestrator/errors.go
  engine/llm/orchestrator/loop.go
  engine/llm/orchestrator/memory.go
  engine/llm/orchestrator/memory_manager_test.go
  engine/llm/orchestrator/orchestrator_execute_test.go
  engine/llm/orchestrator/request_builder.go
  engine/llm/orchestrator/response_handler.go
  engine/llm/orchestrator/response_handler_test.go
  engine/llm/orchestrator/tool_executor_update_budgets_test.go
  engine/llm/service.go
  engine/project/config.go
  pkg/config/config.go
  pkg/config/provider.go
Due: format-go

docs(repo): Fix swagger tags
  docs/docs.go
  docs/swagger.json
  docs/swagger.yaml
Due: format-go

docs(repo): Remove old PRDs
  tasks/prd-dispatcher/_prd.md
  tasks/prd-dispatcher/_task_1.md
  tasks/prd-dispatcher/_task_2.md
  tasks/prd-dispatcher/_task_3.md
  tasks/prd-dispatcher/_tasks.md
  tasks/prd-dispatcher/_techspec.md
  tasks/prd-redis/_prd.md
  tasks/prd-redis/_task_1.md
  tasks/prd-redis/_task_10.md
  tasks/prd-redis/_task_2.md
  tasks/prd-redis/_task_3.md
  tasks/prd-redis/_task_4.md
  tasks/prd-redis/_task_5.md
  tasks/prd-redis/_task_6.md
  tasks/prd-redis/_task_7.md
  tasks/prd-redis/_task_8.md
  tasks/prd-redis/_task_9.md
  tasks/prd-redis/_tasks.md
  tasks/prd-redis/_techspec.md
  tasks/prd-ts/_techspec.md
Due: none

feat(repo): Add state machine for LLM orchestrator
  Makefile
  bun.lock
  cluster/docker-compose.yml
  engine/llm/orchestrator/loop.go
  engine/llm/orchestrator/loop_fsm_callbacks_test.go
  engine/llm/orchestrator/loop_progress_test.go
  engine/llm/orchestrator/orchestrator.go
  engine/llm/orchestrator/state_machine.go
  engine/llm/orchestrator/state_machine_test.go
  go.mod
  go.sum
  package.json
  tasks/prd-orch/_prd.md
  tasks/prd-orch/_task_1.md
  tasks/prd-orch/_task_10.md
  tasks/prd-orch/_task_2.md
  tasks/prd-orch/_task_3.md
  tasks/prd-orch/_task_4.md
  tasks/prd-orch/_task_5.md
  tasks/prd-orch/_task_6.md
  tasks/prd-orch/_task_7.md
  tasks/prd-orch/_task_8.md
  tasks/prd-orch/_task_9.md
  tasks/prd-orch/_tasks.md
  tasks/prd-orch/_techspec.md
Due: format-go

fix(repo): MCP client connection
  engine/infra/server/mcp.go
  engine/infra/server/mcp_test.go
  engine/mcp/config.go
  engine/mcp/router/dto.go
  engine/mcp/service.go
  engine/mcp/service_test.go
  pkg/mcp-proxy/client_mcp.go
Due: format-go

fix(repo): PR suggestions
  engine/infra/server/mcp.go
  engine/infra/server/mcp_test.go
  engine/llm/orchestrator/errors.go
  engine/llm/orchestrator/loop.go
  engine/llm/orchestrator/loop_fsm_callbacks_test.go
  engine/llm/orchestrator/loop_progress_test.go
  engine/llm/orchestrator/response_handler.go
  engine/llm/orchestrator/state_machine.go
  engine/llm/orchestrator/state_machine_test.go
  engine/llm/orchestrator/tool_executor.go
  engine/llm/orchestrator/tool_executor_update_budgets_test.go
  engine/mcp/config.go
  engine/mcp/config_test.go
  go.mod
  go.sum
  pkg/mcp-proxy/client_mcp.go
  scripts/pr-review.ts
Due: turbo-lint, format-go

fix(repo): PR nitpicks
  engine/infra/server/mcp.go
  pkg/mcp-proxy/client_mcp.go
Due: format-go

refactor(repo): Add FSM to LLM orchestrator (#263)
  Makefile
  bun.lock
  cluster/docker-compose.yml
  engine/infra/server/mcp.go
  engine/infra/server/mcp_test.go
  engine/llm/orchestrator/errors.go
  engine/llm/orchestrator/loop.go
  engine/llm/orchestrator/loop_fsm_callbacks_test.go
  engine/llm/orchestrator/loop_progress_test.go
  engine/llm/orchestrator/orchestrator.go
  engine/llm/orchestrator/response_handler.go
  engine/llm/orchestrator/state_machine.go
  engine/llm/orchestrator/state_machine_test.go
  engine/llm/orchestrator/tool_executor.go
  engine/llm/orchestrator/tool_executor_update_budgets_test.go
  engine/mcp/config.go
  engine/mcp/config_test.go
  engine/mcp/router/dto.go
  engine/mcp/service.go
  engine/mcp/service_test.go
  go.mod
  go.sum
  package.json
  pkg/mcp-proxy/client_mcp.go
  scripts/pr-review.ts
  tasks/prd-orch/_prd.md
  tasks/prd-orch/_task_1.md
  tasks/prd-orch/_task_10.md
  tasks/prd-orch/_task_2.md
  tasks/prd-orch/_task_3.md
  tasks/prd-orch/_task_4.md
  tasks/prd-orch/_task_5.md
  tasks/prd-orch/_task_6.md
  tasks/prd-orch/_task_7.md
  tasks/prd-orch/_task_8.md
  tasks/prd-orch/_task_9.md
  tasks/prd-orch/_tasks.md
  tasks/prd-orch/_techspec.md
Due: turbo-lint, format-go

docs(repo): Fix README
  README.md
Due: none

ci(release): Release v0.0.16 (#258)
  CHANGELOG.md
  package.json
  tools/delete-file/package.json
  tools/exec/package.json
  tools/fetch/package.json
  tools/grep/package.json
  tools/list-dir/package.json
  tools/list-files/package.json
  tools/read-file/package.json
  tools/write-file/package.json
Due: none

feat(repo): Task #1 and #2
  engine/agent/router/exec.go
  engine/agent/router/exec_test.go
  engine/agent/router/register.go
  engine/infra/server/mcp.go
  engine/infra/server/router/helpers.go
  engine/infra/server/router/idempotency.go
  engine/infra/server/router/idempotency_test.go
  engine/task/router/exec.go
  engine/task/router/exec_test.go
  engine/task/router/register.go
  tasks/prd-execs/_prd.md
  tasks/prd-execs/_task_1.md
  tasks/prd-execs/_task_10.md
  tasks/prd-execs/_task_2.md
  tasks/prd-execs/_task_3.md
  tasks/prd-execs/_task_4.md
  tasks/prd-execs/_task_5.md
  tasks/prd-execs/_task_6.md
  tasks/prd-execs/_task_7.md
  tasks/prd-execs/_task_8.md
  tasks/prd-execs/_task_9.md
  tasks/prd-execs/_tasks.md
  tasks/prd-execs/_techspec.md
Due: format-go

feat(repo): Fix new native tools
  engine/llm/service.go
  engine/llm/tool.go
  engine/tool/builtin/filesystem/common.go
  engine/tool/builtin/filesystem/delete_file.go
  engine/tool/builtin/filesystem/filesystem.go
  engine/tool/builtin/filesystem/filesystem_test.go
  engine/tool/builtin/filesystem/grep.go
  engine/tool/builtin/filesystem/list_dir.go
  engine/tool/builtin/filesystem/list_files.go
  engine/tool/builtin/filesystem/list_files_test.go
  engine/tool/builtin/filesystem/read_file.go
  engine/tool/builtin/filesystem/read_file_test.go
  engine/tool/builtin/filesystem/write_file.go
  engine/tool/native/catalog.go
  engine/workflow/resolvers.go
  examples/code-reviewer/api.http
  examples/code-reviewer/compozy.yaml
  pkg/config/config.go
  pkg/config/config_test.go
  pkg/config/definition/schema.go
  pkg/config/native_tools.go
  tasks/prd-tools/_techspec.md
Due: format-go

fix(repo): PR suggestions
  engine/llm/orchestrator/state_machine.go
  engine/llm/orchestrator/tool_executor.go
  engine/llm/service.go
  engine/tool/builtin/exec/buffer.go
  engine/tool/builtin/exec/config.go
  engine/tool/builtin/exec/handler.go
  engine/tool/builtin/fetch/config.go
  engine/tool/builtin/fetch/fetch_test.go
  engine/tool/builtin/fetch/handler.go
  engine/tool/builtin/filesystem/delete_file.go
  engine/tool/builtin/filesystem/grep.go
  engine/tool/builtin/filesystem/list_dir.go
  engine/tool/builtin/filesystem/list_files.go
  engine/tool/builtin/filesystem/read_file.go
  engine/tool/builtin/filesystem/write_file.go
  package.json
  pkg/config/config_test.go
  scripts/scan-docs.sh
Due: format-go

fix(repo): PR suggestions
  Makefile
  engine/tool/builtin/exec/handler.go
  engine/tool/builtin/filesystem/delete_file.go
  engine/tool/builtin/filesystem/grep.go
  engine/tool/builtin/filesystem/write_file.go
  scripts/scan-docs.sh
Due: format-go

fix(repo): PR suggestions
  engine/tool/builtin/exec/handler.go
  engine/tool/builtin/filesystem/grep.go
  engine/tool/builtin/filesystem/write_file.go
Due: format-go

fix(repo): PR suggestions
  docs/content/docs/api/agents.mdx
  docs/content/docs/api/auth.mdx
  docs/content/docs/api/memory.mdx
  docs/content/docs/api/operations.mdx
  docs/content/docs/api/schedules.mdx
  docs/content/docs/api/tasks.mdx
  docs/content/docs/api/tools.mdx
  docs/content/docs/api/users.mdx
  docs/content/docs/api/workflows.mdx
  docs/docs.go
  docs/scripts/generate-openapi.ts
  docs/swagger.json
  docs/swagger.yaml
  engine/agent/router/dto.go
  engine/agent/router/exec.go
  engine/agent/router/exec_test.go
  engine/infra/monitoring/execution_metrics.go
  engine/infra/server/mcp.go
  engine/infra/server/router/idempotency.go
  engine/task/router/dto.go
  engine/task/router/exec.go
  engine/task/router/exec_test.go
  engine/workflow/router/docs.go
  engine/workflow/router/execute_sync.go
  engine/workflow/router/import_export.go
Due: turbo-lint, format-go

Path conditions:
  turbo-lint: any of: \.(js|jsx|ts|tsx)$, but not: (?x)^(
  CHANGELOG.md|
  tools/.*/package\.json|
  bun.lockb|
  node_modules|
)$

  format-go: any of: \.go$, but not: (?x)^(
  CHANGELOG.md|
  tools/.*/package\.json|
  bun.lockb|
  node_modules|
)$

