Repository compozy/compozy: changes, and which pre-commit hooks are due for each by the changed paths.
All: turbo-lint, format-go

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit

default_stages:
  - pre-commit

exclude: |
  (?x)^(
    CHANGELOG.md|
    tools/.*/package\.json|
    bun.lockb|
    node_modules|
  )$

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      # - id: trailing-whitespace
      #   args:
      #     - --no-utf8-locale
      - id: end-of-file-fixer
        exclude: '^(CHANGELOG\.md|tools/.*/package\.json|bun\.lockb|node_modules/)'
      - id: check-json
        exclude: '^(tools/.*/package\.json|node_modules/)'
      - id: check-toml
      - id: check-added-large-files
        args:
          - --maxkb=3000
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: detect-private-key
  - repo: local
    hooks:
      - id: turbo-lint
        name: turbo lint
        description: Run linting via Turborepo
        entry: bun run lint
        language: system
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false
      # - id: turbo-type-check
      #   name: turbo type check
      #   description: Run TypeScript checking via Turborepo
      #   entry: bun run type-check
      #   language: system
      #   files: \.(ts|tsx)$
      #   pass_filenames: false
      - id: format-go
        name: format go
        description: Format Go files using make fmt
        entry: make fmt
        language: system
        files: \.go$
        pass_filenames: false
  - repo: https://github.com/lyz-code/yamlfix/
    rev: 1.17.0
    hooks:
      - id: yamlfix
        args:
          - -c
          - .yamlfix.toml
        exclude: ^cluster/.*$

fix: mark topbar slot hooks as client-only
  packages/ui/src/components/custom/hooks/use-topbar-slot.ts
Due: turbo-lint

fix: validate manifest MCP tool backends
  internal/extension/resource_publication.go
  internal/extension/resource_publication_test.go
Due: format-go

fix: preserve extension agent edits during reconcile
  internal/daemon/agent_skill_publisher.go
  internal/daemon/daemon_agent_definition_e2e_integration_test.go
  internal/daemon/daemon_extension_agent_fixture_e2e_integration_test.go
  internal/daemon/daemon_extension_commands_e2e_integration_test.go
  internal/daemon/daemon_review_and_fix_e2e_integration_test.go
  internal/daemon/daemon_software_delivery_e2e_integration_test.go
Due: format-go

test: isolate drag performance measurement
  web/e2e/__tests__/os-shell.spec.ts
Due: turbo-lint

fix: reject retired marketplace kinds
  web/e2e/__tests__/marketplace.spec.ts
  web/src/routeTree.gen.ts
  web/src/routes/_app/marketplace.$kind_.tsx
Due: turbo-lint

fix: publish automatic titles after persistence
  internal/session/manager_test.go
  internal/session/manager_transition.go
  internal/session/manager_transition_test.go
  internal/session/session_info.go
  internal/session/session_meta.go
  internal/session/session_title.go
Due: format-go

docs: plan bundles removal QA cycle
  docs/qa/charters/CH-bundle-product-hard-cut.md
  docs/qa/charters/CH-extension-kit-lifecycle.md
  docs/qa/charters/CH-extension-network-consent.md
  docs/qa/charters/CH-extension-secrets-instance-isolation.md
  docs/qa/journeys/J-administer-network-live.md
  docs/qa/journeys/J-agent-marketplace-parity.md
  docs/qa/journeys/J-bundle-product-boundary.md
  docs/qa/journeys/J-extension-kit-lifecycle.md
  docs/qa/journeys/J-marketplace-acquisition.md
  docs/qa/reports/2026-08-02-bundles-removal-plan.md
  docs/qa/scenarios/ET-019.md
  docs/qa/scenarios/ET-021.md
  docs/qa/scenarios/ET-022.md
  docs/qa/scenarios/ET-bundle-product-surface-absent.md
  docs/qa/scenarios/ET-cli-marketplace-search.md
  docs/qa/scenarios/ET-compozy-official-skill-discovery.md
  docs/qa/scenarios/ET-ext-inventory.md
  docs/qa/scenarios/ET-ext-kit-enable.md
  docs/qa/scenarios/ET-ext-network-confirm.md
  docs/qa/scenarios/ET-ext-preview.md
  docs/qa/scenarios/ET-ext-secrets-binding.md
  docs/qa/scenarios/ET-extension-code-first-authoring.md
  docs/qa/scenarios/ET-site-docs-api-reference-ui.md
  docs/qa/scenarios/ET-web-extension-kit-inventory.md
  docs/qa/scenarios/ET-web-marketplace-kind-navigation.md
  docs/qa/scenarios/ET-web-marketplace-landing-browse.md
  docs/qa/scenarios/ET-web-marketplace-search-fanout.md
  docs/qa/scenarios/MS-046.md
  docs/qa/scenarios/MS-047.md
  docs/qa/scenarios/MS-048.md
Due: none

fix: remediate shell and timeline regressions
  docs/qa/reports/2026-08-03-pr-291-remediation.md
  docs/qa/scenarios/ET-window-tab-deck-lifecycle.md
  docs/qa/scenarios/RT-session-message-reload.md
  web/e2e/__tests__/os-shell.spec.ts
  web/e2e/__tests__/session-onboarding.spec.ts
  web/src/components/assistant-ui/__tests__/session-timeline.logic.test.ts
  web/src/components/assistant-ui/session-timeline-fold.ts
  web/src/systems/os/hooks/__tests__/os-interaction-hooks.test.tsx
  web/src/systems/os/hooks/use-os-shortcuts.ts
  web/src/systems/os/lib/__tests__/window-manager-shortcuts.test.ts
  web/src/systems/os/lib/window-manager-shortcuts.ts
  web/src/systems/session/components/__tests__/session-chat-runtime-provider.test.tsx
Due: turbo-lint

feat: Site docs, config reference and official skill #11
  docs/_memory/glossary.md
  packages/site/content/docs/configuration/config-toml.mdx
  packages/site/content/docs/loops/catalog.mdx
  packages/site/content/docs/loops/configure.mdx
  packages/site/content/docs/loops/dsl-reference.mdx
  packages/site/content/docs/loops/extensions.mdx
  packages/site/content/docs/loops/failure-handling.mdx
  packages/site/content/docs/loops/guardrails.mdx
  packages/site/content/docs/loops/index.mdx
  packages/site/content/docs/loops/meta.json
  packages/site/content/docs/loops/reference-grammar.mdx
  packages/site/content/docs/loops/running.mdx
  skills/compozy/references/loops.md
Due: none

test: Plan Loop lifecycle QA sessions #12
  docs/qa/charters/CH-agent-loop-lifecycle-parity.md
  docs/qa/charters/CH-approver-loop-wait.md
  docs/qa/charters/CH-author-loop-failure-contract.md
  docs/qa/charters/CH-operator-loop-recovery.md
  docs/qa/journeys/J-03-observe-and-approve.md
  docs/qa/journeys/J-07-agent-operated-run.md
  docs/qa/journeys/J-recover-loop-node-failure.md
  docs/qa/reports/2026-08-03-loop-node-lifecycle-plan.md
  docs/qa/scenarios/LP-016.md
  docs/qa/scenarios/LP-agent-operates-lifecycle-via-native-tools.md
  docs/qa/scenarios/LP-approval-link-journey.md
  docs/qa/scenarios/LP-cancel-vs-kill.md
  docs/qa/scenarios/LP-catalog-runform-walk.md
  docs/qa/scenarios/LP-crash-death-resume.md
  docs/qa/scenarios/LP-days-long-node-no-clock.md
  docs/qa/scenarios/LP-duplicate-event-suppressed.md
  docs/qa/scenarios/LP-durable-wait-restart.md
  docs/qa/scenarios/LP-editor-authoring-walk.md
  docs/qa/scenarios/LP-error-route-fallback.md
  docs/qa/scenarios/LP-live-pause-repair-resume.md
  docs/qa/scenarios/LP-on-error-notification-with-context.md
  docs/qa/scenarios/LP-operator-lifecycle-ui.md
  docs/qa/scenarios/LP-quarantine-diagnose-requeue.md
  docs/qa/scenarios/LP-sick-target-degrades-one-lane.md
  docs/qa/scenarios/LP-terminal-outcome-notification.md
  docs/qa/scenarios/LP-transient-blip-heals.md
  docs/qa/scenarios/LP-unannotated-escalation.md
  docs/qa/scenarios/LP-waiting-inventory-escalation.md
  docs/qa/scenarios/TA-070.md
  docs/qa/scenarios/TA-076.md
  docs/qa/scenarios/TA-084.md
Due: none

fix: review round
  docs/qa/reports/2026-08-03-site-changelog-compare-order.md
  docs/qa/scenarios/SITE-changelog-release-receipts.md
  packages/site/app/changelog/[version]/page.tsx
  packages/site/components/blog/__tests__/changelog-components.test.tsx
Due: turbo-lint

feat: Effects: outbox, relay and delivery identity #03
  docs/qa/scenarios/LP-on-error-notification-with-context.md
  docs/qa/scenarios/LP-terminal-outcome-notification.md
  internal/daemon/boot.go
  internal/daemon/boot_components.go
  internal/daemon/boot_publish.go
  internal/daemon/daemon.go
  internal/daemon/daemon_shutdown_runtime.go
  internal/daemon/daemon_shutdown_targets.go
  internal/daemon/loop_effect_relay.go
  internal/daemon/loop_effect_relay_boot.go
  internal/daemon/loop_effect_relay_test.go
  internal/daemon/loop_node_lifecycle_e2e_integration_test.go
  internal/loop/constants.go
  internal/loop/coordinator.go
  internal/loop/coordinator_effects.go
  internal/loop/coordinator_metadata.go
  internal/loop/effect_context.go
  internal/loop/effect_outbox.go
  internal/loop/effects_dispatch.go
  internal/loop/effects_dispatch_test.go
  internal/loop/generation_snapshot.go
  internal/loop/generation_snapshot_intents.go
  internal/loop/watch_events_registry_phase_a.go
  internal/store/globaldb/global_db_loop_effect_outbox.go
  internal/store/globaldb/global_db_loop_events.go
  internal/store/globaldb/global_db_loop_node_terminal.go
  internal/store/globaldb/global_db_loop_test.go
  internal/store/globaldb/global_db_task_claim_test.go
  internal/store/globaldb/global_db_task_coordinator_boundaries.go
  internal/store/globaldb/global_db_task_coordinator_effects.go
  internal/store/globaldb/global_db_task_coordinator_intents.go
  internal/store/globaldb/global_db_task_coordinator_runtime.go
Due: format-go

docs: align loop lifecycle language with runtime
  docs/qa/automation-backlog/all-run-status-seeds.md
  docs/qa/charters/CH-004.md
  docs/qa/charters/CH-011.md
  docs/qa/journeys/J-03-observe-and-approve.md
  docs/qa/journeys/J-16-watch-events-wake.md
  docs/qa/personas.md
  docs/qa/scenarios/LP-026.md
  docs/qa/scenarios/LP-run-detail-story-redesign.md
  packages/site/content/docs/loops/index.mdx
Due: none

fix: satisfy loop lifecycle lint checks
  internal/daemon/scheduler_loop_coordinator.go
  internal/daemon/scheduler_runtime_test.go
  internal/loop/coordinator_lifecycle_test.go
  internal/store/globaldb/global_db_task_claim_test.go
Due: format-go

build: enable CodeRabbit reviews for stacked PRs
  .coderabbit.yaml
Due: none

build: enable CodeRabbit reviews for stacked PRs (#299)
  .coderabbit.yaml
Due: none
