Repository compozy/compozy: changes, and which pre-commit hooks are due for each by the changed paths.
All: turbo-lint, format-go

turbo-lint:
  name: turbo lint
  description: Run linting via Turborepo
  entry: bun run lint
  language: system
  pass_filenames: false

format-go:
  name: format go
  description: Format Go files using make fmt
  entry: make fmt
  language: system
  pass_filenames: false

fix: drop the duplicated automations palette app constant
  internal/cmdpalette/corecmds/automations.go
Due: format-go

fix: preserve native compaction lifecycle boundaries
  internal/acp/agent_process_prompt.go
  internal/acp/client_prompt_contract_test.go
  internal/acp/client_test_support_test.go
  internal/acp/compaction.go
  internal/api/contract/agent_observe_payloads.go
  internal/api/core/conversions_acp_observations.go
  internal/api/core/session_compact.go
  internal/api/udsapi/handlers_test.go
  internal/cli/session_compact.go
  internal/cli/session_test.go
  internal/cli/session_usage.go
  internal/daemon/bounded_rebuild_integration_test.go
  internal/daemon/daemon_acpmock_helpers_integration_test.go
  internal/daemon/loop_goal_executor_test.go
  internal/daemon/loop_goal_managed_runtime_integration_test.go
  internal/daemon/loop_goal_prompt_recovery.go
  internal/daemon/loop_managed_prompt_events.go
  internal/daemon/native_compaction_integration_test.go
  internal/daemon/native_session_compact.go
  internal/daemon/native_tools_test.go
  internal/session/manager_clear.go
  internal/session/manager_clear_test.go
  internal/session/manager_prompt_recovery.go
  internal/session/manager_prompt_runtime.go
  internal/session/manager_start_launch.go
  internal/session/manager_start_launch_accepted.go
  internal/session/manager_start_meta.go
  internal/session/manager_start_session.go
  internal/session/resume_replay.go
  internal/session/session.go
  internal/session/session_meta.go
  internal/session/session_runtime_state.go
  internal/store/session_meta_types.go
  internal/tools/errors.go
  internal/transcript/redaction.go
  internal/transcript/transcript_security_markers_test.go
  packages/site/content/docs/cli/session/usage.mdx
Due: format-go

test: move the automation e2e journeys onto the automations listing
  web/e2e/__tests__/automation.spec.ts
  web/e2e/__tests__/automations-listing.spec.ts
  web/e2e/__tests__/jobs-hardening.spec.ts
  web/e2e/__tests__/loops.spec.ts
  web/e2e/__tests__/os-shell.spec.ts
  web/e2e/__tests__/triggers-hardening.spec.ts
  web/e2e/fixtures/__tests__/browser-artifact-session.test.ts
  web/e2e/fixtures/__tests__/selectors.test.ts
  web/e2e/fixtures/artifacts.ts
  web/e2e/fixtures/browser-artifact-session.ts
  web/e2e/fixtures/scenario-contracts.ts
  web/e2e/fixtures/selectors.ts
  web/src/systems/automation/components/__tests__/automation-suggestions-card.test.tsx
  web/src/systems/automation/components/automation-suggestions-card.tsx
Due: turbo-lint

feat: show native compaction in the session timeline and context rail
  web/src/components/assistant-ui/__tests__/session-thread-status.logic.test.ts
  web/src/components/assistant-ui/__tests__/session-thread.test.tsx
  web/src/components/assistant-ui/__tests__/session-timeline.logic.test.ts
  web/src/components/assistant-ui/session-timeline-fold.ts
  web/src/components/assistant-ui/session-timeline-render.tsx
  web/src/systems/os/apps/session/use-session-window-controller.tsx
  web/src/systems/session/adapters/__tests__/session-api.test.ts
  web/src/systems/session/adapters/session-api.ts
  web/src/systems/session/adapters/session-compaction-api.ts
  web/src/systems/session/components/__tests__/session-compaction-item.test.tsx
  web/src/systems/session/components/__tests__/session-inspector.test.tsx
  web/src/systems/session/components/session-compaction-item.tsx
  web/src/systems/session/components/session-context-compact-action.tsx
  web/src/systems/session/components/session-context-meter-section.tsx
  web/src/systems/session/components/session-context-turns-section.tsx
  web/src/systems/session/components/session-inspector.tsx
  web/src/systems/session/components/stories/session-compaction-item.stories.tsx
  web/src/systems/session/components/stories/session-inspector.stories.tsx
  web/src/systems/session/hooks/__tests__/use-sessions.test.tsx
  web/src/systems/session/hooks/index.ts
  web/src/systems/session/hooks/use-compact-session.ts
  web/src/systems/session/hooks/use-session-context.ts
  web/src/systems/session/index.ts
  web/src/systems/session/lib/__tests__/session-compaction.test.ts
  web/src/systems/session/lib/message-parts.ts
  web/src/systems/session/lib/message-schemas.ts
  web/src/systems/session/lib/session-compaction.ts
  web/src/systems/session/lib/session-context-view.ts
  web/src/systems/session/lib/session-context.ts
  web/src/systems/session/lib/session-query-invalidation.ts
  web/src/systems/session/lib/session-thinking-state.ts
  web/src/systems/session/lib/session-thread-repository.ts
  web/src/systems/session/lib/session-thread-status.ts
  web/src/systems/session/mocks/context-fixtures.ts
  web/src/systems/session/types.ts
Due: turbo-lint

test: cover Compact now and native compaction in the session e2e specs
  web/e2e/__tests__/session-hardening.spec.ts
Due: turbo-lint

docs: add the session compaction terms to COPY.md
  COPY.md
Due: none

fix: give the tool-approval grant fixtures distinct tool ids
  web/src/systems/tool-approvals/mocks/fixtures.ts
Due: turbo-lint

refactor: drop removed-feature vocabulary from @compozy/ui sample copy
  packages/ui/src/components/__tests__/confirm-dialog.test.tsx
  packages/ui/src/components/custom/__tests__/topbar.test.tsx
  packages/ui/src/components/custom/stories/section.stories.tsx
  packages/ui/src/components/stories/accordion.stories.tsx
  packages/ui/src/components/stories/collapsible.stories.tsx
  packages/ui/src/components/stories/command.stories.tsx
  packages/ui/src/components/stories/confirm-dialog.stories.tsx
  packages/ui/src/components/stories/item.stories.tsx
  packages/ui/src/components/stories/sidebar.stories.tsx
  packages/ui/src/components/stories/sonner.stories.tsx
Due: turbo-lint

fix: restore upgrade boundaries and retained session history
  docs/_memory/change-impact.md
  docs/qa/scenarios/RT-upgrade-memory-removal-home.md
  internal/cli/config_roles.go
  internal/config/agent.go
  internal/config/agent_hook_retirement.go
  internal/config/hooks_test.go
  internal/config/persistence_marketplace.go
  internal/config/persistence_memory_retirement.go
  internal/config/persistence_test.go
  internal/daemon/daemon_integration_test.go
  internal/daemon/window_manager_repository_reconcile.go
  internal/daemon/window_manager_repository_test.go
  internal/extension/automation_resources.go
  internal/extension/automation_resources_test.go
  internal/extension/host_api_workspace_identity.go
  internal/session/derive_prepare.go
  internal/session/derive_replay.go
  internal/session/derive_test.go
  internal/session/manager_derive_test.go
  internal/skills/loader_declarations.go
  internal/skills/loader_test.go
  internal/store/globaldb/global_db_test.go
  internal/store/globaldb/schema/migrations/00128_retire_memory.sql
  internal/store/globaldb/schema/migrations/atlas.sum
  internal/store/sessiondb/queries/transcript_compaction_upgrade.sql
  internal/store/sessiondb/session_db_integration_test.go
  internal/store/sessiondb/session_sqlite.go
  internal/store/sessiondb/sqlcgen/transcript_compaction_upgrade.sql.go
  internal/store/sessiondb/transcript_projection_compaction_upgrade.go
  internal/store/sessiondb/transcript_projection_upgrade.go
  magefiles/gotest_census.json
Due: format-go

fix: match the detail board's rule, next-run and subhead grammar
  web/src/systems/automation/components/automation-detail/automation-detail-head.tsx
  web/src/systems/automation/components/automation-detail/automation-next-runs.tsx
  web/src/systems/automation/components/automation-detail/automation-rail.tsx
  web/src/systems/automation/components/automation-detail/automation-rule-card.tsx
  web/src/systems/automation/components/automation-detail/automation-rule-does.tsx
Due: turbo-lint

test: pin web redirects to the daemon vectors and cover saved desktops
  web/e2e/__tests__/automations-listing.spec.ts
  web/src/systems/automation/lib/__tests__/automation-route-search.test.ts
  web/src/systems/os/apps/automation/__tests__/use-automations-page.test.tsx
  web/src/systems/os/apps/automation/use-automations-page.ts
  web/src/systems/os/apps/automations/automations-catalog-location.tsx
Due: turbo-lint

fix: open create deep links in Global and drop the job preview leftovers
  web/e2e/__tests__/automations-editor.spec.ts
  web/e2e/fixtures/__tests__/browser-artifact-session.test.ts
  web/e2e/fixtures/browser-artifact-session.ts
  web/src/systems/automation/components/automation-form/automation-form.tsx
  web/src/systems/automation/components/automation-form/preview/automation-preview.tsx
  web/src/systems/automation/components/automation-target-details.tsx
  web/src/systems/automation/components/job-form/preview/next-runs-card.tsx
  web/src/systems/automation/lib/automation-form-schedule.ts
  web/src/systems/automation/lib/job-preview.ts
  web/src/systems/os/apps/automation/__tests__/use-automations-page.test.tsx
  web/src/systems/os/apps/automation/automation-create-seed-store.ts
  web/src/systems/os/apps/automation/use-automation-page-base.ts
  web/src/systems/os/apps/automation/use-automations-page.ts
  web/src/systems/os/lib/__tests__/routing-coordinator.test.ts
Due: turbo-lint

docs: reconcile Automations docs with the shipped UI and CLI copy
  .release-notes/one-automations-window-1791444637.md
  docs/qa/scenarios/TA-automation-last-run-agent.md
  docs/qa/scenarios/TA-web-automations-first-run.md
  docs/qa/scenarios/TA-web-automations-shell-entry.md
  packages/site/content/docs/automation/events.mdx
  packages/site/content/docs/automation/index.mdx
  packages/site/content/docs/automation/react-when-a-session-fails.mdx
  packages/site/content/docs/automation/run-an-agent-every-morning.mdx
  packages/site/content/docs/automation/schedules.mdx
  packages/site/content/docs/loops/catalog.mdx
Due: none

fix: move the web window-manager contract to snapshot version 5
  internal/tools/builtin/testdata/native-tool-catalog.json
  internal/tools/builtin/window_manager_schemas.go
  skills/compozy/references/window-management.md
  web/src/systems/os/components/__tests__/os-dock.test.tsx
  web/src/systems/os/components/stories/_shell-fixture.tsx
  web/src/systems/os/hooks/__tests__/os-interaction-hooks.test.tsx
  web/src/systems/os/hooks/__tests__/use-window-manager-stream.test.tsx
  web/src/systems/os/hooks/__tests__/window-manager-runtime.test.ts
  web/src/systems/os/lib/__tests__/group-projection.test.ts
  web/src/systems/os/lib/__tests__/window-manager-stream-schema.test.ts
  web/src/systems/os/lib/__tests__/window-manager-view.test.ts
  web/src/systems/os/lib/window-manager-schemas.ts
  web/src/systems/os/lib/window-manager-types.ts
  web/src/systems/os/mocks/fixtures.ts
  web/src/systems/settings/components/__tests__/layout-canvas-board-bar.test.tsx
  web/src/systems/settings/components/__tests__/layout-canvas.test.tsx
  web/src/systems/settings/components/__tests__/layout-review-bar.test.tsx
  web/src/systems/settings/hooks/__tests__/use-window-manager-layout-editor.test.tsx
  web/src/systems/settings/hooks/__tests__/use-window-manager-layout-profiles.test.tsx
  web/src/systems/settings/lib/__tests__/window-manager-layout-profile-key.test.ts
  web/src/systems/settings/lib/window-manager-layout-schema.ts
  web/src/systems/settings/lib/window-manager-layout-types.ts
  web/src/systems/settings/mocks/window-manager-fixtures.ts
  web/src/systems/settings/stores/__tests__/window-manager-layout-profile-editor-store.test.ts
Due: turbo-lint, format-go

fix: show missed fires as missed in the automation CLI tables
  docs/qa/scenarios/TA-automation-last-run-agent.md
  internal/cli/automation_last_run_output.go
  internal/cli/automation_test.go
  packages/site/content/docs/automation/index.mdx
  packages/site/content/docs/automation/schedules.mdx
Due: format-go

fix: retire stale detail test ids and carry listing search into detail links
  web/e2e/__tests__/automation.spec.ts
  web/e2e/__tests__/jobs-hardening.spec.ts
  web/e2e/__tests__/triggers-hardening.spec.ts
  web/e2e/fixtures/__tests__/browser-artifact-session.test.ts
  web/e2e/fixtures/__tests__/selectors.test.ts
  web/e2e/fixtures/artifacts.ts
  web/e2e/fixtures/browser-artifact-session.ts
  web/e2e/fixtures/selectors.ts
  web/src/systems/automation/components/__tests__/automation-listing.test.tsx
  web/src/systems/automation/components/automation-card.tsx
  web/src/systems/automation/components/automation-delete-action.tsx
  web/src/systems/automation/components/automation-row.tsx
  web/src/systems/automation/index.ts
  web/src/systems/automation/lib/__tests__/automation-formatters.test.ts
  web/src/systems/automation/lib/automation-formatters.ts
  web/src/systems/automation/lib/automation-route-search.ts
  web/src/systems/automation/routes/automation-detail.stories.tsx
  web/src/systems/os/apps/automations/automations-catalog-location.tsx
Due: turbo-lint

test: map e2e selectors to the unified detail and editor test ids
  docs/qa/scenarios/TA-054.md
  web/e2e/__tests__/automation.spec.ts
  web/e2e/__tests__/jobs-hardening.spec.ts
  web/e2e/__tests__/triggers-hardening.spec.ts
  web/e2e/fixtures/__tests__/selectors.test.ts
  web/e2e/fixtures/selectors.ts
  web/src/systems/os/apps/automation/__tests__/use-automation-detail-page.test.tsx
Due: turbo-lint

refactor: retire the last jobs and triggers app references in web fixtures
  web/src/systems/settings/hooks/__tests__/use-settings-automation-page.test.tsx
  web/src/systems/settings/mocks/fixtures.ts
  web/src/systems/settings/mocks/window-manager-fixtures.ts
Due: turbo-lint

fix: name the repeated palette command literals
  internal/cmdpalette/corecmds/automations.go
  internal/cmdpalette/corecmds/constants.go
  internal/cmdpalette/corecmds/domains.go
  internal/cmdpalette/corecmds/profiles.go
  internal/cmdpalette/corecmds/settings.go
Due: format-go

fix: stop inferring an after-compaction occupancy from merged usage rows
  COPY.md
  web/src/systems/session/components/__tests__/session-inspector.test.tsx
  web/src/systems/session/components/session-context-turns-section.tsx
  web/src/systems/session/lib/session-context-view.ts
  web/src/systems/session/mocks/context-fixtures.ts
Due: turbo-lint

docs: finish the automations QA and docs sweep
  .release-notes/one-automations-window-1791444637.md
  docs/qa/journeys/J-24-triage-work-at-scale.md
  docs/qa/scenarios/ET-web-catalog-navigation.md
  docs/qa/scenarios/MS-web-menubar-global-scope-toggle.md
  docs/qa/scenarios/TA-056.md
  docs/qa/scenarios/TA-web-automation-editor.md
  packages/site/content/docs/automation/suggestions.mdx
  packages/site/content/docs/loops/catalog.mdx
Due: none

docs: list every flagged automations QA scenario in the impact audit
  docs/_memory/change-impact.md
Due: none

fix: detail review round 1 — toasts, retries in place, skeleton split, copy and owners
  web/e2e/__tests__/automations-detail.spec.ts
  web/e2e/__tests__/jobs-hardening.spec.ts
  web/src/systems/automation/components/__tests__/automation-detail-panel.test.tsx
  web/src/systems/automation/components/automation-detail/automation-detail-head.tsx
  web/src/systems/automation/components/automation-detail/automation-detail-states.tsx
  web/src/systems/automation/components/automation-detail/automation-rail.tsx
  web/src/systems/automation/components/automation-detail/automation-rule-does.tsx
  web/src/systems/automation/components/automation-detail/automation-run-list.tsx
  web/src/systems/automation/components/automation-detail/automation-value-badge.tsx
  web/src/systems/automation/lib/__tests__/automation-run-model.test.ts
  web/src/systems/automation/lib/automation-view.ts
  web/src/systems/automation/mocks/detail-fixtures.ts
  web/src/systems/loops/components/detail/loop-start-bindings-panel.tsx
  web/src/systems/loops/lib/__tests__/loop-bindings.test.ts
  web/src/systems/loops/lib/loop-bindings.ts
  web/src/systems/os/apps/automation/__tests__/use-automation-detail-page.test.tsx
  web/src/systems/os/apps/automation/use-automation-detail-page.ts
Due: turbo-lint

fix: editor review round 1 (chips, locks, conditions, builder, seeds)
  web/src/systems/automation/components/__tests__/automation-editor-dialog.test.tsx
  web/src/systems/automation/components/automation-form/automation-form.tsx
  web/src/systems/automation/components/automation-form/choice-chip.tsx
  web/src/systems/automation/components/automation-form/does/agent-target.tsx
  web/src/systems/automation/components/automation-form/does/does-section.tsx
  web/src/systems/automation/components/automation-form/only-if/condition-row.tsx
  web/src/systems/automation/components/automation-form/only-if/only-if-section.tsx
  web/src/systems/automation/components/automation-form/starts/schedule-start.tsx
  web/src/systems/automation/components/stories/automation-editor-dialog.stories.tsx
  web/src/systems/automation/hooks/use-automation-form.ts
  web/src/systems/automation/lib/__tests__/automation-form-schedule.test.ts
  web/src/systems/automation/lib/automation-form-draft.ts
  web/src/systems/automation/lib/automation-form-readiness.ts
  web/src/systems/os/apps/automation/__tests__/use-automations-page.test.tsx
  web/src/systems/os/apps/automation/automation-create-seed-store.ts
  web/src/systems/os/apps/automation/use-automation-page-base.ts
Due: turbo-lint

fix: align automation compatibility routes and native descriptions
  docs/_memory/change-impact.md
  docs/qa/scenarios/TA-web-automations-upgrade.md
  internal/api/core/cmd_palette.go
  internal/api/core/cmd_palette_personalization.go
  internal/api/core/cmd_palette_retired.go
  internal/api/core/cmd_palette_test.go
  internal/api/core/cmd_palette_view_sessions.go
  internal/api/core/cmd_palette_views.go
  internal/api/core/handlers_internal_test.go
  internal/api/spec/automation_values.go
  internal/api/spec/registry_automation.go
  internal/daemon/native_automation_tools_test.go
  internal/store/globaldb/schema/definitions/30_automation.sql
  internal/store/globaldb/sqlcgen/models.go
  internal/tools/builtin/automation.go
  internal/windowmanager/resource_codec_test.go
  internal/windowmanager/snapshot_v3_test.go
  internal/windowmanager/snapshot_v4.go
  internal/windowmanager/testdata/retired_app_routes.json
  web/src/systems/automation/lib/__tests__/automation-route-search.test.ts
Due: turbo-lint, format-go

fix: accept retired automation palette ids in the cmd-palette CLI
  internal/cli/cmd_palette.go
  internal/cli/cmd_palette_invoke.go
  internal/cli/cmd_palette_list.go
  internal/cli/cmd_palette_test.go
Due: format-go

fix: keep panel props off the DOM and show the prompt toggle only when clamped
  web/src/systems/automation/components/__tests__/automation-detail-panel.test.tsx
  web/src/systems/automation/components/automation-detail/automation-detail-panel.tsx
  web/src/systems/automation/components/automation-detail/automation-rule-does.tsx
  web/src/systems/automation/hooks/use-clamp-overflow.ts
Due: turbo-lint

fix: keep cold-loaded create links open until the operator closes them
  web/e2e/__tests__/automations-editor.spec.ts
  web/src/systems/automation/components/automation-form/starts/schedule-start.tsx
  web/src/systems/automation/lib/__tests__/automation-route-search.test.ts
  web/src/systems/automation/lib/automation-route-search.ts
  web/src/systems/os/apps/automation/__tests__/use-automations-page.test.tsx
  web/src/systems/os/apps/automation/automation-create-seed-store.ts
  web/src/systems/os/apps/automation/use-automation-page-base.ts
  web/src/systems/os/apps/automation/use-automations-page.ts
  web/src/systems/os/apps/automations/automations-catalog-location.tsx
Due: turbo-lint

fix: name the project in palette sentences and normalize the listing URL
  web/src/routes/_app/__tests__/-legacy-automation-redirect.test.ts
  web/src/routes/_app/automations.tsx
  web/src/systems/automation/components/__tests__/automation-listing.test.tsx
  web/src/systems/automation/components/automation-card.tsx
  web/src/systems/automation/components/automation-row.tsx
  web/src/systems/automation/index.ts
  web/src/systems/automation/lib/__tests__/automation-route-search.test.ts
  web/src/systems/automation/lib/automation-formatters.ts
  web/src/systems/automation/lib/automation-route-search.ts
  web/src/systems/automation/lib/automation-view.ts
  web/src/systems/os/hooks/use-os-palette-entity-sections.ts
  web/src/systems/os/lib/__tests__/os-palette-domain-search.test.ts
  web/src/systems/os/lib/os-palette-domain-search.ts
Due: turbo-lint

test: align automation e2e with the folded Options, restored listing search and snapshot v5
  web/e2e/__tests__/automation.spec.ts
  web/e2e/__tests__/jobs-hardening.spec.ts
  web/e2e/__tests__/os-shell.spec.ts
Due: turbo-lint

test: reload the served desktop after restart and assert the Automations first run
  web/e2e/__tests__/automations-listing.spec.ts
  web/e2e/__tests__/loops.spec.ts
  web/e2e/fixtures/navigation.ts
Due: turbo-lint

test: open the folded Loop Automations card before following its link
  web/e2e/__tests__/automations-editor.spec.ts
Due: turbo-lint

fix: keep cold-loaded create links open across StrictMode remounts
  web/src/systems/os/apps/automation/__tests__/use-automations-page.test.tsx
  web/src/systems/os/apps/automation/automation-create-seed-store.ts
  web/src/systems/os/apps/automation/use-automation-page-base.ts
  web/src/systems/os/apps/automation/use-automations-page.ts
Due: turbo-lint

docs: record the automations QA walk results
  docs/qa/scenarios/TA-automation-last-run-agent.md
  docs/qa/scenarios/TA-web-automation-detail.md
  docs/qa/scenarios/TA-web-automation-editor.md
  docs/qa/scenarios/TA-web-automations-first-run.md
  docs/qa/scenarios/TA-web-automations-listing.md
  docs/qa/scenarios/TA-web-automations-shell-entry.md
  docs/qa/scenarios/TA-web-automations-upgrade.md
Due: none

refactor: split the automations listing model into pure state and row actions
  web/src/systems/os/apps/automation/automation-listing-state.ts
  web/src/systems/os/apps/automation/use-automation-row-actions.ts
  web/src/systems/os/apps/automation/use-automations-page.ts
Due: turbo-lint

refactor: split the detail page hook and run list into smaller parts
  web/src/systems/automation/components/automation-detail/automation-run-list.tsx
  web/src/systems/os/apps/automation/use-automation-detail-page.ts
  web/src/systems/os/apps/automation/use-automation-detail-parts.ts
Due: turbo-lint

Path conditions:
  turbo-lint: any of: \.(js|jsx|ts|tsx)$, but not: (?x)^(
  CHANGELOG.md|
  tools/.*/package\.json|
  bun.lockb|
  node_modules|
)$

  format-go: any of: \.go$, but not: (?x)^(
  CHANGELOG.md|
  tools/.*/package\.json|
  bun.lockb|
  node_modules|
)$

