Repository compozy/compozy: changes, and which pre-commit hooks are due for each by the changed paths.
All: turbo-lint, format-go

turbo-lint:
  name: turbo lint
  description: Run linting via Turborepo
  entry: bun run lint
  language: system
  pass_filenames: false

format-go:
  name: format go
  description: Format Go files using make fmt
  entry: make fmt
  language: system
  pass_filenames: false

fix: retain terminal launchers across workspace changes
  docs/qa/reports/2026-09-10-issue-594-terminal-close.md
  web/src/systems/os/apps/terminal/__tests__/use-terminal-window-controller-state.test.ts
  web/src/systems/os/apps/terminal/hooks/use-terminal-window-controller-state.ts
  web/src/systems/os/components/desktop-shell.tsx
  web/src/systems/os/lib/terminal-window-close.ts
  web/src/systems/terminal/components/terminal-header-actions.tsx
  web/src/systems/terminal/components/terminal-window-body.tsx
Due: turbo-lint

fix: resolve tool identity only from explicit names
  docs/qa/reports/2026-09-10-session-summary-truncation.md
  web/src/systems/session/components/__tests__/session-goal-strip.test.tsx
  web/src/systems/session/components/__tests__/thinking-block.test.tsx
  web/src/systems/session/lib/__tests__/session-tool-visual-state.test.ts
  web/src/systems/session/lib/__tests__/tool-labels.test.ts
  web/src/systems/session/lib/tool-labels.ts
Due: turbo-lint

fix: retain pending Goal cancellation across stop recovery
  docs/_memory/change-impact.md
  docs/qa/reports/2026-09-10-issue-595-goal-lifecycle.md
  internal/daemon/boot_session_repair.go
  internal/session/manager_lifecycle_contract_test.go
  internal/session/manager_stop_finalization.go
  internal/session/stop_recovered_finalization.go
  packages/site/content/docs/loops/goals.mdx
  skills/compozy/references/loops.md
Due: format-go

fix: publish skill edits with preserved timestamps
  internal/filesnap/change_token_darwin.go
  internal/filesnap/change_token_linux.go
  internal/filesnap/change_token_other.go
  internal/filesnap/filesnap.go
  internal/filesnap/filesnap_test.go
  internal/skills/watcher.go
  internal/skills/watcher_test.go
  internal/skillscan/scan_cache.go
  internal/skillscan/scan_change_time_darwin.go
  internal/skillscan/scan_change_time_linux.go
  internal/skillscan/scan_change_time_other.go
  internal/skillscan/scan_directory.go
  internal/skillscan/scan_test.go
Due: format-go

fix: retain warnings for unverified binding application
  docs/qa/reports/2026-09-10-issue-593-layout-settings-save.md
  docs/qa/scenarios/MS-configure-window-manager.md
  internal/api/core/settings_test.go
  internal/settings/config_apply_service_test.go
  internal/settings/provider_model_active_config.go
  internal/settings/service_test.go
  web/.storybook/preview.ts
  web/src/systems/os/adapters/window-manager-settings-api.ts
  web/src/systems/os/hooks/__tests__/use-os-palette-root.test.tsx
  web/src/systems/os/lib/window-manager-settings-result.ts
  web/src/systems/settings/adapters/__tests__/window-manager-layouts-api.test.ts
  web/src/systems/settings/adapters/__tests__/window-manager-settings-api.test.ts
  web/src/systems/settings/adapters/window-manager-layouts-api.ts
  web/src/systems/settings/components/__tests__/settings-save-bar.test.tsx
  web/src/systems/settings/components/__tests__/window-manager-shortcut-table.test.tsx
  web/src/systems/settings/hooks/__tests__/use-window-manager-config-editor.test.tsx
Due: turbo-lint, format-go

refactor: consume summary components through session exports
  web/src/components/assistant-ui/session-live-tool-row.tsx
  web/src/systems/session/index.ts
Due: turbo-lint

test: prove Goal binding and deletion recovery contracts
  docs/qa/reports/2026-09-10-issue-595-goal-lifecycle.md
  internal/daemon/loop_goal_command_e2e_integration_test.go
  internal/daemon/loop_goal_managed_runtime_integration_test.go
  internal/loop/goal/executor.go
  internal/loop/goal/executor_test_support_test.go
  internal/session/manager_delete_staging.go
  internal/session/manager_delete_test.go
  internal/store/globaldb/global_db_goal_checkpoint_integration_test.go
  packages/site/content/docs/loops/goals.mdx
Due: format-go

fix: delegate bounded native tools to orchestrated workers (#591)
  docs/qa/scenarios/LP-implement-tasks-orchestrated-mode.md
  extensions/spec-cycle/skills/cy-orchestrate-tasks/SKILL.md
  internal/daemon/daemon_implement_tasks_e2e_integration_test.go
  internal/session/manager_allowed_tools.go
  internal/session/manager_lineage_test.go
  internal/session/manager_test.go
  internal/testutil/acpmock/testdata/implement_tasks_fixture.json
  skills/compozy/references/tasks-and-orchestration.md
  web/e2e/__tests__/network.spec.ts
  web/e2e/__tests__/sandbox.spec.ts
  web/e2e/__tests__/session-hardening.spec.ts
  web/e2e/__tests__/tasks-hardening.spec.ts
  web/src/systems/onboarding/components/__tests__/onboarding-setup-frame.test.tsx
Due: turbo-lint, format-go

fix: emit profile scope from memory extraction (#592)
  docs/qa/scenarios/MS-profile-memory-tier-scope.md
  internal/daemon/memory_runtime_test.go
  internal/memory/prompts/extract.v1.tmpl
Due: format-go

docs: record review fixes and final CPU validation
  docs/qa/bugs/BUG-20260910-idle-session-high-cpu.md
  docs/qa/reports/2026-09-10-beta24-daemon-cpu.md
  docs/qa/scenarios/ET-compozy-native-tool-invocation.md
Due: none

fix: confirm terminal termination when closing windows (#597)
  docs/qa/journeys/J-operate-integrated-terminal.md
  docs/qa/reports/2026-09-10-issue-594-terminal-close.md
  docs/qa/scenarios/ET-terminal-browser-lifecycle.md
  docs/qa/scenarios/ET-terminal-window-native-flow.md
  packages/site/content/docs/terminal/agents-and-safety.mdx
  skills/compozy/references/terminal.md
  web/e2e/__tests__/terminal.spec.ts
  web/src/systems/os/apps/terminal/__tests__/use-terminal-window-controller-state.test.ts
  web/src/systems/os/apps/terminal/hooks/use-terminal-window-controller-state.ts
  web/src/systems/os/components/desktop-shell.tsx
  web/src/systems/os/components/terminal-close-dialog.tsx
  web/src/systems/os/hooks/__tests__/window-manager-runtime.test.ts
  web/src/systems/os/hooks/use-desktop-chrome-controller.ts
  web/src/systems/os/hooks/use-desktop-chrome.ts
  web/src/systems/os/lib/terminal-window-close.ts
  web/src/systems/os/lib/window-close-targets.ts
  web/src/systems/os/runtime/window-manager-tab-commands.ts
  web/src/systems/terminal/components/__tests__/terminal-window-app.test.tsx
  web/src/systems/terminal/components/terminal-header-actions.tsx
  web/src/systems/terminal/components/terminal-header.tsx
  web/src/systems/terminal/components/terminal-window-body.tsx
  web/src/systems/terminal/index.ts
Due: turbo-lint

fix: bound session summaries and preserve complete details (#600)
  docs/qa/reports/2026-09-10-session-summary-truncation.md
  docs/qa/scenarios/ET-web-session-transcript-calm-grammar.md
  packages/ui/src/components/custom/__tests__/topbar.test.tsx
  packages/ui/src/components/custom/stories/topbar.stories.tsx
  packages/ui/src/components/custom/tool-call-row.tsx
  packages/ui/src/components/custom/topbar.tsx
  web/src/components/assistant-ui/__tests__/session-thread.test.tsx
  web/src/components/assistant-ui/session-live-tool-row.tsx
  web/src/components/assistant-ui/session-row-equality.ts
  web/src/components/assistant-ui/session-timeline-render.tsx
  web/src/components/assistant-ui/session-timeline-tool-message.ts
  web/src/components/assistant-ui/session-timeline.logic.ts
  web/src/components/assistant-ui/timeline-message-parts.ts
  web/src/systems/session/components/__tests__/session-goal-strip.test.tsx
  web/src/systems/session/components/__tests__/thinking-block.test.tsx
  web/src/systems/session/components/__tests__/tool-call-card.test.tsx
  web/src/systems/session/components/goal/session-goal-strip.tsx
  web/src/systems/session/components/session-summary-disclosure.tsx
  web/src/systems/session/components/session-thinking-row.tsx
  web/src/systems/session/components/stories/sessions-stability-story-routes.ts
  web/src/systems/session/components/stories/sessions-stability-working.stories.tsx
  web/src/systems/session/components/thinking-block.tsx
  web/src/systems/session/components/tool-call-card.tsx
  web/src/systems/session/index.ts
  web/src/systems/session/lib/__tests__/session-navigation.test.ts
  web/src/systems/session/lib/__tests__/session-tool-visual-state.test.ts
  web/src/systems/session/lib/__tests__/tool-labels.test.ts
  web/src/systems/session/lib/session-navigation-transcript.ts
  web/src/systems/session/lib/session-summary.ts
  web/src/systems/session/lib/session-thread-repository.ts
  web/src/systems/session/lib/session-tool-visual-state.ts
  web/src/systems/session/lib/session-working-status.ts
  web/src/systems/session/lib/tool-labels.ts
  web/src/systems/session/types.ts
Due: turbo-lint

docs: remove audits folder
  .audits/exploration/20260909-model-catalog/analysis/01_analysis_competitors.md
  .audits/exploration/20260909-model-catalog/analysis/02_analysis_catalog.md
  .audits/exploration/20260909-model-catalog/analysis/03_analysis_selector_runtime.md
  .audits/exploration/20260909-model-catalog/analysis/04_analysis_upstream.md
  .audits/exploration/20260909-model-catalog/analysis/summary.md
  .audits/exploration/20260909-model-catalog/change-impact.md
Due: none

fix: preserve exact window titles and wait for reasoning controls
  docs/qa/reports/2026-09-10-merged-pr-ci-review-remediation.md
  docs/qa/scenarios/ET-web-session-transcript-calm-grammar.md
  packages/ui/src/components/custom/topbar.tsx
  web/e2e/__tests__/session-provider-override.spec.ts
Due: turbo-lint

fix: deduplicate delivered skill context and gate input-only roles
  docs/qa/reports/2026-09-10-skills-prompt-dedup.md
  docs/qa/scenarios/ET-049.md
  internal/acp/agent_process.go
  internal/acp/client_prompt.go
  internal/acp/client_prompt_contract_test.go
  internal/acp/prompt_sections.go
  internal/acp/types.go
  internal/daemon/daemon_extension_agent_fixture_e2e_integration_test.go
  internal/daemon/harness_context.go
  internal/daemon/harness_context_integration_test.go
  internal/daemon/harness_context_policy.go
  internal/daemon/harness_context_test.go
  internal/daemon/prompt_skills.go
  internal/daemon/prompt_skills_test.go
  internal/session/manager_prompt_recovery.go
  internal/session/manager_prompt_submit.go
  packages/site/content/docs/skills/bundled.mdx
Due: format-go

fix: verify private Tailscale endpoints through tsnet
  docs/_memory/change-impact.md
  docs/qa/reports/2026-09-10-issue-602-endpoint-verification.md
  docs/qa/scenarios/RT-connectivity-provider-route.md
  extensions/connectivity/tailscale/forwarder.go
  extensions/connectivity/tailscale/node.go
  extensions/connectivity/tailscale/provider.go
  extensions/connectivity/tailscale/provider_test.go
  extensions/connectivity/tailscale/verification.go
  internal/extension/contract/gateway_source.go
  internal/extension/gateway_source.go
  internal/gateway/connectivity.go
  internal/gateway/endpoint_transport.go
  internal/gateway/endpoint_verify.go
  internal/gateway/endpoint_verify_test.go
  packages/site/content/docs/extensions/develop.mdx
  packages/site/content/docs/gateway/tailscale.mdx
  sdk/go/contracts/types_006_gen.go
  sdk/typescript/src/generated/contracts.ts
  sdk/typescript/vitest.config.ts
  skills/compozy/references/runtime-operations.md
Due: turbo-lint, format-go

fix: report effective dream role in memory health
  docs/_memory/change-impact.md
  docs/qa/reports/2026-09-10-issue-603-dream-health.md
  docs/qa/scenarios/MS-011.md
  internal/api/core/memory_health_payload.go
  internal/api/core/memory_workspace_test.go
  internal/api/httpapi/memory_test.go
  internal/api/udsapi/memory_test.go
  internal/daemon/daemon_memory_e2e_integration_test.go
  internal/daemon/native_memory_admin_tools.go
  internal/daemon/native_tool_dependencies.go
  internal/daemon/native_tools_dependencies_builder.go
  internal/daemon/native_tools_test.go
  internal/daemon/role_status_test.go
  internal/daemon/settings.go
  internal/daemon/settings_test.go
  packages/site/content/docs/memory/system.mdx
  skills/compozy/references/memory.md
Due: format-go

ci: preserve locked dependencies in site previews
  packages/site/content/docs/gateway/tailscale.mdx
  packages/site/vercel.json
Due: none

docs: format memory health guidance
  packages/site/content/docs/memory/system.mdx
Due: none

test: verify complete delivered skill catalogs
  internal/daemon/harness_context_integration_test.go
Due: format-go

fix: address endpoint verification review findings
  internal/gateway/endpoint_verify.go
  internal/gateway/endpoint_verify_test.go
  sdk/typescript/vitest.config.ts
Due: turbo-lint, format-go

fix: group reasoning and tools in session work segments
  docs/_memory/change-impact.md
  docs/qa/reports/2026-09-10-issue-605-mixed-work.md
  docs/qa/scenarios/RT-048.md
  docs/qa/scenarios/RT-055.md
  web/src/components/assistant-ui/__tests__/session-thread-navigation.test.tsx
  web/src/components/assistant-ui/__tests__/session-thread.test.tsx
  web/src/components/assistant-ui/__tests__/session-timeline.logic.test.ts
  web/src/components/assistant-ui/hooks/use-assistant-message-timeline.ts
  web/src/components/assistant-ui/hooks/use-timeline-row-context.ts
  web/src/components/assistant-ui/session-row-equality.ts
  web/src/components/assistant-ui/session-timeline-fold.ts
  web/src/components/assistant-ui/session-timeline-group-identity.ts
  web/src/components/assistant-ui/session-timeline-render.tsx
  web/src/components/assistant-ui/session-timeline-work.ts
  web/src/components/assistant-ui/session-timeline.logic.ts
  web/src/components/assistant-ui/session-tool-group-row.tsx
  web/src/components/assistant-ui/session-work-entry.tsx
  web/src/systems/session/components/__tests__/session-chat-runtime-provider.test.tsx
Due: turbo-lint

fix: address review feedback and pin preview dependencies
  docs/_memory/change-impact.md
  docs/qa/reports/2026-09-10-issue-603-dream-health.md
  internal/api/core/memory_workspace_test.go
  internal/daemon/daemon_memory_e2e_integration_test.go
  packages/site/vercel.json
Due: format-go

ci: preserve the Bun lockfile in site previews
  packages/site/vercel.json
Due: none

fix: address mixed work review findings
  docs/qa/reports/2026-09-10-issue-605-mixed-work.md
  web/src/components/assistant-ui/__tests__/session-thread.test.tsx
  web/src/components/assistant-ui/__tests__/session-timeline.logic.test.ts
  web/src/components/assistant-ui/hooks/use-assistant-message-timeline.ts
  web/src/components/assistant-ui/session-row-equality.ts
  web/src/components/assistant-ui/session-timeline-fold.ts
  web/src/components/assistant-ui/session-timeline-group-identity.ts
  web/src/components/assistant-ui/session-timeline-render.tsx
  web/src/components/assistant-ui/session-timeline-work.ts
  web/src/components/assistant-ui/session-timeline.logic.ts
  web/src/components/assistant-ui/session-tool-group-row.tsx
  web/src/components/assistant-ui/session-work-entry.tsx
  web/src/components/assistant-ui/timeline-message-parts.ts
  web/src/systems/session/components/__tests__/session-chat-runtime-provider.test.tsx
Due: turbo-lint

fix: deduplicate delivered skill context and gate input-only roles (#607)
  docs/qa/reports/2026-09-10-skills-prompt-dedup.md
  docs/qa/scenarios/ET-049.md
  internal/acp/agent_process.go
  internal/acp/client_prompt.go
  internal/acp/client_prompt_contract_test.go
  internal/acp/prompt_sections.go
  internal/acp/types.go
  internal/daemon/daemon_extension_agent_fixture_e2e_integration_test.go
  internal/daemon/harness_context.go
  internal/daemon/harness_context_integration_test.go
  internal/daemon/harness_context_policy.go
  internal/daemon/harness_context_test.go
  internal/daemon/prompt_skills.go
  internal/daemon/prompt_skills_test.go
  internal/session/manager_prompt_recovery.go
  internal/session/manager_prompt_submit.go
  packages/site/content/docs/skills/bundled.mdx
  packages/site/vercel.json
Due: format-go

fix: verify private Tailscale endpoints through tsnet (#608)
  docs/_memory/change-impact.md
  docs/qa/reports/2026-09-10-issue-602-endpoint-verification.md
  docs/qa/scenarios/RT-connectivity-provider-route.md
  extensions/connectivity/tailscale/forwarder.go
  extensions/connectivity/tailscale/node.go
  extensions/connectivity/tailscale/provider.go
  extensions/connectivity/tailscale/provider_test.go
  extensions/connectivity/tailscale/verification.go
  internal/extension/contract/gateway_source.go
  internal/extension/gateway_source.go
  internal/gateway/connectivity.go
  internal/gateway/endpoint_transport.go
  internal/gateway/endpoint_verify.go
  internal/gateway/endpoint_verify_test.go
  packages/site/content/docs/extensions/develop.mdx
  packages/site/content/docs/gateway/tailscale.mdx
  sdk/go/contracts/types_006_gen.go
  sdk/typescript/src/generated/contracts.ts
  sdk/typescript/vitest.config.ts
  skills/compozy/references/runtime-operations.md
Due: turbo-lint, format-go

fix: report effective dream role in memory health (#609)
  docs/_memory/change-impact.md
  docs/qa/reports/2026-09-10-issue-603-dream-health.md
  docs/qa/scenarios/MS-011.md
  internal/api/core/memory_health_payload.go
  internal/api/core/memory_workspace_test.go
  internal/api/httpapi/memory_test.go
  internal/api/udsapi/memory_test.go
  internal/daemon/daemon_memory_e2e_integration_test.go
  internal/daemon/native_memory_admin_tools.go
  internal/daemon/native_tool_dependencies.go
  internal/daemon/native_tools_dependencies_builder.go
  internal/daemon/native_tools_test.go
  internal/daemon/role_status_test.go
  internal/daemon/settings.go
  internal/daemon/settings_test.go
  packages/site/content/docs/memory/system.mdx
  skills/compozy/references/memory.md
Due: format-go

fix: group reasoning and tools in session work segments (#610)
  docs/_memory/change-impact.md
  docs/qa/reports/2026-09-10-issue-605-mixed-work.md
  docs/qa/scenarios/RT-048.md
  docs/qa/scenarios/RT-055.md
  web/src/components/assistant-ui/__tests__/session-thread-navigation.test.tsx
  web/src/components/assistant-ui/__tests__/session-thread.test.tsx
  web/src/components/assistant-ui/__tests__/session-timeline.logic.test.ts
  web/src/components/assistant-ui/hooks/use-assistant-message-timeline.ts
  web/src/components/assistant-ui/hooks/use-timeline-row-context.ts
  web/src/components/assistant-ui/session-row-equality.ts
  web/src/components/assistant-ui/session-timeline-fold.ts
  web/src/components/assistant-ui/session-timeline-group-identity.ts
  web/src/components/assistant-ui/session-timeline-render.tsx
  web/src/components/assistant-ui/session-timeline-work.ts
  web/src/components/assistant-ui/session-timeline.logic.ts
  web/src/components/assistant-ui/session-tool-group-row.tsx
  web/src/components/assistant-ui/session-work-entry.tsx
  web/src/components/assistant-ui/timeline-message-parts.ts
  web/src/systems/session/components/__tests__/session-chat-runtime-provider.test.tsx
Due: turbo-lint

fix: complete notification review and main integration repairs
  docs/_memory/change-impact.md
  docs/qa/reports/2026-09-10-pr-607-611-integration.md
  internal/api/core/attention_notifications.go
  internal/api/core/memory_workspace_test.go
  internal/api/core/session_attention_test.go
  internal/api/httpapi/handlers_test.go
  internal/api/httpapi/notification_routes.go
  internal/api/httpapi/routes.go
  internal/api/spec/attention_notification_operations.go
  internal/api/spec/notification_preset_operations.go
  internal/api/spec/operations.go
  internal/api/udsapi/handlers_test.go
  internal/observe/overview_attention.go
  internal/observe/overview_test.go
  internal/profile/delete.go
  internal/profile/manager_test.go
  web/src/components/assistant-ui/__tests__/session-timeline.logic.test.ts
  web/src/components/assistant-ui/session-find-ranges.ts
  web/src/components/assistant-ui/session-row-equality.ts
  web/src/components/assistant-ui/session-timeline-render.tsx
  web/src/components/assistant-ui/session-timeline-reveal.ts
  web/src/components/assistant-ui/session-timeline.logic.ts
  web/src/systems/dashboard/__tests__/use-home-attention-actions.test.tsx
  web/src/systems/dashboard/components/home-attention-zone.tsx
  web/src/systems/dashboard/components/home-dashboard.tsx
  web/src/systems/dashboard/components/stories/home-dashboard.stories.tsx
  web/src/systems/dashboard/hooks/use-home-dashboard.ts
  web/src/systems/os/components/attention-bell.tsx
  web/src/systems/os/hooks/__tests__/window-manager-runtime.test.ts
  web/src/systems/os/runtime/window-manager-runtime.ts
Due: turbo-lint, format-go

fix: keep unread title counts current in background tabs
  docs/qa/reports/2026-09-10-pr-607-611-integration.md
  web/src/systems/os/hooks/__tests__/use-document-title-badge.test.tsx
  web/src/systems/os/hooks/use-bell-notifications.ts
Due: turbo-lint

fix: resolve notification integration Go lint findings
  docs/qa/reports/2026-09-10-pr-607-611-integration.md
  internal/api/core/attention_notification_sources.go
  internal/api/core/attention_notifications.go
  internal/api/core/observe_overview_handlers.go
  internal/api/core/session_attention_test.go
  internal/notifications/attention.go
  internal/observe/overview_attention.go
  internal/observe/overview_needs_input.go
  internal/observe/overview_test.go
  internal/profile/manager_test.go
  internal/store/globaldb/global_db_profile_attention_test.go
Due: format-go

fix: preserve escalation acknowledgement across neutral events
  docs/qa/reports/2026-09-10-pr-607-611-integration.md
  internal/observe/overview_needs_input.go
  internal/observe/overview_test.go
Due: format-go

Path conditions:
  turbo-lint: any of: \.(js|jsx|ts|tsx)$, but not: (?x)^(
  CHANGELOG.md|
  tools/.*/package\.json|
  bun.lockb|
  node_modules|
)$

  format-go: any of: \.go$, but not: (?x)^(
  CHANGELOG.md|
  tools/.*/package\.json|
  bun.lockb|
  node_modules|
)$

