Repository compozy/compozy: changes, and which pre-commit hooks are due for each by the changed paths.
All: turbo-lint, format-go

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit

default_stages:
  - pre-commit

exclude: |
  (?x)^(
    CHANGELOG.md|
    tools/.*/package\.json|
    bun.lockb|
    node_modules|
  )$

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      # - id: trailing-whitespace
      #   args:
      #     - --no-utf8-locale
      - id: end-of-file-fixer
        exclude: '^(CHANGELOG\.md|tools/.*/package\.json|bun\.lockb|node_modules/)'
      - id: check-json
        exclude: '^(tools/.*/package\.json|node_modules/)'
      - id: check-toml
      - id: check-added-large-files
        args:
          - --maxkb=3000
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: detect-private-key
  - repo: local
    hooks:
      - id: turbo-lint
        name: turbo lint
        description: Run linting via Turborepo
        entry: bun run lint
        language: system
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false
      # - id: turbo-type-check
      #   name: turbo type check
      #   description: Run TypeScript checking via Turborepo
      #   entry: bun run type-check
      #   language: system
      #   files: \.(ts|tsx)$
      #   pass_filenames: false
      - id: format-go
        name: format go
        description: Format Go files using make fmt
        entry: make fmt
        language: system
        files: \.go$
        pass_filenames: false
  - repo: https://github.com/lyz-code/yamlfix/
    rev: 1.17.0
    hooks:
      - id: yamlfix
        args:
          - -c
          - .yamlfix.toml
        exclude: ^cluster/.*$

feat: record attachment metadata on user events and project file parts
  internal/acp/agent_event_tool.go
  internal/session/manager_prompt_input_event.go
  internal/transcript/agent_event_codec.go
  internal/transcript/canonical_payload.go
  internal/transcript/transcript_codec_contract_test.go
  internal/transcript/transcript_ui_projection_test.go
  internal/transcript/ui_input_messages.go
  internal/transcript/ui_messages.go
Due: format-go

fix: resolve session attachment review findings
  internal/api/core/base_handlers.go
  internal/api/core/session_attachment_store.go
  internal/api/httpapi/handlers.go
  internal/api/httpapi/server.go
  internal/api/httpapi/session_attachment_options.go
  internal/api/udsapi/handler_config.go
  internal/api/udsapi/server.go
  internal/api/udsapi/session_attachment_options.go
  internal/attachments/attachment_test.go
  internal/attachments/store_fs.go
  internal/attachments/store_fs_paths.go
  internal/attachments/store_fs_sweep.go
  internal/attachments/store_fs_test.go
  internal/attachments/sweeper_test.go
  internal/cli/client_session_attachments.go
  internal/cli/client_test.go
  internal/session/inputqueue/queue.go
  internal/session/inputqueue/queue_test.go
  internal/session/manager_busy_input.go
  internal/session/manager_prompt_admission.go
  internal/session/prompt_attachments.go
  internal/session/prompt_attachments_test.go
  internal/store/session_prompt_admission.go
  internal/store/session_prompt_admission_test.go
Due: format-go

feat: thread prompt attachment refs through contract, session, and queue
  internal/api/contract/contract_test.go
  internal/api/contract/prompt.go
  internal/api/contract/prompt_attachment.go
  internal/api/contract/prompt_input.go
  internal/api/contract/prompt_input_test.go
  internal/api/core/session_prompt_dispatch.go
  internal/session/attachment_meta.go
  internal/session/inputqueue/mutation.go
  internal/session/inputqueue/queue.go
  internal/session/inputqueue/queue_test.go
  internal/session/manager_busy_input.go
  internal/session/manager_busy_input_test.go
  internal/session/manager_busy_input_types.go
  internal/session/manager_pending_input.go
  internal/session/manager_prompt_admission_identity.go
  internal/session/manager_prompt_admission_identity_test.go
  internal/session/manager_prompt_attachments.go
  internal/store/globaldb/global_db_session_attachments.go
  internal/store/globaldb/global_db_session_input_queue.go
  internal/store/globaldb/global_db_session_input_queue_mutation.go
  internal/store/globaldb/global_db_session_input_queue_scan.go
  internal/store/globaldb/global_db_session_input_queue_test.go
  internal/store/globaldb/global_db_session_prompt_admission.go
  internal/store/globaldb/global_db_session_prompt_admission_queue.go
  internal/store/globaldb/global_db_session_prompt_admission_scan.go
  internal/store/globaldb/queries/session_input.sql
  internal/store/globaldb/queries/session_prompt_admission.sql
  internal/store/globaldb/schema/definitions/20_sessions.sql
  internal/store/session_input_attachment.go
  internal/store/session_input_queue.go
  internal/store/session_input_queue_test.go
  internal/store/session_prompt_admission.go
  internal/store/session_prompt_admission_test.go
Due: format-go

test: strengthen session prompt schema validation
  internal/tools/builtin/builtin_test.go
Due: format-go

docs: close session attachment QA report
  docs/qa/reports/2026-08-15-session-attachments-pr-412.md
Due: none

fix: improvements
  internal/session/manager_busy_input_test.go
  internal/tools/builtin/builtin_test.go
Due: format-go

docs: record session attachment QA
  docs/qa/bugs/BUG-20260815-session-attachment-store-unavailable.md
  docs/qa/charters/CH-session-attachments.md
  docs/qa/reports/2026-08-15-session-attachments-pr-412.md
  docs/qa/scenarios/ET-session-attachment-model-gate.md
  docs/qa/scenarios/ET-session-attachment-multiple-drop.md
  docs/qa/scenarios/ET-session-attachment-oversize.md
  docs/qa/scenarios/ET-session-attachment-paste-reload.md
  docs/qa/scenarios/ET-session-attachment-picker.md
  docs/qa/scenarios/ET-session-attachment-unsupported-type.md
  docs/qa/scenarios/RT-session-delete-attachment-files.md
  docs/qa/scenarios/RT-session-queued-attachment-dispatch.md
Due: none

fix: remove attachment preview state effects
  web/src/components/assistant-ui/__tests__/session-thread.test.tsx
  web/src/components/assistant-ui/hooks/use-session-composer-drop.ts
  web/src/components/assistant-ui/session-attachment-tile.tsx
Due: turbo-lint

fix: initialize session attachment storage before runtime
  internal/daemon/boot_components.go
  internal/daemon/daemon_test.go
Due: format-go

fix: resolve CI and React Compiler failures
  internal/store/globaldb/global_db_session_input_queue_test.go
  internal/store/migrate_streams_test.go
  web/src/components/assistant-ui/__tests__/session-thread.test.tsx
  web/src/systems/loops/components/detail/loop-body-dag.tsx
  web/src/systems/loops/components/detail/loop-recent-runs.tsx
  web/src/systems/marketplace/components/marketplace-detail-lede.tsx
  web/src/systems/onboarding/components/directory-browser.tsx
  web/src/systems/onboarding/components/onboarding-setup-frame.tsx
  web/src/systems/os/apps/loops/loop-runs-location.tsx
  web/src/systems/os/components/os-window-deck.tsx
  web/src/systems/os/components/os-window.tsx
  web/src/systems/settings/components/layouts/window-manager-ratio-track.tsx
  web/src/systems/workspace/components/worktree-hover-submenu.tsx
Due: turbo-lint, format-go

test: align E2E task and negotiation contracts
  internal/daemon/daemon_acpmock_faults_integration_test.go
  internal/daemon/daemon_automation_task_integration_test.go
  internal/daemon/daemon_mock_agents_integration_test.go
  internal/daemon/daemon_network_local_integration_test.go
Due: format-go

feat: Conformance foundations: mcppolicy + agentplugin #01
  internal/extension/agentplugin/classify.go
  internal/extension/agentplugin/classify_test.go
  internal/extension/agentplugin/manifest.go
  internal/extension/agentplugin/manifest_test.go
  internal/extension/agentplugin/mcp.go
  internal/extension/agentplugin/mcp_test.go
  internal/extension/agentplugin/paths.go
  internal/extension/agentplugin/skills.go
  internal/extension/agentplugin/skills_test.go
  internal/extension/agentplugin/test_helpers_test.go
  internal/extension/agentplugin/types.go
  internal/frontmatter/frontmatter.go
  internal/frontmatter/frontmatter_test.go
  internal/mcppolicy/headers.go
  internal/mcppolicy/policy_test.go
  internal/mcppolicy/types.go
  internal/mcppolicy/url.go
  magefiles/boundaries.go
Due: format-go

feat: Web + catalog: format badges, skipped components, feed hard cut #…
  catalog/extensions.json
  internal/api/contract/marketplace.go
  internal/api/core/marketplace_list.go
  internal/api/core/marketplace_test.go
  internal/cli/extension_marketplace_integration_test.go
  internal/marketplace/entry_extension.go
  internal/marketplace/projection.go
  internal/marketplace/source_test.go
  internal/marketplace/testdata/catalog/valid/extensions.json
  openapi/compozy.json
  web/e2e/__tests__/marketplace.spec.ts
  web/e2e/fixtures/extension-registry-server.ts
  web/e2e/fixtures/runtime-seed.ts
  web/e2e/fixtures/selectors.ts
  web/src/generated/compozy-openapi.d.ts
  web/src/systems/extensions/components/__tests__/extension-kit-inventory-panel.test.tsx
  web/src/systems/extensions/components/__tests__/extension-trust-badges.test.tsx
  web/src/systems/extensions/components/extension-kit-inventory-panel.tsx
  web/src/systems/extensions/components/extension-skipped-components.tsx
  web/src/systems/extensions/components/extension-trust-badges.tsx
  web/src/systems/extensions/hooks/__tests__/use-extensions.test.tsx
  web/src/systems/extensions/index.ts
  web/src/systems/extensions/lib/extension-skipped-diagnostics.ts
  web/src/systems/extensions/mocks/__tests__/handlers.test.ts
  web/src/systems/extensions/mocks/fixtures.ts
  web/src/systems/extensions/mocks/handlers.ts
  web/src/systems/extensions/mocks/index.ts
  web/src/systems/marketplace/components/__tests__/marketplace-action-controller.test.tsx
  web/src/systems/marketplace/components/__tests__/marketplace-components.test.tsx
  web/src/systems/marketplace/components/__tests__/marketplace-detail-manage.test.tsx
  web/src/systems/marketplace/components/marketplace-card.tsx
  web/src/systems/marketplace/components/marketplace-detail-extension-actions.tsx
  web/src/systems/marketplace/components/marketplace-detail-extension-installed.tsx
  web/src/systems/marketplace/components/marketplace-detail-lede.tsx
  web/src/systems/marketplace/components/marketplace-installed-card.tsx
  web/src/systems/marketplace/lib/marketplace-installed-items.ts
  web/src/systems/marketplace/mocks/fixtures.ts
Due: turbo-lint, format-go

docs: document agent plugin interoperability
  docs/qa/scenarios/ET-agent-plugin-data-removal.md
  docs/qa/scenarios/ET-agent-plugin-degraded-inventory.md
  docs/qa/scenarios/ET-agent-plugin-dev-reload.md
  docs/qa/scenarios/ET-agent-plugin-marketplace-install.md
  docs/qa/scenarios/ET-agent-plugin-native-precedence.md
  docs/qa/scenarios/ET-agent-plugin-remote-header.md
  docs/qa/scenarios/ET-agent-plugin-source-install.md
  docs/qa/scenarios/ET-agent-plugin-validation.md
  packages/site/content/docs/cli/extension/secrets/bind.mdx
  packages/site/content/docs/extensions/agent-plugins.mdx
  packages/site/content/docs/extensions/install.mdx
  packages/site/content/docs/extensions/manifest.mdx
  packages/site/content/docs/extensions/meta.json
  packages/site/content/docs/extensions/secrets.mdx
  packages/site/lib/__tests__/marketplace-catalog.test.tsx
  packages/site/lib/marketplace-catalog.ts
  skills/compozy/references/extensions.md
Due: turbo-lint

docs: plan agent plugin QA
  docs/qa/charters/CH-agent-plugin-conformance.md
  docs/qa/charters/CH-agent-plugin-dev-isolation.md
  docs/qa/charters/CH-agent-plugin-diagnostics-parity.md
  docs/qa/charters/CH-agent-plugin-lifecycle-recovery.md
  docs/qa/charters/CH-agent-plugin-marketplace.md
  docs/qa/charters/CH-agent-plugin-native-canary.md
  docs/qa/charters/CH-agent-plugin-provider-delivery.md
  docs/qa/charters/CH-agent-plugin-remote-secrets.md
  docs/qa/journeys/J-extension-agent-authoring.md
  docs/qa/journeys/J-extension-distribution.md
  docs/qa/journeys/J-extension-kit-lifecycle.md
  docs/qa/journeys/J-marketplace-acquisition.md
  docs/qa/scenarios/ET-agent-plugin-conformance-walk.md
  docs/qa/scenarios/ET-agent-plugin-data-removal.md
  docs/qa/scenarios/ET-agent-plugin-degraded-inventory.md
  docs/qa/scenarios/ET-agent-plugin-dev-reload.md
  docs/qa/scenarios/ET-agent-plugin-marketplace-install.md
  docs/qa/scenarios/ET-agent-plugin-native-precedence.md
  docs/qa/scenarios/ET-agent-plugin-provider-delivery.md
  docs/qa/scenarios/ET-agent-plugin-remote-header.md
  docs/qa/scenarios/ET-agent-plugin-source-install.md
  docs/qa/scenarios/ET-agent-plugin-validation.md
Due: none

fix: bound desktop runtime health checks
  desktop/src-tauri/src/runtime/probe.rs
  docs/qa/charters/CH-bounded-runtime-identity.md
  docs/qa/journeys/J-operate-daemon-schema.md
  docs/qa/reports/2026-08-16-issue-413-bounded-liveness.md
  docs/qa/scenarios/RT-001.md
  docs/qa/scenarios/RT-bounded-runtime-identity.md
  internal/api/contract/runtime_identity.go
  internal/api/core/runtime_identity.go
  internal/api/httpapi/handlers_test.go
  internal/api/httpapi/routes.go
  internal/api/spec/runtime_status.go
  internal/api/udsapi/handlers_test.go
  internal/api/udsapi/routes.go
  internal/observe/agent_resolution.go
  internal/observe/helpers_test.go
  internal/session/catalog_page.go
  internal/session/session_catalog_stream.go
  internal/session/session_stream_broadcast_test.go
  openapi/compozy.json
  packages/site/content/docs/operations/daemon.mdx
  skills/compozy/references/runtime-operations.md
  web/src/generated/compozy-openapi.d.ts
Due: turbo-lint, format-go

docs: close agent plugin QA findings
  docs/qa/bugs/BUG-20260816-agent-plugin-path-projection.md
  docs/qa/bugs/BUG-20260816-agent-plugin-validation-exit.md
  docs/qa/bugs/BUG-20260816-hosted-mcp-bootstrap-projection.md
  docs/qa/reports/2026-08-16-agent-plugins.md
  docs/qa/scenarios/ET-agent-plugin-conformance-walk.md
  docs/qa/scenarios/ET-agent-plugin-provider-delivery.md
  docs/qa/scenarios/ET-agent-plugin-remote-header.md
  docs/qa/scenarios/ET-agent-plugin-source-install.md
  docs/qa/scenarios/ET-agent-plugin-validation.md
Due: none

fix: use canonical product name
  internal/cli/extension_agent_plugin_output.go
  internal/cli/extension_output_test.go
  web/e2e/fixtures/extension-registry-server.ts
Due: turbo-lint, format-go

refactor: split CLI validation error rendering
  internal/cli/extension_validation_execution_error.go
  internal/cli/root.go
Due: format-go

docs: format agent plugin reference
  packages/site/content/docs/extensions/agent-plugins.mdx
Due: none

test: preserve loop claim tokens in daemon fixtures
  internal/daemon/task_run_fixture_integration_test.go
Due: format-go

fix: align agent plugin verification contracts
  internal/cli/client_api_errors.go
  internal/codegen/sdkts/generate_test.go
  internal/store/globaldb/global_db_test.go
Due: format-go

docs: narrow agent plugin provider claim
  docs/qa/bugs/BUG-20260816-openclaw-session-mcp-gap.md
  docs/qa/reports/2026-08-16-agent-plugins.md
  docs/qa/scenarios/ET-agent-plugin-provider-delivery.md
  packages/site/content/docs/extensions/agent-plugins.mdx
  skills/compozy/references/extensions.md
Due: none

test: preserve loop claim tokens in daemon fixtures (#418)
  internal/daemon/task_run_fixture_integration_test.go
Due: format-go

fix: review round
  desktop/src-tauri/src/runtime/probe.rs
  internal/api/httpapi/handlers_test.go
  internal/observe/helpers_test.go
Due: format-go

fix: bound desktop runtime health checks (#414)
  desktop/src-tauri/src/runtime/probe.rs
  docs/qa/charters/CH-bounded-runtime-identity.md
  docs/qa/journeys/J-operate-daemon-schema.md
  docs/qa/reports/2026-08-16-issue-413-bounded-liveness.md
  docs/qa/scenarios/RT-001.md
  docs/qa/scenarios/RT-bounded-runtime-identity.md
  internal/api/contract/runtime_identity.go
  internal/api/core/runtime_identity.go
  internal/api/httpapi/handlers_test.go
  internal/api/httpapi/routes.go
  internal/api/spec/runtime_status.go
  internal/api/udsapi/handlers_test.go
  internal/api/udsapi/routes.go
  internal/observe/agent_resolution.go
  internal/observe/helpers_test.go
  internal/session/catalog_page.go
  internal/session/session_catalog_stream.go
  internal/session/session_stream_broadcast_test.go
  openapi/compozy.json
  packages/site/content/docs/operations/daemon.mdx
  skills/compozy/references/runtime-operations.md
  web/src/generated/compozy-openapi.d.ts
Due: turbo-lint, format-go

fix: allow secure agent plugin file reads
  magefiles/boundaries.go
Due: format-go

fix: preserve agent plugin review invariants
  internal/config/provider_test.go
  internal/extension/dev_generation.go
Due: format-go

fix: satisfy agent plugin lint invariants
  internal/api/core/marketplace_test.go
  internal/cli/extension.go
  internal/cli/extension_install.go
  internal/cli/extension_marketplace.go
  internal/cli/extension_test.go
  internal/daemon/extensions_lifecycle.go
  internal/daemon/extensions_test.go
  internal/extension/agentplugin/manifest.go
  internal/extension/dev_generation.go
  internal/extension/marketplace_lifecycle_test.go
  internal/mcp/runtime_health_test.go
Due: format-go
