Repository compozy/compozy: changes, and which pre-commit hooks are due for each by the changed paths.
All: turbo-lint, format-go

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit

default_stages:
  - pre-commit

exclude: |
  (?x)^(
    CHANGELOG.md|
    tools/.*/package\.json|
    bun.lockb|
    node_modules|
  )$

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      # - id: trailing-whitespace
      #   args:
      #     - --no-utf8-locale
      - id: end-of-file-fixer
        exclude: '^(CHANGELOG\.md|tools/.*/package\.json|bun\.lockb|node_modules/)'
      - id: check-json
        exclude: '^(tools/.*/package\.json|node_modules/)'
      - id: check-toml
      - id: check-added-large-files
        args:
          - --maxkb=3000
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: detect-private-key
  - repo: local
    hooks:
      - id: turbo-lint
        name: turbo lint
        description: Run linting via Turborepo
        entry: bun run lint
        language: system
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false
      # - id: turbo-type-check
      #   name: turbo type check
      #   description: Run TypeScript checking via Turborepo
      #   entry: bun run type-check
      #   language: system
      #   files: \.(ts|tsx)$
      #   pass_filenames: false
      - id: format-go
        name: format go
        description: Format Go files using make fmt
        entry: make fmt
        language: system
        files: \.go$
        pass_filenames: false
  - repo: https://github.com/lyz-code/yamlfix/
    rev: 1.17.0
    hooks:
      - id: yamlfix
        args:
          - -c
          - .yamlfix.toml
        exclude: ^cluster/.*$

docs: remove agent-browser skill
  .agents/skills/agent-browser/SKILL.md
Due: none

docs: capture open-design verification
  open-design/bulk-actions.png
  open-design/document.png
  open-design/profile-agents.png
  open-design/site.png
  open-design/slides.png
Due: none

fix: reconcile review follow-ups and marketplace reads
  docs/_memory/change-impact.md
  docs/qa/reports/2026-09-10-qa-execution-unblock/pr-review-resolution.md
  docs/qa/scenarios/ET-009.md
  docs/qa/scenarios/RT-024.md
  internal/acp/handlers_test.go
  internal/api/core/authored_context_test.go
  internal/api/core/hooks_test.go
  internal/api/core/memory_workspace_test.go
  internal/cli/client_test.go
  internal/daemon/agent_skill_resources_test.go
  internal/daemon/boot_runtime_services_test.go
  internal/daemon/daemon_integration_test.go
  internal/daemon/daemon_test.go
  internal/daemon/native_tools_test.go
  internal/mcp/hosted_proxy_test.go
  internal/session/manager_busy_input_test.go
  internal/session/session_wait_test.go
  internal/task/lease_test.go
  internal/terminal/manager_test.go
  web/src/systems/loops/components/run-page/loop-run-needs-you-card.tsx
  web/src/systems/loops/components/run-page/loop-run-registers.tsx
  web/src/systems/loops/hooks/__tests__/use-loops.test.tsx
  web/src/systems/loops/hooks/use-goal-turns.ts
  web/src/systems/marketplace/hooks/__tests__/use-marketplace-actions.test.tsx
  web/src/systems/marketplace/hooks/use-marketplace-actions.ts
  web/src/systems/os/apps/session/use-session-window-controller.tsx
  web/src/systems/session/components/__tests__/session-inspector.test.tsx
  web/src/systems/session/components/session-inspector-memory.tsx
  web/src/systems/session/components/session-inspector-types.ts
  web/src/systems/session/hooks/__tests__/use-sessions.test.tsx
  web/src/systems/session/hooks/use-sessions.ts
Due: turbo-lint, format-go

docs: complete touched callback and error contracts
  docs/qa/reports/2026-09-10-qa-execution-unblock/pr-review-resolution.md
  web/src/systems/loops/components/__tests__/loop-run-page.test.tsx
  web/src/systems/loops/hooks/use-goal-turns.ts
  web/src/systems/loops/hooks/use-loop-stream.ts
  web/src/systems/loops/lib/query-keys.ts
  web/src/systems/loops/lib/query-options.ts
  web/src/systems/marketplace/hooks/__tests__/use-marketplace-actions.test.tsx
  web/src/systems/os/apps/loops/__tests__/loop-run-detail-location.test.tsx
  web/src/systems/session/adapters/session-api-errors.ts
  web/src/systems/session/adapters/session-history-api.ts
  web/src/systems/session/hooks/use-session-actions.ts
  web/src/systems/session/hooks/use-session-chat-runtime.ts
  web/src/systems/session/stores/session-store.ts
Due: turbo-lint

feat: add built-in open-design extension
  .gitattributes
  .oxfmtrc.json
  docs/_memory/change-impact.md
  docs/qa/scenarios/ET-open-design.md
  extensions/open-design/LICENSES.md
  extensions/open-design/README.md
  extensions/open-design/SOURCES.md
  extensions/open-design/agents/open-design-critic/AGENT.md
  extensions/open-design/agents/open-design-designer/AGENT.md
  extensions/open-design/embed.go
  extensions/open-design/embed_test.go
  extensions/open-design/extension.json
  extensions/open-design/lint.gen.mjs
  extensions/open-design/lint.go
  extensions/open-design/lint_test.go
  extensions/open-design/linter/__tests__/index.test.ts
  extensions/open-design/linter/css.ts
  extensions/open-design/linter/index.ts
  extensions/open-design/linter/rules.ts
  extensions/open-design/loops/open-design-review/loop.yaml
  extensions/open-design/provider.go
  extensions/open-design/schemas.go
  extensions/open-design/scripts/build-lint.ts
  extensions/open-design/scripts/generate-manifest.go
  extensions/open-design/scripts/lint-entry.ts
  extensions/open-design/skills/agent-browser/SKILL.md
  extensions/open-design/skills/open-design-review/SKILL.md
  extensions/open-design/skills/open-design/SKILL.md
  extensions/open-design/skills/open-design/references/artifacts.md
  extensions/open-design/skills/open-design/references/craft.md
  internal/cli/internal.go
  internal/daemon/boot_automation_extensions.go
  internal/daemon/daemon_test.go
  packages/site/content/docs/extensions/meta.json
  packages/site/content/docs/extensions/open-design.mdx
  skills/compozy/references/extensions.md
Due: turbo-lint, format-go

fix: address remaining open-design review findings
  docs/_memory/change-impact.md
  docs/qa/reports/2026-09-11-pr625-review-remediation.md
  docs/qa/scenarios/ET-open-design.md
  docs/qa/scenarios/RT-077.md
  extensions/open-design/lint.gen.mjs
  extensions/open-design/linter/__tests__/index.test.ts
  extensions/open-design/linter/css.ts
  extensions/open-design/linter/index.ts
  internal/api/core/authored_context_heartbeat_handlers.go
  internal/api/core/authored_context_test.go
  internal/soul/authoring_test.go
  web/src/systems/agent/hooks/use-agent-create-dialog.ts
  web/src/systems/agent/hooks/use-agent-settings-page.ts
Due: turbo-lint, format-go

fix: close remaining linter review gaps
  docs/_memory/change-impact.md
  docs/qa/reports/2026-09-11-pr625-review-remediation.md
  docs/qa/scenarios/ET-open-design.md
  extensions/open-design/lint.gen.mjs
  extensions/open-design/linter/__tests__/index.test.ts
  extensions/open-design/linter/css.ts
  extensions/open-design/linter/html.ts
  extensions/open-design/linter/index.ts
Due: turbo-lint

fix: respect token priority and icon boundaries
  docs/_memory/change-impact.md
  docs/qa/reports/2026-09-11-pr625-review-remediation.md
  docs/qa/scenarios/ET-open-design.md
  extensions/open-design/lint.gen.mjs
  extensions/open-design/linter/__tests__/index.test.ts
  extensions/open-design/linter/css.ts
  extensions/open-design/linter/html.ts
Due: turbo-lint

build: gitignore
  .gitignore
Due: none

fix: preserve zsh startup directory semantics
  docs/_memory/change-impact.md
  docs/qa/reports/2026-09-12-zsh-startup-fidelity.md
  docs/qa/scenarios/ET-terminal-shell-config-fidelity.md
  internal/terminal/pty/pty_test.go
  internal/terminal/pty/shell_integration.go
Due: format-go

fix: recognize structured Claude authentication status
  docs/_memory/change-impact.md
  docs/qa/reports/2026-09-12-issue-623-claude-auth.md
  docs/qa/scenarios/RT-026.md
  internal/api/core/providers.go
  internal/api/core/providers_test.go
  internal/cli/provider_status.go
  internal/providers/classify.go
  internal/providers/classify_test.go
  internal/providers/probe_output.go
  internal/providers/runner.go
  internal/providers/runner_test.go
  internal/session/provider_runtime_command.go
  packages/site/content/docs/agents/providers.mdx
  skills/compozy/references/agent-definitions.md
Due: format-go

fix: discover and bind models in provider overlays
  .github/workflows/ci.yml
  docs/_memory/change-impact.md
  docs/qa/scenarios/RT-model-catalog-cold-open.md
  internal/daemon/model_catalog.go
  internal/daemon/model_catalog_refresh_loop.go
  internal/daemon/model_catalog_staging.go
  internal/daemon/model_catalog_test.go
  internal/modelcatalog/live_sources.go
  internal/modelcatalog/live_sources_acp.go
  internal/modelcatalog/live_sources_adapters.go
  internal/modelcatalog/live_sources_test.go
  internal/modelcatalog/service.go
  internal/modelcatalog/service_integration_test.go
  internal/modelcatalog/service_refresh_plan.go
  internal/session/manager_runtime_model_validation.go
  internal/session/manager_test.go
  packages/site/content/docs/agents/model-catalog.mdx
  skills/compozy/references/runtime-operations.md
Due: format-go

fix: classify warning-prefixed authentication probes safely
  docs/_memory/change-impact.md
  docs/qa/reports/2026-09-12-issue-623-claude-auth.md
  internal/providers/classify_test.go
  internal/providers/probe_output.go
Due: format-go

fix: isolate zsh children during startup routing
  docs/_memory/change-impact.md
  docs/qa/reports/2026-09-12-zsh-startup-fidelity.md
  docs/qa/scenarios/ET-terminal-shell-config-fidelity.md
  internal/terminal/pty/pty_test.go
  internal/terminal/pty/shell_integration.go
Due: format-go

ci: execute zsh contracts in the Linux race suite
  .github/workflows/ci.yml
  docs/qa/reports/2026-09-12-zsh-startup-fidelity.md
Due: none

fix: preserve text probe metadata during JSON detection
  docs/qa/reports/2026-09-12-issue-623-claude-auth.md
  internal/providers/classify_test.go
  internal/providers/probe_output.go
Due: format-go

fix: remove overlay cache and validate runtime admission
  docs/_memory/change-impact.md
  docs/qa/scenarios/RT-model-catalog-cold-open.md
  internal/daemon/model_catalog_test.go
  internal/modelcatalog/service_refresh_plan.go
  internal/modelcatalog/service_test.go
  internal/modelcatalog/types.go
  internal/session/manager_busy_input.go
  internal/session/manager_prompt_admission.go
  internal/session/manager_prompt_admission_target.go
  internal/session/manager_runtime_model_validation.go
  internal/session/manager_runtime_selection.go
  internal/session/manager_test.go
  internal/session/manager_transition_test.go
  internal/store/globaldb/global_db_model_catalog_batch.go
  internal/store/globaldb/global_db_model_catalog_test.go
  internal/store/globaldb/queries/model_catalog.sql
  internal/store/globaldb/sqlcgen/model_catalog.sql.go
  packages/site/content/docs/agents/model-catalog.mdx
Due: format-go

fix: bind zsh bridge state to its private shim
  docs/_memory/change-impact.md
  docs/qa/reports/2026-09-12-zsh-startup-fidelity.md
  internal/terminal/pty/pty_test.go
  internal/terminal/pty/shell_integration.go
Due: format-go

test: fix runtime selection suite whitespace
  internal/session/manager_transition_test.go
Due: format-go

ci: bound and expose real zsh startup verification
  .github/workflows/ci.yml
  docs/qa/reports/2026-09-12-zsh-startup-fidelity.md
  internal/terminal/pty/pty_test.go
Due: format-go

fix: recognize structured Claude authentication status (#632)
  docs/_memory/change-impact.md
  docs/qa/reports/2026-09-12-issue-623-claude-auth.md
  docs/qa/scenarios/RT-026.md
  internal/api/core/providers.go
  internal/api/core/providers_test.go
  internal/cli/provider_status.go
  internal/providers/classify.go
  internal/providers/classify_test.go
  internal/providers/probe_output.go
  internal/providers/runner.go
  internal/providers/runner_test.go
  internal/session/provider_runtime_command.go
  packages/site/content/docs/agents/providers.mdx
  skills/compozy/references/agent-definitions.md
Due: format-go

fix: discover and bind models in provider overlays (#633)
  .github/workflows/ci.yml
  docs/_memory/change-impact.md
  docs/qa/scenarios/RT-model-catalog-cold-open.md
  internal/daemon/model_catalog.go
  internal/daemon/model_catalog_refresh_loop.go
  internal/daemon/model_catalog_staging.go
  internal/daemon/model_catalog_test.go
  internal/modelcatalog/live_sources.go
  internal/modelcatalog/live_sources_acp.go
  internal/modelcatalog/live_sources_adapters.go
  internal/modelcatalog/live_sources_test.go
  internal/modelcatalog/service.go
  internal/modelcatalog/service_integration_test.go
  internal/modelcatalog/service_refresh_plan.go
  internal/modelcatalog/service_test.go
  internal/modelcatalog/types.go
  internal/session/manager_busy_input.go
  internal/session/manager_prompt_admission.go
  internal/session/manager_prompt_admission_target.go
  internal/session/manager_runtime_model_validation.go
  internal/session/manager_runtime_selection.go
  internal/session/manager_test.go
  internal/session/manager_transition_test.go
  internal/store/globaldb/global_db_model_catalog_batch.go
  internal/store/globaldb/global_db_model_catalog_test.go
  internal/store/globaldb/queries/model_catalog.sql
  internal/store/globaldb/sqlcgen/model_catalog.sql.go
  packages/site/content/docs/agents/model-catalog.mdx
  skills/compozy/references/runtime-operations.md
Due: format-go

fix: preserve zsh startup directory semantics (#630)
  .github/workflows/ci.yml
  docs/_memory/change-impact.md
  docs/qa/reports/2026-09-12-zsh-startup-fidelity.md
  docs/qa/scenarios/ET-terminal-shell-config-fidelity.md
  internal/terminal/pty/pty_test.go
  internal/terminal/pty/shell_integration.go
Due: format-go

fix: preserve nested raw terminal input visibility
  docs/_memory/change-impact.md
  docs/qa/scenarios/ET-terminal-agent-handoff-input.md
  docs/qa/scenarios/ET-terminal-redaction-boundaries.md
  internal/api/core/terminal_wire_integration_test.go
  internal/terminal/input_requests.go
  internal/terminal/manager_test.go
  internal/terminal/pty/echo_unix_common.go
  internal/terminal/pty/echo_windows.go
  internal/terminal/pty/pty_test.go
  internal/terminal/session_input.go
  internal/terminal/test_helpers_test.go
  packages/site/content/docs/terminal/agents-and-safety.mdx
  packages/site/content/docs/terminal/journal-and-recordings.mdx
  skills/compozy/references/terminal.md
Due: format-go

fix: preserve nested raw terminal input visibility (#631)
  docs/_memory/change-impact.md
  docs/qa/scenarios/ET-terminal-agent-handoff-input.md
  docs/qa/scenarios/ET-terminal-redaction-boundaries.md
  internal/api/core/terminal_wire_integration_test.go
  internal/terminal/input_requests.go
  internal/terminal/manager_test.go
  internal/terminal/pty/echo_unix_common.go
  internal/terminal/pty/echo_windows.go
  internal/terminal/pty/pty_test.go
  internal/terminal/session_input.go
  internal/terminal/test_helpers_test.go
  packages/site/content/docs/terminal/agents-and-safety.mdx
  packages/site/content/docs/terminal/journal-and-recordings.mdx
  skills/compozy/references/terminal.md
Due: format-go

fix: preserve unicode terminal prompt redraws
  .github/workflows/ci.yml
  docs/_memory/change-impact.md
  docs/qa/reports/2026-09-12-terminal-unicode-prompt.md
  docs/qa/scenarios/ET-terminal-shell-config-fidelity.md
  internal/terminal/model_output.go
  internal/terminal/osc_filter.go
  internal/terminal/osc_filter_test.go
  internal/terminal/session_output.go
  web/e2e/__tests__/terminal.spec.ts
Due: turbo-lint, format-go

fix: preserve unicode terminal prompt redraws (#634)
  .github/workflows/ci.yml
  docs/_memory/change-impact.md
  docs/qa/reports/2026-09-12-terminal-unicode-prompt.md
  docs/qa/scenarios/ET-terminal-shell-config-fidelity.md
  internal/terminal/model_output.go
  internal/terminal/osc_filter.go
  internal/terminal/osc_filter_test.go
  internal/terminal/session_output.go
  web/e2e/__tests__/terminal.spec.ts
Due: turbo-lint, format-go

fix: complete overlay admission and integration checks
  .github/actions/setup-git-cliff/action.yml
  docs/_memory/change-impact.md
  docs/qa/bugs/BUG-20260912-live-provider-api-snapshot.md
  docs/qa/charters/CH-provider-overlay-lifecycle.md
  docs/qa/reports/2026-09-12-pr-630-634-integration.md
  docs/qa/scenarios/RT-model-catalog-cold-open.md
  internal/api/core/active_config.go
  internal/api/core/agent_definition_resolution.go
  internal/api/core/agent_handlers.go
  internal/api/core/handlers_agents.go
  internal/api/core/providers.go
  internal/api/core/providers_test.go
  internal/terminal/pty/pty_test.go
Due: format-go

ci: secure zsh completion paths on runners
  .github/workflows/ci.yml
  docs/qa/reports/2026-09-12-pr-630-634-integration.md
Due: none

ci: share audited shell setup with web scenarios
  .github/workflows/ci.yml
  docs/qa/reports/2026-09-12-pr-630-634-integration.md
Due: none

fix: render cursor edits in terminal quote lines
  docs/_memory/change-impact.md
  docs/qa/bugs/BUG-20260912-terminal-quote-redraw.md
  docs/qa/reports/2026-09-12-pr-630-634-integration.md
  docs/qa/scenarios/ET-terminal-shell-config-fidelity.md
  internal/terminal/manager_test.go
  internal/terminal/session_handle.go
  internal/terminal/vt/actor.go
  internal/terminal/vt/actor_test.go
  packages/site/content/docs/terminal/journal-and-recordings.mdx
Due: format-go

docs: tighten agent instructions and codify @compozy/ui composition
  CLAUDE.md
  internal/CLAUDE.md
  packages/site/CLAUDE.md
  packages/ui/CLAUDE.md
  web/CLAUDE.md
Due: none

fix: align the session context UI with its design boards
  docs/design/generated/session-context/context-sidebar.png
  docs/qa/reports/2026-09-12-session-context.md
  docs/qa/scenarios/ET-web-session-inspector-toggle.md
  packages/ui/src/components/__tests__/empty.test.tsx
  packages/ui/src/components/custom/__tests__/status-breakdown.test.tsx
  packages/ui/src/components/custom/detail-inspector.tsx
  packages/ui/src/components/custom/status-breakdown.tsx
  packages/ui/src/components/custom/stories/status-breakdown.stories.tsx
  packages/ui/src/components/empty.tsx
  packages/ui/src/components/stories/empty.stories.tsx
  web/src/systems/os/apps/session/session-window-content.tsx
  web/src/systems/session/components/__tests__/session-inspector.test.tsx
  web/src/systems/session/components/session-activity-section.tsx
  web/src/systems/session/components/session-context-control.tsx
  web/src/systems/session/components/session-context-injected-section.tsx
  web/src/systems/session/components/session-context-meter-section.tsx
  web/src/systems/session/components/session-context-turns-section.tsx
  web/src/systems/session/components/session-inspector-section.tsx
  web/src/systems/session/components/session-inspector-sections.tsx
  web/src/systems/session/components/session-inspector.tsx
  web/src/systems/session/components/stories/session-context-control.stories.tsx
  web/src/systems/session/hooks/use-session-context-activity.ts
  web/src/systems/session/lib/context-format.ts
  web/src/systems/session/lib/session-activity-view.ts
  web/src/systems/session/lib/session-context-view.ts
  web/src/systems/session/lib/session-context.ts
Due: turbo-lint

fix: use the current product name in session context
  docs/design/generated/session-context/context-sidebar.png
  docs/qa/reports/2026-09-12-session-context.md
  internal/cli/session_test.go
  internal/cli/session_usage_context.go
  internal/cli/session_usage_turns.go
  packages/site/content/docs/sessions/events.mdx
  skills/compozy/references/runtime-operations.md
  web/src/systems/session/components/__tests__/session-inspector.test.tsx
  web/src/systems/session/components/session-context-injected-section.tsx
  web/src/systems/session/components/session-context-meter-section.tsx
  web/src/systems/session/components/session-context-turns-section.tsx
Due: turbo-lint, format-go

docs: format the prompt delivery event reference
  packages/site/content/docs/sessions/events.mdx
Due: none
