Repository compozy/compozy: changes, and which pre-commit hooks are due for each by the changed paths.
All: turbo-lint, format-go

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit

default_stages:
  - pre-commit

exclude: |
  (?x)^(
    CHANGELOG.md|
    tools/.*/package\.json|
    bun.lockb|
    node_modules|
  )$

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      # - id: trailing-whitespace
      #   args:
      #     - --no-utf8-locale
      - id: end-of-file-fixer
        exclude: '^(CHANGELOG\.md|tools/.*/package\.json|bun\.lockb|node_modules/)'
      - id: check-json
        exclude: '^(tools/.*/package\.json|node_modules/)'
      - id: check-toml
      - id: check-added-large-files
        args:
          - --maxkb=3000
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: detect-private-key
  - repo: local
    hooks:
      - id: turbo-lint
        name: turbo lint
        description: Run linting via Turborepo
        entry: bun run lint
        language: system
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false
      # - id: turbo-type-check
      #   name: turbo type check
      #   description: Run TypeScript checking via Turborepo
      #   entry: bun run type-check
      #   language: system
      #   files: \.(ts|tsx)$
      #   pass_filenames: false
      - id: format-go
        name: format go
        description: Format Go files using make fmt
        entry: make fmt
        language: system
        files: \.go$
        pass_filenames: false
  - repo: https://github.com/lyz-code/yamlfix/
    rev: 1.17.0
    hooks:
      - id: yamlfix
        args:
          - -c
          - .yamlfix.toml
        exclude: ^cluster/.*$

feat(attachments): Task #1
  engine/attachment/config.go
  engine/attachment/config_test.go
  engine/attachment/resolver.go
  engine/llm/orchestrator_memory_test.go
  examples/pokemon-img/api.http
  tasks/prd-attachments/1_task.md
  tasks/prd-attachments/2_task.md
  tasks/prd-attachments/3_task.md
  tasks/prd-attachments/4_task.md
  tasks/prd-attachments/5_task.md
  tasks/prd-attachments/6_task.md
  tasks/prd-attachments/_prd.md
  tasks/prd-attachments/_tasks.md
  tasks/prd-attachments/_techspec.md
Due: format-go

feat(attachments): Task #2 and #3
  engine/attachment/config.go
  engine/attachment/context_normalization.go
  engine/attachment/mimedetect.go
  engine/attachment/mimedetect_test.go
  engine/attachment/normalize.go
  engine/attachment/normalize_test.go
  engine/attachment/resolved_handles.go
  engine/attachment/resolver_audio.go
  engine/attachment/resolver_factory.go
  engine/attachment/resolver_factory_test.go
  engine/attachment/resolver_file.go
  engine/attachment/resolver_fs.go
  engine/attachment/resolver_fs_test.go
  engine/attachment/resolver_http.go
  engine/attachment/resolver_http_test.go
  engine/attachment/resolver_image.go
  engine/attachment/resolver_mime_policy_test.go
  engine/attachment/resolver_pdf.go
  engine/attachment/resolver_url.go
  engine/attachment/resolver_video.go
  tasks/prd-attachments/1_task.md
  tasks/prd-attachments/2_task.md
  tasks/prd-attachments/3_task.md
  tasks/prd-attachments/_tasks.md
Due: format-go

feat(attachments): Task #4
  cli/cmd/config/config.go
  cli/helpers/flag_categories.go
  engine/agent/action_config.go
  engine/agent/config.go
  engine/task/config.go
  pkg/config/config.go
  pkg/config/definition/schema.go
  pkg/config/provider.go
  tasks/prd-attachments/4_task.md
  tasks/prd-attachments/_tasks.md
Due: format-go

fix(repo): Gracefully shutdown MCPs (#243)
  engine/mcp/service.go
Due: format-go

build(repo): Update go version
  .github/actions/setup-go/action.yml
  .github/versions.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/coverage.yml
  .github/workflows/docker-dev.yml
  .github/workflows/release.yml
  .serena/memories/project_overview.md
  CHANGELOG.md
  go.mod
  go.sum
Due: none

fix(repo): PR suggestion
  cli/cmd/dev/dev.go
  engine/auth/infra/postgres/repository.go
  engine/auth/infra/redis/cache_test.go
  engine/auth/uc/errors.go
  engine/auth/uc/validate_api_key.go
  engine/infra/cache/lock_manager.go
  engine/infra/server/mod.go
  engine/infra/store/authrepo.go
  engine/mcp/service.go
  engine/mcp/service_test.go
  engine/memory/instance/memory_instance.go
  engine/memory/privacy/resilient_manager.go
  engine/memory/privacy/resilient_manager_test.go
  engine/memory/summarizer.go
  engine/memory/tokens/async_counter.go
  engine/memory/tokens/async_counter_test.go
  engine/task/activities/exec_aggregate.go
  engine/task/uc/exec_task.go
  engine/task/uc/handle_resp.go
  engine/workflow/config.go
  engine/workflow/validators.go
  pkg/config/watcher.go
  pkg/mcp-proxy/client_manager.go
  pkg/mcp-proxy/proxy_handlers.go
  test/integration/server/auth_middleware_test.go
Due: format-go

docs(repo): Add Open with AI button
  docs/src/app/docs/[[...slug]]/page.tsx
  docs/src/components/ai/page-actions.tsx
Due: turbo-lint

build(repo): Format
  .cursor/rules/magic-numbers.mdc
Due: none

build(repo): Adjust AGENTS.md
  .taskmaster/docs/standalone.txt
  AGENTS.md
  CLAUDE.md
  GEMINI.md
  go.sum
Due: none

feat(repo): Task #1 prd-standalone
  cli/helpers/paths.go
  cli/root.go
  cli/root_test.go
  pkg/config/config.go
  pkg/config/config_test.go
  pkg/config/definition/schema.go
  pkg/config/loader.go
  pkg/config/mode.go
  pkg/config/mode_test.go
  pkg/config/provider.go
Due: format-go

docs(repo): Add docs for webhooks and attachments
  AGENTS.md
  CLAUDE.md
  GEMINI.md
  docs/content/docs/core/attachments/examples.mdx
  docs/content/docs/core/attachments/llm-integration.mdx
  docs/content/docs/core/attachments/meta.json
  docs/content/docs/core/attachments/overview.mdx
  docs/content/docs/core/attachments/security-and-limits.mdx
  docs/content/docs/core/attachments/types-and-sources.mdx
  docs/content/docs/core/configuration/meta.json
  docs/content/docs/core/configuration/webhooks.mdx
  docs/content/docs/core/meta.json
  docs/content/docs/schema/meta.json
  docs/content/docs/schema/webhooks.mdx
  engine/webhook/validators_test.go
  engine/webhook/verify.go
  engine/webhook/verify_test.go
Due: format-go

feat(repo): Task #4 of prd-standalone
  engine/infra/sqlite/doc.go
  engine/infra/sqlite/jsontext.go
  engine/infra/sqlite/migrations.go
  engine/infra/sqlite/migrations/20250603124835_create_workflow_states.sql
  engine/infra/sqlite/migrations/20250603124915_create_task_states.sql
  engine/infra/sqlite/placeholders.go
  engine/infra/sqlite/store.go
  engine/infra/sqlite/store_test.go
  go.mod
  go.sum
Due: format-go

feat(repo): Task #5 of prd-standalone
  engine/infra/cache/contracts_test.go
  engine/infra/cache/errors.go
  engine/infra/cache/interfaces.go
Due: format-go

feat(repo): Task #6 of prd-standalone
  cli/cmd/config/config.go
  engine/infra/cache/adapter_redis.go
  engine/infra/cache/adapter_redis_test.go
  engine/infra/cache/redis.go
  pkg/config/config.go
  pkg/config/config_test.go
  pkg/config/definition/schema.go
  pkg/logger/mod.go
  pkg/logger/setup.go
Due: format-go

feat(repo): Task #7 of prd-standalone
  engine/infra/sugardb/adapter.go
  engine/infra/sugardb/adapter_test.go
  engine/infra/sugardb/lock_manager.go
  engine/infra/sugardb/notification.go
  engine/infra/sugardb/server.go
  go.mod
  go.sum
  pkg/logger/mod.go
  pkg/logger/setup.go
Due: format-go

build(repo): Improve rules
  .claude/agents/analysis/deep-analyzer.md
  .claude/agents/analysis/deep-planner.md
  .claude/agents/analysis/requirements-creator.md
  .claude/agents/compozy-rules-expert.md
  .cursor/rules/api-standards.mdc
  .cursor/rules/architecture.mdc
  .cursor/rules/backwards-compatibility.mdc
  .cursor/rules/compozy/agent-config.mdc
  .cursor/rules/compozy/auth-security.mdc
  .cursor/rules/compozy/environment-config.mdc
  .cursor/rules/compozy/examples.mdc
  .cursor/rules/compozy/llm-providers.mdc
  .cursor/rules/compozy/mcp-server.mdc
  .cursor/rules/compozy/memory-systems.mdc
  .cursor/rules/compozy/project-config.mdc
  .cursor/rules/compozy/runtime-config.mdc
  .cursor/rules/compozy/scheduling.mdc
  .cursor/rules/compozy/task-patterns.mdc
  .cursor/rules/compozy/tool-config.mdc
  .cursor/rules/core-libraries.mdc
  .cursor/rules/critical-validation.mdc
  .cursor/rules/docs-enhancement.mdc
  .cursor/rules/global-config.mdc
  .cursor/rules/go-coding-standards.mdc
  .cursor/rules/go-patterns.mdc
  .cursor/rules/logger-config.mdc
  .cursor/rules/magic-numbers.mdc
  .cursor/rules/no_linebreaks.mdc
  .cursor/rules/project-structure.mdc
  .cursor/rules/quality-security.mdc
  .cursor/rules/review-checklist.mdc
  .cursor/rules/section_comments.mdc
  .cursor/rules/test-standards.mdc
  .cursor/rules/zen-mcp-tools.mdc
  AGENTS.md
  CLAUDE.md
  GEMINI.md
Due: none

feat(repo): Task #9 of prd-standalone
  .github/workflows/ci.yml
  .taskmaster/docs/standalone.txt
  Makefile
  engine/infra/cache/adapter_redis.go
  engine/infra/cache/adapter_redis_test.go
  engine/infra/cache/lock_manager_test.go
  engine/infra/cache/notification_test.go
  engine/infra/monitoring/interceptor/temporal.go
  engine/infra/server/middleware/ratelimit/middleware_test.go
  engine/infra/server/mod.go
  engine/infra/server/readyz_test.go
  engine/infra/server/register.go
  engine/infra/server/temporal/embedded.go
  engine/infra/server/temporal/embedded_stub.go
  engine/infra/sugardb/adapter.go
  engine/infra/sugardb/adapter_test.go
  engine/infra/sugardb/aof/log.aof
  engine/infra/sugardb/aof/preamble.bin
  engine/memory/store/redis_test.go
  engine/webhook/idem_cache_adapter.go
  engine/webhook/idem_memory.go
  engine/webhook/redis_test.go
  engine/worker/activities.go
  engine/worker/activities/dispatcher_heartbeat.go
  engine/worker/mod.go
  go.mod
  go.sum
  pkg/config/config.go
  pkg/config/definition/schema.go
  pkg/config/provider.go
  test/integration/tool/runtime_integration_test.go
  test/integration/worker/attachments/attachments_test.go
  test/integration/worker/basic/basic_helpers.go
  test/integration/worker/context/context_propagation_test.go
  test/integration/worker/helpers/common.go
Due: format-go

fix(webhooks): Fix workflow trigger
  .cursor/rules/compozy/auth-security.mdc
  .github/actions/setup-bun/action.yml
  .github/versions.yml
  bun.lock
  cluster/compozy.Dockerfile
  cluster/compozy.goreleaser.Dockerfile
  cluster/mcpproxy.Dockerfile
  cluster/mcpproxy.goreleaser.Dockerfile
  docs/content/docs/core/mcp/security-authentication.mdx
  docs/package.json
  engine/infra/server/project_middleware.go
  engine/infra/server/register.go
  engine/worker/dispatcher.go
  env.example
  examples/github/README.md
  examples/github/api.http
  examples/github/compozy.yaml
  examples/github/entrypoint.ts
  examples/github/env.example
  examples/github/package.json
  examples/github/workflows/mcp.yaml
  examples/github/workflows/webhooks.yaml
  package.json
  pkg/mcp-proxy/server.go
  test/integration/worker/dispatch/dispatcher_webhook_test.go
Due: turbo-lint, format-go

docs(repo): Fix build issue
  docs/content/docs/core/mcp/security-authentication.mdx
Due: none

fix(repo): PR suggestions
  .github/actions/setup-bun/action.yml
  .github/versions.yml
  docs/content/docs/core/attachments/examples.mdx
  docs/content/docs/core/attachments/overview.mdx
  docs/content/docs/schema/webhooks.mdx
  engine/infra/server/register.go
  engine/worker/dispatcher.go
  examples/github/workflows/webhooks.yaml
  test/integration/worker/dispatch/dispatcher_webhook_test.go
Due: format-go

refactor(repo): Improve tests
  .claude/commands/improve-tests.md
  engine/agent/action_config_test.go
  engine/agent/config_test.go
  engine/agent/router/agents_test.go
  engine/agent/uc/agents_test.go
  engine/agent/validators_test.go
  engine/core/config_test.go
  engine/core/context_test.go
  engine/core/conv_test.go
  engine/core/copy_test.go
  engine/core/cwd_test.go
  engine/core/error_test.go
  engine/core/global_transitions_test.go
  engine/core/int_test.go
  engine/core/loader_test.go
  engine/core/params_test.go
  engine/core/provider_test.go
  engine/core/test_context_test.go
  engine/core/types_test.go
  engine/tool/config.go
  engine/tool/config_test.go
  engine/tool/router/router_test.go
  engine/tool/uc/tools.go
  engine/tool/uc/tools_test.go
Due: format-go

fix(repo): PR suggestions
  engine/agent/action_config_test.go
  engine/agent/config_test.go
  engine/agent/router/agents_test.go
  engine/agent/uc/agents_test.go
  engine/agent/validators_test.go
  engine/core/context_test.go
  engine/core/conv_test.go
  engine/core/copy_test.go
  engine/core/cwd_test.go
  engine/core/global_transitions_test.go
  engine/core/int_test.go
  engine/core/loader_test.go
  engine/core/params_test.go
  engine/core/provider_test.go
  engine/core/types_test.go
  engine/tool/config.go
  engine/tool/config_test.go
  engine/tool/router/router_test.go
  engine/tool/router/tools.go
  engine/tool/uc/tools.go
  engine/tool/uc/tools_test.go
Due: format-go

fix(repo): PR suggestions
  engine/core/conv.go
  engine/core/conv_test.go
  engine/core/copy_test.go
  engine/core/fileext.go
  engine/core/global_transitions_test.go
  engine/core/types_test.go
  engine/tool/config.go
  engine/tool/router/router_test.go
  engine/tool/router/tools.go
Due: format-go

feat(repo): Task #12 and #13 of prd-standalone
  .claude/commands/greenfield.md
  cli/cmd/auth/bootstrap/shared.go
  engine/auth/infra/postgres/repository.go
  engine/auth/infra/redis/cache.go
  engine/auth/infra/redis/cache_test.go
  engine/infra/redis/authcache.go
  engine/infra/redis/authcache_test.go
  engine/infra/repo/provider.go
  engine/infra/server/README.md
  engine/infra/server/constants.go
  engine/infra/server/middleware/ratelimit/middleware_test.go
  engine/infra/server/mod.go
  engine/infra/sqlite/authrepo.go
  engine/infra/sqlite/authrepo_test.go
  engine/infra/sqlite/migrations/20250711163857_create_users.sql
  engine/infra/sqlite/migrations/20250711163858_create_api_keys.sql
  engine/infra/sugardb/aof/log.aof
  engine/infra/sugardb/authcache.go
  engine/infra/sugardb/authcache_test.go
  engine/infra/sugardb/server.go
  test/integration/server/ratelimit_setup_test.go
Due: format-go

refactor(repo): Improve tests (#251)
  .claude/commands/improve-tests.md
  engine/agent/action_config_test.go
  engine/agent/config_test.go
  engine/agent/router/agents_test.go
  engine/agent/uc/agents_test.go
  engine/agent/validators_test.go
  engine/core/config_test.go
  engine/core/context_test.go
  engine/core/conv.go
  engine/core/conv_test.go
  engine/core/copy_test.go
  engine/core/cwd_test.go
  engine/core/error_test.go
  engine/core/fileext.go
  engine/core/global_transitions_test.go
  engine/core/int_test.go
  engine/core/loader_test.go
  engine/core/params_test.go
  engine/core/provider_test.go
  engine/core/test_context_test.go
  engine/core/types_test.go
  engine/tool/config.go
  engine/tool/config_test.go
  engine/tool/router/router_test.go
  engine/tool/router/tools.go
  engine/tool/uc/tools.go
  engine/tool/uc/tools_test.go
Due: format-go

feat(repo): Some adjustments
  Makefile
  PRD_STANDALONE_FINDINGS.md
  cli/cmd/auth/bootstrap/shared.go
  cli/cmd/dev/dev.go
  cluster/docker-compose.yml
  docs/content/docs/core/mcp/overview.mdx
  engine/infra/cache/README.md
  engine/infra/postgres/migrations.go
  engine/infra/repo/provider.go
  engine/infra/server/README.md
  engine/infra/server/mod.go
  engine/infra/server/register.go
  engine/infra/server/temporal/embedded.go
  engine/infra/server/temporal/embedded_stub.go
  engine/infra/sqlite/taskrepo.go
  engine/infra/sqlite/workflowrepo.go
  engine/infra/sugardb/aof/log.aof
  engine/task/services/sugardb_store.go
  engine/worker/activities.go
  engine/worker/mod.go
  engine/worker/sugar_kv.go
  engine/workflow/router/events.go
  engine/workflow/router/execs.go
  engine/workflow/router/execute.go
  env.example
  go.mod
  go.sum
  pkg/config/config.go
  pkg/config/definition/schema.go
  pkg/mcp-proxy/README.md
  pkg/mcp-proxy/server.go
  scripts/check-driver-imports.sh
Due: format-go
