Repository compozy/compozy: changes, and which pre-commit hooks are due for each by the changed paths.
All: turbo-lint, format-go

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit

default_stages:
  - pre-commit

exclude: |
  (?x)^(
    CHANGELOG.md|
    tools/.*/package\.json|
    bun.lockb|
    node_modules|
  )$

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      # - id: trailing-whitespace
      #   args:
      #     - --no-utf8-locale
      - id: end-of-file-fixer
        exclude: '^(CHANGELOG\.md|tools/.*/package\.json|bun\.lockb|node_modules/)'
      - id: check-json
        exclude: '^(tools/.*/package\.json|node_modules/)'
      - id: check-toml
      - id: check-added-large-files
        args:
          - --maxkb=3000
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: detect-private-key
  - repo: local
    hooks:
      - id: turbo-lint
        name: turbo lint
        description: Run linting via Turborepo
        entry: bun run lint
        language: system
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false
      # - id: turbo-type-check
      #   name: turbo type check
      #   description: Run TypeScript checking via Turborepo
      #   entry: bun run type-check
      #   language: system
      #   files: \.(ts|tsx)$
      #   pass_filenames: false
      - id: format-go
        name: format go
        description: Format Go files using make fmt
        entry: make fmt
        language: system
        files: \.go$
        pass_filenames: false
  - repo: https://github.com/lyz-code/yamlfix/
    rev: 1.17.0
    hooks:
      - id: yamlfix
        args:
          - -c
          - .yamlfix.toml
        exclude: ^cluster/.*$

fix: commit cleared session before restart
  docs/qa/scenarios/RT-017.md
  internal/session/manager_clear.go
  internal/session/manager_clear_test.go
Due: format-go

fix: scope extension agents and local skills
  internal/api/core/skills_scope.go
  internal/api/core/skills_scope_test.go
  internal/daemon/agent_skill_publisher.go
Due: format-go

fix: preserve agent skill scope resolution
  internal/api/core/interfaces.go
  internal/api/core/skill_exposures.go
  internal/api/core/skills_scope.go
  internal/api/core/skills_scope_test.go
  internal/api/testutil/skills_stub.go
Due: format-go

fix: review rounds
  bun.lock
  docs/qa/reports/2026-08-31-loop-result-fix.md
  docs/qa/scenarios/LP-cancel-vs-kill.md
  internal/extension/host_api_test.go
  internal/store/globaldb/global_db_goal_binding_integration_test.go
  internal/store/globaldb/global_db_goal_stop_checkpoints.go
  internal/task/validate_test.go
  web/package.json
  web/src/systems/os/apps/tasks/task-detail-location.tsx
  web/src/systems/os/lib/os-dock-model.ts
  web/src/systems/settings/components/__tests__/settings-skill-sources-section.test.tsx
  web/src/systems/settings/components/settings-skill-sources-section.tsx
  web/src/systems/settings/components/stories/settings-skill-sources.stories.tsx
  web/src/systems/settings/hooks/__tests__/use-settings-skills-page.test.tsx
  web/src/systems/settings/hooks/use-settings-skill-sources.ts
  web/src/systems/tasks/components/task-external-result.tsx
  web/src/systems/tasks/components/task-inline-result.tsx
  web/src/systems/tasks/components/task-overview-panel.tsx
  web/src/systems/tasks/components/task-result-section.tsx
  web/src/systems/tasks/components/task-result-types.ts
  web/src/systems/tasks/index.ts
Due: turbo-lint, format-go

fix: review round
  internal/daemon/loop_resources.go
  internal/daemon/loop_resources_test.go
  web/src/systems/settings/adapters/settings-sections-api.ts
  web/src/systems/settings/hooks/__tests__/use-settings-mutations.test.tsx
  web/src/systems/settings/hooks/use-settings-mutations.ts
Due: turbo-lint, format-go

ci: extend runtime web e2e budget
  .github/workflows/ci.yml
Due: none

fix: address loop cancellation review findings
  internal/cli/loop_test.go
  internal/daemon/loop_read_cli_e2e_integration_test.go
  internal/loop/coordinator_test.go
  internal/loop/dsl/lifecycle.go
  internal/loop/parent_close.go
  internal/loop/run_event_kind.go
  internal/loop/service_test.go
  internal/loop/timeline.go
  internal/loop/timeline_view_test.go
  internal/store/globaldb/global_db_goal_binding_integration_test.go
  internal/store/globaldb/global_db_loop_session_cleanup.go
  internal/store/globaldb/global_db_loop_test.go
  internal/store/globaldb/global_db_task_claim_test.go
  internal/store/globaldb/global_db_task_coordinator.go
  internal/store/globaldb/global_db_task_coordinator_cancellation.go
  internal/store/globaldb/queries/goal_runtime.sql
  internal/store/globaldb/sqlcgen/goal_runtime.sql.go
  web/src/systems/loops/components/__tests__/loop-run-page.test.tsx
  web/src/systems/loops/components/run-page/loop-run-controls.tsx
  web/src/systems/loops/lib/__tests__/loop-node-controls.test.ts
  web/src/systems/loops/lib/loop-node-controls.ts
Due: turbo-lint, format-go

test: cover scoped Agent catalog errors
  internal/api/core/skills_scope_test.go
Due: format-go

fix: preserve cancellation cleanup metadata
  internal/store/globaldb/global_db_loop_cancel_sessions.go
Due: format-go

refactor: split settings mutation hooks
  web/src/systems/settings/hooks/settings-mutation-helpers.ts
  web/src/systems/settings/hooks/use-settings-attention-mutation.ts
  web/src/systems/settings/hooks/use-settings-mutations.ts
Due: turbo-lint

fix: restore web emojibase dependency
  bun.lock
  web/package.json
Due: none

fix: scope Loop extension tools to worktrees
  docs/qa/charters/CH-loop-web-environment-authoring.md
  docs/qa/charters/CH-loop-worktree-tool-root.md
  docs/qa/journeys/J-isolated-task-loop-execution.md
  docs/qa/reports/2026-09-01-issue-512-loop-worktree-tools.md
  docs/qa/scenarios/LP-loop-environment-resolution.md
  docs/qa/scenarios/LP-worktree-web-loop-environment.md
  internal/daemon/daemon_implement_tasks_e2e_integration_test.go
  internal/daemon/loop_action_environment.go
  internal/daemon/loop_action_registry_boot.go
  internal/daemon/loop_action_tool_workspace.go
  internal/daemon/loop_runtime_adapters_test.go
  internal/daemon/native_extension_tool_provider.go
  internal/daemon/native_extension_tool_provider_test.go
  internal/loop/action.go
  internal/loop/action_test.go
  internal/loop/action_tool_workspace.go
  internal/loop/action_toolcall.go
  packages/site/content/docs/worktrees/index.mdx
  packages/site/content/docs/worktrees/loop-environments.mdx
  skills/compozy/references/loops.md
  web/src/systems/loops/components/__tests__/loop-configure-dialog.test.tsx
  web/src/systems/loops/components/__tests__/loop-editor.test.tsx
  web/src/systems/loops/components/__tests__/loop-run-form.test.tsx
  web/src/systems/loops/components/configure/loop-worktree-section.tsx
  web/src/systems/loops/components/editor/loop-editor-environment-field.tsx
  web/src/systems/loops/components/editor/loop-editor-field.tsx
  web/src/systems/loops/components/run-form/loop-run-environment.tsx
  web/src/systems/loops/components/stories/loop-editor.stories.tsx
  web/src/systems/loops/components/stories/loop-worktree-environment.stories.tsx
  web/src/systems/loops/lib/loop-environment-choice.ts
Due: turbo-lint, format-go

fix: preserve sparse fan-out roster rows
  internal/loop/roster.go
  internal/loop/roster_helpers.go
  internal/loop/roster_projection.go
  packages/site/content/docs/loops/running.mdx
  skills/compozy/references/loops.md
  web/src/systems/loops/lib/loop-run-fanout-band.ts
Due: turbo-lint, format-go

test: verify sparse fan-out roster reporting
  docs/qa/bugs/BUG-20260901-filtered-fanout-phantom-rows.md
  docs/qa/reports/2026-09-01-issue-506-filtered-fanout.md
  docs/qa/scenarios/LP-fan-out-filtering.md
  docs/qa/scenarios/LP-run-read-agent-journey.md
  docs/qa/scenarios/LP-runs-roster-server-ordering.md
  docs/qa/scenarios/LP-web-run-operator-register.md
  internal/loop/roster_test.go
Due: format-go

build: declare emojibase peer dependency
  bun.lock
  packages/ui/package.json
  web/package.json
Due: none

fix: enable prompts for managed sessions
  .codex/audits/issue-507-compozy-skill-audit.md
  docs/qa/charters/CH-managed-session-intervention.md
  docs/qa/journeys/J-13-follow-a-live-run.md
  docs/qa/reports/2026-09-01-issue-507-managed-session-prompts.md
  docs/qa/scenarios/RT-018.md
  docs/qa/scenarios/RT-019.md
  packages/site/content/docs/sessions/lifecycle.mdx
  skills/compozy/references/runtime-operations.md
  web/src/hooks/routes/__tests__/use-session-page-controls.test.tsx
  web/src/hooks/routes/use-session-page-controls.ts
  web/src/systems/os/apps/session/__tests__/session-window-content.test.tsx
  web/src/systems/os/apps/session/session-window-content.tsx
  web/src/systems/session/hooks/__tests__/use-session-topbar-slot.test.tsx
  web/src/systems/session/hooks/use-session-topbar-slot.tsx
  web/src/systems/session/lib/session-running.ts
Due: turbo-lint

fix: enable prompts for managed sessions (#517)
  .codex/audits/issue-507-compozy-skill-audit.md
  bun.lock
  docs/qa/charters/CH-managed-session-intervention.md
  docs/qa/journeys/J-13-follow-a-live-run.md
  docs/qa/reports/2026-09-01-issue-507-managed-session-prompts.md
  docs/qa/scenarios/RT-018.md
  docs/qa/scenarios/RT-019.md
  packages/site/content/docs/sessions/lifecycle.mdx
  packages/ui/package.json
  skills/compozy/references/runtime-operations.md
  web/package.json
  web/src/hooks/routes/__tests__/use-session-page-controls.test.tsx
  web/src/hooks/routes/use-session-page-controls.ts
  web/src/systems/os/apps/session/__tests__/session-window-content.test.tsx
  web/src/systems/os/apps/session/session-window-content.tsx
  web/src/systems/session/hooks/__tests__/use-session-topbar-slot.test.tsx
  web/src/systems/session/hooks/use-session-topbar-slot.tsx
  web/src/systems/session/lib/session-running.ts
Due: turbo-lint

fix: preserve sparse fan-out roster rows (#518)
  docs/qa/bugs/BUG-20260901-filtered-fanout-phantom-rows.md
  docs/qa/reports/2026-09-01-issue-506-filtered-fanout.md
  docs/qa/scenarios/LP-fan-out-filtering.md
  docs/qa/scenarios/LP-run-read-agent-journey.md
  docs/qa/scenarios/LP-runs-roster-server-ordering.md
  docs/qa/scenarios/LP-web-run-operator-register.md
  internal/loop/roster.go
  internal/loop/roster_helpers.go
  internal/loop/roster_projection.go
  internal/loop/roster_test.go
  packages/site/content/docs/loops/running.mdx
  skills/compozy/references/loops.md
  web/src/systems/loops/lib/loop-run-fanout-band.ts
Due: turbo-lint, format-go

fix: protect loop worktree tool calls
  docs/qa/reports/2026-09-01-pr-519-review-fixes.md
  docs/qa/scenarios/LP-loop-environment-resolution.md
  docs/qa/scenarios/LP-worktree-web-loop-environment.md
  internal/daemon/execution_worktrees.go
  internal/daemon/loop_action_tool_workspace.go
  internal/daemon/loop_runtime_adapters_test.go
  internal/daemon/task_runtime_test.go
  internal/loop/action_test.go
  internal/loop/action_tool_workspace.go
  internal/loop/action_toolcall.go
  internal/worktree/remove.go
  internal/worktree/remove_test.go
  internal/worktree/service.go
  internal/worktree/usage.go
  web/src/systems/loops/components/__tests__/loop-configure-dialog.test.tsx
  web/src/systems/loops/lib/loop-environment-choice.ts
Due: turbo-lint, format-go

ci: shard e2e web lane, widen go test shards, wire turbo remote cache
  .github/workflows/ci.yml
  .github/workflows/go-test-census.yml
  magefiles/gotest_census.json
  turbo.json
  web/playwright.config.ts
  web/vitest.config.ts
Due: turbo-lint

fix: scope Loop extension tools to worktrees (#519)
  docs/qa/charters/CH-loop-web-environment-authoring.md
  docs/qa/charters/CH-loop-worktree-tool-root.md
  docs/qa/journeys/J-isolated-task-loop-execution.md
  docs/qa/reports/2026-09-01-issue-512-loop-worktree-tools.md
  docs/qa/reports/2026-09-01-pr-519-review-fixes.md
  docs/qa/scenarios/LP-loop-environment-resolution.md
  docs/qa/scenarios/LP-worktree-web-loop-environment.md
  internal/daemon/daemon_implement_tasks_e2e_integration_test.go
  internal/daemon/execution_worktrees.go
  internal/daemon/loop_action_environment.go
  internal/daemon/loop_action_registry_boot.go
  internal/daemon/loop_action_tool_workspace.go
  internal/daemon/loop_runtime_adapters_test.go
  internal/daemon/native_extension_tool_provider.go
  internal/daemon/native_extension_tool_provider_test.go
  internal/daemon/task_runtime_test.go
  internal/loop/action.go
  internal/loop/action_test.go
  internal/loop/action_tool_workspace.go
  internal/loop/action_toolcall.go
  internal/worktree/remove.go
  internal/worktree/remove_test.go
  internal/worktree/service.go
  internal/worktree/usage.go
  packages/site/content/docs/worktrees/index.mdx
  packages/site/content/docs/worktrees/loop-environments.mdx
  skills/compozy/references/loops.md
  web/src/systems/loops/components/__tests__/loop-configure-dialog.test.tsx
  web/src/systems/loops/components/__tests__/loop-editor.test.tsx
  web/src/systems/loops/components/__tests__/loop-run-form.test.tsx
  web/src/systems/loops/components/configure/loop-worktree-section.tsx
  web/src/systems/loops/components/editor/loop-editor-environment-field.tsx
  web/src/systems/loops/components/editor/loop-editor-field.tsx
  web/src/systems/loops/components/run-form/loop-run-environment.tsx
  web/src/systems/loops/components/stories/loop-editor.stories.tsx
  web/src/systems/loops/components/stories/loop-worktree-environment.stories.tsx
  web/src/systems/loops/lib/loop-environment-choice.ts
Due: turbo-lint, format-go

test: prove profile-scoped Agent isolation
  docs/qa/charters/CH-profile-extension-agent-skill-isolation.md
  docs/qa/scenarios/ET-profile-extension-agent-skill-isolation.md
  internal/api/core/skills_scope_test.go
  internal/daemon/agent_skill_resources_integration_test.go
Due: format-go

docs: fix spec peer review skill
  .agents/skills/cy-spec-peer-review/SKILL.md
Due: none

ci: fix frontend check
  .github/workflows/ci.yml
Due: none

fix: preserve resolved Agent skill precedence
  internal/api/core/skills_scope.go
  internal/api/core/skills_scope_test.go
Due: format-go

docs: record profile-scoped Agent QA
  docs/qa/reports/2026-09-01-profile-extension-agent-skill-isolation.md
  docs/qa/scenarios/ET-profile-extension-agent-skill-isolation.md
Due: none

ci: scope remote cache to short-lived oidc tokens
  .agents/skills/cy-spec-peer-review/SKILL.md
  .github/workflows/ci.yml
Due: none

ci: keep cache credentials out of pull-request jobs
  .github/workflows/ci.yml
Due: none

ci: keep web vitest workers bounded on ci runners
  .github/workflows/ci.yml
  turbo.json
  web/vitest.config.ts
Due: turbo-lint

docs: fix spec process and skills
  .agents/skills/cy-create-spec/SKILL.md
  .agents/skills/cy-create-spec/references/spec-template.md
  .agents/skills/cy-create-tasks/SKILL.md
  .agents/skills/cy-create-tasks/references/task-context-schema.md
  .agents/skills/cy-create-tasks/references/task-template.md
  .agents/skills/cy-loop-tasks/SKILL.md
  .agents/skills/cy-loop-tasks/references/checklist.md
  .agents/skills/cy-spec-peer-review/references/peer-review-prompt.md
  .agents/skills/cy-spec-preflight/SKILL.md
  .agents/skills/cy-spec-preflight/references/tasks-checks.md
  .agents/skills/cy-tasks-tail-qa-pair/SKILL.md
  CLAUDE.md
  docs/_memory/lessons/L-036-mission-traceability-spec-vs-motivating-problem.md
  docs/_memory/lessons/L-037-vertical-slices-gates-travel-with-the-slice.md
  docs/_memory/lessons/L-038-qa-scenarios-need-reachability-and-visual-axes.md
  docs/_memory/lessons/L-039-self-asserted-quality-and-inverted-goldens.md
  docs/_memory/lessons/README.md
  docs/_memory/spec-authoring-playbook.md
  docs/_memory/standing_directives.md
  extensions/spec-cycle/skills/cy-create-spec/SKILL.md
  extensions/spec-cycle/skills/cy-create-spec/references/spec-template.md
  extensions/spec-cycle/skills/cy-create-tasks/SKILL.md
  extensions/spec-cycle/skills/cy-create-tasks/references/task-context-schema.md
  extensions/spec-cycle/skills/cy-create-tasks/references/task-template.md
  extensions/spec-cycle/skills/cy-final-verify/SKILL.md
  extensions/spec-cycle/skills/cy-review-round/SKILL.md
Due: none

ci: let same-repo pull requests read the remote cache
  .github/workflows/ci.yml
Due: none

ci: shard e2e web lane, widen go test shards, wire turbo remote cache (#520)
  .agents/skills/cy-create-spec/SKILL.md
  .agents/skills/cy-create-spec/references/spec-template.md
  .agents/skills/cy-create-tasks/SKILL.md
  .agents/skills/cy-create-tasks/references/task-context-schema.md
  .agents/skills/cy-create-tasks/references/task-template.md
  .agents/skills/cy-loop-tasks/SKILL.md
  .agents/skills/cy-loop-tasks/references/checklist.md
  .agents/skills/cy-spec-peer-review/SKILL.md
  .agents/skills/cy-spec-peer-review/references/peer-review-prompt.md
  .agents/skills/cy-spec-preflight/SKILL.md
  .agents/skills/cy-spec-preflight/references/tasks-checks.md
  .agents/skills/cy-tasks-tail-qa-pair/SKILL.md
  .github/workflows/ci.yml
  .github/workflows/go-test-census.yml
  CLAUDE.md
  docs/_memory/lessons/L-036-mission-traceability-spec-vs-motivating-problem.md
  docs/_memory/lessons/L-037-vertical-slices-gates-travel-with-the-slice.md
  docs/_memory/lessons/L-038-qa-scenarios-need-reachability-and-visual-axes.md
  docs/_memory/lessons/L-039-self-asserted-quality-and-inverted-goldens.md
  docs/_memory/lessons/README.md
  docs/_memory/spec-authoring-playbook.md
  docs/_memory/standing_directives.md
  extensions/spec-cycle/skills/cy-create-spec/SKILL.md
  extensions/spec-cycle/skills/cy-create-spec/references/spec-template.md
  extensions/spec-cycle/skills/cy-create-tasks/SKILL.md
  extensions/spec-cycle/skills/cy-create-tasks/references/task-context-schema.md
  extensions/spec-cycle/skills/cy-create-tasks/references/task-template.md
  extensions/spec-cycle/skills/cy-final-verify/SKILL.md
  extensions/spec-cycle/skills/cy-review-round/SKILL.md
  magefiles/gotest_census.json
  turbo.json
  web/playwright.config.ts
  web/vitest.config.ts
Due: turbo-lint

fix: preserve profile-scoped extension Agent skills (#516)
  docs/qa/charters/CH-profile-extension-agent-skill-isolation.md
  docs/qa/reports/2026-09-01-profile-extension-agent-skill-isolation.md
  docs/qa/scenarios/ET-profile-extension-agent-skill-isolation.md
  internal/api/core/interfaces.go
  internal/api/core/skill_exposures.go
  internal/api/core/skills_scope.go
  internal/api/core/skills_scope_test.go
  internal/api/testutil/skills_stub.go
  internal/daemon/agent_skill_publisher.go
  internal/daemon/agent_skill_resources_integration_test.go
Due: format-go

fix: prevent session cancel and clear races
  docs/qa/reports/2026-09-01-issue-521-522-session-cancel-clear.md
  docs/qa/scenarios/RT-017.md
  docs/qa/scenarios/RT-session-prompt-cancel.md
  internal/acp/client_control.go
  internal/acp/client_process_lifecycle_test.go
  internal/acp/client_prompt.go
  internal/acp/client_start_contract_test.go
  internal/session/manager.go
  internal/session/manager_clear.go
  internal/session/manager_clear_operation.go
  internal/session/manager_clear_test.go
  internal/session/manager_conversation_operation.go
  internal/session/manager_session_db_family.go
  internal/session/query_recorder.go
Due: format-go

fix: prevent session cancel and clear races (#523)
  docs/qa/reports/2026-09-01-issue-521-522-session-cancel-clear.md
  docs/qa/scenarios/RT-017.md
  docs/qa/scenarios/RT-session-prompt-cancel.md
  internal/acp/client_control.go
  internal/acp/client_process_lifecycle_test.go
  internal/acp/client_prompt.go
  internal/acp/client_start_contract_test.go
  internal/session/manager.go
  internal/session/manager_clear.go
  internal/session/manager_clear_operation.go
  internal/session/manager_clear_test.go
  internal/session/manager_conversation_operation.go
  internal/session/manager_session_db_family.go
  internal/session/query_recorder.go
Due: format-go

build: prepare release v0.3.0 (#496)
  CHANGELOG.md
  RELEASE_BODY.md
  RELEASE_NOTES.md
  go.mod
  go.sum
Due: none
