Repository compozy/compozy: changes, and which pre-commit hooks are due for each by the changed paths.
All: turbo-lint, format-go

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit

default_stages:
  - pre-commit

exclude: |
  (?x)^(
    CHANGELOG.md|
    tools/.*/package\.json|
    bun.lockb|
    node_modules|
  )$

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      # - id: trailing-whitespace
      #   args:
      #     - --no-utf8-locale
      - id: end-of-file-fixer
        exclude: '^(CHANGELOG\.md|tools/.*/package\.json|bun\.lockb|node_modules/)'
      - id: check-json
        exclude: '^(tools/.*/package\.json|node_modules/)'
      - id: check-toml
      - id: check-added-large-files
        args:
          - --maxkb=3000
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: detect-private-key
  - repo: local
    hooks:
      - id: turbo-lint
        name: turbo lint
        description: Run linting via Turborepo
        entry: bun run lint
        language: system
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false
      # - id: turbo-type-check
      #   name: turbo type check
      #   description: Run TypeScript checking via Turborepo
      #   entry: bun run type-check
      #   language: system
      #   files: \.(ts|tsx)$
      #   pass_filenames: false
      - id: format-go
        name: format go
        description: Format Go files using make fmt
        entry: make fmt
        language: system
        files: \.go$
        pass_filenames: false
  - repo: https://github.com/lyz-code/yamlfix/
    rev: 1.17.0
    hooks:
      - id: yamlfix
        args:
          - -c
          - .yamlfix.toml
        exclude: ^cluster/.*$

fix: stabilize terminal browser attachments
  web/src/systems/terminal/components/__tests__/terminal-window-app.test.tsx
  web/src/systems/terminal/hooks/use-terminal-attachment.ts
Due: turbo-lint

fix: preserve terminal sessions after creation
  desktop/e2e/_electron/__tests__/shell.spec.ts
  internal/terminal/pty/pty_test.go
  internal/terminal/pty/pty_unix.go
  packages/ui/src/components/terminal/__tests__/fake-terminal-engine.ts
  packages/ui/src/components/terminal/terminal-view.tsx
  packages/ui/src/components/terminal/use-terminal-instance.ts
  web/src/systems/terminal/components/__tests__/terminal-window-harness.tsx
Due: turbo-lint, format-go

fix: preserve terminal clipboard shortcuts
  packages/ui/src/components/terminal/__tests__/fake-terminal-engine.ts
  packages/ui/src/components/terminal/__tests__/terminal-view.test.tsx
  packages/ui/src/components/terminal/use-terminal-instance.ts
Due: turbo-lint

fix: retry empty Windows terminal reads
  internal/terminal/pty/pty_windows.go
Due: format-go

test: align daemon harness profile resolution
  internal/daemon/harness_context_integration_test.go
Due: format-go

fix: harden terminal approvals and agent guidance
  COPY.md
  docs/_memory/glossary.md
  internal/cli/doc.go
  internal/cli/doc_test.go
  internal/cli/docpost/docpost.go
  internal/cli/docpost/docpost_enrichment.go
  internal/cli/docpost/docpost_test.go
  internal/cmdpalette/corecmds/apps.go
  internal/cmdpalette/corecmds/provider_test.go
  internal/daemon/terminal_permissions.go
  internal/daemon/tool_approval_bridge.go
  internal/daemon/tool_approval_bridge_grants.go
  internal/daemon/tool_approval_bridge_test.go
  internal/terminal/classification.go
  internal/terminal/errors.go
  internal/terminal/manager_exec.go
  internal/terminal/manager_test.go
  internal/tools/approval_grants.go
  internal/tools/approval_grants_test.go
  packages/site/content/docs/cli/terminal/quote.mdx
  packages/site/content/docs/configuration/config-toml.mdx
  packages/site/content/docs/terminal/agents-and-safety.mdx
  packages/site/content/docs/terminal/journal-and-recordings.mdx
  packages/site/content/docs/terminal/tutorial.mdx
  skills/compozy/SKILL.md
  skills/compozy/references/configuration.md
  skills/compozy/references/native-tools.md
  skills/compozy/references/terminal.md
  skills/compozy/references/tools-and-skills.md
Due: format-go

fix: harden terminal process shutdown
  internal/terminal/pty/pipe.go
  internal/terminal/pty/pipe_unix.go
  internal/terminal/pty/pipe_windows.go
  internal/terminal/pty/pty_unix.go
  internal/terminal/pty/reader_unix.go
Due: format-go

fix: harden terminal runtime lifecycle
  internal/acp/handlers.go
  internal/acp/handlers_test.go
  internal/acp/terminal.go
  internal/acp/terminal_access.go
  internal/acp/terminal_conformance_test.go
  internal/acp/terminal_create.go
  internal/acp/terminal_process.go
  internal/acp/tool_host.go
  internal/terminal/contracts.go
  internal/terminal/errors.go
  internal/terminal/input_registry.go
  internal/terminal/input_requests.go
  internal/terminal/journal/assembler.go
  internal/terminal/journal/idle.go
  internal/terminal/journal/lane.go
  internal/terminal/journal/query.go
  internal/terminal/journal/record.go
  internal/terminal/journal/service.go
  internal/terminal/journal/service_test.go
  internal/terminal/lease.go
  internal/terminal/manager.go
  internal/terminal/manager_exec.go
  internal/terminal/manager_journal.go
  internal/terminal/manager_open.go
  internal/terminal/manager_pipe.go
  internal/terminal/manager_run_lifecycle.go
  internal/terminal/manager_test.go
  internal/terminal/options.go
  internal/terminal/osc_filter.go
  internal/terminal/osc_filter_test.go
  internal/terminal/reaper.go
  internal/terminal/recording.go
  internal/terminal/session.go
  internal/terminal/session_capture.go
  internal/terminal/session_handle.go
  internal/terminal/session_input.go
  internal/terminal/subscription.go
  internal/terminal/test_helpers_test.go
  internal/terminal/wait.go
  internal/terminal/wait_test.go
Due: format-go

build: regenerate integrated terminal contracts
  packages/site/content/docs/terminal/journal-and-recordings.mdx
Due: none

feat: rebuild integrated terminal journal
  packages/ui/src/components/__tests__/slider.test.tsx
  packages/ui/src/components/__tests__/table.test.tsx
  packages/ui/src/components/custom/__tests__/detail-inspector.test.tsx
  packages/ui/src/components/custom/__tests__/pill.test.tsx
  packages/ui/src/components/custom/detail-inspector.tsx
  packages/ui/src/components/custom/pill-types.ts
  packages/ui/src/components/custom/pill-variants.ts
  packages/ui/src/components/custom/pill.tsx
  packages/ui/src/components/custom/stories/pill.stories.tsx
  packages/ui/src/components/slider.tsx
  packages/ui/src/components/stories/slider.stories.tsx
  packages/ui/src/components/stories/table.stories.tsx
  packages/ui/src/components/table.tsx
  packages/ui/src/exports/listing.ts
  packages/ui/src/primitives.ts
  web/src/systems/terminal/components/__tests__/terminal-journal-panel.test.tsx
  web/src/systems/terminal/components/stories/terminal-surfaces.stories.tsx
  web/src/systems/terminal/components/terminal-journal-confidence.tsx
  web/src/systems/terminal/components/terminal-journal-detail.tsx
  web/src/systems/terminal/components/terminal-journal-empty.tsx
  web/src/systems/terminal/components/terminal-journal-footer.tsx
  web/src/systems/terminal/components/terminal-journal-output.tsx
  web/src/systems/terminal/components/terminal-journal-panel.tsx
  web/src/systems/terminal/components/terminal-journal-row.tsx
  web/src/systems/terminal/components/terminal-recording-player.tsx
  web/src/systems/terminal/index.ts
  web/src/systems/terminal/lib/__tests__/terminal-journal-clock.test.ts
  web/src/systems/terminal/lib/terminal-journal-actor.ts
  web/src/systems/terminal/lib/terminal-journal-clock.ts
  web/src/systems/terminal/lib/terminal-journal-copy.ts
  web/src/systems/terminal/mocks/terminal-fixtures.ts
Due: turbo-lint

feat: rebuild terminal input attention
  web/src/systems/os/components/__tests__/attention-bell.test.tsx
  web/src/systems/os/components/attention-bell-row.tsx
  web/src/systems/os/components/desktop-menubar.tsx
  web/src/systems/os/hooks/__tests__/use-os-attention.test.tsx
  web/src/systems/os/hooks/use-os-attention.ts
  web/src/systems/os/lib/__tests__/attention-model.test.ts
  web/src/systems/os/lib/attention-model.ts
  web/src/systems/terminal/components/stories/terminal-surfaces.stories.tsx
  web/src/systems/terminal/hooks/__tests__/use-terminal-catalog-stream.test.tsx
  web/src/systems/terminal/hooks/use-terminal-catalog-stream.ts
  web/src/systems/terminal/index.ts
  web/src/systems/terminal/lib/__tests__/terminal-catalog-stream.test.ts
  web/src/systems/terminal/lib/terminal-wire.ts
Due: turbo-lint

docs: clarify estimated terminal journal boundaries
  packages/site/content/docs/terminal/journal-and-recordings.mdx
  packages/site/content/docs/terminal/tutorial.mdx
Due: none

feat: rebuild session terminal blocks
  web/src/components/assistant-ui/__tests__/session-timeline.logic.test.ts
  web/src/components/assistant-ui/session-timeline-fold.ts
  web/src/components/assistant-ui/session-timeline-summary.ts
  web/src/components/assistant-ui/session-timeline-work.ts
  web/src/components/assistant-ui/session-timeline.logic.ts
  web/src/systems/session/components/__tests__/tool-call-card.test.tsx
  web/src/systems/session/components/session-agent-reported-block.tsx
  web/src/systems/session/components/stories/session-agent-reported-block.stories.tsx
  web/src/systems/session/components/tool-call-card.tsx
  web/src/systems/session/components/tool-renderers/__tests__/expanded-tool-content.test.tsx
  web/src/systems/session/components/tool-renderers/expanded-tool-content.tsx
  web/src/systems/session/components/tool-renderers/terminal-content.tsx
  web/src/systems/session/hooks/use-session-terminal-catalog.ts
  web/src/systems/session/lib/__tests__/session-data-renderers.test.tsx
  web/src/systems/session/lib/__tests__/tool-labels.test.ts
  web/src/systems/session/lib/session-terminal-tools.ts
  web/src/systems/session/lib/session-toolkit.ts
  web/src/systems/session/lib/tool-labels.ts
  web/src/systems/terminal/components/__tests__/terminal-quote-surface.test.tsx
  web/src/systems/terminal/components/session-terminal-block.tsx
  web/src/systems/terminal/components/stories/session-terminal-block.stories.tsx
  web/src/systems/terminal/components/stories/terminal-surfaces.stories.tsx
  web/src/systems/terminal/hooks/__tests__/use-terminal-catalog-stream.test.tsx
  web/src/systems/terminal/hooks/use-terminal-catalog-stream.ts
  web/src/systems/terminal/index.ts
  web/src/systems/terminal/lib/catalog-query.ts
  web/src/systems/terminal/lib/query-options.ts
  web/src/systems/terminal/parts.ts
Due: turbo-lint

feat: rebuild terminal approval surfaces
  web/src/systems/session/components/__tests__/permission-data-part.test.tsx
  web/src/systems/session/components/__tests__/session-decision-dock.test.tsx
  web/src/systems/session/components/permission-data-part.tsx
  web/src/systems/session/components/permission-dock.tsx
  web/src/systems/session/components/permission-waiting-line.tsx
  web/src/systems/session/components/stories/permission-dock.stories.tsx
  web/src/systems/session/lib/__tests__/session-pending-interactions.test.ts
  web/src/systems/session/lib/permission-receipt-copy.ts
  web/src/systems/session/lib/session-pending-interactions.ts
  web/src/systems/terminal/components/__tests__/terminal-approvals.test.tsx
  web/src/systems/terminal/components/stories/terminal-surfaces.stories.tsx
  web/src/systems/terminal/components/terminal-approval-detail.tsx
  web/src/systems/terminal/components/terminal-grant-row.tsx
  web/src/systems/terminal/hooks/use-known-terminal-title.ts
  web/src/systems/terminal/index.ts
  web/src/systems/terminal/lib/terminal-grant.ts
  web/src/systems/terminal/lib/terminal-permission-copy.ts
  web/src/systems/terminal/lib/terminal-permission.ts
  web/src/systems/terminal/mocks/terminal-fixtures.ts
  web/src/systems/terminal/parts.ts
  web/src/systems/tool-approvals/components/__tests__/tool-approval-grants-section.test.tsx
  web/src/systems/tool-approvals/components/tool-approval-grants-section.tsx
  web/src/systems/tool-approvals/hooks/__tests__/use-tool-approval-grants-panel.test.tsx
  web/src/systems/tool-approvals/hooks/use-tool-approval-grants-panel.ts
Due: turbo-lint

fix: preserve semantic identity during retarget
  docs/qa/bugs/BUG-20260830-terminal-retarget-duplicate-window.md
  docs/qa/reports/2026-08-28-integrated-terminal-rebase.md
  docs/qa/scenarios/ET-web-window-routing-lifecycle.md
  internal/daemon/loop_read_cli_e2e_integration_test.go
  web/src/systems/os/hooks/__tests__/window-manager-runtime.test.ts
  web/src/systems/os/lib/window-manager-view.ts
  web/src/systems/os/runtime/window-manager-tab-commands.ts
  web/src/systems/os/stores/window-manager-store-types.ts
Due: turbo-lint, format-go

ci: parallelize e2e lanes
  .github/workflows/ci.yml
Due: none

fix: close exact-head web e2e races
  .github/workflows/ci.yml
  docs/qa/reports/2026-08-28-integrated-terminal-rebase.md
  docs/qa/scenarios/ET-terminal-cli-public-contract.md
  docs/qa/scenarios/ET-terminal-journal-recording.md
  docs/qa/scenarios/ET-web-window-routing-lifecycle.md
  docs/qa/scenarios/NB-003.md
  internal/terminal/manager_exec.go
  internal/terminal/manager_test.go
  internal/terminal/session.go
  internal/terminal/session_finalization.go
  internal/terminal/test_helpers_test.go
  web/e2e/__tests__/terminal.spec.ts
  web/src/systems/os/hooks/__tests__/window-manager-runtime.test.ts
  web/src/systems/os/runtime/window-manager-runtime.ts
  web/src/systems/os/runtime/window-manager-semantic-open.ts
Due: turbo-lint, format-go

fix: stabilize terminal detach chord
  docs/qa/reports/2026-08-28-integrated-terminal-rebase.md
  docs/qa/scenarios/ET-terminal-cli-public-contract.md
  internal/cli/client_terminal_input.go
  internal/cli/client_terminal_stream_test.go
Due: format-go

test: stabilize loop read E2E
  docs/qa/reports/2026-08-28-integrated-terminal-rebase.md
  internal/daemon/loop_read_cli_e2e_integration_test.go
  internal/testutil/acpmock/testdata/loop_node_lifecycle_fixture.json
Due: format-go

fix: close integrated terminal web CI gaps
  docs/qa/reports/2026-08-28-integrated-terminal-rebase.md
  docs/qa/scenarios/ET-terminal-cli-public-contract.md
  docs/qa/scenarios/ET-terminal-journal-recording.md
  docs/qa/scenarios/ET-terminal-profile-segmentation.md
  internal/cli/client_terminal_input.go
  internal/cli/client_terminal_stream_test.go
  internal/terminal/pty/pty_test.go
  internal/terminal/pty/shell_integration.go
  web/src/systems/os/hooks/__tests__/window-manager-runtime.test.ts
  web/src/systems/os/runtime/window-manager-runtime-core.ts
Due: turbo-lint, format-go

fix: stabilize integrated terminal CI
  desktop/e2e/_electron/__tests__/shell.spec.ts
  internal/terminal/pty/pty_windows_test.go
Due: turbo-lint, format-go

test: stabilize terminal e2e fixtures
  docs/qa/reports/2026-08-28-integrated-terminal-rebase.md
  web/e2e/__tests__/terminal.spec.ts
  web/e2e/fixtures/os-navigation.ts
Due: turbo-lint

fix: repair integrated terminal CI
  internal/api/contract/settings_config_payloads.go
  internal/api/contract/settings_source_payloads.go
  internal/daemon/loop_goal_managed_runtime_integration_test.go
Due: format-go

test: stabilize loop event resume E2E
  internal/daemon/loop_read_cli_e2e_integration_test.go
  internal/testutil/e2e/runtime_harness_lifecycle_test.go
  internal/testutil/e2e/runtime_harness_transport.go
Due: format-go

fix: close exact-head e2e races
  docs/qa/bugs/BUG-20260830-busy-input-turn-end-stranded.md
  docs/qa/reports/2026-08-28-integrated-terminal-rebase.md
  docs/qa/scenarios/RT-019.md
  internal/session/manager_busy_input.go
  internal/session/manager_busy_input_queue.go
  internal/session/manager_busy_input_test.go
  internal/session/manager_prompt_admission.go
  web/e2e/__tests__/terminal.spec.ts
  web/e2e/fixtures/os-navigation.ts
Due: turbo-lint, format-go

fix: close final web e2e races
  docs/qa/reports/2026-08-28-integrated-terminal-rebase.md
  docs/qa/scenarios/ET-terminal-cli-public-contract.md
  docs/qa/scenarios/TA-web-task-run-detail-redesign.md
  internal/cli/terminal_commands.go
  web/src/systems/os/apps/tasks/__tests__/use-task-run-location.test.tsx
  web/src/systems/os/apps/tasks/use-task-run-location.ts
Due: turbo-lint, format-go

docs: increase deep review limits
  .agents/skills/deep-review/SKILL.md
  .agents/skills/deep-review/references/orchestration.md
  .agents/skills/deep-review/scripts/build_jobs.py
Due: none

fix: terminal fonts
  DESIGN.md
  docs/qa/scenarios/ET-terminal-nerd-glyphs.md
  docs/qa/scenarios/ET-web-catalog-navigation.md
  packages/ui/src/assets/fonts/symbols-nerd-font-mono-license.txt
  packages/ui/src/assets/fonts/symbols-nerd-font-mono.woff2
  packages/ui/src/components/terminal/__tests__/fake-font-face-set.ts
  packages/ui/src/components/terminal/__tests__/fake-terminal-engine.ts
  packages/ui/src/components/terminal/__tests__/terminal-fonts.test.ts
  packages/ui/src/components/terminal/__tests__/terminal-view.test.tsx
  packages/ui/src/components/terminal/terminal-fonts.ts
  packages/ui/src/components/terminal/use-terminal-instance.ts
  packages/ui/src/tokens-runtime.css
  packages/ui/src/tokens.css
  web/src/systems/os/components/__tests__/os-dock.test.tsx
  web/src/systems/os/components/stories/_desktop.tsx
  web/src/systems/os/components/stories/os-dock.stories.tsx
  web/src/systems/os/hooks/use-desktop-dock.ts
Due: turbo-lint

fix: reconcile pointer actor and ahead sentinel after second rebase
  internal/cli/local_database_test.go
  internal/loop/action_test.go
Due: format-go

fix: split protocol client wiring and align desktop terminal flow
  desktop/e2e/_electron/__tests__/shell.spec.ts
  web/src/systems/terminal/lib/terminal-frame-consumers.ts
  web/src/systems/terminal/lib/terminal-protocol-client.ts
Due: turbo-lint

fix: dedupe worktrees spec imports after rebase
  web/e2e/__tests__/worktrees.spec.ts
Due: turbo-lint
