Repository compozy/compozy: changes, and which pre-commit hooks are due for each by the changed paths.
All: turbo-lint, format-go

turbo-lint:
  name: turbo lint
  description: Run linting via Turborepo
  entry: bun run lint
  language: system
  pass_filenames: false

format-go:
  name: format go
  description: Format Go files using make fmt
  entry: make fmt
  language: system
  pass_filenames: false

docs: graph eng design
  docs/design/opendesign/_done/loops/LOOPS-DESIGN-SPEC.md
  docs/design/opendesign/_done/loops/loop-editor.html
  docs/design/opendesign/_done/site/site-example-page.html
Due: none

fix: errors
  extensions/spec-cycle/embed_test.go
  internal/api/core/interfaces.go
  internal/api/core/settings_update_contract.go
  internal/daemon/model_catalog_test.go
Due: format-go

test: plan graph completion QA
  docs/qa/charters/CH-loop-agent-capabilities.md
  docs/qa/charters/CH-loop-editor-completion.md
  docs/qa/charters/CH-loop-partial-runtime.md
  docs/qa/charters/CH-loop-request-lifecycle.md
  docs/qa/charters/CH-loop-time-travel-history.md
  docs/qa/journeys/J-complete-partial-loop.md
  docs/qa/journeys/J-replay-loop-history.md
  docs/qa/journeys/J-supervise-loop-request.md
  docs/qa/scenarios/LP-agent-self-denial.md
  docs/qa/scenarios/LP-amend-rerun.md
  docs/qa/scenarios/LP-ask-answer.md
  docs/qa/scenarios/LP-best-effort-partial.md
  docs/qa/scenarios/LP-broken-stop-when-policy.md
  docs/qa/scenarios/LP-exclusive-route-history.md
  docs/qa/scenarios/LP-fail-fast-lane-cancel.md
  docs/qa/scenarios/LP-fanout-progress-naming.md
  docs/qa/scenarios/LP-per-lane-node-control.md
  docs/qa/scenarios/LP-request-expiry.md
  docs/qa/scenarios/LP-review-edit-execute.md
  docs/qa/scenarios/LP-run-detail-story-redesign.md
  docs/qa/scenarios/LP-time-travel-diff.md
  docs/qa/scenarios/LP-time-travel-fork.md
  docs/qa/scenarios/LP-time-travel-rerun.md
  docs/qa/scenarios/LP-web-amend-rerun-dialogs.md
  docs/qa/scenarios/LP-web-bell-loop-requests.md
  docs/qa/scenarios/LP-web-editor-chrome-rails.md
  docs/qa/scenarios/LP-web-editor-node-menu-selection.md
  docs/qa/scenarios/LP-web-editor-quick-add.md
  docs/qa/scenarios/LP-web-editor-route-ask.md
  docs/qa/scenarios/LP-web-fork-dialog.md
  docs/qa/scenarios/LP-web-request-answer-card.md
  docs/qa/scenarios/LP-web-run-diff-view.md
  docs/qa/scenarios/LP-web-strategy-progress.md
  docs/qa/scenarios/LP-web-timeline-graph-rows.md
  docs/qa/scenarios/LP-wide-fanout-window.md
Due: none

fix: preserve update contract after rebase
  internal/api/core/interfaces.go
Due: format-go

fix: ci fixes
  CHANGELOG.md
  RELEASE_BODY.md
  RELEASE_NOTES.md
  internal/store/globaldb/global_db_test.go
  internal/store/migrate_streams_test.go
Due: format-go

refactor: satisfy strict branch lint
  internal/api/spec/loops_timetravel.go
  internal/cli/client_loop_input_defaults.go
  internal/cli/config_test.go
  internal/cli/loop_input_prompt.go
  internal/cli/loop_test.go
  internal/cli/mcp_install_output.go
  internal/cli/memory_query_output.go
  internal/cli/output_labels.go
  internal/config/bootstrap.go
  internal/loop/action_schema.go
  internal/loop/action_types.go
  internal/loop/input_response_validation.go
  internal/loop/linter_entity_schemas.go
  internal/loop/service_fork_prepare.go
  internal/loop/service_timetravel.go
  internal/tools/dispatch_test.go
Due: format-go

fix: preserve composed request schemas in snapshots
  docs/qa/bugs/BUG-20260819-composed-request-snapshot-rejected.md
  docs/qa/reports/2026-08-19-typed-loop-inputs-remediation.md
  internal/loop/coordinator_snapshot_test.go
  internal/loop/linter_references.go
Due: format-go

test: record typed Loop remediation QA
  docs/qa/bugs/BUG-20260819-composed-request-snapshot-rejected.md
  docs/qa/bugs/BUG-20260819-empty-runtime-default-rejected.md
  docs/qa/reports/2026-08-19-typed-loop-inputs-remediation.md
  docs/qa/scenarios/LP-answer-typed-request-entities.md
  docs/qa/scenarios/LP-loop-input-defaults.md
  docs/qa/scenarios/LP-runtime-validation-preflight.md
  docs/qa/scenarios/LP-select-typed-loop-entities.md
Due: none

docs: record typed Loop input QA fixes
  docs/qa/bugs/BUG-20260729-tool-invoke-structural-redaction.md
  docs/qa/bugs/BUG-20260818-loop-input-object-get.md
  docs/qa/bugs/BUG-20260818-nested-entity-picker-missing.md
  docs/qa/bugs/BUG-20260818-runtime-input-split-controls.md
  docs/qa/reports/2026-08-18-typed-loop-inputs.md
  docs/qa/scenarios/LP-answer-typed-request-entities.md
  docs/qa/scenarios/LP-loop-input-defaults.md
  docs/qa/scenarios/LP-select-typed-loop-entities.md
Due: none

fix: preserve workspace in native Loop config writes
  internal/daemon/native_config_mutation_tools.go
  internal/daemon/native_tools_test.go
Due: format-go

fix: satisfy React compiler checks after rebase
  web/src/systems/loops/components/input/loop-typed-input-control.tsx
  web/src/systems/loops/hooks/use-loop-input-catalogs.ts
Due: turbo-lint

chore(mise): pin Go 1.26.6 (#433)
  mise.toml
Due: none

fix: website font style
  .github/workflows/compozy-pr-release.yml
  .repoclone.rc
  DESIGN.md
  docs/qa/scenarios/LP-web-detail-inventory-contract.md
  docs/qa/scenarios/LP-web-run-page-section-grammar.md
  kodus-config.yml
  magefiles/codegen.go
  magefiles/defaults.go
  packages/site/app/global.css
  packages/site/app/styles/site-graphics.css
  packages/site/components/landing/final-cta.tsx
  packages/site/components/landing/memory-dream-section.tsx
  packages/site/components/landing/primitives/section-header.tsx
  packages/ui/src/lib/__tests__/utils.test.ts
  packages/ui/src/lib/font-size-classes.generated.ts
  packages/ui/src/lib/utils.ts
  scripts/sync-font-size-classes.mjs
  web/src/systems/loops/components/__tests__/loop-editor.test.tsx
  web/src/systems/loops/components/__tests__/loop-run-page.test.tsx
  web/src/systems/loops/components/detail/loop-body-dag.tsx
  web/src/systems/loops/components/editor/loop-editor-dsl-view.tsx
  web/src/systems/loops/components/editor/loop-editor-toolbar.tsx
  web/src/systems/loops/components/run-page/loop-run-page-body.tsx
  web/src/systems/loops/components/run-page/loop-run-subhead.tsx
  web/src/systems/loops/components/stories/loop-run-scenario-props.ts
  web/src/systems/loops/index.ts
  web/src/systems/loops/lib/__tests__/loop-run-about.test.ts
  web/src/systems/loops/lib/loop-run-about.ts
  web/src/systems/loops/lib/loop-run-page-view.ts
  web/src/systems/os/apps/loops/loop-run-detail-location.tsx
  web/src/systems/os/apps/loops/use-loop-run-page.ts
Due: turbo-lint, format-go

fix: make loop history references total
  docs/qa/scenarios/LP-history-safe-repair.md
  internal/loop/action_contract.go
  internal/loop/action_params.go
  internal/loop/action_types.go
  internal/loop/control_namespace.go
  internal/loop/control_namespace_history_test.go
  internal/loop/control_namespace_shape.go
  internal/loop/control_plan.go
  internal/loop/control_topology.go
  internal/loop/coordinator_action.go
  internal/loop/coordinator_generation.go
  internal/loop/coordinator_lifecycle.go
  internal/loop/coordinator_test.go
  internal/loop/dsl/refs/namespace.go
  internal/loop/dsl/refs/namespace_history.go
  internal/loop/dsl/refs/refs_test.go
  internal/loop/fanout_materialization.go
  internal/loop/linter_references.go
  internal/loop/linter_test.go
  internal/store/globaldb/global_db_task_claim_test.go
  internal/store/globaldb/global_db_task_coordinator_settlement.go
  packages/site/content/docs/loops/dsl-reference.mdx
  packages/site/content/docs/loops/reference-grammar.mdx
  scripts/sync-font-size-classes.mjs
  skills/compozy/references/loops.md
Due: format-go

feat: bind typed loop runtime inputs
  docs/qa/scenarios/LP-runtime-validation-preflight.md
  docs/qa/scenarios/LP-select-typed-loop-entities.md
  internal/loop/action_runagent.go
  internal/loop/action_test.go
  internal/loop/compiler.go
  internal/loop/compiler_test.go
  internal/loop/coordinator_metadata.go
  internal/loop/coordinator_output_validation.go
  internal/loop/goal/executor.go
  internal/loop/goal/executor_test.go
  internal/loop/input_validation.go
  internal/loop/linter_actions.go
  internal/loop/linter_goal.go
  internal/loop/linter_goal_references.go
  internal/loop/linter_reference_schemas.go
  internal/loop/linter_test.go
  internal/loop/runtime_input_binding.go
  internal/loop/runtime_item.go
  internal/loop/runtime_resolve.go
  internal/loop/runtime_resolve_test.go
  internal/loop/runtime_types.go
  internal/loop/runtime_validation.go
  internal/loop/runtime_validation_test.go
  packages/site/content/docs/loops/dsl-reference.mdx
  skills/compozy/references/loops.md
Due: format-go

fix: execute loop fan out filters
  docs/qa/scenarios/LP-fan-out-filtering.md
  internal/loop/compiler.go
  internal/loop/compiler_test.go
  internal/loop/control_plan.go
  internal/loop/coordinator_control_test.go
  internal/loop/fanout_materialization.go
  internal/loop/linter.go
  internal/loop/linter_references.go
  internal/loop/linter_test.go
  packages/site/content/docs/loops/dsl-reference.mdx
  skills/compozy/references/loops.md
Due: format-go

fix: enforce loop worker output ownership
  docs/qa/journeys/J-08-watch-and-maintain.md
  docs/qa/reports/2026-08-13-run-loop-await-child.md
  docs/qa/scenarios/LP-run-agent-output-ownership.md
  internal/daemon/daemon_review_and_fix_e2e_integration_test.go
  internal/daemon/loop_action_policy.go
  internal/daemon/loop_action_runtime.go
  internal/daemon/loop_managed_binding_profile.go
  internal/daemon/loop_runtime_adapters_test.go
  internal/daemon/task_runtime_test.go
  internal/loop/action.go
  internal/loop/action_internal_test.go
  internal/loop/action_result_validation.go
  internal/loop/action_runagent.go
  internal/loop/action_schema.go
  internal/loop/action_test.go
  internal/loop/action_types.go
  internal/loop/coordinator_action.go
  internal/loop/coordinator_action_metadata.go
  internal/loop/coordinator_lifecycle.go
  internal/loop/coordinator_metadata.go
  internal/loop/coordinator_output_validation.go
  internal/loop/coordinator_outputs.go
  internal/loop/coordinator_run_loop_output.go
  internal/loop/coordinator_test.go
  internal/session/manager_allowed_tools_test.go
  internal/session/manager_create_prepare.go
  internal/session/manager_denied_tools.go
  internal/session/manager_start_meta.go
  internal/session/manager_start_runtime.go
  internal/session/manager_start_types.go
  internal/session/manager_types.go
  internal/store/globaldb/global_db_goal_reentry_test.go
  internal/store/globaldb/global_db_task_claim_complete.go
  internal/store/globaldb/global_db_task_claim_test.go
  internal/store/globaldb/global_db_task_lease_mutations.go
  internal/task/lease_settlement_authority.go
  packages/site/content/docs/loops/dsl-reference.mdx
  skills/compozy/references/loops.md
  web/src/systems/loops/components/stories/loop-run-page-fixtures.ts
Due: turbo-lint, format-go

fix: drain terminal loop descendants
  docs/qa/charters/CH-loop-graph-runtime-safety.md
  docs/qa/reports/2026-08-19-loop-runtime-graph-fixes.md
  docs/qa/scenarios/LP-fan-out-filtering.md
  docs/qa/scenarios/LP-run-agent-output-ownership.md
  docs/qa/scenarios/LP-runtime-provenance-observation.md
  docs/qa/scenarios/LP-runtime-validation-preflight.md
  docs/qa/scenarios/LP-select-typed-loop-entities.md
  internal/store/globaldb/global_db_task_claim_test.go
  internal/store/globaldb/global_db_task_coordinator_failure.go
  internal/store/globaldb/global_db_task_coordinator_settlement.go
  internal/store/globaldb/global_db_task_event_tx_test.go
  internal/store/globaldb/global_db_task_lease_mutations.go
  internal/task/lease_manager_settlement.go
  internal/task/lease_settlement.go
Due: format-go

fix: address loop runtime review findings
  internal/api/contract/contract_test.go
  internal/daemon/loop_api_payloads_test.go
  internal/loop/control_join_runtime.go
  internal/loop/control_namespace_progress.go
  internal/loop/control_namespace_test.go
  internal/loop/control_plan.go
  internal/loop/control_readiness.go
  internal/loop/coordinator_control_test.go
  internal/loop/fanout_materialization.go
  internal/loop/fanout_window.go
  internal/loop/fanout_window_test.go
  internal/loop/input_validation.go
  internal/loop/runtime_validation_test.go
  internal/loop/service_test.go
  internal/store/globaldb/global_db_task_claim_test.go
  internal/store/globaldb/global_db_task_coordinator_settlement.go
  internal/store/globaldb/queries/task_coordinator.sql
  internal/store/globaldb/sqlcgen/task_coordinator.sql.go
  internal/task/lease_manager_settlement.go
Due: format-go

fix: review round
  internal/loop/fanout_materialization.go
  internal/loop/fanout_materialization_test.go
Due: format-go

docs: loop legibility design
  docs/design/opendesign/.od-skills/web-prototype-4ab6e4cb5f/open-design.json
  docs/design/opendesign/loop-legibility/.dispatch/prompts/01_brief-and-states.txt
  docs/design/opendesign/loop-legibility/.dispatch/prompts/02_production-surfaces.txt
  docs/design/opendesign/loop-legibility/.dispatch/prompts/03_design-grammar.txt
  docs/design/opendesign/loop-legibility/.dispatch/prompts/_mid_01_brief-and-states.txt
  docs/design/opendesign/loop-legibility/.dispatch/prompts/_mid_02_production-surfaces.txt
  docs/design/opendesign/loop-legibility/.dispatch/prompts/_mid_03_design-grammar.txt
  docs/design/opendesign/loop-legibility/.dispatch/prompts/_prefix.txt
  docs/design/opendesign/loop-legibility/.dispatch/prompts/_suffix.txt
  docs/design/opendesign/loop-legibility/DESIGN-NOTES.md
  docs/design/opendesign/loop-legibility/analysis/01_analysis_brief-and-states.md
  docs/design/opendesign/loop-legibility/analysis/02_analysis_production-surfaces.md
  docs/design/opendesign/loop-legibility/analysis/03_analysis_design-grammar.md
  docs/design/opendesign/loop-legibility/analysis/summary.md
  docs/design/opendesign/loop-legibility/index.html
  docs/design/opendesign/loop-legibility/index.html.artifact.json
  docs/design/opendesign/loop-legibility/loop-legibility-needs-you.html
  docs/design/opendesign/loop-legibility/loop-legibility-needs-you.html.artifact.json
  docs/design/opendesign/loop-legibility/loop-legibility-run-dag.html
  docs/design/opendesign/loop-legibility/loop-legibility-run-dag.html.artifact.json
  docs/design/opendesign/loop-legibility/loop-legibility-run-default.html
  docs/design/opendesign/loop-legibility/loop-legibility-run-default.html.artifact.json
  docs/design/opendesign/loop-legibility/loop-legibility-run-roster.html
  docs/design/opendesign/loop-legibility/loop-legibility-run-roster.html.artifact.json
  docs/design/opendesign/loop-legibility/loop-legibility-runs-roster.html
  docs/design/opendesign/loop-legibility/loop-legibility-runs-roster.html.artifact.json
  docs/design/opendesign/loop-legibility/loop-legibility-tasks-list.html
  docs/design/opendesign/loop-legibility/loop-legibility-tasks-list.html.artifact.json
  docs/design/opendesign/loop-legibility/loop-legibility.css
  docs/superpowers/plans/2026-08-13-config-path-error-message.md
  docs/superpowers/plans/2026-08-14-loop-effect-daemon-policy.md
  docs/superpowers/plans/2026-08-14-loop-terminal-effect-stream.md
  docs/superpowers/plans/2026-08-16-resource-only-extension-dev.md
  docs/superpowers/specs/2026-08-13-config-path-error-message-design.md
  docs/superpowers/specs/2026-08-13-run-loop-await-child-design.md
  docs/superpowers/specs/2026-08-14-loop-effect-daemon-policy-design.md
  docs/superpowers/specs/2026-08-14-loop-terminal-effect-stream-design.md
Due: none

fix: coalesce redundant ACP tool updates
  docs/qa/charters/CH-acp-tool-update-burst.md
  docs/qa/journeys/J-15-operate-session-via-cli-api.md
  docs/qa/reports/2026-08-20-acp-tool-update-burst.md
  docs/qa/scenarios/RT-acp-tool-update-burst.md
  docs/superpowers/plans/2026-08-20-acp-tool-call-overflow.md
  internal/acp/agent_process_prompt.go
  internal/acp/client_prompt_contract_test.go
  internal/acp/client_test_support_test.go
  internal/acp/handlers_test.go
  internal/acp/types_test.go
Due: format-go

fix: use candidate version in release dry-run
  .github/workflows/release.yml
  internal/config/release_config_test.go
Due: format-go

docs: add release notes
  .release-notes/a-finished-loop-leaves-nothing-running-1787249321.md
  .release-notes/a-guarded-history-reference-no-longer-crashes-generation-1-1787249318.md
  .release-notes/batuta-in-the-marketplace-1787249317.md
  .release-notes/correct-one-output-repair-one-lane-1787249314.md
  .release-notes/fan-out-filters-actually-filter-1787249320.md
  .release-notes/fan-out-settles-with-an-honest-count-1787249312.md
  .release-notes/loop-inputs-that-know-what-they-point-at-1787249315.md
  .release-notes/loops-can-stop-and-ask-you-a-question-1787249311.md
  .release-notes/loops-take-one-path-and-tell-you-why-1787249310.md
  .release-notes/runtime-speed-is-part-of-the-runtime-1787249316.md
  .release-notes/the-daemon-owns-a-managed-workers-outcome-1787249319.md
  .release-notes/time-travel-compare-rerun-and-fork-a-loop-run-1787249313.md
Due: none

docs: record normie ui qa outcome
  docs/qa/bugs/BUG-20260820-global-home-deleted-onboarding.md
  docs/qa/charters/CH-home-zero-inventory-first-start.md
  docs/qa/charters/CH-plain-scale-legibility.md
  docs/qa/journeys/J-operate-home-dashboard.md
  docs/qa/reports/2026-08-20-ui-normies-retry.md
  docs/qa/reports/2026-08-20-ui-normies.md
  docs/qa/scenarios/ET-web-catalog-navigation.md
  docs/qa/scenarios/ET-web-dock-default-window-size.md
  docs/qa/scenarios/ET-web-geist-wght-medium-510.md
  docs/qa/scenarios/ET-web-session-permission-dock.md
  docs/qa/scenarios/ET-web-session-transcript-calm-grammar.md
  docs/qa/scenarios/MS-web-settings-takeover-redesign.md
  docs/qa/scenarios/RT-home-dashboard-zones.md
  docs/qa/scenarios/RT-home-zero-inventory-first-run.md
  docs/qa/scenarios/RT-onboarding-setup-panel-over-shell.md
Due: none

build: update releasepr
  .github/workflows/release.yml
Due: none

fix: design adjustments
  DESIGN.md
  docs/qa/reports/2026-08-20-ui-normies-refine.md
  docs/qa/scenarios/ET-web-geist-wght-medium-510.md
  lint-plugins/__tests__/compozy-design-system.test.mjs
  lint-plugins/compozy-design-system-core-rules.mjs
  packages/ui/src/components/custom/__tests__/eyebrow.test.tsx
  packages/ui/src/components/custom/code-block.tsx
  packages/ui/src/components/custom/eyebrow.tsx
  packages/ui/src/components/custom/json-viewer.tsx
  packages/ui/src/components/custom/pill-group-variants.ts
  packages/ui/src/components/custom/pill-variants.ts
  packages/ui/src/components/custom/status-line.tsx
  packages/ui/src/components/custom/stories/eyebrow.stories.tsx
  packages/ui/src/lib/font-size-classes.generated.ts
  packages/ui/src/tokens-runtime.css
  packages/ui/src/tokens.css
  scripts/sync-design-md.mjs
Due: turbo-lint

fix: shadow adjustments
  web/src/systems/os/components/__tests__/os-window-frame.test.tsx
  web/src/systems/os/components/__tests__/os-window.test.tsx
  web/src/systems/os/components/os-window-frame.tsx
  web/src/systems/os/components/os-window.tsx
Due: turbo-lint

Path conditions:
  turbo-lint: any of: \.(js|jsx|ts|tsx)$, but not: (?x)^(
  CHANGELOG.md|
  tools/.*/package\.json|
  bun.lockb|
  node_modules|
)$

  format-go: any of: \.go$, but not: (?x)^(
  CHANGELOG.md|
  tools/.*/package\.json|
  bun.lockb|
  node_modules|
)$

