Repository compozy/compozy: changes, and which pre-commit hooks are due for each by the changed paths.
All: turbo-lint, format-go

turbo-lint:
  name: turbo lint
  description: Run linting via Turborepo
  entry: bun run lint
  language: system
  pass_filenames: false

format-go:
  name: format go
  description: Format Go files using make fmt
  entry: make fmt
  language: system
  pass_filenames: false

fix: align compaction code with scoped lint rules
  internal/acp/compaction.go
  internal/acp/handlers_session_discriminator.go
  internal/acp/handlers_test.go
  internal/transcript/transcript_security_markers_test.go
Due: format-go

fix: resolve compaction test lint diagnostics
  internal/acp/compaction.go
  internal/acp/handlers_test.go
Due: format-go

test: preserve legacy compaction tool projection
  internal/transcript/transcript_ui_projection_test.go
Due: format-go

test: format legacy compaction projection coverage
  internal/transcript/transcript_ui_projection_test.go
Due: format-go

build: pin published compaction SDK fork
  go.mod
  go.sum
Due: none

test: align retirement fixtures with active contracts
  internal/daemon/native_tools_test.go
  internal/daemon/window_manager_repository_test.go
Due: format-go

fix: keep ACP event values below lint size limit
  internal/acp/agent_event.go
  internal/acp/agent_event_tool.go
  internal/acp/handlers_test.go
  internal/api/core/conversions_acp_observations.go
  internal/api/core/conversions_goal_prompt.go
  internal/api/core/handler_edge_cases_test.go
  internal/session/manager_busy_input_test.go
  internal/session/manager_prompt_event_storage.go
  internal/transcript/agent_event_codec.go
  internal/transcript/redaction.go
  internal/transcript/transcript_codec_contract_test.go
  internal/transcript/ui_agent_event_payload.go
  internal/transcript/ui_input_messages.go
Due: format-go

refactor: drop memory from Home tiles, activity, automation, profiles, SOUL, and gateway copy
  web/src/systems/agent/lib/__tests__/agent-authored-file-source.test.ts
  web/src/systems/agent/lib/agent-authored-file-source.ts
  web/src/systems/automation/components/__tests__/automation-trigger-form.test.tsx
  web/src/systems/automation/components/__tests__/trigger-detail-panel.test.tsx
  web/src/systems/automation/components/trigger-detail/trigger-rule-card.tsx
  web/src/systems/automation/components/trigger-form/event-card.tsx
  web/src/systems/automation/components/trigger-form/event-catalog.tsx
  web/src/systems/automation/lib/__tests__/trigger-preview.test.ts
  web/src/systems/automation/lib/trigger-catalog.ts
  web/src/systems/automation/lib/trigger-sentence.ts
  web/src/systems/dashboard/__tests__/activity-classes.test.ts
  web/src/systems/dashboard/__tests__/use-home-dashboard.test.tsx
  web/src/systems/dashboard/components/stories/home-dashboard.stories.tsx
  web/src/systems/dashboard/lib/activity-classes.ts
  web/src/systems/dashboard/lib/home-system.ts
  web/src/systems/gateway/lib/gateway-copy.ts
  web/src/systems/profiles/components/__tests__/profile-lifecycle-dialogs.test.tsx
  web/src/systems/profiles/components/profile-delete-dialog.tsx
  web/src/systems/profiles/mocks/fixtures.ts
  web/src/systems/runtime/routes/home.stories.tsx
  web/src/systems/status/__tests__/types.test.ts
  web/src/systems/status/index.ts
  web/src/systems/status/mocks/fixtures.ts
  web/src/systems/status/types.ts
Due: turbo-lint

refactor: remove the session ledger client, memory tool icon, and context-meter threshold warning
  web/src/components/assistant-ui/__tests__/session-thread.test.tsx
  web/src/hooks/routes/__tests__/use-session-page-controls.test.tsx
  web/src/systems/os/apps/session/__tests__/use-session-window-controller.test.tsx
  web/src/systems/session/adapters/__tests__/session-api.test.ts
  web/src/systems/session/adapters/session-api.ts
  web/src/systems/session/adapters/session-history-api.ts
  web/src/systems/session/components/__tests__/session-inspector.test.tsx
  web/src/systems/session/components/__tests__/tool-call-card.test.tsx
  web/src/systems/session/components/session-context-control.tsx
  web/src/systems/session/components/session-context-meter-section.tsx
  web/src/systems/session/components/session-rewind-message-action.tsx
  web/src/systems/session/components/stories/session-context-control.stories.tsx
  web/src/systems/session/components/stories/tool-call-card.stories.tsx
  web/src/systems/session/hooks/__tests__/use-session-live-tail.test.tsx
  web/src/systems/session/hooks/__tests__/use-sessions.test.tsx
  web/src/systems/session/hooks/index.ts
  web/src/systems/session/hooks/use-sessions.ts
  web/src/systems/session/index.ts
  web/src/systems/session/lib/__tests__/tool-labels.test.ts
  web/src/systems/session/lib/query-keys.ts
  web/src/systems/session/lib/query-options.ts
  web/src/systems/session/lib/session-context-view.ts
  web/src/systems/session/lib/session-context.ts
  web/src/systems/session/lib/tool-labels.ts
  web/src/systems/session/mocks/context-fixtures.ts
  web/src/systems/session/types.ts
Due: turbo-lint

test: retarget web and desktop e2e off Knowledge and memory settings
  desktop/e2e/_electron/__tests__/shell.spec.ts
  web/e2e/__tests__/knowledge.spec.ts
  web/e2e/__tests__/os-shell.spec.ts
  web/e2e/__tests__/profiles.spec.ts
  web/e2e/__tests__/settings-hardening.spec.ts
  web/e2e/__tests__/settings.spec.ts
  web/e2e/fixtures/__tests__/browser-artifact-session.test.ts
  web/e2e/fixtures/artifacts.ts
  web/e2e/fixtures/browser-artifact-session.ts
  web/e2e/fixtures/runtime-helpers.ts
  web/e2e/fixtures/runtime.ts
  web/e2e/fixtures/scenario-contracts.ts
  web/e2e/fixtures/selectors.ts
Due: turbo-lint

refactor: remove ContextBox from @compozy/ui
  packages/ui/src/components/custom/__tests__/context-box.test.tsx
  packages/ui/src/components/custom/context-box.tsx
  packages/ui/src/components/custom/description-card.tsx
  packages/ui/src/components/custom/stories/context-box.stories.tsx
  packages/ui/src/exports/editors.ts
  packages/ui/src/lib/dialog-shell.ts
  packages/ui/src/tokens.css
Due: turbo-lint

docs: remove memory from the official skill and repo skills, document session compaction
  .agents/skills/cy-web-docs-impact/references/audit-triggers.md
  .agents/skills/eng/eng-qa-bootstrap/SKILL.md
  .agents/skills/eng/eng-qa-bootstrap/references/bootstrap-contract.md
  .agents/skills/eng/eng-qa-bootstrap/scripts/bootstrap-qa-env-smoke-test.py
  .agents/skills/eng/eng-qa-bootstrap/scripts/bootstrap-qa-env.py
  .agents/skills/eng/eng-real-scenario-qa/SKILL.md
  .agents/skills/eng/eng-real-scenario-qa/assets/operator-kickoff-template.md
  .agents/skills/eng/eng-real-scenario-qa/references/playbook-catalog.md
  .agents/skills/eng/eng-real-scenario-qa/references/playbook-schema.json
  .agents/skills/eng/eng-real-scenario-qa/references/playbooks/consumer-saas-growth.md
  .agents/skills/eng/eng-real-scenario-qa/references/playbooks/devtool-oss-launch.md
  .agents/skills/eng/eng-real-scenario-qa/references/playbooks/northstar-pay.md
  .agents/skills/eng/eng-real-scenario-qa/scripts/playbook_loader.py
  .agents/skills/eng/eng-real-scenario-qa/scripts/seed-playbook-workspace.py
  .agents/skills/eng/eng-real-scenario-qa/scripts/validate-playbook.py
  .agents/skills/eng/eng-schema-migration/SKILL.md
  .agents/skills/eng/eng-schema-migration/references/migration-decision.md
  .agents/skills/eng/eng-schema-migration/references/migration-template.md
  .agents/skills/eng/eng-schema-migration/references/migration-test-patterns.md
  internal/CLAUDE.md
  internal/cli/skill_daemon_test.go
  internal/daemon/native_tools_test.go
  skills/bundled_test.go
  skills/compozy/SKILL.md
  skills/compozy/references/agent-definitions.md
  skills/compozy/references/configuration.md
  skills/compozy/references/extension-authoring.md
  skills/compozy/references/loops.md
  skills/compozy/references/memory.md
  skills/compozy/references/native-tools.md
  skills/compozy/references/runtime-operations.md
Due: format-go

docs: drop memory from root docs and add the memory-removal guide and release note
  .goreleaser.release-header.md.tmpl
  .release-notes/retire-memory-and-session-compaction-1791433138.md
  COPY.md
  MIGRATION_GUIDE.md
  PRODUCT.md
  README.md
  docs/_memory/change-impact.md
  docs/_memory/glossary.md
  imgs/how-it-works-flow.png
  imgs/how-it-works-flow.svg
Due: none

docs: update live design boards and ecosystem docs for the memory removal
  docs/design/opendesign/design-system/command-palette.html
  docs/design/opendesign/design-system/dashboards.html
  docs/design/opendesign/design-system/modals.html
  docs/design/opendesign/design-system/os-shell.html
  docs/design/opendesign/design-system/profiles.html
  docs/design/opendesign/design-system/settings.html
  docs/design/opendesign/landing/BRIEF-IMAGENS-ANIMACOES.md
  docs/design/opendesign/landing/DESIGN-NOTES.md
  docs/design/opendesign/landing/landing-page.html
  docs/design/opendesign/session-context/DESIGN-NOTES.md
  docs/design/opendesign/session-context/index.html
  docs/design/opendesign/session-context/session-context-composer.html
  docs/design/opendesign/session-context/session-context-sidebar.html
  docs/design/opendesign/session-context/session-context.css
  docs/design/opendesign/shell-rail/shell-rail-v2.html
  docs/design/opendesign/shell-rail/shell-rail.html
  docs/gtm/ecosystem/README.md
  docs/gtm/ecosystem/extension-opportunities.md
Due: none

fix: drop retired knowledge route and memory tool from demo fixtures
  internal/demoseed/seed.go
  web/src/systems/tool-approvals/mocks/fixtures.ts
Due: turbo-lint, format-go

fix: preserve runtime boundaries after memory removal
  docs/_memory/change-impact.md
  docs/qa/scenarios/RT-upgrade-memory-removal-home.md
  internal/config/persistence_test.go
  internal/daemon/daemon_integration_test.go
  internal/observe/observer.go
  internal/observe/reconcile.go
  internal/observe/reconcile_test.go
  internal/session/recovery_catalog.go
Due: format-go

fix: preserve advisory spawn roles during session recovery
  docs/_memory/change-impact.md
  internal/observe/reconcile_test.go
  internal/session/recovery_catalog.go
  internal/tools/retired_memory_policy.go
Due: format-go

refactor: keep retired spawn roles with session recovery
  internal/session/recovery_catalog.go
  internal/tools/retired_memory_policy.go
Due: format-go

fix: complete native compaction runtime wiring
  internal/api/core/handlers_test.go
  internal/api/core/session_compact.go
  internal/api/httpapi/handlers_test.go
  internal/api/spec/registry_session_compact.go
  internal/api/testutil/session_stub.go
  internal/api/testutil/session_stub_runtime.go
  internal/api/udsapi/handlers_test.go
  internal/cli/cli_integration_test.go
  internal/cli/session_compact.go
  internal/cli/session_test.go
  internal/config/hooks.go
  internal/daemon/daemon_acpmock_helpers_integration_test.go
  internal/daemon/loop_goal_command_e2e_integration_test.go
  internal/daemon/loop_goal_context_runtime.go
  internal/daemon/loop_goal_executor_test.go
  internal/daemon/loop_goal_managed_runtime_integration_test.go
  internal/daemon/loop_goal_prompt_recovery.go
  internal/daemon/loop_managed_prompt.go
  internal/daemon/loop_managed_prompt_events.go
  internal/daemon/native_compaction_integration_test.go
  internal/daemon/native_session_compact.go
  internal/extension/manifest.go
  internal/extension/manifest_test.go
  internal/hooks/hooks_test.go
  internal/hooks/payloads_test.go
  internal/loop/goal/compaction.go
  internal/loop/goal/executor_test.go
  internal/loop/goal/recovery.go
  internal/session/manager_prompt_delivery.go
  internal/session/manager_prompt_event_storage.go
  internal/session/prompt_chunk_coalescer.go
  internal/store/globaldb/global_db_goal_turn_runtime_integration_test.go
  internal/transcript/agent_event_codec.go
  internal/transcript/projection_compaction.go
  internal/transcript/transcript_ui_projection_test.go
  packages/site/content/docs/cli/session/compact.mdx
  packages/site/content/docs/cli/session/index.mdx
  packages/site/content/docs/cli/session/meta.json
  sdk/typescript/src/index.ts
Due: turbo-lint, format-go

docs: automations design
  docs/design/opendesign/.od-skills/web-prototype-a781680fa2/SKILL.md
  docs/design/opendesign/.od-skills/web-prototype-a781680fa2/assets/template.html
  docs/design/opendesign/.od-skills/web-prototype-a781680fa2/example.html
  docs/design/opendesign/.od-skills/web-prototype-a781680fa2/open-design.json
  docs/design/opendesign/.od-skills/web-prototype-a781680fa2/references/checklist.md
  docs/design/opendesign/.od-skills/web-prototype-a781680fa2/references/layouts.md
  docs/design/opendesign/automations/DESIGN-NOTES.md
  docs/design/opendesign/automations/automations-detail.html
  docs/design/opendesign/automations/automations-detail.html.artifact.json
  docs/design/opendesign/automations/automations-editor.html
  docs/design/opendesign/automations/automations-editor.html.artifact.json
  docs/design/opendesign/automations/automations-list.html
  docs/design/opendesign/automations/automations-list.html.artifact.json
  docs/design/opendesign/automations/automations-surfaces.html
  docs/design/opendesign/automations/automations-surfaces.html.artifact.json
  docs/design/opendesign/automations/automations.css
  docs/design/opendesign/automations/automations.js
  docs/design/opendesign/automations/index.html
  docs/design/opendesign/automations/index.html.artifact.json
Due: turbo-lint

feat: add last_run and target to the automation list contract
  internal/api/contract/automation.go
  internal/api/spec/automation_values.go
  internal/api/spec/registry_automation.go
  openapi/compozy.json
  sdk/go/contracts/types_003_gen.go
  sdk/go/contracts/types_004_gen.go
  sdk/go/contracts/types_005_gen.go
  sdk/go/contracts/types_006_gen.go
  sdk/go/contracts/types_007_gen.go
  sdk/go/contracts/types_008_gen.go
  sdk/go/contracts/types_009_gen.go
  sdk/go/contracts/types_010_gen.go
  sdk/go/contracts/types_011_gen.go
  sdk/go/contracts/types_012_gen.go
  sdk/go/contracts/types_013_gen.go
  sdk/go/contracts/types_014_gen.go
  sdk/go/contracts/types_015_gen.go
  sdk/go/contracts/types_016_gen.go
  sdk/go/contracts/types_017_gen.go
  sdk/go/contracts/types_018_gen.go
  sdk/go/contracts/types_019_gen.go
  sdk/go/contracts/types_020_gen.go
  sdk/go/contracts/types_021_gen.go
  sdk/go/contracts/types_022_gen.go
  sdk/go/contracts/types_023_gen.go
  sdk/go/contracts/types_024_gen.go
  sdk/go/contracts/types_025_gen.go
  sdk/go/contracts/types_026_gen.go
  sdk/typescript/src/generated/contracts.ts
  web/src/generated/compozy-openapi.d.ts
Due: turbo-lint, format-go

docs: align QA scenarios with shipped compaction and retirement behavior
  docs/qa/charters/CH-crash-resume-compaction.md
  docs/qa/journeys/J-28-recover-context-and-budget.md
  docs/qa/scenarios/ET-cli-session-usage-context.md
  docs/qa/scenarios/ET-retired-product-surfaces-absent.md
  docs/qa/scenarios/ET-session-compact-now.md
  docs/qa/scenarios/ET-web-session-context-meter.md
  docs/qa/scenarios/GL-018.md
  docs/qa/scenarios/MS-workspace-checkpoint-continuity.md
  docs/qa/scenarios/RT-conversation-rewind.md
  docs/qa/scenarios/RT-inspect-schema-streams.md
  docs/qa/scenarios/RT-preserve-shared-schema-isolation.md
  docs/qa/scenarios/RT-pressure-context-compaction.md
  docs/qa/scenarios/RT-refuse-cross-stream-legacy-marker.md
  docs/qa/scenarios/RT-session-compact-real-adapters.md
  docs/qa/scenarios/RT-upgrade-memory-removal-home.md
Due: none

docs: reconcile site docs, skill, and guides with shipped native compaction
  .release-notes/retire-memory-and-session-compaction-1791433138.md
  MIGRATION_GUIDE.md
  docs/_memory/change-impact.md
  packages/site/content/docs/agents/soul.mdx
  packages/site/content/docs/configuration/config-toml.mdx
  packages/site/content/docs/configuration/file-locations.mdx
  packages/site/content/docs/configuration/skill-md.mdx
  packages/site/content/docs/extensions/manifest.mdx
  packages/site/content/docs/extensions/permissions.mdx
  packages/site/content/docs/hooks/declaration.mdx
  packages/site/content/docs/hooks/event-catalog.mdx
  packages/site/content/docs/loops/goal-node.mdx
  packages/site/content/docs/loops/goals.mdx
  packages/site/content/docs/migration/index.mdx
  packages/site/content/docs/operations/database.mdx
  packages/site/content/docs/operations/troubleshooting.mdx
  packages/site/content/docs/sessions/compaction.mdx
  packages/site/content/docs/sessions/control-plane.mdx
  packages/site/content/docs/sessions/events.mdx
  packages/site/content/docs/sessions/index.mdx
  packages/site/content/docs/sessions/lifecycle.mdx
  packages/site/content/docs/sessions/resume.mdx
  packages/site/content/docs/tools/policy-and-invocation.mdx
  packages/site/content/docs/tools/toolsets.mdx
  packages/site/content/docs/workspaces/config-overlays.mdx
  packages/site/content/docs/workspaces/resolver.mdx
  packages/site/content/docs/workspaces/window-management.mdx
  skills/compozy/references/agent-definitions.md
  skills/compozy/references/configuration.md
  skills/compozy/references/loops.md
  skills/compozy/references/native-tools.md
  skills/compozy/references/runtime-operations.md
  skills/compozy/references/window-management.md
Due: none

docs: document the compaction request event and tighten shipped-behavior statements
  MIGRATION_GUIDE.md
  docs/_memory/change-impact.md
  packages/site/content/docs/migration/index.mdx
  packages/site/content/docs/sessions/compaction.mdx
  packages/site/content/docs/sessions/events.mdx
  packages/site/lib/__tests__/runtime-docs-truth.test.ts
  skills/compozy/references/runtime-operations.md
Due: turbo-lint

feat: migrate retired automation app identities
  internal/api/core/cmd_palette.go
  internal/api/core/cmd_palette_personalization.go
  internal/api/core/cmd_palette_retired.go
  internal/api/core/cmd_palette_test.go
  internal/api/core/cmd_palette_view_sessions.go
  internal/api/core/cmd_palette_views.go
  internal/api/core/handlers_internal_test.go
  internal/cli/window_manager_test.go
  internal/cli/window_manager_window.go
  internal/cmdpalette/corecmds/apps.go
  internal/cmdpalette/corecmds/constants.go
  internal/cmdpalette/corecmds/domains.go
  internal/cmdpalette/corecmds/provider_test.go
  internal/cmdpalette/corecmds/settings.go
  internal/cmdpalette/corecmds/views.go
  internal/daemon/boot_resource_graph.go
  internal/daemon/window_manager_boot.go
  internal/daemon/window_manager_deprecation.go
  internal/daemon/window_manager_repository.go
  internal/daemon/window_manager_repository_test.go
  internal/daemon/window_manager_snapshot_migration.go
  internal/store/globaldb/global_db_test.go
  internal/store/globaldb/schema/migrations/00130_automations_palette.sql
  internal/store/globaldb/schema/migrations/atlas.sum
  internal/windowmanager/commands.go
  internal/windowmanager/options.go
  internal/windowmanager/resource_codec.go
  internal/windowmanager/resource_codec_test.go
  internal/windowmanager/retired_app_input.go
  internal/windowmanager/service.go
  internal/windowmanager/service_contract_test.go
  internal/windowmanager/service_layout.go
  internal/windowmanager/service_test.go
  internal/windowmanager/snapshot_v3.go
  internal/windowmanager/snapshot_v3_test.go
  internal/windowmanager/snapshot_v4.go
  internal/windowmanager/testdata/retired_app_routes.json
  internal/windowmanager/types.go
Due: format-go

test: cover the automations listing model, rows and redirects
  web/.storybook/preview.ts
  web/src/routes/_app/__tests__/-legacy-automation-redirect.test.ts
  web/src/routes/_app/__tests__/-route-preloading.integration.test.tsx
  web/src/storybook/__tests__/web-storybook-config.test.tsx
  web/src/systems/automation/adapters/__tests__/automation-api.test.ts
  web/src/systems/automation/components/__tests__/automation-listing.test.tsx
  web/src/systems/automation/lib/__tests__/automation-formatters.test.ts
  web/src/systems/automation/lib/__tests__/automation-list-filters.test.ts
  web/src/systems/automation/lib/__tests__/automation-route-search.test.ts
  web/src/systems/automation/lib/__tests__/automation-sentence.test.ts
  web/src/systems/automation/lib/__tests__/query-keys.test.ts
  web/src/systems/automation/lib/__tests__/query-options.test.ts
  web/src/systems/automation/mocks/handlers.ts
  web/src/systems/automation/mocks/index.ts
  web/src/systems/automation/mocks/story-fixtures.ts
  web/src/systems/os/apps/automation/__tests__/use-automations-page.test.tsx
  web/src/systems/os/components/__tests__/os-dock.test.tsx
  web/src/systems/os/lib/__tests__/app-registry.test.ts
  web/src/systems/os/lib/__tests__/os-palette-domain-search.test.ts
Due: turbo-lint

feat: add palette commands that open the automations editor
  internal/cmdpalette/corecmds/automations.go
  internal/cmdpalette/corecmds/provider.go
  internal/cmdpalette/corecmds/provider_test.go
Due: format-go

feat: merge automations into the palette, settings and loop surfaces
  web/e2e/__tests__/loops.spec.ts
  web/src/routes/_app/settings/-automation-settings-page.tsx
  web/src/routes/_app/settings/__tests__/-automation-settings-page.test.tsx
  web/src/systems/automation/components/automation-row-parts.tsx
  web/src/systems/automation/index.ts
  web/src/systems/automation/lib/automation-start-icon.ts
  web/src/systems/loops/components/__tests__/loop-detail.test.tsx
  web/src/systems/loops/components/__tests__/loop-start-bindings-panel.test.tsx
  web/src/systems/loops/components/detail/loop-detail.tsx
  web/src/systems/loops/components/detail/loop-start-bindings-panel.tsx
  web/src/systems/loops/components/stories/loop-detail.stories.tsx
  web/src/systems/loops/index.ts
  web/src/systems/loops/lib/loop-bindings.ts
  web/src/systems/os/apps/loops/__tests__/use-loop-detail.test.tsx
  web/src/systems/os/apps/loops/loop-detail-location.tsx
  web/src/systems/os/apps/loops/use-loop-detail.ts
  web/src/systems/os/components/__tests__/os-dock.test.tsx
  web/src/systems/os/components/os-palette-domain-row.tsx
  web/src/systems/os/components/os-palette-domain-sections.tsx
  web/src/systems/os/hooks/__tests__/use-os-palette-root.test.tsx
  web/src/systems/os/hooks/use-os-palette-entity-sections.ts
  web/src/systems/os/lib/__tests__/os-palette-domain-search.test.ts
  web/src/systems/os/lib/os-palette-domain-search.ts
Due: turbo-lint

feat: add automations route stories and create deep links
  web/src/storybook/app-route-stories.ts
  web/src/systems/automation/routes/automation-detail.stories.tsx
  web/src/systems/automation/routes/automations.stories.tsx
  web/src/systems/automation/routes/jobs.stories.tsx
  web/src/systems/os/apps/automation/__tests__/use-automations-page.test.tsx
  web/src/systems/os/apps/automation/automation-create-seed-store.ts
  web/src/systems/os/apps/automation/use-automation-page-base.ts
  web/src/systems/os/apps/automation/use-automations-page.ts
  web/src/systems/os/apps/automations/automations-catalog-location.tsx
Due: turbo-lint

Path conditions:
  turbo-lint: any of: \.(js|jsx|ts|tsx)$, but not: (?x)^(
  CHANGELOG.md|
  tools/.*/package\.json|
  bun.lockb|
  node_modules|
)$

  format-go: any of: \.go$, but not: (?x)^(
  CHANGELOG.md|
  tools/.*/package\.json|
  bun.lockb|
  node_modules|
)$

