Repository compozy/compozy: changes, and which pre-commit hooks are due for each by the changed paths.
All: turbo-lint, format-go

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit

default_stages:
  - pre-commit

exclude: |
  (?x)^(
    CHANGELOG.md|
    tools/.*/package\.json|
    bun.lockb|
    node_modules|
  )$

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      # - id: trailing-whitespace
      #   args:
      #     - --no-utf8-locale
      - id: end-of-file-fixer
        exclude: '^(CHANGELOG\.md|tools/.*/package\.json|bun\.lockb|node_modules/)'
      - id: check-json
        exclude: '^(tools/.*/package\.json|node_modules/)'
      - id: check-toml
      - id: check-added-large-files
        args:
          - --maxkb=3000
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: detect-private-key
  - repo: local
    hooks:
      - id: turbo-lint
        name: turbo lint
        description: Run linting via Turborepo
        entry: bun run lint
        language: system
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false
      # - id: turbo-type-check
      #   name: turbo type check
      #   description: Run TypeScript checking via Turborepo
      #   entry: bun run type-check
      #   language: system
      #   files: \.(ts|tsx)$
      #   pass_filenames: false
      - id: format-go
        name: format go
        description: Format Go files using make fmt
        entry: make fmt
        language: system
        files: \.go$
        pass_filenames: false
  - repo: https://github.com/lyz-code/yamlfix/
    rev: 1.17.0
    hooks:
      - id: yamlfix
        args:
          - -c
          - .yamlfix.toml
        exclude: ^cluster/.*$

docs: document skill sources and exposure
  internal/CLAUDE.md
  packages/site/content/docs/agents/definitions.mdx
  packages/site/content/docs/configuration/agent-md.mdx
  packages/site/content/docs/configuration/config-toml.mdx
  packages/site/content/docs/configuration/file-locations.mdx
  packages/site/content/docs/configuration/skill-md.mdx
  packages/site/content/docs/skills/index.mdx
  packages/site/content/docs/skills/meta.json
  packages/site/content/docs/skills/skill-md.mdx
  packages/site/content/docs/skills/sources.mdx
  skills/compozy/references/configuration.md
  skills/compozy/references/tools-and-skills.md
Due: none

fix: support profile skill source filters
  docs/qa/scenarios/ET-skill-origin-attribution.md
  internal/cli/skill_commands.go
  internal/cli/skill_daemon_test.go
  internal/cli/skill_test.go
  internal/cli/skill_workspace.go
  internal/cli/skill_workspace_metadata.go
  packages/site/content/docs/cli/skill/list.mdx
Due: format-go

feat: add transactional skill exposures
  internal/api/core/base_handlers.go
  internal/api/core/skills.go
  internal/api/httpapi/handlers.go
  internal/api/udsapi/server_handlers.go
  internal/daemon/daemon.go
  internal/daemon/daemon_test.go
  internal/daemon/native_tools_dependencies_builder.go
  internal/events/names.go
  internal/events/registry_base.go
  internal/skills/expose_cleanup.go
  internal/skills/expose_events.go
  internal/skills/expose_lifecycle.go
  internal/skills/expose_manager.go
  internal/skills/expose_operation.go
  internal/skills/expose_path.go
  internal/skills/expose_reconcile.go
  internal/skills/expose_test.go
  internal/skills/expose_types.go
  internal/skills/expose_unexpose.go
  internal/skills/marketplace/service.go
  internal/skills/marketplace/service_lifecycle.go
  internal/skills/marketplace/service_test.go
  internal/skills/registry_integration_test.go
  internal/store/globaldb/global_db_skill_exposure.go
  internal/store/globaldb/global_db_skill_exposure_test.go
  internal/store/globaldb/global_db_type.go
  internal/store/globaldb/queries/skill_exposures.sql
  internal/store/globaldb/repositories.go
  internal/store/globaldb/schema/definitions/45_skill_exposures.sql
  internal/store/globaldb/schema/definitions/99_workspace_scope_integrity.sql
  internal/store/globaldb/schema/migrations/00090_schema.sql
  internal/store/globaldb/schema/migrations/atlas.sum
  internal/store/globaldb/skill_exposure_sqlc_mapping.go
  internal/store/globaldb/sqlcgen/models.go
  internal/store/globaldb/sqlcgen/skill_exposures.sql.go
  internal/store/skill_exposure.go
Due: format-go

fix: preserve global profile resource loading
  .agents/skills/eng/eng-real-scenario-qa/scripts/observe-runtime.py
  .agents/skills/eng/eng-real-scenario-qa/scripts/test_observe_runtime.py
  internal/daemon/daemon_extension_agent_fixture_e2e_integration_test.go
  internal/workspace/resolver_config_behavior_test.go
  internal/workspace/scanner.go
Due: format-go

fix: accept the registered workspace id on skill detail and expose routes
  docs/qa/bugs/BUG-20260825-skill-detail-rejects-workspace-id.md
  internal/api/core/skill_exposures.go
  internal/api/core/skills_test.go
Due: format-go

fix: accept skill source overrides at exact-profile scope
  docs/qa/bugs/BUG-20260825-skill-source-profile-write-rejected.md
  internal/api/core/settings_skill_sources_request.go
  internal/api/core/settings_test.go
Due: format-go

fix: report untouched exposure targets accurately
  docs/qa/journeys/J-share-skills-with-other-tools.md
  internal/api/core/skill_exposures.go
  internal/api/core/skills_test.go
  internal/cli/root_skill_exposure_errors.go
  internal/cli/skill_daemon_test.go
  internal/skills/expose_operation.go
  internal/skills/expose_test.go
  internal/skills/expose_types.go
  packages/site/content/docs/skills/sources.mdx
  web/src/systems/skill/components/__tests__/skill-expose-panel.test.tsx
  web/src/systems/skill/hooks/__tests__/use-skill-actions.test.tsx
  web/src/systems/skill/lib/__tests__/query-options.test.ts
  web/src/systems/skill/lib/skill-exposure-view.ts
Due: turbo-lint, format-go

fix: record every effective skill source root in apply events
  docs/qa/bugs/BUG-20260825-skill-source-event-omits-custom-roots.md
  internal/settings/skill_diagnostics_test.go
  internal/settings/skill_source_event_context.go
  internal/skills/registry_test.go
  internal/skills/source_events.go
Due: format-go

fix: close skill source QA regressions
  internal/settings/section_skill_sources.go
  internal/settings/skill_diagnostics_test.go
  internal/skills/registry_roots_test.go
  internal/skills/registry_workspace_cache.go
  web/e2e/__tests__/marketplace.spec.ts
  web/e2e/__tests__/skill-sources.spec.ts
  web/src/components/assistant-ui/session-composer-command-menu.tsx
  web/src/systems/skill/components/skill-expose-target-picker.tsx
Due: turbo-lint, format-go

fix: project skills by registered workspace id
  internal/skills/registry_resource_projection.go
  internal/skills/resource_test.go
Due: format-go

docs: correct the agent write policy for skill source keys
  docs/qa/automation-backlog/official-skill-doc-runtime-agreement.md
  docs/qa/bugs/BUG-20260825-skill-source-agent-write-doc-mismatch.md
  internal/config/tool_surface_test.go
  skills/compozy/references/configuration.md
  skills/compozy/references/tools-and-skills.md
Due: format-go

fix: reject non-source skill fields at workspace scope
  docs/qa/bugs/BUG-20260825-workspace-skills-non-source-field-written.md
  internal/cli/config_test.go
  internal/config/persistence_test.go
  internal/config/write_scope_policy.go
Due: format-go

build: update deps
  bun.lock
  package.json
  web/package.json
Due: none

fix: preserve contracts after main rebase
  desktop/e2e/_electron/__tests__/updates.spec.ts
  docs/qa/charters/CH-session-skill-catalog-budget.md
  docs/qa/journeys/J-use-absorbed-skills-in-a-session.md
  docs/qa/reports/2026-08-26-main-rebase-regressions.md
  docs/qa/scenarios/ET-managed-session-skill-loading.md
  docs/qa/scenarios/ET-session-skill-catalog-budget.md
  internal/acp/prompt_stream_terminal.go
  internal/api/contract/session_runtime_payloads.go
  internal/api/core/conversions_session_events.go
  internal/api/core/prompt_stream.go
  internal/api/core/prompt_stream_emit.go
  internal/api/core/prompt_stream_test.go
  internal/cli/client_session_prompt.go
  internal/daemon/boot.go
  internal/daemon/prompt_skills.go
  internal/skills/catalog.go
  internal/skills/catalog_test.go
  internal/store/failure.go
  internal/store/memv2_helpers_test.go
  openapi/compozy.json
  skills/compozy/references/runtime-operations.md
  web/src/generated/compozy-openapi.d.ts
Due: turbo-lint, format-go

build: lint performance
  .claude/settings.json
  .codex/hooks.json
  .cursor/hooks.json
  magefiles/deps_fmt_lane.go
  magefiles/deps_lint.go
  magefiles/deps_lint_config.go
  magefiles/deps_lint_test.go
  scripts/gate.sh
  scripts/hooks/go-edit-lint.sh
Due: format-go

feat: merge spec-cycle task delivery loops
  .compozy/loops/implement-tasks/loop.yaml
  extensions/spec-cycle/agents/orchestrator/AGENT.md
  extensions/spec-cycle/embed_test.go
  extensions/spec-cycle/extension.json
  extensions/spec-cycle/loops/implement-tasks/loop.yaml
  extensions/spec-cycle/loops/orchestrate-tasks/loop.yaml
  extensions/spec-cycle/skills/cy-orchestrate-tasks/SKILL.md
  internal/api/contract/agents.go
  internal/api/core/agent_spawn.go
  internal/api/core/agent_spawn_test.go
  internal/cli/agent_kernel_test.go
  internal/cli/spawn.go
  internal/daemon/daemon_implement_tasks_e2e_integration_test.go
  internal/daemon/loop_resources_integration_test.go
  internal/daemon/native_tool_session_orchestration.go
  internal/daemon/native_tool_session_orchestration_input.go
  internal/daemon/native_tools_test.go
  internal/testutil/acpmock/cmd/acpmock-driver/main_test.go
  internal/testutil/acpmock/cmd/acpmock-driver/sandbox.go
  internal/testutil/acpmock/testdata/implement_tasks_fixture.json
  internal/tools/builtin/sessions_orchestration.go
  internal/tools/builtin/testdata/native-tool-catalog.json
  openapi/compozy.json
  web/src/generated/compozy-openapi.d.ts
  web/src/systems/loops/adapters/__tests__/loops-api.test.ts
  web/src/systems/loops/components/__tests__/loop-detail.test.tsx
  web/src/systems/loops/components/__tests__/loop-run-form.test.tsx
  web/src/systems/loops/hooks/__tests__/use-loops.test.tsx
  web/src/systems/loops/lib/__tests__/loop-catalog.test.ts
  web/src/systems/loops/mocks/fixture-graphs.ts
  web/src/systems/loops/mocks/fixture-implement-tasks.ts
  web/src/systems/loops/mocks/fixture-orchestrate-tasks.ts
  web/src/systems/loops/mocks/fixture-run-details.ts
  web/src/systems/loops/mocks/fixtures.ts
Due: turbo-lint, format-go

test: update task delivery qa coverage
  docs/qa/charters/CH-implement-tasks-docs-truth.md
  docs/qa/charters/CH-implement-tasks-dry-run.md
  docs/qa/charters/CH-implement-tasks-first-run.md
  docs/qa/charters/CH-implement-tasks-orchestrated-mode.md
  docs/qa/charters/CH-orchestrate-tasks-delegation.md
  docs/qa/charters/CH-spec-cycle-public-inventory.md
  docs/qa/charters/CH-spec-cycle-three-loop-lifecycle.md
  docs/qa/journeys/J-01-arrive-and-use-run.md
  docs/qa/journeys/J-02-dry-run-preview.md
  docs/qa/journeys/J-offer-runnable-capabilities.md
  docs/qa/personas.md
  docs/qa/reports/2026-08-26-built-in-loops.md
  docs/qa/scenarios/ET-052.md
  docs/qa/scenarios/ET-site-docs-examples-wave-one.md
  docs/qa/scenarios/ET-site-marketplace-bridges-bundled.md
  docs/qa/scenarios/LP-001.md
  docs/qa/scenarios/LP-002.md
  docs/qa/scenarios/LP-003.md
  docs/qa/scenarios/LP-006.md
  docs/qa/scenarios/LP-007.md
  docs/qa/scenarios/LP-045.md
  docs/qa/scenarios/LP-implement-tasks-orchestrated-mode.md
  docs/qa/scenarios/LP-orchestrate-tasks-delegation.md
  docs/qa/scenarios/TA-080.md
Due: none

fix: address task delivery review findings
  .compozy/loops/implement-tasks/loop.yaml
  extensions/spec-cycle/embed_test.go
  extensions/spec-cycle/loops/implement-tasks/loop.yaml
  internal/api/core/agent_spawn.go
  internal/api/core/agent_spawn_test.go
  internal/cli/spawn.go
  internal/daemon/daemon_implement_tasks_e2e_integration_test.go
  internal/testutil/acpmock/cmd/acpmock-driver/main_test.go
  packages/site/content/docs/examples/implement-tasks-loop.mdx
Due: format-go

fix: enforce goal output status contracts
  internal/demoseed/loops/incident-postmortem/loop.yaml
  internal/loop/action_internal_test.go
  internal/loop/action_runagent.go
  internal/loop/action_schema.go
  internal/loop/goal/executor_test.go
  internal/loop/goal/recovery.go
  internal/loop/goal/templates.go
  internal/loop/goal/turns.go
  internal/loop/linter_goal.go
  internal/loop/linter_test.go
  internal/loop/types.go
Due: format-go

docs: document merged task delivery modes
  .release-notes/merge-implement-tasks-loop.md
  packages/site/content/docs/agents/spawning.mdx
  packages/site/content/docs/cli/spawn.mdx
  packages/site/content/docs/configuration/config-toml.mdx
  packages/site/content/docs/examples/implement-tasks-loop.mdx
  packages/site/content/docs/examples/index.mdx
  packages/site/content/docs/examples/meta.json
  packages/site/content/docs/examples/orchestrate-tasks-loop.mdx
  packages/site/content/docs/loops/catalog.mdx
  packages/site/content/docs/loops/index.mdx
  packages/site/content/docs/sessions/orchestration.mdx
  packages/site/lib/__tests__/runtime-docs-truth.test.ts
  skills/compozy/references/loops.md
  skills/compozy/references/native-tools.md
  skills/compozy/references/runtime-operations.md
Due: turbo-lint

fix: qa
  docs/qa/bugs/BUG-20260826-optional-runtime-run-fails.md
  docs/qa/scenarios/LP-implement-tasks-orchestrated-mode.md
  packages/site/CLAUDE.md
Due: none

docs: finalize Loop issue QA evidence
  docs/qa/bugs/BUG-20260826-halt-rerun-busy.md
  docs/qa/reports/2026-08-26-loop-issues-fixes.md
  docs/qa/scenarios/LP-006.md
  docs/qa/scenarios/LP-007.md
  docs/qa/scenarios/LP-effective-config-provenance.md
  docs/qa/scenarios/LP-halt-on-node-failure.md
  docs/qa/scenarios/LP-invalid-snapshot-boot-isolation.md
  docs/qa/scenarios/LP-terminal-completion-time.md
  packages/site/content/docs/loops/guardrails.mdx
  packages/site/content/docs/loops/running.mdx
Due: none

fix: co-ship Loop mock contracts
  docs/qa/reports/2026-08-26-loop-issues-fixes.md
  web/src/systems/loops/mocks/fixture-graph-eng-runs.ts
  web/src/systems/loops/mocks/fixture-run-details.ts
  web/src/systems/loops/mocks/fixtures-config.ts
  web/src/systems/loops/mocks/handlers.ts
Due: turbo-lint

fix: address Loop CI and binding rotation
  internal/cli/format.go
  internal/cli/loop_inspect_output.go
  internal/cli/loop_runs_output.go
  internal/cli/onboarding.go
  internal/cli/provider_models.go
  internal/cli/scheduler.go
  internal/cli/support.go
  internal/daemon/loop_managed_binding_projection.go
  internal/daemon/scheduler_runtime_test.go
  internal/loop/coordinator_generation_succession.go
  internal/loop/goal/types_binding.go
  internal/loop/run_active_human_criteria.go
  internal/loop/run_history_import_clone.go
  internal/loop/run_network_state.go
  internal/loop/service_types.go
  internal/store/globaldb/global_db_goal_binding_allocate.go
  internal/store/globaldb/global_db_goal_binding_integration_test.go
  internal/store/globaldb/global_db_loop_inline_integration_test.go
  internal/tools/builtin/builtin_test.go
Due: format-go

build: improve hooks
  .claude/settings.json
  .codex/hooks.json
  .cursor/hooks.json
  scripts/hooks/edit-lint.sh
  scripts/hooks/go-edit-lint.sh
  scripts/hooks/ts-edit-lint.sh
Due: none

test: fix failing tests
  extensions/spec-cycle/embed_test.go
  internal/testutil/acpmock/cmd/acpmock-driver/main_test.go
  web/src/systems/loops/components/__tests__/loop-catalog.test.tsx
  web/src/systems/loops/components/__tests__/loop-target-fields.test.tsx
Due: turbo-lint, format-go

fix: publish npm packages with trusted identity
  .github/actions/setup-node/action.yml
  .github/workflows/release.yml
  internal/config/release_config_test.go
Due: format-go

fix: publish npm packages with trusted identity (#495)
  .github/actions/setup-node/action.yml
  .github/workflows/release.yml
  internal/config/release_config_test.go
Due: format-go

fix: accept setup-node OIDC placeholder
  .github/workflows/release.yml
  internal/config/release_config_test.go
Due: format-go

fix: preserve web assets in release module
  magefiles/magefile_test.go
  magefiles/web_assets.go
  scripts/sync-emojibase.mjs
  web/public/assets/emojibase/en/data.json
  web/public/assets/emojibase/en/messages.json
  web/src/systems/profiles/lib/profile-identity.ts
Due: turbo-lint, format-go

build: prepare release v0.3.0 (#458)
  .release-notes/archive/v0.3.0/merge-implement-tasks-loop.md
  CHANGELOG.md
  RELEASE_BODY.md
  RELEASE_NOTES.md
  go.mod
  go.sum
Due: none
