Repository compozy/compozy: changes, and which pre-commit hooks are due for each by the changed paths.
All: turbo-lint, format-go

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit

default_stages:
  - pre-commit

exclude: |
  (?x)^(
    CHANGELOG.md|
    tools/.*/package\.json|
    bun.lockb|
    node_modules|
  )$

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      # - id: trailing-whitespace
      #   args:
      #     - --no-utf8-locale
      - id: end-of-file-fixer
        exclude: '^(CHANGELOG\.md|tools/.*/package\.json|bun\.lockb|node_modules/)'
      - id: check-json
        exclude: '^(tools/.*/package\.json|node_modules/)'
      - id: check-toml
      - id: check-added-large-files
        args:
          - --maxkb=3000
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: detect-private-key
  - repo: local
    hooks:
      - id: turbo-lint
        name: turbo lint
        description: Run linting via Turborepo
        entry: bun run lint
        language: system
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false
      # - id: turbo-type-check
      #   name: turbo type check
      #   description: Run TypeScript checking via Turborepo
      #   entry: bun run type-check
      #   language: system
      #   files: \.(ts|tsx)$
      #   pass_filenames: false
      - id: format-go
        name: format go
        description: Format Go files using make fmt
        entry: make fmt
        language: system
        files: \.go$
        pass_filenames: false
  - repo: https://github.com/lyz-code/yamlfix/
    rev: 1.17.0
    hooks:
      - id: yamlfix
        args:
          - -c
          - .yamlfix.toml
        exclude: ^cluster/.*$

fix: drain transcript frames before terminal close
  internal/api/core/session_stream_internal_test.go
  internal/extension/build_test.go
  web/e2e/__tests__/session-provider-override.spec.ts
  web/src/systems/session/hooks/__tests__/use-session-live-tail.test.tsx
  web/src/systems/session/hooks/session-live-tail-store-contract.ts
  web/src/systems/session/hooks/session-live-tail-store-effects.ts
  web/src/systems/session/hooks/session-live-tail-store.ts
Due: turbo-lint, format-go

fix: distinguish token limits from auth failures
  internal/daemon/loop_prompt_failure.go
  internal/daemon/loop_runtime_adapters_test.go
Due: format-go

fix: preserve settings for equivalent providers
  docs/qa/charters/CH-provider-switch-settings.md
  docs/qa/reports/2026-09-04-provider-switch-settings.md
  docs/qa/scenarios/RT-081.md
  internal/cli/agent_commands_test.go
  internal/cli/agent_mutate_requests.go
  packages/site/content/docs/agents/definitions.mdx
  skills/compozy/references/agent-definitions.md
Due: format-go

docs: mark loop QA verification blocked
  docs/qa/scenarios/LP-implement-tasks-orchestrated-mode.md
Due: none

fix: enforce review result pairings
  docs/qa/reports/2026-09-04-pr-543-review-findings.md
  extensions/spec-cycle/embed_test.go
  extensions/spec-cycle/loops/review-and-fix/loop.yaml
  packages/site/content/docs/examples/review-and-fix-loop.mdx
Due: format-go

test: restore interactive ConPTY hidden-input coverage
  internal/terminal/pty/pty_windows_test.go
Due: format-go

test: keep ConPTY fix in owning PR
  internal/terminal/pty/pty_windows_test.go
Due: format-go

fix: preserve provider-managed reasoning selection
  internal/config/provider_resolve.go
Due: format-go

test: align review fixer E2E fixture
  docs/qa/reports/2026-09-04-pr-543-review-findings.md
  internal/testutil/acpmock/testdata/review_and_fix_fixture.json
Due: none

fix: preserve transcript recovery on terminal close
  web/src/systems/session/hooks/__tests__/use-session-live-tail.test.tsx
  web/src/systems/session/hooks/session-live-tail-store-effects.ts
  web/src/systems/session/hooks/session-live-tail-store.ts
Due: turbo-lint

test: align review finalization E2E counts
  docs/qa/reports/2026-09-04-pr-543-review-findings.md
  internal/daemon/daemon_review_and_fix_e2e_integration_test.go
Due: format-go

test: preserve invalid review E2E artifact
  internal/daemon/daemon_review_and_fix_e2e_integration_test.go
Due: format-go

fix: preserve active transcript recovery state
  web/src/systems/session/hooks/__tests__/use-session-live-tail.test.tsx
  web/src/systems/session/hooks/session-live-tail-store.ts
Due: turbo-lint

fix: fence terminal generation outputs and stabilize e2e contracts (#547)
  internal/api/core/session_stream_internal_test.go
  internal/api/core/session_stream_transcript.go
  internal/cli/cli_integration_test.go
  internal/extension/build_test.go
  internal/extension/scaffold.go
  internal/loop/generation_output_write.go
  internal/loop/generation_snapshot.go
  internal/store/globaldb/global_db_task_claim_test.go
  internal/terminal/pty/pty_windows_test.go
  web/e2e/__tests__/session-provider-override.spec.ts
  web/e2e/__tests__/terminal-agent.spec.ts
  web/e2e/__tests__/terminal.spec.ts
  web/src/systems/session/hooks/__tests__/use-session-live-tail.test.tsx
  web/src/systems/session/hooks/session-live-tail-store-contract.ts
  web/src/systems/session/hooks/session-live-tail-store-effects.ts
  web/src/systems/session/hooks/session-live-tail-store.ts
Due: turbo-lint, format-go

fix: preserve ACP options in loop-managed session profiles (#542)
  docs/qa/scenarios/LP-implement-tasks-orchestrated-mode.md
  internal/daemon/loop_action_policy.go
  internal/daemon/loop_runtime_adapters_test.go
  internal/session/manager_runtime_precedence.go
Due: format-go

fix: preserve unresolved review findings (#543)
  docs/qa/journeys/J-08-watch-and-maintain.md
  docs/qa/reports/2026-09-04-pr-543-review-findings.md
  docs/qa/scenarios/LP-review-round-finalization.md
  extensions/spec-cycle/agents/review_fixer/AGENT.md
  extensions/spec-cycle/embed_test.go
  extensions/spec-cycle/loops/review-and-fix/loop.yaml
  extensions/spec-cycle/review_artifact_finalize.go
  extensions/spec-cycle/review_artifact_types.go
  extensions/spec-cycle/review_artifacts_test.go
  extensions/spec-cycle/skills/cy-fix-reviews/SKILL.md
  extensions/spec-cycle/skills/cy-review-round/references/issue-template.md
  internal/daemon/daemon_review_and_fix_e2e_integration_test.go
  internal/testutil/acpmock/testdata/review_and_fix_fixture.json
  packages/site/content/docs/examples/review-and-fix-loop.mdx
  skills/compozy/references/loops.md
Due: format-go

fix: mark skipped terminal loop nodes as not taken (#544)
  docs/qa/scenarios/LP-run-read-agent-journey.md
  internal/loop/control_plan_branch.go
  internal/loop/coordinator_control_test.go
  internal/loop/roster.go
  internal/loop/roster_test.go
Due: format-go

fix: sanitize runtime settings when changing providers (#546)
  docs/qa/charters/CH-provider-switch-settings.md
  docs/qa/reports/2026-09-04-provider-switch-settings.md
  docs/qa/scenarios/RT-081.md
  internal/cli/agent_commands_test.go
  internal/cli/agent_mutate_requests.go
  internal/config/provider_reasoning.go
  internal/config/provider_resolve.go
  internal/config/provider_test.go
  packages/site/content/docs/agents/definitions.mdx
  skills/compozy/references/agent-definitions.md
Due: format-go

fix: ship the AppImage with the static runtime (#548)
  .github/workflows/release.yml
  desktop/electron-builder.yml
  docs/qa/reports/2026-09-03-appimage-static-runtime.md
  docs/qa/scenarios/APP-appimage-fuseless-launch.md
  docs/qa/scenarios/APP-install-first-run-provision.md
  packages/site/content/docs/getting-started/installation.mdx
  packages/site/content/docs/operations/desktop-app.mdx
  scripts/smoke-desktop-release-artifact.sh
Due: none

fix: preserve provider failures before output validation (#545)
  docs/qa/scenarios/LP-action-failure-detail.md
  internal/daemon/loop_prompt_failure.go
  internal/daemon/loop_runtime_adapters.go
  internal/daemon/loop_runtime_adapters_test.go
  internal/loop/action_failure.go
Due: format-go

test: stabilize Windows PTY read readiness
  internal/terminal/pty/pty_windows_test.go
Due: format-go

test: drain Windows PTY startup output
  internal/terminal/pty/pty_windows_test.go
Due: format-go

fix: honor profile in operator tool catalog
  docs/qa/scenarios/ET-profile-scoped-operator-tool-catalog.md
  internal/api/core/tools.go
  internal/api/core/tools_profile_scope.go
  internal/api/core/tools_test.go
  internal/api/core/toolsets.go
  internal/api/spec/registry_tools.go
  internal/api/spec/registry_toolsets.go
  internal/api/spec/spec_test.go
  openapi/compozy.json
  web/src/generated/compozy-openapi.d.ts
Due: turbo-lint, format-go

fix: bind tool approvals to profiles
  docs/qa/charters/CH-extension-command-authority.md
  docs/qa/scenarios/ET-profile-workspace-tool-isolation.md
  internal/api/core/tools_test.go
  internal/api/spec/registry_tools.go
  internal/api/spec/registry_toolsets.go
  internal/api/spec/spec_test.go
  internal/tools/approval_token.go
  internal/tools/approval_token_test.go
  openapi/compozy.json
  web/src/generated/compozy-openapi.d.ts
Due: turbo-lint, format-go

docs: record profile tool isolation QA
  docs/qa/reports/2026-09-04-profile-workspace-tool-isolation.md
  docs/qa/scenarios/ET-profile-workspace-tool-isolation.md
Due: none

docs: codify tiered compatibility policy and refresh agent skills
  .agents/skills/cy-create-spec/references/spec-template.md
  .agents/skills/cy-final-verify/SKILL.md
  .agents/skills/cy-research-issues/references/issue-task-template.md
  .agents/skills/cy-research-issues/references/spec-lite-template.md
  .agents/skills/cy-spec-peer-review/references/peer-review-prompt.md
  .agents/skills/cy-spec-preflight/references/phase-lessons.md
  .agents/skills/deep-review/SKILL.md
  .agents/skills/deep-review/scripts/build_manifest.py
  .agents/skills/eng/eng-schema-migration/SKILL.md
  .agents/skills/eng/eng-schema-migration/references/migration-decision.md
  .agents/skills/eng/eng-schema-migration/references/migration-template.md
  .agents/skills/herdr-orchestration/SKILL.md
  .agents/skills/releasepr/SKILL.md
  .agents/skills/releasepr/references/published-release-repair.md
  .agents/skills/skill-doctor/SKILL.md
  .agents/skills/skill-doctor/assets/pierre-diffs.js
  .agents/skills/skill-doctor/assets/warp-pixel-icon.svg
  .agents/skills/skill-doctor/references/skill-improvements.md
  .agents/skills/skill-doctor/references/supported-harnesses.md
  .agents/skills/skill-doctor/scorers/code-quality.md
  .agents/skills/skill-doctor/scorers/efficiency.md
  .agents/skills/skill-doctor/scripts/collect_sessions.py
  .agents/skills/skill-doctor/scripts/render_report.py
  .agents/skills/skill-doctor/scripts/test_collect_sessions.py
  .agents/skills/skill-doctor/scripts/test_render_report.py
  .agents/skills/skill-doctor/scripts/warp_decoder.py
  CLAUDE.md
  docs/_memory/glossary.md
  docs/_memory/lessons/L-006-greenfield-delete-not-adapt.md
  docs/_memory/lessons/L-025-greenfield-hardcut-current-protocol-version.md
  docs/_memory/lessons/L-040-real-users-end-zero-legacy-posture.md
  docs/_memory/lessons/README.md
  docs/_memory/spec-authoring-playbook.md
  docs/_memory/standing_directives.md
  package.json
  scripts/gate.sh
  scripts/gate_integration_test.go
  skills-lock.json
Due: turbo-lint, format-go

fix: repair PR CI typecheck, product language, and React Doctor scan
  .agents/skills/cy-create-spec/SKILL.md
  .agents/skills/git-rebase/SKILL.md
  extensions/spec-cycle/skills/cy-create-spec/SKILL.md
  extensions/spec-cycle/skills/cy-final-verify/SKILL.md
  extensions/spec-cycle/skills/git-rebase/SKILL.md
  web/doctor.config.json
  web/e2e/__tests__/terminal-agent.spec.ts
Due: turbo-lint

fix: keep deny-all approval for terminal input and name review subtests
  docs/qa/scenarios/ET-terminal-approval-ladder-grants.md
  internal/api/core/terminal_catalog_test.go
  internal/api/spec/terminal_schema_test.go
  internal/cli/cli_integration_test.go
  internal/daemon/terminal_hooks_test.go
  internal/hooks/events_test.go
  internal/terminal/journal/service_test.go
  internal/terminal/wire/codec_test.go
  internal/tools/policy.go
  internal/tools/policy_test.go
  scripts/gate_integration_test.go
Due: format-go

fix: preserve carried loop result references
  docs/qa/reports/2026-09-04-loop-stability.md
  docs/qa/scenarios/TA-task-run-result-paging.md
  internal/store/globaldb/global_db_task_claim_test.go
  internal/store/globaldb/global_db_task_run_results.go
Due: format-go

fix: make loop outcomes readable and inspectable
  docs/qa/reports/2026-09-04-loop-stability.md
  docs/qa/scenarios/LP-run-read-agent-journey.md
  docs/qa/scenarios/LP-web-run-default-read-briefing.md
  internal/loop/briefing.go
  internal/loop/briefing_test.go
  internal/loop/run_read_briefing.go
  web/src/systems/loops/components/__tests__/loop-run-page.test.tsx
  web/src/systems/loops/components/run-page/loop-run-about-rail.tsx
  web/src/systems/loops/components/run-page/loop-run-artifact-list.tsx
Due: turbo-lint, format-go

fix: restore loop recovery guidance and command checks
  docs/qa/reports/2026-09-04-loop-stability.md
  docs/qa/scenarios/LP-implement-tasks-orchestrated-mode.md
  docs/qa/scenarios/LP-run-read-agent-journey.md
  extensions/spec-cycle/embed_test.go
  extensions/spec-cycle/loops/implement-tasks/loop.yaml
  internal/acp/client_process.go
  internal/acp/client_start_contract_test.go
  internal/acp/launch_identity.go
  internal/daemon/loop_runtime_adapters.go
  internal/daemon/loop_runtime_adapters_test.go
  internal/loop/briefing.go
  internal/loop/briefing_test.go
  internal/loop/run_read_briefing.go
  skills/compozy/references/loops.md
Due: format-go

fix: recover loop generations and session bindings
  docs/qa/scenarios/LP-implement-tasks-orchestrated-mode.md
  docs/qa/scenarios/LP-run-read-agent-journey.md
  internal/loop/briefing.go
  internal/loop/briefing_test.go
  internal/loop/service_test.go
  internal/loop/service_timetravel.go
  internal/loop/timetravel_types.go
  internal/store/globaldb/global_db_goal_binding_allocate.go
  internal/store/globaldb/global_db_goal_binding_integration_test.go
  internal/store/globaldb/global_db_task_claim_test.go
  internal/store/globaldb/global_db_task_coordinator.go
Due: format-go

fix: simplify loop progress and terminal recovery UI
  docs/qa/reports/2026-09-04-loop-stability.md
  docs/qa/scenarios/LP-web-run-default-read-briefing.md
  web/src/systems/loops/components/__tests__/loop-run-page.test.tsx
  web/src/systems/loops/components/run-page/loop-quarantine-sheet.tsx
  web/src/systems/loops/components/run-page/loop-run-needs-you-card.tsx
  web/src/systems/loops/components/run-page/loop-run-step-row.tsx
  web/src/systems/loops/components/run-page/loop-run-steps-progress.tsx
  web/src/systems/loops/lib/__tests__/loop-run-progress.test.ts
  web/src/systems/loops/lib/loop-run-progress.ts
  web/src/systems/os/apps/loops/__tests__/loop-run-detail-location.test.tsx
  web/src/systems/os/apps/loops/loop-run-detail-location.tsx
Due: turbo-lint

feat: add You.com hosted MCP server to the curated catalog
  catalog/mcp.json
  packages/site/content/docs/marketplace/mcp-catalog.mdx
Due: none

fix: drop page-content claim from keyless free-profile entry
  catalog/mcp.json
  packages/site/content/docs/marketplace/mcp-catalog.mdx
Due: none

docs: synchronize loop example and product wording
  docs/qa/reports/2026-09-04-loop-stability.md
  packages/site/content/docs/examples/implement-tasks-loop.mdx
  skills/compozy/references/loops.md
Due: none
