Repository compozy/compozy: changes, and which pre-commit hooks are due for each by the changed paths.
All: turbo-lint, format-go

turbo-lint:
  name: turbo lint
  description: Run linting via Turborepo
  entry: bun run lint
  language: system
  pass_filenames: false

format-go:
  name: format go
  description: Format Go files using make fmt
  entry: make fmt
  language: system
  pass_filenames: false

feat: validate released ACP speed integration boundary
  internal/core/agent/client_test.go
  internal/core/agent/session_helpers_test.go
  internal/core/agent/speed_config.go
  internal/core/agent/speed_config_test.go
Due: format-go

feat: introduce atomic ACP session setup
  internal/core/agent/client.go
  internal/core/agent/client_test.go
  internal/core/agent/hooks.go
  sdk/extension/types.go
  sdk/extension/types_test.go
Due: format-go

feat: migrate shared ACP workflow setup to atomic sessions
  internal/cli/root_command_execution_test.go
  internal/core/kernel/recovery_prepared_run_test.go
  internal/core/run/exec/exec_integration_test.go
  internal/core/run/exec/run_agent_engine_integration_test.go
  internal/core/run/executor/execution_acp_integration_test.go
  internal/core/run/executor/execution_acp_test.go
  internal/core/run/executor/hooks.go
  internal/core/run/internal/acpshared/command_io.go
  internal/core/run/internal/acpshared/command_io_test.go
  internal/core/run/internal/runshared/config.go
  internal/core/run/internal/runshared/config_test.go
  internal/core/run/recovery/agentic_test.go
Due: format-go

refactor: complete ACP client contract migration
  internal/cli/reusable_agents_doc_examples_test.go
  internal/cli/root_command_execution_test.go
  internal/core/agent/client.go
  internal/core/agent/client_test.go
  internal/core/agent/codex_live_test.go
  internal/core/agent/session_test.go
  internal/core/kernel/recovery_prepared_run_test.go
  internal/core/run/exec/exec_integration_test.go
  internal/core/run/exec/exec_test.go
  internal/core/run/exec/run_agent_engine_integration_test.go
  internal/core/run/executor/execution_acp_integration_test.go
  internal/core/run/executor/execution_acp_test.go
  internal/core/run/internal/acpshared/command_io.go
  internal/core/run/internal/acpshared/command_io_test.go
  internal/core/run/internal/acpshared/session_exec_test.go
  internal/core/run/recovery/agentic_test.go
  scripts/inspect-acp-toolcalls.go
Due: format-go

feat: preserve speed through recovery and conflicts
  internal/core/run/parallel/orchestrator.go
  internal/core/run/parallel/orchestrator_test.go
  internal/core/run/parallel/resolver.go
  internal/core/run/parallel/resolver_test.go
  internal/core/run/recovery/agentic_test.go
  internal/daemon/task_multi.go
Due: format-go

feat: extend speed event and workflow result contracts
  internal/core/run/exec/exec.go
  internal/core/run/exec/exec_test.go
  internal/core/run/executor/execution.go
  internal/core/run/executor/execution_acp_integration_test.go
  internal/core/run/executor/execution_acp_test.go
  internal/core/run/executor/execution_test.go
  internal/core/run/executor/lifecycle.go
  internal/core/run/executor/result.go
  internal/core/run/executor/result_test.go
  internal/core/run/internal/acpshared/command_io.go
  internal/core/run/internal/acpshared/command_io_test.go
  internal/daemon/recovery_run.go
  internal/daemon/run_manager.go
  internal/daemon/run_manager_test.go
  pkg/compozy/events/kinds/job.go
  pkg/compozy/events/kinds/payload_compat_test.go
  pkg/compozy/events/kinds/run.go
  pkg/compozy/events/kinds/session.go
Due: format-go

feat: persist exec speed outcomes and human status
  internal/core/run/exec/aliases.go
  internal/core/run/exec/exec.go
  internal/core/run/exec/exec_integration_test.go
  internal/core/run/exec/exec_test.go
  internal/core/run/internal/acpshared/command_io.go
  internal/core/run/internal/acpshared/command_io_test.go
  internal/core/run/internal/acpshared/session_exec.go
Due: format-go

feat: project speed outcomes into run snapshots
  internal/daemon/run_manager_test.go
  internal/daemon/run_snapshot.go
  internal/daemon/run_snapshot_compact.go
  internal/daemon/run_snapshot_test.go
  pkg/compozy/runs/helpers_test.go
  pkg/compozy/runs/integration_test.go
  pkg/compozy/runs/run.go
  pkg/compozy/runs/summary.go
  pkg/compozy/runs/watch.go
Due: format-go

docs: plan migration QA cycle
  MIGRATION_GUIDE.md
  docs/qa/charters/CH-compozy-agent-authored-review.md
  docs/qa/charters/CH-compozy-beta-candidate.md
  docs/qa/charters/CH-compozy-dev-cycle-skills.md
  docs/qa/charters/CH-compozy-landing-canary.md
  docs/qa/charters/CH-compozy-mixed-runtime-delivery.md
  docs/qa/charters/CH-compozy-platform-hard-cut.md
  docs/qa/charters/CH-compozy-run-plain-language.md
  docs/qa/charters/CH-compozy-runtime-input-preflight.md
  docs/qa/charters/CH-compozy-wire-public-hard-cut.md
  docs/qa/journeys/J-01-arrive-and-use-run.md
  docs/qa/journeys/J-02-dry-run-preview.md
  docs/qa/journeys/J-08-watch-and-maintain.md
  docs/qa/journeys/J-approve-compozy-beta-candidate.md
  docs/qa/journeys/J-evaluate-compozy-beta.md
  docs/qa/journeys/J-offer-runnable-capabilities.md
  docs/qa/journeys/J-validate-compozy-hard-cut.md
  docs/qa/scenarios/ET-compozy-extension-contract-identity.md
  docs/qa/scenarios/ET-compozy-native-tool-invocation.md
  docs/qa/scenarios/ET-compozy-official-skill-discovery.md
  docs/qa/scenarios/ET-compozy-public-brand-navigation.md
  docs/qa/scenarios/NB-compozy-wire-identity.md
  docs/qa/scenarios/REL-beta-channel-contract.md
  docs/qa/scenarios/REL-beta-install-paths.md
  docs/qa/scenarios/REL-beta-installer-provenance.md
  docs/qa/scenarios/REL-beta-self-update.md
  docs/qa/scenarios/REL-migration-guide-parity.md
  docs/qa/scenarios/REL-release-candidate-plan.md
  docs/qa/scenarios/RT-compozy-claim-token-redaction.md
  docs/qa/scenarios/RT-compozy-cli-binary.md
  docs/qa/scenarios/RT-compozy-environment-namespace.md
  docs/qa/scenarios/RT-compozy-global-database.md
  docs/qa/scenarios/RT-compozy-home-isolation.md
  docs/qa/scenarios/RT-compozy-home-layout.md
Due: none

fix: remove captured legacy runtime artifacts
  .agh/loops/reviews-watch/loop.yaml
  .agh/loops/software-delivery/loop.yaml
  .agh/workspace.toml
Due: none

docs: record migration QA checkpoint
  docs/qa/bugs/BUG-20260727-dirty-build-release-track.md
  docs/qa/bugs/BUG-20260727-ephemeral-role-session-leak.md
  docs/qa/bugs/BUG-20260727-runtime-legacy-identity.md
  docs/qa/reports/2026-07-27-devtool-oss-launch.md
  docs/qa/scenarios/ET-compozy-extension-contract-identity.md
  docs/qa/scenarios/ET-compozy-native-tool-invocation.md
  docs/qa/scenarios/ET-compozy-public-brand-navigation.md
  docs/qa/scenarios/ET-dev-cycle-skill-bundle.md
  docs/qa/scenarios/NB-compozy-wire-identity.md
  docs/qa/scenarios/RT-011.md
  docs/qa/scenarios/RT-compozy-cli-binary.md
  docs/qa/scenarios/RT-compozy-environment-namespace.md
  docs/qa/scenarios/RT-compozy-home-layout.md
Due: none

fix: final adjustments #2
  COPY.md
  docs/qa/scenarios/ET-compozy-public-brand-navigation.md
  docs/qa/scenarios/REL-os-landing-proof.md
  packages/site/components/landing/comparison.tsx
  packages/site/components/landing/final-cta.tsx
  packages/site/lib/__tests__/landing-truth.test.tsx
Due: turbo-lint

build: auto-publish beta releases on release PR merge
  .github/workflows/release.yml
  cliff.toml
  imgs/screenshot.png
Due: none

docs: update readme
  README.md
Due: none

build: push release branch updates with RELEASE_TOKEN
  .github/workflows/release.yml
Due: none

build: publish site changelog receipts from the release job
  .github/workflows/release.yml
  .pr-release
  docs/qa/scenarios/SITE-changelog-release-receipts.md
  packages/site/content/blog/changelog/v0.0.5.mdx
  packages/site/content/blog/changelog/v0.0.6.mdx
  packages/site/content/blog/changelog/v0.0.7.mdx
  packages/site/content/blog/changelog/v0.0.8.mdx
  packages/site/content/blog/changelog/v0.0.9.mdx
  packages/site/scripts/__tests__/render-changelog-release.test.ts
  packages/site/scripts/render-changelog-release.ts
Due: turbo-lint

ci: fix tests
  internal/config/agent_test.go
  internal/marketplace/directory_source.go
  internal/marketplace/entry_common.go
  internal/marketplace/source_factory.go
  packages/site/components/landing/__tests__/landing.test.tsx
  packages/site/components/landing/comparison.tsx
  packages/site/content/blog/changelog/v0.0.2.mdx
  packages/site/content/blog/changelog/v0.0.3.mdx
  packages/site/content/blog/changelog/v0.0.4.mdx
  packages/site/lib/__tests__/landing-truth.test.tsx
  packages/site/lib/__tests__/protocol-rfc-hard-cut.test.ts
Due: turbo-lint, format-go

build: delete not need things
  .audits/architectural-analysis-20260709-magefiles.md
  .claude/prompts/listing-row-promotion.txt
  .codex/evidence/2026-07-27-window-manager-422/clientstate-pre-hard-cut.db
  .codex/herdr/agent-details-grok-packet.md
  .codex/reviews/coderabbit-review-commited-001.log
  .codex/reviews/coderabbit-review-commited-002.log
  .codex/reviews/coderabbit-review-commited-003.log
Due: none

build: fix tests
  docs/qa/scenarios/RT-compozy-global-database.md
  internal/extension/reference_integration_test.go
  internal/store/sqlite_config.go
  internal/store/sqlite_header.go
  internal/store/sqlite_probe.go
  internal/store/sqlite_recovery_test.go
Due: format-go

build: align release body heading with the published version
  .github/workflows/release.yml
Due: none

ci: fix release workflow
  .github/workflows/release.yml
  .gitignore
Due: none

release: prepare release v0.3.0 (#264)
  .release-notes/archive/v0.3.0/the-os-release.md
  CHANGELOG.md
  RELEASE_BODY.md
  RELEASE_NOTES.md
  go.mod
  go.sum
  package.json
Due: none

build: fix beta release recovery
  .github/workflows/release.yml
  COPY.md
Due: none

docs: change copy
  .github/workflows/release.yml
  COPY.md
Due: none

build: restore beta release recovery
  .github/workflows/release.yml
Due: none

build: recover partial releases
  .github/workflows/release.yml
  .goreleaser.yml
Due: none

build: model release recovery states
  .github/workflows/release.yml
  scripts/release-publication-state.sh
Due: none

feat: render speed outcomes in the TUI
  internal/core/run/ui/model.go
  internal/core/run/ui/multi_remote.go
  internal/core/run/ui/remote.go
  internal/core/run/ui/sidebar.go
  internal/core/run/ui/speed_test.go
  internal/core/run/ui/types.go
  internal/core/run/ui/update.go
Due: format-go

Path conditions:
  turbo-lint: any of: \.(js|jsx|ts|tsx)$, but not: (?x)^(
  CHANGELOG.md|
  tools/.*/package\.json|
  bun.lockb|
  node_modules|
)$

  format-go: any of: \.go$, but not: (?x)^(
  CHANGELOG.md|
  tools/.*/package\.json|
  bun.lockb|
  node_modules|
)$

