Repository compozy/compozy: changes, and which pre-commit hooks are due for each by the changed paths.
All: turbo-lint, format-go

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit

default_stages:
  - pre-commit

exclude: |
  (?x)^(
    CHANGELOG.md|
    tools/.*/package\.json|
    bun.lockb|
    node_modules|
  )$

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      # - id: trailing-whitespace
      #   args:
      #     - --no-utf8-locale
      - id: end-of-file-fixer
        exclude: '^(CHANGELOG\.md|tools/.*/package\.json|bun\.lockb|node_modules/)'
      - id: check-json
        exclude: '^(tools/.*/package\.json|node_modules/)'
      - id: check-toml
      - id: check-added-large-files
        args:
          - --maxkb=3000
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: detect-private-key
  - repo: local
    hooks:
      - id: turbo-lint
        name: turbo lint
        description: Run linting via Turborepo
        entry: bun run lint
        language: system
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false
      # - id: turbo-type-check
      #   name: turbo type check
      #   description: Run TypeScript checking via Turborepo
      #   entry: bun run type-check
      #   language: system
      #   files: \.(ts|tsx)$
      #   pass_filenames: false
      - id: format-go
        name: format go
        description: Format Go files using make fmt
        entry: make fmt
        language: system
        files: \.go$
        pass_filenames: false
  - repo: https://github.com/lyz-code/yamlfix/
    rev: 1.17.0
    hooks:
      - id: yamlfix
        args:
          - -c
          - .yamlfix.toml
        exclude: ^cluster/.*$

fix: review round
  internal/daemon/loop_action_liveness.go
  internal/daemon/loop_action_session_truth.go
  internal/daemon/task_runtime_test.go
  internal/daemon/task_runtime_views.go
  internal/loop/action_internal_test.go
  internal/loop/action_schema.go
  internal/loop/generation_snapshot_intents.go
  internal/loop/generation_snapshot_test.go
  internal/session/query.go
  internal/session/query_test.go
  internal/store/globaldb/global_db_task_claim_test.go
  web/src/systems/loops/components/__tests__/loop-run-page.test.tsx
  web/src/systems/loops/components/run-page/loop-run-parked-panels.tsx
  web/src/systems/loops/lib/__tests__/loop-run-usage.test.ts
Due: turbo-lint, format-go

fix: address cancellation review findings
  internal/daemon/loop_cancellation_reconcile.go
  internal/daemon/scheduler_runtime.go
  internal/daemon/task_role_runtime_test.go
  internal/daemon/task_role_sessions.go
  internal/scheduler/scheduler_test.go
  internal/session/ledger_test.go
  internal/store/globaldb/global_db_loop_cancel_pending.go
  internal/store/globaldb/global_db_loop_test.go
Due: format-go

fix: address final review findings
  internal/daemon/task_role_runtime_test.go
  internal/daemon/task_role_sessions.go
  internal/scheduler/scheduler_test.go
Due: format-go

fix: stabilize runtime terminal contracts
  internal/acp/permission.go
  internal/acp/permission_helpers.go
  internal/bridges/resource_projection.go
  internal/daemon/tool_approval_bridge.go
  internal/daemon/tool_approval_bridge_test.go
  internal/daemon/tool_approval_grants_integration_test.go
  internal/session/manager_prompt_contract_test.go
  internal/session/manager_prompt_pump.go
  internal/session/manager_prompt_runtime_loop.go
  internal/store/globaldb/global_db_bridge.go
  internal/store/globaldb/global_db_bridges_test.go
  internal/store/globaldb/queries/bridge_core.sql
  internal/store/globaldb/sqlcgen/bridge_core.sql.go
  internal/testutil/acpmock/fixture_prompt_strip.go
  internal/testutil/acpmock/fixture_test.go
  web/e2e/__tests__/marketplace.spec.ts
  web/e2e/__tests__/settings.spec.ts
  web/e2e/__tests__/triggers-hardening.spec.ts
Due: turbo-lint, format-go

fix: stabilize terminal session reads
  internal/store/sessiondb/read_only_pool.go
  internal/store/sessiondb/session_db_integration_test.go
  web/e2e/__tests__/os-shell.spec.ts
  web/e2e/__tests__/session-hardening.spec.ts
Due: turbo-lint, format-go

fix: address CodeRabbit review findings
  internal/daemon/loop_resources_integration_test.go
  web/src/systems/loops/adapters/__tests__/loops-api.test.ts
  web/src/systems/loops/components/__tests__/loop-target-fields.test.tsx
  web/src/systems/loops/mocks/fixture-run-details.ts
Due: turbo-lint, format-go

fix: preserve ACP mock prompt matching
  internal/testutil/acpmock/fixture_prompt_strip.go
  internal/testutil/acpmock/fixture_test.go
Due: format-go

fix: coalesce window drag work
  web/src/systems/os/hooks/use-animation-frame-latest.ts
  web/src/systems/os/hooks/use-window-merge-target.ts
  web/src/systems/os/lib/window-merge-target-coordinator.ts
Due: turbo-lint

test: stabilize browser E2E contracts
  web/e2e/__tests__/session-provider-override.spec.ts
Due: turbo-lint

fix: isolate drag preview rendering
  web/src/systems/os/components/desktop-shell.tsx
  web/src/systems/os/components/os-win-layer.tsx
  web/src/systems/os/hooks/use-desktop-shell-body.ts
Due: turbo-lint

fix: review round
  docs/qa/reports/2026-08-06-review-remediation.md
  docs/qa/scenarios/ET-window-tab-deck-lifecycle.md
  docs/qa/scenarios/RT-home-usage-window-persistence.md
  internal/daemon/tool_approval_bridge.go
  internal/daemon/tool_approval_bridge_test.go
  internal/daemon/workspace_access_prompt_bridge.go
  internal/store/sessiondb/read_only_pool.go
  internal/store/sessiondb/session_db_integration_test.go
  web/src/systems/os/hooks/__tests__/os-interaction-hooks.test.tsx
  web/src/systems/os/hooks/use-animation-frame-latest.ts
  web/src/systems/os/hooks/use-window-merge-target.ts
Due: turbo-lint, format-go

docs: close review remediation QA
  docs/qa/reports/2026-08-06-review-remediation.md
Due: none

build: release version on build
  .gitignore
  .goreleaser.yml
  .release-notes/a-crashed-agent-is-not-a-finished-one-1786035364.md
  .release-notes/cursor-models-from-your-account-1786035363.md
  .release-notes/dry-run-proves-the-run-you-submit-1786035365.md
  .release-notes/implement-tasks-replaces-software-delivery-1786035360.md
  .release-notes/loop-runs-you-can-debug-1786035361.md
  .release-notes/managed-skill-loading-on-the-native-seam-1786035366.md
  .release-notes/one-owner-per-loop-run-1786035362.md
  MIGRATION_GUIDE.md
  README.md
  docs/qa/scenarios/REL-beta-install-paths.md
  docs/qa/scenarios/REL-beta-installer-provenance.md
  docs/release/homebrew-beta-notice.md
  internal/config/release_config_test.go
  magefiles/install.go
  packages/site/.gitignore
  packages/site/app/(home)/page.tsx
  packages/site/app/install.sh/route.ts
  packages/site/components/docs/release-install.tsx
  packages/site/components/landing/__tests__/landing.test.tsx
  packages/site/components/landing/install-section.tsx
  packages/site/content/docs/getting-started/installation.mdx
  packages/site/content/docs/migration/index.mdx
  packages/site/lib/__tests__/current-release.test.ts
  packages/site/lib/__tests__/public-heading-hierarchy.test.tsx
  packages/site/lib/__tests__/public-install-contract.test.ts
  packages/site/lib/__tests__/public-security-headers.test.ts
  packages/site/lib/install/render-install-script.ts
  packages/site/lib/release/current-release.ts
  packages/site/lib/release/install-commands.ts
  packages/site/lib/release/release-fallback.ts
  packages/site/mdx-components.tsx
  packages/site/package.json
  packages/site/public/_headers
  packages/site/scripts/generate-install-template.ts
  scripts/install.template.sh
  scripts/release-preflight.sh
  scripts/render-install-script.sh
  turbo.json
Due: turbo-lint, format-go

fix: review round
  docs/qa/charters/CH-session-catalog-navigation.md
  docs/qa/charters/CH-session-sidebar-navigation.md
  docs/qa/reports/2026-08-06-pr-327-coderabbit.md
  docs/qa/scenarios/ET-web-session-sidebar-threads.md
  docs/qa/scenarios/ET-web-sessions-catalog-modal.md
  internal/api/udsapi/transport_parity_integration_test.go
  internal/windowmanager/lifecycle_test.go
  internal/windowmanager/reducer_window_navigate.go
  web/src/systems/os/components/__tests__/sessions-modal.test.tsx
  web/src/systems/os/lib/__tests__/routing-coordinator.test.ts
  web/src/systems/os/lib/routing-coordinator.ts
  web/src/systems/session/components/session-list/session-list-group.tsx
  web/src/systems/session/components/session-list/session-list-thread.tsx
  web/src/systems/session/components/session-list/session-list.tsx
  web/src/systems/session/hooks/__tests__/use-session-topbar-slot.test.tsx
  web/src/systems/session/hooks/use-session-topbar-slot.tsx
  web/src/systems/session/lib/__tests__/session-hierarchy.test.ts
  web/src/systems/session/lib/session-hierarchy.ts
Due: turbo-lint, format-go

ci: fix goreleaser
  .goreleaser.yml
Due: none

build: fix release
  .audits/architectural-analysis-20260801-go-modernization.md
  .github/actions/setup-release/action.yml
  .github/workflows/release.yml
  .goreleaser.release-footer.md.tmpl
  DESIGN.md
  docs/qa/reports/2026-08-07-release-cosign-v3.md
  docs/qa/scenarios/ET-window-deck-uniform-tab-width.md
  docs/qa/scenarios/REL-beta-installer-provenance.md
  docs/qa/scenarios/REL-release-candidate-plan.md
  internal/config/release_config_test.go
  packages/site/lib/__tests__/public-install-contract.test.ts
  packages/ui/src/tokens.css
  scripts/install.template.sh
  scripts/release-preflight.sh
  scripts/sync-design-md.mjs
  web/src/systems/os/components/__tests__/os-window-deck.test.tsx
  web/src/systems/os/components/os-window-deck.tsx
  web/src/systems/os/components/os-window-tab.tsx
Due: turbo-lint, format-go

release: prepare release v0.3.0 (#328)
  .release-notes/archive/v0.3.0/a-crashed-agent-is-not-a-finished-one-1786035364.md
  .release-notes/archive/v0.3.0/cursor-models-from-your-account-1786035363.md
  .release-notes/archive/v0.3.0/dry-run-proves-the-run-you-submit-1786035365.md
  .release-notes/archive/v0.3.0/implement-tasks-replaces-software-delivery-1786035360.md
  .release-notes/archive/v0.3.0/loop-runs-you-can-debug-1786035361.md
  .release-notes/archive/v0.3.0/managed-skill-loading-on-the-native-seam-1786035366.md
  .release-notes/archive/v0.3.0/one-owner-per-loop-run-1786035362.md
  CHANGELOG.md
  RELEASE_BODY.md
  RELEASE_NOTES.md
  go.mod
  go.sum
Due: none

build: fix release
  .compozy/loops/implement-tasks/loop.yaml
  .github/workflows/release.yml
  docs/qa/bugs/BUG-20260807-npm-dist-tag-readiness.md
  docs/qa/charters/CH-published-npm-channel-readiness.md
  docs/qa/journeys/J-publish-compozy-beta.md
  docs/qa/reports/2026-08-07-release-cosign-v3.md
  docs/qa/scenarios/REL-published-npm-channel-readiness.md
  internal/config/release_config_test.go
  scripts/release-npm-readiness.sh
Due: format-go

refactor: adjust loops catalog filter
  web/src/systems/loops/components/__tests__/loop-catalog.test.tsx
  web/src/systems/loops/components/catalog/loop-catalog-filters.tsx
  web/src/systems/loops/lib/__tests__/loop-list-filters.test.ts
  web/src/systems/loops/lib/loop-list-filters.ts
Due: turbo-lint

fix: review-round
  docs/qa/scenarios/ET-web-marketplace-detail-redesign.md
  docs/qa/scenarios/ET-web-marketplace-installed-management.md
  extensions/dev-cycle/embed_test.go
  internal/api/core/extensions_dev.go
  internal/api/core/marketplace_installed_detail.go
  internal/api/core/marketplace_list.go
  internal/api/core/marketplace_paths.go
  internal/api/httpapi/extension_logs_sse_test.go
  internal/extension/provenance.go
  internal/extension/registry_bundled.go
  web/src/routes/_app/marketplace.$kind.$entryId.tsx
  web/src/systems/marketplace/components/__tests__/marketplace-components.test.tsx
  web/src/systems/marketplace/components/marketplace-card.tsx
  web/src/systems/marketplace/components/marketplace-detail-extension-installed.tsx
  web/src/systems/marketplace/components/marketplace-detail-extension-rail.tsx
  web/src/systems/marketplace/components/marketplace-detail-lede.tsx
  web/src/systems/marketplace/components/marketplace-detail-manage-state.tsx
  web/src/systems/marketplace/components/marketplace-detail-mcp-topbar.tsx
  web/src/systems/marketplace/components/marketplace-detail-mcp.tsx
  web/src/systems/marketplace/components/marketplace-detail-shell.tsx
  web/src/systems/marketplace/components/marketplace-detail-skill-installed.tsx
  web/src/systems/marketplace/components/marketplace-detail.tsx
  web/src/systems/marketplace/components/marketplace-kind-page.tsx
  web/src/systems/marketplace/components/marketplace-ui.ts
  web/src/systems/marketplace/hooks/use-marketplace-detail-mcp-server.ts
  web/src/systems/marketplace/routes/marketplace-detail.stories.tsx
  web/src/systems/marketplace/routes/marketplace.stories.tsx
Due: turbo-lint, format-go

release: prepare release v0.3.0 (#329)
  CHANGELOG.md
  RELEASE_BODY.md
  RELEASE_NOTES.md
  go.mod
  go.sum
Due: none

feat: QA planning for remote gateway #08
  docs/qa/charters/CH-gateway-audit-teardown.md
  docs/qa/charters/CH-gateway-live-revocation.md
  docs/qa/charters/CH-gateway-mid-delivery-exposure.md
  docs/qa/charters/CH-gateway-no-device-recovery.md
  docs/qa/charters/CH-gateway-provider-degradation.md
  docs/qa/charters/CH-gateway-remote-cli-interruption.md
  docs/qa/charters/CH-gateway-ssh-ownership.md
  docs/qa/journeys/J-audit-and-teardown-gateway.md
  docs/qa/journeys/J-connect-gateway-ssh.md
  docs/qa/journeys/J-deliver-through-public-gateway.md
  docs/qa/journeys/J-expose-and-pair-gateway.md
  docs/qa/journeys/J-operate-remote-gateway-cli.md
  docs/qa/personas.md
  docs/qa/scenarios/MS-gateway-config-ceiling.md
  docs/qa/scenarios/NB-bridge-provider-setup.md
  docs/qa/scenarios/RT-connectivity-provider-route.md
  docs/qa/scenarios/RT-gateway-browser-stream-reconnect.md
  docs/qa/scenarios/RT-gateway-local-only-boot.md
  docs/qa/scenarios/RT-gateway-no-device-recovery.md
  docs/qa/scenarios/RT-gateway-offline-delivery-redelivery.md
  docs/qa/scenarios/RT-gateway-operator-surface-truth.md
  docs/qa/scenarios/RT-gateway-paired-device.md
  docs/qa/scenarios/RT-gateway-public-ingress-bindings.md
  docs/qa/scenarios/RT-gateway-public-ui-consent.md
  docs/qa/scenarios/RT-gateway-remote-cli-profile.md
  docs/qa/scenarios/RT-gateway-self-audit.md
  docs/qa/scenarios/RT-gateway-ssh-forward.md
  docs/qa/scenarios/TA-056.md
  docs/qa/scenarios/TA-060.md
  packages/site/content/docs/operations/remote-gateway.mdx
Due: none
