Repository compozy/compozy: changes, and which pre-commit hooks are due for each by the changed paths.
All: turbo-lint, format-go

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit

default_stages:
  - pre-commit

exclude: |
  (?x)^(
    CHANGELOG.md|
    tools/.*/package\.json|
    bun.lockb|
    node_modules|
  )$

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      # - id: trailing-whitespace
      #   args:
      #     - --no-utf8-locale
      - id: end-of-file-fixer
        exclude: '^(CHANGELOG\.md|tools/.*/package\.json|bun\.lockb|node_modules/)'
      - id: check-json
        exclude: '^(tools/.*/package\.json|node_modules/)'
      - id: check-toml
      - id: check-added-large-files
        args:
          - --maxkb=3000
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: detect-private-key
  - repo: local
    hooks:
      - id: turbo-lint
        name: turbo lint
        description: Run linting via Turborepo
        entry: bun run lint
        language: system
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false
      # - id: turbo-type-check
      #   name: turbo type check
      #   description: Run TypeScript checking via Turborepo
      #   entry: bun run type-check
      #   language: system
      #   files: \.(ts|tsx)$
      #   pass_filenames: false
      - id: format-go
        name: format go
        description: Format Go files using make fmt
        entry: make fmt
        language: system
        files: \.go$
        pass_filenames: false
  - repo: https://github.com/lyz-code/yamlfix/
    rev: 1.17.0
    hooks:
      - id: yamlfix
        args:
          - -c
          - .yamlfix.toml
        exclude: ^cluster/.*$

feat: add shared ui foundation for agent-comms
  DESIGN.md
  packages/ui/src/components/custom/__tests__/metadata-list.test.tsx
  packages/ui/src/components/custom/__tests__/time.test.tsx
  packages/ui/src/components/custom/__tests__/tool-call-row.test.tsx
  packages/ui/src/components/custom/__tests__/untrusted-frame.test.tsx
  packages/ui/src/components/custom/stories/metadata-list.stories.tsx
  packages/ui/src/components/custom/stories/time.stories.tsx
  packages/ui/src/components/custom/stories/tool-call-row.stories.tsx
  packages/ui/src/components/custom/stories/untrusted-frame.stories.tsx
  packages/ui/src/components/custom/time.tsx
  packages/ui/src/components/custom/tool-call-row.tsx
  packages/ui/src/components/custom/untrusted-frame.tsx
  packages/ui/src/components/stories/field.stories.tsx
  packages/ui/src/components/stories/item.stories.tsx
  packages/ui/src/exports/foundation.ts
  packages/ui/src/lib/__tests__/format-time.test.ts
  packages/ui/src/lib/format-time.ts
  web/src/lib/format-time.ts
Due: turbo-lint

fix: reap deadline-less agent calls
  internal/calls/cancel_recovery.go
  internal/calls/hooks_test.go
  internal/calls/interfaces.go
  internal/calls/mailbox.go
  internal/calls/publish_test.go
  internal/calls/service_settlement_test.go
  internal/calls/service_test_support_test.go
  internal/daemon/spawn_reaper.go
  internal/daemon/spawn_reaper_test.go
  internal/store/globaldb/global_db_calls_delivery.go
  internal/store/globaldb/global_db_calls_integration_test.go
  internal/store/globaldb/global_db_calls_mutation.go
Due: format-go

fix: rematch Calls panel and call detail to inspector grammar
  web/src/systems/agent-comms/components/__tests__/agent-call-detail.test.tsx
  web/src/systems/agent-comms/components/__tests__/agent-calls-inspector-panel.test.tsx
  web/src/systems/agent-comms/components/agent-call-attempts.tsx
  web/src/systems/agent-comms/components/agent-call-compose.tsx
  web/src/systems/agent-comms/components/agent-call-contract.tsx
  web/src/systems/agent-comms/components/agent-call-cost.tsx
  web/src/systems/agent-comms/components/agent-call-detail-header.tsx
  web/src/systems/agent-comms/components/agent-call-detail-timeline.tsx
  web/src/systems/agent-comms/components/agent-call-detail.tsx
  web/src/systems/agent-comms/components/agent-call-result-view.tsx
  web/src/systems/agent-comms/components/agent-calls-inspector-panel.tsx
  web/src/systems/agent-comms/components/agent-calls-inspector-row.tsx
  web/src/systems/agent-comms/components/agent-compose-message.tsx
  web/src/systems/agent-comms/components/agent-untrusted-frame.tsx
  web/src/systems/agent-comms/index.ts
  web/src/systems/agent-comms/lib/__tests__/call-detail-view-model.test.ts
  web/src/systems/agent-comms/lib/call-clock-format.ts
  web/src/systems/agent-comms/lib/call-detail-view-model.ts
  web/src/systems/agent-comms/lib/call-row-who.ts
  web/src/systems/os/apps/agents/agent-call-location.tsx
Due: turbo-lint

fix: open Activity from Catalog and show truthful call load
  docs/qa/scenarios/RT-delegation-activity-tree.md
  web/src/systems/agent-comms/components/__tests__/agent-call-tree.test.tsx
  web/src/systems/agent-comms/components/agent-call-tree-item.tsx
  web/src/systems/agent-comms/components/agent-call-tree-row.tsx
  web/src/systems/agent-comms/components/agent-call-tree.tsx
  web/src/systems/agent/components/agent-fleet-call-instance-pills.tsx
  web/src/systems/agent/components/agent-fleet-card.tsx
  web/src/systems/agent/components/agent-fleet-row.tsx
  web/src/systems/agent/hooks/use-agent-fleet-call-instances.ts
  web/src/systems/agent/index.ts
  web/src/systems/agent/lib/__tests__/agent-fleet-projection.test.ts
  web/src/systems/agent/lib/agent-fleet-call-instances.ts
  web/src/systems/agent/lib/agent-fleet-projection.ts
  web/src/systems/agent/routes/agents-fleet.stories.tsx
  web/src/systems/os/apps/agents/__tests__/agent-window-location.test.ts
  web/src/systems/os/apps/agents/__tests__/agents-activity-location.test.tsx
  web/src/systems/os/apps/agents/__tests__/agents-app-tabs.test.tsx
  web/src/systems/os/apps/agents/__tests__/agents-catalog-location.test.tsx
  web/src/systems/os/apps/agents/agent-window-location.ts
  web/src/systems/os/apps/agents/agents-activity-location.tsx
  web/src/systems/os/apps/agents/agents-app-tabs.tsx
  web/src/systems/os/apps/agents/agents-catalog-location.tsx
  web/src/systems/os/apps/agents/use-agents-activity.ts
  web/src/systems/os/apps/agents/use-agents-catalog.ts
Due: turbo-lint

fix: render session call turns on the shared transcript row
  docs/qa/scenarios/RT-in-context-call-messages.md
  web/src/components/assistant-ui/__tests__/session-thread.test.tsx
  web/src/components/assistant-ui/__tests__/session-timeline.logic.test.ts
  web/src/components/assistant-ui/hooks/use-open-session-calls-panel.ts
  web/src/components/assistant-ui/session-call-invocation.tsx
  web/src/components/assistant-ui/session-timeline-delegation.ts
  web/src/components/assistant-ui/session-timeline-render.tsx
  web/src/components/assistant-ui/session-timeline-summary.ts
  web/src/components/assistant-ui/session-timeline-work-rows.ts
  web/src/components/assistant-ui/session-timeline.logic.ts
  web/src/systems/agent-comms/components/__tests__/agent-call-detail.test.tsx
  web/src/systems/agent-comms/components/__tests__/agent-synthetic-turn.test.tsx
  web/src/systems/agent-comms/components/agent-call-bound-turn.tsx
  web/src/systems/agent-comms/components/agent-call-detail.tsx
  web/src/systems/agent-comms/components/agent-call-invocation-card.tsx
  web/src/systems/agent-comms/components/agent-call-return-turn.tsx
  web/src/systems/agent-comms/components/agent-call-state-pill.tsx
  web/src/systems/agent-comms/components/agent-call-turn-card.tsx
  web/src/systems/agent-comms/components/agent-call-turn-fanout.tsx
  web/src/systems/agent-comms/components/agent-call-turn-stack.tsx
  web/src/systems/agent-comms/components/agent-synthetic-turn.tsx
  web/src/systems/agent-comms/components/agent-untrusted-frame.tsx
  web/src/systems/agent-comms/components/stories/agent-call-detail.stories.tsx
  web/src/systems/agent-comms/components/stories/agent-comms-messages.stories.tsx
  web/src/systems/agent-comms/index.ts
  web/src/systems/agent-comms/lib/__tests__/synthetic-turn.test.ts
  web/src/systems/agent-comms/lib/agent-call-tool-parts.ts
  web/src/systems/agent-comms/lib/ask-gist.ts
  web/src/systems/agent-comms/lib/call-state-glyphs.ts
  web/src/systems/agent-comms/lib/synthetic-turn.ts
  web/src/systems/agent-comms/lib/wake-preview.ts
  web/src/systems/session/components/__tests__/session-inspector.test.tsx
  web/src/systems/session/components/session-inspector.tsx
  web/src/systems/session/index.ts
  web/src/systems/session/lib/session-inspector-tabs.ts
Due: turbo-lint

fix: keep running call rows live and open Calls on first click
  web/src/components/assistant-ui/__tests__/session-thread.test.tsx
  web/src/components/assistant-ui/hooks/use-open-session-calls-panel.ts
  web/src/components/assistant-ui/session-call-invocation.tsx
  web/src/components/assistant-ui/session-timeline-render.tsx
  web/src/systems/agent-comms/components/__tests__/agent-synthetic-turn.test.tsx
  web/src/systems/agent-comms/components/agent-call-turn-card.tsx
  web/src/systems/session/components/__tests__/session-inspector.test.tsx
  web/src/systems/session/components/session-inspector.tsx
  web/src/systems/session/hooks/__tests__/use-session-inspector-state.test.tsx
  web/src/systems/session/hooks/use-session-inspector-state.ts
  web/src/systems/session/index.ts
  web/src/systems/session/inspector.ts
  web/src/systems/session/lib/session-inspector-tabs.ts
  web/src/systems/session/query.ts
Due: turbo-lint

test: keep daemon boot fakes call-complete
  internal/daemon/calls_boot_test_support_test.go
  internal/daemon/daemon_test.go
Due: format-go

fix: align agent comms contracts
  internal/api/contract/calls.go
  internal/api/contract/calls_projection.go
  internal/api/core/call_messages_handlers.go
  internal/api/core/calls_handlers.go
  internal/api/core/calls_handlers_test.go
  internal/api/core/calls_mapping.go
  internal/api/spec/schema_customizers_calls.go
  internal/calls/delivery_projection.go
  internal/calls/hooks_test.go
  internal/calls/mailbox.go
  internal/calls/mailbox_test.go
  internal/calls/types.go
  internal/daemon/native_tools_test.go
  internal/extension/host_api_calls.go
  internal/extension/host_api_test.go
  internal/store/globaldb/global_db_calls_integration_test.go
  internal/store/globaldb/global_db_calls_mailbox.go
  internal/tools/builtin/builtin_test.go
  internal/tools/builtin/calls_output_schemas.go
  internal/tools/builtin/testdata/native-tool-catalog.json
  openapi/compozy.json
  packages/site/content/docs/agent-comms/calls.mdx
  packages/site/content/docs/configuration/config-toml.mdx
  sdk/go/contracts/types_005_gen.go
  sdk/typescript/src/generated/contracts.ts
  skills/compozy/references/agent-comms.md
  web/src/generated/compozy-openapi.d.ts
  web/src/systems/agent-comms/adapters/agent-comms-calls-api.ts
  web/src/systems/agent-comms/components/agent-call-state-pill.tsx
  web/src/systems/agent-comms/components/stories/agent-call-state-pill.stories.tsx
  web/src/systems/agent-comms/lib/__tests__/agent-comms-tree.test.ts
  web/src/systems/agent-comms/lib/__tests__/call-detail-view-model.test.ts
  web/src/systems/agent-comms/lib/call-clock-format.ts
  web/src/systems/agent-comms/lib/call-detail-view-model.ts
  web/src/systems/agent-comms/lib/call-state-glyphs.ts
  web/src/systems/agent-comms/lib/call-state.ts
  web/src/systems/agent-comms/mocks/agent-comms-handlers.ts
  web/src/systems/agent-comms/mocks/fixtures.ts
  web/src/systems/agent-comms/types.ts
Due: turbo-lint, format-go

test: type call polling options explicitly
  web/src/components/assistant-ui/__tests__/session-thread.test.tsx
Due: turbo-lint

fix: resolve default-profile workspace agents
  internal/api/core/network_channel_aggregate.go
  internal/api/core/network_details.go
  internal/api/core/network_test.go
  internal/session/manager_test.go
  internal/session/manager_test_support_test.go
  internal/session/manager_workspace.go
Due: format-go

fix: resolve workspace session profiles consistently
  internal/daemon/native_tools_test.go
  internal/daemon/tool_policy_resolver.go
Due: format-go

test: distinguish sandbox profile flags
  packages/site/lib/__tests__/runtime-autonomy-docs.test.ts
Due: turbo-lint

fix: align agent call publication contracts
  docs/qa/reports/2026-08-27-agent-comms.md
  docs/qa/scenarios/RT-agent-call-cancel.md
  docs/qa/scenarios/RT-call-record-terminal-states.md
  docs/qa/scenarios/RT-call-wake-delivery-exactly-once.md
  docs/qa/scenarios/RT-session-calls-inspector-panel.md
  internal/api/core/calls_errors.go
  internal/api/core/calls_handlers_test.go
  internal/daemon/calls_publish_bridge.go
  internal/daemon/calls_publish_bridge_test.go
  internal/daemon/daemon_agent_calls_e2e_integration_test.go
  internal/daemon/daemon_hosted_mcp_e2e_helpers_test.go
  internal/daemon/daemon_mock_agents_integration_test.go
  internal/daemon/harness_context_integration_test.go
  internal/testutil/acpmock/testdata/implement_tasks_fixture.json
Due: format-go

test: align runtime integration fixtures
  internal/extension/host_api_test.go
  internal/profile/manager_test.go
  internal/tools/dispatch_test.go
Due: format-go

fix: resolve final agent communications review
  .compozy/tasks/agent-comms/reviews/21-fable-final-review.md
  internal/tools/dispatch_test.go
  internal/tools/registry.go
  web/src/systems/agent-comms/components/__tests__/agent-calls-inspector-panel.test.tsx
  web/src/systems/agent-comms/components/agent-calls-inspector-panel.tsx
  web/src/systems/agent-comms/components/agent-calls-inspector-row.tsx
  web/src/systems/agent-comms/lib/__tests__/agent-comms-tree.test.ts
  web/src/systems/agent-comms/lib/__tests__/call-detail-view-model.test.ts
  web/src/systems/agent-comms/lib/call-row-who.ts
  web/src/systems/agent-comms/mocks/agent-comms-handlers.ts
  web/src/systems/agent-comms/mocks/fixtures.ts
  web/src/systems/session/components/session-calls-section.tsx
  web/src/systems/session/hooks/__tests__/use-session-calls-panel.test.tsx
  web/src/systems/session/hooks/use-session-calls-panel.ts
Due: turbo-lint, format-go

fix: resolve ci lint failures
  internal/api/core/calls_handlers.go
  internal/api/core/calls_mapping.go
  internal/api/spec/schema_customizers_calls.go
  internal/calls/activation.go
  internal/calls/cancel_recovery.go
  internal/calls/read.go
  internal/calls/runtime.go
  internal/calls/types.go
  internal/cli/calls_output.go
  internal/cli/skill_sources.go
  internal/daemon/native_call_tools.go
  packages/site/content/docs/configuration/config-toml.mdx
  packages/site/content/docs/extensions/develop.mdx
  packages/site/content/docs/extensions/permissions.mdx
Due: format-go

fix: reconcile runtime contracts after rebase
  internal/cli/local_database_test.go
  internal/daemon/auto_title_generator.go
  internal/daemon/auto_title_runtime_test.go
  internal/daemon/checkpoint_summary_summarizer.go
  internal/daemon/checkpoint_summary_summarizer_test.go
  internal/daemon/coordinator_runtime_session.go
  internal/daemon/memory_controller_tiebreaker.go
  internal/daemon/memory_extractor_fork.go
  internal/daemon/memory_runtime_test.go
  internal/daemon/native_tools_test.go
  internal/daemon/role_fallback.go
  internal/daemon/role_fallback_test.go
  internal/daemon/role_resolver_test.go
  internal/daemon/runtime_dream_dependencies.go
  internal/session/manager_create_prepare.go
  internal/session/manager_start_accept.go
  internal/store/globaldb/global_db_calls_migration_test.go
  internal/store/globaldb/global_db_session_scan.go
  internal/store/globaldb/schema/migrations/00103_schema.sql
  internal/store/globaldb/schema/migrations/atlas.sum
  internal/task/manager_test.go
  web/src/storybook/route-story-registry.ts
Due: turbo-lint, format-go

fix: split generation snapshot persistence
  internal/loop/generation_snapshot.go
  internal/loop/generation_snapshot_persistence.go
Due: format-go

fix: pin vercel bun version
  packages/site/vercel.json
Due: none

feat: support child Loop config overrides (#494)
  desktop/e2e/_electron/__tests__/shell.spec.ts
  docs/qa/charters/CH-author-child-loop-config.md
  docs/qa/reports/2026-08-26-child-loop-config-overrides-web.md
  docs/qa/reports/2026-08-26-child-loop-config-overrides.md
  docs/qa/reports/2026-08-27-pr-494-desktop-liveness.md
  docs/qa/scenarios/APP-agent-cli-app-verbs.md
  docs/qa/scenarios/LP-child-loop-config-overrides.md
  docs/qa/scenarios/LP-child-loop-config-web-authoring.md
  internal/cli/app.go
  internal/cli/app_control.go
  internal/cli/app_test.go
  internal/cli/app_types.go
  internal/daemon/loop_read_cli_e2e_integration_test.go
  internal/loop/action_runloop.go
  internal/loop/action_test.go
  internal/loop/coordinator_test.go
  internal/loop/dsl/node_params.go
  internal/loop/linter_actions.go
  internal/loop/linter_test.go
  internal/store/globaldb/global_db_goal_binding_integration_test.go
  internal/store/globaldb/global_db_task_runagent_cleanup.go
  packages/site/content/docs/loops/dsl-reference.mdx
  packages/site/content/docs/loops/reference-grammar.mdx
  skills/compozy/references/loops.md
  web/e2e/__tests__/attention.spec.ts
  web/e2e/__tests__/extensions.spec.ts
  web/e2e/__tests__/loops-graph-eng.spec.ts
  web/e2e/__tests__/os-shell.spec.ts
  web/e2e/__tests__/profiles.spec.ts
  web/e2e/__tests__/settings.spec.ts
  web/e2e/fixtures/navigation.ts
  web/e2e/fixtures/worktree-repo.ts
  web/src/systems/loops/components/__tests__/loop-editor.test.tsx
  web/src/systems/loops/lib/__tests__/loop-node-schema.test.ts
  web/src/systems/loops/lib/loop-node-fields.ts
Due: turbo-lint, format-go

test: strengthen extension-owned loop coverage
  docs/qa/charters/CH-loop-extension-owner-policy.md
  docs/qa/journeys/J-loop-extension-actions.md
  docs/qa/reports/2026-08-29-extension-owned-loop-tool-policy.md
  docs/qa/scenarios/LP-extension-owned-loop-tool-policy.md
  internal/daemon/loop_tool_schema_source_test.go
  internal/loop/coordinator_test.go
  packages/site/content/docs/loops/extensions.mdx
  skills/compozy/references/extension-authoring.md
Due: format-go

fix: allow extension loops to call owned tools
  docs/qa/scenarios/LP-extension-owned-loop-tool-policy.md
  internal/daemon/loop_api_catalog_test.go
  internal/daemon/loop_tool_schema_source.go
  internal/daemon/loop_tool_schema_source_test.go
  internal/daemon/task_runtime_boot_roles.go
  internal/daemon/tool_policy_resolver.go
  internal/extension/loop_resources_test.go
  internal/extension/manager_resource_loading.go
  internal/loop/compiler.go
  internal/loop/coordinator_action.go
  internal/loop/coordinator_snapshot_test.go
  internal/loop/coordinator_test.go
  internal/loop/executed_definition_hydrate.go
  internal/loop/executed_definition_snapshot.go
  internal/loop/resource_spec.go
  internal/loop/resource_spec_validation.go
  internal/tools/policy_resolver.go
  packages/site/content/docs/loops/extensions.mdx
  skills/compozy/references/extension-authoring.md
Due: format-go

test: align browser e2e with current flows
  web/e2e/__tests__/settings-hardening.spec.ts
  web/e2e/__tests__/worktrees.spec.ts
Due: turbo-lint

docs: update readme
  CLAUDE.md
  docs/_memory/standing_directives.md
  docs/qa/_seeds/final-qa/_master-qa-plan.md
Due: none

test: stabilize browser e2e transitions
  web/e2e/__tests__/loops-graph-eng.spec.ts
  web/e2e/__tests__/network.spec.ts
  web/e2e/__tests__/os-shell.spec.ts
Due: turbo-lint

test: isolate loop read approval fixture
  internal/daemon/loop_read_cli_e2e_integration_test.go
Due: format-go

fix: harden extension install and task drilldown
  internal/extension/registry_install.go
  internal/extension/registry_test.go
  web/e2e/__tests__/tasks.spec.ts
Due: turbo-lint, format-go

fix: retry extension lifecycle writes
  internal/extension/registry_lifecycle.go
  internal/extension/registry_test.go
Due: format-go

fix: allow extension loops to call owned tools (#503)
  docs/qa/charters/CH-loop-extension-owner-policy.md
  docs/qa/journeys/J-loop-extension-actions.md
  docs/qa/reports/2026-08-29-extension-owned-loop-tool-policy.md
  docs/qa/scenarios/LP-extension-owned-loop-tool-policy.md
  internal/daemon/loop_api_catalog_test.go
  internal/daemon/loop_read_cli_e2e_integration_test.go
  internal/daemon/loop_tool_schema_source.go
  internal/daemon/loop_tool_schema_source_test.go
  internal/daemon/task_runtime_boot_roles.go
  internal/daemon/tool_policy_resolver.go
  internal/extension/loop_resources_test.go
  internal/extension/manager_resource_loading.go
  internal/extension/registry_install.go
  internal/extension/registry_lifecycle.go
  internal/extension/registry_test.go
  internal/loop/compiler.go
  internal/loop/coordinator_action.go
  internal/loop/coordinator_snapshot_test.go
  internal/loop/coordinator_test.go
  internal/loop/executed_definition_hydrate.go
  internal/loop/executed_definition_snapshot.go
  internal/loop/resource_spec.go
  internal/loop/resource_spec_validation.go
  internal/tools/policy_resolver.go
  packages/site/content/docs/loops/extensions.mdx
  skills/compozy/references/extension-authoring.md
  web/e2e/__tests__/loops-graph-eng.spec.ts
  web/e2e/__tests__/network.spec.ts
  web/e2e/__tests__/os-shell.spec.ts
  web/e2e/__tests__/settings-hardening.spec.ts
  web/e2e/__tests__/tasks.spec.ts
  web/e2e/__tests__/worktrees.spec.ts
Due: turbo-lint, format-go

fix: honor selected orchestrated implementer (#502)
  .compozy/loops/implement-tasks/loop.yaml
  docs/qa/charters/CH-implement-tasks-orchestrated-mode.md
  docs/qa/reports/2026-08-28-pr-502-orchestrated-implementer.md
  docs/qa/scenarios/LP-implement-tasks-orchestrated-mode.md
  extensions/spec-cycle/agents/orchestrator/AGENT.md
  extensions/spec-cycle/embed_test.go
  extensions/spec-cycle/loops/implement-tasks/loop.yaml
  extensions/spec-cycle/skills/cy-orchestrate-tasks/SKILL.md
  internal/daemon/daemon_implement_tasks_e2e_integration_test.go
  internal/testutil/acpmock/testdata/implement_tasks_fixture.json
  packages/site/content/docs/examples/implement-tasks-loop.mdx
  skills/compozy/references/loops.md
  web/src/systems/loops/mocks/fixture-implement-tasks.ts
Due: turbo-lint, format-go

docs: format extension permissions table
  packages/site/content/docs/extensions/permissions.mdx
Due: none

fix: register task run result tool metadata
  internal/toolmeta/native_entries.go
  internal/toolmeta/registry_test.go
Due: format-go

fix: include sessions route in packaged web assets
  docs/qa/reports/2026-08-31-session-final-delete-route.md
  docs/qa/scenarios/RT-014.md
  go.mod
  go.sum
Due: none

fix: persist transcript markers before terminal events
  docs/qa/scenarios/RT-session-lifecycle-affordances.md
  internal/session/manager_prompt_event_observation.go
  internal/session/manager_prompt_lifetime_test.go
Due: format-go
