Repository compozy/compozy: changes, and which pre-commit hooks are due for each by the changed paths.
All: turbo-lint, format-go

turbo-lint:
  name: turbo lint
  description: Run linting via Turborepo
  entry: bun run lint
  language: system
  pass_filenames: false

format-go:
  name: format go
  description: Format Go files using make fmt
  entry: make fmt
  language: system
  pass_filenames: false

refactor: split the automation form into readable pieces
  web/src/systems/automation/components/automation-form/automation-form-parts.tsx
  web/src/systems/automation/components/automation-form/automation-form.tsx
  web/src/systems/automation/components/automation-form/only-if/condition-row.tsx
  web/src/systems/automation/hooks/use-automation-form.ts
  web/src/systems/automation/hooks/use-automation-options-fold.ts
  web/src/systems/automation/lib/automation-form-edits.ts
Due: turbo-lint

test: open the cron expression behind the schedule builder when editing
  web/e2e/__tests__/automation.spec.ts
  web/e2e/__tests__/jobs-hardening.spec.ts
Due: turbo-lint

fix: keep importing version 4 layout exports in Settings
  web/src/systems/settings/hooks/use-window-manager-layout-editor.ts
  web/src/systems/settings/lib/__tests__/window-manager-layout-import.test.ts
  web/src/systems/settings/lib/window-manager-layout-import.ts
Due: turbo-lint

fix: name blank-titled task automations after the job
  web/src/systems/automation/lib/__tests__/automation-sentence.test.ts
  web/src/systems/automation/lib/automation-sentence.ts
Due: turbo-lint

fix: tell the truth in the automations footer, refreshes and deletes
  web/src/systems/automation/index.ts
  web/src/systems/os/apps/automation/__tests__/use-automations-page.test.tsx
  web/src/systems/os/apps/automation/use-automation-lists.ts
  web/src/systems/os/apps/automation/use-automations-editor.ts
  web/src/systems/os/apps/automation/use-automations-page.ts
  web/src/systems/os/apps/automations/__tests__/automations-catalog-location.test.tsx
  web/src/systems/os/apps/automations/automations-catalog-location.tsx
  web/src/systems/os/apps/automations/automations-catalog-parts.tsx
Due: turbo-lint

fix: keep listing filters when a legacy detail route is rewritten
  internal/windowmanager/testdata/retired_app_routes.json
  web/src/systems/automation/lib/automation-redirects.ts
  web/src/systems/settings/lib/__tests__/window-manager-layout-import.test.ts
Due: turbo-lint

fix: refresh session usage during native compaction
  docs/_memory/change-impact.md
  docs/qa/scenarios/ET-web-session-context-meter.md
  internal/api/core/session_stream_internal_test.go
  internal/api/core/session_stream_usage.go
Due: format-go

docs: update QA scenarios for the shipped Web compaction UI and review-round fixes
  docs/qa/charters/CH-crash-resume-compaction.md
  docs/qa/scenarios/ET-cli-session-usage-context.md
  docs/qa/scenarios/ET-retired-product-surfaces-absent.md
  docs/qa/scenarios/ET-session-compact-now.md
  docs/qa/scenarios/ET-web-desktop-shell-lifecycle.md
  docs/qa/scenarios/ET-web-session-context-meter.md
  docs/qa/scenarios/ET-web-session-context-sidebar.md
  docs/qa/scenarios/MS-workspace-checkpoint-continuity.md
  docs/qa/scenarios/RT-conversation-rewind.md
  docs/qa/scenarios/RT-pressure-context-compaction.md
  docs/qa/scenarios/RT-session-compact-real-adapters.md
  docs/qa/scenarios/RT-session-context-rebuild.md
  docs/qa/scenarios/RT-upgrade-memory-removal-home.md
Due: none

docs: reconcile guides, site docs, and skill with review-round fixes
  .release-notes/retire-memory-and-session-compaction-1791433138.md
  MIGRATION_GUIDE.md
  docs/_memory/change-impact.md
  packages/site/content/docs/configuration/agent-md.mdx
  packages/site/content/docs/configuration/config-toml.mdx
  packages/site/content/docs/configuration/file-locations.mdx
  packages/site/content/docs/configuration/skill-md.mdx
  packages/site/content/docs/extensions/manifest.mdx
  packages/site/content/docs/hooks/declaration.mdx
  packages/site/content/docs/loops/goal-node.mdx
  packages/site/content/docs/loops/goals.mdx
  packages/site/content/docs/migration/index.mdx
  packages/site/content/docs/operations/troubleshooting.mdx
  packages/site/content/docs/sessions/compaction.mdx
  packages/site/content/docs/sessions/control-plane.mdx
  packages/site/content/docs/sessions/events.mdx
  packages/site/content/docs/sessions/lifecycle.mdx
  packages/site/content/docs/sessions/resume.mdx
  packages/site/content/docs/tools/toolsets.mdx
  packages/site/content/docs/workspaces/config-overlays.mdx
  packages/site/content/docs/workspaces/resolver.mdx
  packages/site/content/docs/workspaces/window-management.mdx
  skills/compozy/references/configuration.md
  skills/compozy/references/extension-authoring.md
  skills/compozy/references/extensions.md
  skills/compozy/references/loops.md
  skills/compozy/references/native-tools.md
  skills/compozy/references/runtime-operations.md
  skills/compozy/references/window-management.md
Due: none

docs: scope the non-fatal archive wording and register the Compact now failure copy
  COPY.md
  MIGRATION_GUIDE.md
  packages/site/content/docs/migration/index.mdx
Due: none

docs: describe tool-invoke 409 compact refusals, first-terminal semantics, and usage refresh events
  docs/qa/scenarios/ET-cli-session-usage-context.md
  docs/qa/scenarios/ET-session-compact-now.md
  packages/site/content/docs/sessions/compaction.mdx
  packages/site/content/docs/sessions/control-plane.mdx
  packages/site/content/docs/sessions/events.mdx
  skills/compozy/references/native-tools.md
  skills/compozy/references/runtime-operations.md
Due: none

docs: note that compaction events refresh session usage
  packages/site/content/docs/sessions/compaction.mdx
  skills/compozy/references/runtime-operations.md
Due: none

fix: retain ordered completion when restoring archived transcripts
  docs/_memory/change-impact.md
  docs/qa/scenarios/RT-upgrade-memory-removal-home.md
  internal/store/sessiondb/queries/transcript_compaction_upgrade.sql
  internal/store/sessiondb/session_db_integration_test.go
  internal/store/sessiondb/sqlcgen/transcript_compaction_upgrade.sql.go
  internal/store/sessiondb/transcript_projection_compaction_upgrade.go
Due: format-go

fix: preserve replay consumption and public compaction refusals
  docs/_memory/change-impact.md
  docs/qa/scenarios/ET-session-compact-now.md
  docs/qa/scenarios/RT-session-context-rebuild.md
  internal/api/core/tool_errors.go
  internal/api/spec/tool_schema_enums.go
  internal/api/udsapi/hosted_mcp_test.go
  internal/daemon/bounded_rebuild_integration_test.go
  internal/daemon/native_compaction_integration_test.go
  internal/daemon/tools_transport_parity_test.go
  internal/session/derive_test.go
  internal/session/manager_resume_test.go
  internal/session/manager_start_launch.go
  internal/session/manager_start_launch_accepted.go
  internal/session/resume_replay.go
  openapi/compozy.json
  web/src/generated/compozy-openapi.d.ts
Due: turbo-lint, format-go

feat: expose authoritative after-compaction context readings
  docs/_memory/change-impact.md
  docs/qa/scenarios/ET-cli-session-usage-context.md
  internal/api/contract/session_context.go
  internal/api/core/handlers_test.go
  internal/api/core/session_context.go
  internal/api/core/session_context_payload.go
  internal/api/spec/schema_customizers.go
  internal/api/spec/spec_test.go
  internal/cli/session_test.go
  internal/cli/session_usage_context.go
  internal/cli/session_usage_toon.go
  internal/cli/session_usage_turns.go
  internal/session/contextusage/contextusage_test.go
  internal/session/contextusage/derive.go
  internal/session/contextusage/types.go
  internal/session/query_context_usage.go
  internal/session/query_test.go
  openapi/compozy.json
  skills/compozy/references/runtime-operations.md
  web/src/generated/compozy-openapi.d.ts
Due: turbo-lint, format-go

feat: render marker before to after and the compaction cause from the daemon
  COPY.md
  web/src/systems/os/apps/session/use-session-window-controller.tsx
  web/src/systems/session/components/__tests__/session-inspector.test.tsx
  web/src/systems/session/components/session-context-turns-section.tsx
  web/src/systems/session/components/stories/session-inspector.stories.tsx
  web/src/systems/session/hooks/__tests__/use-sessions.test.tsx
  web/src/systems/session/hooks/use-session-context.ts
  web/src/systems/session/lib/session-context-view.ts
  web/src/systems/session/lib/session-context.ts
  web/src/systems/session/mocks/context-fixtures.ts
Due: turbo-lint

fix: ignore failed attempts when restoring archived transcript metadata
  docs/_memory/change-impact.md
  docs/qa/scenarios/RT-upgrade-memory-removal-home.md
  internal/store/sessiondb/queries/transcript_compaction_upgrade.sql
  internal/store/sessiondb/session_db_integration_test.go
  internal/store/sessiondb/sqlcgen/transcript_compaction_upgrade.sql.go
Due: format-go

fix: preserve historical ownership during transcript restoration
  docs/_memory/change-impact.md
  docs/qa/scenarios/RT-upgrade-memory-removal-home.md
  internal/store/sessiondb/queries/transcript_compaction_upgrade.sql
  internal/store/sessiondb/session_db_integration_test.go
  internal/store/sessiondb/sqlcgen/transcript_compaction_upgrade.sql.go
  internal/store/sessiondb/transcript_projection_compaction_upgrade.go
Due: format-go

fix: bound every recovered prompt and document inactive compact refusals
  docs/_memory/change-impact.md
  docs/qa/scenarios/ET-session-compact-now.md
  docs/qa/scenarios/RT-acp-automatic-recovery.md
  internal/api/httpapi/handlers_test.go
  internal/api/spec/registry_session_compact.go
  internal/api/spec/spec_test.go
  internal/api/udsapi/handlers_test.go
  internal/session/manager_prompt_lifetime_test.go
  internal/session/manager_prompt_recovery.go
  internal/session/manager_prompt_state.go
  internal/session/manager_prompt_submit.go
  openapi/compozy.json
  web/src/generated/compozy-openapi.d.ts
Due: turbo-lint, format-go

fix: keep Compact now disabled during a stalled active prompt
  web/src/systems/session/components/__tests__/session-inspector.test.tsx
  web/src/systems/session/components/session-context-compact-action.tsx
  web/src/systems/session/lib/session-compaction.ts
  web/src/systems/session/lib/session-running.ts
Due: turbo-lint

fix: resolve lint findings from the memory-removal integration
  internal/api/contract/contract_test.go
  internal/api/core/settings_test.go
  internal/api/core/status.go
  internal/api/core/status_mcp.go
  internal/api/httpapi/handlers_test.go
  internal/api/spec/spec_test.go
  internal/api/udsapi/handlers_test.go
  internal/store/globaldb/global_db_trigger_event_migration_test.go
  internal/windowmanager/reconcile.go
  internal/windowmanager/snapshot_v3_test.go
Due: format-go

fix: accept a null delivery spans list so the compaction reply is not dropped
  web/src/components/assistant-ui/__tests__/session-thread.test.tsx
  web/src/systems/session/lib/message-schemas.ts
  web/src/systems/session/types.ts
Due: turbo-lint

test: align runtime transport fixtures with memory retirement
  docs/_memory/change-impact.md
  internal/api/udsapi/transport_parity_integration_test.go
Due: format-go

fix: take the final prompt usage after late notifications and bound compaction state
  internal/acp/agent_process.go
  internal/acp/client_prompt.go
  internal/acp/client_prompt_contract_test.go
  internal/acp/client_test_support_test.go
  internal/acp/compaction.go
  internal/acp/handlers_test.go
Due: format-go

fix: keep empty prompt delivery spans as an array
  internal/acp/prompt_manifest.go
  internal/transcript/redaction.go
  internal/transcript/transcript_codec_contract_test.go
Due: format-go

test: seed retired layout state before the browser upgrade restart
  docs/_memory/change-impact.md
  docs/qa/scenarios/RT-upgrade-memory-removal-home.md
  web/e2e/__tests__/os-shell.spec.ts
  web/e2e/fixtures/retired-knowledge-window-seeder/main.go
  web/e2e/fixtures/retired-knowledge-window.ts
Due: turbo-lint, format-go

fix: align memory-removal with the merged Automations window
  skills/compozy/references/runtime-operations.md
  web/src/routes/_app/__tests__/-route-preloading.integration.test.tsx
  web/src/systems/os/components/__tests__/os-dock.test.tsx
Due: turbo-lint

perf: read compaction lifecycle through indexed event types
  internal/session/manager_compaction_observation.go
Due: format-go

perf: restore archived transcript entries from one ordered replay
  internal/store/sessiondb/queries/transcript_compaction_upgrade.sql
  internal/store/sessiondb/session_db_integration_test.go
  internal/store/sessiondb/sqlcgen/transcript_compaction_upgrade.sql.go
  internal/store/sessiondb/transcript_projection_compaction_upgrade.go
Due: format-go

fix: restore the automation palette test lost in the rebase and format the rule card
  web/src/systems/automation/components/automation-detail/automation-rule-card.tsx
  web/src/systems/os/lib/__tests__/os-palette-domain-search.test.ts
Due: turbo-lint

test: count the 11-window envelope after Automations and Knowledge changes
  web/e2e/__tests__/os-shell.spec.ts
Due: turbo-lint

docs: subagents design set
  docs/design/opendesign/subagents/DESIGN-NOTES.md
  docs/design/opendesign/subagents/assets/claude.svg
  docs/design/opendesign/subagents/assets/openai.svg
  docs/design/opendesign/subagents/index.html
  docs/design/opendesign/subagents/index.html.artifact.json
  docs/design/opendesign/subagents/subagents-composer.html
  docs/design/opendesign/subagents/subagents-composer.html.artifact.json
  docs/design/opendesign/subagents/subagents-navigation.html
  docs/design/opendesign/subagents/subagents-navigation.html.artifact.json
  docs/design/opendesign/subagents/subagents-transcript.html
  docs/design/opendesign/subagents/subagents-transcript.html.artifact.json
  docs/design/opendesign/subagents/subagents.css
  docs/design/opendesign/subagents/subagents.js
Due: turbo-lint

feat: subagent store and service contracts
  internal/session/subagent_types.go
  internal/store/session_subagents.go
Due: format-go

feat: subagent update subscription contract
  internal/session/subagent_types.go
Due: format-go

feat: durable pending task and reserved-row deletion in subagent store port
  internal/store/session_subagents.go
Due: format-go

feat: add subagent API contracts and generated client
  internal/api/contract/session_runtime_payloads.go
  internal/api/contract/session_transcript.go
  internal/api/contract/subagents.go
  internal/api/spec/operation_registry.go
  internal/api/spec/session_catalog.go
  internal/api/spec/subagents.go
  openapi/compozy.json
  web/src/generated/compozy-openapi.d.ts
Due: turbo-lint, format-go

feat: hover card primitive
  packages/ui/src/components/__tests__/hover-card.test.tsx
  packages/ui/src/components/hover-card.tsx
  packages/ui/src/components/stories/hover-card.stories.tsx
  packages/ui/src/primitives.ts
Due: turbo-lint

docs: teach the subagent protocol in the official skill
  skills/compozy/SKILL.md
  skills/compozy/references/native-tools.md
  skills/compozy/references/runtime-operations.md
  skills/compozy/references/tasks-and-orchestration.md
Due: none

Path conditions:
  turbo-lint: any of: \.(js|jsx|ts|tsx)$, but not: (?x)^(
  CHANGELOG.md|
  tools/.*/package\.json|
  bun.lockb|
  node_modules|
)$

  format-go: any of: \.go$, but not: (?x)^(
  CHANGELOG.md|
  tools/.*/package\.json|
  bun.lockb|
  node_modules|
)$

