Repository compozy/compozy: changes, and which pre-commit hooks are due for each by the changed paths.
All: turbo-lint, format-go

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit

default_stages:
  - pre-commit

exclude: |
  (?x)^(
    CHANGELOG.md|
    tools/.*/package\.json|
    bun.lockb|
    node_modules|
  )$

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      # - id: trailing-whitespace
      #   args:
      #     - --no-utf8-locale
      - id: end-of-file-fixer
        exclude: '^(CHANGELOG\.md|tools/.*/package\.json|bun\.lockb|node_modules/)'
      - id: check-json
        exclude: '^(tools/.*/package\.json|node_modules/)'
      - id: check-toml
      - id: check-added-large-files
        args:
          - --maxkb=3000
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: detect-private-key
  - repo: local
    hooks:
      - id: turbo-lint
        name: turbo lint
        description: Run linting via Turborepo
        entry: bun run lint
        language: system
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false
      # - id: turbo-type-check
      #   name: turbo type check
      #   description: Run TypeScript checking via Turborepo
      #   entry: bun run type-check
      #   language: system
      #   files: \.(ts|tsx)$
      #   pass_filenames: false
      - id: format-go
        name: format go
        description: Format Go files using make fmt
        entry: make fmt
        language: system
        files: \.go$
        pass_filenames: false
  - repo: https://github.com/lyz-code/yamlfix/
    rev: 1.17.0
    hooks:
      - id: yamlfix
        args:
          - -c
          - .yamlfix.toml
        exclude: ^cluster/.*$

docs: add Subagent to the glossary and COPY.md
  COPY.md
  docs/_memory/glossary.md
Due: none

docs: add the Delegate to subagents site tutorial
  packages/site/content/docs/autonomy/safe-spawn.mdx
  packages/site/content/docs/configuration/config-toml.mdx
  packages/site/content/docs/hooks/event-catalog.mdx
  packages/site/content/docs/sessions/index.mdx
  packages/site/content/docs/sessions/meta.json
  packages/site/content/docs/sessions/orchestration.mdx
  packages/site/content/docs/sessions/subagents.mdx
Due: none

docs: add subagent QA scenarios and flag the sidebar scenario
  docs/qa/scenarios/ET-web-native-subagent.md
  docs/qa/scenarios/ET-web-session-sidebar-threads.md
  docs/qa/scenarios/ET-web-subagent-card.md
  docs/qa/scenarios/RT-subagent-delegate.md
  docs/qa/scenarios/RT-subagent-restart.md
Due: none

docs: record the subagents cross-surface impact
  docs/_memory/change-impact.md
Due: none

feat: subagent presentational components
  web/src/systems/session/components/subagents/__tests__/subagent-components.test.tsx
  web/src/systems/session/components/subagents/__tests__/subagent-format.test.ts
  web/src/systems/session/components/subagents/session-inspector-subagents-section.tsx
  web/src/systems/session/components/subagents/subagent-avatar.tsx
  web/src/systems/session/components/subagents/subagent-card.tsx
  web/src/systems/session/components/subagents/subagent-chip.tsx
  web/src/systems/session/components/subagents/subagent-elapsed.tsx
  web/src/systems/session/components/subagents/subagent-format.ts
  web/src/systems/session/components/subagents/subagent-group.tsx
  web/src/systems/session/components/subagents/subagent-hover-content.tsx
  web/src/systems/session/components/subagents/subagent-origin-divider.tsx
  web/src/systems/session/components/subagents/subagent-row-trail.tsx
  web/src/systems/session/components/subagents/subagent-waiting-banner.tsx
  web/src/systems/session/components/subagents/types.ts
  web/src/systems/session/components/subagents/use-subagent-elapsed-ticker.ts
  web/src/systems/session/components/subagents/use-subagent-stop.ts
Due: turbo-lint

feat: preserve native subagent attribution in transcripts
  internal/acp/agent_event_provider.go
  internal/acp/agent_event_tool.go
  internal/acp/agent_process_prompt.go
  internal/acp/handlers_session_update.go
  internal/acp/handlers_test.go
  internal/acp/testdata/claude_agent_subagent.jsonl
  internal/acp/testdata/claude_agent_subagent.md
  internal/session/additional_test.go
  internal/session/native_subagent_event.go
  internal/subagentid/id.go
  internal/transcript/agent_event_codec.go
  internal/transcript/canonical_payload.go
  internal/transcript/redaction.go
  internal/transcript/subagent_replay_integration_test.go
  internal/transcript/transcript_codec_contract_test.go
  internal/transcript/transcript_ui_projection_test.go
  internal/transcript/ui_agent_event_payload.go
  internal/transcript/ui_messages.go
  internal/transcript/ui_messages_subagent.go
  internal/transcript/ui_messages_tool.go
  openapi/compozy.json
  web/src/generated/compozy-openapi.d.ts
Due: turbo-lint, format-go

test: assert subagent CLI exit codes
  internal/cli/session_test.go
Due: format-go

feat: persist subagents and transactional wake delivery
  internal/session/inputqueue/queue.go
  internal/session/synthetic_prompt.go
  internal/session/synthetic_prompt_queue.go
  internal/store/globaldb/global_db_session.go
  internal/store/globaldb/global_db_session_archive.go
  internal/store/globaldb/global_db_session_input_queue.go
  internal/store/globaldb/global_db_session_input_queue_scan.go
  internal/store/globaldb/global_db_session_page.go
  internal/store/globaldb/global_db_session_subagents.go
  internal/store/globaldb/global_db_session_subagents_delivery.go
  internal/store/globaldb/global_db_session_subagents_list.go
  internal/store/globaldb/global_db_session_subagents_mapping.go
  internal/store/globaldb/global_db_session_subagents_wakes.go
  internal/store/globaldb/queries/session_input.sql
  internal/store/globaldb/queries/session_subagents.sql
  internal/store/globaldb/schema/definitions/20_sessions.sql
  internal/store/globaldb/schema/migrations/00131_session_subagents.sql
  internal/store/globaldb/schema/migrations/atlas.sum
  internal/store/globaldb/sqlcgen/models.go
  internal/store/globaldb/sqlcgen/session_input.sql.go
  internal/store/globaldb/sqlcgen/session_subagents.sql.go
  internal/store/session_catalog.go
  internal/store/session_catalog_page.go
  internal/store/session_input_queue.go
  internal/store/types_session.go
Due: format-go

test: cover durable subagent storage and queue recovery
  internal/session/manager_synthetic_prompt_test.go
  internal/store/globaldb/global_db_session_index_test.go
  internal/store/globaldb/global_db_session_input_queue_test.go
  internal/store/globaldb/global_db_session_subagents_test.go
Due: format-go

feat: subagent stories and roster previous trigger
  web/src/systems/session/components/subagents/session-inspector-subagents-section.tsx
  web/src/systems/session/components/subagents/stories/subagent-hover-content.stories.tsx
  web/src/systems/session/components/subagents/stories/subagent-navigation.stories.tsx
  web/src/systems/session/components/subagents/stories/subagent-story-fixtures.ts
  web/src/systems/session/components/subagents/stories/subagent-transcript.stories.tsx
  web/src/systems/session/components/subagents/stories/subagent-waiting-banner.stories.tsx
Due: turbo-lint

refactor: split subagent card mode and body
  web/src/systems/session/components/subagents/subagent-card.tsx
Due: turbo-lint

feat: add subagent configuration and hook contracts
  docs/qa/scenarios/MS-layered-config-write-truth.md
  docs/qa/scenarios/RT-session-spawn-wake.md
  internal/config/config_extensions.go
  internal/config/config_test.go
  internal/config/config_validation.go
  internal/config/defaults.go
  internal/config/lifecycle/lifecycle.go
  internal/config/merge_overlay.go
  internal/config/subagents.go
  internal/config/tool_surface.go
  internal/extension/contract/sdk_named_types.go
  internal/hooks/async_clone_payload.go
  internal/hooks/events.go
  internal/hooks/events_test.go
  internal/hooks/introspection_descriptors.go
  internal/hooks/introspection_test.go
  internal/hooks/payloads_spawn.go
  internal/hooks/payloads_subagent.go
  internal/hooks/payloads_test.go
  packages/site/content/docs/configuration/config-toml.mdx
  packages/site/content/docs/configuration/lifecycle-matrix.mdx
  packages/site/content/docs/hooks/event-catalog.mdx
  sdk/go/contracts/hook_contracts_gen.go
  sdk/go/contracts/hook_events_gen.go
  sdk/go/contracts/types_019_gen.go
  sdk/go/contracts/types_020_gen.go
  sdk/go/contracts/types_021_gen.go
  sdk/go/contracts/types_022_gen.go
  sdk/go/contracts/types_023_gen.go
  sdk/go/contracts/types_024_gen.go
  sdk/go/contracts/types_025_gen.go
  sdk/go/contracts/types_026_gen.go
  sdk/typescript/src/generated/contracts.ts
Due: turbo-lint, format-go

feat: expose subagent native tools and situation context
  docs/qa/scenarios/ET-compozy-native-tool-invocation.md
  internal/daemon/boot.go
  internal/daemon/native_tool_bindings.go
  internal/daemon/native_tool_dependencies.go
  internal/daemon/native_tool_subagent_bindings.go
  internal/daemon/native_tool_subagent_input.go
  internal/daemon/native_tool_subagent_permissions.go
  internal/daemon/native_tool_subagent_results.go
  internal/daemon/native_tools_dependencies_builder.go
  internal/daemon/native_tools_test.go
  internal/mcp/hosted_proxy.go
  internal/mcp/hosted_proxy_test.go
  internal/session/subagent_types.go
  internal/situation/render.go
  internal/situation/service.go
  internal/situation/service_context.go
  internal/situation/service_test.go
  internal/situation/subagents.go
  internal/toolmeta/native_entries.go
  internal/toolmeta/registry_test.go
  internal/tools/builtin/builtin_test.go
  internal/tools/builtin/descriptors.go
  internal/tools/builtin/subagents.go
  internal/tools/builtin/subagents_output_schemas.go
  internal/tools/builtin/subagents_schemas.go
  internal/tools/builtin/testdata/native-tool-catalog.json
  internal/tools/builtin/toolsets.go
  internal/tools/builtin_ids_subagents.go
  internal/tools/dispatch_events.go
  internal/tools/dispatch_test.go
  internal/tools/schema.go
  internal/tools/subagent_input_error.go
  internal/tools/tool.go
Due: format-go

build: regenerate OpenAPI and web client after slice merge
  openapi/compozy.json
  web/src/generated/compozy-openapi.d.ts
Due: turbo-lint

feat: update live subagent state and rewrite queued wakes
  internal/store/globaldb/global_db_session_subagents.go
  internal/store/globaldb/global_db_session_subagents_test.go
  internal/store/globaldb/global_db_session_subagents_wakes.go
  internal/store/globaldb/queries/session_subagents.sql
  internal/store/globaldb/sqlcgen/session_subagents.sql.go
  internal/store/session_subagents.go
Due: format-go

feat: add subagent list and cancel web adapters
  web/src/systems/session/adapters/subagent-api.ts
  web/src/systems/session/lib/subagent-payload.ts
Due: turbo-lint

feat: feed the subagent roster from the session stream
  web/src/systems/session/components/subagents/__tests__/subagent-components.test.tsx
  web/src/systems/session/components/subagents/__tests__/subagent-format.test.ts
  web/src/systems/session/components/subagents/stories/subagent-hover-content.stories.tsx
  web/src/systems/session/components/subagents/stories/subagent-story-fixtures.ts
  web/src/systems/session/components/subagents/stories/subagent-transcript.stories.tsx
  web/src/systems/session/components/subagents/types.ts
  web/src/systems/session/hooks/__tests__/use-session-live-tail.test.tsx
  web/src/systems/session/hooks/session-live-tail-runtime.ts
  web/src/systems/session/hooks/session-stream-source.ts
  web/src/systems/session/lib/__tests__/subagent-roster.test.ts
  web/src/systems/session/lib/query-keys.ts
  web/src/systems/session/lib/query-options.ts
  web/src/systems/session/lib/subagent-roster.ts
  web/src/systems/session/types.ts
Due: turbo-lint

refactor: open sessions by id from the window sidebar
  web/src/systems/os/apps/session/use-session-window-sidebar.ts
Due: turbo-lint

feat: wire subagent contracts and provider-native lifecycle
  internal/daemon/boot_components.go
  internal/daemon/runtime_dependencies.go
  internal/daemon/subagent_integration_test.go
  internal/daemon/subagent_reactor.go
  internal/session/manager_prompt_delivery.go
  internal/session/subagent_delegate.go
  internal/session/subagent_finalize.go
  internal/session/subagent_native.go
  internal/session/subagent_request.go
  internal/session/subagent_runtime.go
  internal/session/subagent_service.go
  internal/session/subagent_service_test.go
  internal/session/subagent_target.go
  internal/session/subagent_test_support_test.go
  internal/testutil/acpmock/cmd/acpmock-driver/diagnostics.go
  internal/testutil/acpmock/cmd/acpmock-driver/main.go
  internal/testutil/acpmock/fixture_types.go
Due: format-go

feat: wire subagent cards, divider, banner and agent count to the roster
  web/src/components/assistant-ui/hooks/use-assistant-message-timeline.ts
  web/src/components/assistant-ui/hooks/use-session-composer-controller.ts
  web/src/components/assistant-ui/session-composer.tsx
  web/src/components/assistant-ui/session-subagent-banner.tsx
  web/src/components/assistant-ui/session-subagent-row.tsx
  web/src/components/assistant-ui/session-thread-messages.tsx
  web/src/components/assistant-ui/session-thread-status-row.tsx
  web/src/components/assistant-ui/session-thread.tsx
  web/src/components/assistant-ui/session-timeline-render.tsx
  web/src/systems/os/apps/session/session-window-content.tsx
  web/src/systems/os/apps/session/use-session-window-derive.ts
  web/src/systems/session/components/session-thinking-row.tsx
  web/src/systems/session/components/subagents/subagent-group.tsx
  web/src/systems/session/contexts/session-subagents-context-value.ts
  web/src/systems/session/contexts/session-subagents-provider.tsx
  web/src/systems/session/hooks/use-session-subagents.ts
  web/src/systems/session/hooks/use-subagent-origin.ts
  web/src/systems/session/hooks/use-subagent-roster.ts
  web/src/systems/session/lib/session-origin.ts
  web/src/systems/session/lib/session-working-status.ts
Due: turbo-lint

feat: project subagent cards, groups and native nesting in the timeline
  web/src/components/assistant-ui/__tests__/session-timeline.logic.test.ts
  web/src/components/assistant-ui/session-live-tool-row.tsx
  web/src/components/assistant-ui/session-row-equality.ts
  web/src/components/assistant-ui/session-timeline-fold.ts
  web/src/components/assistant-ui/session-timeline-reveal.ts
  web/src/components/assistant-ui/session-timeline-subagents.ts
  web/src/components/assistant-ui/session-timeline-summary.ts
  web/src/components/assistant-ui/session-timeline-work.ts
  web/src/components/assistant-ui/session-timeline.logic.ts
  web/src/components/assistant-ui/timeline-row-estimates.ts
  web/src/systems/session/lib/__tests__/tool-labels.test.ts
  web/src/systems/session/lib/session-thread-repository.ts
  web/src/systems/session/lib/session-timeline-parts.ts
  web/src/systems/session/lib/subagent-roster.ts
  web/src/systems/session/lib/timeline-message-parts.ts
  web/src/systems/session/lib/tool-labels.ts
Due: turbo-lint

feat: summarize subagents on the sidebar parent row
  web/src/systems/session/components/__tests__/session-list.test.tsx
  web/src/systems/session/components/session-badge-mark.tsx
  web/src/systems/session/components/session-list/session-list-row.tsx
  web/src/systems/session/components/session-list/session-list-subagent-chip.tsx
  web/src/systems/session/components/session-list/session-list.tsx
  web/src/systems/session/components/session-row-actions.tsx
  web/src/systems/session/components/session-sidebar.tsx
  web/src/systems/session/components/subagents/subagent-chip.tsx
  web/src/systems/session/hooks/__tests__/use-session-catalog-streams.test.tsx
  web/src/systems/session/hooks/__tests__/use-workspace-session-groups.test.tsx
  web/src/systems/session/hooks/use-session-catalog-streams.ts
  web/src/systems/session/hooks/use-session-inspector-focus.ts
  web/src/systems/session/hooks/use-session-lifecycle-actions.ts
  web/src/systems/session/hooks/use-session-list-view.ts
  web/src/systems/session/hooks/use-session-selection.ts
  web/src/systems/session/hooks/use-session-subagents.ts
  web/src/systems/session/hooks/use-workspace-session-groups.ts
  web/src/systems/session/lib/query-keys.ts
  web/src/systems/session/lib/session-catalog-options.ts
  web/src/systems/session/lib/session-hierarchy.ts
  web/src/systems/session/lib/session-list-preferences.ts
  web/src/systems/session/lib/session-subagent-summary.ts
  web/src/systems/session/lib/subagent-query-options.ts
Due: turbo-lint

feat: mount the subagents roster in the session inspector
  web/src/systems/os/apps/session/session-window-content.tsx
  web/src/systems/session/components/__tests__/session-inspector.test.tsx
  web/src/systems/session/components/session-inspector-subagents.tsx
  web/src/systems/session/components/session-inspector.tsx
Due: turbo-lint

fix: preserve subagent result and error boundaries
  internal/session/prompt_cancel.go
  internal/session/subagent_delegate.go
  internal/session/subagent_runtime.go
  internal/session/subagent_service_test.go
  internal/session/subagent_target.go
  internal/session/transcript_test.go
Due: format-go

refactor: pass subagent contexts through the session thread
  web/src/components/assistant-ui/session-thread.tsx
  web/src/systems/os/apps/session/session-window-content.tsx
Due: turbo-lint

test: cover subagent drill-in, banner, origin and agent count wiring
  web/src/components/assistant-ui/__tests__/session-subagent-wiring.test.tsx
  web/src/systems/session/lib/__tests__/session-working-status.test.ts
Due: turbo-lint

test: add the subagent sidebar navigation E2E journey
  internal/testutil/acpmock/testdata/browser_subagents_navigation_fixture.json
  web/e2e/__tests__/session-subagents-navigation.spec.ts
Due: turbo-lint

fix: keep native attribution through validation and unconfirmed cards in view
  web/src/components/assistant-ui/__tests__/session-subagent-wiring.test.tsx
  web/src/components/assistant-ui/__tests__/session-timeline.logic.test.ts
  web/src/components/assistant-ui/hooks/use-assistant-message-timeline.ts
  web/src/components/assistant-ui/session-timeline-subagents.ts
  web/src/components/assistant-ui/session-timeline.logic.ts
  web/src/systems/session/lib/__tests__/subagent-roster.test.ts
  web/src/systems/session/lib/message-schemas.ts
  web/src/systems/session/lib/subagent-roster.ts
Due: turbo-lint

test: add subagent web E2E journeys for native cards and the waiting banner
  internal/testutil/acpmock/testdata/browser_native_subagent_fixture.json
  web/e2e/__tests__/subagents.spec.ts
Due: turbo-lint

feat: keep a revealed subagent out of the thread toggle
  web/src/systems/session/components/__tests__/session-list.test.tsx
  web/src/systems/session/components/session-list/session-list-thread.tsx
  web/src/systems/session/components/stories/session-sidebar.stories.tsx
  web/src/systems/session/lib/session-list-threads.ts
Due: turbo-lint

test: add session-thread subagent stories over the streamed roster
  web/src/systems/session/components/assistant-ui/stories/session-thread-story-subagents.ts
  web/src/systems/session/components/assistant-ui/stories/session-thread-subagents.stories.tsx
Due: turbo-lint

fix: name single subagent tool calls without a count in group phrases
  web/src/components/assistant-ui/__tests__/session-timeline.logic.test.ts
  web/src/components/assistant-ui/session-timeline-summary.ts
Due: turbo-lint

test: settle subagent story turns and open their disclosures for parity
  web/src/systems/session/components/assistant-ui/stories/session-thread-story-subagents.ts
  web/src/systems/session/components/assistant-ui/stories/session-thread-subagents.stories.tsx
Due: turbo-lint

fix: reconcile subagent lifecycle across real daemon boundaries
  docs/qa/scenarios/RT-session-spawn-wake.md
  docs/qa/scenarios/RT-spawn-ttl-cleanup.md
  internal/acp/prompt_synthetic_meta.go
  internal/daemon/subagent_integration_test.go
  internal/daemon/subagent_reactor.go
  internal/session/catalog_page.go
  internal/session/catalog_page_cursor.go
  internal/session/manager_stop_finalization.go
  internal/session/session_attention_publish.go
  internal/session/spawn_hooks.go
  internal/session/stop_reason.go
  internal/session/subagent_delivery.go
  internal/session/subagent_manager.go
  internal/session/subagent_native.go
  internal/session/subagent_recovery.go
  internal/session/subagent_service_test.go
  internal/session/subagent_target.go
  internal/session/subagent_test_support_test.go
Due: format-go

fix: expose subagent visibility on session facets
  internal/api/spec/session_catalog.go
  internal/api/testutil/subagents_transport_parity_test.go
  internal/store/globaldb/global_db_session_index_test.go
  openapi/compozy.json
  web/src/generated/compozy-openapi.d.ts
Due: turbo-lint, format-go

fix: send subagent visibility on session pages and facets
  web/src/systems/session/hooks/__tests__/use-workspace-session-groups.test.tsx
  web/src/systems/session/hooks/use-workspace-session-groups.ts
  web/src/systems/session/lib/session-catalog-options.ts
  web/src/systems/session/lib/session-list-query.ts
Due: turbo-lint
