Repository compozy/compozy: changes, and which pre-commit hooks are due for each by the changed paths.
All: turbo-lint, format-go

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit

default_stages:
  - pre-commit

exclude: |
  (?x)^(
    CHANGELOG.md|
    tools/.*/package\.json|
    bun.lockb|
    node_modules|
  )$

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      # - id: trailing-whitespace
      #   args:
      #     - --no-utf8-locale
      - id: end-of-file-fixer
        exclude: '^(CHANGELOG\.md|tools/.*/package\.json|bun\.lockb|node_modules/)'
      - id: check-json
        exclude: '^(tools/.*/package\.json|node_modules/)'
      - id: check-toml
      - id: check-added-large-files
        args:
          - --maxkb=3000
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: detect-private-key
  - repo: local
    hooks:
      - id: turbo-lint
        name: turbo lint
        description: Run linting via Turborepo
        entry: bun run lint
        language: system
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false
      # - id: turbo-type-check
      #   name: turbo type check
      #   description: Run TypeScript checking via Turborepo
      #   entry: bun run type-check
      #   language: system
      #   files: \.(ts|tsx)$
      #   pass_filenames: false
      - id: format-go
        name: format go
        description: Format Go files using make fmt
        entry: make fmt
        language: system
        files: \.go$
        pass_filenames: false
  - repo: https://github.com/lyz-code/yamlfix/
    rev: 1.17.0
    hooks:
      - id: yamlfix
        args:
          - -c
          - .yamlfix.toml
        exclude: ^cluster/.*$

fix: pause resource automations when archiving profiles
  docs/_memory/change-impact.md
  docs/qa/bugs/BUG-20261003-profile-archive-resource-automations.md
  docs/qa/bugs/BUG-20261003-profile-rename-repositories-unchecked.md
  docs/qa/reports/2026-10-02-untested.md
  docs/qa/scenarios/ET-profile-cli-lifecycle.md
  docs/qa/scenarios/ET-profile-web-settings-lifecycle-dialogs.md
  internal/automation/resource_projection_reload.go
  internal/automation/resource_test.go
  internal/daemon/boot_profiles.go
  internal/profile/archive.go
  internal/profile/automations.go
  internal/profile/lifecycle_finalize.go
  internal/profile/lifecycle_journal.go
  internal/profile/manager.go
  internal/profile/plans.go
  skills/compozy/references/profiles.md
Due: format-go

fix: protect profile ownership and lifecycle navigation
  docs/_memory/change-impact.md
  docs/qa/bugs/BUG-20261003-profile-archive-resource-automations.md
  docs/qa/bugs/BUG-20261003-profile-delete-orphans-automations.md
  docs/qa/bugs/BUG-20261003-profile-dialog-survives-back.md
  docs/qa/bugs/BUG-20261003-profile-palette-cancel-reopens.md
  docs/qa/reports/2026-10-02-untested.md
  docs/qa/scenarios/ET-profile-cli-lifecycle.md
  docs/qa/scenarios/ET-profile-web-settings-lifecycle-dialogs.md
  internal/automation/resource_test.go
  internal/profile/catalog.go
  skills/compozy/references/profiles.md
  web/e2e/__tests__/profiles.spec.ts
  web/src/routes/_app/settings/-profiles-settings-page.tsx
  web/src/systems/os/apps/settings/settings-window.tsx
  web/src/systems/os/apps/settings/use-profile-flow-intent.ts
  web/src/systems/os/apps/settings/use-settings-navigation.ts
  web/src/systems/profiles/hooks/use-profile-lifecycle.ts
  web/src/systems/profiles/index.ts
Due: turbo-lint, format-go

fix: keep profile recovery stream alive
  docs/_memory/change-impact.md
  docs/qa/bugs/BUG-20261003-profile-archive-event-rejected.md
  docs/qa/bugs/BUG-20261003-profile-delete-live-stream-owner.md
  docs/qa/reports/2026-10-02-untested.md
  docs/qa/scenarios/ET-profile-switcher-restore.md
  docs/qa/scenarios/ET-profile-web-settings-lifecycle-dialogs.md
  web/e2e/__tests__/profiles.spec.ts
  web/src/systems/os/components/desktop-shell.tsx
  web/src/systems/os/hooks/use-desktop-chrome-controller.ts
  web/src/systems/profiles/components/profile-lifecycle-host.tsx
Due: turbo-lint

fix: select profile repository rename offers by default
  docs/_memory/change-impact.md
  docs/qa/bugs/BUG-20261003-profile-emoji-keyboard-unreachable.md
  docs/qa/bugs/BUG-20261003-profile-rename-repositories-unchecked.md
  docs/qa/reports/2026-10-02-untested.md
  docs/qa/scenarios/ET-profile-switcher-restore.md
  docs/qa/scenarios/ET-profile-web-settings-lifecycle-dialogs.md
  web/e2e/__tests__/profiles.spec.ts
  web/src/systems/profiles/components/profile-lifecycle-dialogs.tsx
  web/src/systems/profiles/hooks/use-profile-lifecycle-dialogs.ts
  web/src/systems/profiles/hooks/use-profile-lifecycle.ts
Due: turbo-lint

fix: apply selected profile to approval commands
  docs/_memory/change-impact.md
  docs/qa/bugs/BUG-20261003-approval-cli-profile-owner.md
  docs/qa/bugs/BUG-20261003-task-catalog-replaces-authorized-workspace.md
  docs/qa/reports/2026-10-02-untested.md
  docs/qa/scenarios/ET-native-workspace-scope-isolation.md
  docs/qa/scenarios/ET-profile-approval-owner-resume.md
  docs/qa/scenarios/ET-profile-lifecycle-race-guards.md
  internal/cli/approvals.go
  internal/cli/cmd_palette_test.go
  skills/compozy/references/native-tools.md
Due: format-go

fix: preserve profile lifecycle recovery audits
  docs/_memory/change-impact.md
  docs/qa/bugs/BUG-20261003-profile-archive-event-rejected.md
  docs/qa/bugs/BUG-20261003-profile-project-restoration.md
  docs/qa/bugs/BUG-20261003-profile-recovery-blank-desktop.md
  docs/qa/bugs/BUG-20261003-profile-unavailable-identity-write.md
  docs/qa/reports/2026-10-02-untested.md
  docs/qa/scenarios/ET-profile-operations-recovery.md
  docs/qa/scenarios/ET-profile-switcher-restore.md
  docs/qa/scenarios/ET-profile-web-settings-lifecycle-dialogs.md
  internal/daemon/boot_profiles.go
  internal/daemon/boot_profiles_test.go
  internal/profile/catalog.go
  internal/profile/events.go
  internal/profile/manager.go
  internal/profile/manager_test.go
  skills/compozy/references/profiles.md
Due: format-go

fix: keep profile validation tied to current input
  docs/_memory/change-impact.md
  docs/qa/bugs/BUG-20261003-profile-create-stale-name-error.md
  docs/qa/bugs/BUG-20261003-profile-delete-live-stream-owner.md
  docs/qa/bugs/BUG-20261003-profile-dialog-validation-toast.md
  docs/qa/bugs/BUG-20261003-profile-emoji-keyboard-unreachable.md
  docs/qa/reports/2026-10-02-untested.md
  docs/qa/scenarios/ET-profile-switcher-restore.md
  docs/qa/scenarios/ET-profile-web-settings-lifecycle-dialogs.md
  web/e2e/__tests__/profiles.spec.ts
  web/src/systems/profiles/components/__tests__/profile-create-dialog.test.tsx
  web/src/systems/profiles/components/profile-create-dialog.tsx
  web/src/systems/profiles/components/profile-lifecycle-dialogs.tsx
  web/src/systems/profiles/components/stories/profile-lifecycle-dialogs.stories.tsx
  web/src/systems/profiles/hooks/use-profile-lifecycle-dialogs.ts
  web/src/systems/profiles/hooks/use-profile-lifecycle.ts
  web/src/systems/profiles/hooks/use-profile-mutations.ts
Due: turbo-lint

fix: retain profile archive lifecycle events
  docs/_memory/change-impact.md
  docs/qa/bugs/BUG-20261003-approval-cli-profile-owner.md
  docs/qa/bugs/BUG-20261003-profile-archive-event-rejected.md
  docs/qa/bugs/BUG-20261003-profile-delete-live-stream-owner.md
  docs/qa/reports/2026-10-02-untested.md
  docs/qa/scenarios/ET-profile-approval-owner-resume.md
  docs/qa/scenarios/ET-profile-lifecycle-race-guards.md
  docs/qa/scenarios/ET-profile-switcher-restore.md
  docs/qa/scenarios/ET-profile-web-settings-lifecycle-dialogs.md
  internal/daemon/boot_profiles.go
  internal/daemon/boot_profiles_test.go
  skills/compozy/references/profiles.md
Due: format-go

fix: execute native tool hooks at registry dispatch
  docs/_memory/change-impact.md
  docs/qa/bugs/BUG-20261002-native-hook-dispatch-missing.md
  docs/qa/bugs/BUG-20261002-native-task-filter-error.md
  docs/qa/reports/2026-10-02-untested.md
  docs/qa/scenarios/ET-native-workspace-scope-isolation.md
  internal/daemon/boot_tool_registry.go
  internal/daemon/daemon_mock_agents_integration_test.go
  internal/daemon/hook_agent_events.go
  internal/daemon/hook_binding_resources_test.go
  internal/daemon/hooks_bridge.go
  internal/daemon/native_tool_hooks.go
  internal/daemon/native_tools_test.go
  internal/session/manager_hooks_helpers.go
  internal/tools/dispatch.go
  internal/tools/dispatch_hooks.go
  internal/tools/dispatch_result.go
  internal/tools/dispatch_test.go
  internal/tools/tool.go
  skills/compozy/references/native-tools.md
Due: format-go

fix: preserve native task catalog validation errors
  docs/_memory/change-impact.md
  docs/qa/bugs/BUG-20261002-native-task-filter-error.md
  docs/qa/bugs/BUG-20261002-native-workspace-identity-boundaries.md
  docs/qa/reports/2026-10-02-untested.md
  docs/qa/scenarios/ET-native-workspace-scope-isolation.md
  internal/daemon/native_task_list.go
  internal/daemon/native_tools_test.go
Due: format-go

fix: restore remembered profiles between projects
  docs/_memory/change-impact.md
  docs/qa/bugs/BUG-20261003-profile-delete-orphans-automations.md
  docs/qa/bugs/BUG-20261003-profile-dialog-survives-back.md
  docs/qa/bugs/BUG-20261003-profile-palette-cancel-reopens.md
  docs/qa/bugs/BUG-20261003-profile-project-restoration.md
  docs/qa/reports/2026-10-02-untested.md
  docs/qa/scenarios/ET-profile-cli-lifecycle.md
  docs/qa/scenarios/ET-profile-switcher-restore.md
  docs/qa/scenarios/ET-profile-web-settings-lifecycle-dialogs.md
  skills/compozy/references/profiles.md
  web/e2e/__tests__/profiles.spec.ts
  web/src/systems/profiles/hooks/__tests__/use-profile-selection.test.tsx
  web/src/systems/profiles/hooks/use-profile-selection.ts
  web/src/systems/profiles/lib/query-options.ts
Due: turbo-lint

fix: preserve authorized task catalog workspace targets
  docs/_memory/change-impact.md
  docs/qa/bugs/BUG-20261002-native-hook-dispatch-missing.md
  docs/qa/bugs/BUG-20261003-approval-cli-profile-owner.md
  docs/qa/bugs/BUG-20261003-task-catalog-replaces-authorized-workspace.md
  docs/qa/reports/2026-10-02-untested.md
  docs/qa/scenarios/ET-native-workspace-scope-isolation.md
  docs/qa/scenarios/ET-profile-approval-owner-resume.md
  docs/qa/scenarios/ET-profile-lifecycle-race-guards.md
  internal/task/catalog_service.go
  internal/task/manager_integration_test.go
  skills/compozy/references/tasks-and-orchestration.md
Due: format-go

fix: preserve Global scope during background window cleanup
  docs/_memory/change-impact.md
  docs/qa/bugs/BUG-20261003-automation-global-detail-refused.md
  docs/qa/bugs/BUG-20261003-background-windows-forget-global.md
  docs/qa/reports/2026-10-02-untested.md
  docs/qa/scenarios/MS-web-menubar-global-scope-toggle.md
  docs/qa/scenarios/TA-052.md
  docs/qa/scenarios/TA-056.md
  web/src/systems/workspace/hooks/__tests__/use-workspaces.test.tsx
  web/src/systems/workspace/hooks/use-active-workspace.ts
  web/src/systems/workspace/stores/active-workspace-store.ts
Due: turbo-lint

fix: keep trigger authoring and recovery actionable
  docs/_memory/change-impact.md
  docs/qa/bugs/BUG-20260713-workspace-trigger-loop-submit-inert.md
  docs/qa/bugs/BUG-20261003-job-task-detail-hides-intent.md
  docs/qa/bugs/BUG-20261003-loop-mapping-example-rejected.md
  docs/qa/bugs/BUG-20261003-trigger-error-hides-return.md
  docs/qa/bugs/BUG-20261003-webhook-sample-invalid-json.md
  docs/qa/reports/2026-10-02-untested.md
  docs/qa/scenarios/ET-web-jobs-triggers-catalog.md
  docs/qa/scenarios/ET-web-trigger-detail-rule-page.md
  docs/qa/scenarios/TA-052.md
  web/src/systems/automation/components/__tests__/automation-trigger-form.test.tsx
  web/src/systems/automation/components/__tests__/trigger-detail-panel.test.tsx
  web/src/systems/automation/components/automation-trigger-form.tsx
  web/src/systems/automation/components/trigger-detail/trigger-detail-panel.tsx
  web/src/systems/automation/components/trigger-form/preview/sample-event-card.tsx
  web/src/systems/loops/components/target/loop-input-mapping.tsx
Due: turbo-lint

fix: repair automation preview recovery and local web cache
  docs/_memory/change-impact.md
  docs/qa/bugs/BUG-20261004-automation-locked-target-repair-copy.md
  docs/qa/bugs/BUG-20261004-automation-preview-stale-directions.md
  docs/qa/bugs/BUG-20261004-static-web-rewrite-stale-cache.md
  docs/qa/reports/2026-10-02-untested.md
  docs/qa/scenarios/TA-web-automation-preview-toggle.md
  internal/api/httpapi/static.go
  internal/api/httpapi/static_test.go
  web/src/systems/automation/components/job-form/preview/next-runs-card.tsx
  web/src/systems/automation/components/trigger-form/event-sub-config.tsx
  web/src/systems/automation/components/trigger-form/prompt-template-field.tsx
  web/src/systems/loops/lib/loop-target-availability.ts
Due: turbo-lint, format-go

docs: record automation recovery verification
  docs/qa/bugs/BUG-20261003-background-windows-forget-global.md
  docs/qa/bugs/BUG-20261004-automation-offline-pagination-silent.md
  docs/qa/reports/2026-10-02-untested.md
  docs/qa/scenarios/ET-web-jobs-triggers-catalog.md
  docs/qa/scenarios/MS-web-menubar-global-scope-toggle.md
Due: none

fix: open project automation details in Global
  docs/_memory/change-impact.md
  docs/qa/bugs/BUG-20261003-automation-global-detail-refused.md
  docs/qa/bugs/BUG-20261003-automation-job-cursor-refused.md
  docs/qa/reports/2026-10-02-untested.md
  docs/qa/scenarios/TA-052.md
  docs/qa/scenarios/TA-056.md
  web/src/systems/automation/index.ts
  web/src/systems/automation/lib/workspace-access.ts
  web/src/systems/os/apps/automation/__tests__/use-automation-trigger-detail-page.test.tsx
  web/src/systems/os/apps/automation/use-automation-job-detail-page.ts
  web/src/systems/os/apps/automation/use-automation-trigger-detail-page.ts
Due: turbo-lint

fix: preserve global scope and explain paused catalog loading
  docs/_memory/change-impact.md
  docs/qa/bugs/BUG-20260713-workspace-trigger-loop-submit-inert.md
  docs/qa/bugs/BUG-20261003-background-windows-forget-global.md
  docs/qa/bugs/BUG-20261003-loop-mapping-example-rejected.md
  docs/qa/bugs/BUG-20261003-trigger-error-hides-return.md
  docs/qa/bugs/BUG-20261003-webhook-sample-invalid-json.md
  docs/qa/bugs/BUG-20261004-automation-offline-pagination-silent.md
  docs/qa/charters/CH-automation-catalog-recovery.md
  docs/qa/reports/2026-10-02-untested.md
  docs/qa/scenarios/ET-web-jobs-triggers-catalog.md
  docs/qa/scenarios/ET-web-trigger-detail-rule-page.md
  docs/qa/scenarios/MS-web-menubar-global-scope-toggle.md
  web/e2e/__tests__/loops.spec.ts
  web/src/systems/automation/components/__tests__/automation-catalog.test.tsx
  web/src/systems/automation/components/automation-catalog-shell.tsx
  web/src/systems/os/apps/automation/use-automation-jobs-page.ts
  web/src/systems/os/apps/automation/use-automation-triggers-page.ts
  web/src/systems/os/apps/jobs/jobs-catalog-location.tsx
  web/src/systems/os/apps/loops/loops-window.tsx
  web/src/systems/os/apps/triggers/triggers-catalog-location.tsx
Due: turbo-lint

fix: bind automation cursors after profile resolution
  docs/_memory/change-impact.md
  docs/qa/bugs/BUG-20261003-automation-job-cursor-refused.md
  docs/qa/bugs/BUG-20261003-profile-recovery-blank-desktop.md
  docs/qa/reports/2026-10-02-untested.md
  docs/qa/scenarios/ET-profile-operations-recovery.md
  docs/qa/scenarios/TA-052.md
  docs/qa/scenarios/TA-056.md
  internal/api/core/automation.go
  internal/api/core/automation_list_queries.go
  internal/api/core/automation_trigger_handlers.go
  internal/cli/automation_list_queries.go
  internal/cli/automation_test.go
  internal/daemon/native_automation_list_tools.go
  skills/compozy/references/native-tools.md
Due: format-go

fix: show persisted task intent in job details
  docs/_memory/change-impact.md
  docs/qa/bugs/BUG-20261003-background-windows-forget-global.md
  docs/qa/bugs/BUG-20261003-job-task-detail-hides-intent.md
  docs/qa/reports/2026-10-02-untested.md
  docs/qa/scenarios/MS-web-menubar-global-scope-toggle.md
  docs/qa/scenarios/TA-052.md
  docs/qa/scenarios/TA-056.md
  web/src/systems/automation/components/__tests__/automation-detail-panel.test.tsx
  web/src/systems/automation/components/automation-detail-panel.tsx
  web/src/systems/automation/components/automation-detail-sections.tsx
  web/src/systems/automation/lib/job-preview.ts
Due: turbo-lint

docs: record automation preview and cache recovery evidence
  docs/qa/bugs/BUG-20261004-automation-locked-target-repair-copy.md
  docs/qa/bugs/BUG-20261004-automation-preview-stale-directions.md
  docs/qa/bugs/BUG-20261004-static-web-rewrite-stale-cache.md
  docs/qa/reports/2026-10-02-untested.md
  docs/qa/scenarios/TA-web-automation-preview-toggle.md
Due: none

fix: close canceled approvals and refresh restart requirements
  docs/_memory/change-impact.md
  internal/acp/handlers.go
  internal/acp/handlers_test.go
  internal/acp/runtime_types.go
  internal/acp/tool_host.go
  internal/daemon/tool_approval_bridge.go
  internal/daemon/tool_approval_bridge_test.go
  internal/session/manager_transition_test.go
  internal/session/session_pending_events.go
  internal/settings/config_apply_runtime.go
  internal/settings/config_apply_service.go
  internal/settings/config_apply_service_test.go
  internal/settings/config_apply_state.go
  internal/settings/config_runtime_status.go
  skills/compozy/references/configuration.md
  skills/compozy/references/runtime-operations.md
  web/src/systems/settings/hooks/__tests__/use-settings-automation-page.test.tsx
  web/src/systems/settings/hooks/__tests__/use-settings-memory-page.test.tsx
  web/src/systems/settings/hooks/__tests__/use-settings-observability-page.test.tsx
  web/src/systems/settings/hooks/__tests__/use-settings-providers-page.test.tsx
  web/src/systems/settings/hooks/__tests__/use-settings-restart.test.tsx
  web/src/systems/settings/hooks/__tests__/use-settings-roles-page.test.tsx
  web/src/systems/settings/hooks/__tests__/use-settings-skills-page.test.tsx
  web/src/systems/settings/hooks/settings-mutation-helpers.ts
  web/src/systems/settings/hooks/use-settings-restart.ts
  web/src/systems/settings/lib/__tests__/restart-status.test.ts
  web/src/systems/settings/lib/restart-presentation.ts
  web/src/systems/settings/stores/settings-restart-store.ts
Due: turbo-lint, format-go

fix: track extension profile creation provenance
  docs/_memory/change-impact.md
  docs/qa/bugs/BUG-20261004-extension-profile-creator-attribution.md
  docs/qa/bugs/BUG-20261004-native-approval-timeout-pending.md
  docs/qa/bugs/BUG-20261004-palette-approval-cannot-resume.md
  docs/qa/bugs/BUG-20261004-settings-restart-stale-success.md
  docs/qa/charters/CH-settings-skills-automation-sections.md
  docs/qa/reports/2026-10-02-untested.md
  docs/qa/scenarios/ET-profile-approval-owner-resume.md
  docs/qa/scenarios/ET-profile-lifecycle-race-guards.md
  docs/qa/scenarios/MS-037.md
  docs/qa/scenarios/MS-web-menubar-global-scope-toggle.md
  docs/qa/scenarios/MS-web-session-deeplink-global-confirm.md
  internal/api/contract/extensions.go
  internal/daemon/extension_profile_payload.go
  internal/daemon/extensions_inventory_test.go
  internal/extension/declared_profiles.go
  internal/extension/install_managed_test.go
  internal/profile/create.go
  internal/profile/manager_test.go
  internal/store/globaldb/global_db_test.go
  internal/store/globaldb/schema/definitions/05_profiles.sql
  internal/store/globaldb/schema/migrations/00127_schema.sql
  internal/store/globaldb/schema/migrations/atlas.sum
  internal/store/globaldb/sqlcgen/models.go
  packages/site/content/docs/extensions/install.mdx
  skills/compozy/references/extensions.md
Due: format-go

fix: preserve task state and profile controls
  docs/_memory/change-impact.md
  docs/qa/bugs/BUG-20261002-task-action-profile-scope.md
  docs/qa/bugs/BUG-20261004-empty-task-blocks-null.md
  docs/qa/bugs/BUG-20261004-extension-task-state-payload.md
  docs/qa/bugs/BUG-20261004-extension-workspace-profile-host-binding.md
  docs/qa/bugs/BUG-20261004-palette-approval-cannot-resume.md
  docs/qa/reports/2026-10-02-untested.md
  docs/qa/scenarios/ET-profile-approval-owner-resume.md
  docs/qa/scenarios/TA-001.md
  docs/qa/scenarios/TA-010.md
  internal/api/core/task_payload_mapping.go
  internal/api/httpapi/handlers_test.go
  internal/cli/cmd_palette_invoke.go
  internal/cli/profile_test.go
  internal/cli/task_agent_control.go
  internal/cli/task_commands_controls.go
  internal/extension/host_api_task_payload.go
  internal/extension/host_api_task_payloads.go
  internal/extension/host_api_test.go
  skills/compozy/references/extensions.md
  skills/compozy/references/tasks-and-orchestration.md
Due: format-go

docs: record approval and settings replay evidence
  docs/qa/bugs/BUG-20261004-extension-profile-creator-attribution.md
  docs/qa/bugs/BUG-20261004-native-approval-timeout-pending.md
  docs/qa/bugs/BUG-20261004-settings-restart-stale-success.md
  docs/qa/reports/2026-10-02-untested.md
  docs/qa/scenarios/ET-profile-approval-owner-resume.md
  docs/qa/scenarios/ET-profile-lifecycle-race-guards.md
  docs/qa/scenarios/MS-037.md
  docs/qa/scenarios/RT-session-attention-catalog.md
Due: none

fix: retain profile selection for task run controls
  docs/_memory/change-impact.md
  docs/qa/bugs/BUG-20261002-task-action-profile-scope.md
  docs/qa/bugs/BUG-20261004-archive-race-storage-error.md
  docs/qa/bugs/BUG-20261004-task-owner-response-omissions.md
  docs/qa/reports/2026-10-02-untested.md
  docs/qa/scenarios/ET-profile-approval-owner-resume.md
  docs/qa/scenarios/ET-profile-lifecycle-race-guards.md
  docs/qa/scenarios/TA-010.md
  internal/cli/profile_test.go
  internal/cli/task_agent_claim.go
  internal/cli/task_agent_control.go
  internal/cli/task_commands_crud.go
  internal/cli/task_commands_dependencies_runs.go
  internal/cli/task_commands_reviews.go
  internal/cli/task_update.go
  skills/compozy/references/tasks-and-orchestration.md
Due: format-go

test: stabilize command client fixture formatting
  docs/qa/bugs/BUG-20261004-palette-lists-closed-clients.md
  docs/qa/bugs/BUG-20261004-profile-palette-navigation-stall.md
  docs/qa/journeys/J-drain-scheduler.md
  docs/qa/reports/2026-10-02-untested.md
  docs/qa/scenarios/ET-agent-command-invoke.md
  docs/qa/scenarios/ET-profile-palette-view.md
  docs/qa/scenarios/ET-profile-remote-write-boundary.md
  docs/qa/scenarios/TA-048.md
  internal/daemon/cmd_palette_integration_test.go
Due: format-go

fix: preserve live command client state
  docs/_memory/change-impact.md
  docs/qa/bugs/BUG-20261004-palette-lists-closed-clients.md
  docs/qa/bugs/BUG-20261004-profile-palette-drops-arguments.md
  docs/qa/bugs/BUG-20261004-profile-palette-navigation-stall.md
  docs/qa/bugs/BUG-20261004-profile-switch-loses-command-result.md
  docs/qa/reports/2026-10-02-untested.md
  docs/qa/scenarios/ET-agent-command-invoke.md
  docs/qa/scenarios/ET-profile-remote-write-boundary.md
  internal/daemon/cmd_palette_client_directory.go
  internal/daemon/cmd_palette_integration_test.go
  internal/daemon/window_manager_registry_clients.go
  internal/windowmanager/client_command.go
  skills/compozy/references/native-tools.md
  web/e2e/__tests__/profiles.spec.ts
  web/src/systems/os/hooks/__tests__/window-manager-runtime.test.ts
  web/src/systems/os/lib/__tests__/routing-coordinator.test.ts
  web/src/systems/os/lib/routing-coordinator.ts
  web/src/systems/os/runtime/window-manager-runtime-core.ts
Due: turbo-lint, format-go

docs: record settings shortcut QA and current visual references
  docs/qa/bugs/BUG-20261004-settings-search-shortcut-inactive.md
  docs/qa/reports/2026-10-02-untested.md
  docs/qa/scenarios/MS-web-entity-modal-shell.md
  docs/qa/scenarios/MS-web-settings-takeover-redesign.md
Due: none

docs: record attention permission and suppression evidence
  docs/qa/bugs/BUG-20261004-attention-deleted-workspace-stale.md
  docs/qa/reports/2026-10-02-untested.md
  docs/qa/scenarios/MS-attention-settings-roundtrip.md
Due: none

fix: preserve profile ownership and admission errors
  docs/_memory/change-impact.md
  docs/qa/bugs/BUG-20261002-task-action-profile-scope.md
  docs/qa/bugs/BUG-20261004-archive-race-storage-error.md
  docs/qa/bugs/BUG-20261004-task-owner-response-omissions.md
  docs/qa/reports/2026-10-02-untested.md
  docs/qa/scenarios/ET-profile-lifecycle-race-guards.md
  docs/qa/scenarios/TA-010.md
  internal/api/core/errors.go
  internal/api/core/profiles_errors.go
  internal/api/core/profiles_errors_test.go
  internal/api/core/scheduler.go
  internal/api/core/task_crud_handlers.go
  internal/api/core/task_profile_owners.go
  internal/api/core/tasks_test.go
  internal/automation/dispatch_task_run.go
  internal/automation/dispatch_test.go
  internal/store/globaldb/global_db_session.go
  internal/store/globaldb/global_db_session_test.go
  internal/store/globaldb/sqlite_constraints.go
  internal/store/profile_identity.go
  internal/task/scheduler_controls_lifecycle.go
  internal/task/scheduler_controls_test.go
  skills/compozy/references/profiles.md
  skills/compozy/references/tasks-and-orchestration.md
Due: format-go

fix: reconcile attention policy after workspace deletion
  docs/_memory/change-impact.md
  docs/qa/bugs/BUG-20261004-attention-deleted-workspace-stale.md
  docs/qa/reports/2026-10-02-untested.md
  docs/qa/scenarios/MS-attention-settings-roundtrip.md
  internal/store/globaldb/global_db_profile_attention.go
  internal/store/globaldb/global_db_profile_attention_test.go
  skills/compozy/references/configuration.md
  web/src/systems/settings/hooks/__tests__/use-settings-attention-page.test.tsx
  web/src/systems/settings/hooks/use-settings-attention-page.ts
  web/src/systems/settings/hooks/use-settings-sections.ts
Due: turbo-lint, format-go

fix: restore settings search keyboard focus
  docs/_memory/change-impact.md
  docs/qa/bugs/BUG-20261004-settings-search-shortcut-inactive.md
  docs/qa/reports/2026-10-02-untested.md
  docs/qa/scenarios/MS-web-settings-takeover-redesign.md
  web/src/hooks/use-listing-search-shortcut.ts
  web/src/systems/os/apps/settings/__tests__/settings-window-nav.test.tsx
  web/src/systems/os/apps/settings/settings-window.tsx
Due: turbo-lint

docs: record verified scheduler and task profile replays
  docs/qa/bugs/BUG-20261004-scheduler-controls-stale.md
  docs/qa/bugs/BUG-20261004-task-owner-response-omissions.md
  docs/qa/bugs/BUG-20261004-task-run-view-profile.md
  docs/qa/bugs/BUG-20261004-task-session-wrong-profile.md
  docs/qa/reports/2026-10-02-untested.md
  docs/qa/scenarios/TA-048.md
Due: none

fix: preserve editor drafts and help guidance
  docs/_memory/change-impact.md
  docs/qa/bugs/BUG-20261004-help-tip-discards-draft.md
  docs/qa/bugs/BUG-20261004-help-tip-vanishes-on-tap.md
  docs/qa/reports/2026-10-02-untested.md
  docs/qa/scenarios/MS-web-entity-modal-shell.md
  docs/qa/scenarios/MS-web-modal-help-tips.md
  packages/ui/src/components/__tests__/sheet.test.tsx
  packages/ui/src/components/custom/__tests__/help-tip.test.tsx
  packages/ui/src/components/custom/help-tip.tsx
  packages/ui/src/components/dialog.tsx
  packages/ui/src/components/hooks/use-dialog-context.ts
  packages/ui/src/components/tooltip.tsx
Due: turbo-lint

fix: preserve delegated profile command handoffs
  docs/_memory/change-impact.md
  docs/qa/bugs/BUG-20261004-archive-race-storage-error.md
  docs/qa/bugs/BUG-20261004-profile-palette-drops-arguments.md
  docs/qa/bugs/BUG-20261004-profile-palette-navigation-stall.md
  docs/qa/bugs/BUG-20261004-profile-switch-loses-command-result.md
  docs/qa/bugs/BUG-20261004-task-owner-response-omissions.md
  docs/qa/reports/2026-10-02-untested.md
  docs/qa/scenarios/ET-profile-lifecycle-race-guards.md
  docs/qa/scenarios/ET-profile-palette-view.md
  docs/qa/scenarios/ET-profile-remote-write-boundary.md
  docs/qa/scenarios/TA-010.md
  skills/compozy/references/profiles.md
  web/e2e/__tests__/profiles.spec.ts
  web/src/routes/_app/settings/__tests__/-settings-split.test.tsx
  web/src/systems/os/apps/settings/use-profile-flow-intent.ts
  web/src/systems/os/hooks/__tests__/use-window-manager-stream.test.tsx
  web/src/systems/os/hooks/use-cmd-palette-dispatch.ts
  web/src/systems/os/hooks/use-desktop-chrome.ts
  web/src/systems/os/hooks/use-desktop-shell-body.ts
  web/src/systems/os/hooks/use-window-manager-stream.ts
  web/src/systems/os/lib/__tests__/client-command-channel.test.ts
  web/src/systems/os/lib/__tests__/cmd-palette-client-ops.test.ts
  web/src/systems/os/lib/client-command-channel.ts
  web/src/systems/os/lib/cmd-palette-client-op-context.ts
  web/src/systems/os/lib/cmd-palette-client-ops.ts
  web/src/systems/os/lib/cmd-palette-daemon-ops.ts
  web/src/systems/os/lib/cmd-palette-dispatch.ts
  web/src/systems/os/lib/cmd-palette-navigation.ts
  web/src/systems/os/lib/window-manager-client-command-frames.ts
  web/src/systems/profiles/hooks/use-profile-lifecycle.ts
  web/src/systems/profiles/hooks/use-profile-selection.ts
  web/src/systems/profiles/lib/profile-flow-search.ts
  web/src/systems/profiles/types.ts
Due: turbo-lint

fix: wait for settings command availability
  docs/_memory/change-impact.md
  docs/qa/bugs/BUG-20261004-settings-idle-timeout-display.md
  docs/qa/bugs/BUG-20261004-settings-startup-false-offline.md
  docs/qa/reports/2026-10-02-untested.md
  docs/qa/scenarios/MS-025.md
  docs/qa/scenarios/MS-web-settings-takeover-redesign.md
  web/src/systems/os/components/__tests__/os-dock.test.tsx
  web/src/systems/os/components/os-dock-rail-foot.tsx
Due: turbo-lint
