Repository compozy/compozy: changes, and which pre-commit hooks are due for each by the changed paths.
All: turbo-lint, format-go

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit

default_stages:
  - pre-commit

exclude: |
  (?x)^(
    CHANGELOG.md|
    tools/.*/package\.json|
    bun.lockb|
    node_modules|
  )$

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      # - id: trailing-whitespace
      #   args:
      #     - --no-utf8-locale
      - id: end-of-file-fixer
        exclude: '^(CHANGELOG\.md|tools/.*/package\.json|bun\.lockb|node_modules/)'
      - id: check-json
        exclude: '^(tools/.*/package\.json|node_modules/)'
      - id: check-toml
      - id: check-added-large-files
        args:
          - --maxkb=3000
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: detect-private-key
  - repo: local
    hooks:
      - id: turbo-lint
        name: turbo lint
        description: Run linting via Turborepo
        entry: bun run lint
        language: system
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false
      # - id: turbo-type-check
      #   name: turbo type check
      #   description: Run TypeScript checking via Turborepo
      #   entry: bun run type-check
      #   language: system
      #   files: \.(ts|tsx)$
      #   pass_filenames: false
      - id: format-go
        name: format go
        description: Format Go files using make fmt
        entry: make fmt
        language: system
        files: \.go$
        pass_filenames: false
  - repo: https://github.com/lyz-code/yamlfix/
    rev: 1.17.0
    hooks:
      - id: yamlfix
        args:
          - -c
          - .yamlfix.toml
        exclude: ^cluster/.*$

fix: report checkpoint role availability from compaction configuration (#645)
  .github/workflows/ci.yml
  docs/_memory/change-impact.md
  docs/qa/scenarios/MS-inspect-background-role-routing.md
  internal/daemon/role_resolver.go
  internal/daemon/role_resolver_integration_test.go
  internal/daemon/role_status.go
  internal/daemon/role_status_test.go
  packages/site/content/docs/memory/system.mdx
Due: format-go

fix: recover marketplace sources and render catalog logos under CSP (#648)
  .github/workflows/ci.yml
  .github/workflows/marketplace-public.yml
  docs/_memory/change-impact.md
  docs/qa/scenarios/ET-web-marketplace-landing-browse.md
  internal/marketplace/pluginsource/acquisition_test.go
  internal/marketplace/pluginsource/github.go
  internal/marketplace/pluginsource/reader_integration_test.go
  internal/marketplace/pluginsource/reader_test.go
  internal/registry/extract.go
  internal/registry/extract_test.go
  internal/registry/github/client_test.go
  internal/registry/github/http.go
  internal/registry/github/release_selection.go
  internal/registry/github/repository.go
  packages/site/content/docs/marketplace/index.mdx
  packages/site/content/docs/marketplace/sources.mdx
  scripts/gate.sh
  turbo.json
  web/e2e/__tests__/marketplace.spec.ts
  web/src/systems/marketplace/components/__tests__/marketplace-components.test.tsx
  web/src/systems/marketplace/components/marketplace-entry-logo.tsx
  web/src/systems/marketplace/components/marketplace-results.tsx
  web/src/systems/marketplace/hooks/use-marketplace-page.ts
  web/src/systems/marketplace/lib/marketplace-icon.ts
Due: turbo-lint, format-go

fix: repair marketplace CI fixtures and evidence capture
  .github/workflows/ci.yml
  docs/qa/scenarios/ET-web-marketplace-landing-browse.md
  internal/marketplace/pluginsource/github.go
  internal/registry/extract_test.go
  internal/registry/github/client_test.go
  internal/registry/github/release_selection.go
  web/e2e/__tests__/marketplace.spec.ts
Due: turbo-lint, format-go

test: verify goal deletion with complete origin fixtures
  .github/workflows/ci.yml
  docs/_memory/change-impact.md
  docs/qa/scenarios/ET-web-session-list-bulk-actions.md
  docs/qa/scenarios/RT-session-delete-owned-history.md
  internal/daemon/loop_goal_managed_runtime_integration_test.go
  internal/store/globaldb/global_db_goal_turn_runtime_integration_test.go
  web/e2e/__tests__/session-bulk-actions.spec.ts
Due: turbo-lint, format-go

fix: cancel unbound goals before deleting sessions
  .github/workflows/ci.yml
  docs/_memory/change-impact.md
  docs/qa/scenarios/ET-web-session-list-bulk-actions.md
  docs/qa/scenarios/RT-session-delete-owned-history.md
  internal/daemon/loop_goal_managed_runtime_integration_test.go
  internal/store/globaldb/global_db_goal_prompt_revoke_control.go
  internal/store/globaldb/global_db_goal_turn_runtime_integration_test.go
  web/e2e/__tests__/session-bulk-actions.spec.ts
Due: turbo-lint, format-go

test: expose lifecycle persistence in goal deletion fixture
  internal/daemon/loop_goal_managed_runtime_integration_test.go
Due: format-go

test: align cancellation fixture with current generation
  internal/store/globaldb/global_db_goal_turn_runtime_integration_test.go
Due: format-go

fix: cancel unbound goals before deleting sessions (#647)
  .github/workflows/ci.yml
  docs/_memory/change-impact.md
  docs/qa/scenarios/ET-web-session-list-bulk-actions.md
  docs/qa/scenarios/RT-session-delete-owned-history.md
  internal/daemon/loop_goal_managed_runtime_integration_test.go
  internal/store/globaldb/global_db_goal_prompt_revoke_control.go
  internal/store/globaldb/global_db_goal_turn_runtime_integration_test.go
  web/e2e/__tests__/session-bulk-actions.spec.ts
Due: turbo-lint, format-go

refactor: quiet the Context rail and sessions row for everyday use
  docs/_memory/change-impact.md
  docs/qa/scenarios/ET-web-session-context-meter.md
  docs/qa/scenarios/ET-web-session-context-sidebar.md
  docs/qa/scenarios/ET-web-session-sidebar-threads.md
  web/src/systems/session/components/__tests__/session-inspector.test.tsx
  web/src/systems/session/components/session-context-control.tsx
  web/src/systems/session/components/session-context-injected-section.tsx
  web/src/systems/session/components/session-context-meter-section.tsx
  web/src/systems/session/components/session-context-turns-section.tsx
  web/src/systems/session/components/session-inspector-section.tsx
  web/src/systems/session/components/session-inspector.tsx
  web/src/systems/session/components/session-list/session-list-row.tsx
  web/src/systems/session/components/stories/session-inspector.stories.tsx
  web/src/systems/session/lib/context-format.ts
  web/src/systems/session/lib/session-context-view.ts
Due: turbo-lint

refactor: quiet the Context rail and sessions row for everyday use (#649)
  docs/_memory/change-impact.md
  docs/qa/scenarios/ET-web-session-context-meter.md
  docs/qa/scenarios/ET-web-session-context-sidebar.md
  docs/qa/scenarios/ET-web-session-sidebar-threads.md
  web/src/systems/session/components/__tests__/session-inspector.test.tsx
  web/src/systems/session/components/session-context-control.tsx
  web/src/systems/session/components/session-context-injected-section.tsx
  web/src/systems/session/components/session-context-meter-section.tsx
  web/src/systems/session/components/session-context-turns-section.tsx
  web/src/systems/session/components/session-inspector-section.tsx
  web/src/systems/session/components/session-inspector.tsx
  web/src/systems/session/components/session-list/session-list-row.tsx
  web/src/systems/session/components/stories/session-inspector.stories.tsx
  web/src/systems/session/lib/context-format.ts
  web/src/systems/session/lib/session-context-view.ts
Due: turbo-lint

build: prepare release v0.3.0 (#642)
  CHANGELOG.md
  RELEASE_BODY.md
  RELEASE_NOTES.md
  go.mod
  go.sum
Due: none

desktop channel publish 0.3.0-beta.27
  desktop/generation.json
  desktop/latest-linux.yml
  desktop/latest-mac.yml
Due: none

fix: preserve profile scope when deleting sessions
  docs/_memory/change-impact.md
  docs/qa/scenarios/ET-web-session-list-bulk-actions.md
  internal/api/spec/registry_sessions.go
  openapi/compozy.json
  web/e2e/__tests__/session-bulk-actions.spec.ts
  web/src/generated/compozy-openapi.d.ts
  web/src/hooks/routes/__tests__/use-session-page-controls.test.tsx
  web/src/hooks/routes/use-session-page-controls.ts
  web/src/systems/session/adapters/__tests__/session-api.test.ts
  web/src/systems/session/adapters/session-api.ts
  web/src/systems/session/hooks/__tests__/use-session-actions.test.tsx
  web/src/systems/session/hooks/use-session-actions.ts
  web/src/systems/session/hooks/use-session-lifecycle-actions.ts
Due: turbo-lint, format-go

build: update repoclone
  .repoclone.rc
Due: none

fix: reconcile session deletion views and CI assertions
  docs/_memory/change-impact.md
  docs/qa/scenarios/ET-web-session-list-bulk-actions.md
  web/e2e/__tests__/session-bulk-actions.spec.ts
  web/e2e/__tests__/session-hardening.spec.ts
  web/src/hooks/routes/use-session-page-controls.ts
  web/src/systems/session/adapters/session-api.ts
  web/src/systems/session/hooks/__tests__/use-session-actions.test.tsx
  web/src/systems/session/hooks/use-session-actions.ts
Due: turbo-lint

fix: preserve profile scope when deleting sessions (#652)
  docs/_memory/change-impact.md
  docs/qa/scenarios/ET-web-session-list-bulk-actions.md
  internal/api/spec/registry_sessions.go
  openapi/compozy.json
  web/e2e/__tests__/session-bulk-actions.spec.ts
  web/e2e/__tests__/session-hardening.spec.ts
  web/src/generated/compozy-openapi.d.ts
  web/src/hooks/routes/__tests__/use-session-page-controls.test.tsx
  web/src/hooks/routes/use-session-page-controls.ts
  web/src/systems/session/adapters/__tests__/session-api.test.ts
  web/src/systems/session/adapters/session-api.ts
  web/src/systems/session/hooks/__tests__/use-session-actions.test.tsx
  web/src/systems/session/hooks/use-session-actions.ts
  web/src/systems/session/hooks/use-session-lifecycle-actions.ts
Due: turbo-lint, format-go

fix: preserve cleanup compatibility and address review findings
  docs/_memory/change-impact.md
  docs/qa/reports/2026-09-16-worktree-bulk-delete.md
  internal/api/core/worktree_mutation_scope.go
  internal/api/core/worktrees_test.go
  internal/api/spec/registry_worktrees.go
  internal/worktree/adopt_test.go
  internal/worktree/discovery.go
  internal/worktree/discovery_test.go
  internal/worktree/remove_test.go
  openapi/compozy.json
  packages/site/content/docs/worktrees/removal-and-recovery.mdx
  web/src/generated/compozy-openapi.d.ts
  web/src/systems/os/components/os-workspaces-overview.tsx
  web/src/systems/os/components/os-workspaces-worktree-menu.tsx
  web/src/systems/workspace/components/worktree-bulk-remove-dialog.tsx
  web/src/systems/workspace/components/worktree-selection-toolbar.tsx
  web/src/systems/workspace/hooks/use-worktree-removal-batch.ts
Due: turbo-lint, format-go

fix: discover Claude reasoning options for each exact model
  docs/_memory/change-impact.md
  docs/qa/reports/2026-09-16-claude-fable-reasoning.md
  docs/qa/scenarios/ET-web-runtime-selector-minimal-slider.md
  docs/qa/scenarios/RT-model-catalog-cold-open.md
  docs/qa/scenarios/RT-session-runtime-selection-continuity.md
  internal/acp/client_start_contract_test.go
  internal/acp/client_test_support_test.go
  internal/acp/config_options.go
  internal/acp/session_config_negotiation.go
  internal/acp/session_inspection.go
  internal/modelcatalog/claude_model_rows.go
  internal/modelcatalog/live_sources_acp.go
  internal/modelcatalog/live_sources_test.go
  internal/modelcatalog/reasoning_merge.go
  internal/modelcatalog/service_integration_test.go
  packages/site/content/docs/agents/model-catalog.mdx
  skills/compozy/references/runtime-operations.md
  web/src/systems/model-catalog/lib/__tests__/to-runtime-selector-options.test.ts
  web/src/systems/model-catalog/lib/to-runtime-selector-options.ts
  web/src/systems/runtime/components/runtime-selector/__tests__/runtime-selector.test.tsx
  web/src/systems/runtime/components/runtime-selector/runtime-advanced-options-model.ts
  web/src/systems/runtime/components/runtime-selector/selector-footer.tsx
  web/src/systems/runtime/components/runtime-selector/types.ts
  web/src/systems/session/contexts/session-prompt-runtime-context-value.ts
  web/src/systems/session/contexts/session-prompt-runtime-context.tsx
  web/src/systems/session/hooks/__tests__/use-session-prompt-runtime.test.tsx
  web/src/systems/session/hooks/use-session-prompt-runtime.ts
Due: turbo-lint, format-go

fix: complete transport parity and simplify workspace rendering
  docs/qa/reports/2026-09-16-worktree-bulk-delete.md
  internal/api/testutil/worktree_transport_parity_test.go
  web/src/systems/os/components/os-workspaces-overview.tsx
  web/src/systems/os/components/os-workspaces-worktree-menu.tsx
  web/src/systems/os/lib/workspaces-overview-model.ts
Due: turbo-lint, format-go

refactor: separate worktree menu creation footer
  web/src/systems/os/components/os-workspaces-worktree-menu.tsx
Due: turbo-lint

fix: wrap worktree profile contract description
  internal/api/spec/registry_worktrees.go
Due: format-go

fix: respect the repository queue in bulk worktree removal
  docs/qa/reports/2026-09-16-worktree-bulk-delete.md
  web/src/systems/os/lib/workspaces-overview-model.ts
  web/src/systems/workspace/components/worktree-bulk-remove-dialog.tsx
  web/src/systems/workspace/components/worktree-selection-toolbar.tsx
  web/src/systems/workspace/hooks/__tests__/use-worktrees.test.tsx
  web/src/systems/workspace/hooks/use-worktree-removal-batch.ts
  web/src/systems/workspace/hooks/use-worktree-removal-selection.ts
Due: turbo-lint

fix: preserve Claude transport capabilities through launch and reload
  docs/_memory/change-impact.md
  docs/qa/reports/2026-09-16-claude-fable-reasoning.md
  internal/acp/client_test_support_test.go
  internal/acp/session_config_negotiation.go
  internal/acp/session_inspection.go
  internal/api/contract/model_catalog.go
  internal/api/modelcatalogprojection/projection.go
  internal/modelcatalog/bindings.go
  internal/modelcatalog/claude_model_rows.go
  internal/modelcatalog/live_sources_acp.go
  internal/modelcatalog/live_sources_test.go
  internal/modelcatalog/option_merge.go
  internal/modelcatalog/reasoning_merge.go
  internal/modelcatalog/service_test.go
  internal/modelcatalog/types.go
  internal/session/manager_resume.go
  internal/session/manager_runtime_model_validation.go
  internal/session/manager_start_test.go
  internal/session/provider_runtime.go
  internal/session/provider_runtime_secrets.go
  internal/session/provider_runtime_test.go
  internal/store/globaldb/global_db_model_catalog_bindings.go
  internal/store/globaldb/global_db_model_catalog_test.go
  internal/store/globaldb/queries/model_catalog.sql
  internal/store/globaldb/schema/definitions/36_model_catalog.sql
  internal/store/globaldb/schema/migrations/00120_schema.sql
  internal/store/globaldb/schema/migrations/atlas.sum
  internal/store/globaldb/sqlcgen/model_catalog.sql.go
  internal/store/globaldb/sqlcgen/models.go
  openapi/compozy.json
  packages/site/content/docs/agents/model-catalog.mdx
  sdk/go/contracts/types_018_gen.go
  sdk/typescript/src/generated/contracts.ts
  skills/compozy/references/runtime-operations.md
  web/src/generated/compozy-openapi.d.ts
  web/src/systems/model-catalog/lib/__tests__/to-runtime-selector-options.test.ts
  web/src/systems/model-catalog/lib/to-runtime-selector-options.ts
  web/src/systems/runtime/components/runtime-selector/types.ts
  web/src/systems/session/hooks/__tests__/use-session-prompt-runtime.test.tsx
  web/src/systems/session/hooks/use-session-prompt-runtime.ts
Due: turbo-lint, format-go

fix: activate worktree creation by keyboard during selection
  docs/qa/reports/2026-09-16-worktree-bulk-delete.md
  web/e2e/__tests__/worktrees.spec.ts
  web/src/systems/os/components/__tests__/os-workspaces-overview.test.tsx
  web/src/systems/os/components/os-workspaces-worktree-menu.tsx
Due: turbo-lint

ci: retain worktree cleanup screenshots from passing journeys
  .github/workflows/ci.yml
  docs/qa/reports/2026-09-16-worktree-bulk-delete.md
Due: none

docs: explain worktree cleanup safety and selection contracts
  internal/api/core/worktree_mutation_scope.go
  internal/api/core/worktrees.go
  internal/api/spec/registry_worktrees.go
  internal/worktree/adopt.go
  internal/worktree/discovery.go
  internal/worktree/dismiss.go
  internal/worktree/remove.go
  web/src/systems/os/components/os-workspaces-overview.tsx
  web/src/systems/os/components/os-workspaces-worktree-menu.tsx
  web/src/systems/os/components/worktree-dialog-boundaries.tsx
  web/src/systems/workspace/components/worktree-bulk-remove-dialog.tsx
  web/src/systems/workspace/components/worktree-selection-toolbar.tsx
  web/src/systems/workspace/components/worktree-submenu-panel.tsx
  web/src/systems/workspace/hooks/use-worktree-removal-batch.ts
  web/src/systems/workspace/hooks/use-worktree-removal-selection.ts
  web/src/systems/workspace/hooks/use-worktrees.ts
Due: turbo-lint, format-go

fix: preserve observed empty reasoning capabilities
  docs/qa/reports/2026-09-16-claude-fable-reasoning.md
  internal/acp/client_start_contract_test.go
  internal/acp/client_test_support_test.go
  internal/acp/config_options.go
  internal/acp/session_config_negotiation.go
  internal/modelcatalog/bindings.go
  internal/modelcatalog/claude_model_rows.go
  internal/modelcatalog/live_sources_acp.go
  internal/modelcatalog/live_sources_test.go
  internal/modelcatalog/options.go
  internal/modelcatalog/reasoning_merge.go
  internal/modelcatalog/service_integration_test.go
  internal/modelcatalog/service_test.go
  internal/session/manager_start_test.go
  internal/session/provider_runtime_test.go
  internal/store/globaldb/global_db_model_catalog_bindings.go
  internal/store/globaldb/global_db_model_catalog_options.go
  internal/store/globaldb/global_db_model_catalog_test.go
  web/src/systems/runtime/components/runtime-selector/runtime-advanced-options-model.ts
  web/src/systems/session/contexts/session-prompt-runtime-context.tsx
  web/src/systems/session/hooks/__tests__/use-session-prompt-runtime.test.tsx
  web/src/systems/session/hooks/use-session-prompt-runtime.ts
Due: turbo-lint, format-go

docs: clarify workspace cleanup coordination boundaries
  web/src/systems/os/components/desktop-shell.tsx
  web/src/systems/os/components/os-workspaces-overview.tsx
Due: turbo-lint

docs: record Fable walkthrough and provider verification blocker
  docs/qa/reports/2026-09-16-claude-fable-reasoning.md
  docs/qa/scenarios/ET-web-runtime-selector-minimal-slider.md
  docs/qa/scenarios/RT-model-catalog-cold-open.md
  docs/qa/scenarios/RT-session-runtime-selection-continuity.md
Due: none

fix: pluralize worktree cleanup consequence counts
  web/e2e/__tests__/worktrees.spec.ts
  web/src/systems/workspace/components/worktree-bulk-remove-dialog.tsx
Due: turbo-lint

test: clarify reasoning policy cases and verification evidence
  docs/qa/reports/2026-09-16-claude-fable-reasoning.md
  internal/modelcatalog/live_sources_test.go
  internal/modelcatalog/option_merge.go
  internal/modelcatalog/reasoning_merge.go
  internal/modelcatalog/service_test.go
  internal/session/manager_resume.go
  internal/session/manager_runtime_model_validation.go
  internal/session/provider_runtime.go
  web/src/systems/session/hooks/use-session-prompt-runtime.ts
Due: turbo-lint, format-go

feat: give rendered Markdown a readable visual hierarchy
  DESIGN.md
  docs/_memory/change-impact.md
  packages/ui/src/__tests__/prose-ladder-contract.test.ts
  packages/ui/src/components/custom/markdown-prose-constants.ts
  packages/ui/src/components/custom/markdown-prose-parts.tsx
  packages/ui/src/components/custom/markdown.tsx
  packages/ui/src/components/custom/stream-markdown.tsx
  packages/ui/src/lib/font-size-classes.generated.ts
  packages/ui/src/tokens.css
  web/src/systems/session/components/stories/message-markdown.stories.tsx
Due: turbo-lint

fix: address review findings on rendered Markdown hierarchy
  DESIGN.md
  docs/_memory/change-impact.md
  docs/qa/scenarios/ET-palette-domain-views.md
  docs/qa/scenarios/ET-web-agent-detail-tab-parity.md
  docs/qa/scenarios/ET-web-session-transcript-calm-grammar.md
  docs/qa/scenarios/RT-055.md
  docs/qa/scenarios/TA-107.md
  packages/ui/src/__tests__/focus-ring-contrast.test.ts
  packages/ui/src/__tests__/prose-ladder-contract.test.ts
  packages/ui/src/__tests__/token-source.ts
  packages/ui/src/components/custom/__tests__/stream-markdown.test.tsx
  packages/ui/src/components/custom/markdown-prose-constants.ts
  packages/ui/src/components/custom/markdown-prose-parts.tsx
  packages/ui/src/components/custom/markdown.tsx
  packages/ui/src/components/custom/stories/markdown.stories.tsx
  packages/ui/src/components/custom/stream-markdown.tsx
  web/src/systems/session/components/__tests__/message-markdown.test.tsx
  web/src/systems/session/components/__tests__/thinking-block.test.tsx
  web/src/systems/session/components/message-markdown.tsx
  web/src/systems/session/components/stories/message-markdown.stories.tsx
  web/src/systems/session/components/thinking-block.tsx
Due: turbo-lint

docs: correct Markdown QA notes and margin ownership wording
  DESIGN.md
  docs/_memory/change-impact.md
  docs/qa/scenarios/TA-107.md
  docs/qa/scenarios/TA-web-task-detail-redesign.md
  docs/qa/scenarios/TA-web-task-result-disclosure.md
  packages/ui/src/components/custom/markdown-prose-parts.tsx
Due: turbo-lint

feat: give rendered Markdown a readable visual hierarchy (#660)
  DESIGN.md
  docs/_memory/change-impact.md
  docs/qa/scenarios/ET-palette-domain-views.md
  docs/qa/scenarios/ET-web-agent-detail-tab-parity.md
  docs/qa/scenarios/ET-web-session-transcript-calm-grammar.md
  docs/qa/scenarios/RT-055.md
  docs/qa/scenarios/TA-107.md
  docs/qa/scenarios/TA-web-task-detail-redesign.md
  docs/qa/scenarios/TA-web-task-result-disclosure.md
  packages/ui/src/__tests__/focus-ring-contrast.test.ts
  packages/ui/src/__tests__/prose-ladder-contract.test.ts
  packages/ui/src/__tests__/token-source.ts
  packages/ui/src/components/custom/__tests__/stream-markdown.test.tsx
  packages/ui/src/components/custom/markdown-prose-constants.ts
  packages/ui/src/components/custom/markdown-prose-parts.tsx
  packages/ui/src/components/custom/markdown.tsx
  packages/ui/src/components/custom/stories/markdown.stories.tsx
  packages/ui/src/components/custom/stream-markdown.tsx
  packages/ui/src/lib/font-size-classes.generated.ts
  packages/ui/src/tokens.css
  web/src/systems/session/components/__tests__/message-markdown.test.tsx
  web/src/systems/session/components/__tests__/thinking-block.test.tsx
  web/src/systems/session/components/message-markdown.tsx
  web/src/systems/session/components/stories/message-markdown.stories.tsx
  web/src/systems/session/components/thinking-block.tsx
Due: turbo-lint

fix: fixing make gate and code review issues
  internal/cli/daemon_output.go
  internal/cli/session_test.go
  internal/daemon/cmd_palette_integration_test.go
  internal/extension/dev_integration_test.go
  internal/fileutil/directory_move_unix.go
  internal/fileutil/directory_move_windows.go
  internal/sandbox/daytona/sidecar_assets/compozy-daytona-sidecar-linux-amd64.gz
  internal/sandbox/daytona/sidecar_assets/compozy-daytona-sidecar-linux-arm64.gz
  internal/task/interfaces_integration_test.go
Due: format-go
