Repository compozy/compozy: changes, and which pre-commit hooks are due for each by the changed paths.
All: turbo-lint, format-go

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit

default_stages:
  - pre-commit

exclude: |
  (?x)^(
    CHANGELOG.md|
    tools/.*/package\.json|
    bun.lockb|
    node_modules|
  )$

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      # - id: trailing-whitespace
      #   args:
      #     - --no-utf8-locale
      - id: end-of-file-fixer
        exclude: '^(CHANGELOG\.md|tools/.*/package\.json|bun\.lockb|node_modules/)'
      - id: check-json
        exclude: '^(tools/.*/package\.json|node_modules/)'
      - id: check-toml
      - id: check-added-large-files
        args:
          - --maxkb=3000
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: detect-private-key
  - repo: local
    hooks:
      - id: turbo-lint
        name: turbo lint
        description: Run linting via Turborepo
        entry: bun run lint
        language: system
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false
      # - id: turbo-type-check
      #   name: turbo type check
      #   description: Run TypeScript checking via Turborepo
      #   entry: bun run type-check
      #   language: system
      #   files: \.(ts|tsx)$
      #   pass_filenames: false
      - id: format-go
        name: format go
        description: Format Go files using make fmt
        entry: make fmt
        language: system
        files: \.go$
        pass_filenames: false
  - repo: https://github.com/lyz-code/yamlfix/
    rev: 1.17.0
    hooks:
      - id: yamlfix
        args:
          - -c
          - .yamlfix.toml
        exclude: ^cluster/.*$

ci: shard oversized globaldb tests
  .github/workflows/ci.yml
  magefiles/gotest_discovery.go
  magefiles/gotest_lane.go
  magefiles/gotest_lane_test.go
  magefiles/test.go
Due: format-go

docs: document matrix routing
  docs/qa/scenarios/LP-runtime-selection-overrides.md
  skills/compozy/references/configuration.md
  skills/compozy/references/loops.md
Due: none

fix: complete matrix routing surfaces
  catalog/packages/batuta/resources/skills/batuta-routing/SKILL.md
  docs/qa/reports/2026-08-24-conjunctive-runtime-rules.md
  docs/qa/scenarios/LP-runtime-selection-overrides.md
  internal/api/contract/contract_test.go
  internal/api/contract/loops_runtime.go
  internal/daemon/native_loop_tools_test.go
  internal/loop/dsl/runtime.go
  internal/loop/runtime_resolve.go
  internal/loop/runtime_resolve_test.go
  internal/loop/runtime_types.go
  internal/tools/builtin/builtin_test.go
  internal/tools/builtin/loops_environment_schemas.go
  internal/tools/builtin/testdata/native-tool-catalog.json
  packages/site/content/docs/configuration/config-toml.mdx
  packages/site/content/docs/loops/dsl-reference.mdx
Due: format-go

feat: allow domain complexity matches
  .superpowers/sdd/2026-08-24-compozy-conjunctive-runtime-rules/task-1-report.md
  internal/loop/runtime_validation.go
  internal/loop/runtime_validation_test.go
Due: format-go

test: prove matrix routing round trips
  internal/config/loops_test.go
  internal/daemon/loop_runtime_selection_integration_test.go
Due: format-go

feat: resolve domain complexity matrix
  internal/loop/runtime_resolve.go
  internal/loop/runtime_resolve_test.go
Due: format-go

test: align matrix routing convention
  internal/daemon/loop_runtime_selection_integration_test.go
Due: format-go

fix: align matrix routing checks
  internal/config/loops_test.go
  internal/loop/runtime_resolve_test.go
  internal/loop/runtime_validation_test.go
  internal/tools/builtin/loops_environment_schemas.go
  packages/site/content/docs/configuration/config-toml.mdx
Due: format-go

docs: remove consumer-specific references
  .superpowers/sdd/2026-08-24-compozy-conjunctive-runtime-rules/task-1-report.md
  catalog/packages/batuta/resources/skills/batuta-routing/SKILL.md
Due: none

test: strengthen runtime routing assertions
  internal/api/contract/contract_test.go
  internal/tools/builtin/builtin_test.go
Due: format-go

docs: address runtime routing review
  .superpowers/sdd/2026-08-24-compozy-conjunctive-runtime-rules/task-1-report.md
  docs/qa/reports/2026-08-24-conjunctive-runtime-rules.md
Due: none

fix: stabilize parallel CI lanes
  .github/workflows/ci.yml
  internal/cli/client_session_prompt.go
  internal/cli/gateway_client_test.go
  magefiles/gotest_lane.go
  magefiles/gotest_lane_test.go
Due: format-go

docs: go modern skill
  .agents/skills/use-modern-go/SKILL.md
  .agents/skills/use-modern-go/scripts/VERSION
  .agents/skills/use-modern-go/scripts/run-tool.ps1
  .agents/skills/use-modern-go/scripts/run-tool.sh
  CLAUDE.md
  skills-lock.json
Due: none

fix: address PR review findings
  web/e2e/fixtures/retained-loop-task-seeder/main.go
  web/src/systems/os/apps/session/__tests__/session-window.test.tsx
  web/src/systems/os/apps/session/hooks/use-session-window-controller.ts
  web/src/systems/os/apps/session/hooks/use-session-window-resolution.ts
  web/src/systems/os/apps/session/session-window.tsx
  web/src/systems/os/components/desktop-shell.tsx
  web/src/systems/os/hooks/__tests__/use-desktop-shell-model.test.tsx
  web/src/systems/os/hooks/use-desktop-chrome-controller.ts
  web/src/systems/os/hooks/use-desktop-shell-model.ts
  web/src/systems/profiles/hooks/__tests__/use-profile-selection.test.tsx
  web/src/systems/profiles/hooks/use-profile-selection.ts
  web/src/systems/session/hooks/__tests__/use-session-actions.test.tsx
  web/src/systems/session/hooks/use-session-actions.ts
  web/src/systems/session/hooks/use-session-runtime-extensions.ts
  web/src/systems/session/stores/session-store.ts
  web/src/systems/settings/lib/__tests__/query-options.test.ts
  web/src/systems/settings/lib/query-options.ts
Due: turbo-lint, format-go

fix: close remaining PR review races
  web/src/systems/os/apps/session/__tests__/session-window.test.tsx
  web/src/systems/os/apps/session/hooks/use-session-window-controller.ts
  web/src/systems/session/hooks/__tests__/use-session-actions.test.tsx
  web/src/systems/session/hooks/use-session-actions.ts
  web/src/systems/session/stores/session-store.ts
Due: turbo-lint

fix: keep inactive loop routes out of task projection
  docs/qa/reports/2026-08-25-issue-479.md
  docs/qa/scenarios/LP-exclusive-route-history.md
  internal/loop/control_plan_finish.go
  internal/loop/control_tasks.go
  internal/loop/coordinator_generation_ready.go
  internal/loop/coordinator_lifecycle_test.go
  internal/loop/coordinator_test.go
  internal/store/globaldb/global_db_task_claim_test.go
Due: format-go

fix: decouple settings retry status checks
  web/src/systems/settings/lib/__tests__/query-options.test.ts
  web/src/systems/settings/lib/query-options.ts
Due: turbo-lint

perf: improve ci
  .github/actions/setup-go/action.yml
  .github/workflows/ci.yml
  .github/workflows/go-test-census.yml
  Makefile
  desktop/e2e/_electron/__tests__/shell.spec.ts
  desktop/e2e/_electron/helpers.ts
  desktop/scripts/build-e2e-update.ts
  desktop/scripts/run-e2e-linux.sh
  magefiles/defaults.go
  magefiles/gotest_census.go
  magefiles/gotest_census.json
  magefiles/gotest_census_test.go
  magefiles/gotest_census_update.go
  magefiles/gotest_lane.go
  magefiles/gotest_lane_test.go
  magefiles/test.go
  mise.toml
Due: turbo-lint, format-go

fix: keep inactive loop routes out of task projection (#483)
  docs/qa/reports/2026-08-25-issue-479.md
  docs/qa/scenarios/LP-exclusive-route-history.md
  internal/loop/control_plan_finish.go
  internal/loop/control_tasks.go
  internal/loop/coordinator_generation_ready.go
  internal/loop/coordinator_lifecycle_test.go
  internal/loop/coordinator_test.go
  internal/store/globaldb/global_db_task_claim_test.go
Due: format-go

build: update deps
  .bun-version
  .github/CONTRIBUTING.md
  bun.lock
  desktop/package.json
  internal/extension/testdata/view-program-ts/package.json
  package.json
  packages/site/package.json
  packages/ui/package.json
  sdk/examples/prompt-enhancer/package.json
  sdk/react/package.json
  web/package.json
Due: none

feat: support conjunctive runtime routing (#475)
  docs/qa/reports/2026-08-24-conjunctive-runtime-rules.md
  docs/qa/scenarios/LP-runtime-selection-overrides.md
  internal/api/contract/contract_test.go
  internal/api/contract/loops_runtime.go
  internal/config/loops_test.go
  internal/daemon/loop_runtime_selection_integration_test.go
  internal/daemon/native_loop_tools_test.go
  internal/loop/dsl/runtime.go
  internal/loop/runtime_resolve.go
  internal/loop/runtime_resolve_test.go
  internal/loop/runtime_types.go
  internal/loop/runtime_validation.go
  internal/loop/runtime_validation_test.go
  internal/tools/builtin/builtin_test.go
  internal/tools/builtin/loops_environment_schemas.go
  internal/tools/builtin/testdata/native-tool-catalog.json
  packages/site/content/docs/configuration/config-toml.mdx
  packages/site/content/docs/loops/dsl-reference.mdx
  skills/compozy/references/configuration.md
  skills/compozy/references/loops.md
Due: format-go

refactor: extract symbol picker grid model and sync vendored emoji data semantically
  bun.lock
  packages/ui/src/components/custom/hooks/use-symbol-picker-icon-grid.ts
  packages/ui/src/components/custom/symbol-picker-emoji-pane.tsx
  packages/ui/src/components/custom/symbol-picker-icon-grid.tsx
  packages/ui/src/exports/foundation.ts
  scripts/sync-emojibase.mjs
  web/package.json
Due: turbo-lint

fix: restore stepper hook export path and lexical bump lost in sync
  bun.lock
  packages/ui/src/exports/foundation.ts
  web/package.json
Due: turbo-lint

feat: add inline profile editing and align identity chrome across rows
  docs/qa/scenarios/ET-profile-identity-appearance-catalogs.md
  docs/qa/scenarios/ET-profile-switcher-restore.md
  docs/qa/scenarios/ET-profile-web-aggregate-owner-surfaces.md
  internal/cli/profile_commands.go
  packages/site/content/docs/cli/profile/create.mdx
  packages/site/content/docs/cli/profile/update.mdx
  skills/compozy/references/extension-authoring.md
  skills/compozy/references/profiles.md
  web/src/systems/os/components/os-palette-session-row.tsx
  web/src/systems/profiles/components/__tests__/profile-aggregate-composites.test.tsx
  web/src/systems/profiles/components/__tests__/profile-create-dialog.test.tsx
  web/src/systems/profiles/components/__tests__/profile-identity-dialog.test.tsx
  web/src/systems/profiles/components/__tests__/profile-switcher.test.tsx
  web/src/systems/profiles/components/profile-glyph.tsx
  web/src/systems/profiles/components/profile-owner-tag.tsx
  web/src/systems/profiles/components/profile-switcher-menu.tsx
  web/src/systems/profiles/components/profile-switcher-slot.tsx
  web/src/systems/profiles/components/profile-switcher.tsx
  web/src/systems/profiles/components/stories/profile-switcher.stories.tsx
  web/src/systems/profiles/lib/profile-identity.ts
  web/src/systems/session/components/session-list/session-list-row.tsx
Due: turbo-lint, format-go

fix: profiles menu adjustments
  packages/ui/src/tokens.css
  web/src/systems/profiles/components/profile-glyph.tsx
  web/src/systems/profiles/components/profile-switcher-menu.tsx
  web/src/systems/profiles/components/profile-switcher.tsx
Due: turbo-lint

fix: repair release validation failures
  bun.lock
  docs/qa/reports/2026-08-26-release-ci-composer.md
  docs/qa/scenarios/ET-web-session-composer-text-entry.md
  internal/cli/client_extensions.go
  internal/cli/client_test.go
  internal/cli/client_window_manager_stream.go
  internal/cli/connect_ssh_transport.go
  internal/cli/daemon_bootstrap_output.go
  internal/cli/gateway_pairing_profile.go
  internal/cli/json_flags_test.go
  internal/cli/local_database_test.go
  internal/cli/loop_read_commands.go
  internal/cli/update.go
  internal/cli/window_manager_test.go
  internal/profile/validation_test.go
  packages/site/components/blog/__tests__/toc-rail.test.tsx
  web/package.json
  web/src/components/assistant-ui/hooks/use-session-composer-state.ts
  web/src/components/assistant-ui/session-composer-lexical-plugins.tsx
  web/src/systems/loops/components/__tests__/loop-run-page.test.tsx
  web/src/systems/network/components/work/__tests__/work-banner.test.tsx
  web/src/systems/os/components/__tests__/os-palette-view-renderers.test.tsx
  web/src/systems/os/hooks/__tests__/use-os-palette-root.test.tsx
  web/src/systems/workspace/components/__tests__/worktree-commit-dialog.test.tsx
Due: turbo-lint, format-go

fix: close profile release regressions
  .github/actions/setup-go/action.yml
  docs/qa/bugs/BUG-20260826-profile-palette-session-owner.md
  docs/qa/bugs/BUG-20260826-profile-palette-worktree-owner.md
  docs/qa/bugs/BUG-20260826-session-cli-profile-scope.md
  docs/qa/reports/2026-08-26-profile-identity-final.md
  docs/qa/scenarios/ET-profile-identity-appearance-catalogs.md
  docs/qa/scenarios/ET-profile-switcher-restore.md
  docs/qa/scenarios/ET-profile-web-aggregate-owner-surfaces.md
  internal/cli/session.go
  internal/cli/session_prompt_events.go
  internal/cli/session_test.go
  web/src/systems/os/components/os-palette-domain-row.tsx
  web/src/systems/os/components/os-palette-domain-sections.tsx
  web/src/systems/os/components/os-palette-entity-sections.tsx
  web/src/systems/os/hooks/__tests__/use-os-palette-root.test.tsx
  web/src/systems/os/hooks/use-os-palette-domain-search.ts
  web/src/systems/os/hooks/use-os-palette-entities.ts
  web/src/systems/os/hooks/use-os-palette-workspace-catalogs.ts
  web/src/systems/os/lib/os-palette-domain-search.ts
Due: turbo-lint, format-go

fix: tooling
  desktop/e2e/_electron/__tests__/shell.spec.ts
  desktop/src/window/product-window.ts
  desktop/src/window/window-presentation.ts
  docs/qa/bugs/BUG-20260826-onboarding-pulse-hides-empty-home.md
  docs/qa/reports/2026-08-26-pr-484-global-desktop.md
  docs/qa/scenarios/RT-home-zero-inventory-first-run.md
  docs/qa/scenarios/RT-onboarding-skip-to-global.md
  internal/api/core/cmd_palette.go
  internal/api/core/cmd_palette_test.go
  internal/cli/profile_read_scope.go
  internal/cli/profile_test.go
  internal/daemon/cmd_palette_bindings.go
  internal/daemon/cmd_palette_bindings_test.go
  internal/daemon/window_manager_registry.go
  internal/daemon/window_manager_registry_test.go
  internal/daemon/window_manager_runtime.go
  internal/daemon/window_manager_runtime_test.go
  internal/store/globaldb/global_db_observe_overview.go
  internal/store/globaldb/global_db_observe_overview_scoped.go
  internal/store/globaldb/global_db_observe_overview_test.go
  internal/windowmanager/types.go
  web/src/systems/os/hooks/__tests__/os-interaction-hooks.test.tsx
  web/src/systems/os/hooks/use-desktop-chrome.ts
  web/src/systems/os/hooks/use-global-shortcut-reconciliation.ts
  web/src/systems/workspace/index.ts
  web/src/systems/workspace/lib/__tests__/active-workspace.test.ts
  web/src/systems/workspace/lib/active-workspace.ts
Due: turbo-lint, format-go

docs: plan skill sources QA sessions
  docs/qa/charters/CH-skill-expose-lifecycle-trust.md
  docs/qa/charters/CH-skill-expose-web-repair.md
  docs/qa/charters/CH-skill-session-suppression-matrix.md
  docs/qa/charters/CH-skill-sources-agent-plane.md
  docs/qa/charters/CH-skill-sources-diagnostics-truth.md
  docs/qa/charters/CH-skill-sources-live-apply.md
  docs/qa/charters/CH-skill-sources-managed-session-canary.md
  docs/qa/charters/CH-skill-sources-repo-teammate.md
  docs/qa/charters/CH-skill-sources-settings-web.md
  docs/qa/journeys/J-absorb-skills-from-other-tools.md
  docs/qa/journeys/J-diagnose-skill-sources.md
  docs/qa/journeys/J-operate-skill-sources-headless.md
  docs/qa/journeys/J-share-skills-with-other-tools.md
  docs/qa/journeys/J-use-absorbed-skills-in-a-session.md
  docs/qa/scenarios/ET-compozy-native-tool-invocation.md
  docs/qa/scenarios/ET-compozy-official-skill-discovery.md
  docs/qa/scenarios/ET-live-skill-source-reload.md
  docs/qa/scenarios/ET-manage-skill-source-policy.md
  docs/qa/scenarios/ET-managed-session-skill-loading.md
  docs/qa/scenarios/ET-session-command-catalog-parity.md
  docs/qa/scenarios/ET-session-composer-skill-chip.md
  docs/qa/scenarios/ET-skill-ecosystem-frontmatter-quiet.md
  docs/qa/scenarios/ET-skill-exposure-lifecycle.md
  docs/qa/scenarios/ET-skill-origin-attribution.md
  docs/qa/scenarios/ET-skill-session-source-injection.md
  docs/qa/scenarios/ET-skill-source-agent-parity.md
  docs/qa/scenarios/ET-skill-source-diagnostics-cli.md
  docs/qa/scenarios/ET-skill-source-observe-ledger.md
  docs/qa/scenarios/ET-skill-source-symlink-containment.md
  docs/qa/scenarios/ET-web-marketplace-installed-management.md
  docs/qa/scenarios/ET-web-marketplace-skill-install.md
  docs/qa/scenarios/ET-web-skill-expose-panel.md
  docs/qa/scenarios/ET-web-skill-sources-settings.md
  docs/qa/scenarios/ET-workspace-skill-source-teammate.md
Due: none
