Repository compozy/compozy: changes, and which pre-commit hooks are due for each by the changed paths.
All: turbo-lint, format-go

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit

default_stages:
  - pre-commit

exclude: |
  (?x)^(
    CHANGELOG.md|
    tools/.*/package\.json|
    bun.lockb|
    node_modules|
  )$

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      # - id: trailing-whitespace
      #   args:
      #     - --no-utf8-locale
      - id: end-of-file-fixer
        exclude: '^(CHANGELOG\.md|tools/.*/package\.json|bun\.lockb|node_modules/)'
      - id: check-json
        exclude: '^(tools/.*/package\.json|node_modules/)'
      - id: check-toml
      - id: check-added-large-files
        args:
          - --maxkb=3000
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: detect-private-key
  - repo: local
    hooks:
      - id: turbo-lint
        name: turbo lint
        description: Run linting via Turborepo
        entry: bun run lint
        language: system
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false
      # - id: turbo-type-check
      #   name: turbo type check
      #   description: Run TypeScript checking via Turborepo
      #   entry: bun run type-check
      #   language: system
      #   files: \.(ts|tsx)$
      #   pass_filenames: false
      - id: format-go
        name: format go
        description: Format Go files using make fmt
        entry: make fmt
        language: system
        files: \.go$
        pass_filenames: false
  - repo: https://github.com/lyz-code/yamlfix/
    rev: 1.17.0
    hooks:
      - id: yamlfix
        args:
          - -c
          - .yamlfix.toml
        exclude: ^cluster/.*$

fix: mark the subagent roster stale when the session stream drops
  web/src/systems/session/hooks/__tests__/use-session-live-tail.test.tsx
  web/src/systems/session/hooks/session-live-tail-runtime.ts
Due: turbo-lint

fix: open the inspector's Subagents section from the banner's and N more
  web/src/systems/os/apps/session/__tests__/session-window-content.test.tsx
  web/src/systems/os/apps/session/session-window-content.tsx
Due: turbo-lint

fix: name the waiting banner region by its title and drop an arbitrary opacity
  web/src/systems/session/components/subagents/__tests__/subagent-components.test.tsx
  web/src/systems/session/components/subagents/subagent-group.tsx
  web/src/systems/session/components/subagents/subagent-waiting-banner.tsx
Due: turbo-lint

fix: recover subagent work and bound wake delivery retries
  internal/session/manager_busy_input_test.go
  internal/session/manager_input_dispatch.go
  internal/session/session_presence_test.go
  internal/session/subagent_delivery.go
  internal/session/subagent_finalize.go
  internal/session/subagent_manager.go
  internal/session/subagent_native.go
  internal/session/subagent_recovery.go
  internal/session/subagent_runtime.go
  internal/session/subagent_service.go
  internal/session/subagent_service_test.go
  internal/session/subagent_stop.go
  internal/session/subagent_test_support_test.go
  internal/session/subagent_types.go
  internal/session/subagent_wake.go
  internal/store/globaldb/global_db_session_subagents_list.go
  internal/store/globaldb/global_db_session_subagents_mapping.go
  internal/store/globaldb/global_db_session_subagents_test.go
  internal/store/globaldb/global_db_session_subagents_wakes.go
  internal/store/globaldb/queries/session_subagents.sql
  internal/store/globaldb/schema/definitions/20_sessions.sql
  internal/store/globaldb/schema/migrations/00131_session_subagents.sql
  internal/store/globaldb/schema/migrations/atlas.sum
  internal/store/globaldb/sqlcgen/models.go
  internal/store/globaldb/sqlcgen/session_subagents.sql.go
  internal/store/session_subagents.go
Due: format-go

fix: derive hosted delegation identity and cover subagent lifecycle journeys
  internal/daemon/native_tool_subagent_bindings.go
  internal/daemon/subagent_integration_test.go
  internal/mcp/hosted_proxy.go
  internal/mcp/hosted_proxy_test.go
  internal/mcp/hosted_request_identity.go
  internal/testutil/acpmock/README.md
  internal/testutil/acpmock/cmd/acpmock-driver/diagnostics.go
  internal/testutil/acpmock/cmd/acpmock-driver/main.go
  internal/testutil/acpmock/cmd/acpmock-driver/native_tools.go
  internal/testutil/acpmock/cmd/acpmock-driver/prompt.go
  internal/testutil/acpmock/fixture_driver_control.go
  internal/testutil/acpmock/fixture_types.go
  internal/testutil/acpmock/testdata/native_tool_delegate_fixture.json
Due: format-go

docs: record subagent remediation impact and verification scope
  docs/_memory/change-impact.md
  docs/qa/scenarios/RT-subagent-delegate.md
Due: none

docs: record why the sidebar chip derives urgency from counts
  web/src/systems/session/lib/session-subagent-summary.ts
Due: turbo-lint

fix: nest search-matched and deep revealed subagents under loaded ancestors
  web/src/systems/session/components/__tests__/session-list.test.tsx
  web/src/systems/session/components/session-list/session-list.tsx
  web/src/systems/session/hooks/use-subagent-context-sessions.ts
  web/src/systems/session/lib/__tests__/session-hierarchy.test.ts
  web/src/systems/session/lib/session-hierarchy.ts
  web/src/systems/session/lib/session-subagent-context.ts
Due: turbo-lint

docs: keep the subagents API fix notes in the subagents impact entry
  docs/_memory/change-impact.md
Due: none

docs: explain the subagent workspace lookup fast path
  internal/cli/session_subagents.go
  internal/cli/session_test.go
  packages/site/content/docs/cli/session/subagents/cancel.mdx
  packages/site/content/docs/cli/session/subagents/index.mdx
  packages/site/content/docs/cli/session/subagents/show.mdx
Due: format-go

fix: scope the subagent Stop pending state to the rows being stopped
  web/src/systems/session/components/subagents/__tests__/subagent-components.test.tsx
  web/src/systems/session/components/subagents/session-inspector-subagents-section.tsx
  web/src/systems/session/components/subagents/subagent-waiting-banner.tsx
  web/src/systems/session/components/subagents/use-subagent-stop.ts
Due: turbo-lint

fix: order the subagent roster when a row lacks created_at
  web/src/systems/session/components/__tests__/session-inspector.test.tsx
  web/src/systems/session/components/__tests__/session-list.test.tsx
  web/src/systems/session/components/subagents/__tests__/subagent-format.test.ts
  web/src/systems/session/components/subagents/subagent-format.ts
Due: turbo-lint

fix: preserve hosted MCP sessions on malformed tool calls
  internal/mcp/hosted_proxy_test.go
  internal/mcp/hosted_request_identity.go
Due: format-go

fix: scope tool maximum length validation to opted-in inputs
  docs/_memory/change-impact.md
  internal/tools/descriptor.go
  internal/tools/dispatch_test.go
  internal/tools/id.go
  internal/tools/schema.go
  internal/tools/schema_composition.go
Due: format-go

fix: keep one roster cache subscription per chip
  web/src/systems/session/hooks/use-session-subagents.ts
Due: turbo-lint

fix: show subagents under a deleted ancestor instead of hiding them
  web/src/systems/session/components/__tests__/session-inspector.test.tsx
  web/src/systems/session/components/__tests__/session-list.test.tsx
  web/src/systems/session/components/session-list/session-list-row.tsx
  web/src/systems/session/components/session-list/session-list-thread.tsx
  web/src/systems/session/components/subagents/subagent-format.ts
  web/src/systems/session/components/subagents/subagent-origin-divider.tsx
  web/src/systems/session/hooks/use-subagent-context-sessions.ts
  web/src/systems/session/lib/__tests__/session-hierarchy.test.ts
  web/src/systems/session/lib/session-subagent-context.ts
Due: turbo-lint

fix: preserve subagent cancellation and retry lifecycle
  docs/_memory/change-impact.md
  docs/qa/scenarios/RT-subagent-delegate.md
  internal/daemon/subagent_integration_test.go
  internal/session/manager_busy_input_test.go
  internal/session/manager_prompt_delivery.go
  internal/session/subagent_delivery.go
  internal/session/subagent_manager.go
  internal/session/subagent_recovery.go
  internal/session/subagent_runtime.go
  internal/session/subagent_service.go
  internal/session/subagent_service_test.go
  internal/session/subagent_stop.go
  internal/session/subagent_test_support_test.go
  internal/session/subagent_wake.go
Due: format-go

test: drop duplicated created_at in subagent wire fixtures after merge
  web/src/systems/session/components/__tests__/session-inspector.test.tsx
  web/src/systems/session/components/__tests__/session-list.test.tsx
Due: turbo-lint

docs: record subagents QA re-walk on the remediated build
  docs/qa/bugs/BUG-20261009-native-subagent-title-task.md
  docs/qa/bugs/BUG-20261009-subagent-capabilities-oversized.md
  docs/qa/bugs/BUG-20261009-subagent-card-hosted-tool-name.md
  docs/qa/bugs/BUG-20261009-subagent-card-live-missing.md
  docs/qa/bugs/BUG-20261009-subagent-crash-no-wake.md
  docs/qa/bugs/BUG-20261009-subagent-daemon-stop-cancels.md
  docs/qa/bugs/BUG-20261009-subagent-deny-message-prefixed.md
  docs/qa/bugs/BUG-20261009-subagent-idempotency-default.md
  docs/qa/bugs/BUG-20261009-subagent-preview-raw-markdown.md
  docs/qa/bugs/BUG-20261009-subagent-routes-unavailable.md
  docs/qa/bugs/BUG-20261009-subagent-running-count-settled.md
  docs/qa/bugs/BUG-20261009-subagent-runtime-speed-empty.md
  docs/qa/bugs/BUG-20261009-subagent-settled-hook-canceled.md
  docs/qa/bugs/BUG-20261009-subagent-show-needs-workspace.md
  docs/qa/bugs/BUG-20261009-subagent-status-empty-input.md
  docs/qa/reports/2026-10-09-subagents-r2.md
  docs/qa/scenarios/ET-web-native-subagent.md
  docs/qa/scenarios/ET-web-session-sidebar-threads.md
  docs/qa/scenarios/ET-web-subagent-card.md
  docs/qa/scenarios/RT-subagent-delegate.md
  docs/qa/scenarios/RT-subagent-restart.md
Due: none

fix: bound subagent capability model previews
  docs/_memory/change-impact.md
  docs/qa/bugs/BUG-20261009-subagent-capabilities-oversized.md
  docs/qa/scenarios/RT-subagent-delegate.md
  internal/daemon/native_tool_subagent_results.go
  internal/daemon/native_tools_test.go
  internal/session/subagent_service_test.go
  internal/session/subagent_target.go
  internal/session/subagent_types.go
  internal/tools/builtin/subagents.go
  internal/tools/builtin/subagents_output_schemas.go
  internal/tools/builtin/testdata/native-tool-catalog.json
  packages/site/content/docs/sessions/subagents.mdx
  skills/compozy/references/native-tools.md
Due: format-go

fix: preserve asynchronous subagent hook lifetime
  docs/_memory/change-impact.md
  docs/qa/bugs/BUG-20261009-subagent-deny-message-prefixed.md
  docs/qa/bugs/BUG-20261009-subagent-settled-hook-canceled.md
  docs/qa/scenarios/RT-subagent-delegate.md
  internal/daemon/subagent_integration_test.go
  internal/session/spawn_hooks.go
  internal/session/subagent_delivery.go
  internal/session/subagent_publish.go
  internal/session/subagent_service_test.go
  internal/session/subagent_stop.go
  internal/session/subagent_wake.go
Due: format-go

fix: stream the subagent card on composer prompt streams
  internal/acp/agent_event_provider.go
  internal/acp/agent_event_tool.go
  internal/api/core/prompt_stream_emit.go
  internal/daemon/daemon_mock_agents_integration_test.go
  internal/session/manager_prompt_delivery.go
Due: format-go

fix: keep prose apart across a card-owned call that leaves the timeline
  web/src/components/assistant-ui/__tests__/session-timeline.logic.test.ts
  web/src/components/assistant-ui/session-timeline-subagents.ts
  web/src/components/assistant-ui/session-timeline.logic.ts
Due: turbo-lint

docs: record subagents QA round 3 retest
  docs/qa/bugs/BUG-20261009-subagent-capabilities-oversized.md
  docs/qa/bugs/BUG-20261009-subagent-card-live-missing.md
  docs/qa/bugs/BUG-20261009-subagent-deny-message-prefixed.md
  docs/qa/bugs/BUG-20261009-subagent-settled-hook-canceled.md
  docs/qa/reports/2026-10-09-subagents-r2.md
  docs/qa/scenarios/ET-web-subagent-card.md
  docs/qa/scenarios/RT-subagent-delegate.md
Due: none

fix: clear subagent CI lint and migration regressions
  docs/_memory/change-impact.md
  internal/api/contract/subagents.go
  internal/api/core/errors_diagnostic_payload.go
  internal/api/core/session_archive.go
  internal/api/core/session_catalog.go
  internal/api/core/session_stream_internal_test.go
  internal/api/core/session_stream_transcript.go
  internal/api/core/subagent_summaries.go
  internal/api/core/subagents.go
  internal/api/core/subagents_stream.go
  internal/api/core/tools.go
  internal/api/core/tools_test.go
  internal/api/httpapi/server.go
  internal/api/spec/scope_values.go
  internal/api/spec/session_catalog.go
  internal/api/spec/subagents.go
  internal/api/testutil/subagents_transport_parity_test.go
  internal/api/udsapi/server.go
  internal/cli/client_subagents.go
  internal/cli/client_test.go
  internal/cli/session_list.go
  internal/cli/session_subagents.go
  internal/cli/session_test.go
  internal/cli/session_usage_toon.go
  internal/cli/worktree_deliver.go
  internal/daemon/prompt_sections.go
  internal/session/native_subagent_event.go
  internal/session/subagent_native.go
  internal/session/subagent_request.go
  internal/session/subagent_target.go
  internal/session/subagent_test_support_test.go
  internal/store/globaldb/global_db_test.go
Due: format-go

test: render the sessions modal under a QueryClient like the app root
  web/src/systems/os/components/__tests__/sessions-modal.test.tsx
Due: turbo-lint

fix: reopen subagent hover cards after the trigger switches element
  web/src/systems/session/components/subagents/__tests__/subagent-components.test.tsx
  web/src/systems/session/components/subagents/session-inspector-subagents-section.tsx
  web/src/systems/session/components/subagents/subagent-card.tsx
Due: turbo-lint

fix: keep the subagent roster live while a composer prompt streams
  web/src/systems/session/hooks/__tests__/use-subagent-roster-control-poll.test.tsx
  web/src/systems/session/hooks/use-session-runtime-extensions.ts
  web/src/systems/session/hooks/use-subagent-roster-control-poll.ts
  web/src/systems/session/lib/query-keys.ts
  web/src/systems/session/lib/query-options.ts
Due: turbo-lint

fix: keep tool descriptors below the value copy budget
  internal/api/core/tools.go
  internal/api/udsapi/udsapi_integration_test.go
  internal/daemon/loop_tool_schema_source_test.go
  internal/daemon/native_tool_catalog_payload.go
  internal/daemon/native_tools_test.go
  internal/daemon/tool_resource_clone.go
  internal/extension/resource_publication.go
  internal/extension/resource_publication_test.go
  internal/loop/action.go
  internal/loop/action_test.go
  internal/loop/gate/evaluator_integration_test.go
  internal/mcp/hosted_proxy.go
  internal/mcp/hosted_proxy_test.go
  internal/mcp/hosted_test.go
  internal/mcp/hosted_tool_views.go
  internal/tools/builtin/artifacts.go
  internal/tools/builtin/builtin_test.go
  internal/tools/builtin/catalog.go
  internal/tools/builtin/descriptors.go
  internal/tools/builtin/subagents.go
  internal/tools/descriptor.go
  internal/tools/descriptor_input_error.go
  internal/tools/dispatch_test.go
  internal/tools/execution_metadata.go
  internal/tools/registry.go
  internal/tools/resource.go
  internal/tools/result_limit.go
  internal/tools/schema.go
  internal/tools/schema_digest.go
  internal/tools/tool_test.go
Due: format-go

build: regenerate SDK contracts for grouped tool execution metadata
  sdk/go/contracts/types_024_gen.go
  sdk/typescript/src/generated/contracts.ts
Due: turbo-lint, format-go

fix: clear remaining subagent lint findings
  internal/acp/prompt_synthetic_meta.go
  internal/loop/action_test.go
  internal/store/globaldb/global_db_session_subagents.go
  internal/store/globaldb/global_db_session_subagents_test.go
  internal/toolmeta/registry.go
  internal/transcript/transcript_ui_projection_test.go
  internal/transcript/ui_messages_subagent.go
Due: format-go

fix: let an owning agent cancel its subagents without an active turn
  internal/api/core/subagents.go
  internal/session/subagent_service.go
  internal/session/subagent_service_test.go
  internal/session/subagent_stop.go
Due: format-go

fix: reconcile every pre-boot reservation and wake parents about recovered failures
  internal/session/subagent_recovery.go
  internal/session/subagent_service_test.go
Due: format-go

fix: keep subagent wakes retryable when the parent input queue is full
  internal/session/subagent_delivery.go
  internal/session/subagent_service_test.go
  internal/session/subagent_test_support_test.go
Due: format-go

fix: send the full subagent roster so older cards keep their state
  internal/api/core/session_stream_internal_test.go
  internal/api/core/subagents_stream.go
  web/src/systems/session/hooks/__tests__/use-subagent-roster-control-poll.test.tsx
  web/src/systems/session/lib/query-options.ts
Due: turbo-lint, format-go

style: wrap long subagent lines for golines
  internal/api/core/session_stream_internal_test.go
  internal/api/core/subagents.go
  internal/api/core/subagents_stream.go
  internal/session/subagent_service_test.go
Due: format-go

fix: cancel the current subagent row, not a pre-lock snapshot
  internal/session/subagent_delegate.go
  internal/session/subagent_service_test.go
  internal/session/subagent_stop.go
Due: format-go

fix: deliver a recovered wake only when its turn completed
  internal/session/subagent_recovery.go
  internal/session/subagent_runtime.go
  internal/session/subagent_service.go
  internal/session/subagent_service_test.go
  internal/session/subagent_test_support_test.go
Due: format-go

fix: never restart a child canceled before its first prompt is admitted
  internal/session/subagent_delegate.go
  internal/session/subagent_recovery.go
  internal/session/subagent_runtime.go
  internal/session/subagent_service.go
  internal/session/subagent_service_test.go
  internal/session/subagent_test_support_test.go
Due: format-go
