Repository compozy/compozy: changes, and which pre-commit hooks are due for each by the changed paths.
All: turbo-lint, format-go

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit

default_stages:
  - pre-commit

exclude: |
  (?x)^(
    CHANGELOG.md|
    tools/.*/package\.json|
    bun.lockb|
    node_modules|
  )$

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      # - id: trailing-whitespace
      #   args:
      #     - --no-utf8-locale
      - id: end-of-file-fixer
        exclude: '^(CHANGELOG\.md|tools/.*/package\.json|bun\.lockb|node_modules/)'
      - id: check-json
        exclude: '^(tools/.*/package\.json|node_modules/)'
      - id: check-toml
      - id: check-added-large-files
        args:
          - --maxkb=3000
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: detect-private-key
  - repo: local
    hooks:
      - id: turbo-lint
        name: turbo lint
        description: Run linting via Turborepo
        entry: bun run lint
        language: system
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false
      # - id: turbo-type-check
      #   name: turbo type check
      #   description: Run TypeScript checking via Turborepo
      #   entry: bun run type-check
      #   language: system
      #   files: \.(ts|tsx)$
      #   pass_filenames: false
      - id: format-go
        name: format go
        description: Format Go files using make fmt
        entry: make fmt
        language: system
        files: \.go$
        pass_filenames: false
  - repo: https://github.com/lyz-code/yamlfix/
    rev: 1.17.0
    hooks:
      - id: yamlfix
        args:
          - -c
          - .yamlfix.toml
        exclude: ^cluster/.*$

fix: keep worktree exit menu mounted
  web/src/systems/workspace/components/__tests__/worktree-exit-control.test.tsx
  web/src/systems/workspace/components/worktree-exit-control.tsx
Due: turbo-lint

fix: validate desktop release smoke wiring
  .github/workflows/release.yml
  internal/config/release_config_test.go
Due: format-go

build: prepare release v0.3.0 (#390)
  CHANGELOG.md
  RELEASE_BODY.md
  RELEASE_NOTES.md
  go.mod
  go.sum
Due: none

fix: lint
  web/src/systems/os/apps/session/__tests__/session-window-content.test.tsx
Due: turbo-lint

fix: bound session prompt payloads
  web/src/systems/session/lib/__tests__/session-prompt-chat-transport.test.ts
  web/src/systems/session/lib/session-prompt-chat-transport.ts
Due: turbo-lint

fix: clarify missing config path errors
  internal/api/core/tool_errors.go
  internal/api/core/tools_test.go
  internal/daemon/daemon_extension_agent_fixture_e2e_integration_test.go
  internal/mcp/hosted_proxy_test.go
  skills/compozy/references/configuration.md
Due: format-go

docs: design reason-aware config errors
  docs/superpowers/plans/2026-08-13-config-path-error-message.md
  docs/superpowers/specs/2026-08-13-config-path-error-message-design.md
Due: none

fix: validate public CLI version command
  internal/config/release_config_test.go
  scripts/smoke-public-cli-package.sh
Due: format-go

test: harden config path error coverage
  docs/superpowers/plans/2026-08-13-config-path-error-message.md
  internal/api/core/tools_test.go
  internal/mcp/hosted_proxy_test.go
Due: format-go

test: align dead session recovery coverage
  internal/daemon/compaction_resume_integration_test.go
  internal/daemon/daemon_acpmock_faults_integration_test.go
Due: format-go

fix: preserve tool error code precedence
  docs/superpowers/plans/2026-08-13-config-path-error-message.md
  docs/superpowers/specs/2026-08-13-config-path-error-message-design.md
  internal/api/core/tool_errors.go
  internal/api/core/tools_test.go
Due: format-go

fix: clarify missing config path errors (#401)
  docs/superpowers/plans/2026-08-13-config-path-error-message.md
  docs/superpowers/specs/2026-08-13-config-path-error-message-design.md
  internal/api/core/tool_errors.go
  internal/api/core/tools_test.go
  internal/daemon/daemon_extension_agent_fixture_e2e_integration_test.go
  internal/mcp/hosted_proxy_test.go
  skills/compozy/references/configuration.md
Due: format-go

build: prepare release v0.3.0 (#398)
  CHANGELOG.md
  RELEASE_BODY.md
  RELEASE_NOTES.md
  go.mod
  go.sum
Due: none

docs: update qa
  docs/qa/bugs/BUG-20260807-npm-dist-tag-readiness.md
  docs/qa/bugs/BUG-20260814-go-install-replace-directives.md
  docs/qa/scenarios/APP-install-first-run-provision.md
  docs/qa/scenarios/REL-beta-install-paths.md
  docs/qa/scenarios/REL-published-npm-channel-readiness.md
Due: none

fix(session): write $ENV interpolation in pi models.json apiKey
  internal/session/provider_runtime_helpers.go
  internal/session/provider_runtime_test.go
Due: format-go

fix: adjustments
  docs/qa/charters/CH-memory-operational-state-boundary.md
  docs/qa/journeys/J-store-durable-memory-safely.md
  docs/qa/reports/2026-08-14-pr-396-memory-safety.md
  docs/qa/scenarios/MS-reject-operational-memory-state.md
  internal/memory/controller/controller.go
  internal/memory/controller/controller_collision.go
  internal/memory/controller/controller_test.go
  internal/memory/scan/scan.go
  internal/memory/scan/scan_test.go
  skills/compozy/references/memory.md
Due: format-go

fix: guard autonomous memory extractor writes (#396)
  docs/qa/charters/CH-memory-operational-state-boundary.md
  docs/qa/journeys/J-store-durable-memory-safely.md
  docs/qa/reports/2026-08-14-pr-396-memory-safety.md
  docs/qa/scenarios/MS-reject-operational-memory-state.md
  internal/memory/controller/controller.go
  internal/memory/controller/controller_collision.go
  internal/memory/controller/controller_test.go
  internal/memory/scan/scan.go
  internal/memory/scan/scan_test.go
  skills/compozy/references/memory.md
Due: format-go

test: tighten dev-cycle eight-skill contract assertions
  extensions/dev-cycle/embed_test.go
  internal/daemon/agent_skill_resources_integration_test.go
Due: format-go

fix: adjustments
  docs/qa/charters/CH-spec-cycle-public-inventory.md
  docs/qa/charters/CH-spec-cycle-three-loop-lifecycle.md
  docs/qa/reports/2026-08-14-review-handoff-spec-cycle.md
  docs/qa/scenarios/ET-052.md
  docs/qa/scenarios/ET-site-docs-examples-wave-one.md
  docs/qa/scenarios/ET-site-marketplace-bridges-bundled.md
  extensions/spec-cycle/embed_test.go
  extensions/spec-cycle/loops/orchestrate-tasks/loop.yaml
  internal/daemon/agent_skill_resources_integration_test.go
  internal/daemon/loop_resources_integration_test.go
  internal/daemon/native_extension_tool_provider_test.go
  packages/site/app/marketplace/bundled/spec-cycle/page.tsx
  packages/site/app/sitemap.ts
  packages/site/components/marketplace/marketplace-bundled-section.tsx
  packages/site/content/docs/examples/orchestrate-tasks-loop.mdx
  packages/site/lib/marketplace-bundled.ts
  packages/site/lib/public-search-index.ts
  web/src/systems/loops/adapters/__tests__/loops-api.test.ts
  web/src/systems/loops/components/__tests__/loop-catalog.test.tsx
  web/src/systems/loops/components/stories/loop-run-page-fixture-world.ts
  web/src/systems/loops/hooks/__tests__/use-loops.test.tsx
  web/src/systems/loops/lib/__tests__/loop-catalog.test.ts
  web/src/systems/loops/mocks/fixture-action-kinds.ts
  web/src/systems/loops/mocks/fixture-graph.ts
  web/src/systems/loops/mocks/fixture-graphs.ts
  web/src/systems/loops/mocks/fixture-implement-tasks.ts
  web/src/systems/loops/mocks/fixture-orchestrate-tasks.ts
  web/src/systems/loops/mocks/fixture-quality-gate.ts
  web/src/systems/loops/mocks/fixture-review-and-fix.ts
  web/src/systems/loops/mocks/fixtures.ts
Due: turbo-lint, format-go

docs: update deep review config
  .deep-review.yaml
Due: none

build: worktree sync script
  CLAUDE.md
  Makefile
  magefiles/magefile_test.go
  scripts/worktree.sh
Due: format-go

Update internal/session/provider_runtime_helpers.go
  internal/session/provider_runtime_helpers.go
Due: format-go

fix: harden pi credential interpolation
  docs/qa/reports/2026-08-14-pr-404-pi-bound-secret.md
  docs/qa/scenarios/RT-018.md
  internal/session/provider_runtime_helpers.go
  internal/session/provider_runtime_test.go
Due: format-go

fix: write $ENV interpolation in pi runtime models.json apiKey (#404)
  docs/qa/reports/2026-08-14-pr-404-pi-bound-secret.md
  docs/qa/scenarios/RT-018.md
  internal/session/provider_runtime_helpers.go
  internal/session/provider_runtime_test.go
Due: format-go

fix: adjustments
  .agents/skills/git-rebase/scripts/analyze-conflicts.sh
  .agents/skills/git-rebase/scripts/validate-merge.sh
  docs/qa/charters/CH-git-rebase-helper-safety.md
  docs/qa/journeys/J-offer-runnable-capabilities.md
  docs/qa/reports/2026-08-14-coderabbit-git-rebase-helper.md
  docs/qa/scenarios/ET-git-rebase-helper-safety.md
  extensions/spec-cycle/embed_test.go
  extensions/spec-cycle/skills/git-rebase/scripts/analyze-conflicts.sh
  extensions/spec-cycle/skills/git-rebase/scripts/validate-merge.sh
  internal/daemon/daemon_test.go
  internal/skills/registry_test.go
  web/src/systems/loops/mocks/fixture-orchestrate-tasks.ts
Due: turbo-lint, format-go

feat: add shared loops icon registries and collapsible section shell
  web/src/systems/loops/components/__tests__/loop-run-page.test.tsx
  web/src/systems/loops/components/__tests__/loop-section.test.tsx
  web/src/systems/loops/components/loop-page-lede.tsx
  web/src/systems/loops/components/loop-section.tsx
  web/src/systems/loops/components/run-page/loop-node-control-menu.tsx
  web/src/systems/loops/components/run-page/loop-node-row-actions.tsx
  web/src/systems/loops/components/run-page/loop-run-controls.tsx
  web/src/systems/loops/components/run-page/loop-run-parked-panels.tsx
  web/src/systems/loops/components/run-page/loop-run-story-timeline.tsx
  web/src/systems/loops/components/stories/loop-section.stories.tsx
  web/src/systems/loops/index.ts
  web/src/systems/loops/lib/__tests__/loop-run-story.test.ts
  web/src/systems/loops/lib/loop-node-kind-icons.ts
  web/src/systems/loops/lib/loop-run-story-lifecycle-rows.ts
  web/src/systems/loops/lib/loop-run-story-types.ts
  web/src/systems/loops/lib/loop-start-kind-icons.ts
  web/src/systems/loops/lib/loop-story-icons.ts
Due: turbo-lint

feat: add confirm dialog icon well, foot note, and solid danger variant
  packages/ui/src/components/__tests__/button.test.tsx
  packages/ui/src/components/__tests__/confirm-dialog.test.tsx
  packages/ui/src/components/button-variants.ts
  packages/ui/src/components/custom/__tests__/radio-card.test.tsx
  packages/ui/src/components/custom/confirm-dialog.tsx
  packages/ui/src/components/custom/radio-card.tsx
  packages/ui/src/components/custom/stories/radio-card.stories.tsx
  packages/ui/src/components/stories/button.stories.tsx
  packages/ui/src/components/stories/confirm-dialog.stories.tsx
  packages/ui/src/exports/editors.ts
Due: turbo-lint

feat: align loop run form with the visual contract section grammar
  web/src/systems/loops/components/__tests__/loop-run-form.test.tsx
  web/src/systems/loops/components/__tests__/loop-run-input-field.test.tsx
  web/src/systems/loops/components/run-form/loop-run-active-notice.tsx
  web/src/systems/loops/components/run-form/loop-run-environment.tsx
  web/src/systems/loops/components/run-form/loop-run-form.tsx
  web/src/systems/loops/components/run-form/loop-run-input-field.tsx
  web/src/systems/loops/components/run-form/loop-run-overrides.tsx
  web/src/systems/loops/components/stories/loop-run-form.stories.tsx
  web/src/systems/loops/hooks/use-loop-run-form.ts
  web/src/systems/loops/lib/__tests__/loop-run-form.test.ts
  web/src/systems/loops/lib/loop-run-form.ts
Due: turbo-lint

feat: enforce the catalog badge budget and unify row and card facts
  web/src/systems/loops/components/__tests__/loop-catalog.test.tsx
  web/src/systems/loops/components/catalog/loop-catalog-card.tsx
  web/src/systems/loops/components/catalog/loop-catalog-facts.tsx
  web/src/systems/loops/components/catalog/loop-catalog-lede.tsx
  web/src/systems/loops/components/catalog/loop-catalog-row.tsx
  web/src/systems/loops/components/catalog/loop-catalog.tsx
  web/src/systems/loops/components/catalog/loop-run-button.tsx
  web/src/systems/loops/components/stories/loop-catalog.stories.tsx
  web/src/systems/loops/lib/__tests__/loop-catalog.test.ts
  web/src/systems/loops/lib/loop-catalog-presentation.ts
  web/src/systems/loops/lib/loop-catalog.ts
  web/src/systems/os/apps/loops/loops-catalog-location.tsx
  web/src/systems/os/apps/loops/use-loops-catalog.ts
Due: turbo-lint

feat: rebuild the editor node card and palette to the visual contract
  web/src/systems/loops/components/__tests__/loop-editor.test.tsx
  web/src/systems/loops/components/editor/loop-editor-canvas.tsx
  web/src/systems/loops/components/editor/loop-editor-contract-terminals.tsx
  web/src/systems/loops/components/editor/loop-editor-contract.tsx
  web/src/systems/loops/components/editor/loop-editor-field.tsx
  web/src/systems/loops/components/editor/loop-editor-fold.tsx
  web/src/systems/loops/components/editor/loop-editor-node.tsx
  web/src/systems/loops/components/editor/loop-editor-palette.tsx
  web/src/systems/loops/components/editor/loop-editor-publish-rejected-strip.tsx
  web/src/systems/loops/components/editor/loop-editor-topbar-actions.tsx
  web/src/systems/loops/components/editor/loop-editor.tsx
  web/src/systems/loops/components/stories/loop-editor.stories.tsx
  web/src/systems/loops/hooks/__tests__/use-loop-editor-state.test.ts
  web/src/systems/loops/hooks/loop-editor-store-contracts.ts
  web/src/systems/loops/hooks/loop-editor-store-draft.ts
  web/src/systems/loops/hooks/loop-editor-store-publish.ts
  web/src/systems/loops/hooks/use-loop-editor-state.ts
  web/src/systems/loops/hooks/use-loop-editor.ts
  web/src/systems/loops/lib/__tests__/loop-node-card-rows.test.ts
  web/src/systems/loops/lib/loop-editor-layout.ts
  web/src/systems/loops/lib/loop-node-card-rows.ts
  web/src/systems/loops/lib/loop-node-lifecycle-fields.ts
  web/src/systems/loops/lib/loop-node-schema-types.ts
  web/src/systems/loops/lib/loop-node-wait-fields.ts
Due: turbo-lint

feat: land the run page section grammar and locked state fixes
  web/src/systems/loops/components/__tests__/loop-run-page.test.tsx
  web/src/systems/loops/components/run-page/loop-node-row-actions.tsx
  web/src/systems/loops/components/run-page/loop-run-about-rail.tsx
  web/src/systems/loops/components/run-page/loop-run-needs-you-card.tsx
  web/src/systems/loops/components/run-page/loop-run-next-note.tsx
  web/src/systems/loops/components/run-page/loop-run-now-card.tsx
  web/src/systems/loops/components/run-page/loop-run-outcome-card.tsx
  web/src/systems/loops/components/run-page/loop-run-overflow-menu.tsx
  web/src/systems/loops/components/run-page/loop-run-page-body.tsx
  web/src/systems/loops/components/run-page/loop-run-parked-panels.tsx
  web/src/systems/loops/components/run-page/loop-run-progress-panel.tsx
  web/src/systems/loops/components/run-page/loop-run-section.tsx
  web/src/systems/loops/components/run-page/loop-run-story-timeline.tsx
  web/src/systems/loops/components/run-page/loop-run-subhead.tsx
  web/src/systems/loops/components/run-page/loop-run-usage-rail.tsx
  web/src/systems/loops/components/run-page/loop-run-waits-rail.tsx
  web/src/systems/loops/components/stories/loop-node-controls.stories.tsx
  web/src/systems/loops/components/stories/loop-run-lifecycle-fixtures.ts
  web/src/systems/loops/components/stories/loop-run-page.stories.tsx
  web/src/systems/loops/index.ts
  web/src/systems/loops/lib/__tests__/loop-run-progress.test.ts
  web/src/systems/loops/lib/__tests__/loop-run-story.test.ts
  web/src/systems/loops/lib/loop-node-lifecycle.ts
  web/src/systems/loops/lib/loop-node-now-view.ts
  web/src/systems/loops/lib/loop-run-progress.ts
  web/src/systems/loops/lib/loop-run-story-rows.ts
  web/src/systems/loops/lib/loop-run-story-types.ts
  web/src/systems/loops/lib/loop-story-icons.ts
  web/src/systems/os/apps/loops/loop-run-detail-location.tsx
Due: turbo-lint

feat: bring loop detail and node inventories onto the contract grammar
  web/src/systems/loops/components/__tests__/loop-detail.test.tsx
  web/src/systems/loops/components/__tests__/loop-section.test.tsx
  web/src/systems/loops/components/__tests__/loop-start-bindings-panel.test.tsx
  web/src/systems/loops/components/detail/loop-body-dag.tsx
  web/src/systems/loops/components/detail/loop-contract-panel.tsx
  web/src/systems/loops/components/detail/loop-declared-inputs.tsx
  web/src/systems/loops/components/detail/loop-detail.tsx
  web/src/systems/loops/components/detail/loop-limits-panel.tsx
  web/src/systems/loops/components/detail/loop-recent-runs.tsx
  web/src/systems/loops/components/detail/loop-start-bindings-panel.tsx
  web/src/systems/loops/components/detail/loop-stats-panel.tsx
  web/src/systems/loops/components/detail/loop-versions-panel.tsx
  web/src/systems/loops/components/loop-section.tsx
  web/src/systems/loops/components/runs/loop-node-inventory-view.tsx
  web/src/systems/loops/components/stories/loop-node-inventory.stories.tsx
  web/src/systems/loops/hooks/use-loop-node-exists.ts
  web/src/systems/loops/lib/__tests__/loop-limits.test.ts
  web/src/systems/loops/lib/__tests__/loop-node-inventory.test.ts
  web/src/systems/loops/lib/codec.ts
  web/src/systems/loops/lib/loop-limits.ts
  web/src/systems/loops/lib/loop-node-inventory.ts
  web/src/systems/loops/lib/loop-run-usage.ts
  web/src/systems/loops/lib/loops-route-search.ts
  web/src/systems/loops/lib/query-keys.ts
  web/src/systems/loops/lib/query-options.ts
  web/src/systems/loops/testing/loop-node-lifecycle-fixture.ts
  web/src/systems/os/apps/loops/__tests__/loop-runs-location.test.tsx
  web/src/systems/os/apps/loops/loop-runs-location.tsx
  web/src/systems/os/apps/loops/use-loop-runs-route.ts
  web/src/systems/os/components/__tests__/attention-bell.test.tsx
  web/src/systems/os/components/attention-bell.tsx
  web/src/systems/os/components/desktop-menubar.tsx
  web/src/systems/os/components/stories/attention-surfaces.stories.tsx
  web/src/systems/os/hooks/__tests__/use-os-attention.test.tsx
  web/src/systems/os/hooks/use-os-attention.ts
  web/src/systems/os/lib/__tests__/attention-model.test.ts
  web/src/systems/os/lib/attention-model.ts
Due: turbo-lint

feat: align node control dialogs and quarantine sheet with the modal contract
  web/src/systems/loops/adapters/loop-nodes-api.ts
  web/src/systems/loops/adapters/loops-api-errors.ts
  web/src/systems/loops/adapters/loops-runs-api.ts
  web/src/systems/loops/components/__tests__/loop-run-page.test.tsx
  web/src/systems/loops/components/run-page/loop-control-answer-alert.tsx
  web/src/systems/loops/components/run-page/loop-node-control-dialog.tsx
  web/src/systems/loops/components/run-page/loop-node-control-menu.tsx
  web/src/systems/loops/components/run-page/loop-quarantine-chain.tsx
  web/src/systems/loops/components/run-page/loop-quarantine-sheet.tsx
  web/src/systems/loops/components/run-page/loop-run-control-dialog.tsx
  web/src/systems/loops/components/run-page/loop-run-inspect-sheet.tsx
  web/src/systems/loops/components/run-page/loop-run-quiet-note.tsx
  web/src/systems/loops/components/stories/loop-node-controls.stories.tsx
  web/src/systems/loops/components/stories/loop-quarantine-sheet.stories.tsx
  web/src/systems/loops/index.ts
  web/src/systems/loops/lib/loop-node-controls.ts
  web/src/systems/loops/lib/loop-node-verb-copy.ts
  web/src/systems/loops/lib/loop-node-verb-icons.ts
  web/src/systems/loops/lib/loop-node-wait-payload.ts
  web/src/systems/os/apps/loops/__tests__/loop-run-detail-location.test.tsx
  web/src/systems/os/apps/loops/loop-run-detail-location.tsx
  web/src/systems/os/apps/loops/use-loop-node-controls.ts
  web/src/systems/os/apps/loops/use-loop-run-page.ts
Due: turbo-lint

docs: flag loops visual-contract QA scenarios
  docs/qa/scenarios/ET-web-loop-editor-node-truncate.md
  docs/qa/scenarios/ET-web-loop-editor-sidebar-tabs.md
  docs/qa/scenarios/ET-web-loop-editor-topbar.md
  docs/qa/scenarios/LP-web-attention-loop-rows.md
  docs/qa/scenarios/LP-web-catalog-badge-budget.md
  docs/qa/scenarios/LP-web-detail-inventory-contract.md
  docs/qa/scenarios/LP-web-node-dialog-modal-contract.md
  docs/qa/scenarios/LP-web-run-form-section-grammar.md
  docs/qa/scenarios/LP-web-run-page-section-grammar.md
Due: none
