Repository compozy/compozy: changes, and which pre-commit hooks are due for each by the changed paths.
All: turbo-lint, format-go

turbo-lint:
  name: turbo lint
  description: Run linting via Turborepo
  entry: bun run lint
  language: system
  pass_filenames: false

format-go:
  name: format go
  description: Format Go files using make fmt
  entry: make fmt
  language: system
  pass_filenames: false

build: load recovery tools for old refs
  .github/workflows/release.yml
Due: none

build: fix release receipt subject
  .github/workflows/release.yml
Due: none

docs: publish ACP speed control contract
  CHANGELOG.md
  README.md
  docs/events.md
  docs/reader-library.md
  internal/cli/root_test.go
  internal/core/agent/client_test.go
  pkg/compozy/events/kinds/docs_test.go
  pkg/compozy/runs/examples_test.go
  skills/compozy/SKILL.md
  skills/compozy/references/cli-reference.md
  skills/compozy/references/config-reference.md
  test/skills_bundle_test.go
Due: format-go

fix: align release and process test contracts
  internal/config/release_config_test.go
  scripts/air-state-lock/main_test.go
Due: format-go

build: 500 lines lint
  Makefile
  magefiles/boundaries.go
  magefiles/deps_lint.go
  magefiles/source_size.go
  magefiles/verify.go
Due: format-go

fix: review round
  internal/cli/mcp_serve_test.go
  internal/daemon/native_automation_scope.go
  internal/extension/host_api_automation_binding.go
  internal/extension/host_api_test.go
Due: format-go

fix: validate speed and hydrate public run summaries
  internal/core/agent/registry_validate.go
  internal/core/api_test.go
  pkg/compozy/runs/integration_test.go
  pkg/compozy/runs/summary.go
  pkg/compozy/runs/watch.go
Due: format-go

build: improve gates
  .github/workflows/ci.yml
  Makefile
  go.mod
  internal/api/spec/operation_validation.go
  internal/api/spec/spec.go
  internal/api/spec/spec_test.go
  internal/codegen/storeschema/sqlc.go
  internal/codegen/storeschema/sqlc_test.go
  internal/daemon/native_tools.go
  internal/daemon/native_tools_test.go
  magefiles/build.go
  magefiles/codegen.go
  magefiles/cross_build.go
  magefiles/defaults.go
  magefiles/deps_lint.go
  magefiles/openapi_artifacts.go
  magefiles/openapi_artifacts_test.go
  magefiles/source_policy.go
  magefiles/source_policy_integration.go
  magefiles/source_policy_process.go
  magefiles/source_policy_provider_env.go
  magefiles/source_policy_test.go
Due: format-go

build: repo clone
  .repoclone.rc
Due: none

fix: align invalid speed test with subtest convention
  internal/cli/session_test.go
Due: format-go

build: changelog fix
  bun.lock
  cliff.toml
  docs/design/opendesign/_done/modals/create-job-redesign.html.artifact.json
  docs/design/opendesign/_done/modals/create-task-redesign.html.artifact.json
  docs/design/opendesign/_done/modals/create-trigger-redesign.html.artifact.json
  docs/design/opendesign/_done/shell/compozy-refined-7.html.artifact.json
  docs/design/opendesign/_done/shell/index.html.artifact.json
  docs/design/opendesign/automation/jobs-empty-suggestions.html
  docs/design/opendesign/automation/jobs-empty-suggestions.html.artifact.json
  docs/design/opendesign/automation/triggers-empty-suggestions.html
  docs/design/opendesign/automation/triggers-empty-suggestions.html.artifact.json
  docs/design/opendesign/runtime-selector-variations.html
  docs/design/opendesign/runtime-selector-variations.html.artifact.json
  docs/design/opendesign/tasks/tasks-empty-templates.html
  docs/design/opendesign/tasks/tasks-empty-templates.html.artifact.json
  docs/qa/scenarios/REL-stable-changelog-hard-cut.md
  internal/config/release_config_test.go
  package.json
  packages/site/package.json
  packages/ui/package.json
  sdk/examples/prompt-enhancer/package.json
  web/package.json
Due: format-go

fix: adjustments
  docs/qa/scenarios/ET-web-session-deep-link-isolation.md
  web/e2e/__tests__/os-shell.spec.ts
  web/e2e/__tests__/tool-approval-grants.spec.ts
  web/src/hooks/routes/__tests__/use-session-workspace-guard.test.tsx
  web/src/hooks/routes/use-session-workspace-guard.ts
  web/src/routes/_app/-agent-session-route-loader.ts
  web/src/routes/_app/-route-preload.ts
  web/src/routes/_app/-session-permalink-route.ts
  web/src/routes/_app/__tests__/-agent-session-deeplink.router.integration.test.tsx
  web/src/routes/_app/agents.$name.sessions.$id.tsx
  web/src/systems/network/hooks/__tests__/use-channels.test.tsx
  web/src/systems/network/hooks/pinned-channels-store.ts
  web/src/systems/network/hooks/use-channels.ts
  web/src/systems/os/apps/session/session-window-view.tsx
  web/src/systems/os/apps/session/session-window.tsx
  web/src/systems/session/adapters/__tests__/session-api.test.ts
  web/src/systems/session/adapters/session-api.ts
  web/src/systems/session/hooks/__tests__/use-session-actions.test.tsx
  web/src/systems/session/hooks/__tests__/use-session-catalog-streams.test.tsx
  web/src/systems/session/hooks/use-session-actions.ts
  web/src/systems/session/hooks/use-session-catalog-streams.ts
  web/src/systems/session/index.ts
  web/src/systems/session/lib/query-keys.ts
  web/src/systems/session/lib/query-options.ts
  web/src/systems/session/lib/session-query-invalidation.ts
Due: turbo-lint

fix: react-doctor
  docs/qa/scenarios/MS-layout-editor-clear-selection.md
  packages/site/components/docs/page-actions/llm-copy-button.tsx
  packages/site/components/landing/primitives/use-reduced-motion.ts
  packages/site/components/landing/supported-agents.tsx
  packages/site/components/site/__tests__/docs-header.test.tsx
  packages/site/components/site/docs-header.tsx
  packages/ui/src/components/custom/pill.tsx
  packages/ui/src/components/dialog.tsx
  packages/ui/src/components/popover.tsx
  packages/ui/src/components/reui/filters.tsx
  packages/ui/src/components/reui/stepper.tsx
  packages/ui/src/components/reui/tree.tsx
  packages/ui/src/components/sheet.tsx
  packages/ui/src/components/toggle-group.tsx
  packages/ui/src/components/tooltip.tsx
  web/src/components/assistant-ui/session-timeline-render.tsx
  web/src/systems/bridges/lib/bridge-secret-slot-submission.ts
  web/src/systems/loops/hooks/__tests__/use-loop-stream.test.tsx
  web/src/systems/loops/hooks/use-loop-stream.ts
  web/src/systems/os/apps/loops/__tests__/use-loop-run-page-state.test.ts
  web/src/systems/os/apps/loops/use-loop-run-page-state.ts
  web/src/systems/os/apps/loops/use-loop-run-page.ts
  web/src/systems/session/lib/session-create-draft.ts
  web/src/systems/session/lib/session-runtime-render-context.tsx
  web/src/systems/settings/components/__tests__/layout-canvas.test.tsx
  web/src/systems/settings/components/__tests__/provider-detail-dialog.test.tsx
  web/src/systems/settings/components/layouts/layout-canvas.tsx
  web/src/systems/settings/hooks/use-pointer-drag.ts
  web/src/systems/settings/hooks/use-window-manager-ratio-track.ts
  web/src/systems/settings/lib/roles-config.ts
Due: turbo-lint

docs: opendesign
  .codex/hooks.json
  docs/design/opendesign/runtime-selector-variations.html
Due: none

fix: onboarding workspace selection
  scripts/dev.sh
  scripts/devreadiness/dev_readiness_integration_test.go
  scripts/run-air.sh
  web/src/systems/onboarding/hooks/__tests__/use-onboarding-workspaces.test.tsx
  web/src/systems/onboarding/hooks/use-onboarding-workspaces.ts
Due: turbo-lint, format-go

ci: fix release process
  .github/workflows/release.yml
  Makefile
  docs/qa/scenarios/REL-release-candidate-plan.md
  internal/config/release_config_test.go
  scripts/worktree.sh
Due: format-go

ci: improve release dry run
  .github/workflows/release.yml
  docs/qa/scenarios/REL-release-candidate-plan.md
  internal/config/release_config_test.go
  scripts/release-preflight.sh
Due: format-go

release: prepare release v0.3.0 (#269)
  CHANGELOG.md
  RELEASE_BODY.md
  RELEASE_NOTES.md
  go.mod
  go.sum
Due: none

feat: support grouped skill directories
  .release-notes/grouped-skill-directories-1785293468.md
  docs/qa/scenarios/ET-nested-skill-groups.md
  internal/api/core/conversions_workspace_provider.go
  internal/api/core/session_workspace_internal_test.go
  internal/api/httpapi/handlers_test.go
  internal/api/udsapi/handlers_test.go
  internal/cli/skill.go
  internal/cli/skill_commands_mutation.go
  internal/cli/skill_create.go
  internal/cli/skill_output.go
  internal/cli/skill_test.go
  internal/cli/skill_workspace_metadata.go
  internal/daemon/agent_skill_resources_integration_test.go
  internal/daemon/daemon_integration_test.go
  internal/daemon/native_tools_test.go
  internal/skills/loader.go
  internal/skills/loader_test.go
  internal/skills/loader_values.go
  internal/skills/registry_snapshot.go
  internal/skills/registry_test.go
  internal/skillscan/scan.go
  internal/skillscan/scan_test.go
  internal/workspace/resolver_integration_test.go
  internal/workspace/resolver_test.go
  internal/workspace/scanner.go
  internal/workspace/skill_identity.go
  internal/workspace/workspace.go
  internal/workspace/workspace_test.go
  packages/site/content/runtime/cli-reference/skill/create.mdx
  packages/site/content/runtime/core/configuration/file-locations.mdx
  packages/site/content/runtime/core/configuration/skill-md.mdx
  packages/site/content/runtime/core/skills/index.mdx
  packages/site/content/runtime/core/skills/skill-md.mdx
  packages/site/content/runtime/core/workspaces/config-overlays.mdx
  packages/site/content/runtime/core/workspaces/multi-root.mdx
  packages/site/content/runtime/core/workspaces/resolver.mdx
  skills/compozy/references/tools-and-skills.md
Due: format-go

fix: review round
  internal/cli/skill_create.go
  internal/cli/skill_test.go
  internal/cli/skill_workspace_metadata.go
  internal/skills/registry_test.go
  internal/skillscan/scan.go
  internal/skillscan/scan_test.go
  packages/site/content/runtime/core/configuration/skill-md.mdx
  packages/site/content/runtime/core/skills/index.mdx
  skills.test
Due: format-go

feat: support grouped skill directories (#270)
  .release-notes/grouped-skill-directories-1785293468.md
  docs/qa/scenarios/ET-nested-skill-groups.md
  internal/api/core/conversions_workspace_provider.go
  internal/api/core/session_workspace_internal_test.go
  internal/api/httpapi/handlers_test.go
  internal/api/udsapi/handlers_test.go
  internal/cli/skill.go
  internal/cli/skill_commands_mutation.go
  internal/cli/skill_create.go
  internal/cli/skill_output.go
  internal/cli/skill_test.go
  internal/cli/skill_workspace_metadata.go
  internal/daemon/agent_skill_resources_integration_test.go
  internal/daemon/daemon_integration_test.go
  internal/daemon/native_tools_test.go
  internal/skills/loader.go
  internal/skills/loader_test.go
  internal/skills/loader_values.go
  internal/skills/registry_snapshot.go
  internal/skills/registry_test.go
  internal/skillscan/scan.go
  internal/skillscan/scan_test.go
  internal/workspace/resolver_integration_test.go
  internal/workspace/resolver_test.go
  internal/workspace/scanner.go
  internal/workspace/skill_identity.go
  internal/workspace/workspace.go
  internal/workspace/workspace_test.go
  packages/site/content/runtime/cli-reference/skill/create.mdx
  packages/site/content/runtime/core/configuration/file-locations.mdx
  packages/site/content/runtime/core/configuration/skill-md.mdx
  packages/site/content/runtime/core/skills/index.mdx
  packages/site/content/runtime/core/skills/skill-md.mdx
  packages/site/content/runtime/core/workspaces/config-overlays.mdx
  packages/site/content/runtime/core/workspaces/multi-root.mdx
  packages/site/content/runtime/core/workspaces/resolver.mdx
  skills.test
  skills/compozy/references/tools-and-skills.md
Due: format-go

fix: restore Windows daemon support (PR #163 regression + new fixes)
  internal/daemon/info.go
  internal/daemon/lock.go
  internal/daemon/lock_pid_other.go
  internal/daemon/lock_pid_windows.go
  internal/daemon/sync_dir_unix.go
  internal/daemon/sync_dir_windows.go
  internal/procutil/detached_windows.go
  internal/procutil/process_started_at_windows.go
  internal/store/sessiondb/read_only.go
  internal/store/sqlite_config.go
Due: format-go

ci: fix release changelog
  .agents/skills/releasepr/SKILL.md
  .agents/skills/releasepr/assets/pr-release.yaml.template
  .agents/skills/releasepr/assets/release.yml.template
  .agents/skills/releasepr/references/commands.md
  .agents/skills/releasepr/references/release-notes.md
  .agents/skills/releasepr/references/release-workflow.md
  .agents/skills/releasepr/references/setup.md
  .agents/skills/releasepr/references/troubleshooting.md
  .agents/skills/releasepr/scripts/check-setup.sh
  .github/workflows/release.yml
  docs/qa/charters/CH-compozy-beta-candidate.md
  docs/qa/journeys/J-approve-compozy-beta-candidate.md
  docs/qa/scenarios/REL-release-candidate-plan.md
  docs/qa/scenarios/SITE-changelog-release-receipts.md
  docs/release/legacy-v0.2-maintenance.md
  docs/release/v0.3-single-cut.md
  internal/config/release_config_test.go
  internal/skillscan/scan.go
  internal/skillscan/scan_directory.go
  internal/skillscan/scan_fs.go
  packages/site/content/blog/changelog/v0.3.0-beta.1.mdx
  packages/site/scripts/__tests__/generate-changelog-release.test.ts
  packages/site/scripts/generate-changelog-release.ts
  packages/site/scripts/release-note-input.ts
  scripts/release-plan-contract.sh
Due: turbo-lint, format-go

fix: scope session mock clarifications
  web/src/systems/session/mocks/__tests__/handlers.test.ts
  web/src/systems/session/mocks/handlers.ts
Due: turbo-lint

refactor: split session-thread into single-component files
  web/src/components/assistant-ui/scroll-to-bottom-pill.tsx
  web/src/components/assistant-ui/session-assistant-message.tsx
  web/src/components/assistant-ui/session-thread-messages.tsx
  web/src/components/assistant-ui/session-thread-viewport.tsx
  web/src/components/assistant-ui/session-thread.tsx
  web/src/systems/session/components/assistant-ui/stories/session-thread.stories.tsx
Due: turbo-lint

fix: resolve final review findings
  internal/skillscan/scan_directory.go
  packages/ui/src/components/custom/__tests__/tool-call-row.test.tsx
  packages/ui/src/components/custom/receipt.tsx
  packages/ui/src/components/custom/stories/tool-call-row.stories.tsx
  packages/ui/src/components/custom/tool-call-row.tsx
  web/src/systems/session/components/__tests__/tool-call-card.test.tsx
  web/src/systems/session/components/tool-call-card.tsx
Due: turbo-lint, format-go

fix: simplify skillscan traversal
  internal/skillscan/scan_directory.go
  internal/skillscan/scan_fs.go
Due: format-go

fix: repair session UI integration contracts
  internal/api/core/agent_definition_resolution.go
  internal/api/core/handlers_agents.go
  internal/daemon/daemon_mock_agents_integration_test.go
  internal/daemon/daemon_review_and_fix_e2e_integration_test.go
  internal/daemon/daemon_software_delivery_e2e_integration_test.go
  internal/daemon/tool_approval_grants_integration_test.go
  web/e2e/__tests__/agents.spec.ts
  web/e2e/__tests__/marketplace.spec.ts
  web/e2e/__tests__/os-shell.spec.ts
  web/e2e/__tests__/session-clarify.spec.ts
  web/e2e/__tests__/session-hardening.spec.ts
  web/e2e/__tests__/session-onboarding.spec.ts
  web/e2e/__tests__/session-provider-override.spec.ts
  web/e2e/__tests__/settings-transport.spec.ts
  web/e2e/__tests__/tool-approval-grants.spec.ts
  web/e2e/__tests__/workspace-setup.spec.ts
  web/e2e/fixtures/browser-artifact-session.ts
  web/e2e/fixtures/selectors.ts
  web/src/systems/os/hooks/__tests__/os-interaction-hooks.test.tsx
  web/src/systems/os/hooks/use-os-shortcuts.ts
  web/src/systems/session/components/__tests__/session-chat-runtime-provider.test.tsx
  web/src/systems/session/components/__tests__/session-decision-dock.test.tsx
  web/src/systems/session/components/session-chat-runtime-provider.tsx
  web/src/systems/session/components/session-decision-dock.tsx
  web/src/systems/session/hooks/use-merged-session-runtime-transcript.ts
  web/src/systems/session/hooks/use-session-transcript-thread-messages.ts
  web/src/systems/session/lib/pending-permissions.ts
  web/src/systems/session/lib/session-transcript-thread-context-value.ts
  web/src/systems/session/lib/session-transcript-thread-context.tsx
Due: turbo-lint, format-go

fix: address final review regressions
  internal/skillscan/scan_directory.go
  internal/skillscan/scan_test.go
  web/src/components/assistant-ui/__tests__/session-thread.test.tsx
  web/src/systems/session/lib/tool-part-error.ts
Due: turbo-lint, format-go

Path conditions:
  turbo-lint: any of: \.(js|jsx|ts|tsx)$, but not: (?x)^(
  CHANGELOG.md|
  tools/.*/package\.json|
  bun.lockb|
  node_modules|
)$

  format-go: any of: \.go$, but not: (?x)^(
  CHANGELOG.md|
  tools/.*/package\.json|
  bun.lockb|
  node_modules|
)$

