Repository compozy/compozy: changes, and which pre-commit hooks are due for each by the changed paths.
All: turbo-lint, format-go

turbo-lint:
  name: turbo lint
  description: Run linting via Turborepo
  entry: bun run lint
  language: system
  pass_filenames: false

format-go:
  name: format go
  description: Format Go files using make fmt
  entry: make fmt
  language: system
  pass_filenames: false

test: stabilize required web E2E checks
  web/e2e/__tests__/extensions.spec.ts
  web/e2e/__tests__/os-shell.spec.ts
Due: turbo-lint

fix: verify desktop liveness through control socket
  desktop/e2e/_electron/__tests__/shell.spec.ts
  docs/qa/reports/2026-08-27-pr-494-desktop-liveness.md
  docs/qa/scenarios/APP-agent-cli-app-verbs.md
  internal/cli/app.go
  internal/cli/app_control.go
  internal/cli/app_test.go
  internal/cli/app_types.go
Due: turbo-lint, format-go

feat: Foundations: `internal/contracts`, `[calls]` config, store layeri…
  internal/config/calls_config.go
  internal/config/calls_config_test.go
  internal/config/config_extensions_sandbox.go
  internal/config/config_test.go
  internal/config/config_validate_features.go
  internal/config/defaults.go
  internal/config/merge_calls.go
  internal/config/merge_overlay.go
  internal/config/tool_surface.go
  internal/config/tool_surface_calls.go
  internal/contracts/budget.go
  internal/contracts/budget_extraction_test.go
  internal/contracts/entity.go
  internal/contracts/entity_array.go
  internal/contracts/entity_composition.go
  internal/contracts/entity_object.go
  internal/contracts/errors.go
  internal/contracts/extraction.go
  internal/contracts/normalize.go
  internal/contracts/output_ref.go
  internal/contracts/output_ref_test.go
  internal/contracts/provenance.go
  internal/contracts/redaction.go
  internal/contracts/redaction_entity_test.go
  internal/contracts/registry.go
  internal/contracts/registry_test.go
  internal/contracts/render.go
  internal/contracts/sanitize.go
  internal/contracts/schema_keys.go
  internal/contracts/types.go
  internal/contracts/validation.go
  internal/store/globaldb/global_db_contract_validation.go
  internal/store/globaldb/global_db_goal_judge_helpers.go
  internal/store/globaldb/global_db_goal_tools.go
  internal/store/globaldb/global_db_loop_amendments.go
  internal/store/globaldb/global_db_loop_request_response.go
  internal/store/globaldb/global_db_loop_wait_resume.go
  internal/store/globaldb/global_db_task_claim_complete.go
  magefiles/boundaries.go
Due: format-go

feat: Mailbox, delivery, and lifecycle: park/revive, loop-breakers #04
  internal/acp/prompt_synthetic_meta.go
  internal/calls/create.go
  internal/calls/errors.go
  internal/calls/interfaces.go
  internal/calls/mailbox.go
  internal/calls/mailbox_test.go
  internal/calls/service.go
  internal/calls/service_create_test.go
  internal/calls/service_settlement_test.go
  internal/calls/service_test_support_test.go
  internal/calls/settlement.go
  internal/calls/types.go
  internal/calls/wake.go
  internal/daemon/calls_runtime.go
  internal/daemon/calls_runtime_test.go
  internal/daemon/spawn_reaper.go
  internal/daemon/spawn_reaper_test.go
  internal/daemon/task_runtime_boot_roles.go
  internal/session/catalog_page.go
  internal/session/manager.go
  internal/session/manager_busy_input_types.go
  internal/session/manager_pending_input.go
  internal/session/manager_prompt_admission_identity.go
  internal/session/manager_prompt_attachments.go
  internal/session/manager_synthetic_prompt_test.go
  internal/session/manager_transition.go
  internal/session/manager_types.go
  internal/session/session.go
  internal/session/spawn_wake.go
  internal/session/spawn_wake_test.go
  internal/store/globaldb/global_db_calls_admission.go
  internal/store/globaldb/global_db_calls_delivery.go
  internal/store/globaldb/global_db_calls_integration_test.go
  internal/store/globaldb/global_db_calls_mailbox.go
  internal/store/globaldb/global_db_calls_mutation.go
  internal/store/globaldb/global_db_session_page.go
  internal/store/globaldb/global_db_session_scan.go
  internal/store/globaldb/global_db_test.go
  internal/store/types_session.go
Due: format-go

refactor: clarify child override policy
  internal/loop/action_runloop.go
Due: format-go

docs: document agent communication
  packages/site/content/docs/agent-comms/budgets-and-safety.mdx
  packages/site/content/docs/agent-comms/calls.mdx
  packages/site/content/docs/agent-comms/index.mdx
  packages/site/content/docs/agent-comms/mailbox.mdx
  packages/site/content/docs/agent-comms/meta.json
  packages/site/content/docs/agent-comms/subagents.mdx
  packages/site/content/docs/agents/spawning.mdx
  packages/site/content/docs/api/index.mdx
  packages/site/content/docs/autonomy/index.mdx
  packages/site/content/docs/autonomy/safe-spawn.mdx
  packages/site/content/docs/cli/meta.json
  packages/site/content/docs/configuration/config-toml.mdx
  packages/site/content/docs/loops/dsl-reference.mdx
  packages/site/content/docs/meta.json
  packages/site/content/docs/sandbox/index.mdx
  packages/site/content/docs/sandbox/profiles.mdx
  packages/site/content/docs/sessions/orchestration.mdx
  packages/site/lib/__tests__/runtime-autonomy-docs.test.ts
  packages/site/lib/__tests__/runtime-docs-truth.test.ts
  packages/site/lib/__tests__/runtime-manual-api-routes.test.ts
  packages/site/lib/__tests__/runtime-manual-cli-examples.test.ts
  packages/site/lib/api-routes.ts
  packages/site/lib/docs-icons.ts
  packages/site/lib/docs-navigation.ts
  packages/site/scripts/generate-openapi.ts
  skills/compozy/SKILL.md
  skills/compozy/references/agent-comms.md
  skills/compozy/references/agent-definitions.md
  skills/compozy/references/configuration.md
  skills/compozy/references/loops.md
  skills/compozy/references/native-tools.md
  skills/compozy/references/runtime-operations.md
  skills/compozy/references/tasks-and-orchestration.md
Due: turbo-lint

fix: reconcile wait contract after rebase
  internal/loop/coordinator_watch_test.go
Due: format-go

fix: keep operator call delivery runtime-free
  docs/qa/bugs/BUG-20260826-operator-caller-model-runtime.md
  docs/qa/reports/2026-08-26-agent-comms.md
  docs/qa/scenarios/RT-agent-call-golden-path.md
  internal/daemon/calls_runtime.go
  internal/daemon/calls_runtime_test.go
  internal/daemon/calls_session_invoker.go
Due: format-go

fix: project durable child idle expiry
  internal/session/query.go
  internal/session/query_test.go
Due: format-go

fix: preserve parked child idle clock
  internal/calls/service_settlement_test.go
  internal/calls/settlement.go
Due: format-go

fix: return durable call after deadline race
  docs/qa/bugs/BUG-20260826-call-deadline-activation-fence.md
  docs/qa/reports/2026-08-26-agent-comms.md
  docs/qa/scenarios/RT-agent-call-deadline-timeout.md
  internal/calls/activation.go
  internal/calls/service_settlement_test.go
  internal/calls/service_test_support_test.go
  internal/store/globaldb/global_db_calls_mutation.go
Due: format-go

fix: honor bounded wait deadlines in cli
  docs/qa/bugs/BUG-20260826-bounded-wait-client-timeout.md
  docs/qa/reports/2026-08-26-agent-comms.md
  docs/qa/scenarios/RT-agent-call-deadline-timeout.md
  docs/qa/scenarios/RT-session-wait-state.md
  internal/cli/client.go
  internal/cli/client_calls.go
  internal/cli/client_session_wait.go
  internal/cli/client_test.go
  internal/cli/client_transport.go
Due: format-go

fix: inherit call child tool policy
  docs/qa/bugs/BUG-20260826-call-child-tool-policy.md
  docs/qa/reports/2026-08-26-agent-comms.md
  docs/qa/scenarios/RT-agent-call-golden-path.md
  docs/qa/scenarios/RT-call-return-contract-repair.md
  internal/calls/create.go
  internal/calls/runtime.go
  internal/calls/service_create_test.go
  internal/session/manager_allowed_tools.go
  internal/session/manager_lineage_test.go
Due: format-go

fix: preserve main dependency lock
  bun.lock
Due: none

fix: close rebase validation regressions
  .compozy/tasks/agent-comms/analysis/07_analysis_cy-orchestrate-tasks-skill-audit.md
  internal/config/defaults.go
  internal/daemon/daemon_agent_calls_e2e_integration_test.go
  internal/store/globaldb/global_db_calls_integration_test.go
  internal/store/globaldb/global_db_goal_checkpoint_integration_test.go
  internal/task/manager_integration_test.go
Due: format-go

fix: remove final branch diff slop
  docs/qa/scenarios/RT-agent-roster-call-compose.md
  docs/qa/scenarios/RT-call-record-terminal-states.md
  docs/qa/scenarios/RT-delegation-activity-tree.md
  docs/qa/scenarios/RT-delegation-attention-signals.md
  docs/qa/scenarios/RT-in-context-call-messages.md
  docs/qa/scenarios/RT-session-calls-inspector-panel.md
Due: none

fix: preserve secret field report order
  internal/contracts/redaction.go
Due: format-go

fix: split oversized source mappings
  internal/api/core/task_create_request_mapping.go
  internal/api/core/task_request_mapping.go
  web/src/systems/session/index.ts
Due: turbo-lint, format-go

fix: stabilize agent communications journeys
  web/e2e/__tests__/agent-comms.spec.ts
  web/src/systems/agent-comms/components/__tests__/agent-call-tree.test.tsx
  web/src/systems/agent-comms/components/agent-call-tree.tsx
  web/src/systems/agent-comms/components/use-agent-call-tree.ts
Due: turbo-lint

test: serialize implement tasks E2E
  internal/daemon/daemon_implement_tasks_e2e_integration_test.go
Due: format-go

ci: annotate Playwright failures as they happen
  web/playwright.config.ts
Due: turbo-lint

test: await loop requeue settlement
  internal/daemon/loop_read_cli_e2e_integration_test.go
Due: format-go

fix: stabilize terminal call transitions
  internal/daemon/calls_runtime.go
  internal/daemon/calls_runtime_test.go
  internal/daemon/loop_read_cli_e2e_integration_test.go
Due: format-go

test: migrate implement tasks fixture to calls
  internal/daemon/daemon_implement_tasks_e2e_integration_test.go
  internal/testutil/acpmock/testdata/implement_tasks_fixture.json
Due: format-go

test: let calls park completed workers
  internal/testutil/acpmock/testdata/implement_tasks_fixture.json
Due: none

test: isolate perpetual loop journey
  internal/daemon/loop_read_cli_e2e_integration_test.go
Due: format-go

test: await asynchronous loop cancellation
  internal/daemon/loop_read_cli_e2e_integration_test.go
Due: format-go

test: cancel quarantined loop fixture
  internal/daemon/loop_read_cli_e2e_integration_test.go
  internal/daemon/loop_run_events_e2e_integration_test.go
Due: format-go

test: kill perpetual loop fixture
  internal/daemon/loop_read_cli_e2e_integration_test.go
Due: format-go

test: align agent comms browser contracts
  web/e2e/__tests__/agent-comms.spec.ts
  web/e2e/fixtures/os-navigation.ts
Due: turbo-lint

fix: repair agent communications browser contracts
  web/e2e/__tests__/agent-comms.spec.ts
  web/e2e/fixtures/selectors.ts
  web/src/components/assistant-ui/__tests__/session-thread.test.tsx
  web/src/components/assistant-ui/session-synthetic-turn.tsx
  web/src/components/assistant-ui/session-thread-messages.tsx
  web/src/components/assistant-ui/session-user-message.tsx
  web/src/systems/agent-comms/components/__tests__/agent-call-tree.test.tsx
  web/src/systems/agent-comms/components/agent-call-tree.tsx
  web/src/systems/agent/components/agent-fleet-card.tsx
  web/src/systems/agent/components/agent-fleet-row.tsx
  web/src/systems/agent/lib/__tests__/agent-fleet-projection.test.ts
  web/src/systems/agent/lib/agent-fleet-projection.ts
Due: turbo-lint

Path conditions:
  turbo-lint: any of: \.(js|jsx|ts|tsx)$, but not: (?x)^(
  CHANGELOG.md|
  tools/.*/package\.json|
  bun.lockb|
  node_modules|
)$

  format-go: any of: \.go$, but not: (?x)^(
  CHANGELOG.md|
  tools/.*/package\.json|
  bun.lockb|
  node_modules|
)$

