Repository compozy/compozy: changes, and which pre-commit hooks are due for each by the changed paths.
All: turbo-lint, turbo-type-check, format-go

turbo-lint:
  name: turbo lint
  description: Run linting via Turborepo
  entry: turbo run lint --concurrency=1
  language: system
  pass_filenames: false

turbo-type-check:
  name: turbo type check
  description: Run TypeScript checking via Turborepo
  entry: turbo run type-check --concurrency=1
  language: system
  pass_filenames: false

format-go:
  name: format go
  description: Format Go files using make fmt
  entry: make fmt
  language: system
  pass_filenames: false

build(repo): Add Github Actions integrations (#136)
  .github/actions/README.md
  .github/actions/docker-build/action.yml
  .github/actions/setup-bun/action.yml
  .github/actions/setup-go/action.yml
  .github/codeql/codeql-config.yml
  .github/versions.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/release-please.yml
  .github/workflows/release.yml
  .goreleaser.yml
  .kiro/specs/github-actions-integration/design.md
  .kiro/specs/github-actions-integration/requirements.md
  .kiro/specs/github-actions-integration/tasks.md
  .release-please-config.json
  .release-please-manifest.json
  cluster/Dockerfile.release
  cluster/mcpproxy.release.Dockerfile
  package.json
Due: none

build(repo): Cleanup
  .kiro/specs/github-actions-integration/design.md
  .kiro/specs/github-actions-integration/requirements.md
  .kiro/specs/github-actions-integration/tasks.md
  tasks/docs/templates.zip
Due: none

fix(repo): PR suggestions
  tools/delete-file/index.test.ts
  tools/delete-file/index.ts
  tools/fetch/index.ts
  tools/grep/index.test.ts
  tools/grep/index.ts
  tools/list-dir/index.test.ts
  tools/list-dir/index.ts
  tools/list-files/index.ts
  tools/read-file/index.ts
Due: turbo-lint, turbo-type-check

build(repo): Swagger files
  docs/docs.go
  docs/swagger.json
  docs/swagger.yaml
Due: format-go

build(repo): Format tsx
  docs/src/components/ui/callout.tsx
  docs/src/components/ui/icon.stories.tsx
  docs/src/components/ui/icon.tsx
  docs/src/components/ui/list.tsx
  docs/src/components/ui/params/components.tsx
  docs/src/components/ui/reference-card.tsx
  docs/src/components/ui/step.tsx
Due: turbo-lint, turbo-type-check

fix(repo): PR suggestions
  README.md
  docs/content/docs/core/configuration/project-setup.mdx
  engine/infra/server/mod.go
  engine/project/README.md
  engine/project/config.go
  engine/project/config_test.go
  engine/runtime/README.md
  engine/runtime/bun_manager.go
  engine/runtime/bun_manager_test.go
  engine/runtime/config.go
  engine/worker/mod.go
  pkg/config/config.go
  pkg/config/config_test.go
  pkg/config/loader.go
Due: format-go

refactor(cli): Improve init command
  cli/cmd/init/components/init_model.go
  cli/cmd/init/components/project_form.go
  cli/cmd/init/init.go
  cli/cmd/init/templates/basic/compozy.http.tmpl
  cli/cmd/init/templates/basic/compozy.yaml.tmpl
  cli/cmd/init/templates/basic/docker-compose.yaml.tmpl
  cli/cmd/init/templates/basic/entrypoint.ts.tmpl
  cli/cmd/init/templates/basic/env.example.tmpl
  cli/cmd/init/templates/basic/greeting_tool.ts.tmpl
  cli/cmd/init/templates/basic/workflow.yaml.tmpl
  cli/cmd/init/templates/readme.md.tmpl
  cli/tui/components/ascii_header.go
  cli/tui/components/form.go
  cli/tui/components/full_logo.png
  docs/content/docs/core/getting-started/installation.mdx
  docs/content/docs/schema/agents.mdx
  docs/content/docs/schema/application.mdx
  docs/content/docs/schema/mcp.mdx
  docs/content/docs/schema/memory.mdx
  docs/content/docs/schema/provider.mdx
  docs/content/docs/schema/tasks.mdx
  docs/content/docs/schema/tools.mdx
  docs/content/docs/schema/workflows.mdx
  env.example
  go.mod
  go.sum
  tsconfig.json
Due: format-go

fix(cli): Fix workflow execution API endpoint mismatch
  cli/cmd/workflow/execute.go
  docs/content/docs/cli/execution-commands.mdx
  docs/content/docs/core/getting-started/first-workflow.mdx
  docs/content/docs/core/getting-started/quick-start.mdx
Due: format-go

fix(cli): Fix workflow execution API endpoint mismatch (#140)
  cli/cmd/workflow/execute.go
  docs/content/docs/cli/execution-commands.mdx
  docs/content/docs/core/getting-started/first-workflow.mdx
  docs/content/docs/core/getting-started/quick-start.mdx
Due: format-go

feat(repo): Refactor CLI template generation
  cli/cmd/init/init.go
  docs/content/docs/core/getting-started/installation.mdx
  pkg/template/README.md
  pkg/template/generator.go
  pkg/template/init.go
  pkg/template/registry.go
  pkg/template/service.go
  pkg/template/templates/basic/basic.go
  pkg/template/templates/basic/compozy.http.tmpl
  pkg/template/templates/basic/compozy.yaml.tmpl
  pkg/template/templates/basic/docker-compose.yaml.tmpl
  pkg/template/templates/basic/entrypoint.ts.tmpl
  pkg/template/templates/basic/env.example.tmpl
  pkg/template/templates/basic/greeting_tool.ts.tmpl
  pkg/template/templates/basic/workflow.yaml.tmpl
  pkg/template/types.go
Due: format-go

fix(cli): Ensure all CLI commands default to interactive mode
  cli/cmd/init/init.go
  cli/helpers/mode.go
  pkg/config/definition/schema.go
Due: format-go

docs(repo): Add schemas on git
  .gitignore
  docs/content/docs/schema/application.mdx
  docs/package.json
  schemas/action-config.json
  schemas/agent.json
  schemas/author.json
  schemas/autoload.json
  schemas/cache.json
  schemas/compozy.json
  schemas/config-cli.json
  schemas/config-database.json
  schemas/config-limits.json
  schemas/config-llm.json
  schemas/config-memory.json
  schemas/config-ratelimit.json
  schemas/config-server.json
  schemas/config-temporal.json
  schemas/config.json
  schemas/mcp.json
  schemas/memory.json
  schemas/monitoring.json
  schemas/project-options.json
  schemas/project.json
  schemas/provider.json
  schemas/runtime.json
  schemas/task.json
  schemas/tool.json
  schemas/workflow.json
Due: none

docs(repo): Add vercel analytics
  bun.lock
  docs/package.json
  docs/src/app/layout.tsx
Due: turbo-lint, turbo-type-check

docs(repo): Add readme and contributing
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  LICENSE
  README.md
  env.example
  homepage-content.md
Due: none

fix(docs): Hero text animation
  docs/src/components/lp/hero-section.tsx
  docs/src/components/lp/hero-text.tsx
  docs/src/components/ui/text-effect.tsx
Due: turbo-lint, turbo-type-check

docs(repo): Finish main landing page
  CLAUDE.md
  bun.lock
  docs/content/docs/core/getting-started/first-workflow.mdx
  docs/content/docs/core/index.mdx
  docs/package.json
  docs/public/home/card1-bg.png
  docs/public/home/card1-icon.svg
  docs/public/home/card2-bg.png
  docs/public/home/card2-icon.svg
  docs/public/home/card3-bg.png
  docs/public/home/card3-icon.svg
  docs/public/home/card4-bg.png
  docs/public/home/card4-icon.svg
  docs/public/home/card5-bg.png
  docs/public/home/card5-icon.svg
  docs/src/app/(home)/page.tsx
  docs/src/app/global.css
  docs/src/app/layout.config.tsx
  docs/src/components/bento/bento-grid.module.css
  docs/src/components/bento/bento-grid.stories.tsx
  docs/src/components/bento/bento-grid.tsx
  docs/src/components/lp/features-section.tsx
  docs/src/components/lp/footer.tsx
  docs/src/components/lp/hero-text.tsx
  docs/src/components/lp/pricing.tsx
  docs/src/components/magicui/dot-pattern.tsx
  docs/src/components/magicui/magic-card.tsx
  docs/src/components/ui/hover-border-gradient.tsx
  docs/src/components/ui/mermaid.tsx
  docs/src/components/ui/sparkles.tsx
  docs/src/components/ui/text-effect.tsx
  package.json
Due: turbo-lint, turbo-type-check

docs(repo): Fix navigation link
  docs/src/app/layout.config.tsx
Due: turbo-lint, turbo-type-check

fix(docs): Class merge SSR
  bun.lock
  docs/content/docs/core/getting-started/installation.mdx
  docs/release-improvements.md
  docs/src/components/lp/pricing.tsx
  docs/src/components/ui/step.tsx
  package.json
Due: turbo-lint, turbo-type-check

ci(repo): Fix actions
  .cursor/rules/project-structure.mdc
  .github/actions/docker-build/action.yml
  .github/workflows/codeql.yml
  .github/workflows/release-please.yml
  .goreleaser.yml
  AGENT.md
  CLAUDE.md
  GEMINI.md
  README.md
  cli/README.md
  cli/root.go
  cluster/compozy.Dockerfile
  cmd/compozy/main.go
  docs/content/docs/api/overview.mdx
  docs/docs.go
  docs/homebrew-setup.md
  docs/swagger.json
  docs/swagger.yaml
  engine/infra/server/register.go
Due: format-go

docs(repo): Adjust text on lp
  docs/src/components/lp/hero-text.tsx
Due: turbo-lint, turbo-type-check

ci(repo): Fix services setup
  .github/FUNDING.yml
  .github/workflows/ci.yml
Due: none

docs(repo): Add logo on README
  README.md
Due: none

ci(repo): Fix release
  .github/workflows/release-please.yml
  .goreleaser.mcp-proxy.yml
  .goreleaser.yml
  cmd/compozy/main.go
  cmd/mcp-proxy/main.go
  docs/docs.go
  docs/src/components/lp/pricing.tsx
  docs/swagger.json
  docs/swagger.yaml
Due: turbo-lint, turbo-type-check, format-go

ci(repo): Adjust versions for release
  .release-please-config.json
  .release-please-manifest.json
  bun.lock
  docs/content/docs/cli/mcp-commands.mdx
  examples/memory/package.json
  examples/nested-tasks/package.json
  examples/schedules/package.json
  examples/signals/package.json
  examples/wait-task/package.json
  examples/weather/package.json
  package.json
  tools/delete-file/package.json
  tools/exec/package.json
  tools/fetch/package.json
  tools/grep/package.json
  tools/list-dir/package.json
  tools/read-file/package.json
  tools/write-file/package.json
Due: none

chore: release main
  .release-please-manifest.json
  CHANGELOG.md
  tools/delete-file/CHANGELOG.md
  tools/delete-file/package.json
  tools/exec/CHANGELOG.md
  tools/exec/package.json
  tools/fetch/CHANGELOG.md
  tools/fetch/package.json
  tools/grep/CHANGELOG.md
  tools/grep/package.json
  tools/list-dir/CHANGELOG.md
  tools/list-dir/package.json
  tools/list-files/CHANGELOG.md
  tools/list-files/package.json
  tools/read-file/CHANGELOG.md
  tools/read-file/package.json
  tools/write-file/CHANGELOG.md
  tools/write-file/package.json
Due: none

ci(repo): Adjust release process
  .release-please-config.json
  .release-please-manifest.json
  bun.lock
  docs/content/docs/cli/mcp-commands.mdx
  examples/memory/package.json
  examples/nested-tasks/package.json
  examples/schedules/package.json
  examples/signals/package.json
  examples/wait-task/package.json
  examples/weather/package.json
  package.json
  tools/delete-file/package.json
  tools/exec/package.json
  tools/fetch/package.json
  tools/grep/package.json
  tools/list-dir/package.json
  tools/read-file/package.json
  tools/write-file/package.json
Due: none

ci(repo): Fix versions for release
  .release-please-config.json
  .release-please-manifest.json
  bun.lock
  docs/content/docs/cli/mcp-commands.mdx
  examples/memory/package.json
  examples/nested-tasks/package.json
  examples/schedules/package.json
  examples/signals/package.json
  examples/wait-task/package.json
  examples/weather/package.json
  package.json
  tools/delete-file/package.json
  tools/exec/package.json
  tools/fetch/package.json
  tools/grep/package.json
  tools/list-dir/package.json
  tools/read-file/package.json
  tools/write-file/package.json
Due: none

ci(release): Releasing new version v0.0.2
  .release-please-manifest.json
  CHANGELOG.md
  tools/delete-file/CHANGELOG.md
  tools/delete-file/package.json
  tools/exec/CHANGELOG.md
  tools/exec/package.json
  tools/fetch/CHANGELOG.md
  tools/fetch/package.json
  tools/grep/CHANGELOG.md
  tools/grep/package.json
  tools/list-dir/CHANGELOG.md
  tools/list-dir/package.json
  tools/list-files/CHANGELOG.md
  tools/list-files/package.json
  tools/read-file/CHANGELOG.md
  tools/read-file/package.json
  tools/write-file/CHANGELOG.md
  tools/write-file/package.json
Due: none

ci(repo): Adjust versions
  .release-please-config.json
  .release-please-manifest.json
  bun.lock
  docs/content/docs/cli/mcp-commands.mdx
  examples/memory/package.json
  examples/nested-tasks/package.json
  examples/schedules/package.json
  examples/signals/package.json
  examples/wait-task/package.json
  examples/weather/package.json
  package.json
  tools/delete-file/package.json
  tools/exec/package.json
  tools/fetch/package.json
  tools/grep/package.json
  tools/list-dir/package.json
  tools/read-file/package.json
  tools/write-file/package.json
Due: none

Path conditions:
  turbo-lint: any of: \.(js|jsx|ts|tsx)$, but not: (?x)^(
  CHANGELOG.md|
  deno.lock|
  node_modules|
)$

  turbo-type-check: any of: \.(ts|tsx)$, but not: (?x)^(
  CHANGELOG.md|
  deno.lock|
  node_modules|
)$

  format-go: any of: \.go$, but not: (?x)^(
  CHANGELOG.md|
  deno.lock|
  node_modules|
)$

