Repository compozy/compozy: changes, and which pre-commit hooks are due for each by the changed paths.
All: turbo-lint, format-go

turbo-lint:
  name: turbo lint
  description: Run linting via Turborepo
  entry: bun run lint
  language: system
  pass_filenames: false

format-go:
  name: format go
  description: Format Go files using make fmt
  entry: make fmt
  language: system
  pass_filenames: false

test: align rebased suites with main contracts
  internal/daemon/terminal_window_bridge_test.go
Due: format-go

fix: renumber terminal migration and settle generated artifacts after rebase
  internal/store/globaldb/schema/migrations/atlas.sum
  sdk/go/contracts/types_027_gen.go
  sdk/go/contracts/types_028_gen.go
  sdk/go/contracts/types_029_gen.go
  sdk/go/contracts/types_030_gen.go
  sdk/go/contracts/types_031_gen.go
Due: format-go

fix: render agent-internal commands as plain session output
  internal/acp/agent_event.go
  internal/acp/agent_process.go
  internal/acp/agent_reported_terminal.go
  internal/acp/client_start_contract_test.go
  internal/acp/handlers_session_state.go
  internal/acp/handlers_test.go
  internal/acp/start_process.go
  internal/acp/types.go
  internal/api/contract/agent_observe_payloads.go
  internal/api/contract/contract_test.go
  internal/api/core/conversions_acp_observations.go
  internal/api/core/prompt_stream.go
  internal/api/core/prompt_stream_emit.go
  internal/api/core/prompt_stream_payload.go
  internal/daemon/daemon_mock_agents_integration_test.go
  internal/session/manager_hooks_events.go
  internal/session/manager_hooks_events_test.go
  internal/testutil/acpmock/cmd/acpmock-driver/main.go
  internal/testutil/acpmock/cmd/acpmock-driver/main_test.go
  internal/testutil/acpmock/cmd/acpmock-driver/prompt.go
  internal/testutil/acpmock/fixture_step_validation.go
  internal/testutil/acpmock/fixture_test.go
  internal/testutil/acpmock/fixture_types.go
  internal/testutil/acpmock/testdata/integrated_terminal_fixture.json
  internal/transcript/agent_event_codec.go
  internal/transcript/canonical_payload.go
  internal/transcript/redaction.go
  internal/transcript/transcript_ui_projection_test.go
  internal/transcript/ui_agent_event_payload.go
  internal/transcript/ui_messages.go
  web/src/components/assistant-ui/__tests__/session-timeline.logic.test.ts
  web/src/components/assistant-ui/session-timeline-fold.ts
  web/src/components/assistant-ui/session-timeline-render.tsx
  web/src/systems/session/components/session-agent-reported-block.tsx
  web/src/systems/session/components/stories/session-agent-reported-block.stories.tsx
  web/src/systems/session/index.ts
  web/src/systems/session/lib/__tests__/session-data-renderers.test.tsx
  web/src/systems/session/lib/message-schemas.ts
  web/src/systems/session/lib/session-data-renderers.tsx
  web/src/systems/session/types.ts
Due: turbo-lint, format-go

test: assert reattach liveness on the focused restored terminal
  web/e2e/__tests__/terminal.spec.ts
Due: turbo-lint

fix: steer agents to the integrated terminal and refresh its truth surfaces
  .claude/plans/terminal-rework-plain-sessions-agent-windows.md
  docs/qa/charters/CH-terminal-operator-shell.md
  docs/qa/journeys/J-operate-integrated-terminal.md
  docs/qa/reports/2026-09-01-terminal-rework.md
  docs/qa/scenarios/ET-agent-reported-terminal.md
  docs/qa/scenarios/ET-agent-terminal-window-materialization.md
  docs/qa/scenarios/ET-terminal-hook-events.md
  docs/qa/scenarios/ET-terminal-session-block-handoff.md
  docs/qa/scenarios/ET-terminal-window-native-flow.md
  docs/qa/scenarios/SITE-terminal-docs-truth.md
  internal/tools/builtin/terminal.go
  packages/site/content/docs/terminal/agents-and-safety.mdx
  skills/compozy/references/terminal.md
Due: format-go

fix: repair zsh markers and resolve terminals from fresh catalog truth
  docs/qa/reports/2026-08-31-terminal-stabilization.md
  docs/qa/scenarios/ET-terminal-browser-lifecycle.md
  docs/qa/scenarios/ET-terminal-cli-public-contract.md
  docs/qa/scenarios/ET-terminal-journal-recording.md
  docs/qa/scenarios/ET-terminal-profile-segmentation.md
  docs/qa/scenarios/ET-terminal-shell-config-fidelity.md
  docs/qa/scenarios/ET-terminal-stream-resilience.md
  docs/qa/scenarios/ET-terminal-window-native-flow.md
  docs/qa/scenarios/SITE-terminal-docs-truth.md
  internal/terminal/pty/pty_test.go
  internal/terminal/pty/shell_integration.go
  web/e2e/__tests__/terminal-agent.spec.ts
  web/e2e/__tests__/terminal.spec.ts
  web/src/systems/os/apps/terminal/terminal-window.tsx
  web/src/systems/terminal/components/__tests__/terminal-window-app.test.tsx
  web/src/systems/terminal/components/terminal-window-app.tsx
  web/src/systems/terminal/hooks/use-terminal-window-app-state.ts
Due: turbo-lint, format-go

feat: materialize agent-opened terminals as desktop windows
  internal/daemon/boot_hooks.go
  internal/daemon/terminal_window_bridge.go
  internal/daemon/terminal_window_bridge_test.go
  web/e2e/__tests__/terminal-agent.spec.ts
  web/src/systems/session/components/__tests__/tool-call-card.test.tsx
  web/src/systems/session/lib/session-terminal-tools.ts
  web/src/systems/session/lib/tool-labels.ts
Due: turbo-lint, format-go

fix: preserve ACP options in loop-managed session profiles
  internal/daemon/loop_action_policy.go
  internal/daemon/loop_runtime_adapters_test.go
  internal/session/manager_runtime_precedence.go
Due: format-go

fix: preserve unresolved review findings
  extensions/spec-cycle/loops/review-and-fix/loop.yaml
  extensions/spec-cycle/review_artifact_finalize.go
  extensions/spec-cycle/review_artifact_types.go
  extensions/spec-cycle/review_artifacts_test.go
  extensions/spec-cycle/skills/cy-fix-reviews/SKILL.md
Due: format-go

fix: mark skipped terminal loop nodes as not taken
  internal/loop/control_plan_branch.go
  internal/loop/roster.go
  internal/loop/roster_test.go
Due: format-go

fix: preserve provider failures before output validation
  internal/daemon/loop_prompt_failure.go
  internal/daemon/loop_runtime_adapters.go
  internal/daemon/loop_runtime_adapters_test.go
  internal/loop/action_failure.go
Due: format-go

fix: sanitize runtime settings when changing providers
  internal/cli/agent_commands_test.go
  internal/cli/agent_mutate_requests.go
  internal/config/provider_reasoning.go
  internal/config/provider_resolve.go
  internal/config/provider_test.go
Due: format-go

test: use required subtest naming
  internal/daemon/loop_runtime_adapters_test.go
Due: format-go

test: preserve unresolved review artifacts
  extensions/spec-cycle/review_artifacts_test.go
Due: format-go

fix: preserve skipped output generation
  internal/loop/control_plan_branch.go
  internal/loop/roster_test.go
Due: format-go

fix: preserve first prompt stop reason
  internal/daemon/loop_runtime_adapters.go
  internal/daemon/loop_runtime_adapters_test.go
Due: format-go

fix: validate effective reasoning strategy
  internal/cli/skill_test.go
  internal/config/provider_resolve.go
  internal/config/provider_test.go
Due: format-go

test: remove unrelated root permission skip
  internal/cli/skill_test.go
Due: format-go

test: assert cleared command and use error helper
  internal/cli/agent_commands_test.go
  internal/config/provider_test.go
Due: format-go

fix: stabilize profile and transcript e2e
  internal/cli/cli_integration_test.go
  web/src/systems/session/hooks/__tests__/use-session-live-tail.test.tsx
  web/src/systems/session/hooks/session-live-tail-runtime.ts
  web/src/systems/session/hooks/session-live-tail-store-contract.ts
  web/src/systems/session/hooks/session-live-tail-store.ts
Due: turbo-lint, format-go

test: use current product language in marker fixture
  web/src/systems/session/hooks/__tests__/use-session-live-tail.test.tsx
Due: turbo-lint

fix: drain transcript before terminal stream event
  internal/api/core/session_stream_internal_test.go
  internal/api/core/session_stream_transcript.go
  web/src/systems/session/hooks/__tests__/use-session-live-tail.test.tsx
  web/src/systems/session/hooks/session-live-tail-runtime.ts
  web/src/systems/session/hooks/session-live-tail-store-contract.ts
  web/src/systems/session/hooks/session-live-tail-store.ts
Due: turbo-lint, format-go

test: repair terminal e2e and ConPTY hidden-input contracts
  internal/terminal/pty/pty_windows_test.go
  web/e2e/__tests__/terminal-agent.spec.ts
  web/e2e/__tests__/terminal.spec.ts
Due: turbo-lint, format-go

fix: ship the AppImage with the static runtime
  desktop/electron-builder.yml
  docs/qa/reports/2026-09-03-appimage-static-runtime.md
  docs/qa/scenarios/APP-appimage-fuseless-launch.md
  docs/qa/scenarios/APP-install-first-run-provision.md
  packages/site/content/docs/getting-started/installation.mdx
  packages/site/content/docs/operations/desktop-app.mdx
Due: none

fix: preserve awaited child refinement
  internal/loop/generation_snapshot.go
  internal/store/globaldb/global_db_task_claim_test.go
Due: format-go

refactor: split generation output writer
  internal/loop/generation_output_write.go
  internal/loop/generation_snapshot.go
Due: format-go

fix: fence terminal generation outputs
  internal/loop/generation_snapshot.go
  internal/store/globaldb/global_db_task_claim_test.go
Due: format-go

fix: keep development SDK references for hash build versions
  internal/extension/build_test.go
  internal/extension/scaffold.go
Due: format-go

fix: keep curated model overrides from erasing the set they edit
  docs/qa/scenarios/RT-model-picker-startability-parity.md
  internal/api/contract/model_catalog.go
  internal/api/modelcatalogprojection/projection.go
  internal/config/config_test.go
  internal/config/config_validation.go
  internal/config/merge_provider.go
  internal/config/provider_curated_merge.go
  internal/config/provider_merge.go
  internal/config/provider_models.go
  internal/config/provider_test.go
  internal/modelcatalog/live_sources_adapters.go
  internal/modelcatalog/service_test.go
  internal/modelcatalog/startability.go
  internal/session/manager_runtime_cursor_options.go
  internal/session/manager_runtime_model_validation.go
  internal/session/manager_test.go
  openapi/compozy.json
  packages/site/content/docs/agents/model-catalog.mdx
  sdk/go/contracts/types_018_gen.go
  sdk/typescript/src/generated/contracts.ts
  web/src/generated/compozy-openapi.d.ts
  web/src/systems/model-catalog/__tests__/derive-active-session-options.test.ts
  web/src/systems/model-catalog/lib/__tests__/to-runtime-selector-options.test.ts
  web/src/systems/model-catalog/lib/to-runtime-selector-options.ts
  web/src/systems/model-catalog/mocks/handlers.ts
  web/src/systems/runtime/components/runtime-selector/model-row.tsx
  web/src/systems/runtime/components/runtime-selector/types.ts
  web/src/systems/session/hooks/__tests__/use-session-prompt-runtime.test.tsx
Due: turbo-lint, format-go

docs: record the model picker startability QA walk
  docs/qa/reports/2026-09-04-model-picker-startability.md
  docs/qa/scenarios/RT-model-picker-startability-parity.md
Due: none

docs: reset loop runtime QA scenario
  docs/qa/scenarios/LP-implement-tasks-orchestrated-mode.md
Due: none

fix: classify generic provider prompt failures
  docs/qa/scenarios/LP-action-failure-detail.md
  internal/daemon/loop_prompt_failure.go
  internal/daemon/loop_runtime_adapters_test.go
Due: format-go

fix: align unresolved review contracts
  docs/qa/journeys/J-08-watch-and-maintain.md
  docs/qa/reports/2026-09-04-pr-543-review-findings.md
  docs/qa/scenarios/LP-review-round-finalization.md
  extensions/spec-cycle/agents/review_fixer/AGENT.md
  extensions/spec-cycle/embed_test.go
  extensions/spec-cycle/loops/review-and-fix/loop.yaml
  extensions/spec-cycle/skills/cy-fix-reviews/SKILL.md
  extensions/spec-cycle/skills/cy-review-round/references/issue-template.md
  packages/site/content/docs/examples/review-and-fix-loop.mdx
  skills/compozy/references/loops.md
Due: format-go

fix: verify the static AppImage mount path
  .github/workflows/release.yml
  docs/qa/reports/2026-09-03-appimage-static-runtime.md
  docs/qa/scenarios/APP-appimage-fuseless-launch.md
  docs/qa/scenarios/APP-install-first-run-provision.md
  scripts/smoke-desktop-release-artifact.sh
Due: none

fix: preserve durable loop node states
  docs/qa/scenarios/LP-run-read-agent-journey.md
  internal/loop/control_plan_branch.go
  internal/loop/coordinator_control_test.go
  internal/loop/roster.go
  internal/loop/roster_test.go
Due: format-go

Path conditions:
  turbo-lint: any of: \.(js|jsx|ts|tsx)$, but not: (?x)^(
  CHANGELOG.md|
  tools/.*/package\.json|
  bun.lockb|
  node_modules|
)$

  format-go: any of: \.go$, but not: (?x)^(
  CHANGELOG.md|
  tools/.*/package\.json|
  bun.lockb|
  node_modules|
)$

