Repository compozy/compozy: changes, and which pre-commit hooks are due for each by the changed paths.
All: turbo-lint, format-go

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit

default_stages:
  - pre-commit

exclude: |
  (?x)^(
    CHANGELOG.md|
    tools/.*/package\.json|
    bun.lockb|
    node_modules|
  )$

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      # - id: trailing-whitespace
      #   args:
      #     - --no-utf8-locale
      - id: end-of-file-fixer
        exclude: '^(CHANGELOG\.md|tools/.*/package\.json|bun\.lockb|node_modules/)'
      - id: check-json
        exclude: '^(tools/.*/package\.json|node_modules/)'
      - id: check-toml
      - id: check-added-large-files
        args:
          - --maxkb=3000
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: detect-private-key
  - repo: local
    hooks:
      - id: turbo-lint
        name: turbo lint
        description: Run linting via Turborepo
        entry: bun run lint
        language: system
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false
      # - id: turbo-type-check
      #   name: turbo type check
      #   description: Run TypeScript checking via Turborepo
      #   entry: bun run type-check
      #   language: system
      #   files: \.(ts|tsx)$
      #   pass_filenames: false
      - id: format-go
        name: format go
        description: Format Go files using make fmt
        entry: make fmt
        language: system
        files: \.go$
        pass_filenames: false
  - repo: https://github.com/lyz-code/yamlfix/
    rev: 1.17.0
    hooks:
      - id: yamlfix
        args:
          - -c
          - .yamlfix.toml
        exclude: ^cluster/.*$

fix: enforce ascending AD-NNN sort in decisionlog index validator
  extensions/cy-capture-decisions/decisionlog/decisionlog.go
  extensions/cy-capture-decisions/decisionlog/decisionlog_test.go
  extensions/cy-capture-decisions/decisionlog/testdata/index-unsorted.md
Due: format-go

feat: complete cy-capture-decisions with skill, references, and eval suite
  extensions/cy-capture-decisions/README.md
  extensions/cy-capture-decisions/evals/fixtures/feat-auth/diff.patch
  extensions/cy-capture-decisions/evals/fixtures/feat-auth/expected.md
  extensions/cy-capture-decisions/evals/fixtures/feat-auth/seed-log/DECISIONS.md
  extensions/cy-capture-decisions/evals/fixtures/feat-auth/seed-log/decisions/AD-001.md
  extensions/cy-capture-decisions/evals/fixtures/feat-auth/workflow/adrs/adr-001.md
  extensions/cy-capture-decisions/evals/fixtures/feat-auth/workflow/task_01.md
  extensions/cy-capture-decisions/evals/fixtures/feat-noop/expected.md
  extensions/cy-capture-decisions/evals/fixtures/feat-noop/workflow/adrs/adr-001.md
  extensions/cy-capture-decisions/evals/fixtures/feat-noop/workflow/adrs/adr-002.md
  extensions/cy-capture-decisions/evals/fixtures/feat-orders/diff.patch
  extensions/cy-capture-decisions/evals/fixtures/feat-orders/expected.md
  extensions/cy-capture-decisions/evals/fixtures/feat-orders/workflow/adrs/adr-001.md
  extensions/cy-capture-decisions/evals/fixtures/feat-orders/workflow/adrs/adr-002.md
  extensions/cy-capture-decisions/evals/fixtures/feat-orders/workflow/adrs/adr-003.md
  extensions/cy-capture-decisions/evals/fixtures/feat-orders/workflow/memory/MEMORY.md
  extensions/cy-capture-decisions/evals/fixtures/feat-orders/workflow/reviews-001/issue_001.md
  extensions/cy-capture-decisions/evals/fixtures/feat-orders/workflow/task_01.md
  extensions/cy-capture-decisions/evals/fixtures/feat-payments/diff.patch
  extensions/cy-capture-decisions/evals/fixtures/feat-payments/expected.md
  extensions/cy-capture-decisions/evals/fixtures/feat-payments/workflow/adrs/adr-001.md
  extensions/cy-capture-decisions/evals/fixtures/feat-payments/workflow/adrs/adr-002.md
  extensions/cy-capture-decisions/evals/fixtures/feat-payments/workflow/task_01.md
  extensions/cy-capture-decisions/evals/fixtures/feat-search/diff-phase2.patch
  extensions/cy-capture-decisions/evals/fixtures/feat-search/diff.patch
  extensions/cy-capture-decisions/evals/fixtures/feat-search/expected.md
  extensions/cy-capture-decisions/evals/fixtures/feat-search/workflow/adrs/adr-001.md
  extensions/cy-capture-decisions/evals/fixtures/feat-search/workflow/adrs/adr-002.md
  extensions/cy-capture-decisions/evals/fixtures/feat-search/workflow/memory/MEMORY.md
  extensions/cy-capture-decisions/evals/fixtures/feat-telemetry/expected.md
  extensions/cy-capture-decisions/evals/fixtures/feat-telemetry/workflow/adrs/adr-001.md
  extensions/cy-capture-decisions/evals/fixtures/feat-telemetry/workflow/memory/MEMORY.md
  extensions/cy-capture-decisions/evals/fixtures/feat-telemetry/workflow/reviews-001/issue_001.md
  extensions/cy-capture-decisions/skills/cy-capture-decisions/SKILL.md
  extensions/cy-capture-decisions/skills/cy-capture-decisions/references/decision-record-template.md
  extensions/cy-capture-decisions/skills/cy-capture-decisions/references/index-format.md
  extensions/cy-capture-decisions/skills/cy-capture-decisions/references/reconciliation-guide.md
Due: none

fix: derive AD-NNN id from max suffix in cy-capture-decisions skill
  extensions/cy-capture-decisions/skills/cy-capture-decisions/SKILL.md
Due: none

fix: document required <source> arg in cy-capture-decisions ext install
  extensions/cy-capture-decisions/README.md
  extensions/cy-capture-decisions/packaging/readme_test.go
Due: format-go

fix: align AD-NNN numbering docs and add degraded-mode example in cy-capture-decisions
  extensions/cy-capture-decisions/skills/cy-capture-decisions/SKILL.md
  extensions/cy-capture-decisions/skills/cy-capture-decisions/references/decision-record-template.md
Due: none

fix: reserve pipe delimiter in decision index and correct check-ignore docs
  extensions/cy-capture-decisions/README.md
  extensions/cy-capture-decisions/skills/cy-capture-decisions/SKILL.md
  extensions/cy-capture-decisions/skills/cy-capture-decisions/references/decision-record-template.md
  extensions/cy-capture-decisions/skills/cy-capture-decisions/references/index-format.md
Due: none

fix: validate index tags against body in decisionlog cross-check
  extensions/cy-capture-decisions/decisionlog/decisionlog.go
  extensions/cy-capture-decisions/decisionlog/decisionlog_test.go
Due: format-go

feat: add architecture depth-map grammar validator
  extensions/cy-improve-architecture/archmap/archmap.go
  extensions/cy-improve-architecture/archmap/archmap_test.go
  extensions/cy-improve-architecture/archmap/testdata/bad-arity-avoid.md
  extensions/cy-improve-architecture/archmap/testdata/bad-arity-deep.md
  extensions/cy-improve-architecture/archmap/testdata/bad-avoid-date.md
  extensions/cy-improve-architecture/archmap/testdata/bad-header-date.md
  extensions/cy-improve-architecture/archmap/testdata/empty.md
  extensions/cy-improve-architecture/archmap/testdata/large-section.md
  extensions/cy-improve-architecture/archmap/testdata/literal-pipe.md
  extensions/cy-improve-architecture/archmap/testdata/out-of-order.md
  extensions/cy-improve-architecture/archmap/testdata/superseded.md
  extensions/cy-improve-architecture/archmap/testdata/unknown-kind.md
  extensions/cy-improve-architecture/archmap/testdata/unsorted.md
  extensions/cy-improve-architecture/archmap/testdata/valid.md
  extensions/cy-improve-architecture/archmap/testdata/zero-entry.md
  extensions/cy-improve-architecture/skills/cy-improve-architecture/references/architecture-map-format.md
  internal/cli/workspace_config_test.go
  internal/core/workspace/config_test.go
Due: format-go

docs: add architecture companion skills
  extensions/cy-improve-architecture/skills/cy-codebase-design/DEEPENING.md
  extensions/cy-improve-architecture/skills/cy-codebase-design/DESIGN-IT-TWICE.md
  extensions/cy-improve-architecture/skills/cy-codebase-design/SKILL.md
  extensions/cy-improve-architecture/skills/cy-domain-modeling/SKILL.md
  extensions/cy-improve-architecture/skills/cy-domain-modeling/glossary-format.md
Due: none

feat: add architecture audit skill
  extensions/cy-improve-architecture/skills/cy-improve-architecture/SKILL.md
  extensions/cy-improve-architecture/skills/cy-improve-architecture/references/audit-method.md
  extensions/cy-improve-architecture/skills/cy-improve-architecture/references/html-report.md
  extensions/cy-improve-architecture/skills/cy-improve-architecture/references/report-format.md
Due: none

feat: add improve architecture packaging
  extensions/cy-improve-architecture/README.md
  extensions/cy-improve-architecture/extension.toml
  extensions/cy-improve-architecture/packaging/conventions_test.go
  extensions/cy-improve-architecture/packaging/manifest_test.go
  extensions/cy-improve-architecture/packaging/readme_test.go
Due: format-go

test: add architecture audit evaluation harness
  extensions/cy-improve-architecture/evals/README.md
  extensions/cy-improve-architecture/evals/SCENARIOS.md
  extensions/cy-improve-architecture/evals/skill_e2e_test.go
  extensions/cy-improve-architecture/evals/testdata/go/.gitignore
  extensions/cy-improve-architecture/evals/testdata/go/AGENTS.md
  extensions/cy-improve-architecture/evals/testdata/go/CLAUDE.md
  extensions/cy-improve-architecture/evals/testdata/go/go.mod
  extensions/cy-improve-architecture/evals/testdata/go/internal/client/client.go
  extensions/cy-improve-architecture/evals/testdata/typescript/.gitignore
  extensions/cy-improve-architecture/evals/testdata/typescript/AGENTS.md
  extensions/cy-improve-architecture/evals/testdata/typescript/CLAUDE.md
  extensions/cy-improve-architecture/evals/testdata/typescript/apps/checkout/src/checkout-orchestrator.ts
  extensions/cy-improve-architecture/evals/testdata/typescript/apps/checkout/src/place-order.ts
  extensions/cy-improve-architecture/evals/testdata/typescript/package.json
Due: turbo-lint, format-go

fix: clarify map ordering
  extensions/cy-improve-architecture/skills/cy-improve-architecture/references/audit-method.md
Due: none

fix: harden HTML audit report to Mermaid strict security
  extensions/cy-improve-architecture/packaging/conventions_test.go
  extensions/cy-improve-architecture/skills/cy-improve-architecture/references/html-report.md
Due: format-go

test: assert markdown/HTML candidate parity in audit skill eval
  extensions/cy-improve-architecture/evals/skill_e2e_test.go
Due: format-go

test: protect audit fixture sources
  extensions/cy-improve-architecture/evals/skill_e2e_test.go
Due: format-go

fix: clarify cross-feature draft ADR boundary
  .compozy/tasks/cy-improve-architecture/reviews-004/issue_001.md
  extensions/cy-improve-architecture/evals/skill_contract_test.go
  extensions/cy-improve-architecture/skills/cy-improve-architecture/SKILL.md
Due: format-go

fix(evals): install skills for selected runtime
  .compozy/tasks/cy-improve-architecture/reviews-004/issue_003.md
  extensions/cy-improve-architecture/evals/skill_e2e_test.go
Due: format-go

test: validate healthy architecture audit reports
  .compozy/tasks/cy-improve-architecture/reviews-004/issue_002.md
  extensions/cy-improve-architecture/evals/skill_e2e_test.go
Due: format-go

fix: validate architecture map framing
  extensions/cy-improve-architecture/archmap/archmap.go
  extensions/cy-improve-architecture/archmap/archmap_test.go
  extensions/cy-improve-architecture/archmap/testdata/bad-arity-deep.md
  extensions/cy-improve-architecture/archmap/testdata/bad-avoid-date.md
  extensions/cy-improve-architecture/archmap/testdata/bad-header-date.md
  extensions/cy-improve-architecture/archmap/testdata/comment-only-garbage.md
  extensions/cy-improve-architecture/archmap/testdata/duplicate-header.md
  extensions/cy-improve-architecture/archmap/testdata/empty-document.md
  extensions/cy-improve-architecture/archmap/testdata/headerless-area.md
  extensions/cy-improve-architecture/archmap/testdata/large-section.md
  extensions/cy-improve-architecture/archmap/testdata/literal-pipe.md
  extensions/cy-improve-architecture/archmap/testdata/missing-empty-state.md
  extensions/cy-improve-architecture/archmap/testdata/out-of-order.md
  extensions/cy-improve-architecture/archmap/testdata/superseded.md
  extensions/cy-improve-architecture/archmap/testdata/unknown-kind.md
  extensions/cy-improve-architecture/archmap/testdata/unsorted.md
  extensions/cy-improve-architecture/archmap/testdata/zero-entry.md
Due: format-go

fix: defer model to selected runtime
  extensions/cy-improve-architecture/evals/skill_e2e_test.go
  extensions/cy-improve-architecture/skills/cy-improve-architecture/references/architecture-map-format.md
Due: format-go

fix: reject archmap report path traversal
  extensions/cy-improve-architecture/archmap/archmap.go
  extensions/cy-improve-architecture/archmap/archmap_test.go
  extensions/cy-improve-architecture/archmap/testdata/report-nested-parent.md
  extensions/cy-improve-architecture/archmap/testdata/report-parent.md
Due: format-go

docs: clarify E2E runtime model defaults
  extensions/cy-improve-architecture/evals/README.md
Due: none

test: add checkout fixture caller evidence
  extensions/cy-improve-architecture/evals/skill_e2e_test.go
Due: format-go

fix: isolate audit skill execution
  extensions/cy-improve-architecture/evals/skill_e2e_test.go
Due: format-go

test: order audit evaluation helpers
  extensions/cy-improve-architecture/evals/skill_e2e_test.go
Due: format-go

fix: document glossary durability
  extensions/cy-improve-architecture/README.md
  extensions/cy-improve-architecture/packaging/readme_test.go
Due: format-go

fix: shorten isolated skill home
  .compozy/tasks/cy-improve-architecture/reviews-008/issue_001.md
  extensions/cy-improve-architecture/evals/skill_e2e_test.go
Due: format-go

test: require candidate depth-map guidance
  .compozy/tasks/cy-improve-architecture/reviews-008/issue_002.md
  extensions/cy-improve-architecture/evals/skill_e2e_test.go
Due: format-go

test: clean up audit evaluation daemons
  .compozy/tasks/cy-improve-architecture/reviews-009/issue_001.md
  extensions/cy-improve-architecture/evals/skill_e2e_test.go
Due: format-go

feat: credit ported Matt Pocock skills and self-contained grilling
  extensions/cy-improve-architecture/NOTICE
  extensions/cy-improve-architecture/README.md
  extensions/cy-improve-architecture/evals/SCENARIOS.md
  extensions/cy-improve-architecture/packaging/attribution_test.go
  extensions/cy-improve-architecture/skills/cy-codebase-design/SKILL.md
  extensions/cy-improve-architecture/skills/cy-domain-modeling/SKILL.md
  extensions/cy-improve-architecture/skills/cy-improve-architecture/SKILL.md
Due: format-go

docs: credit tlc-spec-driven inspiration in cy-capture-decisions
  extensions/cy-capture-decisions/README.md
Due: none

test: isolate config home in two workspace-config tests
  internal/cli/workspace_config_test.go
  internal/core/workspace/config_test.go
Due: format-go

test: follow Should subtest naming convention
  internal/core/workspace/config_test.go
Due: format-go

fix: cancel starts before durable run commit
  internal/cli/reviews_exec_daemon.go
  internal/cli/reviews_exec_start_feedback_test.go
  internal/cli/workspace_config_test.go
  internal/core/workspace/config_test.go
  internal/daemon/run_manager.go
  internal/daemon/run_manager_test.go
Due: format-go

fix: acp integratoin
  internal/daemon/run_manager_test.go
  internal/daemon/run_snapshot_compact.go
  internal/store/rundb/run_db.go
  internal/store/rundb/run_db_test.go
Due: format-go

release: prepare release v0.2.14 (#240)
  CHANGELOG.md
  RELEASE_BODY.md
  RELEASE_NOTES.md
  package.json
Due: none

fix: correct Kiro CLI ACP model handling
  internal/core/agent/registry_specs.go
  internal/core/model/constants.go
Due: format-go

fix: preserve review start ownership
  internal/cli/daemon_commands.go
  internal/cli/daemon_commands_test.go
  internal/cli/daemon_exec_test_helpers_test.go
  internal/cli/reviews_exec_daemon.go
  internal/cli/reviews_exec_start_feedback_test.go
  internal/cli/workspace_config_test.go
  internal/core/workspace/config_test.go
  internal/daemon/run_manager.go
  internal/daemon/run_manager_test.go
Due: format-go

fix: share parallel task status enum
  internal/core/run/parallel/orchestrator.go
  internal/core/run/ui/integration.go
  internal/core/run/ui/multi_remote.go
  pkg/compozy/events/kinds/task.go
Due: format-go
