Repository compozy/compozy: changes, and which pre-commit hooks are due for each by the changed paths.
All: turbo-lint, format-go

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit

default_stages:
  - pre-commit

exclude: |
  (?x)^(
    CHANGELOG.md|
    tools/.*/package\.json|
    bun.lockb|
    node_modules|
  )$

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      # - id: trailing-whitespace
      #   args:
      #     - --no-utf8-locale
      - id: end-of-file-fixer
        exclude: '^(CHANGELOG\.md|tools/.*/package\.json|bun\.lockb|node_modules/)'
      - id: check-json
        exclude: '^(tools/.*/package\.json|node_modules/)'
      - id: check-toml
      - id: check-added-large-files
        args:
          - --maxkb=3000
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: detect-private-key
  - repo: local
    hooks:
      - id: turbo-lint
        name: turbo lint
        description: Run linting via Turborepo
        entry: bun run lint
        language: system
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false
      # - id: turbo-type-check
      #   name: turbo type check
      #   description: Run TypeScript checking via Turborepo
      #   entry: bun run type-check
      #   language: system
      #   files: \.(ts|tsx)$
      #   pass_filenames: false
      - id: format-go
        name: format go
        description: Format Go files using make fmt
        entry: make fmt
        language: system
        files: \.go$
        pass_filenames: false
  - repo: https://github.com/lyz-code/yamlfix/
    rev: 1.17.0
    hooks:
      - id: yamlfix
        args:
          - -c
          - .yamlfix.toml
        exclude: ^cluster/.*$

fix: authorize daemon-owned loop effects
  docs/qa/scenarios/LP-terminal-outcome-notification.md
  internal/daemon/loop_effect_relay_test.go
  internal/daemon/loop_node_lifecycle_e2e_integration_test.go
  internal/daemon/native_tools_test.go
  internal/daemon/native_workspace_input_authorizer.go
  internal/daemon/tool_policy_resolver.go
Due: format-go

docs: require visual loop effect verification
  docs/superpowers/plans/2026-08-14-loop-effect-daemon-policy.md
Due: none

docs: design daemon-owned loop effect policy
  docs/superpowers/plans/2026-08-14-loop-effect-daemon-policy.md
  docs/superpowers/specs/2026-08-14-loop-effect-daemon-policy-design.md
Due: none

docs: design terminal loop effect stream lifecycle
  docs/superpowers/specs/2026-08-14-loop-terminal-effect-stream-design.md
Due: none

fix: keep loop streams open for terminal effects
  web/src/systems/loops/hooks/__tests__/use-loop-stream.test.tsx
  web/src/systems/loops/hooks/use-loop-stream.ts
  web/src/systems/os/apps/loops/use-loop-run-page.ts
Due: turbo-lint

docs: plan terminal loop effect stream fix
  docs/superpowers/plans/2026-08-14-loop-terminal-effect-stream.md
Due: none

docs: refine terminal effect stream plan
  docs/superpowers/plans/2026-08-14-loop-terminal-effect-stream.md
Due: none

docs: record loop effect qa verification
  docs/qa/reports/2026-08-14-loop-effect-tool-policy.md
  docs/qa/scenarios/LP-terminal-outcome-notification.md
Due: none

fix: address loops parity review findings
  packages/ui/src/components/custom/__tests__/radio-card.test.tsx
  web/src/systems/loops/components/__tests__/loop-editor-canvas.test.tsx
  web/src/systems/loops/components/__tests__/loop-editor-palette-menu.test.tsx
  web/src/systems/loops/components/__tests__/loop-editor.test.tsx
  web/src/systems/loops/components/__tests__/loop-run-page.test.tsx
  web/src/systems/loops/components/editor/loop-editor-canvas.tsx
  web/src/systems/loops/components/editor/loop-editor-palette-menu.tsx
  web/src/systems/loops/components/editor/loop-editor-publish-rejected-strip.tsx
  web/src/systems/loops/components/editor/loop-editor-toolbar.tsx
  web/src/systems/loops/components/editor/loop-editor.tsx
  web/src/systems/loops/components/run-page/loop-quarantine-sheet.tsx
  web/src/systems/loops/components/run-page/loop-run-needs-you-card.tsx
  web/src/systems/loops/components/run-page/loop-run-parked-panels.tsx
  web/src/systems/loops/components/run-page/loop-run-story-timeline.tsx
  web/src/systems/loops/components/run-page/loop-run-subhead.tsx
  web/src/systems/loops/components/runs/loop-node-inventory-view.tsx
  web/src/systems/loops/hooks/__tests__/use-loop-editor-state.test.ts
  web/src/systems/loops/hooks/__tests__/use-loop-node-exists.test.tsx
  web/src/systems/loops/hooks/loop-editor-store-contracts.ts
  web/src/systems/loops/hooks/loop-editor-store-draft.ts
  web/src/systems/loops/hooks/loop-editor-store-publish.ts
  web/src/systems/loops/hooks/use-loop-editor-state.ts
  web/src/systems/loops/hooks/use-loop-editor.ts
  web/src/systems/loops/hooks/use-loop-node-exists.ts
  web/src/systems/loops/index.ts
  web/src/systems/loops/lib/__tests__/loop-run-about.test.ts
  web/src/systems/loops/lib/loop-node-wait-payload.ts
  web/src/systems/loops/lib/loop-run-about.ts
  web/src/systems/loops/lib/loop-run-page-view.ts
  web/src/systems/os/hooks/__tests__/use-os-attention.test.tsx
  web/src/systems/os/hooks/use-os-attention.ts
Due: turbo-lint

feat: unify zero-inventory empty states for jobs, triggers, and tasks
  docs/design/opendesign/empty-states/analysis/01_analysis_visual-contracts.md
  docs/design/opendesign/empty-states/analysis/02_analysis_production-surfaces.md
  docs/design/opendesign/empty-states/analysis/summary.md
  docs/qa/charters/CH-empty-catalog-first-use.md
  docs/qa/journeys/J-start-from-empty-catalogs.md
  docs/qa/reports/2026-08-14-empty-states.md
  docs/qa/scenarios/TA-web-jobs-zero-inventory-suggestions.md
  docs/qa/scenarios/TA-web-tasks-zero-inventory-templates.md
  docs/qa/scenarios/TA-web-triggers-zero-inventory-intro.md
  lint-plugins/compozy-design-system.mjs
  web/src/components/catalog-empty-disclosure-row.tsx
  web/src/components/catalog-empty-state.tsx
  web/src/systems/automation/components/__tests__/automation-catalog.test.tsx
  web/src/systems/automation/components/__tests__/automation-suggestions-card.test.tsx
  web/src/systems/automation/components/automation-catalog-shell.tsx
  web/src/systems/automation/components/automation-jobs-catalog.tsx
  web/src/systems/automation/components/automation-suggestions-card.tsx
  web/src/systems/automation/components/automation-suggestions-panel.tsx
  web/src/systems/automation/mocks/fixtures.ts
  web/src/systems/automation/mocks/handlers.ts
  web/src/systems/automation/mocks/index.ts
  web/src/systems/automation/routes/jobs.stories.tsx
  web/src/systems/automation/routes/triggers.stories.tsx
  web/src/systems/os/apps/jobs/__tests__/jobs-catalog-location.test.tsx
  web/src/systems/os/apps/jobs/jobs-catalog-location.tsx
  web/src/systems/tasks/components/__tests__/tasks-empty-state.test.tsx
  web/src/systems/tasks/components/tasks-empty-state.tsx
Due: turbo-lint

docs: complete loop stream impact audit
  docs/superpowers/plans/2026-08-14-loop-terminal-effect-stream.md
  docs/superpowers/specs/2026-08-14-loop-terminal-effect-stream-design.md
Due: none

feat: redesign workspaces overview as command-tab switcher
  DESIGN.md
  docs/qa/scenarios/RT-workspace-overview-command-tab.md
  packages/ui/src/tokens.css
  web/e2e/__tests__/os-shell.spec.ts
  web/e2e/__tests__/worktrees.spec.ts
  web/src/styles.css
  web/src/systems/os/components/__tests__/os-workspaces-overview.test.tsx
  web/src/systems/os/components/desktop-shell.tsx
  web/src/systems/os/components/os-workspace-tile.tsx
  web/src/systems/os/components/os-workspaces-caption.tsx
  web/src/systems/os/components/os-workspaces-hints.tsx
  web/src/systems/os/components/os-workspaces-overview.tsx
  web/src/systems/os/components/os-workspaces-strip.tsx
  web/src/systems/os/components/os-workspaces-worktree-menu.tsx
  web/src/systems/os/components/os-workspaces-worktree-row.tsx
  web/src/systems/os/components/stories/os-workspaces-overview.stories.tsx
  web/src/systems/os/components/worktree-dialog-boundaries.tsx
  web/src/systems/os/hooks/__tests__/os-interaction-hooks.test.tsx
  web/src/systems/os/hooks/use-desktop-shell-body.ts
  web/src/systems/os/hooks/use-os-shortcuts.ts
  web/src/systems/os/hooks/use-workspace-details.ts
  web/src/systems/os/hooks/use-workspaces-strip-scroll.ts
  web/src/systems/os/hooks/use-workspaces-switcher.ts
  web/src/systems/os/lib/__tests__/window-manager-action-dispatch.test.ts
  web/src/systems/os/lib/window-manager-action-dispatch.ts
  web/src/systems/os/lib/window-manager-command-registry.ts
  web/src/systems/os/lib/workspaces-overview-model.ts
  web/src/systems/workspace/components/stories/worktree-create-dialog.stories.tsx
  web/src/systems/workspace/components/worktree-create-dialog.tsx
  web/src/systems/workspace/components/worktree-path.tsx
  web/src/systems/workspace/hooks/__tests__/use-worktree-create-dialog.test.tsx
  web/src/systems/workspace/hooks/use-worktree-create-dialog.ts
  web/src/systems/workspace/index.ts
  web/src/systems/workspace/lib/display-path.ts
  web/src/systems/workspace/lib/project-workspaces.ts
Due: turbo-lint

fix: authorize daemon-owned loop effects (#407)
  docs/qa/reports/2026-08-14-loop-effect-tool-policy.md
  docs/qa/scenarios/LP-terminal-outcome-notification.md
  docs/superpowers/plans/2026-08-14-loop-effect-daemon-policy.md
  docs/superpowers/specs/2026-08-14-loop-effect-daemon-policy-design.md
  internal/daemon/loop_effect_relay_test.go
  internal/daemon/loop_node_lifecycle_e2e_integration_test.go
  internal/daemon/native_tools_test.go
  internal/daemon/native_workspace_input_authorizer.go
  internal/daemon/tool_policy_resolver.go
Due: format-go

fix: retain terminal loop effect results in web (#408)
  docs/superpowers/plans/2026-08-14-loop-terminal-effect-stream.md
  docs/superpowers/specs/2026-08-14-loop-terminal-effect-stream-design.md
  web/src/systems/loops/hooks/__tests__/use-loop-stream.test.tsx
  web/src/systems/loops/hooks/use-loop-stream.ts
  web/src/systems/os/apps/loops/use-loop-run-page.ts
Due: turbo-lint

fix: address PR review feedback
  docs/design/opendesign/empty-states/analysis/summary.md
  docs/qa/reports/2026-08-14-empty-states.md
  docs/qa/reports/2026-08-15-pr409-empty-states.md
  docs/qa/scenarios/TA-web-jobs-zero-inventory-suggestions.md
  docs/qa/scenarios/TA-web-tasks-zero-inventory-templates.md
  docs/qa/scenarios/TA-web-triggers-zero-inventory-intro.md
  lint-plugins/__tests__/compozy-design-system.test.mjs
  lint-plugins/compozy-design-system.mjs
  packages/ui/src/components/custom/__tests__/catalog-empty-disclosure-row.test.tsx
  packages/ui/src/components/custom/catalog-empty-disclosure-row.tsx
  packages/ui/src/components/custom/stories/catalog-empty-disclosure-row.stories.tsx
  packages/ui/src/exports/listing.ts
  web/src/components/catalog-empty-state.tsx
  web/src/routes/_app/-automation-preload.ts
  web/src/routes/_app/__tests__/-route-preloading.integration.test.tsx
  web/src/systems/automation/components/__tests__/automation-catalog.test.tsx
  web/src/systems/automation/components/__tests__/automation-suggestions-card.test.tsx
  web/src/systems/automation/components/automation-catalog-shell.tsx
  web/src/systems/automation/components/automation-jobs-catalog.tsx
  web/src/systems/automation/components/automation-suggestions-card.tsx
  web/src/systems/automation/index.ts
  web/src/systems/automation/lib/automation-route-search.ts
  web/src/systems/automation/mocks/__tests__/handlers.test.ts
  web/src/systems/automation/mocks/fixtures.ts
  web/src/systems/automation/mocks/handlers.ts
  web/src/systems/os/apps/automation/use-automation-page-base.ts
  web/src/systems/os/apps/jobs/__tests__/jobs-catalog-location.test.tsx
  web/src/systems/os/apps/jobs/jobs-catalog-location.tsx
  web/src/systems/os/apps/tasks/__tests__/tasks-catalog-location.test.tsx
  web/src/systems/tasks/components/__tests__/tasks-empty-state.test.tsx
  web/src/systems/tasks/components/tasks-empty-state.tsx
  web/src/systems/tasks/lib/task-templates.ts
Due: turbo-lint

feat: unify zero-inventory empty states for jobs, triggers, and tasks (#409)
  docs/design/opendesign/empty-states/analysis/01_analysis_visual-contracts.md
  docs/design/opendesign/empty-states/analysis/02_analysis_production-surfaces.md
  docs/design/opendesign/empty-states/analysis/summary.md
  docs/qa/charters/CH-empty-catalog-first-use.md
  docs/qa/journeys/J-start-from-empty-catalogs.md
  docs/qa/reports/2026-08-14-empty-states.md
  docs/qa/reports/2026-08-15-pr409-empty-states.md
  docs/qa/scenarios/TA-web-jobs-zero-inventory-suggestions.md
  docs/qa/scenarios/TA-web-tasks-zero-inventory-templates.md
  docs/qa/scenarios/TA-web-triggers-zero-inventory-intro.md
  lint-plugins/__tests__/compozy-design-system.test.mjs
  lint-plugins/compozy-design-system.mjs
  packages/ui/src/components/custom/__tests__/catalog-empty-disclosure-row.test.tsx
  packages/ui/src/components/custom/catalog-empty-disclosure-row.tsx
  packages/ui/src/components/custom/stories/catalog-empty-disclosure-row.stories.tsx
  packages/ui/src/exports/listing.ts
  web/src/components/catalog-empty-state.tsx
  web/src/routes/_app/-automation-preload.ts
  web/src/routes/_app/__tests__/-route-preloading.integration.test.tsx
  web/src/systems/automation/components/__tests__/automation-catalog.test.tsx
  web/src/systems/automation/components/__tests__/automation-suggestions-card.test.tsx
  web/src/systems/automation/components/automation-catalog-shell.tsx
  web/src/systems/automation/components/automation-jobs-catalog.tsx
  web/src/systems/automation/components/automation-suggestions-card.tsx
  web/src/systems/automation/components/automation-suggestions-panel.tsx
  web/src/systems/automation/index.ts
  web/src/systems/automation/lib/automation-route-search.ts
  web/src/systems/automation/mocks/__tests__/handlers.test.ts
  web/src/systems/automation/mocks/fixtures.ts
  web/src/systems/automation/mocks/handlers.ts
  web/src/systems/automation/mocks/index.ts
  web/src/systems/automation/routes/jobs.stories.tsx
  web/src/systems/automation/routes/triggers.stories.tsx
  web/src/systems/os/apps/automation/use-automation-page-base.ts
  web/src/systems/os/apps/jobs/__tests__/jobs-catalog-location.test.tsx
  web/src/systems/os/apps/jobs/jobs-catalog-location.tsx
  web/src/systems/os/apps/tasks/__tests__/tasks-catalog-location.test.tsx
  web/src/systems/tasks/components/__tests__/tasks-empty-state.test.tsx
  web/src/systems/tasks/components/tasks-empty-state.tsx
  web/src/systems/tasks/lib/task-templates.ts
Due: turbo-lint

fix: review round
  DESIGN.md
  internal/api/testutil/worktree_transport_parity_test.go
  internal/worktree/discovery_test.go
  internal/worktree/resolve.go
  packages/ui/src/tokens.css
  scripts/sync-design-md.mjs
  web/src/styles.css
  web/src/systems/os/components/__tests__/os-workspaces-overview.test.tsx
  web/src/systems/os/components/desktop-menubar.tsx
  web/src/systems/os/components/desktop-shell.tsx
  web/src/systems/os/components/menubar/__tests__/workspace-menu.test.tsx
  web/src/systems/os/components/menubar/workspace-menu.tsx
  web/src/systems/os/components/os-workspace-tile.tsx
  web/src/systems/os/components/os-workspaces-worktree-row.tsx
  web/src/systems/workspace/index.ts
Due: turbo-lint, format-go

docs: fix cy-create-spec
  .agents/skills/cy-create-spec/references/grill-protocol.md
  extensions/spec-cycle/skills/cy-create-spec/references/grill-protocol.md
Due: none

fix: design adjustments
  DESIGN.md
  docs/design/opendesign/workspaces/DESIGN-NOTES.md
  docs/design/opendesign/workspaces/workspaces-overview-states.html
  docs/design/opendesign/workspaces/workspaces-overview.html
  docs/design/opendesign/workspaces/workspaces.css
  docs/design/opendesign/worktree/DESIGN-NOTES.md
  docs/design/opendesign/worktree/worktree-nav-switcher.html
  docs/qa/scenarios/RT-workspace-overview-command-tab.md
  docs/qa/scenarios/RT-worktree-web-nested-navigation.md
  packages/ui/src/tokens.css
  web/src/systems/os/components/__tests__/os-workspaces-overview.test.tsx
  web/src/systems/os/components/menubar/__tests__/workspace-menu.test.tsx
  web/src/systems/os/components/menubar/workspace-menu.tsx
  web/src/systems/os/components/os-workspaces-worktree-menu.tsx
  web/src/systems/os/components/os-workspaces-worktree-row.tsx
  web/src/systems/os/components/stories/os-menubar.stories.tsx
  web/src/systems/os/components/stories/os-workspaces-overview.stories.tsx
  web/src/systems/os/hooks/use-workspaces-switcher.ts
  web/src/systems/os/lib/workspaces-overview-model.ts
  web/src/systems/workspace/components/stories/worktree-nav-switcher.stories.tsx
  web/src/systems/workspace/components/stories/worktree-vocabulary.stories.tsx
  web/src/systems/workspace/components/workspace-command-select.tsx
  web/src/systems/workspace/components/worktree-nest-row.tsx
  web/src/systems/workspace/components/worktree-nest.tsx
  web/src/systems/workspace/components/worktree-row.tsx
  web/src/systems/workspace/components/worktree-submenu-panel.tsx
  web/src/systems/workspace/index.ts
  web/src/systems/workspace/lib/__tests__/worktree-sort.test.ts
  web/src/systems/workspace/lib/workspace-tree.ts
  web/src/systems/workspace/lib/worktree-sort.ts
  web/src/systems/workspace/mocks/index.ts
  web/src/systems/workspace/mocks/worktree-fixtures.ts
Due: turbo-lint

fix: final review
  web/src/systems/os/components/menubar/__tests__/workspace-menu.test.tsx
  web/src/systems/os/components/menubar/workspace-menu.tsx
  web/src/systems/workspace/components/workspace-command-select.tsx
  web/src/systems/workspace/components/worktree-nest-row.tsx
  web/src/systems/workspace/components/worktree-submenu-panel.tsx
Due: turbo-lint

fix: small changes
  CLAUDE.md
  web/src/systems/automation/components/trigger-detail/trigger-detail-head.tsx
Due: turbo-lint

feat: redesign trigger detail into the When/If/Then rule page
  docs/qa/scenarios/ET-web-jobs-triggers-catalog.md
  docs/qa/scenarios/ET-web-trigger-detail-rule-page.md
  web/e2e/__tests__/automation.spec.ts
  web/e2e/__tests__/triggers-hardening.spec.ts
  web/e2e/fixtures/browser-artifact-session.ts
  web/e2e/fixtures/selectors.ts
  web/src/storybook/route-story-registry.ts
  web/src/systems/automation/components/__tests__/automation-detail-panel.test.tsx
  web/src/systems/automation/components/__tests__/trigger-detail-panel.test.tsx
  web/src/systems/automation/components/automation-detail-panel.tsx
  web/src/systems/automation/components/automation-detail-sections.tsx
  web/src/systems/automation/components/automation-detail-topbar-actions.tsx
  web/src/systems/automation/components/automation-trigger-ingress-card.tsx
  web/src/systems/automation/components/stories/automation-detail-panel.stories.tsx
  web/src/systems/automation/components/stories/trigger-inspect-sheet.stories.tsx
  web/src/systems/automation/components/trigger-detail/trigger-detail-actions.tsx
  web/src/systems/automation/components/trigger-detail/trigger-detail-head.tsx
  web/src/systems/automation/components/trigger-detail/trigger-detail-lock.tsx
  web/src/systems/automation/components/trigger-detail/trigger-detail-panel.tsx
  web/src/systems/automation/components/trigger-detail/trigger-detail-rail.tsx
  web/src/systems/automation/components/trigger-detail/trigger-detail-section.tsx
  web/src/systems/automation/components/trigger-detail/trigger-detail-states.tsx
  web/src/systems/automation/components/trigger-detail/trigger-inspect-sheet.tsx
  web/src/systems/automation/components/trigger-detail/trigger-rule-card.tsx
  web/src/systems/automation/components/trigger-detail/trigger-rule-then.tsx
  web/src/systems/automation/components/trigger-detail/trigger-run-list.tsx
  web/src/systems/automation/components/trigger-detail/trigger-value-badge.tsx
  web/src/systems/automation/components/trigger-detail/trigger-webhook-endpoint.tsx
  web/src/systems/automation/index.ts
  web/src/systems/automation/lib/automation-formatters.ts
  web/src/systems/automation/lib/trigger-inspect-model.ts
  web/src/systems/automation/lib/trigger-run-model.ts
  web/src/systems/automation/lib/trigger-sentence.ts
  web/src/systems/automation/mocks/fixtures.ts
  web/src/systems/automation/mocks/handlers.ts
  web/src/systems/automation/mocks/index.ts
  web/src/systems/automation/routes/triggers.stories.tsx
  web/src/systems/os/apps/automation/use-automation-trigger-detail-page.ts
  web/src/systems/os/apps/jobs/job-detail-location.tsx
  web/src/systems/os/apps/triggers/trigger-detail-location.tsx
Due: turbo-lint

fix: review round
  web/src/systems/automation/components/__tests__/trigger-detail-panel.test.tsx
  web/src/systems/automation/components/trigger-detail/trigger-detail-actions.tsx
  web/src/systems/automation/components/trigger-detail/trigger-detail-head.tsx
  web/src/systems/automation/components/trigger-detail/trigger-detail-rail.tsx
  web/src/systems/automation/components/trigger-detail/trigger-rule-card.tsx
  web/src/systems/automation/components/trigger-detail/trigger-rule-then.tsx
  web/src/systems/automation/components/trigger-detail/trigger-value-badge.tsx
  web/src/systems/automation/components/trigger-detail/trigger-webhook-endpoint.tsx
  web/src/systems/automation/lib/trigger-inspect-model.ts
Due: turbo-lint

fix: align route preload test contract
  docs/qa/reports/2026-08-15-triggers-ui.md
  docs/qa/scenarios/ET-web-trigger-detail-rule-page.md
  web/src/routes/_app/__tests__/-route-preloading.integration.test.tsx
Due: turbo-lint

feat: add session attachment store, config, and daemon boot wiring
  config.toml
  internal/attachments/attachment.go
  internal/attachments/attachment_test.go
  internal/attachments/mime.go
  internal/attachments/mime_test.go
  internal/attachments/mime_webp.go
  internal/attachments/store.go
  internal/attachments/store_fs.go
  internal/attachments/store_fs_paths.go
  internal/attachments/store_fs_sweep.go
  internal/attachments/store_fs_test.go
  internal/attachments/sweeper.go
  internal/attachments/sweeper_test.go
  internal/config/config_agent_session.go
  internal/config/config_agent_validation.go
  internal/config/config_clone.go
  internal/config/config_clone_test.go
  internal/config/defaults.go
  internal/config/home.go
  internal/config/home_permissions_test.go
  internal/config/home_test.go
  internal/config/merge.go
  internal/config/merge_session.go
  internal/config/merge_session_attachments.go
  internal/config/session_attachments_config.go
  internal/config/session_attachments_test.go
  internal/config/tool_surface.go
  internal/config/tool_surface_session_attachments.go
  internal/config/tool_surface_test.go
  internal/daemon/boot.go
  internal/daemon/boot_session_attachments.go
  internal/daemon/runtime_deps.go
  internal/daemon/runtime_workers.go
Due: format-go

feat: add session attachment upload, bytes, and delete across HTTP, UDS, and CLI
  internal/api/contract/session_attachment.go
  internal/api/core/base_handlers.go
  internal/api/core/session_attachments.go
  internal/api/core/session_attachments_test.go
  internal/api/httpapi/handlers.go
  internal/api/httpapi/handlers_test.go
  internal/api/httpapi/middleware.go
  internal/api/httpapi/request_body_limit_test.go
  internal/api/httpapi/server.go
  internal/api/httpapi/server_handler_config.go
  internal/api/httpapi/server_setup.go
  internal/api/httpapi/session_attachment_options.go
  internal/api/httpapi/session_routes.go
  internal/api/spec/operation_builder.go
  internal/api/spec/registry_session_attachments.go
  internal/api/spec/registry_sessions.go
  internal/api/spec/spec.go
  internal/api/spec/spec_test.go
  internal/api/udsapi/handler_config.go
  internal/api/udsapi/handlers_test.go
  internal/api/udsapi/server.go
  internal/api/udsapi/server_handler_config.go
  internal/api/udsapi/server_handlers.go
  internal/api/udsapi/session_attachment_options.go
  internal/api/udsapi/session_routes.go
  internal/cli/client_session_api.go
  internal/cli/client_session_attachments.go
  internal/cli/client_session_types.go
  internal/cli/client_test.go
  internal/cli/client_transport.go
  internal/cli/command_paths_test.go
  internal/cli/helpers_test.go
  internal/cli/session_attachments.go
  internal/cli/session_attachments_output.go
  internal/cli/session_command.go
  internal/cli/session_test.go
  internal/daemon/server_options.go
Due: format-go

feat: render durable transcript attachments as frames and file cards
  web/src/components/assistant-ui/session-user-message.tsx
  web/src/components/assistant-ui/timeline-row-estimates.ts
  web/src/systems/session/components/session-attachment-file-card.tsx
  web/src/systems/session/components/session-attachment-frame.tsx
  web/src/systems/session/components/session-attachment-gallery.tsx
  web/src/systems/session/components/stories/session-attachment-file-card.stories.tsx
  web/src/systems/session/components/stories/session-attachment-frame.stories.tsx
  web/src/systems/session/components/stories/session-attachment-gallery.stories.tsx
  web/src/systems/session/lib/__tests__/attachment-url.test.ts
  web/src/systems/session/lib/__tests__/session-attachment-transcript.test.ts
  web/src/systems/session/lib/attachment-url.ts
  web/src/systems/session/lib/message-schemas.ts
  web/src/systems/session/lib/session-attachment-items.ts
  web/src/systems/session/lib/session-thread-repository.ts
  web/src/systems/session/mocks/fixtures.ts
Due: turbo-lint

feat: regenerate SDK contracts and native tool catalog for attachments
  config.toml
  internal/tools/builtin/testdata/native-tool-catalog.json
  sdk/go/contracts/types_011_gen.go
  sdk/go/contracts/types_012_gen.go
  sdk/go/contracts/types_013_gen.go
  sdk/go/contracts/types_014_gen.go
  sdk/go/contracts/types_015_gen.go
  sdk/go/contracts/types_016_gen.go
  sdk/go/contracts/types_017_gen.go
  sdk/go/contracts/types_018_gen.go
  sdk/go/contracts/types_019_gen.go
  sdk/go/contracts/types_020_gen.go
  sdk/go/contracts/types_021_gen.go
  sdk/go/contracts/types_022_gen.go
  sdk/go/contracts/types_023_gen.go
  sdk/go/contracts/types_024_gen.go
  sdk/go/contracts/types_025_gen.go
  sdk/go/contracts/types_026_gen.go
  sdk/go/contracts/types_027_gen.go
  sdk/go/contracts/types_028_gen.go
  sdk/typescript/src/generated/contracts.ts
Due: turbo-lint, format-go

feat: capture ACP prompt capabilities and dispatch attachments with gating
  internal/acp/client_prompt.go
  internal/acp/client_prompt_contract_test.go
  internal/acp/client_protocol.go
  internal/acp/client_start_contract_test.go
  internal/acp/client_test_support_test.go
  internal/acp/prompt_attachments.go
  internal/acp/prompt_attachments_test.go
  internal/acp/start_process.go
  internal/acp/start_session.go
  internal/acp/types.go
  internal/api/contract/acp_observations.go
  internal/api/core/conversions_parsers_test.go
  internal/api/core/conversions_session_events.go
  internal/api/core/session_workspace.go
  internal/api/core/session_workspace_internal_test.go
  internal/daemon/boot_components.go
  internal/daemon/runtime_dependencies.go
  internal/daemon/session_manager_deps.go
  internal/daemon/session_manager_factory.go
  internal/session/manager_input_dispatch.go
  internal/session/manager_managed_input_submit.go
  internal/session/manager_options.go
  internal/session/manager_prompt_submit.go
  internal/session/manager_types.go
  internal/session/prompt_attachments.go
  internal/session/prompt_attachments_test.go
Due: format-go

fix: resolve follow-up attachment review findings
  internal/session/manager_clear_test.go
  internal/session/manager_hooks_prompt_test.go
  internal/store/session_input_queue.go
  internal/store/session_input_queue_test.go
  internal/tools/builtin/builtin_test.go
  internal/tools/builtin/sessions.go
  internal/tools/builtin/testdata/native-tool-catalog.json
  web/src/components/assistant-ui/__tests__/session-thread.test.tsx
  web/src/components/assistant-ui/hooks/use-session-composer-drop.ts
  web/src/components/assistant-ui/session-attach-button.tsx
  web/src/components/assistant-ui/session-attachment-drop-overlay.tsx
  web/src/components/assistant-ui/session-attachment-tile.tsx
  web/src/components/assistant-ui/session-user-message.tsx
  web/src/components/assistant-ui/timeline-row-estimates.ts
  web/src/systems/session/components/session-attachment-file-card.tsx
  web/src/systems/session/hooks/use-session-attachment-adapter.ts
  web/src/systems/session/hooks/use-session-chat-runtime.ts
  web/src/systems/session/lib/__tests__/session-attachment-transcript.test.ts
  web/src/systems/session/lib/session-attachment-items.ts
  web/src/systems/session/mocks/__tests__/handlers.test.ts
  web/src/systems/session/mocks/handlers.ts
Due: turbo-lint, format-go

feat: regenerate contracts and migration for session attachments
  internal/store/globaldb/schema/migrations/00064_schema.sql
  internal/store/globaldb/schema/migrations/atlas.sum
  internal/store/globaldb/sqlcgen/models.go
  internal/store/globaldb/sqlcgen/session_input.sql.go
  internal/store/globaldb/sqlcgen/session_prompt_admission.sql.go
  openapi/compozy.json
  packages/site/content/docs/cli/session/attachments/index.mdx
  packages/site/content/docs/cli/session/attachments/meta.json
  packages/site/content/docs/cli/session/attachments/upload.mdx
  packages/site/content/docs/cli/session/index.mdx
  packages/site/content/docs/cli/session/meta.json
  sdk/go/contracts/types_001_gen.go
  sdk/typescript/src/generated/contracts.ts
  web/src/generated/compozy-openapi.d.ts
Due: turbo-lint, format-go

fix: preserve attachment admission replay
  internal/session/attachment_meta.go
  internal/session/manager_busy_input_test.go
  internal/session/manager_prompt_admission.go
  internal/session/manager_prompt_admission_identity.go
  internal/session/manager_prompt_admission_identity_test.go
  internal/session/prompt_attachments_test.go
  web/src/components/assistant-ui/session-attach-button.tsx
  web/src/components/assistant-ui/session-attachment-tile.tsx
Due: turbo-lint, format-go

feat: add composer attachment UI on the assistant-ui attachment runtime
  web/e2e/fixtures/selectors.ts
  web/src/components/assistant-ui/__tests__/session-thread.test.tsx
  web/src/components/assistant-ui/hooks/use-attachment-rail.ts
  web/src/components/assistant-ui/hooks/use-session-attachment-adapter.ts
  web/src/components/assistant-ui/hooks/use-session-composer-drop.ts
  web/src/components/assistant-ui/hooks/use-session-composer-send-gate.ts
  web/src/components/assistant-ui/hooks/use-session-composer-state.ts
  web/src/components/assistant-ui/session-attach-button.tsx
  web/src/components/assistant-ui/session-attachment-drop-overlay.tsx
  web/src/components/assistant-ui/session-attachment-strip.tsx
  web/src/components/assistant-ui/session-attachment-tile-model.ts
  web/src/components/assistant-ui/session-attachment-tile.tsx
  web/src/components/assistant-ui/session-composer-lexical-plugins.tsx
  web/src/components/assistant-ui/session-composer-queued-prompts.tsx
  web/src/components/assistant-ui/session-composer-send-button.tsx
  web/src/components/assistant-ui/session-composer.tsx
  web/src/components/assistant-ui/session-thread.tsx
  web/src/systems/os/apps/session/session-window-content.tsx
  web/src/systems/session/adapters/session-attachment-api.ts
  web/src/systems/session/components/__tests__/session-chat-runtime-provider.test.tsx
  web/src/systems/session/components/stories/session-attach-button.stories.tsx
  web/src/systems/session/components/stories/session-attachment-strip.stories.tsx
  web/src/systems/session/components/stories/session-attachment-tile.stories.tsx
  web/src/systems/session/hooks/use-session-chat-runtime.ts
  web/src/systems/session/index.ts
  web/src/systems/session/lib/__tests__/attachment-kinds.test.ts
  web/src/systems/session/lib/__tests__/session-prompt-chat-transport.test.ts
  web/src/systems/session/lib/attachment-kinds.ts
  web/src/systems/session/lib/queued-prompt.ts
  web/src/systems/session/lib/session-prompt-chat-transport.ts
  web/src/systems/session/mocks/handlers.ts
  web/src/systems/session/types.ts
Due: turbo-lint
