Repository compozy/compozy: changes, and which pre-commit hooks are due for each by the changed paths.
All: turbo-lint, format-go

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit

default_stages:
  - pre-commit

exclude: |
  (?x)^(
    CHANGELOG.md|
    tools/.*/package\.json|
    bun.lockb|
    node_modules|
  )$

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      # - id: trailing-whitespace
      #   args:
      #     - --no-utf8-locale
      - id: end-of-file-fixer
        exclude: '^(CHANGELOG\.md|tools/.*/package\.json|bun\.lockb|node_modules/)'
      - id: check-json
        exclude: '^(tools/.*/package\.json|node_modules/)'
      - id: check-toml
      - id: check-added-large-files
        args:
          - --maxkb=3000
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: detect-private-key
  - repo: local
    hooks:
      - id: turbo-lint
        name: turbo lint
        description: Run linting via Turborepo
        entry: bun run lint
        language: system
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false
      # - id: turbo-type-check
      #   name: turbo type check
      #   description: Run TypeScript checking via Turborepo
      #   entry: bun run type-check
      #   language: system
      #   files: \.(ts|tsx)$
      #   pass_filenames: false
      - id: format-go
        name: format go
        description: Format Go files using make fmt
        entry: make fmt
        language: system
        files: \.go$
        pass_filenames: false
  - repo: https://github.com/lyz-code/yamlfix/
    rev: 1.17.0
    hooks:
      - id: yamlfix
        args:
          - -c
          - .yamlfix.toml
        exclude: ^cluster/.*$

fix(repo): PR suggestions
  engine/tool/builtin/exec/handler.go
Due: format-go

fix(repo): PR suggestions
  docs/docs.go
  docs/swagger.json
  docs/swagger.yaml
  engine/agent/router/exec.go
  engine/agent/router/exec_test.go
  engine/infra/server/appstate/state.go
  engine/infra/server/router/execution_timeout.go
  engine/infra/server/router/helpers.go
  engine/mcp/config.go
  engine/mcp/router/dto.go
  engine/task/router/exec.go
  engine/task/router/exec_test.go
  engine/workflow/router/execute.go
  engine/workflow/router/execute_sync.go
Due: format-go

docs(repo): Add examples/sync
  examples/sync/README.md
  examples/sync/agents/sync-assistant.yaml
  examples/sync/api.http
  examples/sync/compozy.yaml
  examples/sync/entrypoint.ts
  examples/sync/package.json
  examples/sync/tasks/sync-respond.yaml
  examples/sync/workflows/sync.yaml
Due: turbo-lint

fix(repo): Tool budget calculation
  engine/llm/config.go
  engine/llm/orchestrator/config.go
  engine/llm/orchestrator/request_builder.go
  engine/llm/orchestrator/request_builder_helpers_test.go
  engine/llm/orchestrator/tool_executor.go
  engine/llm/orchestrator/tool_executor_test.go
  engine/llm/orchestrator/tool_executor_update_budgets_test.go
  engine/llm/orchestrator/types.go
  engine/llm/service.go
  engine/task/uc/exec_task.go
  engine/tool/builtin/definition.go
  examples/code-reviewer/agents/analyzer.yaml
  examples/code-reviewer/compozy.yaml
  examples/code-reviewer/workflows/review.yaml
  test/integration/worker/basic/fixtures/final_task.yaml
  test/integration/worker/basic/fixtures/simple_success.yaml
Due: format-go

fix(repo): Sync executions
  EXECUTION_ROUTES_REMEDIATION_PLAN.md
  engine/agent/router/exec.go
  engine/agent/router/exec_test.go
  engine/task/router/direct_executor.go
  engine/task/router/direct_executor_test.go
  engine/task/router/exec.go
  engine/task/router/exec_test.go
  engine/task/uc/exec_task.go
  engine/task/uc/exec_task_test.go
  engine/task2/shared/variable_builder.go
  engine/workflow/router/execute.go
  engine/workflow/router/execute_sync.go
  engine/workflow/router/execute_sync_test.go
  examples/sync/api.http
  examples/sync/compozy.yaml
  test/integration/server/executions_integration_test.go
Due: format-go

fix(repo): PR suggestions
  docs/docs.go
  engine/agent/router/exec.go
  engine/infra/monitoring/execution_metrics_test.go
  engine/infra/server/router/helpers.go
  engine/infra/server/router/idempotency.go
  engine/llm/orchestrator/loop.go
  engine/task/router/direct_executor.go
  engine/task/router/exec.go
  engine/workflow/router/execute.go
  scripts/resolve_pr_threads.sh
Due: format-go

fix(repo): PR suggestions
  cli/cmd/config/config.go
  cli/help/configuration.md
  cli/helpers/flag_categories.go
  docs/docs.go
  docs/swagger.json
  docs/swagger.yaml
  engine/project/config.go
  engine/task/router/exec.go
  engine/task/router/exec_test.go
  engine/workflow/router/execute.go
  engine/workflow/router/execute_sync.go
  pkg/config/config.go
  pkg/config/config_test.go
  pkg/config/definition/schema.go
  pkg/config/loader.go
  pkg/config/provider.go
  schemas/compozy.json
  schemas/config.json
  schemas/project.json
  schemas/runtime.json
Due: format-go

fix(repo): PR suggestions
  docs/scripts/generate-openapi.ts
  engine/agent/router/exec.go
  engine/llm/adapter/langchain_adapter.go
  engine/llm/adapter/langchain_adapter_test.go
  engine/task/router/direct_executor.go
  engine/task/router/exec.go
Due: turbo-lint, format-go

fix(repo): PR suggestions
  engine/agent/router/exec.go
  examples/pokemon/workflow.yaml
Due: format-go

fix(repo): Response handler for attachments
  engine/llm/adapter/interface.go
  engine/llm/adapter/langchain_adapter.go
  engine/llm/orchestrator/request_builder.go
  engine/llm/orchestrator/request_builder_helpers_test.go
  engine/llm/orchestrator/response_handler.go
  engine/llm/orchestrator/response_handler_test.go
  examples/pokemon/workflow.yaml
Due: format-go

fix(repo): PR suggestions
  engine/llm/orchestrator/request_builder.go
  engine/llm/orchestrator/request_builder_helpers_test.go
Due: format-go

fix(repo): Response handler for attachments (#267)
  engine/llm/adapter/interface.go
  engine/llm/adapter/langchain_adapter.go
  engine/llm/orchestrator/request_builder.go
  engine/llm/orchestrator/request_builder_helpers_test.go
  engine/llm/orchestrator/response_handler.go
  engine/llm/orchestrator/response_handler_test.go
  examples/pokemon/workflow.yaml
Due: format-go

feat(repo): Task 2
  .cursor/commands/prd-progress.md
  engine/task/router/direct_executor.go
  engine/tool/context/context.go
  engine/tool/context/context_test.go
  tasks/prd-agentic/_task_2.md
  tasks/prd-agentic/_tasks.md
Due: format-go

docs(repo): Add prd-embedding
  tasks/prd-embedding/_docs.md
  tasks/prd-embedding/_examples.md
  tasks/prd-embedding/_prd.md
  tasks/prd-embedding/_task_0.md
  tasks/prd-embedding/_task_1.md
  tasks/prd-embedding/_task_10.md
  tasks/prd-embedding/_task_11.md
  tasks/prd-embedding/_task_12.md
  tasks/prd-embedding/_task_13.md
  tasks/prd-embedding/_task_14.md
  tasks/prd-embedding/_task_15.md
  tasks/prd-embedding/_task_2.md
  tasks/prd-embedding/_task_3.md
  tasks/prd-embedding/_task_4.md
  tasks/prd-embedding/_task_5.md
  tasks/prd-embedding/_task_6.md
  tasks/prd-embedding/_task_7.md
  tasks/prd-embedding/_task_8.md
  tasks/prd-embedding/_task_9.md
  tasks/prd-embedding/_tasks.md
  tasks/prd-embedding/_techspec.md
  tasks/prd-embedding/_tests.md
Due: none

feat(repo): Task 3
  engine/tool/builtin/orchestrate/plan.go
  engine/tool/builtin/orchestrate/plan_test.go
  engine/tool/builtin/orchestrate/schema.go
  tasks/prd-agentic/_task_3.md
  tasks/prd-agentic/_task_4.md
  tasks/prd-agentic/_task_5.md
  tasks/prd-agentic/_task_6.md
  tasks/prd-agentic/_tasks.md
  tasks/prd-agentic/_techspec.md
Due: format-go

feat(repo): Task 4
  .cursor/commands/docs-enhance.md
  .cursor/commands/docs-linking.md
  .cursor/commands/improve-tests.md
  .cursor/commands/prd-create.md
  .cursor/commands/prd-tasks.md
  .cursor/commands/prd-techspec.md
  .cursor/commands/pretask.md
  .cursor/commands/repo-prompt.md
  .cursor/commands/task-next.md
  .cursor/commands/task-review.md
  engine/tool/builtin/orchestrate/planner/compiler.go
  engine/tool/builtin/orchestrate/planner/compiler_test.go
  engine/tool/context/context.go
  engine/tool/context/context_test.go
  tasks/prd-agentic/_prd.md
  tasks/prd-agentic/_task_10.md
  tasks/prd-agentic/_task_11.md
  tasks/prd-agentic/_task_2.md
  tasks/prd-agentic/_task_4.md
  tasks/prd-agentic/_task_5.md
  tasks/prd-agentic/_task_6.md
  tasks/prd-agentic/_task_9.md
  tasks/prd-agentic/_tasks.md
  tasks/prd-agentic/_techspec.md
Due: format-go

feat(repo): Task 5
  .claude/agents/deep-analyzer.md
  .claude/agents/prd-creator.md
  .claude/agents/prd-tasks-creator.md
  .claude/agents/prd-techspec-creator.md
  engine/tool/builtin/orchestrate/executor.go
  engine/tool/builtin/orchestrate/executor_test.go
  engine/tool/builtin/orchestrate/fsm.go
  engine/tool/builtin/orchestrate/fsm_test.go
  engine/tool/context/context.go
  engine/tool/context/context_test.go
  tasks/prd-agentic/_task_5.md
  tasks/prd-agentic/_tasks.md
Due: format-go

feat(repo): Task 5 and 6
  engine/knowledge/ingest/options.go
  engine/knowledge/ingest/pipeline.go
  engine/knowledge/ingest/pipeline_test.go
  engine/knowledge/ingest/sources.go
  engine/knowledge/retrieved.go
  engine/knowledge/retriever/service.go
  engine/knowledge/retriever/service_test.go
  tasks/prd-embedding/_task_5.md
  tasks/prd-embedding/_task_6.md
  tasks/prd-embedding/_tasks.md
Due: format-go

feat(repo): Task 6 and 7
  engine/agent/exec/runner.go
  engine/llm/adapter/context.go
  engine/llm/config.go
  engine/llm/orchestrator/loop.go
  engine/llm/service.go
  engine/runtime/toolenv/environment.go
  engine/runtime/toolenvstate/store.go
  engine/task/activities/exec_basic.go
  engine/task/activities/exec_subtask.go
  engine/task/router/direct_executor.go
  engine/task/uc/exec_task.go
  engine/tool/builtin/orchestrate/executor.go
  engine/tool/builtin/orchestrate/executor_test.go
  engine/tool/builtin/orchestrate/handler.go
  engine/tool/builtin/orchestrate/handler_test.go
  engine/tool/builtin/orchestrate/plan_alias.go
  engine/tool/builtin/orchestrate/planner/compiler.go
  engine/tool/builtin/orchestrate/planner/compiler_test.go
  engine/tool/builtin/orchestrate/spec/plan.go
  engine/tool/builtin/orchestrate/spec/schema.go
  engine/tool/context/context.go
  engine/tool/context/context_test.go
  engine/tool/native/catalog.go
  pkg/config/config.go
  pkg/config/config_test.go
  pkg/config/definition/schema.go
  pkg/config/native_tools.go
  tasks/prd-agentic/_task_6.md
  tasks/prd-agentic/_task_7.md
  tasks/prd-agentic/_tasks.md
  tasks/prd-agentic/_techspec.md
Due: format-go

feat(repo): Task 8 and 9
  engine/tool/builtin/orchestrate/executor.go
  engine/tool/builtin/orchestrate/executor_test.go
  engine/tool/builtin/telemetry.go
  engine/tool/builtin/telemetry_test.go
  tasks/prd-agentic/_task_8.md
  tasks/prd-agentic/_task_9.md
  tasks/prd-agentic/_tasks.md
Due: format-go

feat(repo): Task 10
  tasks/prd-agentic/_task_10.md
  tasks/prd-agentic/_tasks.md
  test/integration/tool/orchestrate_integration_test.go
Due: format-go

feat(repo): Task 9
  engine/knowledge/configutil/config.go
  engine/knowledge/embedder/adapter_test.go
  engine/knowledge/uc/delete.go
  engine/knowledge/uc/ingest_uc.go
  engine/knowledge/uc/query_uc.go
  engine/knowledge/uc/runtime.go
  engine/llm/config.go
  engine/llm/orchestrator/request_builder.go
  engine/llm/orchestrator/request_builder_knowledge_test.go
  engine/llm/orchestrator/types.go
  engine/llm/service.go
  engine/task/uc/exec_task.go
  tasks/prd-embedding/_task_10.md
  tasks/prd-embedding/_task_11.md
  tasks/prd-embedding/_task_9.md
  tasks/prd-embedding/_tasks.md
Due: format-go

build(repo): Bun lock update
  bun.lock
Due: none

fix(repo): PR suggestions
  engine/agent/exec/runner_test.go
  engine/infra/server/worker.go
  engine/llm/adapter/provider_registry_test.go
  engine/llm/config.go
  engine/llm/errors.go
  engine/llm/orchestrator/errors.go
  engine/llm/orchestrator/fingerprint_test.go
  engine/llm/orchestrator/loop.go
  engine/llm/orchestrator/loop_context_usage_test.go
  engine/llm/orchestrator/loop_prompt_refresh_test.go
  engine/llm/orchestrator/loop_state.go
  engine/llm/orchestrator/progress.go
  engine/llm/orchestrator/prompt_state_test.go
  engine/llm/toolerrors/toolerrors.go
Due: format-go

fix(repo): PR suggestions
  engine/agent/exec/runner_test.go
  engine/llm/adapter/langchain_adapter_test.go
  engine/llm/orchestrator/fingerprint_test.go
  engine/llm/orchestrator/loop.go
  engine/llm/orchestrator/loop_context_usage_test.go
  engine/llm/orchestrator/progress.go
Due: format-go

fix(repo): PR suggestions
  engine/core/params.go
  engine/llm/orchestrator/loop_state.go
  engine/llm/orchestrator/prompts/templates/action_prompt_default.tmpl
  engine/llm/orchestrator/response_handler.go
  engine/llm/orchestrator/response_handler_test.go
  engine/llm/prompt_builder_test.go
  engine/llm/service_test.go
  examples/agentic/workflow.yaml
  test/integration/worker/attachments/attachments_test.go
  test/integration/worker/collection/code_reviewer_test.go
  test/integration/worker/helpers/common.go
Due: format-go

savepoint
  docs/docs.go
  docs/swagger.json
  docs/swagger.yaml
  engine/core/copy.go
  engine/core/params.go
  engine/infra/server/router/testdata/swagger/knowledge.json
  engine/knowledge/uc/loader.go
  engine/knowledge/uc/loader_test.go
  engine/llm/config.go
  engine/llm/service.go
  engine/llm/service_test.go
  engine/task/uc/exec_task.go
  engine/task/uc/exec_task_test.go
  examples/knowledge/pdf-url/README.md
  examples/knowledge/pdf-url/agents/pdf-agent.md
  examples/knowledge/pdf-url/agents/pdf-agent.yaml
  examples/knowledge/pdf-url/api.http
  examples/knowledge/pdf-url/compozy.yaml
  examples/knowledge/pdf-url/entrypoint.ts
  examples/knowledge/pdf-url/run.sh
  examples/knowledge/pdf-url/teardown.sh
  examples/knowledge/pdf-url/workflows/qa.yaml
  examples/knowledge/pgvector-basic/agents/policy-agent.md
  examples/knowledge/pgvector-basic/agents/policy-agent.yaml
  examples/knowledge/pgvector-basic/api.http
  examples/knowledge/pgvector-basic/compozy.yaml
  examples/knowledge/pgvector-basic/entrypoint.ts
  examples/knowledge/pgvector-basic/workflows/qa.yaml
  examples/knowledge/query-cli/agents/runbook-agent.yaml
  examples/knowledge/query-cli/api.http
  examples/knowledge/query-cli/compozy.yaml
  examples/knowledge/query-cli/entrypoint.ts
  examples/knowledge/query-cli/workflows/qa.yaml
  examples/knowledge/quickstart-markdown-glob/agents/quickstart-agent.md
  examples/knowledge/quickstart-markdown-glob/agents/quickstart-agent.yaml
  examples/knowledge/quickstart-markdown-glob/api.http
  examples/knowledge/quickstart-markdown-glob/compozy.yaml
  examples/knowledge/quickstart-markdown-glob/entrypoint.ts
  examples/knowledge/quickstart-markdown-glob/run.sh
  examples/knowledge/quickstart-markdown-glob/teardown.sh
Due: turbo-lint, format-go

ci(repo): Fix bun lock caching
  .github/actions/setup-bun/action.yml
  .github/versions.yml
  PR_RELEASE.md
  bun.lock
  cluster/compozy.Dockerfile
  cluster/compozy.goreleaser.Dockerfile
  cluster/mcpproxy.Dockerfile
  cluster/mcpproxy.goreleaser.Dockerfile
  docs/package.json
  package.json
Due: none
