Repository compozy/compozy: changes, and which pre-commit hooks are due for each by the changed paths.
All: turbo-lint, format-go

turbo-lint:
  name: turbo lint
  description: Run linting via Turborepo
  entry: bun run lint
  language: system
  pass_filenames: false

format-go:
  name: format go
  description: Format Go files using make fmt
  entry: make fmt
  language: system
  pass_filenames: false

fix: keep loop operational status visible
  docs/qa/reports/2026-09-04-loop-stability.md
  docs/qa/scenarios/LP-web-run-default-read-briefing.md
  web/e2e/__tests__/loop-run.spec.ts
  web/e2e/__tests__/loops.spec.ts
  web/e2e/__tests__/terminal.spec.ts
  web/src/systems/loops/components/__tests__/loop-run-page.test.tsx
  web/src/systems/loops/components/run-page/loop-run-about-rail.tsx
Due: turbo-lint

fix: stabilize loop recovery and simplify run inspection (#554)
  docs/qa/reports/2026-09-04-loop-stability.md
  docs/qa/scenarios/LP-implement-tasks-orchestrated-mode.md
  docs/qa/scenarios/LP-run-read-agent-journey.md
  docs/qa/scenarios/LP-web-run-default-read-briefing.md
  docs/qa/scenarios/TA-task-run-result-paging.md
  extensions/spec-cycle/embed_test.go
  extensions/spec-cycle/loops/implement-tasks/loop.yaml
  internal/acp/client_process.go
  internal/acp/client_start_contract_test.go
  internal/acp/launch_identity.go
  internal/daemon/loop_runtime_adapters.go
  internal/daemon/loop_runtime_adapters_test.go
  internal/loop/briefing.go
  internal/loop/briefing_test.go
  internal/loop/run_read_briefing.go
  internal/loop/service_test.go
  internal/loop/service_timetravel.go
  internal/loop/timetravel_types.go
  internal/store/globaldb/global_db_goal_binding_allocate.go
  internal/store/globaldb/global_db_goal_binding_integration_test.go
  internal/store/globaldb/global_db_task_claim_test.go
  internal/store/globaldb/global_db_task_coordinator.go
  internal/store/globaldb/global_db_task_run_results.go
  packages/site/content/docs/examples/implement-tasks-loop.mdx
  skills/compozy/references/loops.md
  web/e2e/__tests__/loop-run.spec.ts
  web/e2e/__tests__/loops.spec.ts
  web/e2e/__tests__/terminal.spec.ts
  web/src/systems/loops/components/__tests__/loop-run-page.test.tsx
  web/src/systems/loops/components/run-page/loop-quarantine-sheet.tsx
  web/src/systems/loops/components/run-page/loop-run-about-rail.tsx
  web/src/systems/loops/components/run-page/loop-run-artifact-list.tsx
  web/src/systems/loops/components/run-page/loop-run-needs-you-card.tsx
  web/src/systems/loops/components/run-page/loop-run-step-row.tsx
  web/src/systems/loops/components/run-page/loop-run-steps-progress.tsx
  web/src/systems/loops/lib/__tests__/loop-run-progress.test.ts
  web/src/systems/loops/lib/loop-run-progress.ts
  web/src/systems/os/apps/loops/__tests__/loop-run-detail-location.test.tsx
  web/src/systems/os/apps/loops/loop-run-detail-location.tsx
Due: turbo-lint, format-go

fix: align session notices with the transcript rail and split oversized web sources
  packages/site/content/docs/sessions/control-plane.mdx
  web/src/systems/os/apps/session/session-window-content.tsx
  web/src/systems/session/adapters/session-api.ts
  web/src/systems/session/adapters/session-history-api.ts
  web/src/systems/session/busy-input.ts
  web/src/systems/session/components/session-resume-failure.tsx
  web/src/systems/session/components/session-runtime-recovery-notice.tsx
  web/src/systems/session/components/session-stop-attention-notice.tsx
  web/src/systems/session/index.ts
Due: turbo-lint

test: align CI-only suites with the truthful stop contract
  internal/daemon/daemon_attention_e2e_integration_test.go
  internal/daemon/harness_context_integration_test.go
  internal/store/globaldb/global_db_session_test.go
  internal/store/globaldb/global_db_test.go
Due: format-go

test: drive the web stop-truth journey with a cancel-ignoring turn
  internal/testutil/acpmock/testdata/driver_fault_fixture.json
  web/e2e/__tests__/session-hardening.spec.ts
  web/e2e/fixtures/test.ts
Due: turbo-lint

fix: stop settled-session reads from republishing catalog upserts
  internal/session/query_test.go
  internal/session/recovery_catalog.go
  internal/session/sandbox_helpers.go
Due: format-go

perf: reduce test and development feedback overhead
  .air.toml
  .github/workflows/ci.yml
  .gitignore
  Makefile
  bun.lock
  cmd/compozy-codegen/main_test.go
  docs/qa/reports/2026-09-05-dev-performance.md
  docs/qa/scenarios/RT-dev-bootstrap-ready.md
  docs/runbooks/development-performance.md
  internal/store/globaldb/global_db_extension_env_test.go
  lint-plugins/package.json
  lint-plugins/ui-primitive-reuse.mjs
  magefiles/codegen.go
  magefiles/codegen_guard.go
  magefiles/verify.go
  package.json
  scripts/build-air.sh
  scripts/codegen-check.sh
  scripts/dev-daemon.sh
  scripts/dev.sh
  scripts/devreadiness/dev_readiness_integration_test.go
  scripts/gate.sh
  scripts/gate_integration_test.go
  scripts/gate_runtime.sh
  skills.test
  turbo.json
  vitest.config.ts
  web/package.json
  web/src/components/assistant-ui/session-composer-command-menu.tsx
  web/src/systems/loops/components/run-page/requests/loop-request-answer-form.tsx
  web/src/systems/settings/components/window-manager-config-editor.tsx
  web/vitest.config.ts
Due: turbo-lint, format-go

docs: record the deferred QA branches as documented blockers
  docs/qa/scenarios/RT-018.md
  docs/qa/scenarios/RT-session-native-stop.md
  web/src/systems/session/lib/query-options.ts
Due: turbo-lint

refactor: flatten the session control surfaces React Doctor flagged
  web/src/components/assistant-ui/hooks/use-session-composer-controller.ts
  web/src/components/assistant-ui/session-composer-action-row.tsx
  web/src/hooks/routes/use-session-page-controls.ts
  web/src/routes/_app/settings/-general-settings-page.tsx
  web/src/systems/os/apps/session/session-window-content.tsx
  web/src/systems/session/components/runtime-activity-notice.tsx
Due: turbo-lint

perf: reduce test and development feedback overhead (#556)
  .air.toml
  .github/workflows/ci.yml
  .gitignore
  Makefile
  bun.lock
  cmd/compozy-codegen/main_test.go
  docs/qa/reports/2026-09-05-dev-performance.md
  docs/qa/scenarios/RT-dev-bootstrap-ready.md
  docs/runbooks/development-performance.md
  internal/store/globaldb/global_db_extension_env_test.go
  lint-plugins/package.json
  lint-plugins/ui-primitive-reuse.mjs
  magefiles/codegen.go
  magefiles/codegen_guard.go
  magefiles/verify.go
  package.json
  scripts/build-air.sh
  scripts/codegen-check.sh
  scripts/dev-daemon.sh
  scripts/dev.sh
  scripts/devreadiness/dev_readiness_integration_test.go
  scripts/gate.sh
  scripts/gate_integration_test.go
  scripts/gate_runtime.sh
  skills.test
  turbo.json
  vitest.config.ts
  web/package.json
  web/src/components/assistant-ui/session-composer-command-menu.tsx
  web/src/systems/loops/components/run-page/requests/loop-request-answer-form.tsx
  web/src/systems/settings/components/window-manager-config-editor.tsx
  web/vitest.config.ts
Due: turbo-lint, format-go

docs: update skills
  .agents/skills/cy-create-tasks/SKILL.md
  .agents/skills/cy-create-tasks/references/task-template.md
  .agents/skills/cy-final-verify/SKILL.md
  .agents/skills/cy-final-verify/references/conditional-contracts.md
  .agents/skills/cy-final-verify/references/pr-delivery.md
  .agents/skills/cy-loop-tasks/SKILL.md
  .agents/skills/cy-loop-tasks/references/checklist.md
  .agents/skills/cy-loop-tasks/references/goal-header-template.md
  .agents/skills/cy-loop-tasks/references/herdr-delegation.md
  .agents/skills/cy-loop-tasks/references/memory-protocol.md
  .agents/skills/cy-loop-tasks/references/phase-bootstrap.md
  .agents/skills/cy-loop-tasks/references/phase-delivery.md
  .agents/skills/cy-loop-tasks/references/phase-qa.md
  .agents/skills/cy-loop-tasks/references/phase-review.md
  .agents/skills/cy-loop-tasks/references/phase-slice.md
  .agents/skills/cy-loop-tasks/references/phase-task.md
  .agents/skills/cy-loop-tasks/references/phase-transitions.md
  .agents/skills/cy-loop-tasks/references/recovery-loop.md
  .agents/skills/cy-loop-tasks/references/state-schema.md
  .agents/skills/cy-spec-preflight/SKILL.md
  .agents/skills/cy-spec-preflight/references/spec-contracts.md
  .agents/skills/cy-spec-preflight/references/tasks-checks.md
  .agents/skills/cy-tasks-tail-qa-pair/SKILL.md
  .agents/skills/cy-tasks-tail-qa-pair/references/qa-pair-checklist.md
  .agents/skills/cy-tasks-tail-qa-pair/references/qa-tail-template.md
  .agents/skills/herdr-orchestration/SKILL.md
  .agents/skills/herdr-orchestration/agents/openai.yaml
  .agents/skills/herdr-orchestration/references/plan-mode.md
  extensions/spec-cycle/skills/cy-create-tasks/SKILL.md
  extensions/spec-cycle/skills/cy-create-tasks/references/task-template.md
  extensions/spec-cycle/skills/cy-execute-task/SKILL.md
  extensions/spec-cycle/skills/cy-execute-task/references/tracking-checklist.md
  extensions/spec-cycle/skills/cy-final-verify/SKILL.md
  extensions/spec-cycle/skills/cy-final-verify/references/conditional-contracts.md
  extensions/spec-cycle/skills/cy-final-verify/references/pr-delivery.md
  extensions/spec-cycle/skills/cy-orchestrate-tasks/SKILL.md
Due: none

fix: resolve session diagnostics and CI regressions
  docs/qa/reports/2026-09-06-sessions-stability.md
  docs/qa/scenarios/RT-session-lifecycle-affordances.md
  extensions/spec-cycle/skills/cy-create-tasks/SKILL.md
  extensions/spec-cycle/skills/cy-execute-task/SKILL.md
  internal/daemon/daemon_acpmock_faults_integration_test.go
  internal/testutil/acpmock/cmd/acpmock-driver/main_test.go
  internal/testutil/acpmock/cmd/acpmock-driver/sandbox.go
  internal/testutil/e2e/mock_agents.go
  internal/testutil/e2e/runtime_harness_http_until_test.go
  internal/toolmeta/native_entries.go
  internal/toolmeta/preview_test.go
  internal/toolmeta/registry_test.go
  web/src/components/assistant-ui/__tests__/session-timeline.logic.test.ts
  web/src/components/assistant-ui/hooks/use-session-navigation-host.ts
  web/src/components/assistant-ui/session-thread.tsx
  web/src/components/assistant-ui/session-timeline-fold.ts
  web/src/systems/os/apps/session/session-window-content.tsx
  web/src/systems/os/apps/session/use-session-window-controller.tsx
  web/src/systems/session/components/__tests__/session-find-bar.test.tsx
  web/src/systems/session/components/runtime-activity-notice.logic.ts
  web/src/systems/session/components/session-find-bar.tsx
  web/src/systems/session/components/session-panel-toggle.tsx
  web/src/systems/session/components/session-primary-action.tsx
  web/src/systems/session/components/session-queue-strip.tsx
  web/src/systems/session/components/session-thinking-row.tsx
  web/src/systems/session/components/session-transport-chip.tsx
  web/src/systems/session/components/tool-call-card.tsx
  web/src/systems/session/components/tool-renderers/bash-content.tsx
  web/src/systems/session/hooks/smooth-streamed-text-store.ts
  web/src/systems/session/hooks/use-session-runtime-extensions.ts
  web/src/systems/session/hooks/use-session-topbar-slot.tsx
  web/src/systems/session/hooks/use-smooth-streamed-text.ts
  web/src/systems/session/lib/__tests__/session-smooth-reveal.test.ts
  web/src/systems/session/lib/__tests__/session-thinking-state.test.ts
  web/src/systems/session/lib/session-thinking-state.ts
Due: turbo-lint, format-go

perf: avoid impossible secret assignment scans in streamed text
  docs/qa/bugs/BUG-20260906-stream-redaction-storm-timeout.md
  docs/qa/reports/2026-09-06-sessions-stability.md
  docs/qa/scenarios/RT-visible-session-streaming.md
  internal/redact/redact.go
  internal/redact/redact_test.go
Due: format-go

perf: skip provider token scans without required prefixes
  docs/qa/bugs/BUG-20260906-stream-redaction-storm-timeout.md
  docs/qa/scenarios/RT-visible-session-streaming.md
  internal/redact/engine.go
  internal/redact/patterns.go
  internal/redact/redact_test.go
  internal/sandbox/daytona/sidecar_assets/compozy-daytona-sidecar-linux-amd64.gz
  internal/sandbox/daytona/sidecar_assets/compozy-daytona-sidecar-linux-arm64.gz
Due: format-go

fix: preserve settings navigation during pending window opens
  docs/qa/bugs/BUG-20260906-settings-nav-stale-open-history.md
  docs/qa/reports/2026-09-06-sessions-stability.md
  docs/qa/scenarios/ET-profile-web-settings-lifecycle-dialogs.md
  web/src/systems/os/apps/settings/__tests__/settings-window-nav.test.tsx
  web/src/systems/os/apps/settings/settings-window-nav.tsx
  web/src/systems/os/apps/settings/settings-window.tsx
  web/src/systems/os/lib/__tests__/routing-coordinator.test.ts
  web/src/systems/os/lib/routing-coordinator.ts
Due: turbo-lint

test: negotiate small receive windows for storm watchers
  docs/qa/bugs/BUG-20260906-stream-redaction-storm-timeout.md
  docs/qa/reports/2026-09-06-sessions-stability.md
  docs/qa/scenarios/RT-visible-session-streaming.md
  internal/daemon/daemon_acpmock_faults_integration_test.go
Due: format-go

fix: preserve terminal sizing, detach, and composer focus
  docs/qa/bugs/BUG-20260906-hidden-terminal-pane-minimum-vote.md
  docs/qa/bugs/BUG-20260906-runtime-selector-closing-focus.md
  docs/qa/bugs/BUG-20260906-settings-nav-stale-open-history.md
  docs/qa/bugs/BUG-20260906-terminal-detach-close-race.md
  docs/qa/reports/2026-09-06-sessions-stability.md
  docs/qa/scenarios/ET-terminal-browser-lifecycle.md
  docs/qa/scenarios/ET-terminal-cli-public-contract.md
  docs/qa/scenarios/ET-terminal-window-native-flow.md
  docs/qa/scenarios/ET-web-runtime-selector-minimal-slider.md
  docs/qa/scenarios/ET-web-session-composer-text-entry.md
  internal/cli/client_terminal_stream.go
  internal/cli/client_terminal_stream_test.go
  packages/ui/src/components/terminal/__tests__/terminal-view.test.tsx
  packages/ui/src/components/terminal/use-terminal-instance.ts
  web/e2e/__tests__/session-provider-override.spec.ts
  web/e2e/__tests__/terminal.spec.ts
  web/e2e/fixtures/terminal-watcher.ts
  web/src/systems/runtime/components/runtime-selector/runtime-selector.tsx
  web/src/systems/runtime/components/runtime-selector/selector-search.tsx
  web/src/systems/runtime/components/runtime-selector/use-runtime-selector-popup.ts
  web/src/systems/terminal/components/terminal-pane.tsx
Due: turbo-lint, format-go

fix: stabilize stop recovery and terminal selection
  desktop/e2e/_electron/__tests__/shell.spec.ts
  docs/qa/bugs/BUG-20260906-cancel-exited-session-race.md
  docs/qa/bugs/BUG-20260906-hidden-terminal-pane-minimum-vote.md
  docs/qa/bugs/BUG-20260906-stop-receipt-outcome-race.md
  docs/qa/bugs/BUG-20260906-terminal-selection-resize-loop.md
  docs/qa/reports/2026-09-06-sessions-stability.md
  docs/qa/scenarios/ET-terminal-journal-recording.md
  docs/qa/scenarios/ET-terminal-window-native-flow.md
  docs/qa/scenarios/RT-session-native-stop.md
  docs/qa/scenarios/RT-session-prompt-cancel.md
  internal/cli/cli_integration_test.go
  internal/session/manager_prompt_contract_test.go
  internal/session/manager_stop_receipt.go
  internal/session/prompt_cancel.go
  internal/session/stop_events.go
  internal/session/stop_operation.go
  internal/session/stop_operation_start.go
  web/e2e/__tests__/terminal-agent.spec.ts
  web/src/systems/terminal/components/terminal-pane.tsx
Due: turbo-lint, format-go

fix: keep pending activity visible and repair CI synchronization
  .github/workflows/go-checkptr.yml
  docs/qa/reports/2026-09-07-ci-recovery.md
  docs/qa/scenarios/RT-054.md
  web/e2e/__tests__/dashboard.spec.ts
  web/src/components/assistant-ui/__tests__/session-thread.test.tsx
  web/src/components/assistant-ui/hooks/use-thinking-guard-elapsed.ts
Due: turbo-lint

fix: prevent stale terminal catalog reads from replacing live state
  docs/qa/reports/2026-09-07-ci-recovery.md
  docs/qa/scenarios/ET-terminal-stream-resilience.md
  web/src/systems/terminal/hooks/__tests__/use-terminal-catalog-stream.test.tsx
  web/src/systems/terminal/hooks/use-terminal-catalog-stream.ts
Due: turbo-lint

docs: prepare release notes since v0.3.0-beta.22
  .release-notes/archive/v0.3.0-beta.22/acp-runtime-catalogs-1788306269.md
  .release-notes/archive/v0.3.0-beta.22/child-loop-config-overrides-1788306270.md
  .release-notes/archive/v0.3.0-beta.22/desktop-app-status-liveness-1788306279.md
  .release-notes/archive/v0.3.0-beta.22/extension-loops-call-owned-tools-1788306274.md
  .release-notes/archive/v0.3.0-beta.22/externalized-loop-action-results-1788306271.md
  .release-notes/archive/v0.3.0-beta.22/forced-loop-cancel-replaces-kill-1788306268.md
  .release-notes/archive/v0.3.0-beta.22/loop-extension-tools-worktrees-1788306275.md
  .release-notes/archive/v0.3.0-beta.22/managed-session-prompts-1788306272.md
  .release-notes/archive/v0.3.0-beta.22/orchestrated-implementer-honored-1788306273.md
  .release-notes/archive/v0.3.0-beta.22/profile-scoped-extension-agent-skills-1788306276.md
  .release-notes/archive/v0.3.0-beta.22/session-cancel-clear-races-1788306278.md
  .release-notes/archive/v0.3.0-beta.22/sparse-fanout-roster-rows-1788306277.md
  .release-notes/carry-the-selected-profile-through-loop-compilation-and-worker-sessions-1788800660.md
  .release-notes/keep-sessions-alive-while-observable-work-is-still-running-1788800658.md
  .release-notes/keep-skipped-loop-branches-and-unresolved-review-findings-honest-1788800659.md
  .release-notes/keep-terminal-output-and-session-activity-visible-through-lifecycle-races-1788800661.md
  .release-notes/manage-follow-ups-without-losing-them-when-a-turn-is-interrupted-1788800658.md
  .release-notes/reconnect-and-read-long-sessions-with-a-truthful-live-view-1788800658.md
  .release-notes/recover-loop-runs-without-losing-results-or-reporting-an-old-failure-as-current-1788800659.md
  .release-notes/report-provider-failures-clearly-and-clear-stale-settings-when-switching-providers-1788800660.md
  .release-notes/run-the-linux-appimage-without-installing-libfuse2-1788800660.md
  .release-notes/search-the-full-conversation-and-jump-between-your-messages-1788800659.md
  .release-notes/spend-less-time-repeating-development-and-verification-work-1788800661.md
  .release-notes/steer-a-working-session-and-see-when-stop-has-actually-finished-1788800657.md
  .release-notes/terminals-stay-with-the-workspace-and-welcome-people-and-agents-1788800657.md
  .release-notes/upgrade-defaults-and-compatibility-for-session-control-1788800661.md
  .release-notes/zoom-a-window-without-covering-its-tiled-neighbors-1788800660.md
  docs/qa/reports/2026-09-07-ci-recovery.md
  docs/qa/scenarios/ET-terminal-stream-resilience.md
Due: none

perf: avoid rendering unchanged windows during layout updates
  .release-notes/zoom-a-window-without-covering-its-tiled-neighbors-1788800660.md
  docs/qa/reports/2026-09-07-ci-recovery.md
  docs/qa/scenarios/ET-web-window-routing-lifecycle.md
  web/src/systems/os/hooks/__tests__/window-manager-runtime.test.ts
  web/src/systems/os/runtime/window-manager-runtime-core.ts
Due: turbo-lint

build: prepare release v0.3.0 (#524)
  .release-notes/archive/v0.3.0/carry-the-selected-profile-through-loop-compilation-and-worker-sessions-1788800660.md
  .release-notes/archive/v0.3.0/keep-sessions-alive-while-observable-work-is-still-running-1788800658.md
  .release-notes/archive/v0.3.0/keep-skipped-loop-branches-and-unresolved-review-findings-honest-1788800659.md
  .release-notes/archive/v0.3.0/keep-terminal-output-and-session-activity-visible-through-lifecycle-races-1788800661.md
  .release-notes/archive/v0.3.0/manage-follow-ups-without-losing-them-when-a-turn-is-interrupted-1788800658.md
  .release-notes/archive/v0.3.0/reconnect-and-read-long-sessions-with-a-truthful-live-view-1788800658.md
  .release-notes/archive/v0.3.0/recover-loop-runs-without-losing-results-or-reporting-an-old-failure-as-current-1788800659.md
  .release-notes/archive/v0.3.0/report-provider-failures-clearly-and-clear-stale-settings-when-switching-providers-1788800660.md
  .release-notes/archive/v0.3.0/run-the-linux-appimage-without-installing-libfuse2-1788800660.md
  .release-notes/archive/v0.3.0/search-the-full-conversation-and-jump-between-your-messages-1788800659.md
  .release-notes/archive/v0.3.0/spend-less-time-repeating-development-and-verification-work-1788800661.md
  .release-notes/archive/v0.3.0/steer-a-working-session-and-see-when-stop-has-actually-finished-1788800657.md
  .release-notes/archive/v0.3.0/terminals-stay-with-the-workspace-and-welcome-people-and-agents-1788800657.md
  .release-notes/archive/v0.3.0/upgrade-defaults-and-compatibility-for-session-control-1788800661.md
  .release-notes/archive/v0.3.0/zoom-a-window-without-covering-its-tiled-neighbors-1788800660.md
  CHANGELOG.md
  RELEASE_BODY.md
  RELEASE_NOTES.md
  go.mod
  go.sum
  package.json
Due: none

desktop channel publish 0.3.0-beta.23
  desktop/generation.json
  desktop/latest-linux.yml
  desktop/latest-mac.yml
Due: none

fix: attribute ACP reasoning discovery to its own model only
  internal/modelcatalog/claude_model_rows.go
  internal/modelcatalog/live_sources_acp_options.go
  internal/modelcatalog/live_sources_test.go
  internal/modelcatalog/reasoning_merge.go
Due: format-go

fix: honor profile in operator tool catalog
  docs/qa/charters/CH-extension-command-authority.md
  docs/qa/reports/2026-09-04-profile-workspace-tool-isolation.md
  docs/qa/reports/2026-09-09-pr-551-profile-tool-isolation.md
  docs/qa/scenarios/ET-profile-workspace-tool-isolation.md
  internal/api/core/tools.go
  internal/api/core/tools_profile_scope.go
  internal/api/core/tools_test.go
  internal/api/core/toolsets.go
  internal/api/spec/registry_tools.go
  internal/api/spec/registry_toolsets.go
  internal/api/spec/spec_test.go
  internal/tools/approval_token.go
  internal/tools/approval_token_test.go
  openapi/compozy.json
  packages/site/content/docs/tools/index.mdx
  skills/compozy/references/tools-and-skills.md
  web/src/generated/compozy-openapi.d.ts
Due: turbo-lint, format-go

docs: clarify profile errors in tool contracts
  internal/api/spec/registry_tools.go
  internal/api/spec/registry_toolsets.go
  openapi/compozy.json
  web/src/generated/compozy-openapi.d.ts
Due: turbo-lint, format-go

fix: honor profile in operator tool catalog (#551)
  docs/qa/charters/CH-extension-command-authority.md
  docs/qa/reports/2026-09-04-profile-workspace-tool-isolation.md
  docs/qa/reports/2026-09-09-pr-551-profile-tool-isolation.md
  docs/qa/scenarios/ET-profile-workspace-tool-isolation.md
  internal/api/core/tools.go
  internal/api/core/tools_profile_scope.go
  internal/api/core/tools_test.go
  internal/api/core/toolsets.go
  internal/api/spec/registry_tools.go
  internal/api/spec/registry_toolsets.go
  internal/api/spec/spec_test.go
  internal/tools/approval_token.go
  internal/tools/approval_token_test.go
  openapi/compozy.json
  packages/site/content/docs/tools/index.mdx
  skills/compozy/references/tools-and-skills.md
  web/src/generated/compozy-openapi.d.ts
Due: turbo-lint, format-go

feat: add herdr bridge to community catalog
  catalog/artifacts/herdr-bridge-v0.3.3.tar.gz
  catalog/extensions.json
  catalog/packages/herdr-bridge/LICENSE
  catalog/packages/herdr-bridge/README.md
  catalog/packages/herdr-bridge/bridge.py
  catalog/packages/herdr-bridge/colorize.py
  catalog/packages/herdr-bridge/extension.toml
  catalog/packages/herdr-bridge/hook.sh
  catalog/packages/herdr-bridge/tail.py
Due: none

fix: protect bridge state and complete gate plans
  catalog/artifacts/herdr-bridge-v0.3.3.tar.gz
  catalog/extensions.json
  catalog/packages/herdr-bridge/README.md
  catalog/packages/herdr-bridge/bridge_loops.py
  catalog/packages/herdr-bridge/bridge_state.py
  catalog/packages/herdr-bridge/tests/test_bridge.py
  docs/qa/reports/2026-09-09-pr-560-herdr-bridge.md
  docs/qa/scenarios/ET-herdr-bridge-runtime.md
  scripts/gate.sh
  scripts/gate_integration_test.go
  scripts/gate_runtime.sh
Due: format-go

fix: recover bridge state and retain failed hooks
  catalog/artifacts/herdr-bridge-v0.3.3.tar.gz
  catalog/extensions.json
  catalog/packages/herdr-bridge/README.md
  catalog/packages/herdr-bridge/bridge.py
  catalog/packages/herdr-bridge/bridge_loops.py
  catalog/packages/herdr-bridge/bridge_state.py
  catalog/packages/herdr-bridge/colorize.py
  catalog/packages/herdr-bridge/tail.py
  catalog/packages/herdr-bridge/tests/test_bridge.py
  docs/qa/reports/2026-09-09-pr-560-herdr-bridge.md
  docs/qa/scenarios/ET-herdr-bridge-runtime.md
Due: none

fix: harden catalog herdr bridge and verification
  .github/workflows/catalog.yml
  catalog/artifacts/herdr-bridge-v0.3.3.tar.gz
  catalog/extensions.json
  catalog/packages/herdr-bridge/README.md
  catalog/packages/herdr-bridge/bridge.py
  catalog/packages/herdr-bridge/bridge_loops.py
  catalog/packages/herdr-bridge/bridge_state.py
  catalog/packages/herdr-bridge/colorize.py
  catalog/packages/herdr-bridge/extension.toml
  catalog/packages/herdr-bridge/hook.sh
  catalog/packages/herdr-bridge/tail.py
  catalog/packages/herdr-bridge/tests/test_bridge.py
  docs/qa/charters/CH-herdr-bridge-runtime.md
  docs/qa/reports/2026-09-09-pr-560-herdr-bridge.md
  docs/qa/scenarios/ET-herdr-bridge-runtime.md
  scripts/gate.sh
  scripts/gate_integration_test.go
Due: format-go

fix: report bridge renderer event failures
  catalog/artifacts/herdr-bridge-v0.3.3.tar.gz
  catalog/extensions.json
  catalog/packages/herdr-bridge/colorize.py
  catalog/packages/herdr-bridge/tests/test_bridge.py
  docs/qa/reports/2026-09-09-pr-560-herdr-bridge.md
  docs/qa/scenarios/ET-herdr-bridge-runtime.md
Due: none

fix: tolerate unmatched terms in memory recall
  docs/qa/scenarios/MS-006.md
  internal/daemon/daemon_memory_e2e_integration_test.go
  internal/daemon/native_tool_workspace_memory_calls.go
  internal/daemon/native_tools_test.go
  internal/memory/catalog_document.go
  internal/memory/recall/recall_packaging.go
  internal/memory/recall_test.go
  packages/site/content/docs/memory/system.mdx
  skills/compozy/references/memory.md
Due: format-go

feat: add herdr bridge to community catalog (#560)
  .github/workflows/catalog.yml
  catalog/artifacts/herdr-bridge-v0.3.3.tar.gz
  catalog/extensions.json
  catalog/packages/herdr-bridge/LICENSE
  catalog/packages/herdr-bridge/README.md
  catalog/packages/herdr-bridge/bridge.py
  catalog/packages/herdr-bridge/bridge_loops.py
  catalog/packages/herdr-bridge/bridge_state.py
  catalog/packages/herdr-bridge/colorize.py
  catalog/packages/herdr-bridge/extension.toml
  catalog/packages/herdr-bridge/hook.sh
  catalog/packages/herdr-bridge/tail.py
  catalog/packages/herdr-bridge/tests/test_bridge.py
  docs/qa/charters/CH-herdr-bridge-runtime.md
  docs/qa/reports/2026-09-09-pr-560-herdr-bridge.md
  docs/qa/scenarios/ET-herdr-bridge-runtime.md
  scripts/gate.sh
  scripts/gate_integration_test.go
  scripts/gate_runtime.sh
Due: format-go

fix: scope startup tool guidance to session roles
  docs/qa/reports/2026-09-09-scoped-tool-prompts.md
  docs/qa/scenarios/ET-049.md
  internal/daemon/checkpoint_summary_summarizer.go
  internal/daemon/checkpoint_summary_summarizer_test.go
  internal/daemon/composed_assembler_test.go
  internal/daemon/daemon_test.go
  internal/daemon/harness_context.go
  internal/daemon/harness_context_integration_test.go
  internal/daemon/harness_context_policy.go
  internal/daemon/harness_context_session.go
  internal/daemon/native_tools_test.go
  internal/daemon/prompt_sections.go
  internal/session/manager_start.go
  internal/session/prompt_overlay.go
  internal/session/resume_replay.go
  internal/session/spawn.go
  packages/site/content/docs/skills/bundled.mdx
  skills/compozy/SKILL.md
Due: format-go

Path conditions:
  turbo-lint: any of: \.(js|jsx|ts|tsx)$, but not: (?x)^(
  CHANGELOG.md|
  tools/.*/package\.json|
  bun.lockb|
  node_modules|
)$

  format-go: any of: \.go$, but not: (?x)^(
  CHANGELOG.md|
  tools/.*/package\.json|
  bun.lockb|
  node_modules|
)$

