Repository compozy/compozy: changes, and which pre-commit hooks are due for each by the changed paths.
All: turbo-lint, format-go

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit

default_stages:
  - pre-commit

exclude: |
  (?x)^(
    CHANGELOG.md|
    tools/.*/package\.json|
    bun.lockb|
    node_modules|
  )$

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      # - id: trailing-whitespace
      #   args:
      #     - --no-utf8-locale
      - id: end-of-file-fixer
        exclude: '^(CHANGELOG\.md|tools/.*/package\.json|bun\.lockb|node_modules/)'
      - id: check-json
        exclude: '^(tools/.*/package\.json|node_modules/)'
      - id: check-toml
      - id: check-added-large-files
        args:
          - --maxkb=3000
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: detect-private-key
  - repo: local
    hooks:
      - id: turbo-lint
        name: turbo lint
        description: Run linting via Turborepo
        entry: bun run lint
        language: system
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false
      # - id: turbo-type-check
      #   name: turbo type check
      #   description: Run TypeScript checking via Turborepo
      #   entry: bun run type-check
      #   language: system
      #   files: \.(ts|tsx)$
      #   pass_filenames: false
      - id: format-go
        name: format go
        description: Format Go files using make fmt
        entry: make fmt
        language: system
        files: \.go$
        pass_filenames: false
  - repo: https://github.com/lyz-code/yamlfix/
    rev: 1.17.0
    hooks:
      - id: yamlfix
        args:
          - -c
          - .yamlfix.toml
        exclude: ^cluster/.*$

test: consolidate session lifecycle coverage
  internal/session/additional_test.go
  internal/session/badge_test.go
  internal/session/log_capture_test.go
  internal/session/manager_integration_test.go
  internal/session/manager_prompt_contract_test.go
  internal/session/manager_resume_test.go
  internal/session/manager_stop_integration_test.go
  internal/session/manager_test.go
  internal/session/provider_lifecycle_integration_test.go
  internal/session/provider_lifecycle_test.go
  internal/session/query_test.go
  internal/session/session_wait_test.go
  internal/session/soul_test.go
Due: format-go

test: remove task fake self-tests and consolidate database fixtures
  internal/task/interfaces_integration_test.go
  internal/task/manager_integration_test.go
  internal/task/manager_test.go
Due: format-go

test: remove duplicate daemon cases and share expensive fixtures
  internal/daemon/clarify_bridge_test.go
  internal/daemon/clarify_keepalive_test.go
  internal/daemon/composed_assembler_test.go
  internal/daemon/coordinator_runtime_integration_test.go
  internal/daemon/daemon_integration_test.go
  internal/daemon/daemon_test.go
  internal/daemon/extension_commands_integration_test.go
  internal/daemon/extension_secrets_test.go
  internal/daemon/harness_context_test.go
  internal/daemon/hook_binding_resources_integration_test.go
  internal/daemon/hook_binding_resources_test.go
  internal/daemon/loop_api_runs_test.go
  internal/daemon/loop_goal_executor_test.go
  internal/daemon/loop_resources_test.go
  internal/daemon/loop_runtime_adapters_test.go
  internal/daemon/loop_runtime_selection_integration_test.go
  internal/daemon/native_automation_tools_integration_test.go
  internal/daemon/native_extension_tools_test.go
  internal/daemon/native_tools_test.go
  internal/daemon/restart_integration_test.go
  internal/daemon/restart_test.go
  internal/daemon/review_router_test.go
  internal/daemon/scheduler_runtime_test.go
  internal/daemon/settings_runtime_applier_test.go
  internal/daemon/settings_test.go
  internal/daemon/spawn_reaper_test.go
  internal/daemon/task_run_activation_dispatch_test.go
  internal/daemon/task_runtime_boot_roles_test.go
  internal/daemon/task_runtime_test.go
  internal/daemon/task_status_projection_observer_test.go
  internal/daemon/terminal_window_bridge_test.go
  internal/daemon/tool_mcp_resources_test.go
  internal/daemon/tools_transport_parity_test.go
  internal/daemon/window_manager_repository_test.go
Due: format-go

test: merge sibling work journeys and lower presentation checks
  docs/qa/scenarios/LP-web-request-answer-card.md
  docs/qa/scenarios/TA-scheduled-session-restart-recovery.md
  web/e2e/__tests__/automation.spec.ts
  web/e2e/__tests__/jobs-hardening.spec.ts
  web/e2e/__tests__/loop-run.spec.ts
  web/e2e/__tests__/loops-graph-eng.spec.ts
  web/e2e/__tests__/loops.spec.ts
  web/e2e/__tests__/tasks-coordinator-handoff.spec.ts
  web/e2e/__tests__/tasks-hardening.spec.ts
  web/e2e/__tests__/tasks.spec.ts
  web/e2e/__tests__/terminal.spec.ts
  web/e2e/__tests__/triggers-hardening.spec.ts
  web/e2e/__tests__/worktrees.spec.ts
  web/src/systems/loops/components/__tests__/loop-run-page.test.tsx
Due: turbo-lint

test: parallelize independent codegen and MCP checks
  cmd/compozy-codegen/main_test.go
  cmd/compozy-codegen/terminal_wire_test.go
  internal/mcp/executor_test.go
Due: format-go

test: reduce extension suite setup and scheduling costs
  extensions/spec-cycle/embed_test.go
  internal/extension/host_api_test.go
  internal/extension/marketplace_lifecycle_test.go
  internal/extension/model_source_test.go
  internal/extension/registry_test.go
  internal/extension/tool_provider_test.go
  internal/marketplace/service_test.go
  internal/marketplace/store_test.go
Due: format-go

test: reduce API fixture setup and overlap independent waits
  internal/api/core/authored_context_test.go
  internal/api/core/memory_services_test.go
  internal/api/core/memory_workspace_test.go
  internal/api/httpapi/extension_logs_sse_test.go
  internal/api/httpapi/handlers_error_test.go
  internal/api/httpapi/handlers_test.go
  internal/api/httpapi/memory_test.go
  internal/api/httpapi/server_test.go
  internal/api/httpapi/stream_helpers_test.go
  internal/api/udsapi/resources_test.go
  internal/api/udsapi/stream_helpers_test.go
Due: format-go

test: reuse closed database seeds across browser runtimes
  internal/testutil/e2e/runtime_harness_integration_test.go
  web/e2e/fixtures/__tests__/runtime-seed.test.ts
  web/e2e/fixtures/runtime-database-seeder/main.go
  web/e2e/fixtures/runtime-database.ts
  web/e2e/fixtures/runtime.ts
Due: turbo-lint, format-go

test: reuse runtime lane binary and consolidate SSH gateway journey
  internal/cli/gateway_ssh_e2e_integration_test.go
Due: format-go

test: virtualize deadline waits and share acpmock build
  internal/session/manager_lifecycle_contract_test.go
  internal/session/manager_prompt_contract_test.go
  internal/subprocess/process_shutdown_test.go
  internal/testutil/acpmock/driver_test.go
  internal/testutil/acpmock/fixture_test.go
Due: format-go

test: reduce platform unit test setup and scheduling time
  internal/config/automation_test.go
  internal/config/release_config_test.go
  internal/diagnostics/item_constructor_test.go
  internal/logger/logger_test.go
  internal/memory/catalog_migration_test.go
  internal/memory/store_test.go
  internal/modelcatalog/hardcut_residue_test.go
  internal/observe/helpers_test.go
  internal/observe/observer_test.go
  internal/resources/kernel_test.go
  internal/resources/reconcile_test.go
  internal/settings/config_apply_service_test.go
  internal/settings/mcp_runtime_status_test.go
  internal/settings/service_test.go
Due: format-go

test: shorten daemon e2e critical paths
  internal/daemon/daemon_attention_e2e_integration_test.go
  internal/daemon/daemon_extension_distribution_e2e_integration_test.go
  internal/daemon/daemon_extension_profile_setup_e2e_integration_test.go
Due: format-go

test: reduce loop fixture cost and reuse automation schema seeds
  internal/automation/dispatch_test.go
  internal/automation/manager_test.go
  internal/loop/coordinator_lifecycle_test.go
Due: format-go

test: reduce UI and lint suite wall time
  lint-plugins/__tests__/compozy-design-system.test.mjs
  lint-plugins/__tests__/data-boundaries.test.mjs
  packages/site/lib/__tests__/runtime-manual-api-routes.test.ts
  packages/ui/src/components/__tests__/combobox.test.tsx
  packages/ui/src/components/__tests__/command.test.tsx
  packages/ui/src/components/__tests__/confirm-dialog.test.tsx
  packages/ui/src/components/__tests__/popover.test.tsx
  packages/ui/src/components/custom/__tests__/help-tip.test.tsx
Due: turbo-lint

test: move graph story journeys to component and route suites
  docs/qa/scenarios/LP-web-bell-loop-requests.md
  docs/qa/scenarios/LP-web-editor-route-ask.md
  docs/qa/scenarios/LP-web-request-answer-card.md
  web/e2e/__tests__/loops-graph-eng.spec.ts
  web/src/systems/loops/components/__tests__/loop-editor.test.tsx
  web/src/systems/loops/components/__tests__/loop-run-page.test.tsx
  web/src/systems/loops/routes/__tests__/loop-runs.test.tsx
Due: turbo-lint

test: consolidate store invariants and remove fixture-only coverage
  internal/store/globaldb/global_db_app_metadata_test.go
  internal/store/globaldb/global_db_loop_schema_integration_test.go
  internal/store/globaldb/global_db_loop_test.go
  internal/store/globaldb/global_db_model_catalog_test.go
  internal/store/globaldb/global_db_notification_cursor_test.go
  internal/store/globaldb/global_db_session_input_queue_test.go
  internal/store/globaldb/global_db_session_test.go
  internal/store/globaldb/global_db_task_claim_test.go
  internal/store/globaldb/global_db_task_events_index_test.go
  internal/store/globaldb/global_db_task_graph_audit_integration_test.go
  internal/store/globaldb/global_db_task_integration_test.go
  internal/store/globaldb/global_db_task_test.go
  internal/store/globaldb/global_db_test.go
  internal/store/migrate_streams_test.go
  internal/store/sessiondb/hook_runs_test.go
  internal/store/sessiondb/session_db_test.go
  internal/store/store_helpers_test.go
Due: format-go

test: reduce measured web test waits and repeated renders
  web/src/components/assistant-ui/__tests__/session-thread.test.tsx
  web/src/systems/os/hooks/__tests__/use-os-palette-root.test.tsx
  web/src/systems/runtime/components/runtime-selector/__tests__/runtime-selector.test.tsx
  web/src/systems/session/components/__tests__/session-chat-runtime-provider.test.tsx
  web/src/systems/session/components/__tests__/session-inspector.test.tsx
  web/src/systems/session/hooks/__tests__/use-sessions.test.tsx
  web/src/systems/status/hooks/__tests__/use-daemon-health.test.ts
Due: turbo-lint

test: reduce web domain test waits and repeated renders
  web/src/systems/automation/components/__tests__/automation-detail-panel.test.tsx
  web/src/systems/knowledge/components/__tests__/knowledge-create-dialog.test.tsx
  web/src/systems/loops/components/__tests__/loop-editor.test.tsx
  web/src/systems/loops/components/__tests__/loop-run-form.test.tsx
  web/src/systems/marketplace/components/__tests__/marketplace-components.test.tsx
  web/src/systems/marketplace/components/__tests__/marketplace-detail-manage.test.tsx
  web/src/systems/profiles/components/__tests__/profile-switcher.test.tsx
  web/src/systems/settings/components/__tests__/provider-detail-dialog.test.tsx
  web/src/systems/settings/components/__tests__/settings-skill-custom-sources.test.tsx
  web/src/systems/settings/components/__tests__/window-manager-shortcut-table.test.tsx
  web/src/systems/tasks/components/__tests__/task-editor-modal.test.tsx
Due: turbo-lint

test: reduce daemon unit fixture and cancellation overhead
  internal/daemon/daemon_test.go
  internal/daemon/extensions_inventory_test.go
  internal/daemon/extensions_test.go
  internal/daemon/native_tools_test.go
  internal/daemon/settings_test.go
  internal/daemon/task_runtime_test.go
Due: format-go

test: restore graph-eng fixture import for moved loop story cases
  web/src/systems/loops/components/__tests__/loop-run-page.test.tsx
Due: turbo-lint

test: consolidate populated migration hotspot replays
  internal/store/globaldb/global_db_automation_test.go
  internal/store/globaldb/global_db_session_input_queue_test.go
Due: format-go

test: restore combobox chip precondition and keep desktop soak receipts
  .github/workflows/release.yml
  packages/ui/src/components/__tests__/combobox.test.tsx
Due: turbo-lint

test: fix lint fallout from the test-pyramid consolidation
  internal/api/core/automation_test.go
  internal/api/core/handlers_test.go
  internal/api/core/settings_test.go
  internal/api/ginutil/quiet_debug_test.go
  internal/api/spec/spec_test.go
  internal/api/udsapi/extensions.go
  internal/api/udsapi/server_test.go
  internal/api/udsapi/shared_test.go
  internal/api/udsapi/udsapi_integration_test.go
  internal/cli/daemon_wait_test.go
  internal/cli/render_test.go
  internal/codegen/openapits/generate_test.go
  internal/daemon/daemon_extension_kit_e2e_helpers_test.go
  internal/daemon/daemon_test.go
  internal/daemon/native_tools_test.go
  internal/daemon/settings_test.go
  internal/extension/host_api_test.go
  internal/extension/install_managed_test.go
  internal/extension/reference_support_test.go
  internal/memory/store_test.go
  internal/session/manager_prompt_contract_test.go
  internal/settings/config_apply_service_test.go
  internal/store/globaldb/global_db_automation_test.go
  internal/store/globaldb/global_db_session_input_queue_test.go
  internal/subprocess/process_test.go
  internal/testutil/acpmock/fixture_test.go
  magefiles/magefile_test.go
Due: format-go

test: count the desktop nightly job in the release trigger inventory
  internal/config/release_config_test.go
Due: format-go

test: build the SSH gateway remote binary with the local version
  internal/cli/gateway_ssh_e2e_integration_test.go
Due: format-go

test: reopen agent fleet before repeated skill picker checks
  web/e2e/__tests__/skill-sources.spec.ts
Due: turbo-lint

test: fix state carried across merged browser journeys
  web/e2e/__tests__/os-shell.spec.ts
  web/e2e/__tests__/session-derive.spec.ts
Due: turbo-lint

test: await route hydration in merged work journeys
  web/e2e/__tests__/automation.spec.ts
  web/e2e/__tests__/loops.spec.ts
  web/e2e/__tests__/tasks-coordinator-handoff.spec.ts
  web/e2e/__tests__/tasks.spec.ts
  web/e2e/__tests__/worktrees.spec.ts
Due: turbo-lint

test: finalize merged journey artifacts after all phases
  web/e2e/__tests__/jobs-hardening.spec.ts
  web/e2e/__tests__/tasks-hardening.spec.ts
  web/e2e/__tests__/triggers-hardening.spec.ts
  web/src/systems/loops/routes/__tests__/loop-runs.test.tsx
Due: turbo-lint

test: prebuild the browser database seeder before workers
  magefiles/defaults.go
  magefiles/e2e.go
  web/e2e/fixtures/__tests__/runtime-seed.test.ts
  web/e2e/fixtures/runtime-database.ts
Due: turbo-lint, format-go

build: share optional E2E lane binary resolution
  magefiles/e2e.go
Due: format-go

docs: quote moved-owner evidence in loop QA scenarios
  docs/qa/scenarios/LP-web-bell-loop-requests.md
  docs/qa/scenarios/LP-web-editor-route-ask.md
Due: none

feat: show nested child runs and a distinct awaiting-child state
  docs/qa/reports/2026-10-07-issue-705-nested-child-runs.md
  docs/qa/scenarios/LP-web-run-nested-child-runs.md
  packages/ui/src/components/custom/__tests__/state-glyph.test.tsx
  packages/ui/src/components/custom/state-glyph.tsx
  packages/ui/src/components/custom/stories/state-glyph.stories.tsx
  web/src/components/__tests__/design-system-showcase.test.tsx
  web/src/components/design-system-showcase-controls.tsx
  web/src/systems/loops/components/__tests__/loop-run-page.test.tsx
  web/src/systems/loops/components/run-page/loop-run-child-runs.tsx
  web/src/systems/loops/components/run-page/loop-run-page-body.tsx
  web/src/systems/loops/components/run-page/loop-run-step-row.tsx
  web/src/systems/loops/components/run-page/loop-run-steps-progress.tsx
  web/src/systems/loops/components/stories/loop-run-nested-fixtures.ts
  web/src/systems/loops/components/stories/loop-run-page.stories.tsx
  web/src/systems/loops/hooks/use-loop-child-run.ts
  web/src/systems/loops/lib/__tests__/loop-run-child-runs.test.ts
  web/src/systems/loops/lib/__tests__/loop-run-dag-view.test.ts
  web/src/systems/loops/lib/loop-run-child-runs.ts
  web/src/systems/loops/lib/loop-run-fanout-band.ts
  web/src/systems/loops/lib/loop-run-progress.ts
  web/src/systems/loops/lib/loop-run-state-copy.ts
Due: turbo-lint

feat: read nested child runs from the graph, the panel and Progress
  docs/qa/reports/2026-10-07-issue-705-nested-child-runs.md
  docs/qa/scenarios/LP-web-run-nested-child-runs.md
  web/src/systems/loops/components/__tests__/loop-run-page.test.tsx
  web/src/systems/loops/components/run-page/inspect/loop-dag-child-line.tsx
  web/src/systems/loops/components/run-page/inspect/loop-node-panel.tsx
  web/src/systems/loops/components/run-page/inspect/loop-run-dag.tsx
  web/src/systems/loops/components/run-page/loop-run-child-runs.tsx
  web/src/systems/loops/components/run-page/loop-run-page-body.tsx
  web/src/systems/loops/components/run-page/loop-run-step-row.tsx
  web/src/systems/loops/components/run-page/loop-run-steps-progress.tsx
  web/src/systems/loops/components/stories/loop-run-nested-fixtures.ts
  web/src/systems/loops/components/stories/loop-run-page.stories.tsx
  web/src/systems/loops/hooks/use-loop-child-run.ts
  web/src/systems/loops/hooks/use-loop-run-child-read.ts
  web/src/systems/loops/lib/__tests__/loop-run-child-inputs.test.ts
  web/src/systems/loops/lib/__tests__/loop-run-child-runs.test.ts
  web/src/systems/loops/lib/loop-run-child-inputs.ts
  web/src/systems/loops/lib/loop-run-child-runs.ts
  web/src/systems/loops/lib/loop-run-dag-view.ts
Due: turbo-lint

fix: read a child's current round, surface its read failures, keep its clock
  web/src/systems/loops/components/__tests__/loop-run-page.test.tsx
  web/src/systems/loops/components/run-page/inspect/loop-dag-child-line.tsx
  web/src/systems/loops/components/run-page/loop-run-child-runs.tsx
  web/src/systems/loops/components/run-page/loop-run-page-body.tsx
  web/src/systems/loops/components/stories/loop-run-nested-fixtures.ts
  web/src/systems/loops/hooks/use-loop-child-run.ts
  web/src/systems/loops/hooks/use-loop-run-child-read.ts
  web/src/systems/loops/lib/__tests__/loop-run-child-inputs.test.ts
  web/src/systems/loops/lib/__tests__/loop-run-child-runs.test.ts
  web/src/systems/loops/lib/loop-run-child-inputs.ts
  web/src/systems/loops/lib/loop-run-child-runs.ts
Due: turbo-lint

fix: stop paging a child's round after a page fails
  web/src/systems/loops/components/__tests__/loop-run-page.test.tsx
  web/src/systems/loops/hooks/use-loop-child-run.ts
Due: turbo-lint

test: assert a detached child's clock by threshold, not by exact seconds
  web/src/systems/loops/components/__tests__/loop-run-page.test.tsx
Due: turbo-lint

feat: show nested child runs and a distinct awaiting-child state (#708)
  docs/qa/reports/2026-10-07-issue-705-nested-child-runs.md
  docs/qa/scenarios/LP-web-run-nested-child-runs.md
  packages/ui/src/components/custom/__tests__/state-glyph.test.tsx
  packages/ui/src/components/custom/state-glyph.tsx
  packages/ui/src/components/custom/stories/state-glyph.stories.tsx
  web/src/components/__tests__/design-system-showcase.test.tsx
  web/src/components/design-system-showcase-controls.tsx
  web/src/systems/loops/components/__tests__/loop-run-page.test.tsx
  web/src/systems/loops/components/run-page/inspect/loop-dag-child-line.tsx
  web/src/systems/loops/components/run-page/inspect/loop-node-panel.tsx
  web/src/systems/loops/components/run-page/inspect/loop-run-dag.tsx
  web/src/systems/loops/components/run-page/loop-run-child-runs.tsx
  web/src/systems/loops/components/run-page/loop-run-page-body.tsx
  web/src/systems/loops/components/run-page/loop-run-step-row.tsx
  web/src/systems/loops/components/stories/loop-run-nested-fixtures.ts
  web/src/systems/loops/components/stories/loop-run-page.stories.tsx
  web/src/systems/loops/hooks/use-loop-child-run.ts
  web/src/systems/loops/hooks/use-loop-run-child-read.ts
  web/src/systems/loops/lib/__tests__/loop-run-child-inputs.test.ts
  web/src/systems/loops/lib/__tests__/loop-run-child-runs.test.ts
  web/src/systems/loops/lib/__tests__/loop-run-dag-view.test.ts
  web/src/systems/loops/lib/loop-run-child-inputs.ts
  web/src/systems/loops/lib/loop-run-child-runs.ts
  web/src/systems/loops/lib/loop-run-dag-view.ts
  web/src/systems/loops/lib/loop-run-fanout-band.ts
  web/src/systems/loops/lib/loop-run-progress.ts
  web/src/systems/loops/lib/loop-run-state-copy.ts
Due: turbo-lint

feat: observe native ACP compaction
  go.mod
  internal/acp/agent_event.go
  internal/acp/agent_process.go
  internal/acp/agent_process_prompt.go
  internal/acp/client_prompt.go
  internal/acp/client_prompt_contract_test.go
  internal/acp/compaction.go
  internal/acp/handlers_session_discriminator.go
  internal/acp/handlers_session_state.go
  internal/acp/handlers_test.go
  internal/acp/start_process.go
  internal/acp/testdata/claude-compaction.json
  internal/acp/testdata/codex-compaction.json
  internal/acp/testdata/compaction-provenance.md
  internal/acp/testdata/legacy-compaction-tool.json
  internal/acp/types.go
  internal/transcript/canonical_payload.go
  internal/transcript/redaction.go
  internal/transcript/transcript_security_markers_test.go
Due: format-go
