Repository compozy/compozy: changes, and which pre-commit hooks are due for each by the changed paths.
All: turbo-lint, format-go

turbo-lint:
  name: turbo lint
  description: Run linting via Turborepo
  entry: bun run lint
  language: system
  pass_filenames: false

format-go:
  name: format go
  description: Format Go files using make fmt
  entry: make fmt
  language: system
  pass_filenames: false

fix: review round
  internal/daemon/tool_approval_grants_integration_test.go
  packages/ui/src/components/custom/choice.tsx
  packages/ui/src/components/custom/marker.tsx
  packages/ui/src/index.ts
  web/src/components/assistant-ui/session-composer-queued-prompts.tsx
  web/src/systems/runtime/components/runtime-selector/__tests__/runtime-selector.test.tsx
  web/src/systems/runtime/components/runtime-selector/model-list.tsx
  web/src/systems/session/components/__tests__/session-resume-failure.test.tsx
  web/src/systems/session/components/goal/session-goal-strip.tsx
  web/src/systems/session/components/permission-dock.tsx
  web/src/systems/session/components/tool-renderers/detail-pre.tsx
  web/src/systems/session/components/tool-result-artifact.tsx
Due: turbo-lint, format-go

fix: review round
  internal/config/release_config_test.go
  packages/site/app/(home)/page.tsx
  packages/site/components/blog/__tests__/blog-navigation.test.tsx
  packages/site/lib/__tests__/public-search-index.test.ts
  packages/site/lib/public-search-index.ts
Due: turbo-lint, format-go

refactor: export SqliteFilePath and reuse in sessiondb/read_only
  internal/store/sessiondb/read_only.go
  internal/store/sqlite_config.go
Due: format-go

fix: restore Windows daemon support (PR #163 regression + new fixes) (#274)
  internal/daemon/info.go
  internal/daemon/lock.go
  internal/daemon/lock_pid_other.go
  internal/daemon/lock_pid_windows.go
  internal/daemon/sync_dir_unix.go
  internal/daemon/sync_dir_windows.go
  internal/procutil/detached_windows.go
  internal/procutil/process_started_at_windows.go
  internal/store/sessiondb/read_only.go
  internal/store/sqlite_config.go
Due: format-go

feat: Workspace-access policy core, mode source, session consent cache,…
  internal/daemon/boot.go
  internal/daemon/boot_hook_observers.go
  internal/daemon/boot_memory_session.go
  internal/daemon/boot_workspace_access.go
  internal/daemon/runtime_dependencies.go
  internal/daemon/runtime_deps.go
  internal/daemon/workspace_access_audit.go
  internal/daemon/workspace_access_consent.go
  internal/daemon/workspace_access_integration_test.go
  internal/daemon/workspace_access_mode_source.go
  internal/daemon/workspace_access_test.go
  internal/events/components.go
  internal/events/registry_mcp_auth.go
  internal/events/registry_test.go
  internal/events/registry_workspace_access.go
  internal/session/manager_permissions_test.go
  internal/session/query_metadata.go
  internal/session/session.go
  internal/session/session_info.go
  internal/workspaceaccess/audit.go
  internal/workspaceaccess/default_policy.go
  internal/workspaceaccess/default_policy_test.go
  internal/workspaceaccess/policy.go
  magefiles/boundaries.go
Due: format-go

feat: Session owner projection endpoint (phase 0 backend) #03
  internal/api/contract/session_owner.go
  internal/api/core/handlers_test.go
  internal/api/core/session_owner.go
  internal/api/core/test_helpers_test.go
  internal/api/httpapi/handlers_test.go
  internal/api/httpapi/session_routes.go
  internal/api/spec/registry_sessions.go
  internal/api/udsapi/handlers_test.go
  internal/api/udsapi/session_routes.go
  internal/api/udsapi/transport_parity_integration_test.go
  openapi/compozy.json
  web/src/generated/compozy-openapi.d.ts
Due: turbo-lint, format-go

feat: confirm cross-workspace session deep links
  web/e2e/__tests__/os-shell.spec.ts
  web/e2e/fixtures/selectors.ts
  web/src/routeTree.gen.ts
  web/src/routes/_app/-agent-session-route-loader.ts
  web/src/routes/_app/-session-permalink-route.ts
  web/src/routes/_app/-session-workspace-switch.ts
  web/src/routes/_app/__tests__/-agent-session-deeplink.router.integration.test.tsx
  web/src/routes/_app/__tests__/-route-preloading.integration.test.tsx
  web/src/routes/_app/agents.$name.index.tsx
  web/src/routes/_app/agents.$name.sessions.$id.tsx
  web/src/routes/_app/agents.$name.tsx
  web/src/routes/_app/agents.index.tsx
  web/src/routes/_app/agents.tsx
  web/src/routes/_app/session.$id.tsx
  web/src/storybook/route-story-registry.ts
  web/src/systems/os/components/index.ts
  web/src/systems/os/components/os-route-hold.tsx
  web/src/systems/os/index.ts
  web/src/systems/os/lib/__tests__/routing-coordinator.test.ts
  web/src/systems/os/lib/routing-coordinator.ts
  web/src/systems/session/adapters/session-owner-api.ts
  web/src/systems/session/components/session-workspace-switch-dialog.tsx
  web/src/systems/session/index.ts
  web/src/systems/session/lib/__tests__/session-deeplink-search.test.ts
  web/src/systems/session/lib/session-deeplink-search.ts
  web/src/systems/session/lib/session-owner-query.ts
  web/src/systems/session/mocks/handlers.ts
  web/src/systems/session/routes/session-permalink.stories.tsx
  web/src/systems/session/types.ts
Due: turbo-lint

fix: preserve agent identity in coordination CLI
  internal/cli/client_network_coordination.go
  internal/cli/helpers_test.go
  internal/cli/network_client_test.go
  internal/cli/network_coordination_cmd.go
  internal/cli/network_coordination_output.go
  internal/cli/network_public_surfaces_test.go
Due: format-go

docs: record cross-workspace access QA
  docs/qa/bugs/BUG-0028.md
  docs/qa/bugs/BUG-20260719-autonomous-progress-unobservable.md
  docs/qa/bugs/BUG-20260729-coordination-cli-drops-agent-identity.md
  docs/qa/bugs/BUG-20260729-nearest-workspace-case-alias.md
  docs/qa/reports/2026-07-29-cross-workspace-access.md
  docs/qa/scenarios/ET-native-workspace-scope-isolation.md
  docs/qa/scenarios/ET-web-session-cross-workspace-confirm.md
  docs/qa/scenarios/ET-web-session-deep-link-isolation.md
  docs/qa/scenarios/ET-workspace-access-mode-matrix.md
  docs/qa/scenarios/ET-workspace-access-prompt-outcomes.md
  docs/qa/scenarios/MS-workspace-resolution-chain.md
  docs/qa/scenarios/RT-073.md
Due: none

fix: remediate cross-workspace access review
  docs/qa/scenarios/ET-native-workspace-scope-isolation.md
  docs/qa/scenarios/ET-workspace-access-mode-matrix.md
  internal/api/core/agent_definition_resolution.go
  internal/api/core/handlers_agents.go
  internal/api/core/handlers_test.go
  internal/api/core/network_coordination_public_test.go
  internal/api/core/network_workspace_access.go
  internal/api/httpapi/agent_context_test.go
  internal/api/httpapi/routes.go
  internal/api/udsapi/agent_identity_test.go
  internal/api/udsapi/routes.go
  internal/api/udsapi/transport_parity_integration_test.go
  internal/cli/client_network.go
  internal/cli/client_network_coordination.go
  internal/cli/client_network_credentials.go
  internal/cli/network.go
  internal/cli/network_client_test.go
  internal/cli/session_test.go
  internal/daemon/boot_tool_registry.go
  internal/daemon/boot_workspace_access.go
  internal/daemon/daemon_mock_agents_integration_test.go
  internal/daemon/native_tools_test.go
  internal/daemon/native_workspace_input_binder.go
  internal/daemon/tool_approval_bridge_test.go
  internal/daemon/workspace_access_integration_test.go
  internal/session/spawn.go
  internal/session/spawn_test.go
  internal/task/manager_integration_test.go
  internal/task/manager_test.go
  internal/task/task_resource_authorizer.go
  internal/tools/dispatch_test.go
  internal/tools/dispatch_workspace_access.go
  internal/tools/registry.go
  internal/workspace/coordination_commands.go
  internal/workspace/coordination_commands_test.go
  internal/workspaceaccess/default_policy.go
  internal/workspaceaccess/default_policy_test.go
Due: format-go

fix: close cross-workspace access review
  docs/qa/reports/2026-07-29-cross-workspace-access.md
  docs/qa/scenarios/TA-053.md
  internal/api/core/network_coordination_public_test.go
  internal/api/httpapi/agent_context_test.go
  internal/automation/dispatch_retry.go
  internal/automation/dispatch_test.go
  internal/cli/client_network.go
  internal/cli/client_network_credentials.go
  internal/cli/network.go
  internal/cli/network_test.go
  internal/daemon/boot_tool_registry.go
  internal/daemon/boot_tool_registry_providers.go
  internal/daemon/daemon_mock_agents_integration_test.go
  internal/daemon/daemon_test.go
  internal/daemon/native_automation_tools_test.go
  internal/daemon/native_tools_test.go
  internal/daemon/native_workspace_input_binder.go
  internal/daemon/prompt_sections.go
  internal/daemon/tool_approval_bridge_test.go
  internal/extension/host_api_integration_test.go
  internal/extension/host_api_test.go
  internal/extension/manager_integration_test.go
  internal/session/spawn_test.go
  internal/task/actors.go
  internal/task/manager_test.go
  internal/tools/dispatch_test.go
  internal/workspace/coordination_commands_test.go
  internal/workspaceaccess/default_policy.go
  internal/workspaceaccess/default_policy_contracts.go
  internal/workspaceaccess/default_policy_test.go
  internal/workspaceaccess/default_policy_validation.go
Due: format-go

fix: resolve nearest workspace across path aliases
  internal/workspace/discovery.go
  internal/workspace/resolver_test.go
Due: format-go

docs: plan cross-workspace access QA
  docs/qa/charters/CH-cross-workspace-consent-audit.md
  docs/qa/charters/CH-cross-workspace-mode-seams.md
  docs/qa/charters/CH-foreign-session-deep-link.md
  docs/qa/charters/CH-workspace-binding-canary.md
  docs/qa/journeys/J-11-return-to-running-session.md
  docs/qa/journeys/J-12-open-session-fast.md
  docs/qa/journeys/J-cross-workspace-access.md
  docs/qa/journeys/J-open-foreign-session.md
  docs/qa/journeys/J-operate-workspace-context.md
  docs/qa/scenarios/ET-native-workspace-scope-isolation.md
  docs/qa/scenarios/ET-web-session-cross-workspace-confirm.md
  docs/qa/scenarios/ET-web-session-deep-link-isolation.md
  docs/qa/scenarios/ET-workspace-access-mode-matrix.md
  docs/qa/scenarios/ET-workspace-access-prompt-outcomes.md
Due: none

docs: explain cross-workspace access policy
  docs/_memory/glossary.md
  docs/qa/scenarios/ET-native-workspace-scope-isolation.md
  docs/qa/scenarios/ET-web-session-cross-workspace-confirm.md
  docs/qa/scenarios/ET-web-session-deep-link-isolation.md
  docs/qa/scenarios/ET-workspace-access-mode-matrix.md
  docs/qa/scenarios/ET-workspace-access-prompt-outcomes.md
  packages/site/content/runtime/core/configuration/config-toml.mdx
  packages/site/content/runtime/core/sessions/permissions.mdx
  packages/site/content/runtime/core/workspaces/index.mdx
  packages/site/content/runtime/core/workspaces/resolver.mdx
  skills/compozy/references/agent-definitions.md
  skills/compozy/references/native-tools.md
Due: none

docs: record loop qa fix provenance
  docs/qa/bugs/BUG-20260729-loop-native-error-semantics.md
  docs/qa/bugs/BUG-20260729-loop-resume-restart-stuck.md
  docs/qa/reports/2026-07-28-untested-full.md
  docs/qa/scenarios/TA-075.md
  docs/qa/scenarios/TA-076.md
Due: none

fix: review round
  docs/qa/scenarios/TA-075.md
  internal/api/core/skills_test.go
  internal/api/spec/registry_sessions.go
  internal/api/spec/spec_test.go
  internal/cli/client_tools.go
  internal/cli/tool_test.go
  internal/daemon/daemon_lifecycle.go
  internal/daemon/loop_api_service.go
  internal/daemon/loop_delete.go
  internal/daemon/native_loop_tools_support.go
  internal/daemon/native_loop_tools_test.go
  internal/loop/source_delete.go
  internal/memory/consolidation/runtime.go
  internal/memory/consolidation/runtime_test.go
  internal/redact/redact_test.go
  internal/session/manager_prompt.go
  internal/session/manager_start_stop.go
  internal/session/manager_start_test.go
  internal/session/manager_test.go
  internal/settings/config_apply_service_test.go
  internal/settings/provider_curation_reconcile.go
  internal/settings/service_test.go
  internal/store/globaldb/global_db_heartbeat.go
  internal/store/globaldb/global_db_heartbeat_test.go
  internal/store/globaldb/global_db_loop_control.go
  internal/store/globaldb/global_db_loop_test.go
  openapi/compozy.json
  packages/site/components/landing/bento-section.tsx
  packages/site/lib/__tests__/runtime-docs-truth.test.ts
  skills/compozy/references/loops.md
  web/src/generated/compozy-openapi.d.ts
  web/src/systems/os/hooks/__tests__/window-manager-runtime.test.ts
  web/src/systems/os/hooks/use-window-live-data-enabled.ts
  web/src/systems/os/runtime/window-manager-runtime-core.ts
  web/src/systems/os/runtime/window-manager-snapshot-refresher.ts
  web/src/systems/settings/hooks/__tests__/use-settings-skills-page.test.tsx
  web/src/systems/settings/hooks/settings-skills-draft-logic.ts
Due: turbo-lint, format-go

feat: QA Plan and Session Charters #10
  docs/qa/charters/CH-extension-agent-authoring.md
  docs/qa/charters/CH-extension-command-authority.md
  docs/qa/charters/CH-extension-contract-policy.md
  docs/qa/charters/CH-extension-dev-recovery.md
  docs/qa/charters/CH-extension-distribution-integrity.md
  docs/qa/charters/CH-extension-marketplace-skill-canary.md
  docs/qa/charters/CH-extension-newcomer-first-success.md
  docs/qa/journeys/J-extension-agent-authoring.md
  docs/qa/journeys/J-extension-dev-lifecycle.md
  docs/qa/journeys/J-extension-distribution.md
  docs/qa/journeys/J-extension-newcomer-first-success.md
  docs/qa/journeys/J-extension-policy-admin.md
  docs/qa/journeys/J-run-extension-commands.md
  docs/qa/scenarios/ET-015.md
  docs/qa/scenarios/ET-017.md
  docs/qa/scenarios/ET-018.md
  docs/qa/scenarios/ET-019.md
  docs/qa/scenarios/ET-020.md
  docs/qa/scenarios/ET-021.md
  docs/qa/scenarios/ET-022.md
  docs/qa/scenarios/ET-023.md
  docs/qa/scenarios/ET-044.md
  docs/qa/scenarios/ET-045.md
  docs/qa/scenarios/ET-extension-agent-guided-authoring.md
  docs/qa/scenarios/ET-extension-batch-update-partial-progress.md
  docs/qa/scenarios/ET-extension-cli-error-remediation.md
  docs/qa/scenarios/ET-extension-code-first-authoring.md
  docs/qa/scenarios/ET-extension-dev-reload-loop.md
  docs/qa/scenarios/ET-extension-dx-scorecard.md
  docs/qa/scenarios/ET-extension-manifest-v2-surfaces.md
  docs/qa/scenarios/ET-extension-passive-update-discovery.md
  docs/qa/scenarios/ET-extension-publish-install-round-trip.md
  docs/qa/scenarios/ET-extension-published-source-installs.md
  docs/qa/scenarios/ET-extension-quickstart-verbatim.md
  docs/qa/scenarios/ET-web-extension-logs-panel.md
  docs/qa/scenarios/ET-web-extension-union-install.md
Due: none

fix: review round
  docs/qa/scenarios/ET-extension-passive-update-discovery.md
  internal/extension/dev_integration_test.go
  internal/registry/github/client_test.go
  internal/registry/github/search.go
  web/src/systems/extensions/mocks/__tests__/handlers.test.ts
  web/src/systems/extensions/mocks/handlers.ts
Due: turbo-lint, format-go

fix: remediate extension deep review
  docs/qa/scenarios/ET-extension-dev-reload-loop.md
  docs/qa/scenarios/ET-web-extension-detail.md
  docs/qa/scenarios/REL-beta-channel-contract.md
  internal/api/core/extensions_test.go
  internal/api/httpapi/extension_logs_sse_test.go
  internal/config/config_test.go
  internal/config/release_config_test.go
  internal/daemon/daemon_extension_agent_native_e2e_integration_test.go
  internal/daemon/daemon_extension_authoring_e2e_integration_test.go
  internal/daemon/daemon_extension_commands_e2e_integration_test.go
  internal/daemon/daemon_extension_distribution_e2e_integration_test.go
  internal/daemon/extension_secret_hygiene_integration_test.go
  internal/extension/build_integration_test.go
  internal/extension/dev_integration_test.go
  internal/extension/manager_dev_lifecycle.go
  internal/registry/github/client_test.go
  internal/registry/github/search.go
  scripts/publish-extension-sdk.sh
  web/src/systems/extensions/components/__tests__/extension-dialogs.test.tsx
  web/src/systems/extensions/components/extension-dialogs.tsx
  web/src/systems/extensions/mocks/__tests__/handlers.test.ts
  web/src/systems/extensions/mocks/fixtures.ts
  web/src/systems/extensions/mocks/handlers.ts
Due: turbo-lint, format-go

fix: resolve post-rebase integration defects
  MIGRATION_GUIDE.md
  docs/qa/scenarios/ET-017.md
  internal/api/core/extensions.go
  internal/api/core/extensions_errors.go
  internal/api/core/extensions_test.go
  internal/automation/schedule_test.go
  internal/cli/extension_dev.go
  internal/cli/skill.go
  internal/cli/skill_workspace_metadata.go
  internal/codegen/sdkgo/enum_registry.go
  internal/daemon/native_extension_errors.go
  internal/daemon/native_extension_tools_test.go
  internal/diagnosticcontract/diagnostics.go
  internal/extension/contract/authoring.go
  internal/extension/marketplace_update.go
  internal/registry/gitsrc/errors.go
  internal/sandbox/daytona/sidecar_assets/compozy-daytona-sidecar-linux-amd64.gz
  internal/sandbox/daytona/sidecar_assets/compozy-daytona-sidecar-linux-arm64.gz
  internal/toolmeta/native_entries.go
  internal/toolmeta/registry_test.go
  packages/site/content/runtime/migration/index.mdx
  skills/compozy/SKILL.md
Due: format-go

refactor: improvements 2
  .agents/skills/cy-final-verify/SKILL.md
  .agents/skills/cy-spec-preflight/references/tasks-checks.md
  .agents/skills/cy-web-docs-impact/SKILL.md
  .agents/skills/qa-report/references/state-schema.md
  CLAUDE.md
  docs/_memory/spec-authoring-playbook.md
  docs/design/opendesign/_captures/site-docs-landing.png
  docs/design/opendesign/_captures/site-docs-sidebar.png
  docs/design/opendesign/_captures/site-example-page.png
  docs/design/opendesign/_captures/site-marketplace-detail.png
  docs/design/opendesign/_captures/site-marketplace-hero-v2.png
  docs/design/opendesign/_captures/site-marketplace-list.png
  docs/design/opendesign/_captures/site-marketplace.png
  docs/design/opendesign/site/site-docs-landing.html
  docs/design/opendesign/site/site-docs-landing.html.artifact.json
  docs/design/opendesign/site/site-docs-sidebar.html
  docs/design/opendesign/site/site-docs-sidebar.html.artifact.json
  docs/design/opendesign/site/site-example-page.html
  docs/design/opendesign/site/site-example-page.html.artifact.json
  docs/design/opendesign/site/site-marketplace-detail.html
  docs/design/opendesign/site/site-marketplace-detail.html.artifact.json
  docs/design/opendesign/site/site-marketplace-list.html
  docs/design/opendesign/site/site-marketplace-list.html.artifact.json
  docs/design/opendesign/site/site-marketplace.html
  docs/design/opendesign/site/site-marketplace.html.artifact.json
  docs/design/opendesign/site/site.css
  docs/design/opendesign/site/site.js
  docs/qa/reports/2026-07-29-os-shell-bento.md
  docs/qa/scenarios/REL-os-landing-proof.md
  packages/site/components/landing/__tests__/landing.test.tsx
  packages/site/components/landing/bento-section.tsx
  packages/site/public/images/bento-illustrations/autonomy-v2.png
  packages/site/public/images/bento-illustrations/os-v2.png
  packages/site/public/images/bento-illustrations/runtime-v2.png
  packages/site/public/images/bento-illustrations/trace-v2.png
  packages/site/public/images/landing/os-shell-hero.png
Due: turbo-lint

Path conditions:
  turbo-lint: any of: \.(js|jsx|ts|tsx)$, but not: (?x)^(
  CHANGELOG.md|
  tools/.*/package\.json|
  bun.lockb|
  node_modules|
)$

  format-go: any of: \.go$, but not: (?x)^(
  CHANGELOG.md|
  tools/.*/package\.json|
  bun.lockb|
  node_modules|
)$

