Repository compozy/compozy: changes, and which pre-commit hooks are due for each by the changed paths.
All: turbo-lint, format-go

turbo-lint:
  name: turbo lint
  description: Run linting via Turborepo
  entry: bun run lint
  language: system
  pass_filenames: false

format-go:
  name: format go
  description: Format Go files using make fmt
  entry: make fmt
  language: system
  pass_filenames: false

fix: normalize extension log declarations
  internal/api/core/extensions_dev.go
  internal/cli/extension_dev.go
  internal/cli/extension_dev_output.go
  internal/tools/builtin/extensions.go
Due: format-go

fix: read loop watch-events with a stream-global cursor
  internal/store/globaldb/global_db_watch_events.go
  internal/store/globaldb/global_db_watch_events_loop.go
  internal/store/globaldb/global_db_watch_events_test.go
Due: format-go

docs: record final performance QA
  docs/qa/_seeds/final-qa/_children/01-daemon-boot.md
  docs/qa/_seeds/final-qa/_children/07-tools-sandbox.md
  docs/qa/bugs/BUG-20260812-workspace-extension-detail-missing.md
  docs/qa/charters/CH-extension-dev-recovery.md
  docs/qa/journeys/J-extension-dev-lifecycle.md
  docs/qa/reports/2026-08-11-frontend-performance.md
  docs/qa/scenarios/ET-extension-dev-reload-loop.md
  docs/qa/scenarios/ET-web-extension-logs-panel.md
Due: none

test: pin the per-run seq precondition in the loop cursor regression
  internal/store/globaldb/global_db_watch_events_test.go
Due: format-go

docs: document the watch-events loop-stream readers
  internal/store/globaldb/global_db_watch_events.go
  internal/store/globaldb/global_db_watch_events_loop.go
Due: format-go

test: cover skill_view command_id when the session has no agent snapshot
  internal/daemon/native_tools_test.go
Due: format-go

fix: resolve extension-published agents for session command catalogs (#350)
  docs/qa/reports/2026-08-12-issue-349-extension-agent-commands.md
  docs/qa/scenarios/ET-session-command-catalog-parity.md
  internal/daemon/agent_skill_catalog.go
  internal/daemon/boot.go
  internal/daemon/daemon_extension_agent_fixture_e2e_integration_test.go
  internal/daemon/native_tool_dependencies.go
  internal/daemon/native_tool_registry_skills.go
  internal/daemon/native_tools_dependencies_builder.go
  internal/daemon/native_tools_test.go
  internal/daemon/prompt_skills_test.go
  internal/daemon/session_commands.go
Due: format-go

fix: reject automation trigger events no producer emits
  internal/automation/model/target_validate.go
  internal/automation/model/validate.go
  internal/automation/trigger.go
  internal/automation/trigger_envelope.go
  internal/automation/validate_test.go
  internal/cli/automation_trigger_commands.go
  packages/site/content/docs/automation/triggers.mdx
Due: format-go

fix: canonicalize trigger event validation and regenerate CLI docs
  internal/automation/extension.go
  internal/automation/extension_test.go
  internal/automation/model/target_validate.go
  internal/automation/model/trigger_event_validate.go
  internal/automation/model/validate.go
  internal/automation/validate_test.go
  packages/site/content/docs/cli/automation/triggers/create.mdx
Due: format-go

fix: resolve post-merge performance regressions
  docs/qa/charters/CH-scheduled-session-restart-recovery.md
  docs/qa/journeys/J-recover-scheduled-job-restart.md
  docs/qa/reports/2026-08-12-post-merge-regression.md
  docs/qa/scenarios/TA-scheduled-session-restart-recovery.md
  internal/store/globaldb/global_db_goal_binding_integration_test.go
  internal/store/globaldb/global_db_session_creation_identity.go
  web/e2e/__tests__/session-provider-override.spec.ts
  web/src/systems/os/hooks/__tests__/os-interaction-hooks.test.tsx
  web/src/systems/os/hooks/use-os-window.ts
  web/src/systems/os/lib/window-merge-target-coordinator.ts
Due: turbo-lint, format-go

feat: secure local network HTTP access
  internal/api/contract/settings_config_payloads.go
  internal/api/core/conversions_general.go
  internal/api/core/settings_general_payload.go
  internal/api/httpapi/handlers.go
  internal/api/httpapi/middleware.go
  internal/api/httpapi/middleware_refac_test.go
  internal/api/httpapi/routes.go
  internal/api/httpapi/server_handler_config.go
  internal/cli/config.go
  internal/config/config_test.go
  internal/config/defaults.go
  internal/config/http.go
  internal/config/http_test.go
  internal/config/merge.go
  internal/config/merge_load.go
  internal/daemon/settings.go
  internal/settings/sections_daemon.go
  openapi/compozy.json
  packages/site/content/docs/configuration/config-toml.mdx
  packages/site/content/docs/configuration/file-locations.mdx
  packages/site/content/docs/getting-started/web-ui.mdx
  skills/compozy/references/configuration.md
  web/src/generated/compozy-openapi.d.ts
  web/src/routes/_app/settings/-general-daemon-sections.tsx
  web/src/routes/_app/settings/-general-settings-page.tsx
  web/src/routes/_app/settings/__tests__/-general.test.tsx
  web/src/systems/settings/adapters/__tests__/settings-api.test.ts
  web/src/systems/settings/hooks/__tests__/use-settings-general-page.test.tsx
  web/src/systems/settings/hooks/__tests__/use-settings-mutations.test.tsx
  web/src/systems/settings/mocks/fixtures.ts
Due: turbo-lint, format-go

fix: normalize optional network settings
  web/src/systems/settings/adapters/__tests__/settings-api.test.ts
  web/src/systems/settings/adapters/settings-sections-api.ts
Due: turbo-lint

fix: keep loopback access local
  internal/api/httpapi/gateway_auth.go
  internal/api/httpapi/middleware_refac_test.go
  internal/api/httpapi/routes.go
Due: format-go

fix: support browser pairing over HTTP
  internal/api/httpapi/gateway_integration_test.go
  internal/api/httpapi/gateway_redeem.go
  internal/api/httpapi/gateway_routes_test.go
Due: format-go

fix: support authenticated LAN browser pairing
  docs/qa/scenarios/RT-gateway-paired-device.md
  internal/api/httpapi/gateway_routes_test.go
  internal/api/httpapi/routes.go
  internal/config/config_load.go
  internal/config/config_test.go
  packages/site/content/docs/gateway/index.mdx
  packages/site/content/docs/gateway/quickstart.mdx
  packages/site/content/docs/gateway/security.mdx
  skills/compozy/references/configuration.md
  skills/compozy/references/runtime-operations.md
Due: format-go

fix: make loop watch cursors durable
  docs/qa/reports/2026-08-12-pr-356-loop-watch-cursor.md
  docs/qa/scenarios/LP-040.md
  docs/qa/scenarios/LP-041.md
  docs/qa/scenarios/LP-042.md
  docs/qa/scenarios/LP-044.md
  internal/daemon/loop_run_events_e2e_integration_test.go
  internal/loop/watch/adapter_test.go
  internal/loop/watch/output.go
  internal/store/globaldb/global_db_loop_schema_integration_test.go
  internal/store/globaldb/global_db_watch_events.go
  internal/store/globaldb/global_db_watch_events_loop.go
  internal/store/globaldb/global_db_watch_events_test.go
  internal/store/globaldb/queries/loop_core.sql
  internal/store/globaldb/schema/definitions/50_loops.sql
  internal/store/globaldb/schema/migrations/00060_schema.sql
  internal/store/globaldb/schema/migrations/atlas.sum
  internal/store/globaldb/sqlcgen/loop_core.sql.go
  internal/store/globaldb/sqlcgen/models.go
  packages/site/content/docs/loops/reference-grammar.mdx
  skills/compozy/references/loops.md
  web/e2e/__tests__/loops.spec.ts
Due: turbo-lint, format-go

test: format trigger event regressions
  internal/memory/consolidation/runtime_test.go
  internal/memory/dream_test.go
  internal/store/globaldb/global_db_trigger_event_migration_test.go
Due: format-go

test: format loop cursor regression
  internal/store/globaldb/global_db_watch_events_test.go
Due: format-go

test: name the padded-event cases and pin dream run guard errors
  internal/automation/manager_test.go
  internal/automation/resource_test.go
  internal/automation/trigger_test.go
  internal/daemon/native_automation_tools_test.go
  internal/memory/dream_test.go
  internal/store/globaldb/global_db_automation_test.go
Due: format-go

test: format review regressions
  internal/daemon/native_automation_tools_test.go
  internal/store/globaldb/global_db_trigger_event_migration_test.go
Due: format-go

test: wrap migration run assertion
  internal/store/globaldb/global_db_trigger_event_migration_test.go
Due: format-go

test: scope loop migration contexts
  internal/store/globaldb/global_db_watch_events_test.go
Due: format-go

test: allow zero watch-event prompts
  internal/daemon/loop_run_events_e2e_integration_test.go
Due: format-go

build: add release notes trigger
  .agents/skills/agent-exploration/SKILL.md
  .agents/skills/agent-exploration/assets/explorer-prompt.md
  .agents/skills/agent-exploration/references/checklist.md
  .agents/skills/agent-exploration/references/dispatch-rules.md
  .agents/skills/agent-exploration/scripts/dispatch-slices.sh
  .agents/skills/agent-exploration/scripts/install-explorer.sh
  .compozy/agents/pr-release-reviewer/AGENT.md
  .github/workflows/compozy-pr-release.yml
  .gitignore
  internal/config/config_load.go
  internal/config/config_paths.go
  internal/config/gateway_test.go
  internal/config/persistence_integration_test.go
  internal/config/persistence_tree.go
  scripts/postinstall.sh
  skills-lock.json
Due: format-go

fix: read loop watch-events with a stream-global cursor (#356)
  docs/qa/reports/2026-08-12-pr-356-loop-watch-cursor.md
  docs/qa/scenarios/LP-040.md
  docs/qa/scenarios/LP-041.md
  docs/qa/scenarios/LP-042.md
  docs/qa/scenarios/LP-044.md
  internal/daemon/loop_run_events_e2e_integration_test.go
  internal/loop/watch/adapter_test.go
  internal/loop/watch/output.go
  internal/store/globaldb/global_db_loop_schema_integration_test.go
  internal/store/globaldb/global_db_watch_events.go
  internal/store/globaldb/global_db_watch_events_loop.go
  internal/store/globaldb/global_db_watch_events_test.go
  internal/store/globaldb/queries/loop_core.sql
  internal/store/globaldb/schema/definitions/50_loops.sql
  internal/store/globaldb/schema/migrations/00061_schema.sql
  internal/store/globaldb/schema/migrations/atlas.sum
  internal/store/globaldb/sqlcgen/loop_core.sql.go
  internal/store/globaldb/sqlcgen/models.go
  packages/site/content/docs/loops/reference-grammar.mdx
  skills/compozy/references/loops.md
  web/e2e/__tests__/loops.spec.ts
Due: turbo-lint, format-go

docs: qa changes
  docs/qa/bugs/BUG-20260812-global-workspace-gateway-config.md
  docs/qa/charters/CH-gateway-global-workspace-config.md
  docs/qa/reports/2026-08-12-pr-webhook-release-notes.md
  docs/qa/scenarios/MS-gateway-config-ceiling.md
  docs/qa/scenarios/RT-gateway-local-only-boot.md
Due: none

docs: global workspace design
  docs/design/opendesign/global-workspace/DESIGN-NOTES.md
  docs/design/opendesign/global-workspace/global-workspace.css
  docs/design/opendesign/global-workspace/gw-current-audit.html
  docs/design/opendesign/global-workspace/gw-current-audit.html.artifact.json
  docs/design/opendesign/global-workspace/gw-menubar-toggle.html
  docs/design/opendesign/global-workspace/gw-menubar-toggle.html.artifact.json
  docs/design/opendesign/global-workspace/gw-modal-scope.html
  docs/design/opendesign/global-workspace/gw-modal-scope.html.artifact.json
  docs/design/opendesign/global-workspace/gw-onboarding.html
  docs/design/opendesign/global-workspace/gw-onboarding.html.artifact.json
  docs/design/opendesign/global-workspace/gw-states.html
  docs/design/opendesign/global-workspace/gw-states.html.artifact.json
  docs/design/opendesign/global-workspace/gw-workspace-menu.html
  docs/design/opendesign/global-workspace/gw-workspace-menu.html.artifact.json
  docs/design/opendesign/global-workspace/index.html
  docs/design/opendesign/global-workspace/index.html.artifact.json
Due: none

fix: prevent session timeline render loops
  docs/design/opendesign/_done/session/SESSION-REDESIGN-SPEC.md
  docs/qa/automation-backlog/tool-call-a11y.md
  docs/qa/journeys/J-14-read-a-finished-transcript.md
  web/src/components/assistant-ui/__tests__/session-thread.test.tsx
  web/src/components/assistant-ui/__tests__/session-timeline.logic.test.ts
  web/src/components/assistant-ui/session-row-equality.ts
  web/src/components/assistant-ui/session-timeline.logic.ts
Due: turbo-lint

fix: prevent session timeline render loops (#361)
  docs/design/opendesign/_done/session/SESSION-REDESIGN-SPEC.md
  docs/qa/automation-backlog/tool-call-a11y.md
  docs/qa/journeys/J-14-read-a-finished-transcript.md
  web/src/components/assistant-ui/__tests__/session-thread.test.tsx
  web/src/components/assistant-ui/__tests__/session-timeline.logic.test.ts
  web/src/components/assistant-ui/session-row-equality.ts
  web/src/components/assistant-ui/session-timeline.logic.ts
Due: turbo-lint

fix: align update artifacts with release policy
  .goreleaser.yml
  docs/qa/bugs/BUG-20260812-successful-update-recommends-retry.md
  docs/qa/charters/CH-beta-self-update-artifact-contract.md
  docs/qa/charters/CH-release-update-archive-contract.md
  docs/qa/journeys/J-publish-compozy-beta.md
  docs/qa/reports/2026-08-12-issue-359-auto-update.md
  docs/qa/scenarios/REL-beta-self-update.md
  docs/qa/scenarios/REL-release-archive-update-contract.md
  internal/cli/update.go
  internal/cli/update_command_test.go
  internal/config/release_config_test.go
  internal/update/artifact_policy.go
  internal/update/github.go
  internal/update/manager.go
  internal/update/manager_apply_test.go
  internal/update/manager_archive.go
  internal/update/manager_state.go
  internal/update/resource_cleanup.go
  internal/update/types.go
  magefiles/update_archive.go
  skills/compozy/references/runtime-operations.md
Due: format-go

fix: align update artifacts with release policy (#363)
  .goreleaser.yml
  docs/qa/bugs/BUG-20260812-successful-update-recommends-retry.md
  docs/qa/charters/CH-beta-self-update-artifact-contract.md
  docs/qa/charters/CH-release-update-archive-contract.md
  docs/qa/journeys/J-publish-compozy-beta.md
  docs/qa/reports/2026-08-12-issue-359-auto-update.md
  docs/qa/scenarios/REL-beta-self-update.md
  docs/qa/scenarios/REL-release-archive-update-contract.md
  internal/cli/update.go
  internal/cli/update_command_test.go
  internal/config/release_config_test.go
  internal/update/artifact_policy.go
  internal/update/github.go
  internal/update/manager.go
  internal/update/manager_apply_test.go
  internal/update/manager_archive.go
  internal/update/manager_state.go
  internal/update/resource_cleanup.go
  internal/update/types.go
  magefiles/update_archive.go
  skills/compozy/references/runtime-operations.md
Due: format-go

ci: release fix
  .goreleaser.yml
  internal/config/release_config_test.go
Due: format-go

fix: tauri build and release for linux
  .github/workflows/release.yml
  desktop/src-tauri/Cargo.toml
  desktop/src-tauri/src/runtime/artifacts.rs
  docs/qa/reports/2026-08-12-runtime-manifest-verification.md
  docs/qa/scenarios/APP-install-first-run-provision.md
  internal/config/release_config_test.go
  internal/desktoprelease/canonical_json.go
  internal/desktoprelease/manifest.go
  internal/desktoprelease/release_test.go
Due: format-go

fix: track runtime manifest checker
  .gitignore
  desktop/src-tauri/src/bin/runtime_manifest_check.rs
Due: none

fix: canonicalize desktop runtime manifests (#364)
  .github/workflows/release.yml
  .gitignore
  desktop/src-tauri/Cargo.toml
  desktop/src-tauri/src/bin/runtime_manifest_check.rs
  desktop/src-tauri/src/runtime/artifacts.rs
  docs/qa/reports/2026-08-12-runtime-manifest-verification.md
  docs/qa/scenarios/APP-install-first-run-provision.md
  internal/config/release_config_test.go
  internal/desktoprelease/canonical_json.go
  internal/desktoprelease/manifest.go
  internal/desktoprelease/release_test.go
Due: format-go

fix: reject invalid agent names
  docs/_memory/glossary.md
  docs/qa/scenarios/MS-web-agent-create-simple-advanced.md
  internal/api/core/handlers_test.go
  internal/config/agent.go
  internal/config/agent_name.go
  internal/config/agent_name_test.go
  packages/site/content/docs/agents/definitions.mdx
  skills/compozy/references/agent-definitions.md
  web/src/systems/agent/components/__tests__/agent-create-dialog.test.tsx
  web/src/systems/agent/components/stories/agent-create-dialog.stories.tsx
  web/src/systems/agent/lib/__tests__/agent-create-draft.test.ts
  web/src/systems/agent/lib/agent-create-draft.ts
Due: turbo-lint, format-go

Path conditions:
  turbo-lint: any of: \.(js|jsx|ts|tsx)$, but not: (?x)^(
  CHANGELOG.md|
  tools/.*/package\.json|
  bun.lockb|
  node_modules|
)$

  format-go: any of: \.go$, but not: (?x)^(
  CHANGELOG.md|
  tools/.*/package\.json|
  bun.lockb|
  node_modules|
)$

