Repository compozy/compozy: changes, and which pre-commit hooks are due for each by the changed paths.
All: turbo-lint, format-go

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit

default_stages:
  - pre-commit

exclude: |
  (?x)^(
    CHANGELOG.md|
    tools/.*/package\.json|
    bun.lockb|
    node_modules|
  )$

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      # - id: trailing-whitespace
      #   args:
      #     - --no-utf8-locale
      - id: end-of-file-fixer
        exclude: '^(CHANGELOG\.md|tools/.*/package\.json|bun\.lockb|node_modules/)'
      - id: check-json
        exclude: '^(tools/.*/package\.json|node_modules/)'
      - id: check-toml
      - id: check-added-large-files
        args:
          - --maxkb=3000
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: detect-private-key
  - repo: local
    hooks:
      - id: turbo-lint
        name: turbo lint
        description: Run linting via Turborepo
        entry: bun run lint
        language: system
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false
      # - id: turbo-type-check
      #   name: turbo type check
      #   description: Run TypeScript checking via Turborepo
      #   entry: bun run type-check
      #   language: system
      #   files: \.(ts|tsx)$
      #   pass_filenames: false
      - id: format-go
        name: format go
        description: Format Go files using make fmt
        entry: make fmt
        language: system
        files: \.go$
        pass_filenames: false
  - repo: https://github.com/lyz-code/yamlfix/
    rev: 1.17.0
    hooks:
      - id: yamlfix
        args:
          - -c
          - .yamlfix.toml
        exclude: ^cluster/.*$

build: link skills
  .agents/skills/cy-execute-task/SKILL.md
  .agents/skills/cy-execute-task/references/tracking-checklist.md
  .agents/skills/cy-fix-reviews/SKILL.md
  .agents/skills/cy-review-round/SKILL.md
  .agents/skills/cy-review-round/references/issue-template.md
  .agents/skills/cy-review-round/references/review-criteria.md
  .agents/skills/cy-workflow-memory/SKILL.md
  .agents/skills/cy-workflow-memory/references/memory-guidelines.md
  .gitignore
  .repoclone.rc
  scripts/postinstall.sh
Due: none

fix: resolve seed review findings
  docs/qa/reports/2026-08-22-demo-seed-history.md
  internal/demoseed/loop_fixture_names.go
  internal/demoseed/scenario_loop_runs_live.go
  internal/demoseed/scenario_loop_runs_parked.go
  internal/demoseed/scenario_observability.go
  internal/demoseed/seed_integration_test.go
  internal/demoseed/seed_loop_runs.go
  internal/demoseed/seed_loops.go
  internal/demoseed/seed_memory.go
  internal/demoseed/seed_worktree.go
  internal/extension/manager_failure_state.go
  internal/extension/registry.go
  internal/extension/registry_install.go
  internal/extension/registry_lifecycle.go
  internal/extension/registry_scan.go
  internal/extension/registry_test.go
  internal/extension/registry_types.go
  internal/loop/run_history_import.go
  internal/loop/run_history_import_test.go
  internal/store/globaldb/global_db_goal_checkpoint_integration_test.go
  internal/store/globaldb/global_db_loop_history_import.go
  internal/store/globaldb/global_db_loop_inline_integration_test.go
  internal/store/globaldb/global_db_loop_test.go
  internal/store/globaldb/global_db_task_history_import_test.go
  internal/store/globaldb/global_db_test.go
  internal/store/globaldb/queries/goal_runtime.sql
  internal/store/globaldb/queries/goal_turn_judge.sql
  internal/store/globaldb/queries/loop_core.sql
  internal/store/globaldb/queries/loop_runtime.sql
  internal/store/globaldb/schema/definitions/33_extensions.sql
  internal/store/globaldb/schema/definitions/50_loops.sql
  internal/store/globaldb/schema/migrations/00084_schema.sql
  internal/store/globaldb/schema/migrations/atlas.sum
  internal/store/globaldb/sqlcgen/goal_runtime.sql.go
  internal/store/globaldb/sqlcgen/goal_turn_judge.sql.go
  internal/store/globaldb/sqlcgen/loop_core.sql.go
  internal/store/globaldb/sqlcgen/loop_runtime.sql.go
  internal/store/globaldb/sqlcgen/models.go
  internal/task/run_history_import.go
Due: format-go

fix: lint errors
  internal/api/httpapi/transport_parity_integration_test.go
  internal/daemon/native_tools_test.go
  web/src/systems/os/apps/loops/loop-run-detail-location.tsx
Due: turbo-lint, format-go

fix: resolve post-rebase lint errors
  internal/demoseed/seed_integration_test.go
  internal/demoseed/seed_sessions.go
  internal/observe/observer_session_events.go
  internal/providerexec/native_cli_test.go
  internal/session/manager_lifecycle.go
  internal/session/manager_permissions_test.go
  internal/session/manager_prompt_recovery.go
  internal/session/manager_prompt_submit.go
  internal/session/manager_start_meta.go
  internal/session/query_metadata.go
  internal/session/session_meta.go
  internal/store/session_meta_types.go
  internal/tools/builtin/sessions_read.go
Due: format-go

fix: resolve post-rebase review findings
  internal/demoseed/ids.go
  internal/demoseed/scenario_network.go
  internal/demoseed/scenario_observability.go
  internal/demoseed/scenario_sessions.go
  internal/demoseed/scenario_sessions_platform.go
  internal/demoseed/scenario_tasks.go
  internal/demoseed/scenario_tasks_platform.go
  internal/demoseed/seed.go
  internal/demoseed/seed_integration_test.go
  internal/demoseed/seed_loop_runs.go
  internal/demoseed/seed_network_automation.go
  internal/store/globaldb/global_db_test.go
  scripts/postinstall.sh
Due: format-go

fix: avoid duplicate resume replay
  internal/demoseed/seed_integration_test.go
  internal/session/manager_prompt_submit.go
  internal/session/manager_test_support_test.go
Due: format-go

test: validate every seeded goal turn
  internal/demoseed/seed_integration_test.go
Due: format-go

test: align loop run fixture contract
  web/src/systems/loops/lib/__tests__/loop-runs-view.test.ts
Due: turbo-lint

test: align session fixtures with recovery schema
  internal/store/globaldb/global_db_session_test.go
  internal/store/globaldb/global_db_test.go
Due: format-go

test: serialize automation migration fixtures
  internal/store/globaldb/global_db_automation_test.go
Due: format-go

ci: fix failing checks
  internal/daemon/extensions_test.go
  internal/daemon/harness_context_integration_test.go
  internal/session/manager_busy_input_test.go
  internal/session/manager_sandbox_test.go
  internal/session/manager_test_support_test.go
  internal/session/soul_test.go
Due: format-go

build: prepare release v0.3.0 (#450)
  CHANGELOG.md
  RELEASE_BODY.md
  RELEASE_NOTES.md
  go.mod
  go.sum
Due: none

build: repoclone
  .repoclone.rc
Due: none

docs: record incomplete profiles QA checkpoint
  docs/qa/reports/2026-08-24-profiles.md
Due: none

desktop channel publish 0.3.0-beta.20
  desktop/generation.json
  desktop/latest-linux.yml
  desktop/latest-mac.yml
Due: none

fix: profiles qa execution
  catalog/artifacts/batuta-v0.1.0-beta.3.tar.gz
  catalog/artifacts/repository-orientation-v1.0.0.tar.gz
  catalog/extensions.json
  internal/api/core/agent_definition_resolution.go
  internal/api/core/agent_definitions.go
  internal/api/core/profiles_selection_test.go
  internal/cli/format.go
  internal/cli/loop_nodes.go
  internal/cli/loop_read_commands_test.go
  internal/cli/loop_runs_output.go
  internal/cli/loop_test.go
  internal/cli/profile_output.go
  internal/daemon/extension_resource_name.go
  internal/daemon/loop_api_run_list.go
  internal/daemon/loop_api_run_list_test.go
  internal/daemon/native_profile_tools.go
  internal/daemon/native_tools_test.go
  internal/demoseed/scenario_memory.go
  internal/demoseed/seed.go
  internal/demoseed/seed_integration_test.go
  internal/demoseed/seed_loop_runs.go
  internal/demoseed/seed_memory.go
  internal/demoseed/seed_observability.go
  internal/demoseed/seed_sessions.go
  internal/demoseed/seed_worktree.go
  internal/extension/registry_lifecycle.go
  internal/observe/reconcile.go
  internal/observe/tasks_test.go
  internal/session/manager_start.go
  internal/session/manager_workspace.go
  internal/session/session_meta.go
  internal/skills/registry_resource_projection.go
  internal/store/meta_test.go
  internal/store/session_meta_types.go
  web/src/systems/marketplace/routes/marketplace-detail-story-fixtures.ts
  web/src/systems/marketplace/routes/marketplace-detail.stories.tsx
  web/src/systems/os/hooks/__tests__/use-window-manager-stream.test.tsx
  web/src/systems/profiles/components/stories/profile-switcher.stories.tsx
  web/src/systems/session/index.ts
Due: turbo-lint, format-go

fix: close profiles e2e regressions
  internal/extension/manager_profile_projection.go
  internal/extension/manager_test.go
  web/e2e/__tests__/agent-categories.spec.ts
  web/e2e/__tests__/agents.spec.ts
  web/e2e/__tests__/attention.spec.ts
  web/e2e/__tests__/automation.spec.ts
  web/e2e/__tests__/bridges-setup.spec.ts
  web/e2e/__tests__/bridges.spec.ts
  web/e2e/__tests__/dashboard.spec.ts
  web/e2e/__tests__/extensions.spec.ts
  web/e2e/fixtures/__tests__/runtime-seed.test.ts
  web/e2e/fixtures/runtime-seed.ts
Due: turbo-lint, format-go

fix: repair profile-aware e2e contracts
  internal/api/core/marketplace_actor.go
  internal/api/core/marketplace_test.go
  web/e2e/__tests__/agents.spec.ts
  web/e2e/__tests__/automation.spec.ts
  web/e2e/__tests__/bridges-setup.spec.ts
  web/e2e/__tests__/extensions.spec.ts
  web/e2e/__tests__/jobs-hardening.spec.ts
  web/e2e/__tests__/knowledge.spec.ts
  web/e2e/__tests__/loop-run.spec.ts
  web/e2e/__tests__/loops.spec.ts
  web/e2e/__tests__/marketplace.spec.ts
  web/e2e/__tests__/network.spec.ts
  web/e2e/__tests__/os-shell.spec.ts
  web/e2e/__tests__/session-onboarding.spec.ts
  web/e2e/__tests__/session-provider-override.spec.ts
  web/e2e/__tests__/tasks-coordinator-handoff.spec.ts
  web/e2e/fixtures/__tests__/browser-artifact-session.test.ts
  web/e2e/fixtures/artifacts.ts
  web/e2e/fixtures/browser-artifact-session.ts
  web/e2e/fixtures/selectors.ts
Due: turbo-lint, format-go

fix: restore reliable session message copy
  docs/qa/reports/2026-08-24-eng-145-session-copy.md
  docs/qa/scenarios/RT-053.md
  packages/site/app/layout.tsx
  packages/ui/src/components/custom/__tests__/code-block.test.tsx
  packages/ui/src/components/custom/code-block.tsx
  web/src/components/assistant-ui/__tests__/session-thread.test.tsx
  web/src/components/assistant-ui/message-actions.logic.ts
  web/src/components/assistant-ui/message-actions.tsx
Due: turbo-lint

feat: replace environment path with worktree icon
  docs/qa/reports/2026-08-24-eng-138.md
  docs/qa/scenarios/RT-worktree-web-composer-binding-fork.md
  web/src/systems/session/components/__tests__/session-environment-chip.test.tsx
  web/src/systems/session/components/session-environment-chip.tsx
  web/src/systems/session/components/stories/session-environment-chip.stories.tsx
Due: turbo-lint

fix: address profiles review findings
  internal/daemon/auto_title_role_integration_test.go
  internal/daemon/daemon_bridge_extension_integration_test.go
  internal/daemon/daemon_mock_agents_integration_test.go
  internal/daemon/daemon_network_collaboration_integration_test.go
  internal/daemon/daemon_network_local_integration_test.go
  internal/daemon/gateway_end_to_end_integration_test.go
  internal/daemon/loop_action_environment_integration_test.go
  internal/daemon/loop_run_events_e2e_integration_test.go
  internal/daemon/mcp_dead_entity_integration_test.go
  internal/daemon/native_automation_tools_integration_test.go
  internal/daemon/workspace_access_integration_test.go
  internal/session/manager_stop_integration_test.go
  web/src/systems/extensions/index.ts
  web/src/systems/marketplace/routes/marketplace-detail-story-fixtures.ts
Due: turbo-lint, format-go

fix: close windows when sessions are deleted
  docs/qa/reports/2026-08-25-eng-140-delete-session.md
  docs/qa/scenarios/RT-014.md
  internal/daemon/boot.go
  internal/daemon/boot_hooks.go
  internal/daemon/boot_memory_session.go
  internal/daemon/session_manager_deps.go
  internal/daemon/session_manager_factory.go
  internal/daemon/window_manager_runtime.go
  internal/daemon/window_manager_runtime_test.go
  internal/daemon/window_manager_session_reconciler.go
  internal/daemon/window_manager_test_helpers_test.go
  internal/session/interfaces.go
  internal/session/manager.go
  internal/session/manager_delete.go
  internal/session/manager_delete_reconciliation.go
  internal/session/manager_delete_staging.go
  internal/session/manager_delete_test.go
  internal/session/manager_delete_tombstone.go
  internal/session/manager_options.go
  internal/session/manager_shutdown.go
  internal/session/manager_types.go
  internal/windowmanager/lifecycle_test.go
  internal/windowmanager/reducer.go
  internal/windowmanager/reducer_window_close.go
  internal/windowmanager/service_execute.go
  internal/windowmanager/session_delete_reconciliation.go
Due: format-go

fix: enable Electron clipboard and debug shortcut
  desktop/e2e/_electron/__tests__/shell.spec.ts
  desktop/src/main.ts
  desktop/src/window/application-menu.ts
  desktop/src/window/product-window.ts
  desktop/src/window/security.ts
  docs/qa/reports/2026-08-25-eng-145-electron.md
  docs/qa/scenarios/ET-electron-session-copy-debug.md
  docs/qa/scenarios/RT-053.md
Due: turbo-lint

feat: group session tool calls
  docs/qa/reports/2026-08-24-eng-135-session-groups.md
  docs/qa/scenarios/ET-web-session-transcript-calm-grammar.md
  web/src/components/assistant-ui/__tests__/session-thread.test.tsx
  web/src/components/assistant-ui/__tests__/session-timeline.logic.test.ts
  web/src/components/assistant-ui/hooks/use-assistant-message-timeline.ts
  web/src/components/assistant-ui/hooks/use-timeline-row-context.ts
  web/src/components/assistant-ui/session-changed-files-row.tsx
  web/src/components/assistant-ui/session-timeline-group-identity.ts
  web/src/components/assistant-ui/session-timeline-render.tsx
  web/src/components/assistant-ui/session-timeline.logic.ts
Due: turbo-lint

fix: route command palette entities directly
  docs/qa/reports/2026-08-24-eng-131-palette-direct.md
  docs/qa/scenarios/ET-palette-action-panel.md
  docs/qa/scenarios/ET-palette-direct-entity-routes.md
  docs/qa/scenarios/ET-palette-domain-views.md
  docs/qa/scenarios/ET-palette-nested-views.md
  web/e2e/__tests__/os-shell.spec.ts
  web/src/systems/os/components/__tests__/os-palette-view-stack.test.tsx
  web/src/systems/os/components/os-command-palette.tsx
  web/src/systems/os/components/os-palette-view-stack.tsx
  web/src/systems/os/hooks/__tests__/use-os-palette-root.test.tsx
  web/src/systems/os/hooks/use-os-palette-domain-open.ts
  web/src/systems/os/hooks/use-os-palette-domain-search.ts
  web/src/systems/os/hooks/use-os-palette-domain-view.tsx
  web/src/systems/os/hooks/use-os-palette-root.ts
  web/src/systems/os/lib/__tests__/os-palette-domain-search.test.ts
  web/src/systems/os/lib/cmd-palette-row-actions.ts
  web/src/systems/os/lib/os-palette-domain-search.ts
  web/src/systems/os/lib/os-palette-worktree-selection.ts
  web/src/systems/vault/hooks/__tests__/use-vault-page.test.tsx
  web/src/systems/vault/hooks/use-vault-page.ts
  web/src/systems/vault/lib/__tests__/vault-route-search.test.ts
  web/src/systems/vault/lib/vault-route-search.ts
  web/src/systems/vault/routes/vault-page.tsx
Due: turbo-lint

fix: make sessions dock contextual
  docs/qa/charters/CH-eng-136-dock-contextual-session.md
  docs/qa/reports/2026-08-24-eng-136.md
  docs/qa/scenarios/ET-web-dock-contextual-session-launch.md
  docs/qa/scenarios/ET-web-sessions-catalog-modal.md
  web/e2e/__tests__/attention.spec.ts
  web/e2e/__tests__/os-shell.spec.ts
  web/src/systems/os/components/__tests__/os-dock.test.tsx
  web/src/systems/os/components/desktop-dock.tsx
  web/src/systems/os/components/desktop-shell.tsx
  web/src/systems/os/hooks/use-desktop-dock.ts
  web/src/systems/os/lib/app-catalog.ts
  web/src/systems/session/hooks/__tests__/use-session-create-dialog.test.tsx
  web/src/systems/session/hooks/__tests__/use-session-create.test.tsx
  web/src/systems/session/hooks/use-session-create-dialog.ts
  web/src/systems/session/lib/session-create-draft.ts
  web/src/systems/session/stores/session-create-store.ts
Due: turbo-lint

fix: classify settled spawned TTL cleanup correctly
  docs/qa/reports/2026-08-24-eng-147-ttl-cleanup.md
  docs/qa/scenarios/RT-session-spawn-wake.md
  docs/qa/scenarios/RT-spawn-ttl-cleanup.md
  internal/daemon/spawn_reaper.go
  internal/daemon/spawn_reaper_hooks.go
  internal/daemon/spawn_reaper_test.go
  internal/session/manager_lifecycle_contract_test.go
  internal/session/session_stop_state.go
  internal/session/stop_cause.go
  internal/session/stop_reason.go
  internal/session/stop_reason_test.go
  skills/compozy/references/runtime-operations.md
Due: format-go

fix: gate updates on daemon eligibility
  web/src/routes/_app/settings/__tests__/-general.test.tsx
  web/src/systems/settings/lib/__tests__/update-presentation.test.ts
  web/src/systems/settings/lib/update-presentation.ts
Due: turbo-lint
