Repository compozy/compozy: changes, and which pre-commit hooks are due for each by the changed paths.
All: turbo-lint, format-go

turbo-lint:
  name: turbo lint
  description: Run linting via Turborepo
  entry: bun run lint
  language: system
  pass_filenames: false

format-go:
  name: format go
  description: Format Go files using make fmt
  entry: make fmt
  language: system
  pass_filenames: false

fix: emit one task slug per compozy completion candidate (#159)
  zsh/compozy-completion/compozy-completion.plugin.zsh
Due: none

fix: remove upgrade screenshot and stabilize remote UI tests
  .github/pr-assets/compozy-upgrade-not-updating.png
  internal/core/run/ui/remote_test.go
Due: format-go

fix: run managed upgrade commands (#158)
  internal/cli/root_test.go
  internal/cli/upgrade.go
  internal/core/run/ui/remote_test.go
  internal/update/install.go
  internal/update/install_test.go
Due: format-go

test: internal test fix
  .github/actions/setup-go/action.yml
  .github/versions.yml
  .github/workflows/auto-docs.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  Makefile
  go.mod
  internal/contentblock/engine.go
  internal/core/agent/client_test.go
  internal/core/extension/dispatcher.go
  internal/daemon/review_watch_test.go
  web/src/storybook/web-storybook-stories-and-fixtures.test.ts
Due: turbo-lint, format-go

docs: release notes
  .agents/skills/releasepr/SKILL.md
  .agents/skills/releasepr/assets/pr-release.yaml.template
  .agents/skills/releasepr/assets/release.yml.template
  .agents/skills/releasepr/references/commands.md
  .agents/skills/releasepr/references/configuration.md
  .agents/skills/releasepr/references/release-notes.md
  .agents/skills/releasepr/references/release-workflow.md
  .agents/skills/releasepr/references/setup.md
  .agents/skills/releasepr/references/troubleshooting.md
  .agents/skills/releasepr/scripts/check-setup.sh
  .release-notes/homebrew-formula-distribution-1779726189.md
  .release-notes/kiro-cli-acp-runtime-1779726189.md
  .release-notes/managed-upgrade-execution-1779726189.md
  .release-notes/recursive-task-discovery-1779726189.md
  .release-notes/zsh-task-completion-plugin-1779726189.md
  skills-lock.json
Due: none

ci: release fix
  .github/workflows/release.yml
  test/release_config_test.go
Due: format-go

release: prepare release v0.2.5 (#169)
  .release-notes/archive/v0.2.5/homebrew-formula-distribution-1779726189.md
  .release-notes/archive/v0.2.5/kiro-cli-acp-runtime-1779726189.md
  .release-notes/archive/v0.2.5/managed-upgrade-execution-1779726189.md
  .release-notes/archive/v0.2.5/recursive-task-discovery-1779726189.md
  .release-notes/archive/v0.2.5/zsh-task-completion-plugin-1779726189.md
  CHANGELOG.md
  RELEASE_BODY.md
  RELEASE_NOTES.md
  package.json
Due: none

test: add store and daemon boot tests for Windows compatibility
  internal/daemon/boot_test.go
  internal/store/sqlite.go
  internal/store/sqlite_test.go
  internal/store/sqlite_windows_test.go
  internal/store/values_test.go
Due: format-go

test: fix CodeRabbit review — Should naming convention and errContains assertion
  internal/store/sqlite_windows_test.go
  internal/store/values_test.go
Due: format-go

feat: add multiple flag to task runner
  README.md
  internal/cli/commands_test.go
  internal/cli/daemon_commands.go
  internal/cli/daemon_commands_test.go
  internal/cli/extensions_bootstrap.go
  internal/cli/root.go
  internal/cli/root_command_execution_test.go
  internal/cli/root_test.go
  internal/cli/run.go
  internal/cli/state.go
  internal/cli/testdata/tasks_run_help.golden
  internal/cli/workspace_config.go
  skills/compozy/SKILL.md
  skills/compozy/references/cli-reference.md
Due: format-go

fix: add Windows daemon support (#163)
  internal/cli/daemon_launch_other.go
  internal/cli/daemon_launch_windows.go
  internal/daemon/boot_test.go
  internal/daemon/info.go
  internal/daemon/info_lock_test.go
  internal/daemon/lock.go
  internal/daemon/lock_pid_other.go
  internal/daemon/lock_pid_windows.go
  internal/daemon/sync_dir_unix.go
  internal/daemon/sync_dir_windows.go
  internal/store/sqlite.go
  internal/store/sqlite_test.go
  internal/store/sqlite_windows_test.go
  internal/store/values_test.go
Due: format-go

fix: address task multi-run review findings
  internal/api/client/client_transport_test.go
  internal/api/client/runs.go
  internal/api/core/handlers_smoke_test.go
  internal/cli/daemon_commands_test.go
  internal/cli/root_command_execution_test.go
  internal/core/run/ui/multi_remote.go
  internal/core/run/ui/multi_remote_test.go
  internal/core/workspace/config_test.go
  internal/core/workspace/config_types.go
  internal/daemon/task_multi.go
  internal/daemon/task_multi_test.go
  pkg/compozy/events/kinds/payload_compat_test.go
Due: format-go

release: prepare release v0.2.6 (#171)
  CHANGELOG.md
  RELEASE_BODY.md
  RELEASE_NOTES.md
  package.json
Due: none

docs: release notes
  .release-notes/multi-task-run-1779896020.md
Due: none

release: prepare release v0.2.7 (#173)
  CHANGELOG.md
  RELEASE_BODY.md
  RELEASE_NOTES.md
  package.json
Due: none

ci: support forced release version via workflow_dispatch
  .github/workflows/release.yml
Due: none

ci: support forced release version via workflow_dispatch (#175)
  .github/workflows/release.yml
Due: none

fix: sanitize OpenCode ACP env in Orca shells
  internal/core/agent/client.go
  internal/core/agent/client_test.go
  internal/core/agent/launch_env.go
  internal/core/agent/opencode_env_test.go
  internal/core/agent/registry_launch.go
Due: format-go

fix: keep multi-run task timers ticking
  internal/core/run/ui/multi_remote.go
  internal/core/run/ui/multi_remote_test.go
Due: format-go

fix: keep multi-run task timers ticking (#179)
  internal/core/run/ui/multi_remote.go
  internal/core/run/ui/multi_remote_test.go
Due: format-go

fix: treat model auto as runtime default
  internal/core/agent/client_test.go
  internal/core/agent/registry_launch.go
  internal/core/agent/registry_test.go
  scripts/link-skills.sh
Due: format-go

fix: treat model auto as runtime default (#181)
  internal/core/agent/client_test.go
  internal/core/agent/registry_launch.go
  internal/core/agent/registry_test.go
  scripts/link-skills.sh
Due: format-go

fix: pin claude model via ANTHROPIC_MODEL instead of unsupported session/set_model
  internal/core/agent/client.go
  internal/core/agent/client_test.go
  internal/core/agent/registry_launch.go
  internal/core/agent/registry_specs.go
  internal/core/agent/registry_test.go
Due: format-go

test: use Should-prefixed subtest names in registry launch-env tests
  internal/core/agent/registry_test.go
Due: format-go

fix: pin claude model via ANTHROPIC_MODEL instead of unsupported session/set_model (#187)
  internal/core/agent/client.go
  internal/core/agent/client_test.go
  internal/core/agent/registry_launch.go
  internal/core/agent/registry_specs.go
  internal/core/agent/registry_test.go
Due: format-go

feat: warn when tasks run starts beside active runs in other workspaces
  README.md
  internal/cli/daemon_commands.go
  internal/cli/daemon_commands_test.go
  internal/cli/daemon_exec_test_helpers_test.go
Due: format-go

fix: restart stale daemon when CLI and daemon versions mismatch
  internal/cli/daemon_commands.go
  internal/cli/daemon_commands_test.go
Due: format-go

fix: surface ACP session setup errors in job logs and fail runs fast
  internal/core/agent/client.go
  internal/core/agent/client_test.go
  internal/core/agent/registry_specs.go
  internal/core/run/exec/exec.go
  internal/core/run/exec/exec_test.go
  internal/core/run/executor/execution.go
  internal/core/run/executor/execution_acp_test.go
  internal/core/run/executor/result.go
  internal/core/run/executor/result_test.go
  internal/core/run/executor/runner.go
  internal/core/run/executor/shutdown.go
  internal/core/run/internal/acpshared/command_io.go
  internal/core/run/internal/acpshared/command_io_test.go
  internal/core/run/internal/acpshared/session_exec.go
Due: format-go

fix: address review feedback on daemon version handshake
  internal/cli/daemon_commands.go
  internal/cli/daemon_commands_test.go
Due: format-go

fix: address review feedback on ACP session error surfacing
  internal/core/run/executor/execution_acp_test.go
  internal/core/run/internal/acpshared/command_io.go
  internal/core/run/internal/acpshared/command_io_test.go
Due: format-go

fix: restart stale daemon when CLI and daemon versions mismatch (#191)
  internal/cli/daemon_commands.go
  internal/cli/daemon_commands_test.go
Due: format-go

fix: address review feedback on cross-workspace run warning
  internal/api/client/client_transport_test.go
  internal/api/client/runs.go
  internal/api/contract/types.go
  internal/api/core/handlers.go
  internal/api/core/handlers_test.go
  internal/cli/daemon_commands.go
  internal/cli/daemon_commands_test.go
  internal/daemon/run_manager.go
  internal/store/globaldb/registry.go
  internal/store/globaldb/run_status.go
  internal/store/globaldb/runs_test.go
  pkg/compozy/runs/run.go
Due: format-go

test: wrap session setup err.log tests in Should subtests
  internal/core/run/internal/acpshared/command_io_test.go
Due: format-go

feat: warn when tasks run starts beside active runs in other workspaces (#190)
  README.md
  internal/api/client/client_transport_test.go
  internal/api/client/runs.go
  internal/api/contract/types.go
  internal/api/core/handlers.go
  internal/api/core/handlers_test.go
  internal/cli/daemon_commands.go
  internal/cli/daemon_commands_test.go
  internal/cli/daemon_exec_test_helpers_test.go
  internal/daemon/run_manager.go
  internal/store/globaldb/registry.go
  internal/store/globaldb/run_status.go
  internal/store/globaldb/runs_test.go
  pkg/compozy/runs/run.go
Due: format-go

fix: surface ACP session setup errors in job logs and fail runs fast (#192)
  internal/core/agent/client.go
  internal/core/agent/client_test.go
  internal/core/agent/registry_specs.go
  internal/core/run/exec/exec.go
  internal/core/run/exec/exec_test.go
  internal/core/run/executor/execution.go
  internal/core/run/executor/execution_acp_test.go
  internal/core/run/executor/result.go
  internal/core/run/executor/result_test.go
  internal/core/run/executor/runner.go
  internal/core/run/executor/shutdown.go
  internal/core/run/internal/acpshared/command_io.go
  internal/core/run/internal/acpshared/command_io_test.go
  internal/core/run/internal/acpshared/session_exec.go
Due: format-go

fix: reviews watch command
  internal/api/client/reviews_exec.go
  internal/api/client/reviews_exec_test.go
  internal/api/contract/types.go
  internal/api/core/handlers.go
  internal/cli/daemon_commands.go
  internal/cli/reviews_exec_daemon.go
  internal/cli/reviews_exec_daemon_additional_test.go
  internal/cli/run_observe.go
  internal/core/fetch.go
  internal/core/fetch_test.go
  internal/core/provider/coderabbit/coderabbit.go
  internal/core/provider/coderabbit/coderabbit_test.go
  internal/core/reviews/store.go
  internal/core/reviews/store_test.go
  internal/core/run/ui/review_watch_remote.go
  internal/core/run/ui/review_watch_remote_test.go
  internal/daemon/review_watch.go
  internal/daemon/review_watch_test.go
  openapi/compozy-daemon.json
  web/src/generated/compozy-openapi.d.ts
Due: turbo-lint, format-go

fix: reviews watch
  internal/core/archive.go
  internal/core/archive_test.go
  internal/core/provider/coderabbit/nitpicks.go
  internal/core/provider/coderabbit/nitpicks_test.go
  internal/daemon/transport_service_test.go
Due: format-go

fix: daemon bug
  internal/cli/daemon_commands.go
  internal/cli/daemon_commands_test.go
Due: format-go

fix: review round
  .gitignore
  .oxfmtrc.json
  .oxlintrc.json
  internal/cli/reviews_exec_daemon_additional_test.go
  internal/core/archive.go
  internal/core/archive_test.go
  internal/core/provider/coderabbit/coderabbit.go
  internal/core/provider/coderabbit/coderabbit_test.go
  internal/core/provider/coderabbit/nitpicks_test.go
  internal/core/reviews/store.go
  internal/core/reviews/store_test.go
Due: format-go

Path conditions:
  turbo-lint: any of: \.(js|jsx|ts|tsx)$, but not: (?x)^(
  CHANGELOG.md|
  tools/.*/package\.json|
  bun.lockb|
  node_modules|
)$

  format-go: any of: \.go$, but not: (?x)^(
  CHANGELOG.md|
  tools/.*/package\.json|
  bun.lockb|
  node_modules|
)$

