Repository compozy/compozy: changes, and which pre-commit hooks are due for each by the changed paths.
All: turbo-lint, format-go

turbo-lint:
  name: turbo lint
  description: Run linting via Turborepo
  entry: bun run lint
  language: system
  pass_filenames: false

format-go:
  name: format go
  description: Format Go files using make fmt
  entry: make fmt
  language: system
  pass_filenames: false

fix: constrain update response targets
  internal/api/spec/schema_customizers.go
  internal/api/spec/settings_test.go
  internal/api/spec/settings_update_schema.go
  openapi/compozy.json
  web/src/generated/compozy-openapi.d.ts
  web/src/systems/settings/adapters/settings-sections-api.ts
Due: turbo-lint, format-go

feat: combine settings update actions
  docs/qa/reports/2026-08-24-eng-144.md
  docs/qa/scenarios/MS-settings-update-mutations.md
  internal/api/contract/settings_mutations.go
  internal/api/core/conversions_settings_sections.go
  internal/api/core/settings_test.go
  internal/api/core/settings_update.go
  internal/api/core/settings_update_contract.go
  internal/api/spec/registry_settings.go
  internal/api/spec/schema_customizers.go
  internal/api/spec/settings_test.go
  internal/api/spec/settings_update_schema.go
  internal/daemon/settings_test.go
  internal/daemon/settings_update.go
  openapi/compozy.json
  packages/site/content/docs/getting-started/desktop-app.mdx
  skills/compozy/references/configuration.md
  skills/compozy/references/desktop.md
  skills/compozy/references/runtime-operations.md
  web/e2e/__tests__/os-shell.spec.ts
  web/e2e/__tests__/settings.spec.ts
  web/e2e/fixtures/selectors.ts
  web/src/generated/compozy-openapi.d.ts
  web/src/routes/_app/settings/-general-update-section.tsx
  web/src/routes/_app/settings/__tests__/-general.test.tsx
  web/src/systems/settings/adapters/settings-sections-api.ts
  web/src/systems/settings/components/settings-update-track-row.tsx
  web/src/systems/settings/hooks/__tests__/use-settings-general-page.test.tsx
  web/src/systems/settings/hooks/use-settings-general-page.ts
  web/src/systems/settings/hooks/use-settings-update-mutations.ts
  web/src/systems/settings/index.ts
  web/src/systems/settings/lib/__tests__/update-presentation.test.ts
  web/src/systems/settings/lib/update-presentation.ts
  web/src/systems/settings/mocks/handlers.ts
  web/src/systems/settings/public-types.ts
  web/src/systems/settings/routes/settings-general.stories.tsx
  web/src/systems/settings/types.ts
Due: turbo-lint, format-go

fix: format spawn reaper regression test
  internal/daemon/spawn_reaper_test.go
Due: format-go

fix: normalize session agent selection
  web/src/systems/session/stores/__tests__/session-create-store.test.ts
  web/src/systems/session/stores/session-create-store.ts
Due: turbo-lint

test: name settings target schema cases
  internal/api/spec/settings_test.go
Due: format-go

docs: document session create view model
  web/src/systems/session/hooks/use-session-create-dialog.ts
Due: turbo-lint

fix: remove redundant loop copies
  internal/api/core/settings_test.go
  internal/api/spec/settings_test.go
Due: format-go

fix: add runtime provider tooltips
  docs/qa/reports/2026-08-24-eng-143-runtime-selector.md
  docs/qa/scenarios/ET-web-runtime-selector-minimal-slider.md
  web/src/systems/runtime/components/runtime-selector/__tests__/runtime-selector.test.tsx
  web/src/systems/runtime/components/runtime-selector/model-row.tsx
  web/src/systems/runtime/components/runtime-selector/provider-chips.tsx
Due: turbo-lint

fix: serialize clipboard feedback
  packages/ui/src/components/custom/__tests__/code-block.test.tsx
  packages/ui/src/components/custom/code-block.tsx
Due: turbo-lint

fix: make sessions dock contextual (#468)
  docs/qa/charters/CH-eng-136-dock-contextual-session.md
  docs/qa/reports/2026-08-24-eng-136.md
  docs/qa/scenarios/ET-web-dock-contextual-session-launch.md
  docs/qa/scenarios/ET-web-sessions-catalog-modal.md
  web/e2e/__tests__/attention.spec.ts
  web/e2e/__tests__/os-shell.spec.ts
  web/src/systems/os/components/__tests__/os-dock.test.tsx
  web/src/systems/os/components/desktop-dock.tsx
  web/src/systems/os/components/desktop-shell.tsx
  web/src/systems/os/hooks/use-desktop-dock.ts
  web/src/systems/os/lib/app-catalog.ts
  web/src/systems/session/hooks/__tests__/use-session-create-dialog.test.tsx
  web/src/systems/session/hooks/__tests__/use-session-create.test.tsx
  web/src/systems/session/hooks/use-session-create-dialog.ts
  web/src/systems/session/lib/session-create-draft.ts
  web/src/systems/session/stores/__tests__/session-create-store.test.ts
  web/src/systems/session/stores/session-create-store.ts
Due: turbo-lint

fix: classify settled spawned TTL cleanup correctly (#469)G
  docs/qa/reports/2026-08-24-eng-147-ttl-cleanup.md
  docs/qa/scenarios/RT-session-spawn-wake.md
  docs/qa/scenarios/RT-spawn-ttl-cleanup.md
  internal/daemon/spawn_reaper.go
  internal/daemon/spawn_reaper_hooks.go
  internal/daemon/spawn_reaper_test.go
  internal/session/manager_lifecycle_contract_test.go
  internal/session/session_stop_state.go
  internal/session/stop_cause.go
  internal/session/stop_reason.go
  internal/session/stop_reason_test.go
  skills/compozy/references/runtime-operations.md
Due: format-go

fix: restore reliable session message copy (#460)
  desktop/e2e/_electron/__tests__/shell.spec.ts
  desktop/src/main.ts
  desktop/src/window/application-menu.ts
  desktop/src/window/product-window.ts
  desktop/src/window/security.ts
  docs/qa/reports/2026-08-24-eng-145-session-copy.md
  docs/qa/reports/2026-08-25-eng-145-electron.md
  docs/qa/scenarios/ET-electron-session-copy-debug.md
  docs/qa/scenarios/RT-053.md
  packages/site/app/layout.tsx
  packages/ui/src/components/custom/__tests__/code-block.test.tsx
  packages/ui/src/components/custom/code-block.tsx
  web/src/components/assistant-ui/__tests__/session-thread.test.tsx
  web/src/components/assistant-ui/message-actions.logic.ts
  web/src/components/assistant-ui/message-actions.tsx
Due: turbo-lint

feat: combine settings update actions (#461)
  docs/qa/reports/2026-08-24-eng-144.md
  docs/qa/scenarios/MS-settings-update-mutations.md
  internal/api/contract/settings_mutations.go
  internal/api/core/conversions_settings_sections.go
  internal/api/core/settings_test.go
  internal/api/core/settings_update.go
  internal/api/core/settings_update_contract.go
  internal/api/spec/registry_settings.go
  internal/api/spec/schema_customizers.go
  internal/api/spec/settings_test.go
  internal/api/spec/settings_update_schema.go
  internal/daemon/settings_test.go
  internal/daemon/settings_update.go
  openapi/compozy.json
  packages/site/content/docs/getting-started/desktop-app.mdx
  skills/compozy/references/configuration.md
  skills/compozy/references/desktop.md
  skills/compozy/references/runtime-operations.md
  web/e2e/__tests__/os-shell.spec.ts
  web/e2e/__tests__/settings.spec.ts
  web/e2e/fixtures/selectors.ts
  web/src/generated/compozy-openapi.d.ts
  web/src/routes/_app/settings/-general-update-section.tsx
  web/src/routes/_app/settings/__tests__/-general.test.tsx
  web/src/systems/settings/adapters/settings-sections-api.ts
  web/src/systems/settings/components/settings-update-track-row.tsx
  web/src/systems/settings/hooks/__tests__/use-settings-general-page.test.tsx
  web/src/systems/settings/hooks/use-settings-general-page.ts
  web/src/systems/settings/hooks/use-settings-update-mutations.ts
  web/src/systems/settings/index.ts
  web/src/systems/settings/lib/__tests__/update-presentation.test.ts
  web/src/systems/settings/lib/update-presentation.ts
  web/src/systems/settings/mocks/handlers.ts
  web/src/systems/settings/public-types.ts
  web/src/systems/settings/routes/settings-general.stories.tsx
  web/src/systems/settings/types.ts
Due: turbo-lint, format-go

fix: avoid session tool group key collisions
  web/src/components/assistant-ui/__tests__/session-timeline.logic.test.ts
  web/src/components/assistant-ui/session-timeline-group-identity.ts
  web/src/components/assistant-ui/session-timeline.logic.ts
Due: turbo-lint

docs: refresh eng-135 QA evidence
  docs/qa/reports/2026-08-24-eng-135-session-groups.md
Due: none

fix: harden Goal command boundaries
  internal/cli/session_test.go
  internal/daemon/loop_goal_command.go
  internal/daemon/loop_goal_command_test.go
  internal/store/globaldb/global_db_goal_prompt_common.go
  internal/store/globaldb/global_db_goal_prompt_prepare.go
  internal/store/globaldb/global_db_goal_turn_runtime_integration_test.go
  internal/store/globaldb/goal_sqlc_mapping.go
  internal/store/globaldb/queries/goal_core.sql
  internal/store/globaldb/sqlcgen/goal_core.sql.go
  web/src/systems/session/mocks/__tests__/handlers.test.ts
  web/src/systems/session/mocks/handlers.ts
Due: turbo-lint, format-go

fix: restore profile-aware demo seed
  internal/demoseed/seed.go
  internal/demoseed/seed_integration_test.go
Due: format-go

fix: handle malformed Goal mock requests
  web/src/systems/session/mocks/__tests__/handlers.test.ts
  web/src/systems/session/mocks/handlers.ts
Due: turbo-lint

fix: type Goal mock response boundaries
  web/src/systems/session/mocks/handlers.ts
Due: turbo-lint

fix: start loop reconciliation before runtime boot
  internal/daemon/boot_runtime_foundation.go
  internal/daemon/loop_reconciler_boot.go
Due: format-go

fix: satisfy Goal static checks
  internal/cli/scheduler.go
  internal/cli/session_goal.go
  internal/cli/session_prompt_output.go
  internal/daemon/loop_command_literals.go
  internal/daemon/loop_goal_command.go
  internal/daemon/loop_goal_command_definition.go
  internal/daemon/loop_goal_command_start.go
  internal/daemon/loop_goal_command_test.go
  internal/daemon/loop_runtime_catalog.go
  internal/daemon/native_goal_tools.go
  internal/daemon/native_hook_helpers.go
Due: format-go

fix: serialize global migration fixtures
  internal/store/globaldb/global_db_migration_seed_test.go
  internal/store/globaldb/global_db_migration_test_helpers_test.go
  internal/store/globaldb/global_db_test.go
Due: format-go

fix: satisfy Goal static checks
  internal/api/contract/contract_test.go
  internal/api/core/loops_test.go
  internal/api/spec/goals.go
  internal/daemon/loop_goal_command_test.go
  internal/daemon/native_goal_tools.go
  internal/loop/service_participation.go
  internal/tools/builtin/descriptors.go
  internal/tools/builtin/goal_control_descriptor.go
  internal/tools/builtin/loops.go
  internal/tools/builtin/profiles.go
Due: format-go

docs: record Goal QA teardown evidence
  docs/qa/reports/2026-08-24-eng-148-agent-session-control.md
Due: none

fix: remove legacy Goal runtime reason
  internal/daemon/loop_goal_command_start.go
Due: format-go

test: extend global migration fixture timeout
  internal/store/globaldb/global_db_marketplace_catalog_test.go
  internal/store/globaldb/global_db_resources_test.go
  internal/store/globaldb/global_db_session_input_queue_test.go
  internal/store/globaldb/global_db_test.go
Due: format-go

fix: extend trigger migration test context
  internal/store/globaldb/global_db_trigger_event_migration_test.go
Due: format-go

fix: register Goal control native metadata
  internal/toolmeta/native_entries.go
  internal/toolmeta/registry_test.go
Due: format-go

test: verify repeated session reconciliation
  internal/observe/reconcile_test.go
Due: format-go

fix: preserve worktree binding during reconciliation
  docs/qa/reports/2026-08-23-session-worktree-reconcile.md
  docs/qa/scenarios/RT-session-worktree-lifecycle.md
  internal/observe/reconcile.go
  internal/observe/reconcile_test.go
Due: format-go

test: fix tests
  internal/store/globaldb/global_db_automation_test.go
  internal/store/globaldb/global_db_cost_migration_test.go
  internal/store/globaldb/global_db_dead_entity_test.go
  internal/store/globaldb/global_db_extension_env_test.go
  internal/store/globaldb/global_db_gateway_test.go
  internal/store/globaldb/global_db_marketplace_catalog_test.go
  internal/store/globaldb/global_db_mcp_auth_test.go
  internal/store/globaldb/global_db_migration_test_helpers_test.go
  internal/store/globaldb/global_db_model_catalog_test.go
  internal/store/globaldb/global_db_network_hardening_migration_test.go
  internal/store/globaldb/global_db_resources_test.go
  internal/store/globaldb/global_db_session_input_queue_test.go
  internal/store/globaldb/global_db_session_test.go
  internal/store/globaldb/global_db_test.go
  internal/store/globaldb/global_db_tool_approval_grants_test.go
  internal/store/globaldb/global_db_tool_approval_pending_test.go
  internal/store/globaldb/global_db_trigger_event_migration_test.go
  internal/store/globaldb/global_db_worktree_test.go
Due: format-go

feat: replace environment path with worktree icon (#463)
  docs/qa/reports/2026-08-24-eng-138.md
  docs/qa/scenarios/RT-worktree-web-composer-binding-fork.md
  web/src/systems/session/components/__tests__/session-environment-chip.test.tsx
  web/src/systems/session/components/session-environment-chip.tsx
  web/src/systems/session/components/stories/session-environment-chip.stories.tsx
Due: turbo-lint

fix: add runtime provider tooltips (#464)
  docs/qa/reports/2026-08-24-eng-143-runtime-selector.md
  docs/qa/scenarios/ET-web-runtime-selector-minimal-slider.md
  web/src/systems/runtime/components/runtime-selector/__tests__/runtime-selector.test.tsx
  web/src/systems/runtime/components/runtime-selector/model-row.tsx
  web/src/systems/runtime/components/runtime-selector/provider-chips.tsx
Due: turbo-lint

feat: group session tool calls (#466)
  docs/qa/reports/2026-08-24-eng-135-session-groups.md
  docs/qa/scenarios/ET-web-session-transcript-calm-grammar.md
  web/src/components/assistant-ui/__tests__/session-thread.test.tsx
  web/src/components/assistant-ui/__tests__/session-timeline.logic.test.ts
  web/src/components/assistant-ui/hooks/use-assistant-message-timeline.ts
  web/src/components/assistant-ui/hooks/use-timeline-row-context.ts
  web/src/components/assistant-ui/session-changed-files-row.tsx
  web/src/components/assistant-ui/session-timeline-group-identity.ts
  web/src/components/assistant-ui/session-timeline-render.tsx
  web/src/components/assistant-ui/session-timeline.logic.ts
Due: turbo-lint

fix: route command palette entities directly (#467)
  docs/qa/reports/2026-08-24-eng-131-palette-direct.md
  docs/qa/scenarios/ET-palette-action-panel.md
  docs/qa/scenarios/ET-palette-direct-entity-routes.md
  docs/qa/scenarios/ET-palette-domain-views.md
  docs/qa/scenarios/ET-palette-nested-views.md
  web/e2e/__tests__/os-shell.spec.ts
  web/src/systems/os/components/__tests__/os-palette-view-stack.test.tsx
  web/src/systems/os/components/os-command-palette.tsx
  web/src/systems/os/components/os-palette-view-stack.tsx
  web/src/systems/os/hooks/__tests__/use-os-palette-root.test.tsx
  web/src/systems/os/hooks/use-os-palette-domain-open.ts
  web/src/systems/os/hooks/use-os-palette-domain-search.ts
  web/src/systems/os/hooks/use-os-palette-domain-view.tsx
  web/src/systems/os/hooks/use-os-palette-root.ts
  web/src/systems/os/lib/__tests__/os-palette-domain-search.test.ts
  web/src/systems/os/lib/cmd-palette-row-actions.ts
  web/src/systems/os/lib/os-palette-domain-search.ts
  web/src/systems/os/lib/os-palette-worktree-selection.ts
  web/src/systems/vault/hooks/__tests__/use-vault-page.test.tsx
  web/src/systems/vault/hooks/use-vault-page.ts
  web/src/systems/vault/lib/__tests__/vault-route-search.test.ts
  web/src/systems/vault/lib/vault-route-search.ts
  web/src/systems/vault/routes/vault-page.tsx
Due: turbo-lint

test: align reconciliation fixture with profile scope
  internal/observe/reconcile_test.go
Due: format-go

fix: preserve worktree binding during reconciliation (#456)
  docs/qa/reports/2026-08-23-session-worktree-reconcile.md
  docs/qa/scenarios/RT-session-worktree-lifecycle.md
  internal/observe/reconcile.go
  internal/observe/reconcile_test.go
Due: format-go

Path conditions:
  turbo-lint: any of: \.(js|jsx|ts|tsx)$, but not: (?x)^(
  CHANGELOG.md|
  tools/.*/package\.json|
  bun.lockb|
  node_modules|
)$

  format-go: any of: \.go$, but not: (?x)^(
  CHANGELOG.md|
  tools/.*/package\.json|
  bun.lockb|
  node_modules|
)$

