Repository compozy/compozy: changes, and which pre-commit hooks are due for each by the changed paths.
All: turbo-lint, format-go

turbo-lint:
  name: turbo lint
  description: Run linting via Turborepo
  entry: bun run lint
  language: system
  pass_filenames: false

format-go:
  name: format go
  description: Format Go files using make fmt
  entry: make fmt
  language: system
  pass_filenames: false

docs: integrate work package planning and review skills
  internal/api/core/errors.go
  internal/api/core/workpackages_contract_test.go
  internal/cli/daemon_commands.go
  internal/cli/reviews_exec_daemon.go
  skills/cy-create-tasks/SKILL.md
  skills/cy-create-tasks/references/task-context-schema.md
  skills/cy-create-tasks/references/task-template.md
  skills/cy-create-tasks/references/work-package-planning.md
  skills/cy-review-round/SKILL.md
  skills/cy-review-round/references/review-criteria.md
Due: format-go

feat: persist work package workflow hierarchy
  internal/api/contract/types.go
  internal/api/core/interfaces.go
  internal/core/archive.go
  internal/core/archive_test.go
  internal/core/model/workflow_ops.go
  internal/core/sync.go
  internal/core/sync_test.go
  internal/daemon/query_service.go
  internal/daemon/task_transport_service.go
  internal/daemon/transport_mappers.go
  internal/daemon/transport_service_test.go
  internal/daemon/watchers.go
  internal/daemon/watchers_test.go
  internal/store/globaldb/archive.go
  internal/store/globaldb/migrations.go
  internal/store/globaldb/migrations_test.go
  internal/store/globaldb/registry.go
  internal/store/globaldb/sync.go
  internal/store/globaldb/sync_test.go
Due: format-go

fix: retry demoted initiative child prune on ordinary syncs
  internal/store/globaldb/sync.go
  internal/store/globaldb/sync_test.go
Due: format-go

test: tie daemon run-poll wait budget to test deadline
  internal/daemon/run_manager_test.go
Due: format-go

fix: resolve missing-package placeholder existence inside the sync transaction
  internal/core/sync.go
  internal/store/globaldb/sync.go
  internal/store/globaldb/sync_test.go
Due: format-go

fix: require package_id on structured task run targets
  internal/api/contract/types.go
  internal/api/core/workpackages_contract_test.go
  internal/api/httpapi/openapi_contract_test.go
  openapi/compozy-daemon.json
  web/src/generated/compozy-openapi.d.ts
Due: turbo-lint, format-go

fix: require dependency override confirmation
  internal/api/contract/types.go
  internal/api/core/interfaces.go
  internal/api/httpapi/openapi_contract_test.go
  internal/daemon/query_service_test.go
  internal/daemon/transport_mappers.go
  internal/daemon/transport_service_test.go
  openapi/compozy-daemon.json
  web/src/generated/compozy-openapi.d.ts
  web/src/routes/-workflow-tasks.integration.test.tsx
  web/src/routes/_app/workflows.tsx
  web/src/systems/workflows/components/workflow-inventory-view.test.tsx
  web/src/systems/workflows/components/workflow-inventory-view.tsx
  web/src/systems/workflows/index.ts
Due: turbo-lint, format-go

fix: document mandatory --verification-passed on work package completion bridge
  internal/cli/root_test.go
  skills/cy-review-round/SKILL.md
  skills/cy-review-round/references/review-criteria.md
Due: format-go

fix: constrain single-run/review package_id selectors to WP-NNN pattern
  internal/api/httpapi/openapi_contract_test.go
  openapi/compozy-daemon.json
Due: format-go

fix: project work package review identity into daemon read models
  internal/api/contract/types.go
  internal/core/archive.go
  internal/core/archive_test.go
  internal/core/sync.go
  internal/core/sync_test.go
  internal/daemon/query_service.go
  internal/daemon/task_transport_service.go
  internal/daemon/transport_mappers.go
  internal/daemon/transport_read_models_test.go
  internal/store/globaldb/archive.go
  internal/store/globaldb/archive_test.go
  internal/store/globaldb/migrations.go
  internal/store/globaldb/registry.go
  internal/store/globaldb/sync.go
  internal/store/globaldb/sync_test.go
  openapi/compozy-daemon.json
  web/src/generated/compozy-openapi.d.ts
  web/src/routes/-reviews-flow.integration.test.tsx
  web/src/routes/_app/reviews.tsx
  web/src/systems/reviews/components/reviews-index-view.tsx
  web/src/systems/workflows/components/workflow-inventory-view.tsx
Due: turbo-lint, format-go

fix: keep review-clean evidence accurate when task inspection fails
  internal/core/sync_test.go
  internal/core/work_package_completion.go
Due: format-go

fix: resolve archived work package reads through parent hierarchy
  internal/daemon/query_service.go
  internal/daemon/query_service_archived_package_test.go
  internal/daemon/review_exec_transport_service.go
  internal/daemon/task_transport_service.go
Due: format-go

fix: extract hierarchy active-run guard to satisfy gocyclo limit
  internal/store/globaldb/archive.go
Due: format-go

fix: snapshot archived hierarchy inside tx to prevent fs/db divergence
  internal/store/globaldb/archive.go
  internal/store/globaldb/archive_test.go
Due: format-go

fix: retain work package history across repeated partial syncs
  internal/core/sync.go
  internal/core/sync_test.go
  internal/daemon/transport_read_models_test.go
Due: format-go

fix: resolve package-local review round before daemon
  internal/cli/reviews_exec_daemon.go
  internal/cli/reviews_exec_daemon_additional_test.go
Due: format-go

fix: resolve package review target before round lookup in cy-review-round
  skills/cy-review-round/SKILL.md
Due: none

fix: resolve archived package reads against current parent generation
  internal/daemon/query_service_archived_package_test.go
  internal/daemon/task_transport_service.go
Due: format-go

fix: seed durable placeholder for missing work package on first sync
  internal/core/sync.go
  internal/core/sync_test.go
  internal/daemon/transport_read_models_test.go
Due: format-go

fix: decouple review-clean evidence from task completion state
  internal/core/sync_test.go
  internal/core/work_package_completion.go
Due: format-go

fix: prune plan-removed work packages during partial initiative sync
  internal/core/sync.go
  internal/core/sync_test.go
Due: format-go

fix: prune stale workflow aggregates
  .compozy/tasks/nested-workflows/reviews-001/issue_002.md
  internal/store/globaldb/sync.go
  internal/store/globaldb/sync_test.go
Due: format-go

fix: reject initiative archive when a completed package directory is missing
  internal/core/archive.go
  internal/core/archive_test.go
Due: format-go

fix: block start action for materialized empty work packages in read model
  internal/daemon/transport_mappers.go
  internal/daemon/transport_read_models_test.go
Due: format-go

docs: correct planning E2E completion status
  .compozy/tasks/nested-workflows/reviews-001/issue_006.md
  .compozy/tasks/nested-workflows/task_05.md
Due: none

feat: mark active review target
  docs/design/work-package-picker/review-target-filtered.png
  internal/cli/form.go
  internal/cli/form_test.go
  internal/cli/theme.go
  internal/cli/work_package_picker.go
Due: format-go

feat: refine work package planning and selection
  internal/cli/form_test.go
  internal/cli/skills_preflight.go
  internal/cli/skills_preflight_test.go
  internal/cli/task_runtime_form.go
  internal/cli/tasks_run_wizard.go
  internal/cli/tasks_run_wizard_test.go
  internal/cli/tasks_run_wizard_view.go
  internal/core/workpackages/operational.go
  internal/core/workpackages/plan.go
  internal/core/workpackages/workpackages_test.go
  internal/daemon/query_service.go
  internal/setup/types.go
  internal/setup/verify.go
  internal/setup/verify_test.go
  skills/compozy/SKILL.md
  skills/compozy/references/skills-reference.md
  skills/compozy/references/workflow-guide.md
  skills/cy-create-tasks/SKILL.md
  skills/cy-create-tasks/references/task-context-schema.md
  skills/cy-create-tasks/references/task-template.md
  skills/cy-create-tasks/references/work-package-planning.md
  skills/cy-review-round/SKILL.md
  skills/cy-review-round/references/review-criteria.md
Due: format-go

fix: resolve active work-package reads to the nested package root
  internal/daemon/query_service.go
  internal/daemon/query_service_active_package_test.go
Due: format-go

fix: invalidate workflow inventory after starting a run
  web/src/systems/runs/hooks/use-runs.test.tsx
  web/src/systems/runs/hooks/use-runs.ts
Due: turbo-lint

fix: re-validate work package completion evidence before recording
  internal/core/sync_test.go
  internal/core/work_package_completion.go
Due: format-go

fix: degrade missing _packages root to per-package placeholders
  internal/core/sync_test.go
  internal/core/workpackages/resolver.go
  internal/core/workpackages/workpackages_test.go
Due: format-go

fix: block initiative archive read model when promoted parent has an active run
  internal/daemon/transport_mappers.go
  internal/daemon/transport_read_models_test.go
Due: format-go

fix: invalidate package-scoped workflow views on daemon events
  web/src/systems/app-shell/hooks/use-workspace-events.test.tsx
  web/src/systems/app-shell/hooks/use-workspace-events.ts
Due: turbo-lint

fix: block reviews without implementation
  docs/design/work-package-picker/review-target-filtered.png
  docs/design/work-package-picker/review-target-overview.png
  internal/cli/daemon_commands_test.go
  internal/cli/form.go
  internal/cli/form_test.go
  internal/cli/theme.go
  internal/cli/theme_test.go
  internal/cli/work_package_picker.go
Due: format-go

fix: correct work package picker states
  docs/design/work-package-picker/review-target-filtered.png
  docs/design/work-package-picker/review-target-overview.png
  docs/design/work-package-picker/tasks-run-overview.png
  docs/design/work-package-picker/tasks-run-selected.png
  internal/cli/daemon_commands_test.go
  internal/cli/form.go
  internal/cli/form_test.go
  internal/cli/tasks_run_wizard.go
  internal/cli/tasks_run_wizard_status.go
  internal/cli/tasks_run_wizard_test.go
  internal/cli/work_package_picker.go
Due: format-go

fix: return typed 422 for missing package canonical specs
  internal/daemon/run_manager.go
  internal/daemon/run_manager_package_spec_test.go
Due: format-go

feat: improve work package status pickers
  docs/design/work-package-picker/review-target-filtered.png
  docs/design/work-package-picker/review-target-overview.png
  internal/api/core/handlers.go
  internal/api/core/handlers_service_errors_test.go
  internal/cli/daemon_commands.go
  internal/cli/daemon_commands_test.go
  internal/cli/form.go
  internal/cli/form_test.go
  internal/cli/reviews_exec_daemon.go
  internal/cli/reviews_exec_daemon_additional_test.go
  internal/cli/root_command_execution_test.go
  internal/cli/state.go
  internal/cli/tasks_run_wizard.go
  internal/cli/tasks_run_wizard_status.go
  internal/cli/tasks_run_wizard_test.go
  internal/cli/work_package_picker.go
Due: format-go

fix: skip blocked work packages in group selection
  docs/design/work-package-picker/tasks-run-overview.png
  docs/design/work-package-picker/tasks-run-selected.png
  internal/cli/daemon_commands_test.go
  internal/cli/tasks_run_wizard.go
  internal/cli/tasks_run_wizard_test.go
  internal/cli/work_package_picker.go
Due: format-go

docs: remove nested workflow artifacts
  .compozy/tasks/nested-workflows/reviews-001/issue_002.md
  .compozy/tasks/nested-workflows/reviews-001/issue_006.md
  .compozy/tasks/nested-workflows/task_05.md
Due: none

Path conditions:
  turbo-lint: any of: \.(js|jsx|ts|tsx)$, but not: (?x)^(
  CHANGELOG.md|
  tools/.*/package\.json|
  bun.lockb|
  node_modules|
)$

  format-go: any of: \.go$, but not: (?x)^(
  CHANGELOG.md|
  tools/.*/package\.json|
  bun.lockb|
  node_modules|
)$

