Repository compozy/compozy: changes, and which pre-commit hooks are due for each by the changed paths.
All: turbo-lint, format-go

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit

default_stages:
  - pre-commit

exclude: |
  (?x)^(
    CHANGELOG.md|
    tools/.*/package\.json|
    bun.lockb|
    node_modules|
  )$

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      # - id: trailing-whitespace
      #   args:
      #     - --no-utf8-locale
      - id: end-of-file-fixer
        exclude: '^(CHANGELOG\.md|tools/.*/package\.json|bun\.lockb|node_modules/)'
      - id: check-json
        exclude: '^(tools/.*/package\.json|node_modules/)'
      - id: check-toml
      - id: check-added-large-files
        args:
          - --maxkb=3000
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: detect-private-key
  - repo: local
    hooks:
      - id: turbo-lint
        name: turbo lint
        description: Run linting via Turborepo
        entry: bun run lint
        language: system
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false
      # - id: turbo-type-check
      #   name: turbo type check
      #   description: Run TypeScript checking via Turborepo
      #   entry: bun run type-check
      #   language: system
      #   files: \.(ts|tsx)$
      #   pass_filenames: false
      - id: format-go
        name: format go
        description: Format Go files using make fmt
        entry: make fmt
        language: system
        files: \.go$
        pass_filenames: false
  - repo: https://github.com/lyz-code/yamlfix/
    rev: 1.17.0
    hooks:
      - id: yamlfix
        args:
          - -c
          - .yamlfix.toml
        exclude: ^cluster/.*$

fix: coalesce redundant ACP tool updates (#442)
  docs/qa/charters/CH-acp-tool-update-burst.md
  docs/qa/journeys/J-15-operate-session-via-cli-api.md
  docs/qa/reports/2026-08-20-acp-tool-update-burst.md
  docs/qa/scenarios/RT-acp-tool-update-burst.md
  docs/superpowers/plans/2026-08-20-acp-tool-call-overflow.md
  internal/acp/agent_process_prompt.go
  internal/acp/client_prompt_contract_test.go
  internal/acp/client_test_support_test.go
  internal/acp/handlers_test.go
  internal/acp/types_test.go
Due: format-go

feat: add command palette execution UX
  docs/qa/scenarios/ET-palette-action-panel.md
  docs/qa/scenarios/ET-palette-inline-args-confirmation.md
  web/src/lib/user-feedback.ts
  web/src/systems/os/components/os-command-palette.tsx
  web/src/systems/os/components/os-palette-action-panel.tsx
  web/src/systems/os/components/os-palette-arg-dropdown.tsx
  web/src/systems/os/components/os-palette-args-bar.tsx
  web/src/systems/os/components/os-palette-command-row.tsx
  web/src/systems/os/components/os-palette-confirmation.tsx
  web/src/systems/os/components/os-palette-domain-sections.tsx
  web/src/systems/os/components/os-palette-entity-sections.tsx
  web/src/systems/os/components/os-palette-footer.tsx
  web/src/systems/os/components/os-palette-results.tsx
  web/src/systems/os/components/os-palette-root-frame.tsx
  web/src/systems/os/components/stories/os-palette-execution.stories.tsx
  web/src/systems/os/contexts/worktree-dialog-actions-context.tsx
  web/src/systems/os/hooks/__tests__/os-interaction-hooks.test.tsx
  web/src/systems/os/hooks/__tests__/use-os-palette-root.test.tsx
  web/src/systems/os/hooks/use-cmd-palette-dispatch.ts
  web/src/systems/os/hooks/use-desktop-overlays.ts
  web/src/systems/os/hooks/use-desktop-shell-body.ts
  web/src/systems/os/hooks/use-os-palette-execution.ts
  web/src/systems/os/hooks/use-os-palette-root.ts
  web/src/systems/os/hooks/use-os-palette-surface.ts
  web/src/systems/os/lib/__tests__/cmd-palette-args.test.ts
  web/src/systems/os/lib/__tests__/cmd-palette-dispatch.test.ts
  web/src/systems/os/lib/__tests__/cmd-palette-row-actions.test.ts
  web/src/systems/os/lib/cmd-palette-args.ts
  web/src/systems/os/lib/cmd-palette-client-op-context.ts
  web/src/systems/os/lib/cmd-palette-dispatch.ts
  web/src/systems/os/lib/cmd-palette-feedback.ts
  web/src/systems/os/lib/cmd-palette-icons.ts
  web/src/systems/os/lib/cmd-palette-row-actions.ts
  web/src/systems/os/mocks/cmd-palette-fixtures.ts
  web/src/systems/os/stores/cmd-palette-execution-store.ts
Due: turbo-lint

test: align migration boundaries after rebase
  internal/store/globaldb/global_db_tool_approval_pending_test.go
  internal/store/migrate_streams_test.go
Due: format-go

fix: restore desktop shell context order (BUG-20260813-desktop-shell-context-order)
  web/src/systems/os/components/desktop-shell.tsx
Due: turbo-lint

test: assert rotated client token parity
  internal/api/udsapi/transport_parity_integration_test.go
Due: format-go

fix: read scoped window settings cache (BUG-20260729-session-window-cross-tab-focus)
  web/src/systems/os/hooks/__tests__/window-manager-runtime.test.ts
  web/src/systems/os/runtime/window-manager-runtime-core.ts
Due: turbo-lint

feat: QA Plan and Session Charters #11
  docs/qa/charters/CH-palette-approval-exactly-once.md
  docs/qa/charters/CH-palette-catalog-revision-truth.md
  docs/qa/charters/CH-palette-domain-views-grammar.md
  docs/qa/charters/CH-palette-global-summon-truth.md
  docs/qa/charters/CH-palette-keymap-conflict-truth.md
  docs/qa/charters/CH-palette-make-it-mine.md
  docs/qa/charters/CH-palette-membership-vs-health.md
  docs/qa/charters/CH-palette-sessions-landing-canary.md
  docs/qa/charters/CH-palette-view-session-isolation.md
  docs/qa/journeys/J-command-os-from-palette.md
  docs/qa/journeys/J-extension-dev-lifecycle.md
  docs/qa/journeys/J-operate-command-palette.md
  docs/qa/scenarios/ET-agent-command-invoke.md
  docs/qa/scenarios/ET-agent-palette-config-parity.md
  docs/qa/scenarios/ET-desktop-global-summon.md
  docs/qa/scenarios/ET-extension-palette-contributions.md
  docs/qa/scenarios/ET-palette-action-panel.md
  docs/qa/scenarios/ET-palette-agent-fallback.md
  docs/qa/scenarios/ET-palette-domain-views.md
  docs/qa/scenarios/ET-palette-inline-args-confirmation.md
  docs/qa/scenarios/ET-palette-nested-views.md
  docs/qa/scenarios/ET-palette-personalization-lifecycle.md
  docs/qa/scenarios/ET-palette-registry-driven-root.md
  docs/qa/scenarios/ET-palette-sessions-view-switch.md
  docs/qa/scenarios/ET-web-command-palette-shortcuts.md
  docs/qa/scenarios/ET-window-tab-palette-search.md
Due: none

fix: preserve required wire arrays (BUG-0017)
  internal/api/contract/cmd_palette.go
  internal/api/contract/contract_test.go
  internal/api/contract/windowmanager_conversions.go
Due: format-go

docs: record command palette QA regressions
  docs/qa/bugs/BUG-0017.md
  docs/qa/bugs/BUG-20260729-session-window-cross-tab-focus.md
  docs/qa/bugs/BUG-20260813-desktop-shell-context-order.md
  docs/qa/reports/2026-08-20-command-palette.md
  docs/qa/scenarios/ET-palette-registry-driven-root.md
  docs/qa/scenarios/ET-web-desktop-shell-lifecycle.md
Due: none

fix: react
  docs/qa/bugs/BUG-20260813-desktop-shell-context-order.md
  docs/qa/scenarios/ET-web-desktop-shell-lifecycle.md
  web/src/systems/os/hooks/__tests__/use-desktop-chrome.test.tsx
  web/src/systems/os/hooks/use-desktop-chrome.ts
  web/src/systems/os/hooks/use-focused-session-id.ts
  web/src/systems/os/lib/__tests__/desktop-chrome-client-context.test.ts
  web/src/systems/os/lib/desktop-chrome-client-context.ts
Due: turbo-lint

fix: react improvements
  web/src/systems/os/components/os-palette-arg-dropdown.tsx
  web/src/systems/os/components/os-palette-args-bar.tsx
  web/src/systems/os/components/os-palette-confirmation.tsx
  web/src/systems/os/hooks/use-cmd-palette-program-view.tsx
  web/src/systems/os/lib/cmd-palette-view-budget-scheduler.ts
  web/src/systems/os/lib/cmd-palette-view-search-scheduler.ts
  web/src/systems/os/stores/__tests__/cmd-palette-view-program-store.test.ts
  web/src/systems/os/stores/cmd-palette-view-program-store.ts
  web/src/systems/settings/components/layouts/window-manager-global-hotkeys.tsx
  web/src/systems/settings/hooks/use-window-manager-alias-editor.ts
  web/src/systems/settings/hooks/use-window-manager-binding-mutations.ts
  web/src/systems/settings/hooks/use-window-manager-shortcut-recorder.ts
  web/src/systems/settings/stores/window-manager-alias-editor-store.ts
  web/src/systems/settings/stores/window-manager-shortcut-recorder-store.ts
Due: turbo-lint

fix: rebase issues
  internal/api/core/cmd_palette_test.go
  internal/api/core/window_manager_ws_errors.go
  internal/api/spec/cmd_palette.go
  internal/api/spec/cmd_palette_test.go
  internal/cli/client_cmd_palette_errors.go
  internal/cli/doc_test.go
  internal/cli/hooks.go
  internal/cmdpalette/catalog_test.go
  internal/cmdpalette/corecmds/constants.go
  internal/cmdpalette/corecmds/settings.go
  internal/cmdpalette/corecmds/shell.go
  internal/cmdpalette/view_session_events.go
  internal/config/release_config_test.go
  internal/config/window_manager.go
  internal/daemon/cmd_palette_bindings_test.go
  internal/daemon/cmd_palette_view_patch_provider.go
  internal/daemon/cmd_palette_view_patches_test.go
  internal/daemon/window_manager_boot.go
  internal/extension/host_api_view_test.go
  internal/extension/view_source_test.go
  internal/settings/section_window_manager_update.go
  internal/settings/window_manager_section.go
  internal/store/migrate_streams_test.go
  internal/subprocess/transport_inbound.go
  internal/tools/approval_async.go
  internal/windowmanager/clients.go
  internal/windowmanager/global_shortcuts.go
  internal/windowmanager/service_contract_test.go
Due: format-go

fix: address runtime recovery reviews
  internal/daemon/agent_skill_catalog.go
  internal/daemon/agent_skill_resources_test.go
  internal/daemon/subprocess_health_escalator_test.go
  internal/loop/node_liveness.go
  internal/observe/agent_resolution.go
  internal/observe/observer.go
  internal/observe/observer_session_events.go
  internal/observe/observer_session_metadata.go
  internal/observe/observer_test.go
  internal/session/interfaces.go
  internal/session/manager_permissions_test.go
  internal/session/manager_start_session.go
  internal/session/notifier.go
  internal/session/session.go
  internal/session/session_meta.go
  internal/store/globaldb/global_db_loop_task_attention.go
  internal/store/globaldb/global_db_loop_task_recovery.go
  internal/store/globaldb/global_db_loop_task_recovery_metadata.go
  internal/store/globaldb/global_db_task_test.go
  internal/store/session_meta_types.go
  packages/site/content/docs/sessions/lifecycle.mdx
Due: format-go

fix: resolve agent runtime recovery regressions
  internal/daemon/loop_action_liveness_integration_helpers_test.go
  internal/daemon/loop_action_runtime.go
  internal/daemon/loop_goal_managed_runtime_integration_test.go
  internal/daemon/observer_factory.go
  internal/daemon/runtime_dependencies.go
  internal/daemon/runtime_deps.go
  internal/daemon/subprocess_health_escalator.go
  internal/daemon/subprocess_health_escalator_test.go
  internal/daemon/task_runtime_test.go
  internal/observe/agent_resolution.go
  internal/observe/helpers_test.go
  internal/observe/observer.go
  internal/observe/observer_session_events.go
  internal/observe/observer_test.go
  internal/session/manager_prompt_contract_test.go
  internal/session/manager_prompt_failure_barrier.go
  internal/session/manager_prompt_process_exit.go
  internal/store/globaldb/global_db_loop_task_recovery.go
  internal/store/globaldb/global_db_loop_test.go
  internal/store/globaldb/global_db_task_aux.go
  internal/store/globaldb/global_db_task_force.go
  internal/store/globaldb/global_db_task_mutation_runs.go
  internal/store/globaldb/global_db_task_reservation.go
  internal/store/globaldb/global_db_task_test.go
  internal/task/force_ops_request_normalization.go
  internal/task/manager_run_terminal_settlement.go
  internal/task/manager_test.go
  internal/task/run_mutation.go
  packages/site/content/docs/loops/failure-handling.mdx
  packages/site/content/docs/operations/daemon.mdx
  packages/site/content/docs/sessions/lifecycle.mdx
  skills/compozy/references/loops.md
  skills/compozy/references/tasks-and-orchestration.md
  web/src/systems/session/lib/__tests__/session-prompt-chat-transport.test.ts
  web/src/systems/session/lib/session-prompt-chat-transport.ts
Due: turbo-lint, format-go

fix: review round
  .agents/skills/ship-pr/SKILL.md
  .agents/skills/ship-pr/references/coderabbit-watch.md
  .agents/skills/ship-pr/references/commit-conventions.md
  .agents/skills/ship-pr/references/explore-impact.md
  .agents/skills/ship-pr/references/pr-description.md
  .agents/skills/ship-pr/references/qa-artifacts.md
  .agents/skills/ship-pr/references/release-notes.md
  .agents/skills/ship-pr/scripts/detect-tooling.sh
  docs/qa/charters/CH-extension-agent-observation.md
  docs/qa/charters/CH-loop-managed-session-death.md
  docs/qa/charters/CH-loop-task-recovery-binding.md
  docs/qa/charters/CH-oversized-loop-result.md
  docs/qa/journeys/J-13-follow-a-live-run.md
  docs/qa/journeys/J-complete-partial-loop.md
  docs/qa/journeys/J-extension-dev-lifecycle.md
  docs/qa/journeys/J-recover-loop-node-failure.md
  docs/qa/reports/2026-08-20-pr-447-runtime-recovery.md
  docs/qa/scenarios/ET-extension-agent-observer-resolution.md
  docs/qa/scenarios/LP-crash-death-resume.md
  docs/qa/scenarios/LP-oversized-action-result-fails.md
  docs/qa/scenarios/RT-018.md
  docs/qa/scenarios/RT-subprocess-health-escalation.md
  docs/qa/scenarios/TA-033.md
  internal/daemon/agent_skill_catalog.go
  internal/daemon/agent_skill_resources_test.go
  internal/observe/agent_resolution.go
  internal/observe/helpers_test.go
  internal/observe/observer_session_events.go
  internal/observe/observer_session_metadata.go
  internal/observe/observer_test.go
  internal/session/interfaces.go
Due: format-go

fix: preserve run-agent session lifecycle
  docs/qa/charters/CH-run-agent-session-lifecycle.md
  docs/qa/journeys/J-complete-partial-loop.md
  docs/qa/reports/2026-08-20-run-agent-session-lifecycle.md
  docs/qa/scenarios/LP-run-agent-session-lifecycle.md
  internal/daemon/loop_runtime_adapters_test.go
  internal/loop/action_runagent.go
  internal/loop/action_test.go
  internal/loop/coordinator_action.go
  internal/loop/coordinator_test.go
  internal/store/globaldb/global_db_goal_binding_integration_test.go
  internal/store/globaldb/global_db_task_claim_complete.go
  internal/store/globaldb/global_db_task_runagent_cleanup.go
  packages/site/content/docs/loops/dsl-reference.mdx
  skills/compozy/references/loops.md
Due: format-go

fix: stop run-agent sessions after terminal settlement
  docs/qa/charters/CH-run-agent-terminal-cleanup.md
  docs/qa/reports/2026-08-20-run-agent-terminal-cleanup.md
  docs/qa/scenarios/LP-run-agent-session-lifecycle.md
  internal/config/release_config_test.go
  internal/store/globaldb/global_db_goal_binding_integration_test.go
  internal/store/globaldb/global_db_loop_cancel_lane.go
  internal/store/globaldb/global_db_task_claim_complete.go
  internal/store/globaldb/global_db_task_coordinator_intents.go
  internal/store/globaldb/global_db_task_coordinator_settlement.go
  internal/store/globaldb/global_db_task_runagent_cleanup.go
  packages/site/content/docs/loops/dsl-reference.mdx
  skills/compozy/references/loops.md
Due: format-go

fix: address run-agent lifecycle review
  internal/config/release_config_test.go
  internal/store/globaldb/global_db_goal_binding_integration_test.go
  internal/store/globaldb/global_db_loop_cancel_lane.go
  internal/store/globaldb/global_db_task_coordinator.go
  internal/store/globaldb/global_db_task_coordinator_intents.go
  internal/store/globaldb/global_db_task_runagent_cleanup.go
Due: format-go

fix: preserve run-agent session lifecycle (#446)
  docs/qa/charters/CH-run-agent-session-lifecycle.md
  docs/qa/charters/CH-run-agent-terminal-cleanup.md
  docs/qa/journeys/J-complete-partial-loop.md
  docs/qa/reports/2026-08-20-run-agent-session-lifecycle.md
  docs/qa/reports/2026-08-20-run-agent-terminal-cleanup.md
  docs/qa/scenarios/LP-run-agent-session-lifecycle.md
  internal/config/release_config_test.go
  internal/daemon/loop_runtime_adapters_test.go
  internal/loop/action_runagent.go
  internal/loop/action_test.go
  internal/loop/coordinator_action.go
  internal/loop/coordinator_test.go
  internal/store/globaldb/global_db_goal_binding_integration_test.go
  internal/store/globaldb/global_db_loop_cancel_lane.go
  internal/store/globaldb/global_db_task_claim_complete.go
  internal/store/globaldb/global_db_task_coordinator.go
  internal/store/globaldb/global_db_task_coordinator_intents.go
  internal/store/globaldb/global_db_task_coordinator_settlement.go
  internal/store/globaldb/global_db_task_runagent_cleanup.go
  packages/site/content/docs/loops/dsl-reference.mdx
  skills/compozy/references/loops.md
Due: format-go

fix: use migration timeout for tail replay
  internal/store/migrate_streams_test.go
Due: format-go

docs: release notes
  .release-notes/a-burst-of-tool-updates-no-longer-drops-the-provider-1787324898.md
  .release-notes/agents-operate-commands-without-the-ui-1787324895.md
  .release-notes/ask-the-agent-when-nothing-matches-1787324894.md
  .release-notes/every-domain-opens-inside-the-palette-1787324891.md
  .release-notes/extensions-contribute-commands-and-views-1787324893.md
  .release-notes/four-runtime-regressions-around-prompts-permissions-and-settlement-1787324901.md
  .release-notes/managed-run-agent-workers-keep-their-lineage-and-let-go-1787324899.md
  .release-notes/pin-rename-and-bind-any-command-1787324892.md
  .release-notes/recover-a-loop-owned-task-run-without-losing-its-place-1787324900.md
  .release-notes/removing-the-suggested-home-folder-no-longer-breaks-the-desktop-1787324897.md
  .release-notes/the-command-palette-runs-compozyos-1787324890.md
  .release-notes/the-interface-speaks-plain-words-at-a-legible-size-1787324896.md
Due: none
