Repository compozy/compozy: changes, and which pre-commit hooks are due for each by the changed paths.
All: turbo-lint, format-go

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit

default_stages:
  - pre-commit

exclude: |
  (?x)^(
    CHANGELOG.md|
    tools/.*/package\.json|
    bun.lockb|
    node_modules|
  )$

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      # - id: trailing-whitespace
      #   args:
      #     - --no-utf8-locale
      - id: end-of-file-fixer
        exclude: '^(CHANGELOG\.md|tools/.*/package\.json|bun\.lockb|node_modules/)'
      - id: check-json
        exclude: '^(tools/.*/package\.json|node_modules/)'
      - id: check-toml
      - id: check-added-large-files
        args:
          - --maxkb=3000
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: detect-private-key
  - repo: local
    hooks:
      - id: turbo-lint
        name: turbo lint
        description: Run linting via Turborepo
        entry: bun run lint
        language: system
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false
      # - id: turbo-type-check
      #   name: turbo type check
      #   description: Run TypeScript checking via Turborepo
      #   entry: bun run type-check
      #   language: system
      #   files: \.(ts|tsx)$
      #   pass_filenames: false
      - id: format-go
        name: format go
        description: Format Go files using make fmt
        entry: make fmt
        language: system
        files: \.go$
        pass_filenames: false
  - repo: https://github.com/lyz-code/yamlfix/
    rev: 1.17.0
    hooks:
      - id: yamlfix
        args:
          - -c
          - .yamlfix.toml
        exclude: ^cluster/.*$

test: supply valid origins in acknowledgement fixtures
  docs/qa/reports/2026-09-10-pr-607-611-integration.md
  internal/observe/overview_test.go
Due: format-go

fix: restore finished notifications and timeline disclosure behavior
  docs/qa/reports/2026-09-10-pr-607-611-integration.md
  internal/api/core/attention_notification_sources.go
  internal/api/core/session_attention_test.go
  web/src/components/assistant-ui/session-timeline-fold.ts
  web/src/components/assistant-ui/session-timeline.logic.ts
  web/src/components/assistant-ui/session-tool-group-row.tsx
  web/src/components/assistant-ui/session-work-entry.tsx
  web/src/systems/loops/routes/loop-runs.stories.tsx
  web/src/systems/os/components/__tests__/desktop-menubar.test.tsx
  web/src/systems/session/components/thinking-block.tsx
Due: turbo-lint, format-go

test: label unscoped attention story notifications
  docs/qa/reports/2026-09-10-pr-607-611-integration.md
  web/src/systems/loops/routes/loop-runs.stories.tsx
Due: turbo-lint

test: retain explicit global scope in attention fixtures
  docs/qa/reports/2026-09-10-pr-607-611-integration.md
  web/src/systems/loops/routes/loop-runs.stories.tsx
Due: turbo-lint

test: create escalation fixtures through their lifecycle
  docs/qa/reports/2026-09-10-pr-607-611-integration.md
  internal/observe/overview_test.go
Due: format-go

fix: synchronize attention delivery and durable loop state
  docs/qa/reports/2026-09-10-pr-607-611-integration.md
  internal/cli/cli_integration_test.go
  internal/loop/roster.go
  internal/loop/roster_test.go
  web/src/systems/os/hooks/use-attention-notifier.tsx
  web/src/systems/os/hooks/use-desktop-shell-body.ts
  web/src/systems/session/hooks/__tests__/use-session-catalog-streams.test.tsx
  web/src/systems/session/hooks/use-session-catalog-streams.ts
Due: turbo-lint, format-go

test: project escalation events in acknowledgement fixtures
  docs/qa/reports/2026-09-10-pr-607-611-integration.md
  internal/observe/overview_test.go
Due: format-go

test: persist canonical escalation status in overview fixtures
  docs/qa/reports/2026-09-10-pr-607-611-integration.md
  internal/observe/overview_test.go
Due: format-go

build: prepare release v0.3.0 (#584)
  CHANGELOG.md
  RELEASE_BODY.md
  RELEASE_NOTES.md
  go.mod
  go.sum
Due: none

desktop channel publish 0.3.0-beta.25
  desktop/generation.json
  desktop/latest-linux.yml
  desktop/latest-mac.yml
Due: none

docs: publish eight reviewed engineering articles
  docs/qa/reports/2026-09-11-blog-publication.md
  docs/qa/scenarios/ET-compozy-public-brand-navigation.md
  packages/site/components/blog/mdx-components.ts
  packages/site/components/blog/prose.tsx
  packages/site/content/blog/posts/autonomous-coding-agent-setup.mdx
  packages/site/content/blog/posts/crewai-alternatives.mdx
  packages/site/content/blog/posts/cursor-vs-claude-code.mdx
  packages/site/content/blog/posts/defining-agent-sessions-compozyos.mdx
  packages/site/content/blog/posts/langchain-alternatives-production-ai-agents.mdx
  packages/site/content/blog/posts/langgraph-alternatives.mdx
  packages/site/content/blog/posts/orca-vs-openhands.mdx
  packages/site/content/blog/posts/what-is-an-os-for-ai-agents.mdx
Due: turbo-lint

fix: reconcile stopped session queues and deletion failures
  docs/_memory/change-impact.md
  docs/qa/scenarios/RT-014.md
  docs/qa/scenarios/RT-020.md
  internal/api/httpapi/handlers_test.go
  internal/daemon/loop_goal_command_e2e_integration_test.go
  internal/session/manager_busy_input_test.go
  internal/session/manager_delete.go
  internal/session/manager_delete_test.go
  internal/session/manager_pending_input.go
  skills/compozy/references/runtime-operations.md
  web/e2e/__tests__/session-hardening.spec.ts
  web/src/hooks/routes/__tests__/use-session-page-controls.test.tsx
  web/src/hooks/routes/use-session-busy-input-controls.ts
  web/src/hooks/routes/use-session-page-controls.ts
  web/src/systems/session/hooks/__tests__/use-session-actions.test.tsx
  web/src/systems/session/hooks/use-session-actions.ts
  web/src/systems/session/hooks/use-session-inputs.ts
  web/src/systems/session/hooks/use-session-runtime-extensions.ts
  web/src/systems/session/lib/__tests__/query-options.test.ts
  web/src/systems/session/lib/query-options.ts
Due: turbo-lint, format-go

fix: retry pending stop settlement before session deletion
  docs/_memory/change-impact.md
  internal/api/httpapi/handlers_test.go
  internal/daemon/loop_goal_command_test.go
  internal/session/manager_busy_input_test.go
  internal/session/manager_delete_staging.go
  internal/session/manager_delete_test.go
  skills/compozy/references/runtime-operations.md
  web/src/systems/session/hooks/__tests__/use-session-actions.test.tsx
Due: turbo-lint, format-go

docs: bulk sessions design
  .agents/skills/exa-search/SKILL.md
  docs/design/opendesign/README.md
  docs/design/opendesign/sessions-bulk-actions/index.html
  docs/qa/reports/2026-09-11-blog-rework.md
  docs/qa/scenarios/ET-compozy-public-brand-navigation.md
Due: none

test: repair stopped session lifecycle CI evidence
  .github/workflows/ci.yml
  internal/api/httpapi/handlers_test.go
  web/e2e/__tests__/session-hardening.spec.ts
Due: turbo-lint, format-go

feat: render the indeterminate checkbox state
  packages/ui/src/components/__tests__/checkbox.test.tsx
  packages/ui/src/components/checkbox.tsx
  packages/ui/src/components/stories/checkbox.stories.tsx
Due: turbo-lint

fix: settle recovered stops before locking deletion staging
  internal/session/manager_delete.go
  internal/session/manager_delete_staging.go
  web/e2e/__tests__/session-hardening.spec.ts
Due: turbo-lint, format-go

docs: map session deletion QA to CI evidence
  docs/qa/scenarios/RT-014.md
  docs/qa/scenarios/RT-020.md
Due: none

test: await asynchronous queue data in the populated story
  web/src/systems/session/components/assistant-ui/stories/__tests__/session-thread-queue.stories.test.tsx
Due: turbo-lint

fix: load persisted stop receipts before deletion recovery
  internal/session/manager_delete.go
  internal/session/manager_delete_test.go
Due: format-go

feat: select, stop, archive, and delete sessions in bulk
  web/e2e/__tests__/session-bulk-actions.spec.ts
  web/src/systems/os/apps/agents/agent-detail-location.tsx
  web/src/systems/os/apps/session/session-window-content.tsx
  web/src/systems/os/apps/session/session-window-empty.tsx
  web/src/systems/os/components/__tests__/sessions-modal.test.tsx
  web/src/systems/os/components/desktop-shell.tsx
  web/src/systems/session/components/__tests__/session-delete-dialog.test.tsx
  web/src/systems/session/components/__tests__/session-list.test.tsx
  web/src/systems/session/components/session-delete-dialog-set.tsx
  web/src/systems/session/components/session-delete-dialog.tsx
  web/src/systems/session/components/session-list/session-list-row.tsx
  web/src/systems/session/components/session-list/session-list-selection-bar.tsx
  web/src/systems/session/components/session-list/session-list-thread.tsx
  web/src/systems/session/components/session-list/session-list.tsx
  web/src/systems/session/components/stories/session-bulk-fixtures.ts
  web/src/systems/session/components/stories/session-delete-dialog.stories.tsx
  web/src/systems/session/components/stories/session-sidebar.stories.tsx
  web/src/systems/session/hooks/__tests__/use-session-actions.test.tsx
  web/src/systems/session/hooks/__tests__/use-session-selection.test.ts
  web/src/systems/session/hooks/use-session-lifecycle-actions.ts
  web/src/systems/session/hooks/use-session-selection.ts
  web/src/systems/session/lib/session-batch.ts
Due: turbo-lint

docs: record session bulk actions qa and impact
  docs/_memory/change-impact.md
  docs/qa/scenarios/ET-web-session-list-bulk-actions.md
  docs/qa/scenarios/ET-web-session-sidebar-threads.md
Due: none

fix: keep partial delete feedback in the dialog
  docs/qa/scenarios/ET-web-session-list-bulk-actions.md
  web/src/systems/session/hooks/__tests__/use-session-actions.test.tsx
  web/src/systems/session/hooks/use-session-lifecycle-actions.ts
Due: turbo-lint

test: use the graph failure fixture for loop state coverage
  web/e2e/__tests__/loop-run.spec.ts
Due: turbo-lint

fix: count active sessions in bulk action copy
  docs/design/opendesign/sessions-bulk-actions/index.html
  docs/qa/scenarios/ET-web-session-list-bulk-actions.md
  web/src/systems/session/components/__tests__/session-delete-dialog.test.tsx
  web/src/systems/session/components/__tests__/session-list.test.tsx
  web/src/systems/session/components/session-delete-dialog-set.tsx
  web/src/systems/session/components/session-list/session-list-selection-bar.tsx
Due: turbo-lint

fix: hide internal Goal prompts from the operator queue
  docs/_memory/change-impact.md
  docs/qa/reports/2026-09-11-issue-615-goal-queue.md
  docs/qa/scenarios/RT-019.md
  docs/qa/scenarios/RT-059.md
  internal/api/httpapi/handlers_test.go
  internal/store/globaldb/global_db_session_input_clear.go
  internal/store/globaldb/global_db_session_input_queue_terminal.go
  internal/store/globaldb/global_db_session_input_queue_test.go
  internal/store/globaldb/queries/session_input.sql
  internal/store/globaldb/queries/session_input_clear.sql
  internal/store/globaldb/sqlcgen/session_input.sql.go
  internal/store/globaldb/sqlcgen/session_input_clear.sql.go
  packages/site/content/docs/sessions/control-plane.mdx
  skills/compozy/references/extension-authoring.md
  skills/compozy/references/runtime-operations.md
  web/src/systems/session/components/assistant-ui/stories/session-thread-queue.stories.tsx
  web/src/systems/session/components/assistant-ui/stories/session-thread-story-queue.ts
  web/src/systems/session/lib/__tests__/queued-prompt.test.ts
Due: turbo-lint, format-go

fix: pin en-US number and currency formatting in cost producers
  web/src/lib/__tests__/cost-provenance.test.ts
  web/src/lib/cost-provenance.ts
  web/src/systems/session/components/__tests__/session-inspector.test.tsx
  web/src/systems/session/components/goal/session-goal-strip.tsx
  web/src/systems/session/components/session-inspector-sections.tsx
  web/src/systems/tasks/components/task-external-result.tsx
Due: turbo-lint

feat: Web gateway capability model and loopback classification #02
  web/src/lib/gateway-access-signal.ts
  web/src/systems/gateway/index.ts
  web/src/systems/gateway/lib/__tests__/gateway-capabilities.test.ts
  web/src/systems/gateway/lib/__tests__/gateway-loopback.test.ts
  web/src/systems/gateway/lib/gateway-capabilities.ts
  web/src/systems/gateway/lib/gateway-loopback.ts
  web/src/systems/gateway/stores/__tests__/gateway-capability-store.test.ts
  web/src/systems/gateway/stores/gateway-capability-store.ts
Due: turbo-lint

feat: Add stable loopback wire codes to the shared error payload #01
  internal/api/core/errors.go
  internal/api/core/errors_diagnostic_payload.go
  internal/api/core/errors_test.go
  internal/api/httpapi/gateway_routes_test.go
  internal/api/httpapi/handlers_test.go
  internal/api/httpapi/middleware.go
  internal/api/httpapi/middleware_refac_test.go
  internal/api/httpapi/server_test.go
Due: format-go

fix: recover stopped session deletion and queue polling (#614)
  .github/workflows/ci.yml
  docs/_memory/change-impact.md
  docs/qa/scenarios/RT-014.md
  docs/qa/scenarios/RT-020.md
  internal/api/httpapi/handlers_test.go
  internal/daemon/loop_goal_command_e2e_integration_test.go
  internal/daemon/loop_goal_command_test.go
  internal/session/manager_busy_input_test.go
  internal/session/manager_delete.go
  internal/session/manager_delete_test.go
  internal/session/manager_pending_input.go
  skills/compozy/references/runtime-operations.md
  web/e2e/__tests__/loop-run.spec.ts
  web/e2e/__tests__/session-hardening.spec.ts
  web/src/hooks/routes/__tests__/use-session-page-controls.test.tsx
  web/src/hooks/routes/use-session-busy-input-controls.ts
  web/src/hooks/routes/use-session-page-controls.ts
  web/src/systems/session/components/assistant-ui/stories/__tests__/session-thread-queue.stories.test.tsx
  web/src/systems/session/hooks/__tests__/use-session-actions.test.tsx
  web/src/systems/session/hooks/use-session-actions.ts
  web/src/systems/session/hooks/use-session-inputs.ts
  web/src/systems/session/hooks/use-session-runtime-extensions.ts
  web/src/systems/session/lib/__tests__/query-options.test.ts
  web/src/systems/session/lib/query-options.ts
Due: turbo-lint, format-go

fix: recover owned task work after supervised silence stops
  .github/workflows/ci.yml
  docs/_memory/change-impact.md
  docs/qa/scenarios/TA-action-run-liveness.md
  internal/daemon/boot_session_repair.go
  internal/daemon/loop_action_death_resume.go
  internal/daemon/session_work_recovery.go
  internal/daemon/task_runtime_boot.go
  internal/session/manager_lifecycle_contract_test.go
  internal/session/manager_stop_finalization.go
  internal/session/manager_stop_integration_test.go
  internal/session/manager_types.go
  internal/session/stop_recovered_finalization.go
  internal/session/supervised_work_recovery.go
  internal/store/globaldb/global_db_loop_supervised_recovery.go
  internal/store/globaldb/global_db_loop_task_recovery.go
  internal/store/globaldb/global_db_task_supervised_recovery.go
  internal/store/globaldb/global_db_task_test.go
  internal/task/supervised_recovery.go
  packages/site/content/docs/sessions/health.mdx
  skills/compozy/references/loops.md
  skills/compozy/references/runtime-operations.md
  skills/compozy/references/tasks-and-orchestration.md
Due: format-go

fix: address bulk session review findings
  docs/_memory/change-impact.md
  docs/design/opendesign/sessions-bulk-actions/index.html
  docs/qa/scenarios/ET-web-session-list-bulk-actions.md
  web/src/systems/session/components/__tests__/session-delete-dialog.test.tsx
  web/src/systems/session/components/__tests__/session-list.test.tsx
  web/src/systems/session/components/session-delete-dialog-set.tsx
  web/src/systems/session/components/session-delete-dialog.tsx
  web/src/systems/session/components/session-list/session-list-row.tsx
  web/src/systems/session/components/session-list/session-list-selection-bar.tsx
  web/src/systems/session/components/session-list/session-list.tsx
  web/src/systems/session/hooks/use-session-lifecycle-actions.ts
  web/src/systems/session/hooks/use-session-selection.ts
  web/src/systems/session/lib/session-batch.ts
Due: turbo-lint

docs: record mobile-surface-truth cross-surface impact
  docs/_memory/change-impact.md
Due: none

fix: peer-review round 1 remediation
  internal/api/core/errors_test.go
  web/src/lib/__tests__/gateway-access-signal.test.ts
  web/src/lib/gateway-access-signal.ts
  web/src/systems/gateway/stores/__tests__/gateway-capability-store.test.ts
  web/src/systems/gateway/stores/gateway-access-store.ts
  web/src/systems/gateway/stores/gateway-capability-store.ts
  web/src/systems/os/apps/tasks/__tests__/task-detail-topbar.test.tsx
  web/src/systems/os/apps/tasks/__tests__/task-run-topbar.test.tsx
  web/src/systems/os/apps/tasks/__tests__/tasks-catalog-location.test.tsx
  web/src/systems/os/apps/tasks/task-detail-topbar.tsx
  web/src/systems/os/apps/tasks/task-run-topbar.tsx
  web/src/systems/os/apps/tasks/tasks-catalog-location.tsx
  web/src/systems/profiles/components/__tests__/profile-switcher.test.tsx
  web/src/systems/profiles/components/profile-switcher-menu.tsx
  web/src/systems/profiles/components/profile-switcher-slot.tsx
  web/src/systems/profiles/components/profile-switcher.tsx
  web/src/systems/profiles/hooks/use-profile-switcher.ts
  web/src/systems/profiles/hooks/use-profiles-palette-view.tsx
  web/src/systems/settings/hooks/use-settings-hooks-page.ts
  web/src/systems/tasks/components/task-run-page-head.tsx
Due: turbo-lint, format-go

fix: overlay the sessions rail on the touch tier
  web/src/systems/os/apps/session/__tests__/session-window-content.test.tsx
  web/src/systems/os/apps/session/session-window-content.tsx
Due: turbo-lint

fix: peer-review round 2 remediation
  internal/api/core/errors_test.go
  web/src/systems/os/apps/tasks/__tests__/task-detail-location.test.tsx
  web/src/systems/os/apps/tasks/__tests__/tasks-catalog-location.test.tsx
  web/src/systems/os/apps/tasks/task-detail-location.tsx
  web/src/systems/tasks/components/__tests__/task-overview-panel.test.tsx
  web/src/systems/tasks/components/__tests__/task-properties-rail.test.tsx
  web/src/systems/tasks/components/task-now-attention-states.tsx
  web/src/systems/tasks/components/task-now-contract.ts
  web/src/systems/tasks/components/task-properties-rail.tsx
  web/src/systems/tasks/hooks/__tests__/use-task-detail-page.test.tsx
  web/src/systems/tasks/hooks/use-task-detail-page.ts
Due: turbo-lint, format-go

fix: peer-review round 3 remediation
  web/src/systems/os/apps/tasks/__tests__/task-editor-dialogs.test.tsx
  web/src/systems/os/apps/tasks/__tests__/use-task-detail-location.test.tsx
  web/src/systems/os/apps/tasks/task-editor-dialogs.tsx
  web/src/systems/os/apps/tasks/use-task-detail-location.ts
  web/src/systems/tasks/hooks/__tests__/use-task-detail-page.test.tsx
  web/src/systems/tasks/hooks/__tests__/use-task-editor-state.test.tsx
  web/src/systems/tasks/hooks/use-task-create-state.ts
  web/src/systems/tasks/hooks/use-task-edit-state.ts
Due: turbo-lint

docs: rename delivery branch references to mobile-surface-truth
  docs/_memory/change-impact.md
  docs/qa/reports/2026-09-11-mobile-surface-truth.md
  docs/qa/scenarios/APP-mobile-touch-tier.md
  docs/qa/scenarios/RT-gateway-operator-surface-truth.md
  docs/qa/scenarios/RT-gateway-paired-device.md
Due: none

test: walk mobile-surface-truth qa charters and settle scenarios
  docs/qa/bugs/BUG-20260911-session-rail-docks-on-touch-tier.md
  docs/qa/charters/CH-gateway-paired-operator-surface.md
  docs/qa/charters/CH-mobile-shell-touch-tier.md
  docs/qa/reports/2026-09-11-mobile-surface-truth.md
  docs/qa/scenarios/APP-mobile-touch-tier.md
  docs/qa/scenarios/RT-gateway-operator-surface-truth.md
  docs/qa/scenarios/RT-gateway-paired-device.md
Due: none

feat: Mobile ergonomics design pass and shell-chrome implementation #04
  docs/design/opendesign/mobile-surface-truth/mobile-surface-truth-shell-390.html
  packages/ui/src/exports/foundation.ts
  web/index.html
  web/src/components/assistant-ui/scroll-to-bottom-pill.tsx
  web/src/systems/os/apps/session/session-window-content.tsx
  web/src/systems/os/components/desktop-menubar.tsx
  web/src/systems/os/components/global-scope-toggle.tsx
  web/src/systems/os/components/os-menubar.tsx
  web/src/systems/os/components/os-win-layer.tsx
  web/src/systems/os/components/stories/os-menubar.stories.tsx
  web/src/systems/os/hooks/use-menubar-actions.ts
  web/src/systems/os/lib/os-types.ts
  web/src/systems/os/lib/palette-view-inset.ts
Due: turbo-lint
