Repository compozy/compozy: changes, and which pre-commit hooks are due for each by the changed paths.
All: turbo-lint, format-go

turbo-lint:
  name: turbo lint
  description: Run linting via Turborepo
  entry: bun run lint
  language: system
  pass_filenames: false

format-go:
  name: format go
  description: Format Go files using make fmt
  entry: make fmt
  language: system
  pass_filenames: false

fix: finalize daemon web ui rebase
  internal/api/client/runs.go
  internal/api/contract/routes.go
  internal/api/core/interfaces.go
  internal/api/httpapi/transport_integration_test.go
  internal/daemon/host_runtime_test.go
Due: format-go

feat: implement daemon web UI audit phases 1-4
  .compozy/tasks/daemon-web-ui/audit_2026-04-23.md
  bun.lock
  internal/api/httpapi/security_headers.go
  internal/api/httpapi/server.go
  internal/api/httpapi/static.go
  packages/ui/package.json
  packages/ui/src/components/alert.tsx
  packages/ui/src/components/markdown.tsx
  packages/ui/src/components/metric.tsx
  packages/ui/src/components/skeleton.tsx
  packages/ui/src/index.ts
  packages/ui/src/tokens.css
  packages/ui/tests/tokens.test.ts
  web/src/main.tsx
  web/src/routes/_app/runs_.$runId.tsx
  web/src/systems/dashboard/components/dashboard-view.tsx
  web/src/systems/dashboard/hooks/use-dashboard.ts
  web/src/systems/memory/components/workflow-memory-view.tsx
  web/src/systems/reviews/components/review-detail-view.tsx
  web/src/systems/runs/components/run-detail-view.tsx
  web/src/systems/runs/components/run-event-feed.tsx
  web/src/systems/runs/components/runs-list-view.tsx
  web/src/systems/runs/hooks/use-run-event-feed.ts
  web/src/systems/runs/hooks/use-runs.ts
  web/src/systems/runs/index.ts
  web/src/systems/runs/lib/event-store.ts
  web/src/systems/spec/components/workflow-spec-view.tsx
  web/src/systems/workflows/components/task-detail-view.tsx
Due: turbo-lint, format-go

fix: review findings from web UI audit implementation
  packages/ui/src/components/markdown.tsx
  packages/ui/src/components/skeleton.tsx
  packages/ui/src/tokens.css
  packages/ui/tests/tokens.test.ts
  web/src/routes/_app/runs_.$runId.tsx
  web/src/systems/runs/components/runs-list-view.test.tsx
  web/src/systems/runs/components/runs-list-view.tsx
  web/src/systems/runs/hooks/use-run-event-feed.test.tsx
  web/src/systems/runs/hooks/use-run-event-feed.ts
  web/src/systems/runs/hooks/use-run-stream.test.tsx
  web/src/systems/runs/hooks/use-run-stream.ts
  web/src/systems/spec/components/workflow-spec-view.test.tsx
  web/src/systems/spec/components/workflow-spec-view.tsx
Due: turbo-lint

refactor: improve visual polish and UX quality across web dashboard
  packages/ui/src/components/app-shell.tsx
  packages/ui/src/components/button.tsx
  packages/ui/src/components/empty-state.tsx
  packages/ui/src/components/markdown.tsx
  packages/ui/src/components/metric.tsx
  packages/ui/src/components/section-heading.tsx
  packages/ui/src/components/skeleton.tsx
  packages/ui/src/components/status-badge.tsx
  packages/ui/src/components/stories/surface-card.stories.tsx
  packages/ui/src/components/surface-card.tsx
  packages/ui/src/index.ts
  packages/ui/src/tokens.css
  packages/ui/tests/primitives.test.tsx
  packages/ui/tests/tokens.test.ts
  web/src/routes/_app/index.tsx
  web/src/routes/_app/memory_.$slug.tsx
  web/src/routes/_app/reviews_.$slug.$round.$issueId.tsx
  web/src/routes/_app/runs_.$runId.tsx
  web/src/routes/_app/workflows_.$slug.spec.tsx
  web/src/routes/_app/workflows_.$slug.tasks.tsx
  web/src/routes/_app/workflows_.$slug.tasks_.$taskId.tsx
  web/src/styles.css
  web/src/systems/app-shell/components/app-shell-layout.tsx
  web/src/systems/app-shell/components/workspace-onboarding.tsx
  web/src/systems/app-shell/components/workspace-picker.tsx
  web/src/systems/dashboard/components/dashboard-view.test.tsx
  web/src/systems/dashboard/components/dashboard-view.tsx
  web/src/systems/memory/components/memory-index-view.tsx
  web/src/systems/memory/components/workflow-memory-view.tsx
  web/src/systems/reviews/components/review-detail-view.tsx
  web/src/systems/reviews/components/reviews-index-view.tsx
  web/src/systems/runs/components/run-detail-view.tsx
  web/src/systems/runs/components/run-event-feed.tsx
  web/src/systems/runs/components/runs-list-view.tsx
  web/src/systems/spec/components/workflow-spec-view.tsx
  web/src/systems/workflows/components/task-board-view.tsx
  web/src/systems/workflows/components/task-detail-view.tsx
  web/src/systems/workflows/components/workflow-inventory-view.tsx
  web/src/test/setup.ts
Due: turbo-lint

fix: web-polish review batch 001
  .compozy/tasks/web-polish/reviews-001/_meta.md
  .compozy/tasks/web-polish/reviews-001/issue_001.md
  .compozy/tasks/web-polish/reviews-001/issue_002.md
  .compozy/tasks/web-polish/reviews-001/issue_003.md
  .compozy/tasks/web-polish/reviews-001/issue_004.md
  .compozy/tasks/web-polish/reviews-001/issue_005.md
  .compozy/tasks/web-polish/reviews-001/issue_006.md
  .compozy/tasks/web-polish/reviews-001/issue_007.md
  .compozy/tasks/web-polish/reviews-001/issue_008.md
  .compozy/tasks/web-polish/reviews-001/issue_009.md
  .compozy/tasks/web-polish/reviews-001/issue_010.md
  .compozy/tasks/web-polish/reviews-001/issue_011.md
  .compozy/tasks/web-polish/reviews-001/issue_012.md
  .compozy/tasks/web-polish/reviews-001/issue_013.md
  internal/api/httpapi/security_headers.go
  internal/api/httpapi/security_headers_test.go
  internal/daemon/query_service.go
  packages/ui/src/components/alert.tsx
  packages/ui/src/components/markdown.tsx
  packages/ui/src/components/metric.tsx
  packages/ui/src/components/skeleton.tsx
  packages/ui/src/components/status-badge.tsx
  packages/ui/tests/primitives.test.tsx
  web/src/systems/app-shell/components/workspace-onboarding.test.tsx
  web/src/systems/app-shell/components/workspace-onboarding.tsx
  web/src/systems/reviews/components/review-detail-view.test.tsx
  web/src/systems/reviews/components/review-detail-view.tsx
  web/src/systems/spec/components/workflow-spec-view.test.tsx
Due: turbo-lint, format-go

docs: update
  .compozy/tasks/web-polish/reviews-001/_meta.md
Due: none

fix(make): require minimum Bun version, not exact pin
  Makefile
Due: none

fix(daemon): use runModeTask for goconst
  internal/daemon/query_documents.go
  internal/daemon/query_service.go
Due: format-go

fix: keep ACP activity alive during updates
  internal/core/run/internal/acpshared/session_handler.go
  internal/core/run/internal/acpshared/session_handler_test.go
  internal/core/run/internal/runshared/buffers.go
  internal/core/run/internal/runshared/buffers_test.go
Due: format-go

fix: normalize codex model prefix
  internal/core/agent/registry_launch.go
  internal/core/agent/registry_overlay_test.go
  internal/core/agent/registry_test.go
Due: format-go

test: wrap activity assertions in subtests
  internal/core/run/internal/acpshared/session_handler_test.go
  internal/core/run/internal/runshared/buffers_test.go
Due: format-go

fix: compare updates against release versions
  internal/update/check.go
  internal/update/check_test.go
Due: format-go

test: address review test conventions
  internal/core/agent/registry_overlay_test.go
  internal/core/agent/registry_test.go
  internal/core/run/internal/acpshared/session_handler_test.go
Due: format-go

fix: require git describe hashes
  internal/update/check.go
  internal/update/check_test.go
Due: format-go

fix: publish initialized sdk state before response
  sdk/extension/extension.go
  sdk/extension/internal_test.go
Due: format-go

fix: bootstrap codex model config
  internal/core/agent/registry_specs.go
  internal/core/agent/registry_test.go
Due: format-go

test: add live codex model smoke check
  internal/core/agent/codex_live_test.go
Due: format-go

feat: default codex to gpt-5.5 with acp guard
  README.md
  internal/cli/reusable_agents_doc_examples_test.go
  internal/cli/root_command_execution_test.go
  internal/core/agent/client.go
  internal/core/agent/registry_compat.go
  internal/core/agent/registry_launch.go
  internal/core/agent/registry_specs.go
  internal/core/agent/registry_test.go
  internal/core/model/constants.go
  internal/core/run/executor/execution_acp_integration_test.go
Due: format-go

fix: address coderabbit codex model review
  internal/cli/daemon_commands_test.go
  internal/cli/root_test.go
  internal/core/agent/codex_live_test.go
  internal/core/agent/registry_compat.go
  internal/core/agent/registry_launch.go
  internal/core/agent/registry_overlay_test.go
  internal/core/agent/registry_test.go
Due: format-go

fix: address coderabbit codex startup review
  internal/core/agent/client.go
  internal/core/agent/client_test.go
  internal/core/agent/registry_test.go
Due: format-go

fix: resolve PR #127 review issues
  internal/core/agent/registry_overlay_test.go
  sdk/extension/extension.go
  sdk/extension/internal_test.go
Due: format-go

fix: infer task type during migrate
  internal/api/core/errors.go
  internal/api/core/handlers_service_errors_test.go
  internal/api/core/internal_helpers_test.go
  internal/cli/migrate_command_test.go
  internal/cli/root_command_execution_test.go
  internal/core/migration/migrate.go
  internal/core/migration/migrate_test.go
  internal/core/reviews/parser.go
  internal/core/reviews/parser_test.go
  internal/core/tasks/parser.go
  internal/core/tasks/parser_test.go
  internal/store/globaldb/sync.go
  internal/store/globaldb/sync_test.go
Due: format-go

fix: resolve PR #129 review issues
  ai-docs/reviews-pr-129/_summary.md
  ai-docs/reviews-pr-129/issues/001-issue.md
  ai-docs/reviews-pr-129/issues/002-issue.md
  ai-docs/reviews-pr-129/issues/003-issue.md
  ai-docs/reviews-pr-129/issues/004-issue.md
  ai-docs/reviews-pr-129/issues/005-issue.md
  internal/api/core/handlers_service_errors_test.go
  internal/core/migration/migrate.go
  internal/core/migration/migrate_test.go
  internal/core/reviews/parser.go
  internal/core/reviews/parser_test.go
  internal/core/tasks/parser.go
  internal/core/tasks/parser_test.go
Due: format-go

fix: address remaining PR #129 review issue
  ai-docs/reviews-pr-129/_summary.md
  ai-docs/reviews-pr-129/issues/001-issue.md
  internal/core/migration/migrate.go
  internal/core/migration/migrate_test.go
Due: format-go

fix: a lot of fixes
  .codex/ledger/2026-04-24-MEMORY-completed-task-errors.md
  .codex/ledger/2026-04-24-MEMORY-daemon-task-detail.md
  .codex/ledger/2026-04-24-MEMORY-dev-proxy-localhost.md
  .codex/ledger/2026-04-24-MEMORY-readme-daemon-diagram.md
  README.md
  imgs/how-it-works-flow.png
  imgs/how-it-works-flow.svg
  imgs/how-it-works.drawio
  internal/api/httpapi/browser_middleware.go
  internal/api/httpapi/browser_middleware_test.go
  internal/api/httpapi/dev_proxy_test.go
  internal/api/httpapi/security_headers.go
  internal/api/httpapi/server.go
  internal/api/httpapi/transport_integration_test.go
  internal/core/sync.go
  internal/core/sync_test.go
  internal/daemon/query_service.go
  internal/daemon/query_service_test.go
  internal/daemon/transport_read_models_test.go
  internal/daemon/transport_service_test.go
  web/src/lib/query-client.ts
  web/src/routes/-reviews-flow.integration.test.tsx
  web/src/routes/-spec-memory-flow.integration.test.tsx
  web/src/systems/app-shell/components/app-shell-container.test.tsx
  web/src/systems/app-shell/components/app-shell-container.tsx
  web/src/systems/app-shell/components/app-shell-layout.tsx
  web/src/systems/app-shell/components/workspace-onboarding.tsx
  web/src/systems/app-shell/components/workspace-picker.tsx
Due: turbo-lint, format-go

refactor: improvements
  .codex/ledger/2026-04-23-MEMORY-release-qa.md
  .codex/release-qa-2026-04-23/qa/issues/BUG-001.md
  .codex/release-qa-2026-04-23/qa/issues/QA-NOTE-001.md
  .codex/release-qa-2026-04-23/qa/screenshots/daemon-node-api-task-detail.png
  .codex/release-qa-2026-04-23/qa/test-cases/SMOKE-001.md
  .codex/release-qa-2026-04-23/qa/test-cases/TC-FUNC-001.md
  .codex/release-qa-2026-04-23/qa/test-cases/TC-FUNC-002.md
  .codex/release-qa-2026-04-23/qa/test-cases/TC-INT-001.md
  .codex/release-qa-2026-04-23/qa/test-cases/TC-SEC-001.md
  .codex/release-qa-2026-04-23/qa/test-cases/TC-UI-001.md
  .codex/release-qa-2026-04-23/qa/test-plans/release-hardening-test-plan.md
  .codex/release-qa-2026-04-23/qa/test-plans/release-regression.md
  .codex/release-qa-2026-04-23/qa/verification-report.md
  .codex/release-qa-2026-04-24/qa/screenshots/task-ledger-runs.png
  .codex/release-qa-2026-04-24/qa/verification-report.md
  internal/core/agent/registry_specs.go
  internal/core/agent/registry_test.go
  internal/core/run/executor/execution_acp_integration_test.go
  packages/ui/src/tokens.css
Due: format-go

fix: remove unused codex bootstrap helper
  internal/core/agent/registry_specs.go
Due: format-go

feat: simplify repo-level default setup overrides
  internal/cli/setup.go
  internal/cli/setup_test.go
  internal/cli/skills_preflight.go
  internal/cli/skills_preflight_test.go
  internal/core/agent/registry_specs.go
  internal/core/model/runtime_config.go
  internal/core/workspace/config.go
  internal/core/workspace/config_test.go
  internal/core/workspace/config_types.go
Due: format-go

fix: remediate improvments review batch
  .compozy/tasks/improvments/reviews-001/issue_001.md
  .compozy/tasks/improvments/reviews-001/issue_002.md
  .compozy/tasks/improvments/reviews-001/issue_003.md
  .compozy/tasks/improvments/reviews-001/issue_004.md
  .compozy/tasks/improvments/reviews-001/issue_005.md
  .compozy/tasks/improvments/reviews-001/issue_006.md
  .compozy/tasks/improvments/reviews-001/issue_007.md
  .compozy/tasks/improvments/reviews-001/issue_008.md
  .compozy/tasks/improvments/reviews-001/issue_009.md
  .compozy/tasks/improvments/reviews-001/issue_010.md
  .compozy/tasks/improvments/reviews-001/issue_011.md
  .compozy/tasks/improvments/reviews-001/issue_012.md
  .compozy/tasks/improvments/reviews-001/issue_013.md
  .compozy/tasks/improvments/reviews-001/issue_014.md
  .compozy/tasks/improvments/reviews-001/issue_015.md
  .compozy/tasks/improvments/reviews-001/issue_016.md
  .compozy/tasks/improvments/reviews-001/issue_017.md
  .compozy/tasks/improvments/reviews-001/issue_018.md
  .compozy/tasks/improvments/reviews-001/issue_019.md
  .compozy/tasks/improvments/reviews-001/issue_020.md
  imgs/how-it-works.drawio
  internal/api/client/client_contract_test.go
  internal/api/client/runs.go
  internal/api/contract/contract_test.go
  internal/api/core/handlers.go
  internal/api/core/handlers_smoke_test.go
  internal/api/core/handlers_test.go
  internal/api/core/interfaces.go
  internal/api/httpapi/browser_middleware.go
  internal/api/httpapi/browser_middleware_test.go
  internal/api/httpapi/dev_proxy_test.go
  internal/cli/commands_test.go
  internal/cli/form.go
  internal/cli/form_test.go
  internal/cli/root_command_execution_test.go
  internal/cli/skills_preflight_test.go
  internal/core/extension/manager_test.go
  internal/core/extension/review_provider_runtime_test.go
  internal/core/fetch_test.go
Due: format-go

fix: resolve coderabbit review batch 021-040
  .compozy/tasks/improvments/reviews-001/issue_021.md
  .compozy/tasks/improvments/reviews-001/issue_022.md
  .compozy/tasks/improvments/reviews-001/issue_023.md
  .compozy/tasks/improvments/reviews-001/issue_024.md
  .compozy/tasks/improvments/reviews-001/issue_025.md
  .compozy/tasks/improvments/reviews-001/issue_026.md
  .compozy/tasks/improvments/reviews-001/issue_027.md
  .compozy/tasks/improvments/reviews-001/issue_028.md
  .compozy/tasks/improvments/reviews-001/issue_029.md
  .compozy/tasks/improvments/reviews-001/issue_030.md
  .compozy/tasks/improvments/reviews-001/issue_031.md
  .compozy/tasks/improvments/reviews-001/issue_032.md
  .compozy/tasks/improvments/reviews-001/issue_033.md
  .compozy/tasks/improvments/reviews-001/issue_034.md
  .compozy/tasks/improvments/reviews-001/issue_035.md
  .compozy/tasks/improvments/reviews-001/issue_036.md
  .compozy/tasks/improvments/reviews-001/issue_037.md
  .compozy/tasks/improvments/reviews-001/issue_038.md
  .compozy/tasks/improvments/reviews-001/issue_039.md
  .compozy/tasks/improvments/reviews-001/issue_040.md
  internal/core/migration/migrate.go
  internal/core/reviews/store.go
  internal/core/reviews/store_test.go
  internal/core/run/executor/execution_acp_integration_test.go
  internal/core/run/executor/execution_test.go
  internal/core/sync.go
  internal/core/sync_test.go
  internal/core/workspace/config_test.go
  internal/daemon/host.go
  internal/daemon/query_documents.go
  internal/daemon/query_service.go
  internal/daemon/run_manager_test.go
  internal/daemon/run_snapshot_compact.go
  internal/daemon/run_transcript.go
  internal/daemon/run_transcript_test.go
  internal/daemon/shutdown.go
  internal/daemon/workspace_events.go
  internal/daemon/workspace_refresh.go
  internal/store/globaldb/migrations.go
  internal/store/globaldb/read_queries.go
Due: format-go

fix: resolve coderabbit review batch 001
  .compozy/tasks/improvments/reviews-001/issue_041.md
  .compozy/tasks/improvments/reviews-001/issue_042.md
  .compozy/tasks/improvments/reviews-001/issue_043.md
  .compozy/tasks/improvments/reviews-001/issue_044.md
  .compozy/tasks/improvments/reviews-001/issue_045.md
  .compozy/tasks/improvments/reviews-001/issue_046.md
  .compozy/tasks/improvments/reviews-001/issue_047.md
  .compozy/tasks/improvments/reviews-001/issue_048.md
  .compozy/tasks/improvments/reviews-001/issue_049.md
  .compozy/tasks/improvments/reviews-001/issue_050.md
  .compozy/tasks/improvments/reviews-001/issue_051.md
  internal/store/globaldb/registry.go
  internal/store/globaldb/sync_test.go
  pkg/compozy/runs/integration_test.go
  web/src/routes/-workflow-tasks.integration.test.tsx
  web/src/routes/_app/stories/-runs.$runId.stories.tsx
  web/src/routes/_app/workflows_.$slug.tasks_.$taskId.tsx
  web/src/systems/app-shell/components/app-shell-container.test.tsx
  web/src/systems/app-shell/components/app-shell-container.tsx
  web/src/systems/runs/components/run-transcript-panel.test.tsx
  web/src/systems/runs/components/run-transcript-panel.tsx
  web/src/systems/workflows/components/workflow-inventory-view.test.tsx
  web/src/systems/workflows/components/workflow-inventory-view.tsx
Due: turbo-lint, format-go

docs: update
  .codex/ledger/2026-04-29-MEMORY-tools-refac-task-02.md
  .codex/ledger/2026-04-29-MEMORY-tools-registry-qa.md
  .codex/ledger/2026-04-30-MEMORY-autonomy-hard-cut.md
  .codex/ledger/2026-04-30-MEMORY-tools-docs-alignment.md
  .codex/ledger/2026-04-30-MEMORY-tools-refac-task-02.md
  .codex/ledger/2026-04-30-MEMORY-tools-refac-task-04.md
  .codex/ledger/2026-04-30-MEMORY-tools-refac-task-06.md
  .compozy/tasks/improvments/reviews-001/_meta.md
  bun.lock
  packages/ui/package.json
  packages/ui/src/components/logo.tsx
  packages/ui/src/index.ts
  web/public/symbol.png
  web/src/systems/app-shell/components/app-shell-layout.tsx
  web/src/systems/app-shell/components/workspace-onboarding.tsx
  web/src/systems/app-shell/components/workspace-picker.tsx
Due: turbo-lint

Path conditions:
  turbo-lint: any of: \.(js|jsx|ts|tsx)$, but not: (?x)^(
  CHANGELOG.md|
  tools/.*/package\.json|
  bun.lockb|
  node_modules|
)$

  format-go: any of: \.go$, but not: (?x)^(
  CHANGELOG.md|
  tools/.*/package\.json|
  bun.lockb|
  node_modules|
)$

