Repository compozy/compozy: changes, and which pre-commit hooks are due for each by the changed paths.
All: turbo-lint, format-go

turbo-lint:
  name: turbo lint
  description: Run linting via Turborepo
  entry: bun run lint
  language: system
  pass_filenames: false

format-go:
  name: format go
  description: Format Go files using make fmt
  entry: make fmt
  language: system
  pass_filenames: false

fix: fixing mcp calls
  docs/_memory/change-impact.md
  docs/qa/reports/2026-09-17-clarify-keepalive.md
  docs/qa/scenarios/RT-session-clarification-roundtrip.md
  internal/mcp/hosted_proxy.go
  internal/mcp/hosted_proxy_progress.go
  internal/mcp/hosted_proxy_progress_test.go
  internal/mcp/hosted_proxy_test.go
Due: format-go

fix: reverting daytona upgrade
  internal/sandbox/daytona/sidecar_assets/compozy-daytona-sidecar-linux-amd64.gz
  internal/sandbox/daytona/sidecar_assets/compozy-daytona-sidecar-linux-arm64.gz
Due: none

build: ignore local knowledge-graph index output
  .gitignore
Due: none

fix: advance role fallback when the provider refuses an accepted turn
  docs/_memory/change-impact.md
  internal/daemon/auto_title_generator.go
  internal/daemon/auto_title_runtime_test.go
  internal/daemon/checkpoint_summary_summarizer.go
  internal/daemon/role_fallback.go
  internal/daemon/role_fallback_test.go
Due: format-go

fix: bound role fallback to a refusal with no output
  docs/_memory/change-impact.md
  internal/daemon/auto_title_generator.go
  internal/daemon/auto_title_runtime_test.go
  internal/daemon/checkpoint_summary_summarizer.go
  internal/daemon/role_fallback_test.go
Due: format-go

docs: state the fallback boundary the role chains now enforce
  packages/site/content/docs/configuration/config-toml.mdx
Due: none

fix: honor workspace default in session launcher
  docs/_memory/change-impact.md
  docs/qa/scenarios/MS-web-session-simple-advanced-launch.md
  packages/site/content/docs/workspaces/config-overlays.mdx
  web/e2e/__tests__/session-onboarding.spec.ts
  web/src/systems/session/hooks/__tests__/use-session-create.test.tsx
  web/src/systems/session/hooks/use-session-create.ts
Due: turbo-lint

fix: preserve whitespace in session transcripts
  docs/_memory/change-impact.md
  docs/qa/scenarios/ET-web-session-transcript-calm-grammar.md
  internal/session/query_store.go
  internal/store/sessiondb/queries/transcript_projection.sql
  internal/store/sessiondb/session_sqlite.go
  internal/store/sessiondb/sqlcgen/transcript_projection.sql.go
  internal/store/sessiondb/transcript_projection_upgrade.go
  internal/store/sessiondb/transcript_projection_upgrade_test.go
  internal/transcript/projection_types.go
  internal/transcript/transcript_parse.go
  internal/transcript/transcript_test.go
  internal/transcript/transcript_tool_result.go
  web/src/systems/session/components/__tests__/message-markdown.test.tsx
Due: turbo-lint, format-go

fix: repair padded raw transcript chunks
  docs/_memory/change-impact.md
  docs/qa/reports/2026-09-23-session-transcript-whitespace.md
  docs/qa/scenarios/ET-web-session-transcript-calm-grammar.md
  docs/qa/scenarios/RT-session-transcript-whitespace.md
  internal/store/sessiondb/transcript_projection_upgrade.go
  internal/store/sessiondb/transcript_projection_upgrade_test.go
  internal/testutil/acpmock/testdata/browser_transcript_whitespace_fixture.json
  web/e2e/__tests__/session-transcript-whitespace.spec.ts
Due: turbo-lint, format-go

test: reuse the E2E lane binary in extension tests
  internal/daemon/daemon_extension_authoring_e2e_integration_test.go
Due: format-go

test: prebuild a compatible extension E2E binary
  internal/daemon/daemon_extension_authoring_e2e_integration_test.go
  magefiles/defaults.go
  magefiles/e2e.go
Due: format-go

test: verify default-agent launch and prebuild E2E binary
  docs/qa/scenarios/MS-web-session-simple-advanced-launch.md
  internal/daemon/daemon_extension_authoring_e2e_integration_test.go
  magefiles/defaults.go
  magefiles/e2e.go
  web/e2e/__tests__/session-onboarding.spec.ts
Due: turbo-lint, format-go

fix: preserve declared awaited run-loop terminal output
  docs/_memory/change-impact.md
  docs/qa/scenarios/LP-run-loop-await-child-ordering.md
  internal/loop/compiler.go
  internal/loop/compiler_subloop.go
  internal/loop/coordinator_outputs.go
  internal/loop/coordinator_snapshot_test.go
  internal/loop/coordinator_test.go
  internal/loop/executed_definition_hydrate.go
  internal/loop/linter.go
  internal/loop/linter_actions.go
  internal/loop/linter_reference_schemas.go
  internal/loop/linter_test.go
  internal/loop/types.go
  packages/site/content/docs/loops/dsl-reference.mdx
  packages/site/content/docs/loops/reference-grammar.mdx
Due: format-go

feat: add provider-neutral ACP full-access preference
  docs/_memory/change-impact.md
  docs/qa/scenarios/RT-provider-full-access-mode.md
  internal/acp/client_process.go
  internal/acp/types.go
  internal/acp/types_test.go
  internal/config/config_agent_session.go
  internal/config/merge.go
  internal/config/merge_load.go
  internal/config/provider_resolve.go
  internal/config/provider_test.go
  internal/config/tool_surface_test.go
  internal/daemon/loop_action_policy.go
  internal/daemon/loop_runtime_adapters_test.go
  internal/daemon/testmain_test.go
  internal/session/manager_prompt_runtime.go
  internal/session/manager_transition_test.go
  packages/site/content/docs/configuration/config-toml.mdx
  packages/site/content/docs/sessions/permissions.mdx
Due: format-go

docs: format full-access configuration table
  packages/site/content/docs/configuration/config-toml.mdx
Due: none

fix: reject constrained run-loop terminal outputs
  docs/_memory/change-impact.md
  docs/qa/scenarios/LP-run-loop-await-child-ordering.md
  internal/loop/coordinator_snapshot_test.go
  internal/loop/linter_actions.go
  internal/loop/linter_test.go
  packages/site/content/docs/loops/reference-grammar.mdx
Due: format-go

test: resolve stamped daemon override before launch
  internal/daemon/daemon_extension_authoring_e2e_integration_test.go
Due: format-go

fix: pass clarification PR validation
  internal/cli/daemon_output.go
  internal/daemon/cmd_palette_integration_test.go
  internal/extension/dev_integration_test.go
  internal/fileutil/directory_move_unix.go
  internal/fileutil/directory_move_windows.go
  internal/task/interfaces_integration_test.go
  packages/site/content/docs/agents/providers.mdx
Due: format-go

fix: bootstrap pinned Bun with npm for Vercel builds
  packages/site/vercel.json
Due: none

fix: enforce restricted ACP session modes
  docs/_memory/change-impact.md
  docs/qa/charters/CH-provider-full-access-mode.md
  docs/qa/reports/2026-09-24-pr-674-provider-full-access.md
  docs/qa/scenarios/RT-provider-full-access-mode.md
  internal/acp/types_test.go
  internal/config/config_agent_session.go
  internal/config/provider_test.go
  internal/daemon/daemon_extension_authoring_e2e_integration_test.go
  internal/session/manager_prompt_runtime.go
  internal/session/manager_runtime_precedence.go
  internal/session/manager_start_accept.go
  internal/session/manager_start_runtime.go
  internal/session/manager_start_test.go
Due: format-go

fix: bind worktree session launch to owning workspace
  docs/qa/scenarios/MS-web-session-simple-advanced-launch.md
  web/e2e/__tests__/worktrees.spec.ts
  web/src/systems/session/hooks/__tests__/use-session-create.test.tsx
  web/src/systems/session/hooks/use-session-create.ts
Due: turbo-lint

fix: retain restricted mode across runtime changes
  docs/_memory/change-impact.md
  docs/qa/reports/2026-09-24-pr-674-provider-full-access.md
  docs/qa/scenarios/RT-provider-full-access-mode.md
  internal/session/manager_prompt_runtime.go
  internal/session/manager_runtime_precedence.go
  internal/session/manager_transition_test.go
Due: format-go

test: wait for terminal command output before detaching
  web/e2e/__tests__/terminal.spec.ts
Due: turbo-lint

ci: warm runtime binary before E2E
  .github/workflows/ci.yml
Due: none

ci: match race build mode in E2E prep
  .github/workflows/ci.yml
Due: none

fix: honor workspace default in session launcher (#668)
  docs/_memory/change-impact.md
  docs/qa/scenarios/MS-web-session-simple-advanced-launch.md
  internal/daemon/daemon_extension_authoring_e2e_integration_test.go
  magefiles/defaults.go
  magefiles/e2e.go
  packages/site/content/docs/workspaces/config-overlays.mdx
  web/e2e/__tests__/session-onboarding.spec.ts
  web/e2e/__tests__/worktrees.spec.ts
  web/src/systems/session/hooks/__tests__/use-session-create.test.tsx
  web/src/systems/session/hooks/use-session-create.ts
Due: turbo-lint, format-go

fix: interrupt stalled hosted progress on completion
  internal/mcp/hosted_proxy_progress.go
  internal/mcp/hosted_proxy_progress_test.go
Due: format-go

docs: verify run-loop terminal QA scenario
  docs/qa/reports/2026-09-24-pr-672-run-loop-terminal.md
  docs/qa/scenarios/LP-run-loop-await-child-ordering.md
Due: none

fix: allow unbound session metadata during boot
  docs/_memory/change-impact.md
  docs/qa/scenarios/TA-scheduled-session-restart-recovery.md
  internal/session/query_recorder.go
  internal/session/query_test.go
Due: format-go

fix: preserve restorable run-loop QA evidence
  docs/qa/reports/2026-09-24-pr-672-run-loop-terminal.md
  docs/qa/scenarios/LP-run-loop-await-child-ordering.md
  scripts/gate.sh
  scripts/gate_integration_test.go
  skeeper.lock
Due: format-go

fix: pin QA receipts to canonical sidecar
  docs/qa/reports/2026-09-24-pr-672-run-loop-terminal.md
  skeeper.lock
Due: none

fix: preserve missing bound session history refusal
  docs/_memory/change-impact.md
  docs/qa/scenarios/TA-scheduled-session-restart-recovery.md
  internal/session/query_recorder.go
  internal/session/query_test.go
Due: format-go

fix: preserve declared awaited run-loop terminal output (#672)
  docs/_memory/change-impact.md
  docs/qa/reports/2026-09-24-pr-672-run-loop-terminal.md
  docs/qa/scenarios/LP-run-loop-await-child-ordering.md
  internal/loop/compiler.go
  internal/loop/compiler_subloop.go
  internal/loop/coordinator_outputs.go
  internal/loop/coordinator_snapshot_test.go
  internal/loop/coordinator_test.go
  internal/loop/executed_definition_hydrate.go
  internal/loop/linter.go
  internal/loop/linter_actions.go
  internal/loop/linter_reference_schemas.go
  internal/loop/linter_test.go
  internal/loop/types.go
  packages/site/content/docs/loops/dsl-reference.mdx
  packages/site/content/docs/loops/reference-grammar.mdx
  scripts/gate.sh
  scripts/gate_integration_test.go
  skeeper.lock
Due: format-go

feat: add provider-neutral ACP full-access preference (#674)
  docs/_memory/change-impact.md
  docs/qa/charters/CH-provider-full-access-mode.md
  docs/qa/reports/2026-09-24-pr-674-provider-full-access.md
  docs/qa/scenarios/RT-provider-full-access-mode.md
  internal/acp/client_process.go
  internal/acp/types.go
  internal/acp/types_test.go
  internal/config/config_agent_session.go
  internal/config/merge.go
  internal/config/merge_load.go
  internal/config/provider_resolve.go
  internal/config/provider_test.go
  internal/config/tool_surface_test.go
  internal/daemon/daemon_extension_authoring_e2e_integration_test.go
  internal/daemon/loop_action_policy.go
  internal/daemon/loop_runtime_adapters_test.go
  internal/daemon/testmain_test.go
  internal/session/manager_prompt_runtime.go
  internal/session/manager_runtime_precedence.go
  internal/session/manager_start_accept.go
  internal/session/manager_start_runtime.go
  internal/session/manager_start_test.go
  internal/session/manager_transition_test.go
  packages/site/content/docs/configuration/config-toml.mdx
  packages/site/content/docs/sessions/permissions.mdx
Due: format-go

fix: preserve whitespace in session transcripts (#670)
  docs/_memory/change-impact.md
  docs/qa/reports/2026-09-23-session-transcript-whitespace.md
  docs/qa/scenarios/ET-web-session-transcript-calm-grammar.md
  docs/qa/scenarios/RT-session-transcript-whitespace.md
  internal/session/query_store.go
  internal/store/sessiondb/queries/transcript_projection.sql
  internal/store/sessiondb/session_sqlite.go
  internal/store/sessiondb/sqlcgen/transcript_projection.sql.go
  internal/store/sessiondb/transcript_projection_upgrade.go
  internal/store/sessiondb/transcript_projection_upgrade_test.go
  internal/testutil/acpmock/testdata/browser_transcript_whitespace_fixture.json
  internal/transcript/projection_types.go
  internal/transcript/transcript_parse.go
  internal/transcript/transcript_test.go
  internal/transcript/transcript_tool_result.go
  web/e2e/__tests__/session-transcript-whitespace.spec.ts
  web/src/systems/session/components/__tests__/message-markdown.test.tsx
Due: turbo-lint, format-go

docs: update skills
  .agents/skills/herdr/SKILL.md
  .agents/skills/skeeper/SKILL.md
  .agents/skills/skeeper/references/cli-reference.md
  .agents/skills/skeeper/references/config-reference.md
  .agents/skills/typesafe-ai/LICENSE
  .agents/skills/typesafe-ai/SKILL.md
  .skeeper.yml
  Makefile
  README.md
  packages/launch-video/README.md
  packages/launch-video/package.json
  packages/launch-video/src/Root.tsx
  packages/launch-video/src/compositions/release-announce/props.ts
  packages/launch-video/src/releases/beta27.json
  skills-lock.json
Due: turbo-lint

test: refresh credential assertions context after migration
  internal/store/globaldb/global_db_mcp_auth_test.go
Due: format-go

build: prepare release v0.3.0 (#650)
  CHANGELOG.md
  RELEASE_BODY.md
  RELEASE_NOTES.md
  go.mod
  go.sum
Due: none

Path conditions:
  turbo-lint: any of: \.(js|jsx|ts|tsx)$, but not: (?x)^(
  CHANGELOG.md|
  tools/.*/package\.json|
  bun.lockb|
  node_modules|
)$

  format-go: any of: \.go$, but not: (?x)^(
  CHANGELOG.md|
  tools/.*/package\.json|
  bun.lockb|
  node_modules|
)$

