Repository compozy/compozy: changes, and which pre-commit hooks are due for each by the changed paths.
All: turbo-lint, format-go

turbo-lint:
  name: turbo lint
  description: Run linting via Turborepo
  entry: bun run lint
  language: system
  pass_filenames: false

format-go:
  name: format go
  description: Format Go files using make fmt
  entry: make fmt
  language: system
  pass_filenames: false

fix: resolve improvments review batch 002
  .compozy/tasks/improvments/reviews-002/issue_001.md
  .compozy/tasks/improvments/reviews-002/issue_002.md
  .compozy/tasks/improvments/reviews-002/issue_003.md
  .compozy/tasks/improvments/reviews-002/issue_004.md
  .compozy/tasks/improvments/reviews-002/issue_005.md
  internal/api/core/handlers_test.go
  internal/daemon/query_service.go
  internal/daemon/run_transcript_test.go
  packages/ui/src/components/logo.tsx
  web/src/systems/app-shell/components/app-shell-container.test.tsx
  web/src/systems/app-shell/components/app-shell-container.tsx
Due: turbo-lint, format-go

fix: infer task type during migrate (#129)
  ai-docs/reviews-pr-129/_summary.md
  ai-docs/reviews-pr-129/issues/001-issue.md
  ai-docs/reviews-pr-129/issues/002-issue.md
  ai-docs/reviews-pr-129/issues/003-issue.md
  ai-docs/reviews-pr-129/issues/004-issue.md
  ai-docs/reviews-pr-129/issues/005-issue.md
  internal/api/core/errors.go
  internal/api/core/handlers_service_errors_test.go
  internal/api/core/internal_helpers_test.go
  internal/cli/migrate_command_test.go
  internal/cli/root_command_execution_test.go
  internal/core/migration/migrate.go
  internal/core/migration/migrate_test.go
  internal/core/reviews/parser.go
  internal/core/reviews/parser_test.go
  internal/core/tasks/parser.go
  internal/core/tasks/parser_test.go
  internal/store/globaldb/sync.go
  internal/store/globaldb/sync_test.go
Due: format-go

docs: update
  .codex/ledger/2026-04-30-MEMORY-release-hardening-ui.md
  .codex/ledger/2026-04-30-MEMORY-review-watch-task-02.md
  .codex/ledger/2026-04-30-MEMORY-reviews-watch-api.md
  .codex/ledger/2026-04-30-MEMORY-reviews-watch.md
  .compozy/tasks/reviews-watch/_tasks.md
  .compozy/tasks/reviews-watch/_techspec.md
  .compozy/tasks/reviews-watch/adrs/adr-001.md
  .compozy/tasks/reviews-watch/adrs/adr-002.md
  .compozy/tasks/reviews-watch/adrs/adr-003.md
  .compozy/tasks/reviews-watch/memory/MEMORY.md
  .compozy/tasks/reviews-watch/memory/task_01.md
  .compozy/tasks/reviews-watch/memory/task_02.md
  .compozy/tasks/reviews-watch/memory/task_03.md
  .compozy/tasks/reviews-watch/memory/task_04.md
  .compozy/tasks/reviews-watch/task_01.md
  .compozy/tasks/reviews-watch/task_02.md
  .compozy/tasks/reviews-watch/task_03.md
  .compozy/tasks/reviews-watch/task_04.md
Due: none

feat: expose review watch API and CLI
  internal/api/client/reviews_exec.go
  internal/api/client/reviews_exec_test.go
  internal/api/contract/routes.go
  internal/api/core/handlers.go
  internal/api/core/handlers_contract_test.go
  internal/api/core/handlers_service_errors_test.go
  internal/api/core/handlers_smoke_test.go
  internal/api/core/routes.go
  internal/api/httpapi/openapi_contract_test.go
  internal/cli/daemon_commands.go
  internal/cli/daemon_commands_test.go
  internal/cli/daemon_exec_test_helpers_test.go
  internal/cli/reviews_exec_daemon.go
  internal/cli/reviews_exec_daemon_additional_test.go
  internal/cli/root.go
  internal/cli/skills_preflight.go
  internal/cli/state.go
  internal/cli/workspace_config.go
  openapi/compozy-daemon.json
  web/src/generated/compozy-openapi.d.ts
Due: turbo-lint, format-go

feat: add review watch extension hooks
  README.md
  docs/events.md
  docs/extensibility/capability-reference.md
  docs/extensibility/hook-reference.md
  internal/core/extension/manifest.go
  internal/daemon/review_watch.go
  internal/daemon/review_watch_hooks.go
  internal/daemon/review_watch_test.go
  sdk/extension-sdk-ts/src/extension.ts
  sdk/extension-sdk-ts/src/handlers.ts
  sdk/extension-sdk-ts/src/types.ts
  sdk/extension-sdk-ts/test/extension.test.ts
  sdk/extension-sdk-ts/test/handlers.test.ts
  sdk/extension/extension.go
  sdk/extension/extension_test.go
  sdk/extension/handlers.go
  sdk/extension/hooks.go
  sdk/extension/internal_test.go
  sdk/extension/smoke_test.go
  sdk/extension/types.go
  skills/compozy/references/config-reference.md
Due: turbo-lint, format-go

feat: add review watch provider contracts
  internal/api/contract/types.go
  internal/api/core/handlers_service_errors_test.go
  internal/api/core/handlers_smoke_test.go
  internal/api/core/interfaces.go
  internal/api/httpapi/transport_integration_test.go
  internal/core/provider/coderabbit/coderabbit.go
  internal/core/provider/coderabbit/coderabbit_test.go
  internal/core/provider/coderabbit/nitpicks.go
  internal/core/provider/overlay.go
  internal/core/provider/overlay_test.go
  internal/core/provider/provider.go
  internal/core/provider/provider_test.go
  internal/core/workspace/config_merge.go
  internal/core/workspace/config_test.go
  internal/core/workspace/config_types.go
  internal/core/workspace/config_validate.go
  internal/daemon/review_exec_transport_service.go
  skills/compozy/references/config-reference.md
Due: format-go

feat: implement daemon review watch coordinator
  docs/events.md
  internal/core/fetch.go
  internal/daemon/review_exec_transport_service.go
  internal/daemon/review_exec_transport_service_test.go
  internal/daemon/review_watch.go
  internal/daemon/review_watch_git.go
  internal/daemon/review_watch_git_test.go
  internal/daemon/review_watch_test.go
  internal/daemon/run_manager.go
  internal/daemon/run_manager_test.go
  pkg/compozy/events/docs_test.go
  pkg/compozy/events/event.go
  pkg/compozy/events/event_test.go
  pkg/compozy/events/kinds/payload_compat_test.go
  pkg/compozy/events/kinds/review.go
Due: format-go

fix: adjustments 2
  .codex/ledger/2026-04-30-MEMORY-sync-prune-archive.md
  .codex/ledger/2026-04-30-MEMORY-sync-review-rounds.md
  internal/api/contract/types.go
  internal/cli/commands_simple.go
  internal/core/agent/client.go
  internal/core/agent/client_test.go
  internal/core/archive_test.go
  internal/core/fetch.go
  internal/core/fetch_test.go
  internal/core/model/workflow_ops.go
  internal/core/provider/coderabbit/coderabbit.go
  internal/core/providerdefaults/defaults.go
  internal/core/providerdefaults/defaults_test.go
  internal/core/reviews/store.go
  internal/core/reviews/store_test.go
  internal/core/run/executor/execution_test.go
  internal/core/run/executor/review_hooks.go
  internal/core/sync.go
  internal/core/sync_test.go
  internal/daemon/extension_bridge.go
  internal/daemon/query_service.go
  internal/daemon/review_exec_transport_service.go
  internal/daemon/run_manager_test.go
  internal/daemon/task_transport_service.go
  internal/daemon/transport_mappers.go
  internal/daemon/transport_service_test.go
  internal/daemon/workspace_refresh.go
  internal/store/globaldb/archive.go
  internal/store/globaldb/archive_test.go
  internal/store/globaldb/sync.go
  internal/store/globaldb/sync_test.go
  openapi/compozy-daemon.json
  web/src/generated/compozy-openapi.d.ts
  web/src/routes/_app/index.tsx
  web/src/routes/_app/workflows.tsx
  web/src/systems/workflows/components/workflow-inventory-view.test.tsx
  web/src/systems/workflows/components/workflow-inventory-view.tsx
  web/src/systems/workflows/index.ts
  web/src/systems/workflows/lib/sync-summary.test.ts
  web/src/systems/workflows/lib/sync-summary.ts
Due: turbo-lint, format-go

fix: remediate reviews-watch review batch
  .compozy/tasks/reviews-watch/reviews-001/issue_001.md
  .compozy/tasks/reviews-watch/reviews-001/issue_002.md
  .compozy/tasks/reviews-watch/reviews-001/issue_003.md
  .compozy/tasks/reviews-watch/reviews-001/issue_004.md
  .compozy/tasks/reviews-watch/reviews-001/issue_005.md
  .compozy/tasks/reviews-watch/reviews-001/issue_006.md
  .compozy/tasks/reviews-watch/reviews-001/issue_007.md
  .compozy/tasks/reviews-watch/reviews-001/issue_008.md
  .compozy/tasks/reviews-watch/reviews-001/issue_009.md
  .compozy/tasks/reviews-watch/reviews-001/issue_010.md
  .compozy/tasks/reviews-watch/reviews-001/issue_011.md
  .compozy/tasks/reviews-watch/reviews-001/issue_012.md
  .compozy/tasks/reviews-watch/reviews-001/issue_013.md
  .compozy/tasks/reviews-watch/reviews-001/issue_014.md
  .compozy/tasks/reviews-watch/reviews-001/issue_015.md
  .compozy/tasks/reviews-watch/reviews-001/issue_016.md
  .compozy/tasks/reviews-watch/reviews-001/issue_017.md
  .compozy/tasks/reviews-watch/reviews-001/issue_018.md
  .compozy/tasks/reviews-watch/reviews-001/issue_019.md
  .compozy/tasks/reviews-watch/reviews-001/issue_020.md
  internal/api/core/handlers_service_errors_test.go
  internal/cli/reviews_exec_daemon_additional_test.go
  internal/core/agent/client_test.go
  internal/core/archive_test.go
  internal/core/provider/overlay_test.go
  internal/core/provider/provider_test.go
  internal/core/providerdefaults/defaults_test.go
  internal/core/reviews/store.go
  internal/core/reviews/store_test.go
  internal/core/sync_test.go
  internal/core/workspace/config_test.go
  internal/core/workspace/config_validate.go
  internal/daemon/extension_bridge.go
  internal/daemon/query_service.go
  internal/daemon/query_service_test.go
  internal/daemon/review_exec_transport_service_test.go
  internal/daemon/review_watch_git_test.go
  internal/daemon/review_watch_test.go
  internal/daemon/run_manager_test.go
  internal/daemon/transport_read_models_test.go
Due: format-go

fix: resolve reviews watch round one feedback
  .compozy/tasks/reviews-watch/reviews-001/issue_021.md
  .compozy/tasks/reviews-watch/reviews-001/issue_022.md
  .compozy/tasks/reviews-watch/reviews-001/issue_023.md
  .compozy/tasks/reviews-watch/reviews-001/issue_024.md
  .compozy/tasks/reviews-watch/reviews-001/issue_025.md
  .compozy/tasks/reviews-watch/reviews-001/issue_026.md
  .compozy/tasks/reviews-watch/reviews-001/issue_027.md
  .compozy/tasks/reviews-watch/reviews-001/issue_028.md
  .compozy/tasks/reviews-watch/reviews-001/issue_029.md
  .compozy/tasks/reviews-watch/reviews-001/issue_030.md
  .compozy/tasks/reviews-watch/reviews-001/issue_031.md
  .compozy/tasks/reviews-watch/reviews-001/issue_032.md
  internal/daemon/task_transport_service.go
  internal/daemon/transport_service_test.go
  internal/store/globaldb/archive.go
  internal/store/globaldb/archive_test.go
  internal/store/globaldb/read_queries.go
  internal/store/globaldb/read_queries_test.go
  internal/store/globaldb/sync.go
  internal/store/globaldb/sync_test.go
  packages/ui/src/components/surface-card.tsx
  packages/ui/tests/primitives.test.tsx
  pkg/compozy/events/event_test.go
  pkg/compozy/events/kinds/payload_compat_test.go
  sdk/extension/internal_test.go
  sdk/extension/smoke_test.go
  web/src/systems/reviews/components/review-detail-view.test.tsx
  web/src/systems/reviews/components/review-detail-view.tsx
  web/src/systems/reviews/components/review-round-detail-view.test.tsx
  web/src/systems/reviews/hooks/use-reviews.test.tsx
  web/src/systems/reviews/hooks/use-reviews.ts
  web/src/systems/runs/components/runs-list-view.test.tsx
Due: turbo-lint, format-go

fix: resolve reviews-watch review batch 003
  .compozy/tasks/reviews-watch/reviews-003/issue_001.md
  .compozy/tasks/reviews-watch/reviews-003/issue_002.md
  .compozy/tasks/reviews-watch/reviews-003/issue_003.md
  .compozy/tasks/reviews-watch/reviews-003/issue_004.md
  .compozy/tasks/reviews-watch/reviews-003/issue_005.md
  .compozy/tasks/reviews-watch/reviews-003/issue_006.md
  .compozy/tasks/reviews-watch/reviews-003/issue_007.md
  .compozy/tasks/reviews-watch/reviews-003/issue_008.md
  .compozy/tasks/reviews-watch/reviews-003/issue_009.md
  .compozy/tasks/reviews-watch/reviews-003/issue_010.md
  .compozy/tasks/reviews-watch/reviews-003/issue_011.md
  .compozy/tasks/reviews-watch/reviews-003/issue_012.md
  internal/cli/reviews_exec_daemon_additional_test.go
  internal/core/agent/client_test.go
  internal/core/reviews/store_test.go
  internal/core/sync_test.go
  internal/daemon/review_watch_git_test.go
  internal/store/globaldb/read_queries_test.go
  internal/store/globaldb/sync.go
Due: format-go

test: tighten sync review coverage
  .compozy/tasks/reviews-watch/reviews-004/issue_001.md
  .compozy/tasks/reviews-watch/reviews-004/issue_002.md
  internal/core/sync_test.go
Due: format-go

docs: add release notes
  .release-notes/daemon-architecture-1777593047.md
  .release-notes/daemon-web-ui-1777593047.md
  .release-notes/harden-runtime-activity-version-1777593047.md
  .release-notes/migrate-infer-task-type-1777593047.md
  .release-notes/per-task-runtime-overrides-1777593047.md
  .release-notes/review-watch-mode-1777593047.md
Due: none

fix: lint errors
  .codex/release-qa-2026-04-23/qa/issues/BUG-001.md
  .codex/release-qa-2026-04-23/qa/issues/QA-NOTE-001.md
  .codex/release-qa-2026-04-23/qa/screenshots/daemon-node-api-task-detail.png
  .codex/release-qa-2026-04-23/qa/test-cases/SMOKE-001.md
  .codex/release-qa-2026-04-23/qa/test-cases/TC-FUNC-001.md
  .codex/release-qa-2026-04-23/qa/test-cases/TC-FUNC-002.md
  .codex/release-qa-2026-04-23/qa/test-cases/TC-INT-001.md
  .codex/release-qa-2026-04-23/qa/test-cases/TC-SEC-001.md
  .codex/release-qa-2026-04-23/qa/test-cases/TC-UI-001.md
  .codex/release-qa-2026-04-23/qa/test-plans/release-hardening-test-plan.md
  .codex/release-qa-2026-04-23/qa/test-plans/release-regression.md
  .codex/release-qa-2026-04-23/qa/verification-report.md
  .codex/release-qa-2026-04-24/qa/screenshots/task-ledger-runs.png
  .codex/release-qa-2026-04-24/qa/verification-report.md
  internal/daemon/review_watch.go
  internal/daemon/review_watch_test.go
Due: format-go

ci: fix windows
  internal/daemon/process_windows.go
Due: format-go

test: fix time-sensitive runs purge retention
  internal/cli/root_command_execution_test.go
Due: format-go

release: prepare release v0.2.0 (#134)
  .release-notes/archive/v0.2.0/daemon-architecture-1777593047.md
  .release-notes/archive/v0.2.0/daemon-web-ui-1777593047.md
  .release-notes/archive/v0.2.0/global-config-defaults-1776266427.md
  .release-notes/archive/v0.2.0/harden-runtime-activity-version-1777593047.md
  .release-notes/archive/v0.2.0/migrate-infer-task-type-1777593047.md
  .release-notes/archive/v0.2.0/optional-sound-notifications-on-run-lifecycle-events-1776266427.md
  .release-notes/archive/v0.2.0/per-task-runtime-overrides-1777593047.md
  .release-notes/archive/v0.2.0/review-watch-mode-1777593047.md
  CHANGELOG.md
  RELEASE_NOTES.md
  package.json
Due: none

fix: binary release
  .codex/ledger/2026-05-01-MEMORY-release-artifact-bundle.md
  .codex/ledger/2026-05-01-MEMORY-release-notes-contract.md
  .github/workflows/auto-docs.yml
  .github/workflows/release.yml
  .goreleaser.yml
  internal/core/agent/session_test.go
  test/release_config_test.go
  web/src/systems/runs/components/run-detail-view.test.tsx
Due: turbo-lint, format-go

release: prepare release v0.2.1 (#135)
  CHANGELOG.md
  RELEASE_NOTES.md
  package.json
Due: none

docs: update
  .codex/ledger/2026-05-01-MEMORY-release-notes-contract.md
  ai-docs/reviews-pr-129/_summary.md
  ai-docs/reviews-pr-129/issues/001-issue.md
  ai-docs/reviews-pr-129/issues/002-issue.md
  ai-docs/reviews-pr-129/issues/003-issue.md
  ai-docs/reviews-pr-129/issues/004-issue.md
  ai-docs/reviews-pr-129/issues/005-issue.md
Due: none

build: release tool
  .codex/ledger/2026-05-01-MEMORY-release-notes-contract.md
  .codex/ledger/2026-05-02-MEMORY-release-021-qa.md
  .codex/release-021-qa/qa/verification-report.md
  .github/workflows/auto-docs.yml
  .github/workflows/release.yml
  CHANGELOG.md
  RELEASE_BODY.md
  RELEASE_NOTES.md
  internal/core/run/executor/execution.go
  package.json
  test/release_config_test.go
Due: format-go

fix: qa extension
  .agents/skills/compozy/SKILL.md
  .agents/skills/compozy/references/cli-reference.md
  .agents/skills/compozy/references/config-reference.md
  .agents/skills/compozy/references/skills-reference.md
  .agents/skills/compozy/references/workflow-guide.md
  .agents/skills/cy-fix-reviews/SKILL.md
  .agents/skills/cy-review-round/SKILL.md
  .codex/ledger/2026-05-02-MEMORY-prompt-goal-extension.md
  .compozy/tasks/qa-extension/reviews-001/issue_001.md
  .compozy/tasks/qa-extension/reviews-001/issue_002.md
  .compozy/tasks/qa-extension/reviews-001/issue_003.md
  .compozy/tasks/qa-extension/reviews-001/issue_004.md
  sdk/extension/extension_test.go
  sdk/extension/types.go
  sdk/extension/types_test.go
Due: format-go

docs: update
  .codex/ledger/2026-05-02-MEMORY-failed-status-runs.md
  .codex/ledger/2026-05-02-MEMORY-qa-extension-review-round2.md
  .compozy/tasks/qa-extension/reviews-002/issue_001.md
  .compozy/tasks/qa-extension/reviews-002/issue_002.md
  .compozy/tasks/qa-extension/reviews-002/issue_003.md
  .compozy/tasks/qa-extension/reviews-002/issue_004.md
  .compozy/tasks/qa-extension/reviews-002/issue_005.md
  .compozy/tasks/qa-extension/reviews-002/issue_006.md
  .compozy/tasks/qa-extension/reviews-002/issue_007.md
Due: none

fix: workspace register
  .codex/ledger/2026-05-04-MEMORY-workspace-discovery-home.md
  internal/api/client/client_transport_test.go
  internal/api/client/operator.go
  internal/cli/operator_commands_integration_test.go
  internal/core/workspace/config.go
  internal/core/workspace/config_test.go
  internal/store/globaldb/registry_test.go
Due: format-go

fix: review round
  internal/api/client/client_transport_test.go
  internal/cli/operator_commands_integration_test.go
  internal/core/workspace/config.go
  internal/core/workspace/config_test.go
Due: format-go

fix: workspace register (#140)
  .codex/ledger/2026-05-04-MEMORY-workspace-discovery-home.md
  internal/api/client/client_transport_test.go
  internal/api/client/operator.go
  internal/cli/operator_commands_integration_test.go
  internal/core/workspace/config.go
  internal/core/workspace/config_test.go
  internal/store/globaldb/registry_test.go
Due: format-go

docs: release notes
  .release-notes/force-archive-confirmation-1777919380.md
  .release-notes/qa-workflow-extension-1777919380.md
  .release-notes/workspace-register-path-fix-1777919380.md
Due: none

fix: skip task completion when agent leaves workspace unchanged (#144)
  docs/events.md
  internal/core/run/executor/execution_test.go
  internal/core/run/executor/review_hooks.go
  internal/core/run/executor/runner.go
  internal/core/run/internal/worktree/snapshot.go
  internal/core/run/internal/worktree/snapshot_test.go
  pkg/compozy/events/docs_test.go
  pkg/compozy/events/event.go
  pkg/compozy/events/event_test.go
  pkg/compozy/events/kinds/task.go
Due: format-go

refactor: return unsupported snapshot for any rev-parse failure
  internal/core/run/internal/worktree/snapshot.go
  internal/core/run/internal/worktree/snapshot_test.go
Due: format-go

fix(worktree): sanitize inherited GIT_* env vars in snapshot capture
  internal/core/run/executor/execution_test.go
  internal/core/run/internal/worktree/snapshot.go
  internal/core/run/internal/worktree/snapshot_test.go
Due: format-go

fix(prompt): add explicit kickoff directive to PRD task prompt (#144)
  internal/core/prompt/prd.go
  internal/core/prompt/prompt_test.go
Due: format-go

fix: workspace discover path
  .codex/ledger/2026-05-05-MEMORY-conversation-persistence.md
  .codex/ledger/2026-05-05-MEMORY-extension-host-api.md
  .codex/ledger/2026-05-05-MEMORY-runtime-routing.md
  .codex/ledger/2026-05-05-MEMORY-sqlite-conversation-schema.md
  .codex/ledger/2026-05-05-MEMORY-workspace-casing-fix.md
  internal/core/extension/discovery_test.go
  internal/core/extension/enablement.go
  internal/core/extension/enablement_test.go
Due: format-go

Path conditions:
  turbo-lint: any of: \.(js|jsx|ts|tsx)$, but not: (?x)^(
  CHANGELOG.md|
  tools/.*/package\.json|
  bun.lockb|
  node_modules|
)$

  format-go: any of: \.go$, but not: (?x)^(
  CHANGELOG.md|
  tools/.*/package\.json|
  bun.lockb|
  node_modules|
)$

