Repository compozy/compozy: changes, and which pre-commit hooks are due for each by the changed paths.
All: turbo-lint, format-go

turbo-lint:
  name: turbo lint
  description: Run linting via Turborepo
  entry: bun run lint
  language: system
  pass_filenames: false

format-go:
  name: format go
  description: Format Go files using make fmt
  entry: make fmt
  language: system
  pass_filenames: false

desktop channel publish 0.3.0-beta.31
  desktop/generation.json
  desktop/latest-linux.yml
  desktop/latest-mac.yml
Due: none

test: keep store cleanup contexts live after t.Context cancellation
  internal/attachments/sweeper_test.go
  internal/memory/store_test.go
  internal/store/globaldb/global_db_app_metadata_test.go
  internal/store/globaldb/global_db_automation_integration_test.go
  internal/store/globaldb/global_db_automation_test.go
  internal/store/globaldb/global_db_dead_entity_test.go
  internal/store/globaldb/global_db_gateway_test.go
  internal/store/globaldb/global_db_goal_binding_integration_test.go
  internal/store/globaldb/global_db_marketplace_catalog_test.go
  internal/store/globaldb/global_db_mcp_auth_test.go
  internal/store/globaldb/global_db_task_claim_test.go
  internal/store/globaldb/global_db_task_events_index_test.go
  internal/store/globaldb/global_db_task_graph_audit_integration_test.go
  internal/store/globaldb/global_db_task_integration_test.go
  internal/store/globaldb/global_db_test.go
  internal/store/globaldb/global_db_tool_approval_grants_test.go
  internal/store/sessiondb/session_db_test.go
  internal/store/workspacedb/workspace_db_test.go
  internal/store/write_test.go
Due: format-go

refactor: clear integration-tag Modern Go findings
  go.mod
  internal/api/httpapi/hooks_integration_test.go
  internal/api/udsapi/udsapi_integration_test.go
  internal/automation/list_resource_catalog.go
  internal/cli/config_flatten.go
  internal/daemon/daemon_test.go
  internal/daemon/loop_resources_integration_test.go
  internal/extension/dev_integration_test.go
  internal/extension/manager_integration_test.go
  internal/task/manager_test.go
  scripts/gate_integration_test.go
Due: format-go

docs: record Modern Go retained exclusions and change impact
  docs/_memory/change-impact.md
  docs/runbooks/modern-go.md
Due: none

test: keep cleanup-owned processes alive until cleanup
  internal/daemon/daemon_mcp_serve_e2e_integration_test.go
  internal/daemon/daemon_worktree_e2e_integration_test.go
Due: format-go

fix: reuse root lint evidence only for full-scope runs
  scripts/gate_integration_test.go
  scripts/gate_runtime.sh
Due: format-go

test: format gate evidence reuse cases
  scripts/gate_integration_test.go
Due: format-go

test: budget the catalog search test for concurrent CI runs
  packages/site/lib/__tests__/marketplace-catalog.test.tsx
Due: turbo-lint

test: consolidate desktop persistence journeys and remove mock-only feed check
  desktop/e2e/_electron/__tests__/shell.spec.ts
  desktop/src/release/__tests__/release.test.ts
Due: turbo-lint

test: remove redundant extension integration cases
  internal/extension/host_api_integration_test.go
  internal/extension/manager_integration_test.go
Due: format-go

test: consolidate redundant web domain coverage
  web/src/systems/knowledge/components/__tests__/knowledge-edit-dialog.test.tsx
  web/src/systems/loops/adapters/__tests__/loops-api.test.ts
  web/src/systems/loops/components/__tests__/loop-catalog.test.tsx
  web/src/systems/loops/components/__tests__/loop-linter-dock.test.tsx
  web/src/systems/onboarding/components/__tests__/onboarding-setup-frame.test.tsx
  web/src/systems/profiles/components/__tests__/profile-aggregate-composites.test.tsx
  web/src/systems/settings/components/__tests__/settings-field-row.test.tsx
  web/src/systems/settings/components/__tests__/settings-page-frame.test.tsx
  web/src/systems/settings/components/__tests__/settings-source-badge.test.tsx
  web/src/systems/settings/hooks/__tests__/use-settings-general-page.test.tsx
  web/src/systems/tasks/components/__tests__/tasks-dashboard-queue-health.test.tsx
  web/src/systems/tasks/components/__tests__/tasks-empty-state.test.tsx
  web/src/systems/tasks/components/__tests__/tasks-kanban-board.test.tsx
  web/src/systems/tasks/mocks/__tests__/fixtures.test.ts
Due: turbo-lint

test: consolidate session and shell browser journeys
  docs/qa/scenarios/APP-web-update-indicator.md
  web/e2e/__tests__/attention.spec.ts
  web/e2e/__tests__/harness-smoke.spec.ts
  web/e2e/__tests__/os-shell.spec.ts
Due: turbo-lint

test: remove duplicated API helper and memory cases
  internal/api/core/handlers_internal_test.go
  internal/api/testutil/apitest_test.go
  internal/api/udsapi/extensions_additional_test.go
  internal/api/udsapi/helpers_test.go
  internal/api/udsapi/memory_test.go
  internal/api/udsapi/shared_test.go
  internal/api/udsapi/stream_helpers_test.go
Due: format-go

test: remove redundant config browser coverage
  docs/qa/scenarios/APP-web-update-two-track.md
  docs/qa/scenarios/MS-web-settings-takeover-redesign.md
  web/e2e/__tests__/agents.spec.ts
  web/e2e/__tests__/knowledge.spec.ts
  web/e2e/__tests__/settings-hardening.spec.ts
  web/e2e/__tests__/settings.spec.ts
  web/src/systems/settings/components/__tests__/settings-restart-notice.test.tsx
Due: turbo-lint

test: remove redundant e2e infrastructure self-tests
  internal/e2elane/lanes_test.go
  internal/testutil/e2e/runtime_harness_lifecycle_test.go
  web/e2e/fixtures/__tests__/artifacts.test.ts
  web/e2e/fixtures/__tests__/selectors.test.ts
Due: turbo-lint, format-go

ci: move desktop catalog soak to release nightly lane
  .github/workflows/release.yml
  Makefile
  desktop/e2e/_electron/__tests__/shell.spec.ts
  desktop/package.json
  docs/_memory/glossary.md
  docs/qa/scenarios/ET-web-desktop-shell-lifecycle.md
  docs/qa/scenarios/ET-web-sessions-catalog-modal.md
  docs/qa/scenarios/RT-web-session-all-workspaces.md
Due: turbo-lint

test: consolidate duplicate automation and scheduler coverage
  internal/automation/model/template_test.go
  internal/automation/template_test.go
  internal/automation/validate_test.go
  internal/scheduler/scheduler_test.go
Due: format-go

test: reuse cached migration prefixes and merge catalog boot coverage
  internal/store/globaldb/global_db_marketplace_catalog_test.go
  internal/store/globaldb/global_db_mcp_auth_test.go
Due: format-go

test: consolidate web showcase and redundant component checks
  web/src/components/__tests__/design-system-showcase.test.tsx
  web/src/storybook/__tests__/msw.test.ts
  web/src/storybook/__tests__/web-storybook-msw-contract.test.ts
  web/src/systems/agent/components/__tests__/agent-command-select.test.tsx
  web/src/systems/os/components/__tests__/os-window-frame.test.tsx
  web/src/systems/os/components/__tests__/os-window.test.tsx
  web/src/systems/workspace/components/__tests__/option-card.test.tsx
  web/src/systems/workspace/components/__tests__/workspace-command-select.test.tsx
  web/src/systems/workspace/components/__tests__/worktree-commit-dialog.test.tsx
  web/src/systems/workspace/lib/__tests__/workspace-tree.test.ts
  web/src/systems/workspace/stores/__tests__/active-workspace-store.test.ts
Due: turbo-lint

test: consolidate work e2e coverage at owning layers
  docs/qa/scenarios/LP-web-request-answer-card.md
  docs/qa/scenarios/LP-web-run-diff-view.md
  web/e2e/__tests__/automation.spec.ts
  web/e2e/__tests__/loop-run.spec.ts
  web/e2e/__tests__/loops-graph-eng.spec.ts
  web/e2e/__tests__/tasks-coordinator-handoff.spec.ts
  web/src/systems/loops/components/__tests__/loop-run-page.test.tsx
Due: turbo-lint

test: consolidate duplicate hook invariants
  internal/hooks/executor_test.go
  internal/hooks/normalize_test.go
  internal/hooks/pipeline_test.go
  internal/hooks/types_test.go
Due: format-go

test: consolidate codegen and build tooling fixtures
  cmd/compozy-codegen/main_test.go
  internal/codegen/openapits/generate_test.go
  internal/codegen/sdkgo/generate_test.go
  magefiles/deps_lint_test.go
  magefiles/magefile_test.go
  scripts/air-state-lock/main_test.go
  scripts/gate_integration_test.go
Due: format-go

test: slim CLI suites and consolidate repeated integration setup
  internal/cli/api_state_verb_commands_test.go
  internal/cli/automation_test.go
  internal/cli/cli_integration_test.go
  internal/cli/client_test.go
  internal/cli/cmd_palette_test.go
  internal/cli/command_paths_test.go
  internal/cli/daemon_exec_test.go
  internal/cli/daemon_wait_readiness_test.go
  internal/cli/daemon_wait_test.go
  internal/cli/doc_test.go
  internal/cli/docpost/docpost_test.go
  internal/cli/extension_marketplace_integration_test.go
  internal/cli/extension_test.go
  internal/cli/lifecycle_test.go
  internal/cli/loop_read_commands_test.go
  internal/cli/memory_test.go
  internal/cli/profile_test.go
  internal/cli/provider_test.go
  internal/cli/render_test.go
  internal/cli/session_test.go
  internal/cli/skill_test.go
  internal/cli/update_command_test.go
  internal/cli/window_manager_test.go
  internal/cli/workspace_test.go
Due: format-go

test: reduce repeated extension fixtures and assertions
  internal/extension/agentplugin/mcp_test.go
  internal/extension/build_test.go
  internal/extension/describe_test.go
  internal/extension/host_api_integration_test.go
  internal/extension/host_api_test.go
  internal/extension/install_managed_test.go
  internal/extension/manager_test.go
  internal/extension/manifest_test.go
  internal/extension/memory_provider_registry_test.go
  internal/extension/model_source_test.go
  internal/extension/reference_support_unit_test.go
  internal/extension/registry_test.go
  internal/extension/tool_provider_test.go
Due: format-go

test: reduce catalog and installer setup costs
  internal/marketplace/pluginsource/reader_test.go
  internal/marketplace/service_integration_test.go
  internal/marketplace/service_test.go
  internal/registry/installer_integration_test.go
  internal/registry/installer_test.go
  internal/registry/source_test.go
Due: format-go

test: consolidate config browser journeys
  web/e2e/__tests__/agents.spec.ts
  web/e2e/__tests__/extensions.spec.ts
  web/e2e/__tests__/marketplace.spec.ts
  web/e2e/__tests__/profiles.spec.ts
  web/e2e/__tests__/settings.spec.ts
  web/e2e/__tests__/skill-sources.spec.ts
  web/e2e/__tests__/vault.spec.ts
Due: turbo-lint

test: consolidate skill and bundled extension coverage
  extensions/spec-cycle/embed_test.go
  extensions/spec-cycle/review_artifacts_test.go
  internal/skills/catalog_test.go
  internal/skills/loader_test.go
  internal/skills/provenance_test.go
  internal/skills/registry_test.go
  internal/skills/watcher_test.go
  sdk/go/runtime_contract_test.go
Due: format-go

test: consolidate daemon e2e coverage
  internal/daemon/daemon_memory_e2e_integration_test.go
  internal/daemon/daemon_mock_agents_integration_test.go
  internal/daemon/daemon_session_continue_e2e_integration_test.go
Due: format-go

test: remove duplicate webhook coverage and virtualize teardown wait
  internal/automation/dispatch_stop_timeout_test.go
  internal/automation/manager_test.go
Due: format-go

test: remove redundant platform cases and share lifecycle setup
  internal/cmdpalette/view_test.go
  internal/extensionprotocol/host_api_test.go
  internal/fileutil/targzip_test.go
  internal/gateway/device_service_test.go
  internal/gateway/ingress_test.go
  internal/gateway/stream_ticket_test.go
  internal/testutil/mcpfixture/fixture_test.go
  internal/testutil/mcpfixture/oauth_test.go
  internal/tools/builtin/builtin_test.go
  internal/tools/native_test.go
  internal/tools/registry_test.go
  internal/windowmanager/layout_commands_test.go
  internal/windowmanager/lifecycle_test.go
  internal/windowmanager/zoom_test.go
  internal/worktree/adopt_test.go
  internal/worktree/create_test.go
  internal/worktree/exit_plan_test.go
  internal/worktree/worktree_integration_test.go
Due: format-go

test: share desktop lifecycle journeys and reuse Linux runner
  Makefile
  desktop/e2e/_electron/__tests__/shell.spec.ts
  desktop/scripts/run-e2e-linux.sh
Due: turbo-lint

test: consolidate platform coverage and remove redundant fixtures
  internal/config/agent_capabilities_test.go
  internal/config/agent_test.go
  internal/config/bootstrap_test.go
  internal/config/config_test.go
  internal/config/dotenv_test.go
  internal/config/gateway_test.go
  internal/config/hermetic_env_test.go
  internal/config/home_permissions_test.go
  internal/config/mcpjson_test.go
  internal/config/persistence_integration_test.go
  internal/config/persistence_test.go
  internal/config/provider_test.go
  internal/config/tools_test.go
  internal/heartbeat/authoring_status_test.go
  internal/heartbeat/wake_test.go
  internal/memory/assembler_test.go
  internal/memory/consolidation/runtime_test.go
  internal/memory/contract/contract_test.go
  internal/memory/dream_test.go
  internal/memory/extractor/runtime_test.go
  internal/memory/prompts/registry_test.go
  internal/memory/store_test.go
  internal/modelcatalog/live_sources_test.go
  internal/modelcatalog/service_test.go
  internal/modelcatalog/sources_test.go
  internal/observe/helpers_test.go
  internal/observe/observer_test.go
  internal/observe/overview_test.go
  internal/observe/tasks_integration_test.go
  internal/observe/tasks_test.go
  internal/profile/manager_test.go
  internal/resources/reconcile_integration_test.go
  internal/resources/typed_integration_test.go
  internal/resources/typed_test.go
  internal/settings/config_apply_service_test.go
  internal/settings/service_integration_test.go
  internal/situation/service_test.go
  internal/update/manager_check_test.go
  internal/workspace/workspace_test.go
Due: format-go

test: trim redundant loop cases and share configuration setup
  internal/loop/coordinator_control_test.go
  internal/loop/gate/evaluator_test.go
  internal/loop/goal/executor_test.go
  internal/loop/linter_test.go
  internal/loop/runtime_validation_test.go
  internal/loop/service_integration_test.go
  internal/loop/service_test.go
Due: format-go

test: consolidate session and shell e2e runtime journeys
  web/e2e/__tests__/attention.spec.ts
  web/e2e/__tests__/dashboard.spec.ts
  web/e2e/__tests__/os-shell.spec.ts
  web/e2e/__tests__/session-derive.spec.ts
  web/e2e/__tests__/session-hardening.spec.ts
Due: turbo-lint

test: consolidate API fixtures and remove redundant cases
  internal/api/contract/tasks_test.go
  internal/api/core/agent_category_payload_test.go
  internal/api/core/automation_additional_test.go
  internal/api/core/automation_test.go
  internal/api/core/gateway_handlers_test.go
  internal/api/core/handler_edge_cases_test.go
  internal/api/core/handlers_test.go
  internal/api/core/memory_workspace_test.go
  internal/api/core/model_catalog_test.go
  internal/api/core/onboarding_test.go
  internal/api/core/session_attachments_test.go
  internal/api/core/settings_test.go
  internal/api/core/tasks_integration_test.go
  internal/api/core/tasks_surface_integration_test.go
  internal/api/ginutil/quiet_debug_test.go
  internal/api/httpapi/gateway_integration_test.go
  internal/api/httpapi/handlers_test.go
  internal/api/httpapi/hooks_integration_test.go
  internal/api/httpapi/hooks_test.go
  internal/api/httpapi/model_catalog_test.go
  internal/api/httpapi/prompt_contract_test.go
  internal/api/spec/authored_context_test.go
  internal/api/spec/loops_test.go
  internal/api/spec/marketplace_test.go
  internal/api/spec/operations_refac_test.go
  internal/api/spec/spec_test.go
  internal/api/spec/terminal_public_wire_test.go
  internal/api/testutil/apitest_test.go
  internal/api/testutil/worktree_transport_parity_test.go
  internal/api/udsapi/handlers_test.go
  internal/api/udsapi/model_catalog_test.go
  internal/api/udsapi/server_test.go
  internal/api/udsapi/stream_helpers_test.go
  internal/api/udsapi/udsapi_integration_test.go
Due: format-go

test: consolidate protocol and terminal test setups
  docs/qa/scenarios/RT-provider-error-handoff.md
  internal/acp/client_integration_test.go
  internal/acp/client_prompt_contract_test.go
  internal/acp/client_start_contract_test.go
  internal/acp/handlers_test.go
  internal/sessions/ledger/materializer_test.go
  internal/subprocess/process_integration_test.go
  internal/subprocess/process_test.go
  internal/terminal/manager_test.go
  internal/terminal/pty/pty_test.go
  internal/testutil/acpmock/driver_cancel_test.go
  internal/testutil/acpmock/fixture_test.go
  internal/transcript/transcript_test.go
  internal/transcript/transcript_test_support_test.go
Due: format-go

Path conditions:
  turbo-lint: any of: \.(js|jsx|ts|tsx)$, but not: (?x)^(
  CHANGELOG.md|
  tools/.*/package\.json|
  bun.lockb|
  node_modules|
)$

  format-go: any of: \.go$, but not: (?x)^(
  CHANGELOG.md|
  tools/.*/package\.json|
  bun.lockb|
  node_modules|
)$

