Repository compozy/compozy: changes, and which pre-commit hooks are due for each by the changed paths.
All: turbo-lint, format-go

turbo-lint:
  name: turbo lint
  description: Run linting via Turborepo
  entry: bun run lint
  language: system
  pass_filenames: false

format-go:
  name: format go
  description: Format Go files using make fmt
  entry: make fmt
  language: system
  pass_filenames: false

build: desktop dev command
  Makefile
  scripts/build-air.sh
  scripts/desktop-dev.sh
  scripts/dev-common.sh
  scripts/dev-http-endpoint/main.go
  scripts/dev.sh
Due: format-go

fix: desktop issues
  .github/workflows/ci.yml
  docs/qa/charters/CH-local-stream-auth-clean.md
  docs/qa/reports/2026-08-10-local-stream-auth-clean.md
  docs/qa/scenarios/ET-web-desktop-shell-lifecycle.md
  docs/qa/scenarios/ET-web-window-routing-lifecycle.md
  internal/api/httpapi/gateway_admission.go
  internal/api/httpapi/gateway_routes_test.go
  internal/api/httpapi/middleware.go
  internal/api/httpapi/middleware_refac_test.go
  internal/api/httpapi/routes.go
  web/src/lib/__tests__/gateway-stream-auth.test.ts
  web/src/lib/__tests__/ticketed-event-source.test.ts
  web/src/lib/__tests__/ticketed-web-socket.test.ts
  web/src/lib/gateway-access-signal.ts
  web/src/lib/gateway-stream-auth.ts
  web/src/systems/network/hooks/__tests__/use-task-run-conversation.test.tsx
  web/src/systems/session/components/__tests__/session-chat-runtime-provider.test.tsx
  web/src/systems/session/components/__tests__/session-goal-header.test.tsx
Due: turbo-lint, format-go

release: prepare release v0.3.0 (#337)
  CHANGELOG.md
  RELEASE_BODY.md
  RELEASE_NOTES.md
  go.mod
  go.sum
Due: none

build: notarize desktop releases with Apple ID auth and allow staged-draft recovery
  .github/workflows/release.yml
  internal/config/release_config_test.go
  scripts/assert-desktop-signing-material.sh
  scripts/notarize-staple-dmg.sh
Due: format-go

build: keep channel-config args non-empty for macOS bash 3.2
  .github/workflows/release.yml
Due: none

fix: ship the full desktop icon set required by Windows tauri-build
  desktop/src-tauri/icons/128x128.png
  desktop/src-tauri/icons/128x128@2x.png
  desktop/src-tauri/icons/32x32.png
  desktop/src-tauri/icons/64x64.png
  desktop/src-tauri/icons/Square107x107Logo.png
  desktop/src-tauri/icons/Square142x142Logo.png
  desktop/src-tauri/icons/Square150x150Logo.png
  desktop/src-tauri/icons/Square284x284Logo.png
  desktop/src-tauri/icons/Square30x30Logo.png
  desktop/src-tauri/icons/Square310x310Logo.png
  desktop/src-tauri/icons/Square44x44Logo.png
  desktop/src-tauri/icons/Square71x71Logo.png
  desktop/src-tauri/icons/Square89x89Logo.png
  desktop/src-tauri/icons/StoreLogo.png
  desktop/src-tauri/icons/icon.icns
  desktop/src-tauri/icons/icon.ico
  desktop/src-tauri/icons/icon.png
  desktop/src-tauri/tauri.conf.json
Due: none

build: resolve Windows signing tool paths and preflight Azure signing
  .github/workflows/release.yml
Due: none

build: shim az login for the data-plane-only Windows signing principal
  .github/workflows/release.yml
Due: none

fix: pause the Windows desktop lane and ship macOS + Linux only
  .github/workflows/release.yml
  docs/qa/scenarios/APP-install-first-run-provision.md
  internal/config/release_config_test.go
  internal/desktoprelease/inventory.go
  internal/desktoprelease/manifest.go
  internal/desktoprelease/model.go
  internal/desktoprelease/release_test.go
  packages/site/content/docs/getting-started/installation.mdx
  packages/site/content/docs/operations/desktop-app.mdx
  scripts/assert-desktop-signing-material.sh
  scripts/publish-desktop-release.sh
Due: format-go

release: prepare release v0.3.0 (#338)
  CHANGELOG.md
  RELEASE_BODY.md
  RELEASE_NOTES.md
  go.mod
  go.sum
Due: none

release: prepare release v0.3.0 (#339)
  CHANGELOG.md
  RELEASE_BODY.md
  RELEASE_NOTES.md
  go.mod
  go.sum
Due: none

fix: publish staged GitHub release drafts
  .github/workflows/release.yml
  internal/config/release_config_test.go
Due: format-go

fix: repair release integration contracts
  internal/api/httpapi/hooks_integration_test.go
  internal/api/udsapi/transport_parity_integration_test.go
  internal/automation/manager_integration_test.go
  internal/cli/cli_integration_test.go
  internal/cli/extension_marketplace_integration_test.go
  internal/daemon/agent_skill_resources_integration_test.go
  internal/daemon/boot.go
  internal/daemon/daemon_agent_definition_e2e_integration_test.go
  internal/daemon/daemon_integration_test.go
  internal/daemon/daemon_test.go
  internal/daemon/extension_network_lifecycle_integration_test.go
  internal/daemon/extension_secret_hygiene_integration_test.go
  internal/daemon/harness_reentry_bridge.go
  internal/daemon/loop_action_liveness_integration_helpers_test.go
  internal/daemon/loop_goal_managed_runtime_integration_test.go
  internal/daemon/loop_runtime_selection_integration_test.go
  internal/daemon/native_extension_tools_integration_test.go
  internal/extension/connectivity_conformance_test.go
  internal/extension/manager_dev_lifecycle.go
  internal/extension/manager_dev_link_activation.go
  internal/extension/reference_integration_test.go
  internal/observe/tasks_integration_test.go
  internal/session/manager_integration_test.go
  internal/session/manager_stop_integration_test.go
  internal/settings/service_integration_test.go
  internal/store/globaldb/global_db_loop_admission_claims.go
  internal/store/globaldb/global_db_loop_schema_integration_test.go
  internal/store/globaldb/schema/migrations/00059_loop_admission_claim_expiry.sql
  internal/store/globaldb/schema/migrations/atlas.sum
  internal/store/migrate_test.go
  internal/store/migration_plan.go
  internal/store/migration_sql_parser.go
  internal/task/interfaces_integration_test.go
  internal/workspace/resolver_integration_test.go
  web/src/systems/status/mocks/handlers.ts
Due: turbo-lint, format-go

release: prepare release v0.3.0 (#340)
  CHANGELOG.md
  RELEASE_BODY.md
  RELEASE_NOTES.md
  go.mod
  go.sum
Due: none

fix: address desktop diagnostics review findings
  desktop/src-tauri/build.rs
  desktop/src-tauri/capabilities/boot.json
  desktop/src-tauri/permissions/autogenerated/shell_control.toml
  desktop/src-tauri/src/diagnostics/export.rs
  desktop/src-tauri/src/diagnostics/export_tests.rs
  desktop/src-tauri/src/diagnostics/report.rs
  desktop/src-tauri/src/diagnostics/startup_marker.rs
  desktop/src-tauri/src/diagnostics/startup_marker_tests.rs
  desktop/src-tauri/src/health_monitor.rs
  desktop/src-tauri/src/logging.rs
  desktop/src-tauri/src/main.rs
  desktop/src-tauri/src/record.rs
  desktop/src-tauri/src/runtime/boot_timestamp_drift_tests.rs
  desktop/src-tauri/src/runtime/control_server_startup.rs
  desktop/src-tauri/src/runtime/update_cadence.rs
  desktop/src-tauri/src/runtime/update_lifecycle.rs
  desktop/src-tauri/src/runtime/update_lifecycle_tests.rs
  desktop/src-tauri/src/shell.rs
  desktop/src-tauri/tests/contracts.rs
  internal/cli/app_diagnose_bundle.go
  internal/cli/app_diagnose_bundle_archive.go
  internal/cli/app_diagnose_bundle_logs.go
  internal/cli/app_test.go
  internal/daemon/daemon_test.go
  internal/daemon/restart_integration_test.go
  scripts/smoke-desktop-release-artifact.sh
Due: format-go

fix: remove review teardown injection risk
  desktop/src-tauri/src/diagnostics/export_tests.rs
  desktop/src-tauri/src/diagnostics/report.rs
  internal/cli/app_diagnose_bundle_logs.go
  scripts/smoke-desktop-release-artifact.sh
Due: format-go

build: fix design enforcements
  .agents/skills/cy-final-verify/SKILL.md
  .agents/skills/eng/eng-design/SKILL.md
  .agents/skills/eng/eng-ui-screenshot/references/visual-contract.md
  .claude/agents/designer.md
  .repoclone.rc
  CLAUDE.md
  extensions/dev-cycle/skills/cy-final-verify/SKILL.md
Due: none

fix: resolve extension-published agents for session command catalogs
  internal/daemon/agent_skill_catalog.go
  internal/daemon/boot.go
  internal/daemon/native_tool_registry_skills.go
  internal/daemon/native_tools_test.go
  internal/daemon/prompt_skills_test.go
  internal/daemon/session_commands.go
  internal/daemon/session_commands_test.go
Due: format-go

docs: justify optional agent-resolver assertion in skill-view path
  internal/daemon/native_tool_registry_skills.go
Due: format-go

docs: record frontend performance QA
  docs/qa/automation-backlog/session-timeline-react-lifecycle.md
  docs/qa/automation-backlog/session-timeline-virtual-state.md
  docs/qa/bugs/BUG-20260811-session-timeline-lifecycle-warning.md
  docs/qa/bugs/BUG-20260811-session-timeline-prepend-anchor-jump.md
  docs/qa/bugs/BUG-20260811-session-timeline-stale-paged-message-ids.md
  docs/qa/bugs/BUG-20260811-session-timeline-stale-virtual-range.md
  docs/qa/charters/CH-hidden-window-live-resources.md
  docs/qa/charters/CH-task-inspect-live-refresh.md
  docs/qa/journeys/J-24-triage-work-at-scale.md
  docs/qa/journeys/J-operate-desktop-shell.md
  docs/qa/reports/2026-08-11-frontend-performance.md
  docs/qa/scenarios/ET-hidden-window-live-resources.md
  docs/qa/scenarios/RT-023.md
  docs/qa/scenarios/RT-047.md
  docs/qa/scenarios/RT-visible-session-streaming.md
  docs/qa/scenarios/TA-task-inspect-single-live-stream.md
Due: none

fix: reach the agent catalog resolver from the skill_view command_id path
  internal/daemon/native_tool_authored_paths.go
  internal/daemon/native_tool_registry_skills.go
  internal/daemon/native_tools_test.go
  internal/daemon/session_commands.go
  internal/daemon/session_commands_test.go
Due: format-go

fix: preserve extension agent command resolution
  docs/qa/reports/2026-08-12-issue-349-extension-agent-commands.md
  docs/qa/scenarios/ET-session-command-catalog-parity.md
  internal/daemon/agent_skill_catalog.go
  internal/daemon/boot.go
  internal/daemon/daemon_extension_agent_fixture_e2e_integration_test.go
  internal/daemon/native_tool_authored_paths.go
  internal/daemon/native_tool_dependencies.go
  internal/daemon/native_tool_registry_skills.go
  internal/daemon/native_tools_dependencies_builder.go
  internal/daemon/native_tools_test.go
  internal/daemon/prompt_skills_test.go
  internal/daemon/session_commands.go
  internal/daemon/session_commands_test.go
Due: format-go

fix: address first review round
  desktop/src-tauri/tests/contracts.rs
  docs/qa/bugs/BUG-20260812-rename-dialog-double-escape.md
  docs/qa/reports/2026-08-12-pr-351-review-round-1.md
  docs/qa/scenarios/RT-session-rename-durable.md
  internal/api/core/handlers_test.go
  internal/api/spec/registry_sessions.go
  internal/cli/client_test.go
  internal/cli/session_test.go
  internal/daemon/native_tools_test.go
  openapi/compozy.json
  web/src/generated/compozy-openapi.d.ts
  web/src/hooks/routes/__tests__/use-session-page-controls.test.tsx
  web/src/hooks/routes/use-session-rename-dialog.ts
  web/src/systems/os/apps/session/session-window-content.tsx
  web/src/systems/os/components/__tests__/os-window.test.tsx
  web/src/systems/os/components/os-snap-seam.tsx
  web/src/systems/os/lib/window-visual-layer.ts
  web/src/systems/session/components/__tests__/session-rename-dialog.test.tsx
  web/src/systems/session/components/session-rename-dialog.tsx
  web/src/systems/session/hooks/__tests__/use-session-topbar-slot.test.tsx
  web/src/systems/session/hooks/use-session-topbar-slot.tsx
Due: turbo-lint, format-go

test: address second review round
  web/src/hooks/routes/__tests__/use-session-page-controls.test.tsx
  web/src/hooks/routes/__tests__/use-session-rename-dialog.test.tsx
Due: turbo-lint

fix: recover canceled Loop coordinators
  docs/qa/charters/CH-loop-cancel-restart.md
  docs/qa/reports/2026-08-12-issue-348-loop-cancel-restart.md
  docs/qa/scenarios/LP-cancel-restart-recovers.md
  internal/daemon/loop_api_service.go
  internal/daemon/loop_goal_managed_runtime_integration_test.go
  internal/daemon/loop_runtime_adapters.go
  internal/daemon/loop_runtime_adapters_test.go
  internal/store/globaldb/global_db_loop_coordinator_seed.go
  internal/store/globaldb/global_db_loop_reconcile_queries.go
  internal/store/globaldb/global_db_loop_test.go
  internal/store/globaldb/global_db_task_catalog_sql.go
  internal/store/globaldb/global_db_task_test.go
  internal/store/globaldb/queries/loop_runtime.sql
  internal/store/globaldb/sqlcgen/loop_runtime.sql.go
  internal/task/manager_reconcile_status.go
  internal/task/manager_test.go
  packages/site/content/docs/loops/running.mdx
  skills/compozy/references/loops.md
Due: format-go

test: assert Loop cancellation stop metadata
  internal/daemon/loop_runtime_adapters_test.go
Due: format-go

fix: resolve incremental performance review
  internal/daemon/boot_session_repair.go
  internal/mcp/executor_cache.go
  internal/mcp/executor_client.go
  internal/mcp/executor_test.go
  internal/mcp/hosted_test.go
  internal/toolruntime/registry.go
  internal/toolruntime/registry_reconcile.go
  internal/toolruntime/registry_test.go
  web/src/hooks/__tests__/debounced-input-store.test.ts
  web/src/systems/extensions/hooks/__tests__/use-extension-logs.test.tsx
  web/src/systems/extensions/hooks/extension-logs-store.ts
  web/src/systems/extensions/hooks/use-extension-logs.ts
  web/src/systems/loops/hooks/reference-autocomplete-store.ts
  web/src/systems/network/hooks/__tests__/use-task-run-conversation.test.tsx
  web/src/systems/network/hooks/task-run-conversation-store.ts
  web/src/systems/network/hooks/use-task-run-conversation.ts
  web/src/systems/os/apps/tasks/__tests__/use-task-detail-location.test.tsx
  web/src/systems/os/apps/tasks/use-task-detail-location.ts
  web/src/systems/os/hooks/seam-drag-store.ts
  web/src/systems/tasks/hooks/task-query-hook-options.ts
Due: turbo-lint, format-go

fix: recover canceled Loop coordinators on restart (#353)
  docs/qa/charters/CH-loop-cancel-restart.md
  docs/qa/reports/2026-08-12-issue-348-loop-cancel-restart.md
  docs/qa/scenarios/LP-cancel-restart-recovers.md
  internal/daemon/loop_api_service.go
  internal/daemon/loop_goal_managed_runtime_integration_test.go
  internal/daemon/loop_runtime_adapters.go
  internal/daemon/loop_runtime_adapters_test.go
  internal/store/globaldb/global_db_loop_coordinator_seed.go
  internal/store/globaldb/global_db_loop_reconcile_queries.go
  internal/store/globaldb/global_db_loop_test.go
  internal/store/globaldb/global_db_task_catalog_sql.go
  internal/store/globaldb/global_db_task_test.go
  internal/store/globaldb/queries/loop_runtime.sql
  internal/store/globaldb/sqlcgen/loop_runtime.sql.go
  internal/task/manager_reconcile_status.go
  internal/task/manager_test.go
  packages/site/content/docs/loops/running.mdx
  skills/compozy/references/loops.md
Due: format-go

Path conditions:
  turbo-lint: any of: \.(js|jsx|ts|tsx)$, but not: (?x)^(
  CHANGELOG.md|
  tools/.*/package\.json|
  bun.lockb|
  node_modules|
)$

  format-go: any of: \.go$, but not: (?x)^(
  CHANGELOG.md|
  tools/.*/package\.json|
  bun.lockb|
  node_modules|
)$

