Repository compozy/compozy: changes, and which pre-commit hooks are due for each by the changed paths.
All: turbo-lint, format-go

turbo-lint:
  name: turbo lint
  description: Run linting via Turborepo
  entry: bun run lint
  language: system
  pass_filenames: false

format-go:
  name: format go
  description: Format Go files using make fmt
  entry: make fmt
  language: system
  pass_filenames: false

docs: QA scenarios, change impact and release note for the shell rail
  .release-notes/a-calmer-desktop-shell-with-light-and-dark-themes-1790751722.md
  docs/_memory/change-impact.md
  docs/design/opendesign/design-system/os-shell.html
  docs/qa/charters/CH-plain-scale-legibility.md
  docs/qa/charters/CH-untested-068-operate-desktop-shell-bruno.md
  docs/qa/scenarios/ET-profile-desktop-restoration.md
  docs/qa/scenarios/ET-profile-identity-appearance-catalogs.md
  docs/qa/scenarios/ET-profile-switcher-restore.md
  docs/qa/scenarios/ET-terminal-window-native-flow.md
  docs/qa/scenarios/ET-web-catalog-navigation.md
  docs/qa/scenarios/ET-web-desktop-shell-lifecycle.md
  docs/qa/scenarios/ET-web-dock-contextual-session-launch.md
  docs/qa/scenarios/ET-web-dock-default-window-size.md
  docs/qa/scenarios/ET-web-dock-foot-and-compact-tab-bar.md
  docs/qa/scenarios/ET-web-dock-magnification.md
  docs/qa/scenarios/ET-web-empty-desktop-card.md
  docs/qa/scenarios/ET-web-font-assets-strict-csp.md
  docs/qa/scenarios/ET-web-geist-wght-medium-510.md
  docs/qa/scenarios/ET-web-inter-type-ramp.md
  docs/qa/scenarios/ET-web-route-chrome-topbar.md
  docs/qa/scenarios/ET-web-shortcut-keycap-legibility.md
  docs/qa/scenarios/ET-web-tiled-window-shadow-flush.md
  docs/qa/scenarios/ET-window-arrange-presets.md
  docs/qa/scenarios/ET-window-manager-multi-client.md
  docs/qa/scenarios/ET-window-move-to-desktop.md
  docs/qa/scenarios/ET-window-seam-resize-keyboard.md
  docs/qa/scenarios/ET-window-tab-close-reopen.md
  docs/qa/scenarios/ET-window-tab-deck-lifecycle.md
  docs/qa/scenarios/ET-window-zoom-in-place.md
  docs/qa/scenarios/MS-web-entity-modal-shell.md
  docs/qa/scenarios/RT-desktop-pager-overview.md
  docs/qa/scenarios/TA-web-task-detail-redesign.md
Due: none

feat: desktops overview on the desk with live layout thumbnails
  web/src/systems/os/components/__tests__/desktops-overview.test.tsx
  web/src/systems/os/components/__tests__/os-dock.test.tsx
  web/src/systems/os/components/__tests__/os-hydration-status.test.tsx
  web/src/systems/os/components/desktop-layout-thumbnail.tsx
  web/src/systems/os/components/desktop-manager-surfaces.tsx
  web/src/systems/os/components/desktop-shell.tsx
  web/src/systems/os/components/desktops-overview-grid.tsx
  web/src/systems/os/components/desktops-overview.tsx
  web/src/systems/os/components/os-hydration-status.tsx
  web/src/systems/os/components/stories/desktops-overview.stories.tsx
  web/src/systems/os/hooks/__tests__/use-cmd-palette-stream.test.tsx
  web/src/systems/os/hooks/__tests__/use-window-manager-stream.test.tsx
  web/src/systems/os/hooks/use-desktop-shell-body.ts
  web/src/systems/os/hooks/use-session-launch-catalog.ts
  web/src/systems/os/hooks/use-window-manager-stream.ts
  web/src/systems/os/index.ts
  web/src/systems/os/lib/background-stream-budget.ts
  web/src/systems/os/lib/window-manager-stream-socket.ts
  web/src/systems/os/lib/window-manager-types.ts
  web/src/systems/os/stores/__tests__/window-manager-store.test.ts
  web/src/systems/os/stores/window-manager-store.ts
Due: turbo-lint

feat: queue, session lists, terminal window and approvals on the new surfaces
  web/src/components/assistant-ui/scroll-to-bottom-pill.tsx
  web/src/components/assistant-ui/session-attachment-drop-overlay.tsx
  web/src/components/assistant-ui/session-attachment-tile.tsx
  web/src/components/assistant-ui/session-composer-command-menu.tsx
  web/src/systems/session/components/session-attachment-file-card.tsx
  web/src/systems/session/components/session-attachment-frame.tsx
  web/src/systems/session/components/session-context-turns-section.tsx
  web/src/systems/session/components/session-continue-divider.tsx
  web/src/systems/session/components/session-delete-dialog-set.tsx
  web/src/systems/session/components/session-find-bar.tsx
  web/src/systems/session/components/session-inspector-section.tsx
  web/src/systems/session/components/session-list/session-list-row.tsx
  web/src/systems/session/components/session-list/session-list-thread.tsx
  web/src/systems/session/components/session-list/session-list-workspace-groups.tsx
  web/src/systems/session/components/session-list/session-toolbar-toggles.tsx
  web/src/systems/session/components/session-panel-toggle.tsx
  web/src/systems/session/components/session-queue-strip-editor.tsx
  web/src/systems/session/components/session-queue-strip-row.tsx
  web/src/systems/session/components/session-queue-strip.tsx
  web/src/systems/session/components/session-worktree-binding-chip.tsx
  web/src/systems/session/hooks/__tests__/use-session-topbar-slot.test.tsx
  web/src/systems/terminal/components/__tests__/terminal-window-app.test.tsx
  web/src/systems/terminal/components/terminal-header-actions.tsx
  web/src/systems/terminal/components/terminal-header.tsx
  web/src/systems/terminal/components/terminal-input-request.tsx
  web/src/systems/terminal/components/terminal-limit-dialog.tsx
  web/src/systems/terminal/components/terminal-pane.tsx
  web/src/systems/terminal/components/terminal-pipe-log-pane.tsx
  web/src/systems/terminal/components/terminal-quote-block.tsx
  web/src/systems/terminal/components/terminal-recording-player.tsx
  web/src/systems/terminal/lib/terminal-copy.ts
  web/src/systems/tool-approvals/components/tool-approval-grants-section.tsx
Due: turbo-lint

refactor: retire legacy surface roles from session and terminal surfaces
  web/src/components/assistant-ui/session-attachment-tile.tsx
  web/src/components/assistant-ui/session-composer-action-row.tsx
  web/src/components/assistant-ui/session-composer-command-menu.tsx
  web/src/components/assistant-ui/session-thread-error-boundary.tsx
  web/src/components/assistant-ui/session-thread-states.tsx
  web/src/systems/session/components/assistant-ui/stories/session-changed-files-row.stories.tsx
  web/src/systems/session/components/assistant-ui/stories/session-composer-feedback-note.stories.tsx
  web/src/systems/session/components/assistant-ui/stories/session-thread.stories.tsx
  web/src/systems/session/components/session-context-control.tsx
  web/src/systems/session/components/session-context-meter-section.tsx
  web/src/systems/session/components/session-derive-committed-child.tsx
  web/src/systems/session/components/session-environment-chip.tsx
  web/src/systems/session/components/session-find-bar.tsx
  web/src/systems/session/components/session-fork-fields.tsx
  web/src/systems/session/components/session-list/session-list-row.tsx
  web/src/systems/session/components/session-list/session-list-selection-bar.tsx
  web/src/systems/session/components/session-message-trail.tsx
  web/src/systems/session/components/session-origin-pill.tsx
  web/src/systems/session/components/session-queue-strip-row.tsx
  web/src/systems/session/components/session-queue-strip.tsx
  web/src/systems/session/components/session-transport-notices.tsx
  web/src/systems/session/components/session-worktree-binding-chip.tsx
  web/src/systems/session/components/stories/message-markdown.stories.tsx
  web/src/systems/session/components/stories/session-attach-button.stories.tsx
  web/src/systems/session/components/stories/session-attachment-strip.stories.tsx
  web/src/systems/session/components/stories/session-attachment-tile.stories.tsx
  web/src/systems/session/components/stories/session-chat-runtime-provider.stories.tsx
  web/src/systems/terminal/components/terminal-empty-states.tsx
  web/src/systems/terminal/components/terminal-journal-detail.tsx
  web/src/systems/terminal/components/terminal-journal-empty.tsx
  web/src/systems/terminal/components/terminal-journal-row.tsx
  web/src/systems/terminal/components/terminal-notices.tsx
  web/src/systems/terminal/components/terminal-window-body.tsx
  web/src/systems/tool-approvals/components/tool-approval-grants-section.tsx
Due: turbo-lint

fix: keep the marketing site's warm theme under the new primitives
  packages/site/app/global.css
  packages/site/app/layout.tsx
  packages/site/components/docs/page-actions/menu-classes.ts
  packages/site/components/docs/page-actions/open-with-ai.tsx
  packages/site/components/docs/page-actions/view-options.tsx
  packages/site/components/landing/supported-agents.tsx
  packages/site/components/site/header-search-input.tsx
Due: turbo-lint

feat: one head grammar for root, document and drill-in windows
  packages/ui/src/components/custom/__tests__/topbar.test.tsx
  packages/ui/src/components/custom/topbar.tsx
  web/src/systems/os/apps/knowledge/__tests__/knowledge-location.test.tsx
  web/src/systems/os/apps/knowledge/knowledge-location.tsx
  web/src/systems/os/components/__tests__/os-zoom-menu.test.tsx
  web/src/systems/os/components/os-snap-overlay.tsx
  web/src/systems/os/components/os-window.tsx
  web/src/systems/os/components/os-zoom-menu.tsx
  web/src/systems/os/hooks/use-os-window.ts
  web/src/systems/os/lib/window-placement-presets.ts
Due: turbo-lint

feat: deliberate disabled buttons, neutral intensity meter and a solid idle terminal cursor
  packages/ui/src/components/__tests__/button.test.tsx
  packages/ui/src/components/button-variants.ts
  packages/ui/src/components/custom/intensity-meter.tsx
  packages/ui/src/components/custom/split-button.tsx
  packages/ui/src/components/custom/stories/intensity-meter.stories.tsx
  packages/ui/src/components/stories/button.stories.tsx
  packages/ui/src/components/terminal/__tests__/terminal-view.test.tsx
  packages/ui/src/components/terminal/use-terminal-instance.ts
Due: turbo-lint

feat: session head with agent chip, bound provider and last activity
  web/src/systems/session/components/session-panel-toggle.tsx
  web/src/systems/session/components/session-status-line.tsx
  web/src/systems/session/hooks/__tests__/use-session-topbar-slot.test.tsx
  web/src/systems/session/hooks/use-session-topbar-slot.tsx
Due: turbo-lint

refactor: retire the glass, dock and traffic-light token families
  DESIGN.md
  packages/ui/src/lib/font-size-classes.generated.ts
  packages/ui/src/tokens-light.css
  packages/ui/src/tokens.css
  scripts/sync-design-md.mjs
  scripts/sync-font-size-classes.mjs
  web/src/systems/os/components/os-workspaces-strip.tsx
  web/src/systems/os/components/stories/os-window-frame.stories.tsx
Due: turbo-lint

fix: no dead New session in Global scope and no bounce when switching to an empty desktop
  web/src/systems/os/apps/dashboard/dashboard-window.tsx
  web/src/systems/os/components/__tests__/os-dock.test.tsx
  web/src/systems/os/components/__tests__/os-empty-desktop.test.tsx
  web/src/systems/os/components/desktop-gate.tsx
  web/src/systems/os/components/desktop-shell.tsx
  web/src/systems/os/components/os-dock-tab-bar.tsx
  web/src/systems/os/components/os-dock.tsx
  web/src/systems/os/components/os-empty-desktop.tsx
  web/src/systems/os/components/os-new-session-button.tsx
  web/src/systems/os/components/os-window-error-boundary.tsx
  web/src/systems/os/lib/__tests__/routing-coordinator.test.ts
  web/src/systems/os/lib/dock-roving-focus.ts
  web/src/systems/os/lib/os-dock-model.ts
  web/src/systems/os/lib/routing-coordinator.ts
  web/src/systems/workspace/lib/workspace-scope-copy.ts
Due: turbo-lint

fix: single rule before the terminal head actions
  web/src/systems/terminal/components/__tests__/terminal-window-app.test.tsx
  web/src/systems/terminal/components/terminal-header-actions.tsx
Due: turbo-lint

feat: pane-width layouts, calm popover focus, neutral catalog glyphs and a quiet search clear
  DESIGN.md
  packages/site/components/site/home-header.tsx
  packages/ui/src/components/__tests__/popover.test.tsx
  packages/ui/src/components/custom/__tests__/catalog-card.test.tsx
  packages/ui/src/components/custom/__tests__/command-select.test.tsx
  packages/ui/src/components/custom/__tests__/metric-grid.test.tsx
  packages/ui/src/components/custom/__tests__/search-input.test.tsx
  packages/ui/src/components/custom/catalog-card-parts.tsx
  packages/ui/src/components/custom/catalog-empty-disclosure-row.tsx
  packages/ui/src/components/custom/command-select.tsx
  packages/ui/src/components/custom/listing-toolbar-parts.tsx
  packages/ui/src/components/custom/metric-grid.tsx
  packages/ui/src/components/custom/run-card.tsx
  packages/ui/src/components/custom/search-input.tsx
  packages/ui/src/components/custom/section.tsx
  packages/ui/src/components/popover.tsx
  packages/ui/src/lib/__tests__/utils.test.ts
  packages/ui/src/lib/dialog-initial-focus.ts
  packages/ui/src/lib/font-size-classes.generated.ts
  packages/ui/src/lib/utils.ts
  packages/ui/src/tokens.css
  scripts/sync-font-size-classes.mjs
  web/src/systems/profiles/components/__tests__/profile-switcher.test.tsx
  web/src/systems/profiles/components/profile-switcher-menu.tsx
  web/src/systems/profiles/components/profile-switcher.tsx
Due: turbo-lint

fix: keep Save secret enabled while the vault create editor stays open
  web/src/systems/vault/hooks/__tests__/use-vault-page.test.tsx
  web/src/systems/vault/hooks/use-vault-page-actions.ts
  web/src/systems/vault/hooks/use-vault-page.ts
Due: turbo-lint

feat: one filter representation per width, truthful loop stats and quieter rail values
  web/src/systems/loops/components/catalog/loop-catalog-row.tsx
  web/src/systems/loops/components/detail/loop-detail.tsx
  web/src/systems/loops/lib/__tests__/loop-catalog.test.ts
  web/src/systems/loops/lib/loop-catalog.ts
  web/src/systems/tasks/components/__tests__/tasks-list-surface.test.tsx
  web/src/systems/tasks/components/task-properties-rail.tsx
  web/src/systems/tasks/components/task-run-rail.tsx
  web/src/systems/tasks/components/tasks-list-filters.tsx
  web/src/systems/tasks/components/tasks-list-quick-status.tsx
  web/src/systems/tasks/components/tasks-list-toolbar.tsx
  web/src/systems/tasks/hooks/use-inline-size-at-least.ts
  web/src/systems/tasks/lib/__tests__/tasks-list-filters.test.ts
  web/src/systems/tasks/lib/tasks-list-filters.ts
Due: turbo-lint

refactor: delete dead tokens and the unused queue sparkline
  DESIGN.md
  lint-plugins/compozy-design-system-core-rules.mjs
  packages/site/app/global.css
  packages/ui/src/__tests__/focus-ring-contrast.test.ts
  packages/ui/src/__tests__/prose-ladder-contract.test.ts
  packages/ui/src/components/custom/__tests__/queue-health-sparkline.test.tsx
  packages/ui/src/components/custom/queue-health-sparkline.tsx
  packages/ui/src/components/custom/stories/queue-health-sparkline.stories.tsx
  packages/ui/src/exports/viz.ts
  packages/ui/src/lib/__tests__/identity-palette.test.ts
  packages/ui/src/tokens-light.css
  packages/ui/src/tokens.css
  scripts/sync-design-md.mjs
  web/src/components/design-system-showcase-tokens.ts
Due: turbo-lint

fix: title untitled sessions as New session in the bell and toasts
  web/src/systems/os/hooks/__tests__/use-os-attention.test.tsx
  web/src/systems/os/hooks/use-bell-notifications.ts
  web/src/systems/os/lib/__tests__/attention-model.test.ts
  web/src/systems/os/lib/attention-model.ts
Due: turbo-lint

docs: loops catalog scenario names LoopStatusMark
  docs/qa/scenarios/LP-web-catalog-badge-budget.md
Due: none

test: type the untitled-session fixture; note the entity modal shell contract change
  docs/qa/scenarios/MS-web-entity-modal-shell.md
  web/src/systems/os/lib/__tests__/attention-model.test.ts
Due: turbo-lint

fix: plain-language inbox reasons, suspended windows no longer claim records are missing
  docs/qa/scenarios/LP-012.md
  docs/qa/scenarios/LP-web-run-page-section-grammar.md
  docs/qa/scenarios/TA-web-task-detail-redesign.md
  web/src/systems/automation/components/automation-detail-panel.tsx
  web/src/systems/loops/components/__tests__/loop-editor.test.tsx
  web/src/systems/loops/hooks/use-loop-editor.ts
  web/src/systems/os/apps/loops/use-loop-run-diff-page.ts
  web/src/systems/tasks/components/__tests__/tasks-dashboard-cards.test.tsx
  web/src/systems/tasks/components/task-now-attention-states.tsx
  web/src/systems/tasks/components/tasks-dashboard-cards.tsx
  web/src/systems/tasks/hooks/__tests__/use-task-detail-page.test.tsx
  web/src/systems/tasks/hooks/use-task-detail-page.ts
  web/src/systems/tasks/lib/task-detail-pills.ts
Due: turbo-lint

feat: identity-well dialog heads, quiet close buttons and popup-first dialog focus
  bun.lock
  packages/ui/package.json
  packages/ui/src/components/__tests__/dialog.test.tsx
  packages/ui/src/components/custom/__tests__/entity-dialog-header.test.tsx
  packages/ui/src/components/custom/choice.tsx
  packages/ui/src/components/custom/confirm-dialog.tsx
  packages/ui/src/components/custom/entity-dialog-header.tsx
  packages/ui/src/components/custom/pill.tsx
  packages/ui/src/components/custom/stories/entity-dialog-header.stories.tsx
  packages/ui/src/components/dialog.tsx
  packages/ui/src/components/reui/stepper.tsx
  packages/ui/src/components/sheet.tsx
  packages/ui/src/lib/__tests__/utils.test.ts
  packages/ui/src/lib/dialog-initial-focus.ts
  packages/ui/src/lib/dialog-shell.ts
  packages/ui/src/lib/dialog-tone.ts
  packages/ui/src/lib/utils.ts
Due: turbo-lint

fix: namespace-aware bare token utilities and no dead sizing classes
  DESIGN.md
  lint-plugins/__tests__/compozy-design-system.test.mjs
  lint-plugins/compozy-design-system.mjs
  packages/site/app/global.css
  packages/site/components/blog/prose.tsx
  packages/ui/src/components/context-menu.tsx
  packages/ui/src/components/custom/chat-message-bubble.tsx
  packages/ui/src/components/dropdown-menu.tsx
  packages/ui/src/lib/font-size-classes.generated.ts
  packages/ui/src/tokens.css
  web/src/systems/loops/components/run-page/goal-turn-timeline.tsx
  web/src/systems/os/components/desktops-overview.tsx
Due: turbo-lint

refactor: drop the dead textarea min-height class
  web/src/systems/agent/components/agent-settings-instructions-section.tsx
  web/src/systems/tasks/components/task-form/contract-section.tsx
Due: turbo-lint

fix: explain disabled arrange and move items, and make Balance sizes work
  internal/cmdpalette/corecmds/provider_test.go
  internal/cmdpalette/corecmds/shell.go
  web/src/systems/os/components/menubar/__tests__/window-menu.test.tsx
  web/src/systems/os/components/menubar/window-menu.tsx
  web/src/systems/os/hooks/__tests__/window-manager-runtime.test.ts
  web/src/systems/os/runtime/window-manager-runtime.ts
Due: turbo-lint, format-go

fix: desktop boot tokens follow the retired surface roles
  desktop/pages/boot.css
  desktop/scripts/build-main.ts
Due: turbo-lint

fix: arrange whole tab frames and list every desktop in Move window to
  internal/windowmanager/arrange_frames.go
  internal/windowmanager/layout_commands_test.go
  internal/windowmanager/reducer_layout_arrange.go
  web/src/systems/os/components/menubar/__tests__/window-menu.test.tsx
  web/src/systems/os/components/menubar/window-menu.tsx
  web/src/systems/os/hooks/__tests__/window-manager-runtime.test.ts
  web/src/systems/os/hooks/use-window-move-targets.ts
  web/src/systems/os/lib/__tests__/window-manager-command-builders.test.ts
  web/src/systems/os/lib/cmd-palette-window-ops.ts
  web/src/systems/os/lib/window-manager-command-builders.ts
Due: turbo-lint, format-go

fix: head titles win over meta and typed confirms focus their input
  docs/qa/scenarios/ET-profile-identity-appearance-catalogs.md
  docs/qa/scenarios/ET-web-dock-default-window-size.md
  docs/qa/scenarios/ET-web-session-fork-from-here.md
  docs/qa/scenarios/ET-web-shell-shortcuts-about-dialogs.md
  docs/qa/scenarios/ET-web-vault-opendesign-listing.md
  docs/qa/scenarios/RT-workspace-overview-command-tab.md
  packages/ui/src/components/__tests__/confirm-dialog.test.tsx
  packages/ui/src/components/custom/__tests__/symbol-picker.test.tsx
  packages/ui/src/components/custom/confirm-dialog.tsx
  packages/ui/src/components/custom/hooks/use-symbol-picker-emoji-columns.ts
  packages/ui/src/components/custom/symbol-picker-emoji-pane.tsx
  packages/ui/src/components/custom/topbar.tsx
  web/e2e/__tests__/session-derive.spec.ts
  web/src/systems/profiles/components/__tests__/profile-identity-dialog.test.tsx
  web/src/systems/profiles/components/profile-create-dialog.tsx
  web/src/systems/profiles/components/profile-identity-dialog.tsx
  web/src/systems/session/components/session-origin-pill.tsx
  web/src/systems/session/components/session-status-line.tsx
Due: turbo-lint

refactor: name the zoom binding constant
  internal/windowmanager/config.go
Due: format-go

fix: a minimized window's dock item always restores it
  web/src/systems/os/components/__tests__/os-dock.test.tsx
  web/src/systems/os/hooks/use-desktop-dock.ts
Due: turbo-lint

fix: indicator contrast, light count legibility and a stable session list toolbar
  DESIGN.md
  docs/design/opendesign/shell-rail/brand-spec.md
  packages/ui/src/__tests__/theme-token-contract.test.ts
  packages/ui/src/components/custom/__tests__/kind-icon.test.tsx
  packages/ui/src/components/custom/kind-icon.tsx
  packages/ui/src/components/custom/search-input.tsx
  packages/ui/src/components/custom/state-glyph.tsx
  packages/ui/src/components/kbd.tsx
  packages/ui/src/tokens-light.css
  packages/ui/src/tokens.css
  web/src/components/design-system-showcase.tsx
  web/src/systems/automation/components/trigger-form/event-card.tsx
  web/src/systems/os/components/desktop-pager.tsx
  web/src/systems/session/components/session-list/session-list-selection-bar.tsx
  web/src/systems/session/components/session-list/session-list-toolbar.tsx
  web/src/systems/session/components/session-primary-action.tsx
  web/src/systems/session/hooks/use-session-topbar-slot.tsx
  web/src/systems/session/lib/session-list-bar-class.ts
Due: turbo-lint

fix: tile agent terminals, cascade floating opens and read settings after registration
  docs/design/opendesign/design-system/PARITY.md
  docs/design/opendesign/design-system/foundations.html
  internal/api/core/settings_generic_handlers.go
  internal/daemon/terminal_window_bridge.go
  internal/daemon/terminal_window_bridge_test.go
  internal/daemon/window_manager_runtime_test.go
  internal/settings/service_test.go
  internal/settings/window_manager_section.go
  internal/windowmanager/commands.go
  internal/windowmanager/layout_commands_test.go
  internal/windowmanager/reducer_window_open.go
  web/src/systems/os/hooks/__tests__/use-desktop-chrome.test.tsx
  web/src/systems/os/hooks/use-desktop-chrome.ts
Due: turbo-lint, format-go

fix: keep layout.arrange's public meaning and tile-safe agent terminal anchors
  .release-notes/a-calmer-desktop-shell-with-light-and-dark-themes-1790751722.md
  docs/_memory/change-impact.md
  internal/api/contract/windowmanager_command_payloads.go
  internal/cli/window_manager_common.go
  internal/cli/window_manager_layout_mutations.go
  internal/cli/window_manager_test.go
  internal/daemon/native_tool_window_manager_commands.go
  internal/daemon/native_tool_window_manager_input.go
  internal/daemon/terminal_window_bridge_test.go
  internal/tools/builtin/testdata/native-tool-catalog.json
  internal/tools/builtin/window_manager_schemas.go
  internal/windowmanager/arrange_frames.go
  internal/windowmanager/commands.go
  internal/windowmanager/layout_commands_test.go
  internal/windowmanager/reducer_layout_arrange.go
  internal/windowmanager/reducer_window_open.go
  openapi/compozy.json
  packages/site/content/docs/cli/layout/arrange.mdx
  packages/site/content/docs/workspaces/window-management.mdx
  skills/compozy/references/window-management.md
  web/src/generated/compozy-openapi.d.ts
  web/src/systems/os/hooks/__tests__/window-manager-runtime.test.ts
  web/src/systems/os/lib/__tests__/window-manager-command-builders.test.ts
  web/src/systems/os/lib/window-manager-command-builders.ts
Due: turbo-lint, format-go

test: update web and desktop e2e for the shell rail
  desktop/e2e/_electron/__tests__/shell.spec.ts
  web/e2e/__tests__/extensions.spec.ts
  web/e2e/__tests__/knowledge.spec.ts
  web/e2e/__tests__/loop-run.spec.ts
  web/e2e/__tests__/marketplace.spec.ts
  web/e2e/__tests__/os-shell.spec.ts
  web/e2e/__tests__/profiles.spec.ts
  web/e2e/__tests__/terminal-agent.spec.ts
  web/e2e/__tests__/terminal.spec.ts
  web/e2e/fixtures/__tests__/runtime.test.ts
  web/e2e/fixtures/os-navigation.ts
  web/e2e/fixtures/runtime-helpers.ts
  web/e2e/fixtures/runtime.ts
  web/src/systems/os/components/os-workspaces-overview.tsx
Due: turbo-lint

fix: collapsible toolbar search and no false empty state in background task windows
  packages/ui/src/components/custom/__tests__/listing-toolbar.test.tsx
  packages/ui/src/components/custom/hooks/use-collapsible-search.ts
  packages/ui/src/components/custom/listing-toolbar-parts.tsx
  packages/ui/src/components/custom/stories/listing-toolbar.stories.tsx
  web/src/systems/tasks/components/__tests__/tasks-list-surface.test.tsx
  web/src/systems/tasks/components/tasks-list-toolbar.tsx
  web/src/systems/tasks/hooks/__tests__/use-tasks-page.test.tsx
  web/src/systems/tasks/hooks/use-inline-size-at-least.ts
  web/src/systems/tasks/hooks/use-inline-size.ts
  web/src/systems/tasks/hooks/use-tasks-dashboard-page.ts
  web/src/systems/tasks/hooks/use-tasks-page.ts
Due: turbo-lint

docs: say CompozyOS, not Compozy, in design docs, tokens and scenarios
  DESIGN.md
  docs/design/opendesign/design-system/ds-core.css
  docs/design/opendesign/design-system/index.html
  docs/design/opendesign/design-system/os-shell.html
  docs/design/opendesign/shell-rail/DESIGN-NOTES.md
  docs/design/opendesign/shell-rail/IMPLEMENTATION-PLAN.md
  docs/design/opendesign/shell-rail/brand-spec.md
  docs/design/opendesign/shell-rail/shell-rail-v2.html
  docs/qa/scenarios/APP-native-window-controls.md
  docs/qa/scenarios/ET-web-catalog-navigation.md
  docs/qa/scenarios/ET-web-menubar-menu-set.md
  docs/qa/scenarios/ET-web-shell-shortcuts-about-dialogs.md
  docs/qa/scenarios/LP-web-run-page-section-grammar.md
  lint-plugins/compozy-design-system-core-rules.mjs
  packages/site/app/global.css
  packages/ui/src/tokens-light.css
  packages/ui/src/tokens.css
Due: none

test: format the arrange compatibility cases
  internal/windowmanager/layout_commands_test.go
Due: format-go

Path conditions:
  turbo-lint: any of: \.(js|jsx|ts|tsx)$, but not: (?x)^(
  CHANGELOG.md|
  tools/.*/package\.json|
  bun.lockb|
  node_modules|
)$

  format-go: any of: \.go$, but not: (?x)^(
  CHANGELOG.md|
  tools/.*/package\.json|
  bun.lockb|
  node_modules|
)$

