Repository compozy/compozy: changes, and which pre-commit hooks are due for each by the changed paths.
All: turbo-lint, format-go

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit

default_stages:
  - pre-commit

exclude: |
  (?x)^(
    CHANGELOG.md|
    tools/.*/package\.json|
    bun.lockb|
    node_modules|
  )$

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      # - id: trailing-whitespace
      #   args:
      #     - --no-utf8-locale
      - id: end-of-file-fixer
        exclude: '^(CHANGELOG\.md|tools/.*/package\.json|bun\.lockb|node_modules/)'
      - id: check-json
        exclude: '^(tools/.*/package\.json|node_modules/)'
      - id: check-toml
      - id: check-added-large-files
        args:
          - --maxkb=3000
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: detect-private-key
  - repo: local
    hooks:
      - id: turbo-lint
        name: turbo lint
        description: Run linting via Turborepo
        entry: bun run lint
        language: system
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false
      # - id: turbo-type-check
      #   name: turbo type check
      #   description: Run TypeScript checking via Turborepo
      #   entry: bun run type-check
      #   language: system
      #   files: \.(ts|tsx)$
      #   pass_filenames: false
      - id: format-go
        name: format go
        description: Format Go files using make fmt
        entry: make fmt
        language: system
        files: \.go$
        pass_filenames: false
  - repo: https://github.com/lyz-code/yamlfix/
    rev: 1.17.0
    hooks:
      - id: yamlfix
        args:
          - -c
          - .yamlfix.toml
        exclude: ^cluster/.*$

docs: update skill
  .agents/skills/cmux-orchestration/SKILL.md
  .agents/skills/cmux-orchestration/references/plan-mode.md
  .github/actions/setup-go/action.yml
  .github/versions.yml
  .github/workflows/auto-docs.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  go.mod
  skeeper.lock
  skills-lock.json
Due: none

fix: support parallel execution when compozy runs inside a git worktree
  .claude/specs/worktree-nested-execution-spec.md
  internal/cli/daemon_commands.go
  internal/cli/root_command_execution_test.go
  internal/cli/tasks_run_parallel_e2e_test.go
  internal/core/gitenv/gitenv.go
  internal/core/run/parallel/orchestrator.go
  internal/core/run/parallel/orchestrator_test.go
  internal/core/worktree/snapshot.go
  internal/core/worktree/snapshot_test.go
  internal/daemon/purge_test.go
  internal/daemon/review_watch_git.go
  internal/daemon/review_watch_git_test.go
  internal/daemon/shutdown.go
  internal/daemon/task_multi.go
  internal/daemon/task_multi_worktree.go
  internal/daemon/task_multi_worktree_test.go
  internal/daemon/worktree_purge.go
  skeeper.lock
Due: format-go

fix: address pr 223 review batch
  internal/cli/daemon_commands.go
  internal/core/gitenv/gitenv.go
  internal/core/gitenv/gitenv_test.go
  internal/core/run/parallel/orchestrator_test.go
  internal/core/worktree/snapshot.go
  internal/daemon/review_watch_git.go
  internal/daemon/task_multi_worktree.go
  internal/daemon/task_multi_worktree_test.go
  skeeper.lock
Due: format-go

fix: wrap gitenv run errors
  internal/core/gitenv/gitenv.go
  internal/core/gitenv/gitenv_test.go
  skeeper.lock
Due: format-go

fix: address gitenv review feedback
  internal/core/gitenv/gitenv.go
  internal/core/gitenv/gitenv_test.go
  skeeper.lock
Due: format-go

fix: worktree management (#223)
  .agents/skills/cmux-orchestration/SKILL.md
  .agents/skills/cmux-orchestration/references/plan-mode.md
  .claude/specs/worktree-nested-execution-spec.md
  .github/actions/setup-go/action.yml
  .github/versions.yml
  .github/workflows/auto-docs.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  go.mod
  internal/cli/daemon_commands.go
  internal/cli/root_command_execution_test.go
  internal/cli/tasks_run_parallel_e2e_test.go
  internal/core/gitenv/gitenv.go
  internal/core/gitenv/gitenv_test.go
  internal/core/run/parallel/orchestrator.go
  internal/core/run/parallel/orchestrator_test.go
  internal/core/worktree/snapshot.go
  internal/core/worktree/snapshot_test.go
  internal/daemon/purge_test.go
  internal/daemon/review_watch_git.go
  internal/daemon/review_watch_git_test.go
  internal/daemon/shutdown.go
  internal/daemon/task_multi.go
  internal/daemon/task_multi_worktree.go
  internal/daemon/task_multi_worktree_test.go
  internal/daemon/worktree_purge.go
  skeeper.lock
  skills-lock.json
Due: format-go

fix: restore run TUI elapsed timer across retry, failure, cancel, and remote paths (#221)
  internal/api/contract/types.go
  internal/core/run/executor/execution_acp_test.go
  internal/core/run/executor/lifecycle.go
  internal/core/run/ui/adapter_test.go
  internal/core/run/ui/model.go
  internal/core/run/ui/remote.go
  internal/core/run/ui/remote_test.go
  internal/core/run/ui/types.go
  internal/core/run/ui/update.go
  internal/core/run/ui/update_test.go
  internal/daemon/run_snapshot.go
  internal/daemon/run_snapshot_test.go
  pkg/compozy/events/kinds/job.go
Due: format-go

docs: add v0.2.11 release notes
  .release-notes/acp-runs-consistently-apply-the-selected-model-1783107319.md
  .release-notes/agentic-recovery-for-failed-runs-1783107315.md
  .release-notes/dependency-aware-parallel-task-execution-1783107314.md
  .release-notes/isolated-compozy-homes-with-compozy-home-1783107316.md
  .release-notes/repo-level-default-overrides-in-compozy-setup-1783107317.md
  .release-notes/run-tui-elapsed-timer-restored-across-all-terminal-outcomes-1783107320.md
  .release-notes/safer-worktree-management-for-parallel-runs-1783107318.md
Due: none

release: Release v0.2.11
  .release-notes/archive/v0.2.11/acp-runs-consistently-apply-the-selected-model-1783107319.md
  .release-notes/archive/v0.2.11/agentic-recovery-for-failed-runs-1783107315.md
  .release-notes/archive/v0.2.11/dependency-aware-parallel-task-execution-1783107314.md
  .release-notes/archive/v0.2.11/isolated-compozy-homes-with-compozy-home-1783107316.md
  .release-notes/archive/v0.2.11/repo-level-default-overrides-in-compozy-setup-1783107317.md
  .release-notes/archive/v0.2.11/run-tui-elapsed-timer-restored-across-all-terminal-outcomes-1783107320.md
  .release-notes/archive/v0.2.11/safer-worktree-management-for-parallel-runs-1783107318.md
  CHANGELOG.md
  RELEASE_BODY.md
  RELEASE_NOTES.md
  package.json
Due: none

feat: add resolved stall-detection config surface
  internal/core/model/constants.go
  internal/core/model/model_test.go
  internal/core/model/runtime_config.go
  internal/core/model/task_runtime.go
  internal/core/workspace/config_merge.go
  internal/core/workspace/config_test.go
  internal/core/workspace/config_types.go
  internal/daemon/run_manager.go
  internal/daemon/run_manager_test.go
  sdk/extension/types.go
Due: format-go

feat: add parked run status and job stall/park events
  internal/core/run/journal/journal.go
  internal/core/run/journal/terminal_event_test.go
  internal/core/run/recovery/outcome.go
  internal/core/run/recovery/parked_status_test.go
  internal/daemon/run_manager.go
  internal/daemon/stall_status_test.go
  internal/daemon/task_multi.go
  pkg/compozy/events/event.go
  pkg/compozy/events/kinds/job.go
  pkg/compozy/events/kinds/job_test.go
Due: format-go

fix: never drop critical ACP session updates and log stall diagnostics
  internal/core/agent/session.go
  internal/core/agent/session_test.go
  internal/core/run/internal/acpshared/command_io.go
  internal/core/run/internal/acpshared/diagnostics.go
  internal/core/run/internal/acpshared/diagnostics_test.go
Due: format-go

fix: make terminal commands cancellable, capped, and orphan-free
  internal/core/agent/client.go
  internal/core/agent/client_test.go
  internal/core/agent/session.go
  internal/core/agent/terminal.go
  internal/core/agent/terminal_lifecycle_test.go
  internal/core/run/internal/acpshared/command_io.go
  internal/core/run/internal/runshared/config.go
Due: format-go

feat: arm progress-aware stall watchdog on a dedicated idle window
  internal/core/agent/terminal.go
  internal/core/run/exec/aliases.go
  internal/core/run/executor/execution_acp_test.go
  internal/core/run/internal/acpshared/aliases.go
  internal/core/run/internal/acpshared/diagnostics.go
  internal/core/run/internal/acpshared/session_exec.go
  internal/core/run/internal/acpshared/watchdog_test.go
  internal/core/run/internal/runshared/buffers.go
  internal/core/run/internal/runshared/buffers_test.go
  internal/core/run/internal/runshared/clock.go
Due: format-go

feat: recover stalled jobs via one clean-state retry then park
  internal/core/run/executor/aliases.go
  internal/core/run/executor/execution_acp_test.go
  internal/core/run/executor/execution_test.go
  internal/core/run/executor/lifecycle.go
  internal/core/run/executor/result.go
  internal/core/run/executor/runner.go
  internal/core/run/executor/runner_stall_test.go
  internal/core/run/internal/acpshared/session_exec.go
  internal/core/run/internal/acpshared/session_handler.go
  internal/core/run/internal/acpshared/stall_result_test.go
  internal/core/run/internal/runshared/types.go
  internal/core/run/journal/journal.go
  internal/core/run/journal/journal_test.go
  internal/core/worktree/reset.go
  internal/core/worktree/reset_test.go
  pkg/compozy/events/kinds/job.go
Due: format-go

feat: reap wedged multi-run children via a durable journal-sequence backstop
  internal/daemon/child_backstop.go
  internal/daemon/child_backstop_test.go
  internal/daemon/stall_status_test.go
  internal/daemon/task_multi.go
  internal/daemon/task_multi_test.go
Due: format-go

feat: surface stalled/retrying/parked job states and an end-of-run recovery summary
  docs/events.md
  internal/cli/reviews_exec_daemon.go
  internal/cli/run_observe.go
  internal/cli/run_observe_stall_test.go
  internal/core/run/executor/event_stream.go
  internal/core/run/executor/execution.go
  internal/core/run/executor/execution_test.go
  internal/core/run/executor/lifecycle.go
  internal/core/run/executor/run_recovery_counts_test.go
  internal/core/run/internal/runshared/config.go
  internal/core/run/ui/model.go
  internal/core/run/ui/sidebar.go
  internal/core/run/ui/stall_states_test.go
  internal/core/run/ui/summary.go
  internal/core/run/ui/timeline.go
  internal/core/run/ui/types.go
  internal/core/run/ui/update.go
  internal/core/run/ui/view.go
  internal/daemon/task_multi.go
  internal/daemon/task_multi_summary.go
  internal/daemon/task_multi_summary_test.go
  pkg/compozy/events/docs_test.go
  pkg/compozy/events/event.go
  pkg/compozy/events/kinds/task.go
Due: format-go

feat: alert on parked jobs and surface their triage detail
  internal/cli/run_observe.go
  internal/cli/run_observe_parked_test.go
  internal/cli/state.go
  internal/cli/workspace_config.go
  internal/core/api.go
  internal/core/run/executor/execution.go
  internal/core/run/executor/hooks.go
  internal/core/run/executor/lifecycle.go
  internal/core/run/executor/parked_alert_test.go
  internal/core/run/internal/runshared/config.go
  internal/core/run/ui/model.go
  internal/core/run/ui/parked_detail_test.go
  internal/core/run/ui/stall_states_test.go
  internal/core/run/ui/summary.go
  internal/core/run/ui/timeline.go
  internal/core/run/ui/types.go
  internal/core/run/ui/update.go
  internal/core/sound/subscriber.go
  internal/core/sound/subscriber_test.go
  internal/core/workspace/config_test.go
  internal/core/workspace/config_validate.go
Due: format-go

fix: correct stall-retry budget, parked double alert, and child backstop defaults
  internal/core/run/executor/execution.go
  internal/core/run/executor/runner.go
  internal/daemon/child_backstop.go
Due: format-go

fix: guard watchdog shutdown and clock seam, adopt Should-prefixed test names
  internal/cli/run_observe_parked_test.go
  internal/core/agent/client.go
  internal/core/agent/session_test.go
  internal/core/agent/terminal_lifecycle_test.go
  internal/core/run/executor/parked_alert_test.go
  internal/core/run/executor/runner_stall_test.go
  internal/core/run/internal/acpshared/aliases.go
  internal/core/run/internal/acpshared/diagnostics_test.go
  internal/core/run/internal/acpshared/session_exec.go
  internal/core/run/internal/acpshared/watchdog_test.go
  internal/core/run/ui/parked_detail_test.go
  internal/core/run/ui/stall_states_test.go
  internal/core/workspace/config_test.go
  internal/daemon/task_multi_summary_test.go
Due: format-go

chore: untrack generated skill symlinks
  .agents/skills/compozy/SKILL.md
  .agents/skills/compozy/references/cli-reference.md
  .agents/skills/compozy/references/config-reference.md
  .agents/skills/compozy/references/skills-reference.md
  .agents/skills/compozy/references/workflow-guide.md
  .agents/skills/cy-create-prd/SKILL.md
  .agents/skills/cy-create-prd/references/adr-template.md
  .agents/skills/cy-create-prd/references/prd-template.md
  .agents/skills/cy-create-prd/references/question-protocol.md
  .agents/skills/cy-create-tasks/SKILL.md
  .agents/skills/cy-create-tasks/references/task-context-schema.md
  .agents/skills/cy-create-tasks/references/task-template.md
  .agents/skills/cy-create-techspec/SKILL.md
  .agents/skills/cy-create-techspec/references/adr-template.md
  .agents/skills/cy-create-techspec/references/techspec-template.md
  .agents/skills/cy-execute-task/SKILL.md
  .agents/skills/cy-execute-task/references/tracking-checklist.md
  .agents/skills/cy-final-verify/SKILL.md
  .agents/skills/cy-fix-reviews/SKILL.md
  .agents/skills/cy-review-round/SKILL.md
  .agents/skills/cy-review-round/references/issue-template.md
  .agents/skills/cy-review-round/references/review-criteria.md
  .agents/skills/cy-workflow-memory/SKILL.md
  .agents/skills/cy-workflow-memory/references/memory-guidelines.md
  .agents/skills/git-rebase/SKILL.md
  .agents/skills/git-rebase/references/automation.md
  .agents/skills/git-rebase/references/resolution-patterns.md
  .agents/skills/git-rebase/references/scripts-tools.md
  .agents/skills/git-rebase/references/strategies.md
  .agents/skills/git-rebase/references/troubleshooting.md
  .agents/skills/git-rebase/scripts/analyze-conflicts.sh
  .agents/skills/git-rebase/scripts/pre-rebase-backup.sh
  .agents/skills/git-rebase/scripts/validate-merge.sh
  .gitignore
  scripts/link-skills.sh
Due: none

docs: release notes
  .release-notes/gpt-5-6-claude-fable-5-and-acp-session-model-negotiation-1783644528.md
  .release-notes/safer-parallel-task-and-multi-run-worktree-lifecycle-1783644533.md
Due: none

release: prepare release v0.2.12 (#232)
  .release-notes/archive/v0.2.12/gpt-5-6-claude-fable-5-and-acp-session-model-negotiation-1783644528.md
  .release-notes/archive/v0.2.12/safer-parallel-task-and-multi-run-worktree-lifecycle-1783644533.md
  CHANGELOG.md
  RELEASE_BODY.md
  RELEASE_NOTES.md
  package.json
Due: none

refactor: extract parallel-task merged/recovered status constants for goconst
  internal/core/run/ui/integration.go
  internal/core/run/ui/multi_remote.go
Due: format-go

fix: codex acp
  internal/core/agent/registry_specs.go
  internal/core/agent/registry_test.go
  internal/core/api.go
  internal/core/plan/prepare.go
  internal/core/plan/prepare_test.go
  internal/core/run/executor/execution.go
  internal/core/run/executor/execution_acp_test.go
  internal/daemon/run_manager.go
  internal/daemon/run_manager_test.go
  skills/compozy/references/skills-reference.md
  skills/cy-execute-task/SKILL.md
  skills/cy-final-verify/SKILL.md
Due: format-go

fix: remove allocated worktree when a parallel-task child fails to launch
  internal/daemon/task_multi.go
Due: format-go

release: prepare release v0.2.13 (#233)
  CHANGELOG.md
  RELEASE_BODY.md
  RELEASE_NOTES.md
  package.json
Due: none

fix: package cy-qa-workflow as a module and make host.tasks.create v2-aware
  .github/workflows/ci.yml
  .gitignore
  Makefile
  extensions/cy-qa-workflow/extension.toml
  extensions/cy-qa-workflow/go.mod
  extensions/cy-qa-workflow/go.sum
  internal/core/extension/host_writes.go
  internal/core/extension/host_writes_test.go
  internal/core/tasks/manifest_write.go
  internal/core/tasks/manifest_write_test.go
  test/frontend-verification-contract.test.ts
Due: turbo-lint, format-go

fix: surface progress and bound the reviews-fix daemon start
  internal/cli/reviews_exec_daemon.go
  internal/cli/reviews_exec_start_feedback_test.go
Due: format-go

fix: warn against blind retry on bounded review-run start
  internal/cli/reviews_exec_daemon.go
  internal/cli/reviews_exec_start_feedback_test.go
Due: format-go

test: add cy-capture-decisions decision-log format validator
  extensions/cy-capture-decisions/decisionlog/decisionlog.go
  extensions/cy-capture-decisions/decisionlog/decisionlog_test.go
  extensions/cy-capture-decisions/decisionlog/testdata/index-candidate-row.md
  extensions/cy-capture-decisions/decisionlog/testdata/index-empty.md
  extensions/cy-capture-decisions/decisionlog/testdata/index-superseded-row.md
  extensions/cy-capture-decisions/decisionlog/testdata/index-valid.md
  extensions/cy-capture-decisions/decisionlog/testdata/record-bad-status.md
  extensions/cy-capture-decisions/decisionlog/testdata/record-candidate-no-evidence.md
  extensions/cy-capture-decisions/decisionlog/testdata/record-missing-field.md
  extensions/cy-capture-decisions/decisionlog/testdata/record-no-reconciliation.md
  extensions/cy-capture-decisions/decisionlog/testdata/record-proven-no-evidence.md
  extensions/cy-capture-decisions/decisionlog/testdata/record-valid.md
  extensions/cy-capture-decisions/decisionlog/testdata/valid-log/DECISIONS.md
  extensions/cy-capture-decisions/decisionlog/testdata/valid-log/decisions/AD-001.md
  extensions/cy-capture-decisions/decisionlog/testdata/valid-log/decisions/AD-002.md
  extensions/cy-capture-decisions/decisionlog/testdata/valid-log/decisions/AD-003.md
  extensions/cy-capture-decisions/decisionlog/testdata/valid-log/decisions/AD-004.md
Due: format-go

feat: package cy-capture-decisions as an installable skill-only extension
  extensions/cy-capture-decisions/README.md
  extensions/cy-capture-decisions/extension.toml
  extensions/cy-capture-decisions/packaging/conventions_test.go
  extensions/cy-capture-decisions/packaging/doc.go
  extensions/cy-capture-decisions/packaging/helpers_test.go
  extensions/cy-capture-decisions/packaging/manifest_test.go
  extensions/cy-capture-decisions/packaging/readme_test.go
Due: format-go

docs: narrow cy-capture-decisions README validator claim to fixtures
  extensions/cy-capture-decisions/README.md
Due: none

fix: close filename/id and status/link gaps in decisionlog validator
  extensions/cy-capture-decisions/decisionlog/decisionlog.go
  extensions/cy-capture-decisions/decisionlog/decisionlog_test.go
Due: format-go

fix: close index-body consistency and membership gaps in decisionlog
  extensions/cy-capture-decisions/decisionlog/decisionlog.go
  extensions/cy-capture-decisions/decisionlog/decisionlog_test.go
  extensions/cy-capture-decisions/decisionlog/testdata/index-duplicate-row.md
Due: format-go

docs: scope evals README format claim to fixtures, not eval logs
  extensions/cy-capture-decisions/evals/README.md
Due: none
