Repository compozy/compozy: changes, and which pre-commit hooks are due for each by the changed paths.
All: turbo-lint, format-go

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit

default_stages:
  - pre-commit

exclude: |
  (?x)^(
    CHANGELOG.md|
    tools/.*/package\.json|
    bun.lockb|
    node_modules|
  )$

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      # - id: trailing-whitespace
      #   args:
      #     - --no-utf8-locale
      - id: end-of-file-fixer
        exclude: '^(CHANGELOG\.md|tools/.*/package\.json|bun\.lockb|node_modules/)'
      - id: check-json
        exclude: '^(tools/.*/package\.json|node_modules/)'
      - id: check-toml
      - id: check-added-large-files
        args:
          - --maxkb=3000
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: detect-private-key
  - repo: local
    hooks:
      - id: turbo-lint
        name: turbo lint
        description: Run linting via Turborepo
        entry: bun run lint
        language: system
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false
      # - id: turbo-type-check
      #   name: turbo type check
      #   description: Run TypeScript checking via Turborepo
      #   entry: bun run type-check
      #   language: system
      #   files: \.(ts|tsx)$
      #   pass_filenames: false
      - id: format-go
        name: format go
        description: Format Go files using make fmt
        entry: make fmt
        language: system
        files: \.go$
        pass_filenames: false
  - repo: https://github.com/lyz-code/yamlfix/
    rev: 1.17.0
    hooks:
      - id: yamlfix
        args:
          - -c
          - .yamlfix.toml
        exclude: ^cluster/.*$

fix: preserve awaited child loop state
  docs/qa/charters/CH-await-child-loop-restart.md
  docs/qa/journeys/J-await-child-loop.md
  docs/qa/reports/2026-08-13-run-loop-await-child.md
  docs/qa/scenarios/LP-run-loop-await-child-ordering.md
  docs/superpowers/specs/2026-08-13-run-loop-await-child-design.md
  internal/daemon/loop_run_events_e2e_integration_test.go
  internal/loop/coordinator_outputs.go
  internal/loop/coordinator_run_loop_output.go
  internal/loop/coordinator_test.go
  packages/site/content/docs/loops/guardrails.mdx
  skills/compozy/references/loops.md
Due: format-go

docs: specify durable run-loop await semantics
  docs/superpowers/specs/2026-08-13-run-loop-await-child-design.md
Due: none

fix: reject empty default agent config
  internal/config/bootstrap_test.go
  internal/config/config_validation.go
Due: format-go

test: bind awaited child ID to current snapshot
  internal/daemon/loop_run_events_e2e_integration_test.go
Due: format-go

build: validate goreleaser release arguments
  .github/workflows/release.yml
  internal/config/release_config_test.go
Due: format-go

test: cover whitespace-only default agent
  internal/config/bootstrap_test.go
Due: format-go

build: ignore isolated release outputs
  .github/workflows/release.yml
  .gitignore
  internal/config/release_config_test.go
Due: format-go

test: use valid names for lexical agent order
  internal/config/agent_workspace_discovery_test.go
Due: format-go

fix: preserve awaited child loop state (#391)
  docs/qa/charters/CH-await-child-loop-restart.md
  docs/qa/journeys/J-await-child-loop.md
  docs/qa/reports/2026-08-13-run-loop-await-child.md
  docs/qa/scenarios/LP-run-loop-await-child-ordering.md
  docs/superpowers/specs/2026-08-13-run-loop-await-child-design.md
  internal/config/agent_workspace_discovery_test.go
  internal/config/bootstrap_test.go
  internal/config/config_validation.go
  internal/daemon/loop_run_events_e2e_integration_test.go
  internal/loop/coordinator_outputs.go
  internal/loop/coordinator_run_loop_output.go
  internal/loop/coordinator_test.go
  packages/site/content/docs/loops/guardrails.mdx
  skills/compozy/references/loops.md
Due: format-go

fix: align Cursor catalog test probes
  internal/daemon/model_catalog_test.go
  internal/modelcatalog/live_sources_adapters.go
  internal/modelcatalog/live_sources_test.go
  internal/session/manager_runtime_model_validation.go
  internal/session/manager_start_accept.go
  internal/session/manager_transition_test.go
Due: format-go

fix: format Cursor catalog checks
  internal/modelcatalog/live_sources_adapters.go
  internal/session/manager_transition_test.go
Due: format-go

fix: preserve completed prompt replays
  internal/acp/client_start_contract_test.go
  internal/acp/config_options_test.go
  internal/session/manager_busy_input.go
  internal/session/manager_busy_input_test.go
  internal/session/manager_prompt_admission.go
Due: format-go

fix: preserve dead session history
  docs/qa/charters/CH-dead-session-history-recovery.md
  docs/qa/journeys/J-15-operate-session-via-cli-api.md
  docs/qa/journeys/J-dead-session-history-recovery.md
  docs/qa/reports/2026-08-13-issue-365-dead-session.md
  docs/qa/scenarios/RT-acp-stream-disconnect-recovery.md
  internal/api/udsapi/transport_parity_integration_test.go
  internal/session/manager_attach.go
  internal/session/manager_prompt_admission.go
  internal/session/manager_prompt_contract_test.go
  internal/session/manager_resume.go
  internal/session/manager_resume_test.go
  internal/session/transcript_test.go
  packages/site/content/docs/getting-started/quick-start.mdx
  packages/site/content/docs/getting-started/web-ui.mdx
  packages/site/content/docs/guides/debug-a-failed-session.mdx
  packages/site/content/docs/sessions/lifecycle.mdx
  packages/site/content/docs/sessions/resume.mdx
  web/src/hooks/routes/__tests__/use-session-page-controls.test.tsx
  web/src/systems/os/apps/session/__tests__/session-window-content.test.tsx
  web/src/systems/os/apps/session/session-window-content.tsx
  web/src/systems/session/adapters/__tests__/session-api.test.ts
  web/src/systems/session/adapters/session-api.ts
  web/src/systems/session/components/__tests__/session-resume-failure.test.tsx
  web/src/systems/session/components/session-resume-failure.tsx
  web/src/systems/session/index.ts
  web/src/systems/session/lib/session-running.ts
Due: turbo-lint, format-go

fix: retain unbound logical resumes
  internal/session/manager_resume.go
Due: format-go

test: conform dead-session transport scenario
  internal/api/udsapi/transport_parity_integration_test.go
Due: format-go

fix: preserve dead session history (#393)
  docs/qa/charters/CH-dead-session-history-recovery.md
  docs/qa/journeys/J-15-operate-session-via-cli-api.md
  docs/qa/journeys/J-dead-session-history-recovery.md
  docs/qa/reports/2026-08-13-issue-365-dead-session.md
  docs/qa/scenarios/RT-acp-stream-disconnect-recovery.md
  internal/api/udsapi/transport_parity_integration_test.go
  internal/session/manager_attach.go
  internal/session/manager_prompt_admission.go
  internal/session/manager_prompt_contract_test.go
  internal/session/manager_resume.go
  internal/session/manager_resume_test.go
  internal/session/transcript_test.go
  packages/site/content/docs/getting-started/quick-start.mdx
  packages/site/content/docs/getting-started/web-ui.mdx
  packages/site/content/docs/guides/debug-a-failed-session.mdx
  packages/site/content/docs/sessions/lifecycle.mdx
  packages/site/content/docs/sessions/resume.mdx
  web/src/hooks/routes/__tests__/use-session-page-controls.test.tsx
  web/src/systems/os/apps/session/__tests__/session-window-content.test.tsx
  web/src/systems/os/apps/session/session-window-content.tsx
  web/src/systems/session/adapters/__tests__/session-api.test.ts
  web/src/systems/session/adapters/session-api.ts
  web/src/systems/session/components/__tests__/session-resume-failure.test.tsx
  web/src/systems/session/components/session-resume-failure.tsx
  web/src/systems/session/index.ts
  web/src/systems/session/lib/session-running.ts
Due: turbo-lint, format-go

fix: guard autonomous extractor writes
  internal/memory/controller/controller.go
  internal/memory/controller/controller_test.go
  internal/memory/scan/scan.go
  internal/memory/scan/scan_test.go
Due: format-go

fix: mount desktop shell context before projection reads
  docs/qa/bugs/BUG-20260813-desktop-shell-context-order.md
  web/src/systems/os/components/desktop-shell.tsx
  web/src/systems/os/hooks/__tests__/use-desktop-shell-model.test.tsx
  web/src/systems/os/hooks/use-desktop-shell-model.ts
  web/src/systems/os/hooks/use-worktree-scope.ts
Due: turbo-lint

fix: expose worktree config lifecycle
  docs/qa/bugs/BUG-20260813-default-home-global-config-reclassified.md
  docs/qa/bugs/BUG-20260813-worktree-config-paths-not-mutable.md
  docs/qa/reports/2026-08-13-worktree-support.md
  docs/qa/scenarios/MS-worktree-config-bootstrap.md
  internal/cli/config_display.go
  internal/cli/config_management_commands.go
  internal/cli/config_test.go
  internal/config/tool_surface.go
  internal/config/tool_surface_test.go
  internal/config/tool_surface_worktrees.go
  internal/config/worktrees.go
Due: format-go

docs: record autonomous observer mismatch replay
  docs/qa/bugs/BUG-20260719-autonomous-progress-unobservable.md
Due: none

fix: preserve task fanout intent identity
  web/src/systems/tasks/hooks/__tests__/use-task-fan-out-dialog.test.tsx
  web/src/systems/tasks/hooks/task-fan-out-dialog-store.ts
  web/src/systems/tasks/hooks/use-task-fan-out-dialog.ts
Due: turbo-lint

fix: preserve pending worktree creation state
  docs/qa/bugs/BUG-20260813-pending-worktree-marked-missing.md
  docs/qa/reports/2026-08-13-worktree-support.md
  docs/qa/scenarios/RT-worktree-web-create-adopt.md
  docs/qa/scenarios/RT-worktree-web-nested-navigation.md
  internal/worktree/discovery.go
  internal/worktree/discovery_test.go
Due: format-go

fix: preserve operator global config at daemon boot
  docs/qa/bugs/BUG-20260813-default-home-global-config-reclassified.md
  docs/qa/scenarios/MS-worktree-config-bootstrap.md
  internal/config/bootstrap.go
  internal/config/config_load.go
  internal/config/config_test.go
  internal/daemon/boot_runtime_foundation.go
  internal/daemon/daemon_test.go
Due: format-go

docs: document Worktree operations and agent surfaces #08
  docs/qa/scenarios/TA-task-fanout-worktree-isolation.md
  internal/cli/task_agent_control.go
  internal/cli/task_test.go
  internal/cli/worktree.go
  packages/site/content/docs/api/index.mdx
  packages/site/content/docs/cli/meta.json
  packages/site/content/docs/cli/task/fan-out.mdx
  packages/site/content/docs/cli/worktree/index.mdx
  packages/site/content/docs/cli/worktree/list.mdx
  packages/site/content/docs/configuration/config-toml.mdx
  packages/site/content/docs/extensions/develop.mdx
  packages/site/content/docs/extensions/manifest.mdx
  packages/site/content/docs/meta.json
  packages/site/content/docs/workspaces/index.mdx
  packages/site/content/docs/workspaces/multi-root.mdx
  packages/site/content/docs/workspaces/resolver.mdx
  packages/site/content/docs/worktrees/agent-surface.mdx
  packages/site/content/docs/worktrees/assisted-exit.mdx
  packages/site/content/docs/worktrees/concepts/index.mdx
  packages/site/content/docs/worktrees/concepts/meta.json
  packages/site/content/docs/worktrees/configuration.mdx
  packages/site/content/docs/worktrees/create-and-adopt.mdx
  packages/site/content/docs/worktrees/index.mdx
  packages/site/content/docs/worktrees/loop-environments.mdx
  packages/site/content/docs/worktrees/meta.json
  packages/site/content/docs/worktrees/navigation.mdx
  packages/site/content/docs/worktrees/removal-and-recovery.mdx
  packages/site/content/docs/worktrees/task-isolation.mdx
  packages/site/lib/docs-icons.ts
  packages/site/lib/docs-navigation.ts
  skills/compozy/SKILL.md
  skills/compozy/references/configuration.md
  skills/compozy/references/extension-authoring.md
  skills/compozy/references/native-tools.md
  skills/compozy/references/tasks-and-orchestration.md
  skills/compozy/references/worktrees.md
Due: turbo-lint, format-go

fix: reject invalid worktree bases before acceptance
  docs/qa/bugs/BUG-20260813-base-ref-accepted-before-validation.md
  docs/qa/reports/2026-08-13-worktree-support.md
  docs/qa/scenarios/RT-worktree-api-surface-parity.md
  docs/qa/scenarios/RT-worktree-web-create-adopt.md
  internal/worktree/create.go
  internal/worktree/create_async.go
  internal/worktree/create_test.go
Due: format-go

fix: reconcile main rebase contracts
  internal/store/globaldb/global_db_watch_events_test.go
  web/src/systems/os/hooks/__tests__/use-desktop-shell-model.test.tsx
  web/src/systems/session/components/stories/session-environment-field.stories.tsx
Due: turbo-lint, format-go

fix: start native task claims in bound sessions
  internal/daemon/daemon_worktree_e2e_integration_test.go
  internal/daemon/hook_binding_resources_integration_test.go
  internal/daemon/loop_action_environment_integration_test.go
  internal/daemon/loop_goal_managed_runtime_integration_test.go
  internal/daemon/native_tool_autonomy_calls.go
  internal/daemon/native_tool_dependencies.go
  internal/daemon/native_tools_dependencies_builder.go
  internal/daemon/native_tools_test.go
  internal/daemon/task_claim_handoff.go
  internal/daemon/task_claim_handoff_test.go
  internal/daemon/task_runtime.go
  internal/daemon/task_runtime_boot.go
  internal/daemon/task_runtime_boot_roles.go
  internal/daemon/task_runtime_recovery.go
  internal/testutil/acpmock/testdata/network_local_fixture.json
  internal/tools/builtin/autonomy.go
  packages/site/content/docs/autonomy/index.mdx
  packages/site/content/docs/autonomy/task-runs-and-leases.mdx
  skills/compozy/references/native-tools.md
  skills/compozy/references/tasks-and-orchestration.md
Due: format-go
